Repository bitnami/charts, pull requests merged in 2022-08, with the labels that each got.

#11444 [bitnami/*] Ensuring all developers are properly added to bitnami-team
  .github/workflows/.env
  .github/workflows/sync-teams.yml
Labels: bitnami

#11372 [bitnami/discourse] Revisit Goss/Cypress tests
  .vib/discourse/cypress/cypress/fixtures/user-settings.json
  .vib/discourse/cypress/cypress/integration/discourse_spec.js
  .vib/discourse/cypress/cypress/support/commands.js
  .vib/discourse/goss/goss.yaml
  .vib/discourse/goss/vars.yaml
  .vib/discourse/vib-publish.json
  .vib/discourse/vib-verify.json
Labels: verify, bitnami, discourse

#11502 [bitnami/harbor] Revisit Goss/Cypress tests
  .vib/harbor/cypress/cypress/integration/harbor_spec.js
  .vib/harbor/goss/goss-portal/goss.yaml
  .vib/harbor/goss/goss-registry/goss.yaml
  .vib/harbor/goss/goss.yaml
  .vib/harbor/goss/vars.yaml
  .vib/harbor/vib-publish.json
  .vib/harbor/vib-verify.json
Labels: bitnami

#11348 [bitnami/mariadb] fix missing volumeMounts key for metrics container
  bitnami/mariadb/Chart.yaml
  bitnami/mariadb/templates/primary/statefulset.yaml
  bitnami/mariadb/templates/secondary/statefulset.yaml
Labels: verify, in-progress, mariadb

#11507 [bitnami/contour] feat!: :arrow_up: Bump to 1.22.0
  bitnami/contour-operator/Chart.lock
  bitnami/contour-operator/Chart.yaml
  bitnami/contour-operator/README.md
  bitnami/contour-operator/templates/auth-proxy-clusterrole.yaml
  bitnami/contour-operator/templates/auth-proxy-clusterrolebinding.yaml
  bitnami/contour-operator/templates/clusterrole.yaml
  bitnami/contour-operator/templates/metrics-clusterrole.yaml
  bitnami/contour-operator/templates/metrics-clusterrolebinding.yaml
  bitnami/contour-operator/values.yaml
Labels: verify, contour, bitnami

#11503 [bitnami/metallb] Adapt chart to app version 0.13
  bitnami/metallb/Chart.lock
  bitnami/metallb/Chart.yaml
  bitnami/metallb/README.md
  bitnami/metallb/templates/NOTES.txt
  bitnami/metallb/templates/controller/crds.yaml
  bitnami/metallb/templates/controller/deployment.yaml
  bitnami/metallb/templates/controller/rbac.yaml
  bitnami/metallb/templates/controller/webhooks.yaml
  bitnami/metallb/templates/speaker/daemonset.yaml
  bitnami/metallb/templates/speaker/rbac.yaml
  bitnami/metallb/values.yaml
Labels: verify, bitnami

#11506 [bitnami/opencart] Add opencartEnableHttps (#11415)
  bitnami/opencart/Chart.yaml
  bitnami/opencart/README.md
  bitnami/opencart/templates/deployment.yaml
  bitnami/opencart/values.yaml
Labels: in-progress, opencart

#11460 [bitnami/postgresql] extended configuration for read PVC
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/README.md
  bitnami/postgresql/templates/read/statefulset.yaml
  bitnami/postgresql/values.yaml
Labels: verify, in-progress, postgresql

#11410 [bitnami/elasticsearch] Revisit Goss/Cypress tests
  .vib/elasticsearch/cypress/cypress/integration/elasticsearch_spec.js
  .vib/elasticsearch/goss/goss.yaml
  .vib/elasticsearch/goss/vars.yaml
  .vib/elasticsearch/vib-publish.json
  .vib/elasticsearch/vib-verify.json
Labels: verify, bitnami, elasticsearch

#11501 [bitnami/joomla] Revisit Goss/Cypress tests
  .vib/joomla/cypress/cypress/fixtures/users.json
  .vib/joomla/cypress/cypress/integration/joomla_spec.js
  .vib/joomla/goss/goss.yaml
  .vib/joomla/goss/vars.yaml
  .vib/joomla/vib-publish.json
  .vib/joomla/vib-verify.json
Labels: bitnami

#11326 [bitnami/keycloak] remove Wildfly management port and secret key
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/README.md
  bitnami/keycloak/templates/configmap-env-vars.yaml
  bitnami/keycloak/templates/networkpolicy.yaml
  bitnami/keycloak/templates/secrets.yaml
  bitnami/keycloak/templates/statefulset.yaml
  bitnami/keycloak/values.yaml
Labels: verify, triage, keycloack

#11563 [bitnami/*] Bumping the action version to assign PRs
  .github/workflows/moving-cards.yml
  .github/workflows/triage.yml
Labels: bitnami

#11566 [bitnami/sonarqube] Sonarqube pipeline fails using sysctl on a non-root container
  bitnami/sonarqube/Chart.yaml
  bitnami/sonarqube/templates/deployment.yaml
Labels: verify, bitnami

#11461 [bitnami/rabbitmq] Document persistent volume layout change in 7.0.0
  bitnami/rabbitmq/README.md
Labels: verify, triage, rabbitmq

#11559 [bitnami/airflow] Git permission error in Airflow Helm chart
  bitnami/airflow/Chart.yaml
  bitnami/airflow/templates/_git_helpers.tpl
Labels: verify, bitnami

#11421 [bitnami/postgresql] replication documentation
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/README.md
  bitnami/postgresql/values.yaml
Labels: verify, in-progress, postgresql

#11594 [bitnami/node] Update MongoDB subchart for node
  bitnami/node/Chart.lock
  bitnami/node/Chart.yaml
  bitnami/node/README.md
  bitnami/node/values.yaml
Labels: verify, bitnami

#11591 [bitnami/parse] Update MongoDB subchart for parse
  bitnami/parse/Chart.lock
  bitnami/parse/Chart.yaml
  bitnami/parse/README.md
Labels: verify, bitnami

#11454 [bitnami/nginx-ingress-controller] Adapt NGINX Ingress RBAC to version 1.3.0
  bitnami/nginx-ingress-controller/Chart.yaml
  bitnami/nginx-ingress-controller/README.md
  bitnami/nginx-ingress-controller/templates/clusterrole.yaml
  bitnami/nginx-ingress-controller/templates/role.yaml
Labels: verify, bitnami

#11612 [bitnami/kafka] Fix typo introduced in #11569
  bitnami/kafka/Chart.yaml
  bitnami/kafka/templates/scripts-configmap.yaml
Labels: bitnami

#11613 [bitnami/schema-registry] Fix logo and category
  bitnami/schema-registry/Chart.yaml
Labels: bitnami

#11166 [bitnami/zookeeper] Add Zookeeper Helm Chart tests
  .vib/zookeeper/goss/goss.yaml
  .vib/zookeeper/goss/vars.yaml
  .vib/zookeeper/vib-publish.json
  .vib/zookeeper/vib-verify.json
Labels: verify, bitnami, zookeeper

#11280 [bitnami/spark] Add Spark Helm Chart tests
  .vib/spark/cypress/cypress.json
  .vib/spark/cypress/cypress/integration/spark_spec.js
  .vib/spark/goss/goss.yaml
  .vib/spark/goss/vars.yaml
  .vib/spark/vib-publish.json
  .vib/spark/vib-verify.json
Labels: verify, bitnami, spark

#11508 [bitnami/jenkins] Revisit Goss/Cypress tests
  .vib/jenkins/cypress/cypress/fixtures/credentials.json
  .vib/jenkins/cypress/cypress/fixtures/users.json
  .vib/jenkins/cypress/cypress/integration/jenkins_spec.js
  .vib/jenkins/goss/goss.yaml
  .vib/jenkins/goss/vars.yaml
  .vib/jenkins/vib-publish.json
  .vib/jenkins/vib-verify.json
Labels: bitnami

#11425 [bitnami/dokuwiki] Revisit Goss/Cypress tests
  .vib/dokuwiki/cypress/cypress/fixtures/admins.json
  .vib/dokuwiki/cypress/cypress/fixtures/settings.json
  .vib/dokuwiki/cypress/cypress/fixtures/users.json
  .vib/dokuwiki/cypress/cypress/integration/dokuwiki_spec.js
  .vib/dokuwiki/cypress/cypress/support/commands.js
  .vib/dokuwiki/goss/goss.yaml
  .vib/dokuwiki/goss/vars.yaml
  .vib/dokuwiki/vib-publish.json
  .vib/dokuwiki/vib-verify.json
Labels: bitnami

#11201 [bitnami/keycloak]: Use httpRelativePath in keycloak-config-cli service URL
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/templates/keycloak-config-cli-job.yaml
Labels: verify, in-progress, keycloack

#11452 [bitnami/mongodb-sharded] Fix incorrect permissions when using Minikube and volumePermissions
  bitnami/mongodb-sharded/Chart.yaml
  bitnami/mongodb-sharded/templates/config-server/config-server-statefulset.yaml
  bitnami/mongodb-sharded/templates/shard/shard-data-statefulset.yaml
Labels: in-progress, mongodb-sharded

#11617 [bitnami/*] Unify Cypress' command delays
  .vib/airflow/cypress/cypress/support/commands.js
  .vib/discourse/cypress/cypress/support/commands.js
  .vib/dokuwiki/cypress/cypress/support/commands.js
  .vib/ghost/cypress/cypress/support/commands.js
  .vib/grafana/cypress/cypress/support/commands.js
  .vib/harbor/cypress/cypress/support/commands.js
  .vib/jenkins/cypress/cypress/support/commands.js
  .vib/joomla/cypress/cypress/support/commands.js
  .vib/magento/cypress/cypress/support/commands.js
  .vib/matomo/cypress/cypress/support/commands.js
  .vib/mediawiki/cypress/cypress/support/commands.js
  .vib/minio/cypress/cypress/support/commands.js
  .vib/odoo/cypress/cypress/support/commands.js
  .vib/opencart/cypress/cypress/support/commands.js
  .vib/owncloud/cypress/cypress/support/commands.js
  .vib/phpmyadmin/cypress/cypress/support/commands.js
  .vib/prestashop/cypress/cypress/support/commands.js
  .vib/rabbitmq/cypress/cypress/support/commands.js
  .vib/redmine/cypress/cypress/support/commands.js
  .vib/solr/cypress/cypress/support/commands.js
  .vib/spring-cloud-dataflow/cypress/cypress/support/commands.js
  .vib/suitecrm/cypress/cypress/support/commands.js
  .vib/thanos/bucketweb/cypress/cypress/support/commands.js
  .vib/thanos/queryfrontend/cypress/cypress/support/commands.js
  .vib/wordpress/cypress/cypress/support/commands.js
Labels: bitnami

#11447 [bitnami/elasticsearch] solve problem with hidden param ingest.enabled. Issue #11409
  bitnami/elasticsearch/Chart.yaml
  bitnami/elasticsearch/README.md
  bitnami/elasticsearch/values.yaml
Labels: in-progress, elasticsearch

#11628 [bitnami/redmine] Fix helm syntax error
  bitnami/redmine/Chart.yaml
  bitnami/redmine/templates/deployment.yaml
Labels: verify, in-progress, redmine

#11225 [bitnami/postgresql-ha] Add labels to volume claim template
  bitnami/postgresql-ha/Chart.yaml
  bitnami/postgresql-ha/README.md
  bitnami/postgresql-ha/templates/postgresql/statefulset.yaml
  bitnami/postgresql-ha/values.yaml
Labels: verify, in-progress, postgresql-ha

#11609 [bitnami/wavefront] Wavefront add control plane source
  bitnami/wavefront/Chart.yaml
  bitnami/wavefront/README.md
  bitnami/wavefront/templates/collector-config.yaml
  bitnami/wavefront/values.yaml
Labels: verify, bitnami

#11509 [bitnami/postgresql-ha] Fix serviceLabels error in postgresql-ha chart
  bitnami/postgresql-ha/Chart.yaml
  bitnami/postgresql-ha/templates/postgresql/service.yaml
  bitnami/postgresql-ha/values.yaml
Labels: verify, in-progress, postgresql-ha

#11442 [bitnami/elasticsearch]fix- Values.master.heapSize is inoperative when i do not set the configuration of Values.data.heapSize
  bitnami/elasticsearch/Chart.yaml
  bitnami/elasticsearch/templates/master/statefulset.yaml
Labels: verify, in-progress, elasticsearch

#11656 [bitnami/contour] Sync 9.0.2 Values to README
  bitnami/contour/README.md
Labels: verify, triage, contour

#11578 [bitnami/schema-registry] Add Goss/Cypress tests
  .vib/schema-registry/cypress/cypress.json
  .vib/schema-registry/cypress/cypress/fixtures/schema.json
  .vib/schema-registry/cypress/cypress/integration/schema_registry_spec.js
  .vib/schema-registry/goss/goss.yaml
  .vib/schema-registry/goss/vars.yaml
  .vib/schema-registry/vib-publish.json
  .vib/schema-registry/vib-verify.json
Labels: verify, bitnami

#11679 Add new workflow for SRP report
  .github/workflows/srp-report.yml
Labels: bitnami

#11675 [bitnami/contour] Sync release 9.0.3 values to README
  bitnami/contour/README.md
Labels: triage

#11637 [binami/etcd] Fix command for cronjob when diagnostic and disaster recovery are enabled
  bitnami/etcd/Chart.yaml
  bitnami/etcd/templates/cronjob.yaml
Labels: verify, triage, etcd

#11692 [bitnami/zookeeper] Fix quorum secret generation
  bitnami/zookeeper/Chart.yaml
  bitnami/zookeeper/templates/secrets.yaml
Labels: verify, in-progress, zookeeper

#11013 [bitnami/rabbitmq] Add init scripts support
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/README.md
  bitnami/rabbitmq/templates/_helpers.tpl
  bitnami/rabbitmq/templates/init-configmap.yaml
  bitnami/rabbitmq/templates/statefulset.yaml
  bitnami/rabbitmq/values.yaml
Labels: verify, bitnami, rabbitmq

#11634 [bitnami/minio] add security context to provisioning job
  bitnami/minio/Chart.yaml
  bitnami/minio/README.md
  bitnami/minio/templates/provisioning-job.yaml
  bitnami/minio/values.yaml
Labels: in-progress, minio

#11177 [bitnami/rabbitmq] Revert rabbitmq probes
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/templates/statefulset.yaml
Labels: verify, bitnami, rabbitmq

#11685 [bitnami/kubeapps] Add new params, set `kubeVersion`
  bitnami/kubeapps/Chart.yaml
  bitnami/kubeapps/README.md
  bitnami/kubeapps/templates/dashboard/configmap.yaml
  bitnami/kubeapps/templates/frontend/deployment.yaml
  bitnami/kubeapps/templates/kubeappsapis/deployment.yaml
  bitnami/kubeapps/templates/kubeappsapis/rbac_fluxv2.yaml
  bitnami/kubeapps/templates/kubeops/deployment.yaml
  bitnami/kubeapps/values.yaml
Labels: verify, bitnami

#11720 [bitnami/mediawiki] Fix HTTPS container port
  bitnami/mediawiki/Chart.yaml
  bitnami/mediawiki/templates/deployment.yaml
Labels: verify, bitnami

#11706 [bitnami/wildfly]: add serviceAccountName property
  bitnami/wildfly/Chart.yaml
  bitnami/wildfly/README.md
  bitnami/wildfly/templates/deployment.yaml
  bitnami/wildfly/values.yaml
Labels: verify, in-progress, wildfly

#11709 [bitnami/oauth2-proxy] Add DNS parameters to the oauth2 deployment
  bitnami/oauth2-proxy/Chart.yaml
  bitnami/oauth2-proxy/README.md
  bitnami/oauth2-proxy/templates/deployment.yaml
  bitnami/oauth2-proxy/values.yaml
Labels: verify, in-progress, oauth2-proxy

#11725 [bitnami/kubeapps] Allow prereleases in `kubeVersion`
  bitnami/kubeapps/Chart.yaml
Labels: verify, bitnami

#11686 [bitnami/geode] Refactor TLS configuration
  bitnami/geode/Chart.yaml
  bitnami/geode/README.md
  bitnami/geode/templates/_helpers.tpl
  bitnami/geode/templates/locator/statefulset.yaml
  bitnami/geode/templates/secrets.yaml
  bitnami/geode/templates/server/statefulset.yaml
  bitnami/geode/templates/tls-secrets.yaml
  bitnami/geode/values.yaml
Labels: verify, bitnami

#11626 [bitnami/postgresql] Allow custom role name for postgresql
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/README.md
  bitnami/postgresql/templates/_helpers.tpl
  bitnami/postgresql/values.yaml
Labels: in-progress, postgresql

#11624 [bitnami/grafana] add datasources.secretDefinition option
  bitnami/grafana/Chart.yaml
  bitnami/grafana/README.md
  bitnami/grafana/templates/datasources-secret.yaml
  bitnami/grafana/templates/deployment.yaml
  bitnami/grafana/templates/serviceaccount.yaml
  bitnami/grafana/values.yaml
Labels: verify, in-progress, grafana

#11741 [bitnami/kubernetes-event-exporter] Replace upstream repo
  bitnami/kubernetes-event-exporter/Chart.yaml
  bitnami/kubernetes-event-exporter/README.md
Labels: bitnami

#11710 [bitnami/redis] Add 17.x.x upgrading notes
  bitnami/redis/README.md
Labels: bitnami

#11748 [bitnami/schema-registry] Bump version to 4.0.5
  bitnami/schema-registry/Chart.yaml
Labels: verify, triage

#11761 [bitnami/nginx-ingress-controller] fix name of electionID in RBAC
  bitnami/nginx-ingress-controller/Chart.yaml
  bitnami/nginx-ingress-controller/templates/role.yaml
Labels: verify, in-progress, nginx-ingress-controller

#11738 [bitnami/elasticsearch]fix master statefulset envFrom
  bitnami/elasticsearch/Chart.yaml
  bitnami/elasticsearch/templates/master/statefulset.yaml
Labels: in-progress, elasticsearch

#11704 [bitnami/kube-prometheus] Fix - non consistent nindent on alertmanager secret
  bitnami/kube-prometheus/Chart.yaml
  bitnami/kube-prometheus/templates/alertmanager/secrets.yaml
Labels: verify, in-progress, kube-prometheus

#11727 [bitnami/kubeapps] Disable redis persistence by default
  bitnami/kubeapps/Chart.yaml
  bitnami/kubeapps/README.md
  bitnami/kubeapps/values.yaml
Labels: verify, bitnami, kubeapps

#11764 [bitnami/zookeeper] Statefulset quorum auth value not set properly
  bitnami/zookeeper/Chart.yaml
  bitnami/zookeeper/templates/statefulset.yaml
Labels: verify, in-progress, zookeeper

#11611 [bitnami/keycloak] Revisit Goss/Cypress tests
  .vib/keycloak/cypress/cypress/fixtures/admins.json
  .vib/keycloak/cypress/cypress/fixtures/identity-providers.json
  .vib/keycloak/cypress/cypress/fixtures/smtps.json
  .vib/keycloak/cypress/cypress/integration/keycloak_spec.js
  .vib/keycloak/cypress/cypress/support/commands.js
  .vib/keycloak/goss/goss.yaml
  .vib/keycloak/goss/vars.yaml
  .vib/keycloak/vib-publish.json
  .vib/keycloak/vib-verify.json
Labels: verify, bitnami

#11707 [bitnami/matomo] Revisit tests
  .vib/matomo/cypress/cypress/fixtures/images/post_image.png
  .vib/matomo/cypress/cypress/fixtures/users.json
  .vib/matomo/cypress/cypress/integration/matomo_spec.js
  .vib/matomo/cypress/cypress/support/commands.js
  .vib/matomo/goss/goss.yaml
Labels: bitnami

#11708 [bitnami/magento] Revisit tests
  .vib/magento/cypress/cypress/integration/magento_spec.js
  .vib/magento/cypress/cypress/support/commands.js
  .vib/magento/cypress/cypress/support/utils.js
  .vib/magento/goss/goss.yaml
Labels: bitnami

#11455 [bitnami/mongodb-sharded] Fix incorrect references when setting shardsvr persistence configuration
  bitnami/mongodb-sharded/Chart.yaml
  bitnami/mongodb-sharded/templates/shard/shard-data-statefulset.yaml
Labels: verify, in-progress, mongodb-sharded

#11771 [bitnami/logstash] Adjust the naming style for resource/headless-svc
  bitnami/logstash/Chart.yaml
  bitnami/logstash/templates/headless-svc.yaml
Labels: verify, in-progress, logstash

#11712 [bitnami/node] Add tests and publish using VIB
  .github/workflows/cd-pipeline.yaml
  .vib/node/cypress/cypress.json
  .vib/node/cypress/cypress/integration/node_spec.js
  .vib/node/goss/goss.yaml
  .vib/node/vib-publish.json
  .vib/node/vib-verify.json
Labels: verify, bitnami

#11794 [bitnami/redis] Fix sentinel start command parameters order
  bitnami/redis/Chart.yaml
  bitnami/redis/templates/scripts-configmap.yaml
Labels: verify, tech-issues, bitnami, redis

#11793 [bitnami/joomla] Publish using VIB
  .github/workflows/cd-pipeline.yaml
Labels: bitnami

#11705 [bitnami/phpbb] Add tests and publish using VIB
  .github/workflows/cd-pipeline.yaml
  .vib/phpbb/cypress/cypress.json
  .vib/phpbb/cypress/cypress/fixtures/images/post_image.png
  .vib/phpbb/cypress/cypress/fixtures/topics.json
  .vib/phpbb/cypress/cypress/integration/phpbb_spec.js
  .vib/phpbb/cypress/cypress/support/commands.js
  .vib/phpbb/cypress/cypress/support/index.js
  .vib/phpbb/cypress/cypress/support/utils.js
  .vib/phpbb/goss/goss.yaml
  .vib/phpbb/vib-publish.json
  .vib/phpbb/vib-verify.json
Labels: bitnami

#11678 [bitnami/minio] Fix total drive validation for Minio
  bitnami/minio/Chart.yaml
  bitnami/minio/README.md
  bitnami/minio/templates/_helpers.tpl
Labels: verify, bitnami

#11797 [bitnami/common] Add support for image digest apart from tag
  bitnami/common/Chart.yaml
  bitnami/common/templates/_images.tpl
Labels: bitnami, common-chart

#11798 [bitnami/etcd] Add support for image digest apart from tag
  bitnami/etcd/Chart.lock
  bitnami/etcd/Chart.yaml
  bitnami/etcd/README.md
  bitnami/etcd/values.yaml
Labels: verify, bitnami, etcd

#11823 [bitnami/elasticsearch] Release 19.1.11
  bitnami/elasticsearch/Chart.yaml
Labels: verify, bitnami, elasticsearch

#11829 Revert changes from #11797
  bitnami/common/Chart.yaml
  bitnami/common/templates/_images.tpl
Labels: bitnami

#11830 [bitnami/common] MAJOR: Add support for image digest apart from tag
  bitnami/common/Chart.yaml
  bitnami/common/templates/_images.tpl
Labels: bitnami

#11796 [bitnami/nginx] quote hostname on ingress
  bitnami/nginx/Chart.yaml
  bitnami/nginx/templates/ingress.yaml
Labels: verify, in-progress, nginx

#11819 [bitnami/nats] Adjust the naming style for resources
  bitnami/nats/Chart.yaml
  bitnami/nats/templates/NOTES.txt
  bitnami/nats/templates/headless-svc.yaml
  bitnami/nats/templates/ingress.yaml
  bitnami/nats/templates/metrics-svc.yaml
  bitnami/nats/templates/servicemonitor.yaml
  bitnami/nats/templates/statefulset.yaml
  bitnami/nats/templates/tls-secret.yaml
Labels: verify, in-progress, nats

#11833 [bitnami/pinniped] Fix VIB health-check
  .vib/pinniped/vib-publish.json
  .vib/pinniped/vib-verify.json
Labels: bitnami

#11785 [bitnami/mysql] Revisit tests
  .vib/mysql/goss/goss.yaml
  .vib/mysql/goss/vars.yaml
  .vib/mysql/vib-publish.json
  .vib/mysql/vib-verify.json
Labels: bitnami

#11837 [bitnami/minio] Apply the resource limits to minio's init-container
  bitnami/minio/Chart.yaml
  bitnami/minio/templates/provisioning-job.yaml
Labels: in-progress

#11845 [bitnami/nats] fix networkpolicy
  bitnami/nats/Chart.yaml
  bitnami/nats/templates/networkpolicy.yaml
Labels: verify, triage

#11826 [bitnami/grafana] Fix - missing commonAnnotations in service
  bitnami/grafana/Chart.yaml
  bitnami/grafana/templates/service.yaml
Labels: verify, in-progress, grafana

#11842 [bitnami/haproxy] drop -foo suffix from default serviceaccount name
  bitnami/haproxy/Chart.yaml
  bitnami/haproxy/templates/_helpers.tpl
Labels: in-progress, haproxy

#11419 [bitnami/harbor] Add parameters to configure tracing
  bitnami/harbor/Chart.yaml
  bitnami/harbor/README.md
  bitnami/harbor/templates/_helpers.tpl
  bitnami/harbor/templates/core/core-cm-envvars.yaml
  bitnami/harbor/templates/jobservice/jobservice-cm-envvars.yaml
  bitnami/harbor/templates/registry/registry-ctl-cm-envvars.yaml
  bitnami/harbor/templates/registry/registry-dpl.yaml
  bitnami/harbor/values.yaml
Labels: verify, in-progress, harbor

#11733 [bitnami/wildfly] Add tests and publish using VIB
  .github/workflows/cd-pipeline.yaml
  .vib/wildfly/cypress/cypress.json
  .vib/wildfly/cypress/cypress/integration/wildfly_spec.js
  .vib/wildfly/goss/goss.yaml
  .vib/wildfly/goss/vars.yaml
  .vib/wildfly/vib-publish.json
  .vib/wildfly/vib-verify.json
Labels: bitnami, wildfly

#11962 [bitnami/sealed-secrets] Add support for image digest apart from tag
  bitnami/sealed-secrets/Chart.lock
  bitnami/sealed-secrets/Chart.yaml
  bitnami/sealed-secrets/README.md
  bitnami/sealed-secrets/values.yaml
Labels: verify, sealed-secrets

#11956 [bitnami/tensorflow-resnet] Add support for image digest apart from tag
  bitnami/tensorflow-resnet/Chart.lock
  bitnami/tensorflow-resnet/Chart.yaml
  bitnami/tensorflow-resnet/README.md
  bitnami/tensorflow-resnet/values.yaml
Labels: verify, bitnami, tensorflow-resnet

#11961 [bitnami/solr] Add support for image digest apart from tag
  bitnami/solr/Chart.lock
  bitnami/solr/Chart.yaml
  bitnami/solr/README.md
  bitnami/solr/values.yaml
Labels: verify, bitnami, solr

#11960 [bitnami/sonarqube] Add support for image digest apart from tag
  bitnami/sonarqube/Chart.lock
  bitnami/sonarqube/Chart.yaml
  bitnami/sonarqube/README.md
  bitnami/sonarqube/values.yaml
Labels: verify, bitnami, sonarqube

#11952 [bitnami/wavefront-hpa-adapter] Add support for image digest apart from tag
  bitnami/wavefront-hpa-adapter/Chart.lock
  bitnami/wavefront-hpa-adapter/Chart.yaml
  bitnami/wavefront-hpa-adapter/README.md
  bitnami/wavefront-hpa-adapter/values.yaml
Labels: verify, bitnami, wavefront-hpa-adapter

#11959 [bitnami/spark] Add support for image digest apart from tag
  bitnami/spark/Chart.lock
  bitnami/spark/Chart.yaml
  bitnami/spark/README.md
  bitnami/spark/values.yaml
Labels: verify, bitnami, spark

#11950 [bitnami/wildfly] Add support for image digest apart from tag
  bitnami/wildfly/Chart.lock
  bitnami/wildfly/Chart.yaml
  bitnami/wildfly/README.md
  bitnami/wildfly/values.yaml
Labels: verify, bitnami, wildfly

#11955 [bitnami/thanos] Add support for image digest apart from tag
  bitnami/thanos/Chart.lock
  bitnami/thanos/Chart.yaml
  bitnami/thanos/README.md
  bitnami/thanos/values.yaml
Labels: verify, bitnami, thanos

#11947 [bitnami/parse] Add support for image digest apart from tag
  bitnami/parse/Chart.lock
  bitnami/parse/Chart.yaml
  bitnami/parse/README.md
  bitnami/parse/values.yaml
Labels: verify, bitnami, parse

#11946 [bitnami/phpbb] Add support for image digest apart from tag
  bitnami/phpbb/Chart.lock
  bitnami/phpbb/Chart.yaml
  bitnami/phpbb/README.md
  bitnami/phpbb/values.yaml
Labels: verify, bitnami, phpbb

#11944 [bitnami/pinniped] Add support for image digest apart from tag
  bitnami/pinniped/Chart.lock
  bitnami/pinniped/Chart.yaml
  bitnami/pinniped/README.md
  bitnami/pinniped/values.yaml
Labels: verify, pinniped, bitnami

#11939 [bitnami/rabbitmq-cluster-operator] Add support for image digest apart from tag
  bitnami/rabbitmq-cluster-operator/Chart.lock
  bitnami/rabbitmq-cluster-operator/Chart.yaml
  bitnami/rabbitmq-cluster-operator/README.md
  bitnami/rabbitmq-cluster-operator/values.yaml
Labels: verify, bitnami, rabbitmq-cluster-operator

#11954 [bitnami/tomcat] Add support for image digest apart from tag
  bitnami/tomcat/Chart.lock
  bitnami/tomcat/Chart.yaml
  bitnami/tomcat/README.md
  bitnami/tomcat/values.yaml
Labels: verify, bitnami, tomcat

#11958 [bitnami/spring-cloud-dataflow] Add support for image digest apart from tag
  bitnami/spring-cloud-dataflow/Chart.lock
  bitnami/spring-cloud-dataflow/Chart.yaml
  bitnami/spring-cloud-dataflow/README.md
  bitnami/spring-cloud-dataflow/values.yaml
Labels: verify, bitnami, spring-cloud-dataflow

#11935 [bitnami/redmine] Add support for image digest apart from tag
  bitnami/redmine/Chart.lock
  bitnami/redmine/Chart.yaml
  bitnami/redmine/README.md
  bitnami/redmine/values.yaml
Labels: verify, bitnami, redmine

#11934 [bitnami/nats] Add support for image digest apart from tag
  bitnami/nats/Chart.lock
  bitnami/nats/Chart.yaml
  bitnami/nats/README.md
  bitnami/nats/values.yaml
Labels: verify, bitnami, nats

#11921 [bitnami/mariadb-galera] Add support for image digest apart from tag
  bitnami/mariadb-galera/Chart.lock
  bitnami/mariadb-galera/Chart.yaml
  bitnami/mariadb-galera/README.md
  bitnami/mariadb-galera/values.yaml
Labels: verify, bitnami, mariadb-galera

#11918 [bitnami/memcached] Add support for image digest apart from tag
  bitnami/memcached/Chart.lock
  bitnami/memcached/Chart.yaml
  bitnami/memcached/README.md
  bitnami/memcached/values.yaml
Labels: verify, bitnami, memcached

#11896 [bitnami/grafana-operator] Add support for image digest apart from tag
  bitnami/grafana-operator/Chart.lock
  bitnami/grafana-operator/Chart.yaml
  bitnami/grafana-operator/README.md
  bitnami/grafana-operator/values.yaml
Labels: verify, bitnami, grafana-operator

#11894 [bitnami/haproxy] Add support for image digest apart from tag
  bitnami/haproxy/Chart.lock
  bitnami/haproxy/Chart.yaml
  bitnami/haproxy/README.md
  bitnami/haproxy/values.yaml
Labels: verify, bitnami, haproxy

#11893 [bitnami/haproxy-intel] Add support for image digest apart from tag
  bitnami/haproxy-intel/Chart.lock
  bitnami/haproxy-intel/Chart.yaml
  bitnami/haproxy-intel/README.md
  bitnami/haproxy-intel/values.yaml
Labels: verify, bitnami, haproxy-intel

#11889 [bitnami/joomla] Add support for image digest apart from tag
  bitnami/joomla/Chart.lock
  bitnami/joomla/Chart.yaml
  bitnami/joomla/README.md
  bitnami/joomla/values.yaml
Labels: verify, bitnami, joomla

#11883 [bitnami/ejbca] Add support for image digest apart from tag
  bitnami/ejbca/Chart.lock
  bitnami/ejbca/Chart.yaml
  bitnami/ejbca/README.md
  bitnami/ejbca/values.yaml
Labels: verify, bitnami, ejbca

#11869 [bitnami/cert-manager] Add support for image digest apart from tag
  bitnami/cert-manager/Chart.lock
  bitnami/cert-manager/Chart.yaml
  bitnami/cert-manager/README.md
  bitnami/cert-manager/values.yaml
Labels: verify, bitnami, cert-manager

#11897 [bitnami/grafana-loki] Add support for image digest apart from tag
  bitnami/grafana-loki/Chart.lock
  bitnami/grafana-loki/Chart.yaml
  bitnami/grafana-loki/README.md
  bitnami/grafana-loki/values.yaml
Labels: verify, bitnami, grafana-loki

#11936 [bitnami/redis] Add support for image digest apart from tag
  bitnami/redis/Chart.lock
  bitnami/redis/Chart.yaml
  bitnami/redis/README.md
  bitnami/redis/values.yaml
Labels: verify, bitnami, redis

#11906 [bitnami/kiam] Add support for image digest apart from tag
  bitnami/kiam/Chart.lock
  bitnami/kiam/Chart.yaml
  bitnami/kiam/README.md
  bitnami/kiam/values.yaml
Labels: verify, bitnami, kiam

#11933 [bitnami/nginx-ingress-controller] Add support for image digest apart from tag
  bitnami/nginx-ingress-controller/Chart.lock
  bitnami/nginx-ingress-controller/Chart.yaml
  bitnami/nginx-ingress-controller/README.md
  bitnami/nginx-ingress-controller/values.yaml
Labels: verify, bitnami, nginx-ingress-controller

#11932 [bitnami/nginx-intel] Add support for image digest apart from tag
  bitnami/nginx-intel/Chart.lock
  bitnami/nginx-intel/Chart.yaml
  bitnami/nginx-intel/README.md
  bitnami/nginx-intel/values.yaml
Labels: verify, bitnami, nginx-intel

#11901 [bitnami/kubernetes-event-exporter] Add support for image digest apart from tag
  bitnami/kubernetes-event-exporter/Chart.lock
  bitnami/kubernetes-event-exporter/Chart.yaml
  bitnami/kubernetes-event-exporter/README.md
  bitnami/kubernetes-event-exporter/values.yaml
Labels: verify, bitnami, kubernetes-event-exporter

#11931 [bitnami/nginx] Add support for image digest apart from tag
  bitnami/nginx/Chart.lock
  bitnami/nginx/Chart.yaml
  bitnami/nginx/README.md
  bitnami/nginx/values.yaml
Labels: verify, nginx, bitnami

#11875 [bitnami/contour-operator] Add support for image digest apart from tag
  bitnami/contour-operator/Chart.lock
  bitnami/contour-operator/Chart.yaml
  bitnami/contour-operator/README.md
  bitnami/contour-operator/values.yaml
Labels: verify, bitnami, contour-operator

#11914 [bitnami/mongodb] Add support for image digest apart from tag
  bitnami/mongodb/Chart.lock
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/README.md
  bitnami/mongodb/values.yaml
Labels: verify, bitnami, mongodb

#11943 [bitnami/postgresql-ha] Add support for image digest apart from tag
  bitnami/postgresql-ha/Chart.lock
  bitnami/postgresql-ha/Chart.yaml
  bitnami/postgresql-ha/README.md
  bitnami/postgresql-ha/values.yaml
Labels: verify, bitnami, postgresql-ha

#11905 [bitnami/kibana] Add support for image digest apart from tag
  bitnami/kibana/Chart.lock
  bitnami/kibana/Chart.yaml
  bitnami/kibana/README.md
  bitnami/kibana/values.yaml
Labels: verify, bitnami, kibana

#11900 [bitnami/grafana] Add support for image digest apart from tag
  bitnami/grafana/Chart.lock
  bitnami/grafana/Chart.yaml
  bitnami/grafana/README.md
  bitnami/grafana/values.yaml
Labels: verify, bitnami, grafana

#11890 [bitnami/jenkins] Add support for image digest apart from tag
  bitnami/jenkins/Chart.lock
  bitnami/jenkins/Chart.yaml
  bitnami/jenkins/README.md
  bitnami/jenkins/values.yaml
Labels: verify, jenkins, bitnami

#11873 [bitnami/dokuwiki] Add support for image digest apart from tag
  bitnami/dokuwiki/Chart.lock
  bitnami/dokuwiki/Chart.yaml
  bitnami/dokuwiki/README.md
  bitnami/dokuwiki/values.yaml
Labels: verify, bitnami, dokuwiki

#11882 [bitnami/elasticsearch] Add support for image digest apart from tag
  bitnami/elasticsearch/Chart.lock
  bitnami/elasticsearch/Chart.yaml
  bitnami/elasticsearch/README.md
  bitnami/elasticsearch/values.yaml
Labels: verify, bitnami, elasticsearch

#11922 [bitnami/mariadb] Add support for image digest apart from tag
  bitnami/mariadb/Chart.lock
  bitnami/mariadb/Chart.yaml
  bitnami/mariadb/README.md
  bitnami/mariadb/values.yaml
Labels: verify, mariadb, bitnami

#11879 [bitnami/cassandra] Add support for image digest apart from tag
  bitnami/cassandra/Chart.lock
  bitnami/cassandra/Chart.yaml
  bitnami/cassandra/README.md
  bitnami/cassandra/values.yaml
Labels: verify, bitnami, cassandra

#11908 [bitnami/kafka] Add support for image digest apart from tag
  bitnami/kafka/Chart.lock
  bitnami/kafka/Chart.yaml
  bitnami/kafka/README.md
  bitnami/kafka/values.yaml
Labels: verify, kafka, bitnami

#11909 [bitnami/kube-state-metrics] Add support for image digest apart from tag
  bitnami/kube-state-metrics/Chart.lock
  bitnami/kube-state-metrics/Chart.yaml
  bitnami/kube-state-metrics/README.md
  bitnami/kube-state-metrics/values.yaml
Labels: verify, bitnami, kube-state-metrics

#11915 [bitnami/minio] Add support for image digest apart from tag
  bitnami/minio/Chart.lock
  bitnami/minio/Chart.yaml
  bitnami/minio/README.md
  bitnami/minio/values.yaml
Labels: verify, bitnami, minio

#11910 [bitnami/mysql] Add support for image digest apart from tag
  bitnami/mysql/Chart.lock
  bitnami/mysql/Chart.yaml
  bitnami/mysql/README.md
  bitnami/mysql/values.yaml
Labels: verify, mysql

#11930 [bitnami/node-exporter] Add support for image digest apart from tag
  bitnami/node-exporter/Chart.lock
  bitnami/node-exporter/Chart.yaml
  bitnami/node-exporter/README.md
  bitnami/node-exporter/values.yaml
Labels: verify, bitnami, node-exporter

#11938 [bitnami/rabbitmq] Add support for image digest apart from tag
  bitnami/rabbitmq/Chart.lock
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/README.md
  bitnami/rabbitmq/values.yaml
Labels: verify, bitnami, rabbitmq

#11885 [bitnami/zookeeper] Add support for image digest apart from tag
  bitnami/zookeeper/Chart.lock
  bitnami/zookeeper/Chart.yaml
  bitnami/zookeeper/README.md
  bitnami/zookeeper/values.yaml
Labels: verify, bitnami, zookeeper

#11937 [bitnami/redis-cluster] Add support for image digest apart from tag
  bitnami/redis-cluster/Chart.lock
  bitnami/redis-cluster/Chart.yaml
  bitnami/redis-cluster/README.md
  bitnami/redis-cluster/values.yaml
Labels: verify, redis-cluster

#11880 [bitnami/argo-cd] Add support for image digest apart from tag
  bitnami/argo-cd/Chart.lock
  bitnami/argo-cd/Chart.yaml
  bitnami/argo-cd/README.md
  bitnami/argo-cd/values.yaml
Labels: verify, bitnami, argo-cd

#11949 [bitnami/wordpress] Add support for image digest apart from tag
  bitnami/wordpress/Chart.lock
  bitnami/wordpress/Chart.yaml
  bitnami/wordpress/README.md
  bitnami/wordpress/values.yaml
Labels: verify, bitnami, wordpress

#11870 [bitnami/concourse] Add support for image digest apart from tag
  bitnami/concourse/Chart.lock
  bitnami/concourse/Chart.yaml
  bitnami/concourse/README.md
  bitnami/concourse/values.yaml
Labels: verify, bitnami, concourse

#11865 [bitnami/airflow] Add support for image digest apart from tag
  bitnami/airflow/Chart.lock
  bitnami/airflow/Chart.yaml
  bitnami/airflow/README.md
  bitnami/airflow/values.yaml
Labels: verify, airflow, bitnami

#11899 [bitnami/ghost] Add support for image digest apart from tag
  bitnami/ghost/Chart.lock
  bitnami/ghost/Chart.yaml
  bitnami/ghost/README.md
  bitnami/ghost/values.yaml
Labels: verify, bitnami, ghost

#11963 [bitnami/schema-registry] Add support for image digest apart from tag
  bitnami/schema-registry/Chart.lock
  bitnami/schema-registry/Chart.yaml
  bitnami/schema-registry/README.md
  bitnami/schema-registry/values.yaml
Labels: verify, bitnami, schema-registry

#11951 [bitnami/wavefront-prometheus-storage-adapter] Add support for image digest apart from tag
  bitnami/wavefront-prometheus-storage-adapter/Chart.lock
  bitnami/wavefront-prometheus-storage-adapter/Chart.yaml
  bitnami/wavefront-prometheus-storage-adapter/README.md
  bitnami/wavefront-prometheus-storage-adapter/values.yaml
Labels: verify, bitnami, wavefront-prometheus-storage-adapter

#11948 [bitnami/wordpress-intel] Add support for image digest apart from tag
  bitnami/wordpress-intel/Chart.lock
  bitnami/wordpress-intel/Chart.yaml
  bitnami/wordpress-intel/README.md
  bitnami/wordpress-intel/values.yaml
Labels: verify, bitnami, wordpress-intel

#11940 [bitnami/pytorch] Add support for image digest apart from tag
  bitnami/pytorch/Chart.lock
  bitnami/pytorch/Chart.yaml
  bitnami/pytorch/README.md
  bitnami/pytorch/values.yaml
Labels: verify, bitnami, pytorch

#11928 [bitnami/oauth2-proxy] Add support for image digest apart from tag
  bitnami/oauth2-proxy/Chart.lock
  bitnami/oauth2-proxy/Chart.yaml
  bitnami/oauth2-proxy/README.md
  bitnami/oauth2-proxy/values.yaml
Labels: verify, bitnami, oauth2-proxy

#11926 [bitnami/opencart] Add support for image digest apart from tag
  bitnami/opencart/Chart.lock
  bitnami/opencart/Chart.yaml
  bitnami/opencart/README.md
  bitnami/opencart/values.yaml
Labels: verify, bitnami, opencart

#11925 [bitnami/osclass] Add support for image digest apart from tag
  bitnami/osclass/Chart.lock
  bitnami/osclass/Chart.yaml
  bitnami/osclass/README.md
  bitnami/osclass/values.yaml
Labels: verify, bitnami, osclass

#11924 [bitnami/owncloud] Add support for image digest apart from tag
  bitnami/owncloud/Chart.lock
  bitnami/owncloud/Chart.yaml
  bitnami/owncloud/README.md
  bitnami/owncloud/values.yaml
Labels: verify, bitnami, owncloud

#11920 [bitnami/matomo] Add support for image digest apart from tag
  bitnami/matomo/Chart.lock
  bitnami/matomo/Chart.yaml
  bitnami/matomo/README.md
  bitnami/matomo/values.yaml
Labels: verify, bitnami, matomo

#11919 [bitnami/mediawiki] Add support for image digest apart from tag
  bitnami/mediawiki/Chart.lock
  bitnami/mediawiki/Chart.yaml
  bitnami/mediawiki/README.md
  bitnami/mediawiki/values.yaml
Labels: verify, bitnami, mediawiki

#11916 [bitnami/metrics-server] Add support for image digest apart from tag
  bitnami/metrics-server/Chart.lock
  bitnami/metrics-server/Chart.yaml
  bitnami/metrics-server/README.md
  bitnami/metrics-server/values.yaml
Labels: verify, bitnami, metrics-server

#11911 [bitnami/mxnet] Add support for image digest apart from tag
  bitnami/mxnet/Chart.lock
  bitnami/mxnet/Chart.yaml
  bitnami/mxnet/README.md
  bitnami/mxnet/values.yaml
Labels: verify, bitnami, mxnet
