Repository bitnami/charts, pull requests merged in 2022-11, with the labels that each got.

#13271 [bitnami/kafka] removing default value updateStrategy.rollingUpdate
  bitnami/kafka/Chart.yaml
  bitnami/kafka/README.md
  bitnami/kafka/values.yaml
Labels: verify, in-progress, kafka

#13155 [bitnami/keycloak] Add support for custom infinispan/jgroups cache stacks (e.g. istio)
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/README.md
  bitnami/keycloak/templates/configmap-env-vars.yaml
  bitnami/keycloak/templates/headless-service.yaml
  bitnami/keycloak/templates/statefulset.yaml
  bitnami/keycloak/values.yaml
Labels: verify, in-progress, keycloak

#13277 [bitnami/external-dns] Adjust the naming style for resources
  bitnami/external-dns/Chart.yaml
  bitnami/external-dns/templates/_helpers.tpl
  bitnami/external-dns/templates/psp-clusterrole.yaml
  bitnami/external-dns/templates/psp-clusterrolebinding.yaml
  bitnami/external-dns/templates/tls-secret.yaml
Labels: verify, in-progress, external-dns

#13261 [bitnami/airflow] change apiversion hardcode for airflow
  bitnami/airflow/Chart.yaml
  bitnami/airflow/templates/worker/horizontalpodautoscaler.yaml
Labels: verify, in-progress, airflow

#13310 [bitnami/redis-cluster] Fix port number enviroment variables name
  bitnami/redis-cluster/Chart.yaml
  bitnami/redis-cluster/templates/redis-statefulset.yaml
  bitnami/redis-cluster/templates/scripts-configmap.yaml
  bitnami/redis-cluster/templates/update-cluster.yaml
Labels: verify, bitnami, redis-cluster

#13191 [bitnami/nginx] ingress rule with no "host"
  bitnami/nginx/Chart.yaml
  bitnami/nginx/templates/ingress.yaml
Labels: verify, in-progress, nginx

#13131 bitnami/mongodb Update common-scripts-cm.yaml
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/templates/common-scripts-cm.yaml
Labels: verify, in-progress, mongodb

#13101 [bitnami/tomcat] Removed enforcement of tomcatPassword variable on upgrades
  bitnami/tomcat/Chart.yaml
  bitnami/tomcat/templates/NOTES.txt
  bitnami/tomcat/templates/secrets.yaml
Labels: verify, in-progress, tomcat

#13196 bitnami/oauth2-proxy Add common oauth2-proxy args as chart values
  bitnami/oauth2-proxy/Chart.yaml
  bitnami/oauth2-proxy/README.md
  bitnami/oauth2-proxy/templates/deployment.yaml
  bitnami/oauth2-proxy/values.yaml
Labels: verify, in-progress, oauth2-proxy

#13269 [bitnami/postgresql] Annotations for headless service
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/README.md
  bitnami/postgresql/templates/primary/svc-headless.yaml
  bitnami/postgresql/templates/read/svc-headless.yaml
  bitnami/postgresql/values.yaml
Labels: verify, in-progress, postgresql

#13083 [bitnami/clickhouse] Fix render topologySpreadConstraints
  bitnami/clickhouse/Chart.yaml
  bitnami/clickhouse/templates/statefulset.yaml
Labels: verify, in-progress, clickhouse

#13312 [bitnami/thanos] Modified logic for serviceAccount name in Thanos
  bitnami/thanos/Chart.yaml
  bitnami/thanos/templates/_helpers.tpl
  bitnami/thanos/templates/serviceaccount.yaml
Labels: verify, bitnami, thanos

#13311 [bitnami/contour] Add loadBalancerClass options
  bitnami/contour/Chart.yaml
  bitnami/contour/README.md
  bitnami/contour/templates/contour/service.yaml
  bitnami/contour/templates/envoy/service.yaml
  bitnami/contour/values.yaml
Labels: verify, in-progress, contour

#13303 [bitnami/elasticsearch] Fix failed metrics pod in elasticsearch when deploy ES
  bitnami/elasticsearch/Chart.yaml
  bitnami/elasticsearch/README.md
  bitnami/elasticsearch/templates/metrics/deployment.yaml
  bitnami/elasticsearch/values.yaml
Labels: verify, in-progress, elasticsearch

#13308 [bitnami/kafka] Add support set config broker.rack with AWS availability zone info
  bitnami/kafka/Chart.yaml
  bitnami/kafka/README.md
  bitnami/kafka/templates/scripts-configmap.yaml
  bitnami/kafka/values.yaml
Labels: verify, in-progress, kafka

#13264 [bitnami/ejbca] fix apiversion hardcode for deployment
  bitnami/ejbca/Chart.yaml
  bitnami/ejbca/templates/deployment.yaml
Labels: verify, in-progress, ejbca

#13334 [bitnami/keycloak] Use correct value for SPI truststore file
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/templates/configmap-env-vars.yaml
Labels: verify, in-progress, keycloak

#13289 [bitnami/rabbitmq-cluster-operator] update the rabbitmq operator CRDs
  bitnami/rabbitmq-cluster-operator/Chart.yaml
  bitnami/rabbitmq-cluster-operator/crds/crd-rabbitmq-cluster.yaml
  bitnami/rabbitmq-cluster-operator/crds/crds-messaging-topology-operator.yaml
  bitnami/rabbitmq-cluster-operator/templates/messaging-topology-operator/clusterrole.yaml
Labels: verify, triage, rabbitmq-cluster-operator

#13207 [bitnami/opencart] Use templated values for opencart secret name
  bitnami/opencart/Chart.yaml
  bitnami/opencart/templates/deployment.yaml
Labels: verify, in-progress, opencart

#13265 [bitnami/postgresql] Update OpenShift specifc security settings
  bitnami/postgresql/README.md
Labels: in-progress, postgresql

#13372 [bitnami/grafana-operator] Fix wrong argument name for parameter `zapLevel`
  bitnami/grafana-operator/Chart.yaml
  bitnami/grafana-operator/templates/deployment.yaml
Labels: verify, in-progress, grafana-operator

#13406 [bitnami/thanos] Fix serviceAccount name logic for Thanos
  bitnami/thanos/Chart.yaml
  bitnami/thanos/templates/_helpers.tpl
  bitnami/thanos/templates/bucketweb/deployment.yaml
  bitnami/thanos/templates/bucketweb/serviceaccount.yaml
  bitnami/thanos/templates/compactor/deployment.yaml
  bitnami/thanos/templates/compactor/serviceaccount.yaml
  bitnami/thanos/templates/query-frontend/deployment.yaml
  bitnami/thanos/templates/query-frontend/psp-clusterrolebinding.yaml
  bitnami/thanos/templates/query-frontend/serviceaccount.yaml
  bitnami/thanos/templates/query/deployment.yaml
  bitnami/thanos/templates/query/psp-clusterrolebinding.yaml
  bitnami/thanos/templates/query/serviceaccount.yaml
  bitnami/thanos/templates/receive-distributor/deployment.yaml
  bitnami/thanos/templates/receive-distributor/serviceaccount.yaml
  bitnami/thanos/templates/receive/serviceaccount.yaml
  bitnami/thanos/templates/receive/statefulset.yaml
  bitnami/thanos/templates/ruler/serviceaccount.yaml
  bitnami/thanos/templates/ruler/statefulset.yaml
  bitnami/thanos/templates/storegateway/serviceaccount.yaml
  bitnami/thanos/templates/storegateway/statefulset-sharded.yaml
  bitnami/thanos/templates/storegateway/statefulset.yaml
Labels: verify, bitnami, thanos

#13250 [bitnami/common] fixed naming of common.secrets.passwords.manage function in README
  bitnami/common/README.md
Labels: verify, in-progress, common

#13410 [bitnami/geode] Add chart deprecation notice
  bitnami/geode/README.md
Labels: verify, bitnami, geode

#13411 [bitnami/kafka] Force new version publishing
  bitnami/kafka/Chart.yaml
Labels: verify, kafka, bitnami

#13430 Use 0.4.7 as pinned version for vib action
  .github/workflows/cd-pipeline.yml
  .github/workflows/ci-pipeline-extra-thanos.yml
  .github/workflows/ci-pipeline.yml
Labels: verify, bitnami

#13230 [bitnami/mysql] Added support for MySQL volume subPath
  bitnami/mysql/Chart.yaml
  bitnami/mysql/README.md
  bitnami/mysql/templates/primary/statefulset.yaml
  bitnami/mysql/templates/secondary/statefulset.yaml
  bitnami/mysql/values.yaml
Labels: verify, in-progress, mysql

#13385 [bitnami/mongodb-sharded] Enable all collectors in mongodb_exporter
  bitnami/mongodb-sharded/Chart.yaml
  bitnami/mongodb-sharded/templates/config-server/config-server-statefulset.yaml
  bitnami/mongodb-sharded/templates/mongos/mongos-dep-sts.yaml
  bitnami/mongodb-sharded/templates/shard/shard-arbiter-statefulset.yaml
  bitnami/mongodb-sharded/templates/shard/shard-data-statefulset.yaml
Labels: verify, in-progress, mongodb-sharded

#13381 Reference `main` instead of `master` in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: in-progress

#13254 [bitnami/metallb] kube version support
  bitnami/metallb/Chart.yaml
Labels: verify, in-progress, metallb

#13377 [bitnami/opencart] Adjust the naming style for resources
  bitnami/opencart/Chart.yaml
  bitnami/opencart/templates/_helpers.tpl
  bitnami/opencart/templates/externaldb-secrets.yaml
  bitnami/opencart/templates/ingress.yaml
  bitnami/opencart/templates/networkpolicy-backend-ingress.yaml
  bitnami/opencart/templates/networkpolicy-egress.yaml
  bitnami/opencart/templates/networkpolicy-ingress.yaml
  bitnami/opencart/values.yaml
Labels: verify, in-progress, opencart

#13442 [bitnami/sealed-secrets] Fixes the Sealed Secrets chart readme links
  bitnami/sealed-secrets/Chart.yaml
  bitnami/sealed-secrets/README.md
  bitnami/sealed-secrets/values.yaml
Labels: verify, bitnami, sealed-secrets

#13402 [bitnami/redis] Add support for volume subPathExpr
  bitnami/redis/Chart.yaml
  bitnami/redis/README.md
  bitnami/redis/templates/master/application.yaml
  bitnami/redis/templates/replicas/statefulset.yaml
  bitnami/redis/templates/sentinel/statefulset.yaml
  bitnami/redis/values.yaml
Labels: verify, in-progress, redis

#13455 Use 0.4.10 as pinned version for vib action
  .github/workflows/cd-pipeline.yml
  .github/workflows/ci-pipeline-extra-thanos.yml
  .github/workflows/ci-pipeline.yml
Labels: verify, bitnami

#13359 [bitnami/thanos] Fix documentation for ruler.alertmanagersConfig and ruler.alertmanagers
  bitnami/thanos/Chart.yaml
  bitnami/thanos/README.md
  bitnami/thanos/values.yaml
Labels: verify, in-progress, thanos

#13034 [bitnami/nginx-ingress-controller] Add tests and publishing using VIB
  .github/workflows/cd-pipeline.yml
  .vib/nginx-ingress-controller/ginkgo/go.mod
  .vib/nginx-ingress-controller/ginkgo/go.sum
  .vib/nginx-ingress-controller/ginkgo/integration_suite_test.go
  .vib/nginx-ingress-controller/ginkgo/nginx_ingress_controller_test.go
  .vib/nginx-ingress-controller/goss/goss.yaml
  .vib/nginx-ingress-controller/goss/vars.yaml
  .vib/nginx-ingress-controller/vib-action.config
  .vib/nginx-ingress-controller/vib-publish.json
  .vib/nginx-ingress-controller/vib-verify.json
Labels: verify, bitnami

#13425 [bitnami/owncloud] Adjust the naming style for resources
  bitnami/owncloud/Chart.yaml
  bitnami/owncloud/templates/_helpers.tpl
  bitnami/owncloud/templates/externaldb-secrets.yaml
  bitnami/owncloud/templates/ingress.yaml
  bitnami/owncloud/templates/metrics-svc.yaml
  bitnami/owncloud/templates/networkpolicy-backend-ingress.yaml
  bitnami/owncloud/templates/networkpolicy-egress.yaml
  bitnami/owncloud/templates/networkpolicy-ingress.yaml
  bitnami/owncloud/templates/pv.yaml
  bitnami/owncloud/templates/pvc.yaml
  bitnami/owncloud/templates/tls-secrets.yaml
  bitnami/owncloud/values.yaml
Labels: verify, in-progress, owncloud

#13394 [bitnami/osclass] Adjust the naming style for resources
  bitnami/osclass/Chart.yaml
  bitnami/osclass/templates/_helpers.tpl
  bitnami/osclass/templates/externaldb-secrets.yaml
  bitnami/osclass/templates/ingress.yaml
  bitnami/osclass/templates/metrics-svc.yaml
  bitnami/osclass/templates/networkpolicy-backend-ingress.yaml
  bitnami/osclass/templates/networkpolicy-egress.yaml
  bitnami/osclass/templates/networkpolicy-ingress.yaml
  bitnami/osclass/templates/osclass-pvc.yaml
  bitnami/osclass/templates/tls-secrets.yaml
  bitnami/osclass/values.yaml
Labels: verify, in-progress, osclass

#13469 [bitnami/pytorch] Adjust the naming style for resources
  bitnami/pytorch/Chart.yaml
  bitnami/pytorch/templates/_helpers.tpl
  bitnami/pytorch/templates/configmap.yaml
  bitnami/pytorch/templates/deployment.yaml
  bitnami/pytorch/templates/headless-svc.yaml
  bitnami/pytorch/templates/statefulset.yaml
Labels: verify, in-progress, pytorch

#13445 [bitnami/kafka] fix memory opts for jmx-exporter
  bitnami/kafka/Chart.yaml
  bitnami/kafka/templates/statefulset.yaml
Labels: verify, in-progress, kafka

#13449 [bitnami/tomcat] fix memory opts for jmx-exporter
  bitnami/tomcat/Chart.yaml
  bitnami/tomcat/templates/_pod.tpl
Labels: verify, in-progress, tomcat

#13463 [bitnami/solr] Add PodDisruptionBudget
  bitnami/solr/Chart.yaml
  bitnami/solr/README.md
  bitnami/solr/templates/pdb.yaml
  bitnami/solr/values.yaml
Labels: verify, in-progress, solr

#13478 [bitnami/cert-manager] Rename Cert Manager to cert-manager
  bitnami/cert-manager/Chart.yaml
  bitnami/cert-manager/README.md
  bitnami/cert-manager/templates/_helpers.tpl
  bitnami/cert-manager/values.yaml
Labels: verify, bitnami, cert-manager

#13490 Use 0.4.11 as pinned version for vib action
  .github/workflows/cd-pipeline.yml
  .github/workflows/ci-pipeline-extra-thanos.yml
  .github/workflows/ci-pipeline.yml
Labels: verify, bitnami

#13502 [bitnami/thanos] Fix issue with serviceAccount.create
  bitnami/thanos/Chart.yaml
  bitnami/thanos/templates/serviceaccount.yaml
Labels: verify, bitnami, thanos

#13435 [bitnami/common] affinity topologyKey override
  bitnami/common/Chart.yaml
  bitnami/common/README.md
  bitnami/common/templates/_affinities.tpl
Labels: verify, in-progress, common

#13471 [bitnami/wildfly] Adjust the naming style for resources
  bitnami/wildfly/Chart.yaml
  bitnami/wildfly/templates/ingress.yaml
  bitnami/wildfly/templates/management-ingress.yaml
  bitnami/wildfly/templates/tls-secrets.yaml
  bitnami/wildfly/values.yaml
Labels: verify, in-progress, wildfly

#13486 [bitnami/fluentd] fix extraEnvVars typo in values.yaml
  bitnami/fluentd/Chart.yaml
  bitnami/fluentd/values.yaml
Labels: verify, in-progress, fluentd

#13477 [bitnami/redis] Fix suport for persistent volume claim for sentinel
  bitnami/redis/Chart.yaml
  bitnami/redis/templates/sentinel/statefulset.yaml
Labels: verify, in-progress, redis

#13482 [bitnami/mongodb-sharded]Fixed a few errors in the templates that support monitoring, PDB, etc
  bitnami/mongodb-sharded/Chart.yaml
  bitnami/mongodb-sharded/templates/_helpers.tpl
  bitnami/mongodb-sharded/templates/shard/shard-data-poddisruptionbudget.yaml
  bitnami/mongodb-sharded/templates/shard/shard-data-podmonitor.yaml
Labels: verify, in-progress, mongodb-sharded

#13414 [bitnami/fluentd] Make servicemonitor URL/Path configurable
  bitnami/fluentd/Chart.yaml
  bitnami/fluentd/README.md
  bitnami/fluentd/templates/servicemonitor.yaml
  bitnami/fluentd/values.yaml
Labels: verify, in-progress, fluentd

#13504 [bitnami/redis] Allow auth.existingSecret to be templated
  bitnami/redis/Chart.yaml
  bitnami/redis/templates/_helpers.tpl
Labels: verify, in-progress, redis

#13514 bitnami/sealed-secrets Fix using serviceMonitor in sealed secrets
  bitnami/sealed-secrets/Chart.yaml
  bitnami/sealed-secrets/README.md
  bitnami/sealed-secrets/templates/service.yaml
  bitnami/sealed-secrets/templates/servicemonitor.yaml
  bitnami/sealed-secrets/values.yaml
Labels: verify, in-progress, sealed-secrets

#13507 [bitnami/cassandra] fix hardcord for statefulset
  bitnami/cassandra/Chart.yaml
  bitnami/cassandra/templates/statefulset.yaml
Labels: verify, in-progress, cassandra

#13464 [bitnami/wavefront-prometheus-storage-adapter] Add tests and publish VIB
  .github/workflows/cd-pipeline.yml
  .vib/wavefront-prometheus-storage-adapter/ginkgo/go.mod
  .vib/wavefront-prometheus-storage-adapter/ginkgo/go.sum
  .vib/wavefront-prometheus-storage-adapter/ginkgo/integration_suite_test.go
  .vib/wavefront-prometheus-storage-adapter/ginkgo/wavefront_prometheus_storage_adapter_test.go
  .vib/wavefront-prometheus-storage-adapter/goss/goss.yaml
  .vib/wavefront-prometheus-storage-adapter/goss/vars.yaml
  .vib/wavefront-prometheus-storage-adapter/vib-publish.json
  .vib/wavefront-prometheus-storage-adapter/vib-verify.json
Labels: verify, bitnami

#13512 [bitnami/nats] Add support for JetStream
  bitnami/nats/Chart.yaml
  bitnami/nats/README.md
  bitnami/nats/templates/_helpers.tpl
  bitnami/nats/templates/statefulset.yaml
  bitnami/nats/values.yaml
Labels: verify, in-progress, bitnami, nats

#13276 [bitnami/mongodb] stop overwriting custom env variable MONGODB_ADVERTISED_PORT_NUMBER
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/templates/replicaset/scripts-configmap.yaml
Labels: verify, in-progress, mongodb

#13432 [bitnami/jupyterhub] Add tests and publishing using VIB
  .github/workflows/cd-pipeline.yml
  .vib/jupyterhub/cypress/cypress.json
  .vib/jupyterhub/cypress/cypress/fixtures/notebook_template.ipynb
  .vib/jupyterhub/cypress/cypress/integration/jupyterhub_spec.js
  .vib/jupyterhub/cypress/cypress/support/commands.js
  .vib/jupyterhub/cypress/cypress/support/index.js
  .vib/jupyterhub/cypress/cypress/support/utils.js
  .vib/jupyterhub/goss/goss.yaml
  .vib/jupyterhub/goss/vars.yaml
  .vib/jupyterhub/vib-publish.json
  .vib/jupyterhub/vib-verify.json
Labels: verify, bitnami

#13506 [bitnami/solr] Add "app.kubernetes.io/component: solr" to matchLabels
  bitnami/solr/Chart.yaml
  bitnami/solr/templates/pdb.yaml
Labels: verify, in-progress, solr

#12873 [bitnami/thanos] Add prometheus alerts rules
  bitnami/thanos/Chart.yaml
  bitnami/thanos/README.md
  bitnami/thanos/templates/alert-rule/absent_rules.yml
  bitnami/thanos/templates/alert-rule/compaction.yml
  bitnami/thanos/templates/alert-rule/query.yml
  bitnami/thanos/templates/alert-rule/receive.yml
  bitnami/thanos/templates/alert-rule/replicate.yml
  bitnami/thanos/templates/alert-rule/ruler.yml
  bitnami/thanos/templates/alert-rule/sidecar.yml
  bitnami/thanos/templates/alert-rule/store_gateway.yml
  bitnami/thanos/values.yaml
Labels: verify, in-progress, thanos

#13329 [bitnami/argo-workflows] Add tests and publishing using VIB
  .github/workflows/cd-pipeline.yml
  .vib/argo-workflows/cypress/cypress.json
  .vib/argo-workflows/cypress/cypress/fixtures/workflow-template.json
  .vib/argo-workflows/cypress/cypress/integration/argo_workflows_spec.js
  .vib/argo-workflows/cypress/cypress/support/commands.js
  .vib/argo-workflows/cypress/cypress/support/index.js
  .vib/argo-workflows/cypress/cypress/support/utils.js
  .vib/argo-workflows/vib-publish.json
  .vib/argo-workflows/vib-verify.json
  bitnami/argo-workflows/Chart.yaml
  bitnami/argo-workflows/templates/_helpers.tpl
  bitnami/argo-workflows/templates/controller/aggregate-cluster-roles.yaml
  bitnami/argo-workflows/templates/controller/clusterrolebinding.yaml
  bitnami/argo-workflows/templates/controller/controller-cluster-roles.yaml
  bitnami/argo-workflows/templates/server/cluster-role.yaml
  bitnami/argo-workflows/templates/server/clusterrolebinding.yaml
Labels: verify, argo-workflows, bitnami

#13528 [bitnami/fluentd] fix apiversion hardcode for statefulset
  bitnami/fluentd/Chart.yaml
  bitnami/fluentd/templates/aggregator-hpa.yaml
  bitnami/fluentd/templates/aggregator-statefulset.yaml
Labels: verify, in-progress, fluentd

#13555 [bitnami/spark] fix apiversion hardcode for statefulset
  bitnami/spark/Chart.yaml
  bitnami/spark/templates/hpa-worker.yaml
  bitnami/spark/templates/statefulset-master.yaml
  bitnami/spark/templates/statefulset-worker.yaml
Labels: verify, in-progress, spark

#13542 [bitnami/thanos] fix apiversion hardcode for statefulset
  bitnami/thanos/Chart.yaml
  bitnami/thanos/templates/receive/statefulset.yaml
  bitnami/thanos/templates/storegateway/hpa-sharded.yaml
  bitnami/thanos/templates/storegateway/hpa.yaml
Labels: verify, in-progress, thanos

#13538 [bitnami/harbor]fix apiversion hardcode for statefulset
  bitnami/harbor/Chart.yaml
  bitnami/harbor/templates/trivy/trivy-sts.yaml
Labels: verify, in-progress, harbor

#13509 [bitnami/mariadb]: Add support for RuntimeClass
  bitnami/mariadb/Chart.yaml
  bitnami/mariadb/README.md
  bitnami/mariadb/templates/primary/statefulset.yaml
  bitnami/mariadb/templates/secondary/statefulset.yaml
  bitnami/mariadb/values.yaml
Labels: verify, in-progress, mariadb

#13545 [bitnami/redis-cluster] add support to disable persistence and add custom config
  bitnami/redis-cluster/Chart.yaml
  bitnami/redis-cluster/README.md
  bitnami/redis-cluster/templates/configmap.yaml
  bitnami/redis-cluster/templates/redis-statefulset.yaml
  bitnami/redis-cluster/values.yaml
Labels: verify, in-progress, redis-cluster

#13565 [bitnami/nats] fix apiversion hardcode for statefulset
  bitnami/nats/Chart.yaml
  bitnami/nats/templates/statefulset.yaml
Labels: verify, in-progress, nats

#13577 [bitnami/argo-workflows] Fixes sso parameters rendering
  bitnami/argo-workflows/Chart.yaml
  bitnami/argo-workflows/README.md
  bitnami/argo-workflows/values.yaml
Labels: verify, argo-workflows, bitnami

#13527 [bitnami/kube-prometheus] Support prometheus-operator namespace allowlist. (#13525)
  bitnami/kube-prometheus/Chart.yaml
  bitnami/kube-prometheus/README.md
  bitnami/kube-prometheus/templates/prometheus-operator/deployment.yaml
  bitnami/kube-prometheus/values.yaml
Labels: verify, in-progress, kube-prometheus

#13508 [bitnami/mysql]: Add support for RuntimeClass
  bitnami/mysql/Chart.yaml
  bitnami/mysql/README.md
  bitnami/mysql/templates/primary/statefulset.yaml
  bitnami/mysql/templates/secondary/statefulset.yaml
  bitnami/mysql/values.yaml
Labels: verify, in-progress, mysql

#13585 [bitnami/nginx-ingress-controller] Update image with logs to stdout/stderr
  bitnami/nginx-ingress-controller/Chart.yaml
  bitnami/nginx-ingress-controller/README.md
  bitnami/nginx-ingress-controller/values.yaml
Labels: verify, bitnami, nginx-ingress-controller

#13563 [bitnami/rabbitmq]fix apiversion hardcode for statefulset
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/templates/statefulset.yaml
Labels: verify, in-progress, rabbitmq

#13558 [bitnami/mongodb] Add support for envvars in tls.extraDnsNames
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/templates/common-scripts-cm.yaml
Labels: verify, bitnami, mongodb

#13576 [bitnami/jupyterhub] fix apiversion hardcode for NetworkPolicy
  bitnami/jupyterhub/Chart.yaml
  bitnami/jupyterhub/templates/hub/networkpolicy.yaml
  bitnami/jupyterhub/templates/proxy/networkpolicy.yaml
  bitnami/jupyterhub/templates/singleuser/networkpolicy.yaml
Labels: verify, in-progress, jupyterhub

#13600 [bitnami/rabbitmq] fix apiversion hardcode for NetworkPolicy
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/templates/networkpolicy.yaml
Labels: verify, in-progress, rabbitmq

#13615 [binami/argo-cd] fix apiversion hardcode ClusterRoleBinding
  bitnami/argo-cd/Chart.yaml
  bitnami/argo-cd/templates/application-controller/clusterrolebinding.yaml
Labels: verify, in-progress, argo-cd

#13598 [bitnami/keycloak] fix apiversion hardcode for NetworkPolicy
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/templates/networkpolicy.yaml
Labels: verify, in-progress, keycloak

#13604 [bitnami/thanos] Fixed invalid go tmpl syntax in 2 thanos-store prometheus rules
  bitnami/thanos/Chart.yaml
  bitnami/thanos/templates/alert-rule/store_gateway.yml
Labels: verify, in-progress, thanos

#13616 [bitnami/argo-workflows] fix apiversion hardcode ClusterRoleBinding
  bitnami/argo-workflows/Chart.yaml
  bitnami/argo-workflows/templates/controller/clusterrolebinding.yaml
  bitnami/argo-workflows/templates/server/clusterrolebinding.yaml
Labels: verify, in-progress, argo-workflows

#13630 [bitnami/postgresql-ha] create serviceAccountName helper
  bitnami/postgresql-ha/Chart.yaml
  bitnami/postgresql-ha/templates/_helpers.tpl
  bitnami/postgresql-ha/templates/pgpool/deployment.yaml
  bitnami/postgresql-ha/templates/postgresql/statefulset.yaml
  bitnami/postgresql-ha/templates/serviceaccount.yaml
Labels: verify, in-progress, postgresql-ha

#13557 [bitnami/elasticsearch] fix wrong apiversion for statefulset
  bitnami/elasticsearch/Chart.yaml
  bitnami/elasticsearch/templates/coordinating/hpa.yaml
Labels: verify, in-progress, elasticsearch

#13599 [bitnami/minio] fix apiversion hardcode for NetworkPolicy
  bitnami/minio/Chart.yaml
  bitnami/minio/templates/networkpolicy.yaml
Labels: verify, in-progress, minio

#13628 [bitnami/pinniped] fix apiversion hardcode ClusterRoleBinding
  bitnami/pinniped/Chart.yaml
  bitnami/pinniped/templates/concierge/rbac.yaml
  bitnami/pinniped/templates/supervisor/rbac.yaml
Labels: verify, in-progress, pinniped

#13638 [bitnami/wavefront-hpa-adapter] fix apiversion hardcode ClusterRoleBinding
  bitnami/wavefront-hpa-adapter/Chart.yaml
  bitnami/wavefront-hpa-adapter/templates/custom-metrics-apiserver-auth-delegator-cluster-role-binding.yaml
  bitnami/wavefront-hpa-adapter/templates/custom-metrics-apiserver-resource-reader-cluster-role-binding.yaml
  bitnami/wavefront-hpa-adapter/templates/hpa-custom-metrics-cluster-role-binding.yaml
  bitnami/wavefront-hpa-adapter/templates/hpa-external-metrics-cluster-role-binding.yaml
Labels: verify, in-progress, wavefront-hpa-adapter

#13613 [bitnami/rabbitmq-cluster-operator] RabbitMQ messaging topology operator allow edit secrets in clusterrole (bitnami#13497)
  bitnami/rabbitmq-cluster-operator/Chart.yaml
  bitnami/rabbitmq-cluster-operator/templates/messaging-topology-operator/clusterrole.yaml
Labels: verify, in-progress, rabbitmq-cluster-operator

#13655 [bitnami/phpmyadmin]fix apiversion hardcode for deployment
  bitnami/phpmyadmin/Chart.yaml
  bitnami/phpmyadmin/templates/deployment.yaml
Labels: verify, in-progress, phpmyadmin

#13664 [bitnami/argo-cd] Use correct secret annotations in argocd-secret
  bitnami/argo-cd/Chart.yaml
  bitnami/argo-cd/templates/argocd-secret.yaml
Labels: verify, in-progress, argo-cd

#13656 [bitnami/grafana] fix apiversion hardcode for deployment
  bitnami/grafana/Chart.yaml
  bitnami/grafana/templates/deployment.yaml
  bitnami/grafana/templates/image-renderer-deployment.yaml
Labels: verify, in-progress, grafana

#13639 [bitnami/kubernetes-event-exporter]fix apiversion hardcode for Role
  bitnami/kubernetes-event-exporter/Chart.yaml
  bitnami/kubernetes-event-exporter/templates/rbac-leader-election.yaml
Labels: verify, in-progress, kubernetes-event-exporter

#13634 [bitnami/postgresql-ha]: fixes helm chart rendering when enabling metrics
  bitnami/postgresql-ha/Chart.yaml
  bitnami/postgresql-ha/templates/postgresql/metrics-service.yaml
  bitnami/postgresql-ha/templates/postgresql/servicemonitor.yaml
Labels: verify, in-progress, postgresql-ha

#13581 [bitnami/thanos] Set custom topology key for podAntiAffinityPreset
  bitnami/thanos/Chart.yaml
  bitnami/thanos/README.md
  bitnami/thanos/templates/query/deployment.yaml
  bitnami/thanos/values.yaml
Labels: verify, in-progress, thanos

#13679 [bitnami/grafana-loki] fix apiversion hardcode for deployment
  bitnami/grafana-loki/Chart.yaml
  bitnami/grafana-loki/templates/promtail/daemonset.yaml
Labels: verify, in-progress, grafana-loki

#13684 [bitnami/schema-registry] Reverse sort of dependencies in Chart.yaml
  bitnami/schema-registry/Chart.lock
  bitnami/schema-registry/Chart.yaml
Labels: verify, bitnami, schema-registry

#13689 [bitnami/harbor] fix apiversion hardcode for deployment
  bitnami/harbor/Chart.yaml
  bitnami/harbor/templates/notary/notary-server.yaml
  bitnami/harbor/templates/notary/notary-signer.yaml
Labels: verify, in-progress, harbor

#13593 [bitnami/common] fix common topology key affinity function
  bitnami/common/Chart.yaml
  bitnami/common/templates/_affinities.tpl
Labels: verify, in-progress, common

#13646 [bitnami/mongodb-sharded] fix rendering topologySpreadConstraints
  bitnami/mongodb-sharded/Chart.yaml
  bitnami/mongodb-sharded/templates/config-server/config-server-statefulset.yaml
  bitnami/mongodb-sharded/templates/mongos/mongos-dep-sts.yaml
Labels: verify, in-progress, mongodb-sharded

#13636 [bitnami/appsmith] feat: :tada: Add chart
  .github/workflows/cd-pipeline.yml
  .vib/appsmith/cypress/cypress.json
  .vib/appsmith/cypress/cypress/fixtures/user-settings.json
  .vib/appsmith/cypress/cypress/integration/appsmith_spec.js
  .vib/appsmith/cypress/cypress/support/commands.js
  .vib/appsmith/cypress/cypress/support/index.js
  .vib/appsmith/cypress/cypress/support/utils.js
  .vib/appsmith/goss/goss.yaml
  .vib/appsmith/goss/vars.yaml
  .vib/appsmith/vib-publish.json
  .vib/appsmith/vib-verify.json
  bitnami/appsmith/.helmignore
  bitnami/appsmith/Chart.lock
  bitnami/appsmith/Chart.yaml
  bitnami/appsmith/README.md
  bitnami/appsmith/templates/NOTES.txt
  bitnami/appsmith/templates/_helpers.tpl
  bitnami/appsmith/templates/backend/deployment.yaml
  bitnami/appsmith/templates/backend/externalredis-secret.yaml
  bitnami/appsmith/templates/backend/pvc.yaml
  bitnami/appsmith/templates/backend/secret.yaml
  bitnami/appsmith/templates/backend/service.yaml
  bitnami/appsmith/templates/client/deployment.yaml
  bitnami/appsmith/templates/client/ingress.yaml
  bitnami/appsmith/templates/client/service.yaml
  bitnami/appsmith/templates/client/tls-secret.yaml
  bitnami/appsmith/templates/externaldb-secrets.yaml
  bitnami/appsmith/templates/extra-list.yaml
  bitnami/appsmith/templates/rts/deployment.yaml
  bitnami/appsmith/templates/rts/service.yaml
  bitnami/appsmith/templates/service-account.yaml
  bitnami/appsmith/values.yaml
Labels: verify, bitnami, appsmith

#13690 [bitnami/gitea] feat: :tada: Add chart
  .github/workflows/cd-pipeline.yml
  .vib/gitea/cypress/cypress.json
  .vib/gitea/cypress/cypress/fixtures/repo.json
  .vib/gitea/cypress/cypress/integration/gitea_spec.js
  .vib/gitea/cypress/cypress/support/commands.js
  .vib/gitea/cypress/cypress/support/index.js
  .vib/gitea/cypress/cypress/support/utils.js
  .vib/gitea/goss/goss.yaml
  .vib/gitea/goss/vars.yaml
  .vib/gitea/vib-publish.json
  .vib/gitea/vib-verify.json
  bitnami/gitea/.helmignore
  bitnami/gitea/Chart.lock
  bitnami/gitea/Chart.yaml
  bitnami/gitea/README.md
  bitnami/gitea/templates/NOTES.txt
  bitnami/gitea/templates/_helpers.tpl
  bitnami/gitea/templates/deployment.yaml
  bitnami/gitea/templates/externaldb-secrets.yaml
  bitnami/gitea/templates/extra-list.yaml
  bitnami/gitea/templates/ingress.yaml
  bitnami/gitea/templates/pv.yaml
  bitnami/gitea/templates/pvc.yaml
  bitnami/gitea/templates/secrets.yaml
  bitnami/gitea/templates/service-account.yaml
  bitnami/gitea/templates/svc.yaml
  bitnami/gitea/templates/tls-secrets.yaml
  bitnami/gitea/values.yaml
Labels: verify, bitnami, gitea

#13584 [bitnami/mongodb-sharded] Evaluate *.persistence.subPath as a template
  bitnami/mongodb-sharded/Chart.yaml
  bitnami/mongodb-sharded/README.md
  bitnami/mongodb-sharded/templates/config-server/config-server-statefulset.yaml
  bitnami/mongodb-sharded/templates/shard/shard-data-statefulset.yaml
  bitnami/mongodb-sharded/values.yaml
Labels: verify, in-progress, mongodb-sharded

#13457 [bitnami/grafana-tempo] Add tests and publishing using VIB
  .github/workflows/cd-pipeline.yml
  .vib/grafana-tempo/cypress/cypress.json
  .vib/grafana-tempo/cypress/cypress/integration/grafana_tempo_spec.js
  .vib/grafana-tempo/ginkgo/go.mod
  .vib/grafana-tempo/ginkgo/go.sum
  .vib/grafana-tempo/ginkgo/grafana_tempo_test.go
  .vib/grafana-tempo/ginkgo/integration_suite_test.go
  .vib/grafana-tempo/goss/goss.yaml
  .vib/grafana-tempo/goss/vars.yaml
  .vib/grafana-tempo/vib-publish.json
  .vib/grafana-tempo/vib-verify.json
Labels: verify, bitnami

#13592 [bitnami/kafka] adding back rollingUpdate default setting
  bitnami/kafka/Chart.yaml
  bitnami/kafka/README.md
  bitnami/kafka/values.yaml
Labels: verify, in-progress, kafka

#13754 [bitnami/sonarqube] Add trademark information to SonarQube
  bitnami/sonarqube/Chart.yaml
  bitnami/sonarqube/README.md
  bitnami/sonarqube/templates/NOTES.txt
  bitnami/sonarqube/templates/_helpers.tpl
  bitnami/sonarqube/values.yaml
Labels: verify, bitnami, sonarqube

#13637 [bitnami/contour] adds missing RBAC to watch Gateway API ReferenceGrants
  bitnami/contour/Chart.yaml
  bitnami/contour/templates/contour/rbac.yaml
Labels: verify, in-progress, contour

#13734 [bitnami/sealed-secrets] Add tests and publishing using VIB
  .vib/sealed-secrets/cypress/cypress.json
  .vib/sealed-secrets/cypress/cypress/integration/sealed_secrets_spec.js
  .vib/sealed-secrets/ginkgo/go.mod
  .vib/sealed-secrets/ginkgo/go.sum
  .vib/sealed-secrets/ginkgo/integration_suite_test.go
  .vib/sealed-secrets/ginkgo/sealed_secrets_test.go
  .vib/sealed-secrets/vib-publish.json
  .vib/sealed-secrets/vib-verify.json
  bitnami/sealed-secrets/Chart.yaml
  bitnami/sealed-secrets/templates/clusterrole.yaml
  bitnami/sealed-secrets/templates/clusterrolebinding.yaml
  bitnami/sealed-secrets/templates/psp-clusterrole.yaml
  bitnami/sealed-secrets/templates/psp-clusterrolebinding.yaml
  bitnami/sealed-secrets/templates/psp.yaml
Labels: verify, bitnami, sealed-secrets

#13349 [bitnami/oauth2-proxy] Add tests and publishing using VIB
  .github/workflows/cd-pipeline.yml
  .vib/oauth2-proxy/cypress/cypress.json
  .vib/oauth2-proxy/cypress/cypress/integration/oauth2-proxy_spec.js
  .vib/oauth2-proxy/cypress/cypress/support/commands.js
  .vib/oauth2-proxy/cypress/cypress/support/index.js
  .vib/oauth2-proxy/goss/goss.yaml
  .vib/oauth2-proxy/goss/vars.yaml
  .vib/oauth2-proxy/vib-publish.json
  .vib/oauth2-proxy/vib-verify.json
Labels: verify, bitnami

#13733 [bitnami/postgresql-ha] Align postgresql and postgresql-ha secrets
  bitnami/postgresql-ha/Chart.yaml
  bitnami/postgresql-ha/templates/NOTES.txt
  bitnami/postgresql-ha/templates/pgpool/deployment.yaml
  bitnami/postgresql-ha/templates/postgresql/secrets.yaml
  bitnami/postgresql-ha/templates/postgresql/statefulset.yaml
Labels: verify, in-progress, postgresql-ha

#13765 [bitnami/kiam] Publish kiam using VIB
  .github/workflows/cd-pipeline.yml
Labels: verify, bitnami

#13682 [bitnami/kubeapps] Add tests and publishing using VIB
  .github/workflows/cd-pipeline.yml
  .vib/kubeapps/cypress/cypress.json
  .vib/kubeapps/cypress/cypress/fixtures/releases.json
  .vib/kubeapps/cypress/cypress/integration/kubeapps_spec.js
  .vib/kubeapps/cypress/cypress/support/commands.js
  .vib/kubeapps/cypress/cypress/support/index.js
  .vib/kubeapps/cypress/cypress/support/utils.js
  .vib/kubeapps/goss/goss.yaml
  .vib/kubeapps/goss/vars.yaml
  .vib/kubeapps/vib-publish.json
  .vib/kubeapps/vib-verify.json
Labels: verify, bitnami
