Repository bitnami/charts, pull requests merged in 2022-09, with the labels that each got.

#12242 [bitnami/*] Reduce CI complexity and improve UX for automated PRs
  .github/workflows/ci-pipeline.yaml
Labels: bitnami

#12237 [bitnami/haproxy-intel] Add tests
  .vib/haproxy-intel/cypress/cypress.json
  .vib/haproxy-intel/cypress/cypress/integration/haproxy-intel_spec.js
  .vib/haproxy-intel/goss/goss.yaml
  .vib/haproxy-intel/goss/vars.yaml
  .vib/haproxy-intel/vib-publish.json
  .vib/haproxy-intel/vib-verify.json
Labels: bitnami

#12240 [bitnami/nginx] Revisit nginx tests
  .vib/nginx/cypress/cypress.json
  .vib/nginx/cypress/cypress/integration/nginx_spec.js
  .vib/nginx/goss/goss.yaml
  .vib/nginx/goss/vars.yaml
  .vib/nginx/vib-publish.json
  .vib/nginx/vib-verify.json
Labels: bitnami

#12257 [bitnami/*]Use github token to reduce the number of labeled events
  .github/workflows/clossing-issues.yml
  .github/workflows/comments.yml
  .github/workflows/move-closed-issues.yml
  .github/workflows/moving-cards.yml
  .github/workflows/triage.yml
Labels: bitnami

#12233 [bitnami/jupyterhub] Change type singleuser.extraEnvVars type
  bitnami/jupyterhub/Chart.yaml
  bitnami/jupyterhub/README.md
  bitnami/jupyterhub/values.yaml
Labels: verify, jupyterhub

#11620 [bitnami/grafana] Moved Grafana DB validation to Notes
  bitnami/grafana/Chart.yaml
  bitnami/grafana/templates/NOTES.txt
  bitnami/grafana/templates/_helpers.tpl
Labels: verify, in-progress, grafana

#11247 [bitnami/pinniped] add support for hostNetwork
  bitnami/pinniped/Chart.yaml
  bitnami/pinniped/README.md
  bitnami/pinniped/templates/concierge/deployment.yaml
  bitnami/pinniped/values.yaml
Labels: verify, in-progress, pinniped

#11497 [bitnami/keycloak] Ensure the admin user env-var is set according to keycloak
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/templates/configmap-env-vars.yaml
Labels: in-progress, keycloak

#11740 [bitnami/jasperreports] Make database type configurable
  bitnami/jasperreports/Chart.yaml
  bitnami/jasperreports/README.md
  bitnami/jasperreports/templates/_helpers.tpl
  bitnami/jasperreports/templates/deployment.yaml
  bitnami/jasperreports/values.yaml
Labels: stale, in-progress, jasperreports

#11814 [bitnami/grafana] fix #11813 grafana crashes when persistence disabled
  bitnami/grafana/Chart.yaml
  bitnami/grafana/templates/deployment.yaml
Labels: in-progress, grafana

#11810 [bitnami/mariadb] Make metrics port in Service configurable
  bitnami/mariadb/Chart.yaml
  bitnami/mariadb/README.md
  bitnami/mariadb/templates/primary/svc.yaml
  bitnami/mariadb/templates/secondary/svc.yaml
  bitnami/mariadb/values.yaml
Labels: verify, in-progress, mariadb

#11805 [bitnami/kube-prometheus] Fix - non consistent nindent on alertmanager templates
  bitnami/kube-prometheus/Chart.yaml
  bitnami/kube-prometheus/templates/alertmanager/psp-clusterrole.yaml
  bitnami/kube-prometheus/templates/alertmanager/psp-clusterrolebinding.yaml
  bitnami/kube-prometheus/templates/alertmanager/psp.yaml
  bitnami/kube-prometheus/templates/alertmanager/service.yaml
Labels: verify, in-progress, kube-prometheus

#12258 Update README.md
  bitnami/oauth2-proxy/README.md
Labels: triage

#12231 [bitnami/cassandra] metrics Container - extraVolumeMounts option added
  bitnami/cassandra/Chart.yaml
  bitnami/cassandra/README.md
  bitnami/cassandra/templates/statefulset.yaml
  bitnami/cassandra/values.yaml
Labels: verify, in-progress, cassandra

#11549 [bitnami/thanos] Allowed to add labels to query-frontend service and storegateway PVC
  bitnami/thanos/Chart.yaml
  bitnami/thanos/README.md
  bitnami/thanos/templates/query-frontend/service.yaml
  bitnami/thanos/templates/storegateway/statefulset-sharded.yaml
  bitnami/thanos/templates/storegateway/statefulset.yaml
  bitnami/thanos/values.yaml
Labels: verify, in-progress, thanos

#12249 [bitnami/redis] Use consistent prometheusrules templating
  bitnami/redis/Chart.yaml
  bitnami/redis/templates/prometheusrule.yaml
Labels: verify, in-progress, redis

#12282 [bitnami/common] fix context for HPA util
  bitnami/common/Chart.yaml
  bitnami/common/templates/_capabilities.tpl
Labels: triage

#12134 [bitnami/minio]custom servicemonitor apiversion
  bitnami/minio/Chart.yaml
  bitnami/minio/README.md
  bitnami/minio/templates/servicemonitor.yaml
  bitnami/minio/values.yaml
Labels: verify, in-progress, minio

#12207 [bitnami/cassandra] Adjust the naming style for resources
  bitnami/cassandra/Chart.yaml
  bitnami/cassandra/templates/_helpers.tpl
  bitnami/cassandra/templates/cassandra-secret.yaml
  bitnami/cassandra/templates/headless-svc.yaml
  bitnami/cassandra/templates/statefulset.yaml
  bitnami/cassandra/templates/tls-secret.yaml
Labels: verify, in-progress, cassandra

#12286 [bitnami/wordpress] feat: :sparkles: Make WordPress container run in restricted Pod Security Standard
  bitnami/wordpress/Chart.yaml
  bitnami/wordpress/README.md
  bitnami/wordpress/values.yaml
Labels: verify, bitnami, wordpress

#12227 [bitnami/rabbitmq] Improve error handling message when memoryHighWatermark.enabled=true
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/templates/NOTES.txt
  bitnami/rabbitmq/templates/validation.yaml
Labels: verify, in-progress, rabbitmq

#12241 [bitnami/consul] Adjust the naming style for resources
  bitnami/consul/Chart.yaml
  bitnami/consul/templates/NOTES.txt
  bitnami/consul/templates/_helpers.tpl
  bitnami/consul/templates/configmap.yaml
  bitnami/consul/templates/consul-headless-service.yaml
  bitnami/consul/templates/gossip-secret.yaml
  bitnami/consul/templates/ingress.yaml
  bitnami/consul/templates/metrics-svc.yaml
  bitnami/consul/templates/service.yaml
  bitnami/consul/templates/servicemonitor.yaml
  bitnami/consul/templates/statefulset.yaml
  bitnami/consul/templates/tls-secrets.yaml
  bitnami/consul/values.yaml
Labels: verify, in-progress, consul

#12268 [bitnami/keycloak] Option to scrape extra monitoring endpoints and configure alerts
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/README.md
  bitnami/keycloak/templates/prometheusrule.yaml
  bitnami/keycloak/templates/servicemonitor.yaml
  bitnami/keycloak/values.yaml
Labels: verify, in-progress, keycloak

#12285 [bitnami/grafana-operator] update crds to 4.6.0
  bitnami/grafana-operator/Chart.yaml
  bitnami/grafana-operator/crds/grafanadashboards.integreatly.org.yaml
  bitnami/grafana-operator/crds/grafanadatasources.integreatly.org.yaml
  bitnami/grafana-operator/crds/grafananotificationchannels.integreatly.org.yaml
  bitnami/grafana-operator/crds/grafanas.integreatly.org.yaml
Labels: verify, in-progress, grafana-operator

#12145 [bitnami/elasticsearch] Ability to add extraHosts
  bitnami/elasticsearch/Chart.yaml
  bitnami/elasticsearch/README.md
  bitnami/elasticsearch/templates/_helpers.tpl
  bitnami/elasticsearch/values.yaml
Labels: verify, in-progress, elasticsearch

#12307 [bitnami/keycloak] Do not duplicate groups key in PrometheusRule
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/templates/prometheusrule.yaml
Labels: verify, in-progress, keycloak

#12327 [bitnami/rabbitmq] Bump chart version
  bitnami/rabbitmq/Chart.yaml
Labels: verify, bitnami, rabbitmq

#12267 [bitnami/mediawiki] Don't generate certificates if cert-manager annotation is found
  bitnami/mediawiki/Chart.yaml
  bitnami/mediawiki/templates/tls-secrets.yaml
Labels: verify, in-progress, mediawiki

#11838 [bitnami/kibana] Revisit Helm Chart tests
  .vib/kibana/cypress/cypress/fixtures/clusters.json
  .vib/kibana/cypress/cypress/fixtures/dashboards.json
  .vib/kibana/cypress/cypress/fixtures/visualizations.json
  .vib/kibana/cypress/cypress/fixtures/workpads.json
  .vib/kibana/cypress/cypress/integration/kibana_spec.js
  .vib/kibana/cypress/cypress/support/commands.js
  .vib/kibana/cypress/cypress/support/utils.js
  .vib/kibana/goss/goss.yaml
  .vib/kibana/goss/vars.yaml
  .vib/kibana/vib-publish.json
  .vib/kibana/vib-verify.json
Labels: bitnami, kibana

#12368 [bitnami/fluentd] Revert digest changes from #11884
  bitnami/fluentd/Chart.lock
  bitnami/fluentd/Chart.yaml
  bitnami/fluentd/README.md
  bitnami/fluentd/values.yaml
Labels: verify, bitnami, fluentd

#12372 [bitnami/common] Revert changes in HPA context from #12282
  bitnami/common/Chart.yaml
  bitnami/common/templates/_capabilities.tpl
Labels: bitnami

#12353 [bitnami/postgresql] Add labels to volume claim template
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/README.md
  bitnami/postgresql/templates/primary/statefulset.yaml
  bitnami/postgresql/templates/read/statefulset.yaml
  bitnami/postgresql/values.yaml
Labels: verify, triage

#12379 [bitnami/kube-prometheus] update nindent values for alertmanager
  bitnami/kube-prometheus/Chart.yaml
  bitnami/kube-prometheus/templates/alertmanager/ingress.yaml
  bitnami/kube-prometheus/templates/alertmanager/pdb.yaml
  bitnami/kube-prometheus/templates/alertmanager/psp-clusterrole.yaml
  bitnami/kube-prometheus/templates/alertmanager/psp-clusterrolebinding.yaml
  bitnami/kube-prometheus/templates/alertmanager/psp.yaml
  bitnami/kube-prometheus/templates/alertmanager/secrets.yaml
  bitnami/kube-prometheus/templates/alertmanager/service.yaml
Labels: verify, in-progress, kube-prometheus

#12351 [bitnami/cassandra] ReadinessProbes Timeouts for Metrics Container are now configurable
  bitnami/cassandra/Chart.yaml
  bitnami/cassandra/README.md
  bitnami/cassandra/templates/statefulset.yaml
  bitnami/cassandra/values.yaml
Labels: verify, in-progress, cassandra

#11850 [bitnami/pinniped] Fix ingerss supervisor
  bitnami/pinniped/Chart.yaml
  bitnami/pinniped/templates/supervisor/ingress.yaml
Labels: on-hold, verify, pinniped, bitnami

#12414 [bitnami/rabbitmq-cluster-operator] allow to change webhook port
  bitnami/rabbitmq-cluster-operator/Chart.yaml
  bitnami/rabbitmq-cluster-operator/templates/messaging-topology-operator/validating-webhook-configuration.yaml
Labels: verify, in-progress, rabbitmq-cluster-operator

#11853 [bitnami/kafka] Enable external access via cluster IP
  bitnami/kafka/Chart.yaml
  bitnami/kafka/README.md
  bitnami/kafka/templates/NOTES.txt
  bitnami/kafka/templates/_helpers.tpl
  bitnami/kafka/templates/scripts-configmap.yaml
  bitnami/kafka/values.yaml
Labels: in-progress, kafka

#12415 [bitnami/mongodb] Added variable for ipv6 in mongodb arbiter statefulset
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/templates/arbiter/statefulset.yaml
Labels: verify, in-progress, mongodb

#12355 [bitnami/thanos] Fix receive-distributor nodeAffinityPreset
  bitnami/thanos/Chart.yaml
  bitnami/thanos/templates/receive-distributor/deployment.yaml
Labels: verify, in-progress, thanos

#11757 [bitnami/redis] Add seperate serviceAccunts to master and replicas
  bitnami/redis/Chart.yaml
  bitnami/redis/README.md
  bitnami/redis/templates/_helpers.tpl
  bitnami/redis/templates/master/application.yaml
  bitnami/redis/templates/master/serviceaccount.yaml
  bitnami/redis/templates/replicas/serviceaccount.yaml
  bitnami/redis/templates/replicas/statefulset.yaml
  bitnami/redis/templates/serviceaccount.yaml
  bitnami/redis/values.yaml
Labels: verify, in-progress, redis

#12341 [bitnami/keycloak] initContainers and sidecars support for keycloak-config-cli job
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/README.md
  bitnami/keycloak/templates/keycloak-config-cli-job.yaml
  bitnami/keycloak/values.yaml
Labels: verify, in-progress, keycloak

#12404 [bitnami/thanos] Add support for HTTPS and basic auth experimental settings
  bitnami/thanos/Chart.yaml
  bitnami/thanos/README.md
  bitnami/thanos/templates/_helpers.tpl
  bitnami/thanos/templates/bucketweb/deployment.yaml
  bitnami/thanos/templates/compactor/deployment.yaml
  bitnami/thanos/templates/http-certs-secret.yaml
  bitnami/thanos/templates/httpconfig-secret.yaml
  bitnami/thanos/templates/query-frontend/deployment.yaml
  bitnami/thanos/templates/query/deployment.yaml
  bitnami/thanos/templates/receive-distributor/deployment.yaml
  bitnami/thanos/templates/receive/statefulset.yaml
  bitnami/thanos/templates/ruler/statefulset.yaml
  bitnami/thanos/templates/storegateway/statefulset-sharded.yaml
  bitnami/thanos/templates/storegateway/statefulset.yaml
  bitnami/thanos/values.yaml
Labels: verify, bitnami, thanos

#12417 [bitnami/grafana-loki] Add overrideConfiguration to override templated loki configuration
  bitnami/grafana-loki/Chart.lock
  bitnami/grafana-loki/Chart.yaml
  bitnami/grafana-loki/README.md
  bitnami/grafana-loki/templates/loki-configmap.yaml
  bitnami/grafana-loki/values.yaml
Labels: verify, in-progress, grafana-loki

#12311 [bitnami/etcd] Disallowing privilege escalation for etcd
  bitnami/etcd/Chart.yaml
  bitnami/etcd/README.md
  bitnami/etcd/values.yaml
Labels: verify, in-progress, etcd

#12159 [bitnami/drupal] Add Cypress and Goss tests to Drupal Chart
  .github/workflows/cd-pipeline.yaml
  .vib/drupal/cypress/cypress.json
  .vib/drupal/cypress/cypress/fixtures/articles.json
  .vib/drupal/cypress/cypress/fixtures/images/test_image.jpeg
  .vib/drupal/cypress/cypress/integration/drupal_spec.js
  .vib/drupal/cypress/cypress/support/commands.js
  .vib/drupal/cypress/cypress/support/index.js
  .vib/drupal/cypress/cypress/support/utils.js
  .vib/drupal/goss/goss.yaml
  .vib/drupal/goss/vars.yaml
  .vib/drupal/vib-publish.json
  .vib/drupal/vib-verify.json
Labels: verify, bitnami

#12349 [bitnami/elasticsearch] Configurable servicenames
  bitnami/elasticsearch/Chart.yaml
  bitnami/elasticsearch/README.md
  bitnami/elasticsearch/templates/_helpers.tpl
  bitnami/elasticsearch/templates/coordinating/statefulset.yaml
  bitnami/elasticsearch/templates/coordinating/svc-headless.yaml
  bitnami/elasticsearch/templates/data/statefulset.yaml
  bitnami/elasticsearch/templates/data/svc-headless.yaml
  bitnami/elasticsearch/templates/ingest/statefulset.yaml
  bitnami/elasticsearch/templates/ingest/svc-headless.yaml
  bitnami/elasticsearch/templates/master/statefulset.yaml
  bitnami/elasticsearch/templates/master/svc-headless.yaml
  bitnami/elasticsearch/templates/tls-secret.yaml
  bitnami/elasticsearch/values.yaml
Labels: verify, in-progress, elasticsearch

#12369 [bitnami/parse] Add tests and publish using VIB
  .github/workflows/cd-pipeline.yaml
  .vib/parse/cypress/cypress.json
  .vib/parse/cypress/cypress/fixtures/high_score_stats.json
  .vib/parse/cypress/cypress/integration/parse_spec.js
  .vib/parse/cypress/cypress/support/utils.js
  .vib/parse/goss/dashboard/goss.yaml
  .vib/parse/goss/dashboard/vars.yaml
  .vib/parse/goss/server/goss.yaml
  .vib/parse/goss/server/vars.yaml
  .vib/parse/vib-publish.json
  .vib/parse/vib-verify.json
Labels: bitnami

#12305 [bitnami/consul] Disallowing privilege escalation
  bitnami/consul/Chart.yaml
  bitnami/consul/README.md
  bitnami/consul/values.yaml
Labels: verify, in-progress, consul

#12169 [bitnami/kafka] Fix KAFKA_CFG_LOG_RETENTION_CHECK_INTERVALS_MS typo
  bitnami/kafka/Chart.yaml
  bitnami/kafka/templates/statefulset.yaml
Labels: stale, verify, kafka, bitnami

#12175 [bitnami/fluentd] feat: allow setting `hostNetwork` and `dnsPolicy` for forwarder
  bitnami/fluentd/Chart.yaml
  bitnami/fluentd/README.md
  bitnami/fluentd/templates/forwarder-daemonset.yaml
  bitnami/fluentd/templates/forwarder-psp.yaml
  bitnami/fluentd/values.yaml
Labels: verify, in-progress, fluentd

#12019 [bitnami/etcd] Reuse etcd jwt token while upgrade
  bitnami/etcd/Chart.yaml
  bitnami/etcd/templates/_helpers.tpl
  bitnami/etcd/templates/token-secrets.yaml
Labels: verify, in-progress, etcd

#12443 [bitnami/mysql] change default bind-address to * in mysql configuration (for enabling ipv6)
  bitnami/mysql/Chart.yaml
  bitnami/mysql/values.yaml
Labels: verify, in-progress, mysql

#12431 [bitnami/external-dns] Add support for Akamai provider
  bitnami/external-dns/Chart.yaml
  bitnami/external-dns/README.md
  bitnami/external-dns/templates/_helpers.tpl
  bitnami/external-dns/templates/deployment.yaml
  bitnami/external-dns/templates/secret.yaml
  bitnami/external-dns/values.yaml
Labels: verify, in-progress, external-dns

#12427 [bitnami/mongodb] Revisit tests
  .vib/mongodb/goss/goss.yaml
  .vib/mongodb/goss/vars.yaml
  .vib/mongodb/vib-publish.json
  .vib/mongodb/vib-verify.json
Labels: bitnami

#12406 [bitnami/mariadb-galera] Add tests and publishing using VIB
  .github/workflows/cd-pipeline.yaml
  .vib/mariadb-galera/goss/goss.yaml
  .vib/mariadb-galera/goss/vars.yaml
  .vib/mariadb-galera/vib-publish.json
  .vib/mariadb-galera/vib-verify.json
Labels: bitnami

#12563 [bitnami/thanos] Use custom probes if given
  bitnami/thanos/Chart.yaml
  bitnami/thanos/templates/bucketweb/deployment.yaml
  bitnami/thanos/templates/compactor/deployment.yaml
  bitnami/thanos/templates/query-frontend/deployment.yaml
  bitnami/thanos/templates/query/deployment.yaml
  bitnami/thanos/templates/receive-distributor/deployment.yaml
  bitnami/thanos/templates/receive/statefulset.yaml
  bitnami/thanos/templates/ruler/statefulset.yaml
  bitnami/thanos/templates/storegateway/statefulset-sharded.yaml
  bitnami/thanos/templates/storegateway/statefulset.yaml
Labels: verify, triage

#12569 [bitnami/wordpress] Use custom probes if given
  bitnami/wordpress/Chart.yaml
  bitnami/wordpress/templates/deployment.yaml
Labels: verify, triage

#12564 [bitnami/tomcat] Use custom probes if given
  bitnami/tomcat/Chart.yaml
  bitnami/tomcat/templates/_pod.tpl
Labels: verify, triage

#12555 [bitnami/schema-registry] Use custom probes if given
  bitnami/schema-registry/Chart.yaml
  bitnami/schema-registry/templates/statefulset.yaml
Labels: verify, triage

#12560 [bitnami/spring-cloud-dataflow] Use custom probes if given
  bitnami/spring-cloud-dataflow/Chart.yaml
  bitnami/spring-cloud-dataflow/templates/server/deployment.yaml
  bitnami/spring-cloud-dataflow/templates/skipper/deployment.yaml
Labels: verify, triage

#12574 [bitnami/redis-cluster] Use custom probes if given
  bitnami/redis-cluster/Chart.yaml
  bitnami/redis-cluster/templates/redis-statefulset.yaml
Labels: verify, triage

#12573 [template] Use custom probes if given
  template/CHART_NAME/templates/daemonset.yaml
  template/CHART_NAME/templates/deployment.yaml
  template/CHART_NAME/templates/statefulset.yaml
Labels: verify, triage

#12542 [bitnami/osclass] Use custom probes if given
  bitnami/osclass/Chart.yaml
  bitnami/osclass/templates/deployment.yaml
Labels: verify, triage

#12537 [bitnami/node] Use custom probes if given
  bitnami/node/Chart.yaml
  bitnami/node/templates/deployment.yaml
Labels: verify, triage

#12518 [bitnami/logstash] Use custom probes if given
  bitnami/logstash/Chart.yaml
  bitnami/logstash/templates/sts.yaml
Labels: verify, in-progress, logstash

#12509 [bitnami/jupyterhub] Use custom probes if given
  bitnami/jupyterhub/Chart.yaml
  bitnami/jupyterhub/templates/hub/deployment.yaml
  bitnami/jupyterhub/templates/proxy/deployment.yaml
Labels: verify, in-progress, jupyterhub

#12535 [bitnami/nginx-ingress-controller] Use custom probes if given
  bitnami/nginx-ingress-controller/Chart.yaml
  bitnami/nginx-ingress-controller/templates/controller-daemonset.yaml
  bitnami/nginx-ingress-controller/templates/controller-deployment.yaml
  bitnami/nginx-ingress-controller/templates/default-backend-deployment.yaml
Labels: verify, triage

#12347 [bitnami/etcd] Make ETCD_LOG_LEVEL a parameter
  bitnami/etcd/Chart.yaml
  bitnami/etcd/README.md
  bitnami/etcd/templates/statefulset.yaml
  bitnami/etcd/values.yaml
Labels: verify, in-progress, etcd

#12533 [bitnami/nats] Use custom probes if given
  bitnami/nats/Chart.yaml
  bitnami/nats/templates/deployment.yaml
  bitnami/nats/templates/statefulset.yaml
Labels: verify, triage

#12493 [bitnami/elasticsearch] Use custom probes if given
  bitnami/elasticsearch/Chart.yaml
  bitnami/elasticsearch/templates/coordinating/statefulset.yaml
  bitnami/elasticsearch/templates/data/statefulset.yaml
  bitnami/elasticsearch/templates/ingest/statefulset.yaml
  bitnami/elasticsearch/templates/master/statefulset.yaml
  bitnami/elasticsearch/templates/metrics/deployment.yaml
Labels: verify, triage

#12505 [bitnami/influxdb] Use custom probes if given
  bitnami/influxdb/Chart.yaml
  bitnami/influxdb/templates/deployment.yaml
Labels: verify, triage

#12528 [bitnami/mongodb] Use custom probes if given
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/templates/arbiter/statefulset.yaml
  bitnami/mongodb/templates/hidden/statefulset.yaml
  bitnami/mongodb/templates/replicaset/statefulset.yaml
  bitnami/mongodb/templates/standalone/dep-sts.yaml
Labels: verify, triage

#12507 [bitnami/jenkins] Use custom probes if given
  bitnami/jenkins/Chart.yaml
  bitnami/jenkins/templates/deployment.yaml
Labels: verify, triage

#12515 [bitnami/kube-prometheus] Use custom probes if given
  bitnami/kube-prometheus/Chart.yaml
  bitnami/kube-prometheus/templates/blackbox-exporter/deployment.yaml
  bitnami/kube-prometheus/templates/prometheus-operator/deployment.yaml
Labels: verify, triage

#12519 [bitnami/magento] Use custom probes if given
  bitnami/magento/Chart.yaml
  bitnami/magento/templates/deployment.yaml
Labels: verify, triage

#12532 [bitnami/mysql] Use custom probes if given
  bitnami/mysql/Chart.yaml
  bitnami/mysql/templates/primary/statefulset.yaml
  bitnami/mysql/templates/secondary/statefulset.yaml
Labels: verify, triage

#12529 [bitnami/mongodb-sharded] Use custom probes if given
  bitnami/mongodb-sharded/Chart.yaml
  bitnami/mongodb-sharded/templates/config-server/config-server-statefulset.yaml
  bitnami/mongodb-sharded/templates/mongos/mongos-dep-sts.yaml
  bitnami/mongodb-sharded/templates/shard/shard-arbiter-statefulset.yaml
  bitnami/mongodb-sharded/templates/shard/shard-data-statefulset.yaml
Labels: verify, triage

#12543 [bitnami/owncloud] Use custom probes if given
  bitnami/owncloud/Chart.yaml
  bitnami/owncloud/templates/deployment.yaml
Labels: verify, triage

#12552 [bitnami/rabbitmq-cluster-operator] Use custom probes if given
  bitnami/rabbitmq-cluster-operator/Chart.yaml
  bitnami/rabbitmq-cluster-operator/templates/cluster-operator/deployment.yaml
  bitnami/rabbitmq-cluster-operator/templates/messaging-topology-operator/deployment.yaml
Labels: verify, triage

#12556 [bitnami/sealed-secrets] Use custom probes if given
  bitnami/sealed-secrets/Chart.yaml
  bitnami/sealed-secrets/templates/deployment.yaml
Labels: verify, triage

#12540 [bitnami/odoo] Use custom probes if given
  bitnami/odoo/Chart.yaml
  bitnami/odoo/templates/deployment.yaml
Labels: verify, triage

#12566 [bitnami/wavefront-hpa-adapter] Use custom probes if given
  bitnami/wavefront-hpa-adapter/Chart.yaml
  bitnami/wavefront-hpa-adapter/templates/custom-metrics-apiserver-deployment.yaml
Labels: verify, triage

#12576 [bitnami/cassandra] Cassandra exporter doesn't allow custom ports
  bitnami/cassandra/Chart.yaml
  bitnami/cassandra/README.md
  bitnami/cassandra/templates/_helpers.tpl
  bitnami/cassandra/templates/metrics-configmap.yaml
  bitnami/cassandra/templates/statefulset.yaml
  bitnami/cassandra/values.yaml
Labels: verify, bitnami

#12549 [bitnami/postgresql-ha] Use custom probes if given
  bitnami/postgresql-ha/Chart.yaml
  bitnami/postgresql-ha/templates/pgpool/deployment.yaml
  bitnami/postgresql-ha/templates/postgresql/statefulset.yaml
Labels: verify, in-progress, postgresql-ha

#12568 [bitnami/wildfly] Use custom probes if given
  bitnami/wildfly/Chart.yaml
  bitnami/wildfly/templates/deployment.yaml
Labels: verify, in-progress, wildfly

#12503 [bitnami/haproxy] Use custom probes if given
  bitnami/haproxy/Chart.yaml
  bitnami/haproxy/templates/deployment.yaml
Labels: verify, in-progress, haproxy

#12553 [bitnami/redis] Use custom probes if given
  bitnami/redis/Chart.yaml
  bitnami/redis/templates/master/application.yaml
  bitnami/redis/templates/replicas/statefulset.yaml
  bitnami/redis/templates/sentinel/statefulset.yaml
Labels: verify, triage

#12559 [bitnami/spark] Use custom probes if given
  bitnami/spark/Chart.yaml
  bitnami/spark/templates/statefulset-master.yaml
  bitnami/spark/templates/statefulset-worker.yaml
Labels: verify, triage

#12523 [bitnami/mediawiki] Use custom probes if given
  bitnami/mediawiki/Chart.yaml
  bitnami/mediawiki/templates/deployment.yaml
Labels: verify, triage, mediawiki

#12530 [bitnami/moodle] Use custom probes if given
  bitnami/moodle/Chart.yaml
  bitnami/moodle/templates/deployment.yaml
Labels: verify, triage, moodle

#12534 [bitnami/nginx] Use custom probes if given
  bitnami/nginx/Chart.yaml
  bitnami/nginx/templates/deployment.yaml
Labels: verify, nginx, triage

#12536 [bitnami/nginx-intel] Use custom probes if given
  bitnami/nginx-intel/Chart.yaml
  bitnami/nginx-intel/templates/deployment.yaml
Labels: verify, triage, nginx-intel

#12457 [bitnami/mongodb-sharded] Add tests and publishing using VIB
  .github/workflows/cd-pipeline.yaml
  .vib/mongodb-sharded/goss/goss.yaml
  .vib/mongodb-sharded/goss/vars.yaml
  .vib/mongodb-sharded/vib-publish.json
  .vib/mongodb-sharded/vib-verify.json
Labels: bitnami

#12511 [bitnami/keycloak] Use custom probes if given
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/templates/statefulset.yaml
Labels: verify, in-progress, keycloak

#12512 [bitnami/kiam] Use custom probes if given
  bitnami/kiam/Chart.yaml
  bitnami/kiam/templates/agent/agent-daemonset.yaml
  bitnami/kiam/templates/server/server-daemonset.yaml
  bitnami/kiam/templates/server/server-deployment.yaml
Labels: verify, in-progress, kiam

#12460 [bitnami/logstash] Add tests and publishing using VIB
  .github/workflows/cd-pipeline.yaml
  .vib/logstash/cypress/cypress.json
  .vib/logstash/cypress/cypress/integration/logstash_spec.js
  .vib/logstash/goss/goss.yaml
  .vib/logstash/goss/vars.yaml
  .vib/logstash/vib-publish.json
  .vib/logstash/vib-verify.json
Labels: bitnami

#12527 [bitnami/minio] Use custom probes if given
  bitnami/minio/Chart.yaml
  bitnami/minio/templates/distributed/statefulset.yaml
  bitnami/minio/templates/gateway/deployment.yaml
  bitnami/minio/templates/standalone/deployment.yaml
Labels: in-progress, minio

#12565 [bitnami/wavefront] Use custom probes if given
  bitnami/wavefront/Chart.yaml
  bitnami/wavefront/templates/proxy-deployment.yaml
Labels: verify, in-progress, wavefront

#12481 [bitnami/argo-workflows] Use custom probes if given
  bitnami/argo-workflows/Chart.yaml
  bitnami/argo-workflows/templates/controller/deployment.yaml
  bitnami/argo-workflows/templates/server/deployment.yaml
Labels: verify, triage

#12489 [bitnami/discourse] Use custom probes if given
  bitnami/discourse/Chart.yaml
  bitnami/discourse/templates/deployment.yaml
Labels: verify, triage

#12508 [bitnami/joomla] Use custom probes if given
  bitnami/joomla/Chart.yaml
  bitnami/joomla/templates/deployment.yaml
Labels: verify, triage

#12504 [bitnami/harbor] Use custom probes if given
  bitnami/harbor/Chart.yaml
  bitnami/harbor/templates/chartmuseum/chartmuseum-dpl.yaml
  bitnami/harbor/templates/core/core-dpl.yaml
  bitnami/harbor/templates/exporter/exporter-dpl.yaml
  bitnami/harbor/templates/jobservice/jobservice-dpl.yaml
  bitnami/harbor/templates/nginx/deployment.yaml
  bitnami/harbor/templates/notary/notary-server.yaml
  bitnami/harbor/templates/notary/notary-signer.yaml
  bitnami/harbor/templates/portal/portal-dpl.yaml
  bitnami/harbor/templates/registry/registry-dpl.yaml
  bitnami/harbor/templates/trivy/trivy-sts.yaml
Labels: verify, triage

#12496 [bitnami/fluentd] Use custom probes if given
  bitnami/fluentd/Chart.yaml
  bitnami/fluentd/templates/aggregator-statefulset.yaml
  bitnami/fluentd/templates/forwarder-daemonset.yaml
Labels: verify, triage

#12517 [bitnami/kubeapps] Use custom probes if given
  bitnami/kubeapps/Chart.yaml
  bitnami/kubeapps/templates/dashboard/deployment.yaml
  bitnami/kubeapps/templates/frontend/deployment.yaml
  bitnami/kubeapps/templates/kubeappsapis/deployment.yaml
  bitnami/kubeapps/templates/kubeops/deployment.yaml
Labels: verify, in-progress, kubeapps

#12522 [bitnami/matomo] Use custom probes if given
  bitnami/matomo/Chart.yaml
  bitnami/matomo/templates/deployment.yaml
Labels: verify, in-progress, matomo

#12438 [bitnami/apache] Use custom probes if given
  bitnami/apache/Chart.yaml
  bitnami/apache/templates/deployment.yaml
Labels: verify, in-progress, apache

#12485 [bitnami/concourse] Use custom probes if given
  bitnami/concourse/Chart.yaml
  bitnami/concourse/templates/web/deployment.yaml
  bitnami/concourse/templates/worker/deployment.yaml
  bitnami/concourse/templates/worker/statefulset.yaml
Labels: verify, in-progress, concourse

#12437 [bitnami/airflow] Use custom probes if given
  bitnami/airflow/Chart.yaml
  bitnami/airflow/templates/config/configmap.yaml
  bitnami/airflow/templates/web/deployment.yaml
  bitnami/airflow/templates/worker/statefulset.yaml
Labels: verify, in-progress, airflow

#12482 [bitnami/aspnet-core] Use custom probes if given
  bitnami/aspnet-core/Chart.yaml
  bitnami/aspnet-core/templates/deployment.yaml
Labels: verify, in-progress, aspnet-core

#12525 [bitnami/metallb] Use custom probes if given
  bitnami/metallb/Chart.yaml
  bitnami/metallb/templates/controller/deployment.yaml
  bitnami/metallb/templates/speaker/daemonset.yaml
Labels: verify, in-progress, metallb

#12541 [bitnami/opencart] Use custom probes if given
  bitnami/opencart/Chart.yaml
  bitnami/opencart/templates/deployment.yaml
Labels: verify, in-progress, opencart

#12524 [bitnami/memcached] Use custom probes if given
  bitnami/memcached/Chart.yaml
  bitnami/memcached/templates/deployment.yaml
  bitnami/memcached/templates/statefulset.yaml
Labels: verify, in-progress, memcached

#12497 [bitnami/geode] Use custom probes if given
  bitnami/geode/Chart.yaml
  bitnami/geode/templates/locator/statefulset.yaml
  bitnami/geode/templates/server/statefulset.yaml
Labels: verify, in-progress, geode

#12492 [bitnami/ejbca] Use custom probes if given
  bitnami/ejbca/Chart.yaml
  bitnami/ejbca/templates/deployment.yaml
Labels: verify, in-progress, ejbca

#12483 [bitnami/cassandra] Use custom probes if given
  bitnami/cassandra/Chart.yaml
  bitnami/cassandra/templates/statefulset.yaml
Labels: verify, in-progress, cassandra

#12609 [bitnami/ghost] cypress: Remove 'wait for save' during post creation test
  .vib/ghost/cypress/cypress/integration/ghost_spec.js
Labels: bitnami

#12608 [bitnami/grafana-loki] Fix Loki gateway service name reference in gateway ingress
  bitnami/grafana-loki/Chart.yaml
  bitnami/grafana-loki/templates/gateway/ingress.yaml
Labels: verify, in-progress, grafana-loki

#12458 [bitnami/spring-cloud-dataflow] Revisit tests
  .vib/spring-cloud-dataflow/cypress/cypress/fixtures/applications.json
  .vib/spring-cloud-dataflow/cypress/cypress/fixtures/imports.json
  .vib/spring-cloud-dataflow/cypress/cypress/fixtures/schedules.json
  .vib/spring-cloud-dataflow/cypress/cypress/fixtures/streams.json
  .vib/spring-cloud-dataflow/cypress/cypress/fixtures/task-to-import.json
  .vib/spring-cloud-dataflow/cypress/cypress/fixtures/tasks.json
  .vib/spring-cloud-dataflow/cypress/cypress/integration/spring_cloud_dataflow_spec.js
  .vib/spring-cloud-dataflow/cypress/cypress/support/prepare_app_state.js
  .vib/spring-cloud-dataflow/cypress/cypress/support/utils.js
  .vib/spring-cloud-dataflow/goss/goss.yaml
  .vib/spring-cloud-dataflow/goss/vars.yaml
  .vib/spring-cloud-dataflow/vib-publish.json
  .vib/spring-cloud-dataflow/vib-verify.json
Labels: bitnami

#12571 [bitnami/zookeeper] Use custom probes if given
  bitnami/zookeeper/Chart.yaml
  bitnami/zookeeper/templates/statefulset.yaml
Labels: verify, in-progress, zookeeper

#12484 [bitnami/cert-manager] Use custom probes if given
  bitnami/cert-manager/Chart.yaml
  bitnami/cert-manager/templates/webhook/deployment.yaml
Labels: verify, in-progress, cert-manager

#12494 [bitnami/etcd] Use custom probes if given
  bitnami/etcd/Chart.yaml
  bitnami/etcd/templates/statefulset.yaml
Labels: verify, in-progress, etcd

#12622 [bitnami/*] Split workflow responsibilites
  .github/workflows/.env
  .github/workflows/cd-pipeline.yml
  .github/workflows/ci-pipeline-extra-redis.yml
  .github/workflows/ci-pipeline-extra-thanos.yml
  .github/workflows/ci-pipeline.yml
  .github/workflows/comments.yml
  .github/workflows/move-closed-issues.yml
  .github/workflows/moving-cards.yml
  .github/workflows/stale.yml
  .github/workflows/triage.yml
  README.md
Labels: verify, bitnami

#12636 [bitnami/*] Fix dependency in ci-workflow.yml
  .github/workflows/ci-pipeline.yml
Labels: verify, bitnami

#12547 [bitnami/pinniped] Use custom probes if given
  bitnami/pinniped/Chart.yaml
  bitnami/pinniped/templates/concierge/deployment.yaml
  bitnami/pinniped/templates/supervisor/deployment.yaml
Labels: verify, in-progress, pinniped

#12514 [bitnami/kong] Use custom probes if given
  bitnami/kong/Chart.yaml
  bitnami/kong/templates/dep-ds.yaml
Labels: verify, in-progress, kong

#12516 [bitnami/kube-state-metrics] Use custom probes if given
  bitnami/kube-state-metrics/Chart.yaml
  bitnami/kube-state-metrics/templates/deployment.yaml
Labels: verify, in-progress, kube-state-metrics

#12538 [bitnami/node-exporter] Use custom probes if given
  bitnami/node-exporter/Chart.yaml
  bitnami/node-exporter/templates/daemonset.yaml
Labels: verify, in-progress, node-exporter

#12550 [bitnami/prestashop] Use custom probes if given
  bitnami/prestashop/Chart.yaml
  bitnami/prestashop/templates/deployment.yaml
Labels: verify, in-progress, prestashop

#12578 [bitnami/concourse] Add tests and publishing using VIB
  .github/workflows/cd-pipeline.yml
  .vib/concourse/cypress/cypress.json
  .vib/concourse/cypress/cypress/integration/concourse_spec.js
  .vib/concourse/cypress/cypress/support/commands.js
  .vib/concourse/cypress/cypress/support/index.js
  .vib/concourse/goss/web/goss.yaml
  .vib/concourse/goss/web/vars.yaml
  .vib/concourse/goss/worker/goss.yaml
  .vib/concourse/goss/worker/vars.yaml
  .vib/concourse/vib-publish.json
  .vib/concourse/vib-verify.json
  bitnami/concourse/Chart.yaml
  bitnami/concourse/templates/_helpers.tpl
  bitnami/concourse/templates/web/podsecuritypolicy.yaml
  bitnami/concourse/templates/web/role.yaml
  bitnami/concourse/templates/web/rolebinding.yaml
  bitnami/concourse/templates/worker/podsecuritypolicy.yaml
  bitnami/concourse/templates/worker/role.yaml
  bitnami/concourse/templates/worker/rolebinding.yaml
Labels: verify, bitnami

#12567 [bitnami/wavefront-prometheus-storage-adapter] Use custom probes if given
  bitnami/wavefront-prometheus-storage-adapter/Chart.yaml
  bitnami/wavefront-prometheus-storage-adapter/templates/deployment.yaml
Labels: verify, in-progress, wavefront-prometheus-storage-adapter, suitecrm

#12631 [bitnami/grafana-loki] Deploy ruler statefulset if ruler.enabled is true
  bitnami/grafana-loki/Chart.yaml
  bitnami/grafana-loki/templates/ruler/statefulset.yaml
Labels: verify, in-progress, grafana-loki

#12619 [bitnami/tensorflow-resnet] Add tests and publishing using VIB
  .github/workflows/cd-pipeline.yml
  .vib/tensorflow-resnet/cypress/cypress.json
  .vib/tensorflow-resnet/cypress/cypress/fixtures/persian_cat.jpeg
  .vib/tensorflow-resnet/cypress/cypress/integration/tensorflow_resnet_spec.js
  .vib/tensorflow-resnet/cypress/cypress/support/commands.js
  .vib/tensorflow-resnet/cypress/cypress/support/index.js
  .vib/tensorflow-resnet/goss/goss.yaml
  .vib/tensorflow-resnet/goss/vars.yaml
  .vib/tensorflow-resnet/vib-publish.json
  .vib/tensorflow-resnet/vib-verify.json
Labels: bitnami

#12651 [bitnami/argo-workflows] delete executors
  bitnami/argo-workflows/Chart.lock
  bitnami/argo-workflows/Chart.yaml
  bitnami/argo-workflows/README.md
  bitnami/argo-workflows/values.yaml
Labels: verify, bitnami

#12380 [bitnami/drupal] Implement service monitor and prometheus rules
  bitnami/drupal/Chart.lock
  bitnami/drupal/Chart.yaml
  bitnami/drupal/README.md
  bitnami/drupal/templates/metrics-svc.yaml
  bitnami/drupal/templates/prometheusrule.yaml
  bitnami/drupal/templates/servicemonitor.yaml
  bitnami/drupal/values.schema.json
  bitnami/drupal/values.yaml
Labels: verify, in-progress, drupal

#12405 [bitnami/redis] Make podTargetLabels configurable on servicemonitor
  bitnami/redis/Chart.yaml
  bitnami/redis/README.md
  bitnami/redis/templates/servicemonitor.yaml
  bitnami/redis/values.yaml
Labels: verify, in-progress, redis

#12656 [bitnami/*] Allow verification in automated PRs
  .github/workflows/ci-pipeline.yml
Labels: verify, bitnami

#12623 [bitnami/clickhouse] feat: :tada: Add chart
  .github/workflows/cd-pipeline.yml
  .vib/clickhouse/cypress/cypress.json
  .vib/clickhouse/cypress/cypress/fixtures/queries.json
  .vib/clickhouse/cypress/cypress/integration/clickhouse_spec.js
  .vib/clickhouse/cypress/cypress/support/commands.js
  .vib/clickhouse/cypress/cypress/support/index.js
  .vib/clickhouse/goss/goss.yaml
  .vib/clickhouse/goss/vars.yaml
  .vib/clickhouse/vib-publish.json
  .vib/clickhouse/vib-verify.json
  bitnami/clickhouse/.helmignore
  bitnami/clickhouse/Chart.lock
  bitnami/clickhouse/Chart.yaml
  bitnami/clickhouse/README.md
  bitnami/clickhouse/templates/NOTES.txt
  bitnami/clickhouse/templates/_helpers.tpl
  bitnami/clickhouse/templates/configmap-extra.yaml
  bitnami/clickhouse/templates/configmap.yaml
  bitnami/clickhouse/templates/extra-list.yaml
  bitnami/clickhouse/templates/ingress-tls-secrets.yaml
  bitnami/clickhouse/templates/ingress.yaml
  bitnami/clickhouse/templates/init-scripts-secret.yaml
  bitnami/clickhouse/templates/secret.yaml
  bitnami/clickhouse/templates/service-account.yaml
  bitnami/clickhouse/templates/service-external-access.yaml
  bitnami/clickhouse/templates/service-headless.yaml
  bitnami/clickhouse/templates/service.yaml
  bitnami/clickhouse/templates/servicemonitor.yaml
  bitnami/clickhouse/templates/start-scripts-secret.yaml
  bitnami/clickhouse/templates/statefulset.yaml
  bitnami/clickhouse/templates/tls-secret.yaml
  bitnami/clickhouse/values.yaml
Labels: verify, bitnami

#12637 [bitnami/metrics-server] Add tests and publishing using VIB
  .github/workflows/cd-pipeline.yml
  .vib/metrics-server/goss/goss.yaml
  .vib/metrics-server/goss/vars.yaml
  .vib/metrics-server/vib-publish.json
  .vib/metrics-server/vib-verify.json
  bitnami/metrics-server/Chart.yaml
  bitnami/metrics-server/templates/auth-delegator-crb.yaml
  bitnami/metrics-server/templates/cluster-role.yaml
  bitnami/metrics-server/templates/metrics-server-crb.yaml
  bitnami/metrics-server/templates/role-binding.yaml
Labels: verify, bitnami

#12671 [bitnami/template] chore: :wrench: Add references to latest common chart
  template/CHART_NAME/Chart.yaml
  template/CHART_NAME/values.yaml
Labels: verify, bitnami

#12670 [bitnami/clickhouse] feat: :sparkles: Add support for image digest
  bitnami/clickhouse/Chart.lock
  bitnami/clickhouse/Chart.yaml
  bitnami/clickhouse/README.md
  bitnami/clickhouse/values.yaml
Labels: verify, bitnami, clickhouse

#12638 [bitnami/external-dns] add PodMonitor to support Google Managed Prome…
  bitnami/external-dns/Chart.yaml
  bitnami/external-dns/README.md
  bitnami/external-dns/templates/podmonitor.yaml
  bitnami/external-dns/values.yaml
Labels: verify, in-progress, external-dns

#12373 [bitnami/osclass] Add VIB tests to OsClass helm chart
  .vib/osclass/cypress/cypress.json
  .vib/osclass/cypress/cypress/fixtures/images/test_image.jpeg
  .vib/osclass/cypress/cypress/fixtures/pages.json
  .vib/osclass/cypress/cypress/integration/osclass_spec.js
  .vib/osclass/cypress/cypress/support/commands.js
  .vib/osclass/cypress/cypress/support/index.js
  .vib/osclass/cypress/cypress/support/utils.js
  .vib/osclass/goss/goss.yaml
  .vib/osclass/goss/vars.yaml
  .vib/osclass/vib-publish.json
  .vib/osclass/vib-verify.json
Labels: bitnami

#12403 [bitnami/sonarqube] Add VIB tests to Sonarqube helm chart
  .github/workflows/cd-pipeline.yml
  .vib/sonarqube/cypress/cypress.json
  .vib/sonarqube/cypress/cypress/fixtures/projects.json
  .vib/sonarqube/cypress/cypress/fixtures/quality-gates.json
  .vib/sonarqube/cypress/cypress/integration/sonarqube_spec.js
  .vib/sonarqube/cypress/cypress/support/commands.js
  .vib/sonarqube/cypress/cypress/support/index.js
  .vib/sonarqube/cypress/cypress/support/utils.js
  .vib/sonarqube/goss/goss.yaml
  .vib/sonarqube/goss/vars.yaml
  .vib/sonarqube/vib-publish.json
  .vib/sonarqube/vib-verify.json
Labels: bitnami

#12676 [bitnami/osclass] Add Osclass to cd pipeline
  .github/workflows/cd-pipeline.yml
Labels: verify, bitnami

#12632 [bitnami/geode] Add tests and publishing using VIB
  .vib/geode/cypress/cypress.json
  .vib/geode/cypress/cypress/integration/geode_spec.js
  .vib/geode/cypress/cypress/support/commands.js
  .vib/geode/cypress/cypress/support/index.js
  .vib/geode/goss/goss.yaml
  .vib/geode/goss/vars.yaml
  .vib/geode/vib-publish.json
  .vib/geode/vib-verify.json
Labels: bitnami

#12648 [bitnami/influxdb] Add chown for data dir, not only children
  bitnami/influxdb/Chart.yaml
  bitnami/influxdb/templates/deployment.yaml
Labels: verify, in-progress, influxdb

#12677 [bitnami/cert-manager] Add missing webhooks to fix external plugin issues
  bitnami/cert-manager/Chart.yaml
  bitnami/cert-manager/templates/webhook/mutating-webhook.yaml
  bitnami/cert-manager/templates/webhook/validating-webhook.yaml
Labels: verify, in-progress, cert-manager

#12675 [bitnami/pytorch] Add tests and publishing using VIB
  .github/workflows/cd-pipeline.yml
  .vib/pytorch/goss/goss.yaml
  .vib/pytorch/goss/vars.yaml
  .vib/pytorch/vib-publish.json
  .vib/pytorch/vib-verify.json
Labels: verify, bitnami

#12701 [bitnami/charts] Human friendly name for assign-label job
  .github/workflows/assign-labels.yml
Labels: verify, bitnami

#12704 [bitnami/argo-workflows] add workflowartifactgctasks
  bitnami/argo-workflows/Chart.yaml
  bitnami/argo-workflows/crds/argoproj.io_workflowartifactgctasks.yaml
Labels: verify, argo-workflows, bitnami
