Repository bitnami/charts, pull requests merged in 2022-12, with the labels that each got.

#13404 [bitnami/contour] Adding CRDs for Contour 1.23
  bitnami/contour/Chart.yaml
  bitnami/contour/resources/contourconfiguration.yaml
  bitnami/contour/resources/contourdeployments.yaml
  bitnami/contour/resources/extensionservices.yaml
  bitnami/contour/resources/httpproxies.yaml
  bitnami/contour/resources/tlscertificatedeligations.yaml
Labels: verify, in-progress, contour

#13779 [bitnami/kubeapps] Fix verification runtime_params
  .vib/kubeapps/vib-publish.json
  .vib/kubeapps/vib-verify.json
Labels: verify, bitnami

#13783 [bitnami/redis] Add version checking to minReadySeconds parameter
  bitnami/redis/Chart.yaml
  bitnami/redis/templates/master/application.yaml
  bitnami/redis/templates/replicas/statefulset.yaml
  bitnami/redis/templates/sentinel/statefulset.yaml
Labels: verify, bitnami, redis

#13784 [bitnami/geode] Mark chart as deprecated
  bitnami/geode/Chart.yaml
  bitnami/geode/README.md
  bitnami/geode/templates/NOTES.txt
Labels: verify, bitnami, geode

#13667 [bitnami/solr] Revisit tests
  .vib/solr/cypress/cypress.env.json
  .vib/solr/cypress/cypress.json
  .vib/solr/cypress/cypress/integration/solr_spec.js
  .vib/solr/cypress/cypress/support/commands.js
  .vib/solr/cypress/cypress/support/utils.js
  .vib/solr/goss/goss.yaml
  .vib/solr/goss/vars.yaml
  .vib/solr/vib-publish.json
  .vib/solr/vib-verify.json
Labels: verify, bitnami

#13790 [bitnami/geode] Remove chart and VIB pipeline
  .vib/geode/cypress/cypress.json
  .vib/geode/cypress/cypress/integration/geode_spec.js
  .vib/geode/cypress/cypress/support/commands.js
  .vib/geode/cypress/cypress/support/index.js
  .vib/geode/goss/goss.yaml
  .vib/geode/goss/vars.yaml
  .vib/geode/vib-publish.json
  .vib/geode/vib-verify.json
  bitnami/geode/Chart.lock
  bitnami/geode/Chart.yaml
  bitnami/geode/README.md
  bitnami/geode/templates/NOTES.txt
  bitnami/geode/templates/_helpers.tpl
  bitnami/geode/templates/extra-list.yaml
  bitnami/geode/templates/haproxy-configmap.yaml
  bitnami/geode/templates/ingress.yaml
  bitnami/geode/templates/locator/configmap.yaml
  bitnami/geode/templates/locator/headless-service.yaml
  bitnami/geode/templates/locator/log4j-configmap.yaml
  bitnami/geode/templates/locator/networkpolicy.yaml
  bitnami/geode/templates/locator/service.yaml
  bitnami/geode/templates/locator/statefulset.yaml
  bitnami/geode/templates/metrics-service.yaml
  bitnami/geode/templates/secrets.yaml
  bitnami/geode/templates/server/configmap.yaml
  bitnami/geode/templates/server/headless-service.yaml
  bitnami/geode/templates/server/log4j-configmap.yaml
  bitnami/geode/templates/server/networkpolicy.yaml
  bitnami/geode/templates/server/statefulset.yaml
  bitnami/geode/templates/service-account.yaml
  bitnami/geode/templates/servicemonitor.yaml
  bitnami/geode/templates/tls-secrets.yaml
  bitnami/geode/values.yaml
Labels: verify, bitnami, geode

#13809 [bitnami/postgresql-ha] backwards compat postgres-password
  bitnami/postgresql-ha/Chart.yaml
  bitnami/postgresql-ha/templates/postgresql/statefulset.yaml
Labels: verify, in-progress, postgresql-ha

#13662 [bitnami/zookeeper] replace commonAnnotations & commonLabels with persistence.annotations & persistence.labels in volumeClaimTemplates
  bitnami/zookeeper/Chart.yaml
  bitnami/zookeeper/README.md
  bitnami/zookeeper/templates/statefulset.yaml
  bitnami/zookeeper/values.yaml
Labels: verify, in-progress, zookeeper

#13838 [bitnami/zookeeper] Add upgrading notes
  bitnami/zookeeper/README.md
Labels: verify, bitnami, zookeeper

#13839 [bitnami/kafka] Zookeeper chart update
  bitnami/kafka/Chart.lock
  bitnami/kafka/Chart.yaml
  bitnami/kafka/README.md
Labels: verify, kafka, bitnami

#13840 [bitnami/clickhouse] Zookeeper chart update
  bitnami/clickhouse/Chart.lock
  bitnami/clickhouse/Chart.yaml
  bitnami/clickhouse/README.md
Labels: verify, bitnami, clickhouse

#13841 [bitnami/solr] Zokeeper chart update
  bitnami/solr/Chart.lock
  bitnami/solr/Chart.yaml
  bitnami/solr/README.md
Labels: verify, bitnami, solr

#13842 [bitnami/spring-cloud-dataflow] Kafka subchart update
  bitnami/spring-cloud-dataflow/Chart.lock
  bitnami/spring-cloud-dataflow/Chart.yaml
  bitnami/spring-cloud-dataflow/README.md
Labels: verify, bitnami, spring-cloud-dataflow

#13694 [bitnami/mongodb] topology override option
  bitnami/mongodb/Chart.lock
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/README.md
  bitnami/mongodb/templates/arbiter/statefulset.yaml
  bitnami/mongodb/templates/hidden/statefulset.yaml
  bitnami/mongodb/templates/replicaset/statefulset.yaml
  bitnami/mongodb/templates/standalone/dep-sts.yaml
  bitnami/mongodb/values.yaml
Labels: verify, in-progress, mongodb

#13786 [bitnami/ejbca] Fix EJBCA Goss test
  .vib/ejbca/goss/goss.yaml
Labels: verify, bitnami

#13812 [bitnami/argo-workflows] Fix persistence archive configMap rendering
  bitnami/argo-workflows/Chart.yaml
  bitnami/argo-workflows/README.md
  bitnami/argo-workflows/values.yaml
Labels: verify, in-progress, argo-workflows

#13669 [bitnami/clickhouse]: support clickhouse keeper
  bitnami/clickhouse/Chart.yaml
  bitnami/clickhouse/README.md
  bitnami/clickhouse/templates/_helpers.tpl
  bitnami/clickhouse/templates/scripts-configmap.yaml
  bitnami/clickhouse/templates/service-external-access.yaml
  bitnami/clickhouse/templates/service-headless.yaml
  bitnami/clickhouse/templates/service.yaml
  bitnami/clickhouse/templates/statefulset.yaml
  bitnami/clickhouse/values.yaml
Labels: verify, in-progress, clickhouse

#13481 [bitnami/common] resolve namespace using common.names.namespace macro
  bitnami/common/Chart.yaml
  bitnami/common/templates/_names.tpl
  bitnami/common/templates/_secrets.tpl
  bitnami/common/templates/_utils.tpl
Labels: verify, in-progress, common

#13755 [bitnami/ghost] Revisit tests
  .vib/ghost/cypress/cypress.json
  .vib/ghost/cypress/cypress/fixtures/images/post_image.png
  .vib/ghost/cypress/cypress/fixtures/images/test_image.jpeg
  .vib/ghost/cypress/cypress/fixtures/members.csv
  .vib/ghost/cypress/cypress/fixtures/pages.json
  .vib/ghost/cypress/cypress/fixtures/posts.json
  .vib/ghost/cypress/cypress/fixtures/user-settings.json
  .vib/ghost/cypress/cypress/integration/ghost_spec.js
  .vib/ghost/cypress/cypress/support/commands.js
  .vib/ghost/cypress/cypress/support/utils.js
  .vib/ghost/goss/goss.yaml
  .vib/ghost/goss/vars.yaml
  .vib/ghost/vib-publish.json
  .vib/ghost/vib-verify.json
Labels: verify, bitnami

#13785 [bitnami/redmine] Revisit tests
  .vib/redmine/cypress/cypress.json
  .vib/redmine/cypress/cypress/fixtures/settings.json
  .vib/redmine/cypress/cypress/fixtures/smtps.json
  .vib/redmine/cypress/cypress/fixtures/users.json
  .vib/redmine/cypress/cypress/integration/redmine_spec.js
  .vib/redmine/cypress/cypress/support/commands.js
  .vib/redmine/goss/goss.yaml
  .vib/redmine/goss/vars.yaml
  .vib/redmine/vib-publish.json
  .vib/redmine/vib-verify.json
Labels: verify, bitnami

#13627 [bitnami/nginx] Fix git clone on restart #13626
  bitnami/nginx/Chart.yaml
  bitnami/nginx/templates/deployment.yaml
Labels: verify, in-progress, nginx

#13778 [bitnami/prestashop] Revisit tests
  .vib/prestashop/cypress/cypress.json
  .vib/prestashop/cypress/cypress/fixtures/customers.json
  .vib/prestashop/cypress/cypress/fixtures/images/product_image.png
  .vib/prestashop/cypress/cypress/fixtures/products.json
  .vib/prestashop/cypress/cypress/integration/prestashop_spec.js
  .vib/prestashop/cypress/cypress/support/commands.js
  .vib/prestashop/goss/goss.yaml
  .vib/prestashop/goss/vars.yaml
  .vib/prestashop/vib-publish.json
  .vib/prestashop/vib-verify.json
Labels: verify, bitnami

#13670 [bitnami/grafana-loki] Revisit tests
  .vib/grafana-loki/cypress/cypress/integration/grafana_loki_spec.js
  .vib/grafana-loki/goss/gateway/goss.yaml
  .vib/grafana-loki/goss/promtail/goss.yaml
  .vib/grafana-loki/goss/promtail/vars.yaml
  .vib/grafana-loki/goss/querier/goss.yaml
  .vib/grafana-loki/goss/querier/vars.yaml
  .vib/grafana-loki/vib-publish.json
  .vib/grafana-loki/vib-verify.json
Labels: verify, bitnami

#13666 [bitnami/redis-cluster] Revisit tests
  .vib/redis-cluster/goss/goss.yaml
  .vib/redis-cluster/goss/vars.yaml
  .vib/redis-cluster/vib-publish.json
  .vib/redis-cluster/vib-verify.json
Labels: verify, bitnami

#13834 [bitnami/argo-workflows] - Fix typo in readme
  bitnami/argo-workflows/README.md
Labels: verify, in-progress, argo-workflows

#13932 [bitnami/*] Merge automated PRs instead of enabling auto-merge
  .github/workflows/ci-pipeline.yml
Labels: verify, bitnami

#13742 [bitnami/solr] Add subPath and subPathExpr
  bitnami/solr/Chart.yaml
  bitnami/solr/README.md
  bitnami/solr/templates/statefulset.yaml
  bitnami/solr/values.yaml
Labels: verify, in-progress, solr

#13574 zookeeper: Don't re-initialize keystores after success
  bitnami/zookeeper/Chart.yaml
  bitnami/zookeeper/templates/scripts-configmap.yaml
Labels: verify, in-progress, zookeeper

#13955 [bitnami/pinniped] Add Ginkgo tests to the VIB verification
  .vib/pinniped/ginkgo/go.mod
  .vib/pinniped/ginkgo/go.sum
  .vib/pinniped/ginkgo/integration_suite_test.go
  .vib/pinniped/ginkgo/pinniped_test.go
  .vib/pinniped/ginkgo/scripts/pinniped-auth.sh
  .vib/pinniped/vib-action.config
  .vib/pinniped/vib-publish.json
  .vib/pinniped/vib-verify.json
Labels: verify, bitnami

#13969 [bitnami/nginx] Copy hidden files when configuring the cloneStaticSiteFromGit parameter
  bitnami/nginx/Chart.yaml
  bitnami/nginx/templates/deployment.yaml
Labels: verify, nginx, bitnami

#13916 [bitnami/harbor]: support enabling redis sentinel
  bitnami/harbor/Chart.yaml
  bitnami/harbor/templates/_helpers.tpl
Labels: verify, in-progress, harbor

#13833 [bitnami/minio] fix for issue #13462
  bitnami/minio/Chart.yaml
  bitnami/minio/templates/_helpers.tpl
  bitnami/minio/templates/provisioning-job.yaml
Labels: verify, in-progress, minio

#13921 [bitnami/kubeapps] Missing chart changes from the 2.6.2 release.
  bitnami/kubeapps/Chart.yaml
  bitnami/kubeapps/README.md
  bitnami/kubeapps/crds/apprepository-crd.yaml
  bitnami/kubeapps/templates/frontend/deployment.yaml
  bitnami/kubeapps/values.yaml
Labels: verify, in-progress, kubeapps

#13976 [bitnami/mastodon] feat: :tada: Add chart
  .github/workflows/cd-pipeline.yml
  .vib/mastodon/cypress/cypress.json
  .vib/mastodon/cypress/cypress/fixtures/images/test_image.jpeg
  .vib/mastodon/cypress/cypress/fixtures/tweets.json
  .vib/mastodon/cypress/cypress/integration/mastodon_spec.js
  .vib/mastodon/cypress/cypress/support/commands.js
  .vib/mastodon/cypress/cypress/support/index.js
  .vib/mastodon/cypress/cypress/support/utils.js
  .vib/mastodon/goss/goss.yaml
  .vib/mastodon/goss/vars.yaml
  .vib/mastodon/vib-action.config
  .vib/mastodon/vib-publish.json
  .vib/mastodon/vib-verify.json
  bitnami/mastodon/.helmignore
  bitnami/mastodon/Chart.lock
  bitnami/mastodon/Chart.yaml
  bitnami/mastodon/README.md
  bitnami/mastodon/templates/NOTES.txt
  bitnami/mastodon/templates/_helpers.tpl
  bitnami/mastodon/templates/apache-configmap.yaml
  bitnami/mastodon/templates/default-configmap.yaml
  bitnami/mastodon/templates/default-secret.yaml
  bitnami/mastodon/templates/externaldb-secret.yaml
  bitnami/mastodon/templates/externalelasticsearch-secret.yaml
  bitnami/mastodon/templates/externalredis-secret.yaml
  bitnami/mastodon/templates/externals3-secret.yaml
  bitnami/mastodon/templates/extra-configmap.yaml
  bitnami/mastodon/templates/extra-list.yaml
  bitnami/mastodon/templates/extra-secret.yaml
  bitnami/mastodon/templates/init-job/init-job-configmap.yaml
  bitnami/mastodon/templates/init-job/init-job.yaml
  bitnami/mastodon/templates/pvc.yaml
  bitnami/mastodon/templates/service-account.yaml
  bitnami/mastodon/templates/sidekiq/deployment.yaml
  bitnami/mastodon/templates/streaming/deployment.yaml
  bitnami/mastodon/templates/streaming/service.yaml
  bitnami/mastodon/templates/web/deployment.yaml
  bitnami/mastodon/templates/web/service.yaml
  bitnami/mastodon/values.yaml
Labels: verify, bitnami, mastodon

#13845 [bitnami/keycloak] Updating to use your latest container version (20.0.1)and adding KC_LOG_LEVEL
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/README.md
  bitnami/keycloak/templates/configmap-env-vars.yaml
  bitnami/keycloak/values.yaml
Labels: verify, in-progress, keycloak

#13953 [bitnami/postgresql] Renamed statefulset custom-metrics name to match metrics-configmap
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/templates/primary/statefulset.yaml
  bitnami/postgresql/templates/read/statefulset.yaml
Labels: verify, in-progress, postgresql

#13480 [bitnami/jaeger] Add Jaeger chart
  .github/workflows/cd-pipeline.yml
  .vib/jaeger/cypress/cypress.json
  .vib/jaeger/cypress/cypress/integration/jaeger_spec.js
  .vib/jaeger/goss/goss.yaml
  .vib/jaeger/goss/vars.yaml
  .vib/jaeger/vib-publish.json
  .vib/jaeger/vib-verify.json
  bitnami/jaeger/.helmignore
  bitnami/jaeger/Chart.lock
  bitnami/jaeger/Chart.yaml
  bitnami/jaeger/README.md
  bitnami/jaeger/templates/NOTES.txt
  bitnami/jaeger/templates/_helpers.tpl
  bitnami/jaeger/templates/agent/deployment.yaml
  bitnami/jaeger/templates/agent/service.yml
  bitnami/jaeger/templates/agent/serviceaccount.yaml
  bitnami/jaeger/templates/collector/deployment.yaml
  bitnami/jaeger/templates/collector/service.yml
  bitnami/jaeger/templates/collector/serviceaccount.yaml
  bitnami/jaeger/templates/migrate-job.yaml
  bitnami/jaeger/templates/query/deployment.yaml
  bitnami/jaeger/templates/query/service.yml
  bitnami/jaeger/templates/query/serviceaccount.yaml
  bitnami/jaeger/values.yaml
Labels: verify, bitnami, jaeger

#14050 [bitnami/sonarqube] Undo postgresql persistence enabled value
  bitnami/sonarqube/Chart.yaml
  bitnami/sonarqube/README.md
  bitnami/sonarqube/values.yaml
Labels: verify, bitnami, sonarqube

#14045 [bitnami/kube-prometheus] Reorganize kubelet.servicemonitor logic
  bitnami/kube-prometheus/Chart.yaml
  bitnami/kube-prometheus/README.md
  bitnami/kube-prometheus/templates/exporters/kubelet/servicemonitor.yaml
  bitnami/kube-prometheus/values.yaml
Labels: verify, bitnami, kube-prometheus

#14002 [clickhouse] update clickhouse zk cluster replica to 3
  bitnami/clickhouse/Chart.yaml
  bitnami/clickhouse/README.md
  bitnami/clickhouse/values.yaml
Labels: verify, in-progress, clickhouse

#14041 [bitnami/mongodb] Set dynamic port on mongodb-exporter uri
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/templates/_helpers.tpl
Labels: verify, bitnami, mongodb

#13723 [bitnami/argo-cd] Add applicationSet deployment to the chart
  .vib/argo-cd/cypress/cypress/integration/argo_cd_spec.js
  bitnami/argo-cd/Chart.yaml
  bitnami/argo-cd/README.md
  bitnami/argo-cd/templates/_helpers.tpl
  bitnami/argo-cd/templates/application-controller/deployment.yaml
  bitnami/argo-cd/templates/application-controller/role.yaml
  bitnami/argo-cd/templates/applicationset/deployment.yaml
  bitnami/argo-cd/templates/applicationset/ingress-webhook.yaml
  bitnami/argo-cd/templates/applicationset/metrics-svc.yaml
  bitnami/argo-cd/templates/applicationset/role.yaml
  bitnami/argo-cd/templates/applicationset/rolebinding.yaml
  bitnami/argo-cd/templates/applicationset/service-account.yaml
  bitnami/argo-cd/templates/applicationset/service.yaml
  bitnami/argo-cd/templates/applicationset/servicemonitor.yaml
  bitnami/argo-cd/templates/gpg-keys-cm.yaml
  bitnami/argo-cd/templates/repo-server/deployment.yaml
  bitnami/argo-cd/templates/repo-server/role.yaml
  bitnami/argo-cd/templates/server/role.yaml
  bitnami/argo-cd/values.yaml
Labels: verify, bitnami, argo-cd

#14063 [bitnami/jaeger] Reorder chart dependencies
  bitnami/jaeger/Chart.lock
  bitnami/jaeger/Chart.yaml
Labels: verify, bitnami, jaeger

#14067 [bitnami/mastodon]: Fix chart installation issues
  bitnami/mastodon/Chart.yaml
  bitnami/mastodon/templates/externalelasticsearch-secret.yaml
  bitnami/mastodon/templates/externalredis-secret.yaml
  bitnami/mastodon/templates/externals3-secret.yaml
Labels: verify, in-progress, mastodon

#14057 [bitnami/consul] Support templating for ingress urls
  bitnami/consul/Chart.yaml
  bitnami/consul/templates/NOTES.txt
  bitnami/consul/templates/ingress.yaml
  bitnami/consul/templates/tls-secrets.yaml
Labels: in-progress, consul

#14065 [bitnami/harbor]: Fix chart installation
  bitnami/harbor/Chart.yaml
  bitnami/harbor/README.md
  bitnami/harbor/values.yaml
Labels: verify, in-progress, harbor

#14003 [bitnami/clickhouse] add change notes to use Kubernetes 1.8
  bitnami/clickhouse/Chart.yaml
  bitnami/clickhouse/README.md
  bitnami/clickhouse/values.yaml
Labels: verify, in-progress, clickhouse

#14061 [bitnami/redis] Adding ExternalIPs Feature
  bitnami/redis/Chart.yaml
  bitnami/redis/README.md
  bitnami/redis/templates/master/service.yaml
  bitnami/redis/values.yaml
Labels: verify, in-progress, redis

#14071 [bitnami/rabbitmq] Set advanced configuration from an existing secret
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/README.md
  bitnami/rabbitmq/templates/statefulset.yaml
  bitnami/rabbitmq/values.yaml
Labels: verify, in-progress, rabbitmq

#14084 [bitnami/owncloud] Deprecate Owncloud chart
  bitnami/owncloud/Chart.yaml
  bitnami/owncloud/README.md
  bitnami/owncloud/templates/NOTES.txt
Labels: verify, bitnami, owncloud
