Repository bitnami/charts, pull requests merged in 2022-10, with the labels that each got.

#12735 [bitnami/postgresql] Use plain connections from metrics sidecar
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/templates/primary/statefulset.yaml
  bitnami/postgresql/templates/read/statefulset.yaml
Labels: verify, postgresql, bitnami

#12755 [bitnami/thanos] Upgrade dependencies
  bitnami/thanos/Chart.lock
  bitnami/thanos/Chart.yaml
Labels: verify, bitnami, thanos

#12753 [bitnami/moodle] Allow to define default site lang with environment variable
  bitnami/moodle/Chart.yaml
  bitnami/moodle/README.md
  bitnami/moodle/templates/deployment.yaml
  bitnami/moodle/values.yaml
Labels: verify, in-progress, moodle

#12561 [bitnami/suitecrm] Use custom probes if given
  bitnami/suitecrm/Chart.yaml
  bitnami/suitecrm/templates/deployment.yaml
Labels: verify, in-progress

#12790 [bitnami/argo-cd] Add shareProccessNamespace value
  bitnami/argo-cd/Chart.yaml
  bitnami/argo-cd/README.md
  bitnami/argo-cd/templates/application-controller/deployment.yaml
  bitnami/argo-cd/templates/dex/deployment.yaml
  bitnami/argo-cd/templates/repo-server/deployment.yaml
  bitnami/argo-cd/templates/server/deployment.yaml
  bitnami/argo-cd/values.yaml
Labels: verify, bitnami, argo-cd

#12500 [bitnami/grafana-loki] Use custom probes if given
  bitnami/grafana-loki/Chart.yaml
  bitnami/grafana-loki/templates/compactor/deployment.yaml
  bitnami/grafana-loki/templates/distributor/deployment.yaml
  bitnami/grafana-loki/templates/gateway/deployment.yaml
  bitnami/grafana-loki/templates/index-gateway/statefulset.yaml
  bitnami/grafana-loki/templates/ingester/statefulset.yaml
  bitnami/grafana-loki/templates/promtail/daemonset.yaml
  bitnami/grafana-loki/templates/querier/statefulset.yaml
  bitnami/grafana-loki/templates/query-frontend/deployment.yaml
  bitnami/grafana-loki/templates/query-scheduler/deployment.yaml
  bitnami/grafana-loki/templates/ruler/statefulset.yaml
  bitnami/grafana-loki/templates/table-manager/deployment.yaml
Labels: verify, in-progress, grafana-loki

#12486 [bitnami/consul] Use custom probes if given
  bitnami/consul/Chart.yaml
  bitnami/consul/templates/statefulset.yaml
Labels: verify, in-progress, consul

#12506 [bitnami/jasperreports] Use custom probes if given
  bitnami/jasperreports/Chart.yaml
  bitnami/jasperreports/templates/deployment.yaml
Labels: verify, in-progress, jasperreports

#12770 [bitnami/drupal] Fix externaldb secret creation when using existing secret
  bitnami/drupal/Chart.yaml
  bitnami/drupal/README.md
  bitnami/drupal/templates/externaldb-secrets.yaml
  bitnami/drupal/values.yaml
Labels: verify, in-progress, drupal

#12495 [bitnami/external-dns] Use custom probes if given
  bitnami/external-dns/Chart.yaml
  bitnami/external-dns/templates/deployment.yaml
Labels: verify, in-progress, external-dns

#12635 [bitnami/cassandra] add hostPort-support
  bitnami/cassandra/Chart.yaml
  bitnami/cassandra/README.md
  bitnami/cassandra/templates/statefulset.yaml
  bitnami/cassandra/values.yaml
Labels: verify, in-progress, cassandra

#12520 [bitnami/mariadb] Use custom probes if given
  bitnami/mariadb/Chart.yaml
  bitnami/mariadb/templates/primary/statefulset.yaml
  bitnami/mariadb/templates/secondary/statefulset.yaml
Labels: verify, in-progress, mariadb

#12558 [bitnami/sonarqube] Use custom probes if given
  bitnami/sonarqube/Chart.yaml
  bitnami/sonarqube/templates/deployment.yaml
Labels: verify, in-progress, sonarqube

#12557 [bitnami/solr] Use custom probes if given
  bitnami/solr/Chart.yaml
  bitnami/solr/templates/metrics-deployment.yaml
  bitnami/solr/templates/statefulset.yaml
Labels: verify, in-progress, solr

#12545 [bitnami/phpbb] Use custom probes if given
  bitnami/phpbb/Chart.yaml
  bitnami/phpbb/templates/deployment.yaml
Labels: verify, in-progress, phpbb

#12641 [bitnami/kafka] Add labels to volume claim template
  bitnami/kafka/Chart.yaml
  bitnami/kafka/README.md
  bitnami/kafka/templates/statefulset.yaml
  bitnami/kafka/values.yaml
Labels: verify, in-progress, kafka

#12800 [bitnami/nginx-ingress-controller] fix: :bug: Update RBAC rules from upstream project
  bitnami/nginx-ingress-controller/Chart.yaml
  bitnami/nginx-ingress-controller/templates/clusterrole.yaml
  bitnami/nginx-ingress-controller/templates/role.yaml
Labels: verify, bitnami, nginx-ingress-controller

#12757 [bitnami/ejbca] Adjust the naming style for resources
  bitnami/ejbca/Chart.yaml
  bitnami/ejbca/templates/externaldb-secrets.yaml
  bitnami/ejbca/templates/networkpolicy-backend-ingress.yaml
  bitnami/ejbca/templates/networkpolicy-egress.yaml
  bitnami/ejbca/templates/networkpolicy-ingress.yaml
Labels: verify, in-progress, ejbca

#12805 [bitnami/kubernetes-event-exporter] Modified README for kubernetes-event-exporter
  bitnami/kubernetes-event-exporter/README.md
Labels: verify, bitnami, kubernetes-event-exporter

#12793 [bitnami/mariadb-galera] Generic README instructions related to the repo
  bitnami/mariadb-galera/Chart.yaml
  bitnami/mariadb-galera/README.md
  bitnami/mariadb-galera/templates/NOTES.txt
  bitnami/mariadb-galera/templates/_helpers.tpl
Labels: verify, bitnami, mariadb-galera

#12794 [bitnami/postgresql-ha] Generic README instructions related to the repo
  bitnami/postgresql-ha/Chart.yaml
  bitnami/postgresql-ha/README.md
  bitnami/postgresql-ha/templates/_helpers.tpl
Labels: verify, bitnami, postgresql-ha

#12817 [bitnami/contour] Update maintainers
  bitnami/contour/Chart.yaml
Labels: verify, contour, bitnami

#12816 [bitnami/metallb] Update maintainers
  bitnami/metallb/Chart.yaml
Labels: verify, bitnami, metallb

#12818 [bitnami/postgresql] Update maintainers
  bitnami/postgresql/Chart.yaml
Labels: verify, postgresql, bitnami

#12819 [bitnami/redis] Update maintainers
  bitnami/redis/Chart.yaml
Labels: verify, bitnami, redis

#12803 [bitnami/minio] Revisit tests
  .vib/minio/cypress/cypress.json
  .vib/minio/cypress/cypress/fixtures/buckets.json
  .vib/minio/cypress/cypress/fixtures/example.json
  .vib/minio/cypress/cypress/fixtures/testdata.json
  .vib/minio/cypress/cypress/integration/minio_spec.js
  .vib/minio/cypress/cypress/support/commands.js
  .vib/minio/goss/goss.yaml
  .vib/minio/goss/vars.yaml
  .vib/minio/vib-publish.json
  .vib/minio/vib-verify.json
Labels: bitnami

#12554 [bitnami/redmine] Use custom probes if given
  bitnami/redmine/Chart.yaml
  bitnami/redmine/templates/deployment.yaml
Labels: verify, in-progress, redmine

#12749 [bitnami/contour-operator] Adjust the naming style for resources
  bitnami/contour-operator/Chart.yaml
  bitnami/contour-operator/templates/auth-proxy-clusterrole.yaml
  bitnami/contour-operator/templates/auth-proxy-clusterrolebinding.yaml
  bitnami/contour-operator/templates/contour-editor-role.yaml
  bitnami/contour-operator/templates/contour-viewer-role.yaml
  bitnami/contour-operator/templates/leader-election-role.yaml
  bitnami/contour-operator/templates/leader-election-rolebinding.yaml
  bitnami/contour-operator/templates/metrics-clusterrole.yaml
  bitnami/contour-operator/templates/metrics-clusterrolebinding.yaml
  bitnami/contour-operator/templates/metrics-service.yaml
Labels: verify, in-progress, contour-operator

#12852 [bitnami/grafana-operator] Update maintainers
  bitnami/grafana-operator/Chart.yaml
Labels: verify, grafana-operator

#12797 [bitnami/redis] Revisit tests and remove extra pipelines
  .github/workflows/ci-pipeline-extra-redis.yml
  .vib/redis/goss/goss.yaml
  .vib/redis/goss/vars.yaml
  .vib/redis/replicas/goss/goss-master/goss.yaml
  .vib/redis/replicas/goss/goss-replica/goss.yaml
  .vib/redis/replicas/vib-verify.json
  .vib/redis/sentinel/goss/goss.yaml
  .vib/redis/sentinel/vib-verify.json
  .vib/redis/standalone/goss/goss.yaml
  .vib/redis/vib-publish.json
  .vib/redis/vib-verify.json
Labels: verify, bitnami

#12872 [bitnami/redis] Fixed typo that causes chart failed to render using DH param in TLS options.
  bitnami/redis/Chart.yaml
  bitnami/redis/templates/sentinel/statefulset.yaml
Labels: verify, triage, redis

#12838 [bitnami/minio] Define extraEnvVars as a list
  bitnami/minio/Chart.yaml
  bitnami/minio/README.md
  bitnami/minio/values.yaml
Labels: verify, triage, minio

#12880 [bitnami/redis] Fix typo in publish pipeline definition
  .vib/redis/vib-publish.json
Labels: verify, bitnami

#12870 [bitnami/memcached]add metrics container security context
  bitnami/memcached/Chart.yaml
  bitnami/memcached/README.md
  bitnami/memcached/templates/deployment.yaml
  bitnami/memcached/values.yaml
Labels: verify, triage, memcached

#12841 [bitnami/charts] Fix movements for staled issues
  .github/workflows/clossing-issues.yml
  .github/workflows/comments.yml
  .github/workflows/stale.yml
Labels: verify, bitnami

#12782 [bitnami/jupyterhub] Fix test existence nested key
  bitnami/jupyterhub/Chart.yaml
  bitnami/jupyterhub/templates/_helpers.tpl
Labels: in-progress, jupyterhub

#12295 [bitnami/mysql] Add custom annotations to headless services
  bitnami/mysql/Chart.yaml
  bitnami/mysql/README.md
  bitnami/mysql/templates/primary/svc-headless.yaml
  bitnami/mysql/templates/secondary/svc-headless.yaml
  bitnami/mysql/values.yaml
Labels: verify, triage, mysql

#12898 [bitnami/kafka] Upgrade README after releasing version 19.0.0
  bitnami/kafka/README.md
Labels: verify, kafka, bitnami

#12897 [bitnami/spring-cloud-dataflow] Update dependencies
  bitnami/spring-cloud-dataflow/Chart.lock
  bitnami/spring-cloud-dataflow/Chart.yaml
  bitnami/spring-cloud-dataflow/README.md
Labels: verify, bitnami, spring-cloud-dataflow

#12896 [bitnami/schema-registry] Update dependencies
  bitnami/schema-registry/Chart.lock
  bitnami/schema-registry/Chart.yaml
  bitnami/schema-registry/README.md
Labels: verify, bitnami, schema-registry

#12446 [bitnami/elasticsearch]fix elasticsearch envFrom
  bitnami/elasticsearch/Chart.yaml
  bitnami/elasticsearch/templates/coordinating/statefulset.yaml
  bitnami/elasticsearch/templates/data/statefulset.yaml
Labels: verify, in-progress, elasticsearch

#12844 [bitnami/redis] Add functionality to ignore overrides when sentinel config is supplied
  bitnami/redis/Chart.yaml
  bitnami/redis/templates/scripts-configmap.yaml
Labels: verify, in-progress, redis

#12894 bitnami/pinniped release 0.3.3
  bitnami/pinniped/Chart.lock
  bitnami/pinniped/Chart.yaml
  bitnami/pinniped/README.md
  bitnami/pinniped/crds/concierge-crds.yaml
  bitnami/pinniped/crds/supervisor.crds.yaml
  bitnami/pinniped/templates/_helpers.tpl
  bitnami/pinniped/templates/supervisor/apiservice-clientsecret.yaml
  bitnami/pinniped/templates/supervisor/rbac.yaml
  bitnami/pinniped/values.yaml
Labels: verify, triage

#12911 [bitnami/pinniped] fix pinniped-supervisor CRD labels
  bitnami/pinniped/Chart.yaml
  bitnami/pinniped/crds/supervisor.crds.yaml
Labels: verify, in-progress, pinniped

#12918 [bitnami/argo-cd] Fix wrong value reference
  bitnami/argo-cd/Chart.yaml
  bitnami/argo-cd/templates/repo-server/metrics-svc.yaml
Labels: verify, in-progress, argo-cd

#12703 [bitnami/phpmyadmin] Review Cypress and Goss tests for PhpMyAdmin chart
  .vib/phpmyadmin/cypress/cypress/fixtures/plugins.json
  .vib/phpmyadmin/cypress/cypress/fixtures/testdata.sql
  .vib/phpmyadmin/cypress/cypress/integration/phpmyadmin_spec.js
  .vib/phpmyadmin/cypress/cypress/support/commands.js
  .vib/phpmyadmin/goss/goss.yaml
  .vib/phpmyadmin/goss/vars.yaml
  .vib/phpmyadmin/vib-publish.json
  .vib/phpmyadmin/vib-verify.json
Labels: verify, bitnami

#12700 [bitnami/owncloud] Review Cypress and Goss tests for Owncloud charts
  .vib/owncloud/cypress/cypress.json
  .vib/owncloud/cypress/cypress/fixtures/domains.json
  .vib/owncloud/cypress/cypress/fixtures/file_to_upload.json
  .vib/owncloud/cypress/cypress/fixtures/groups.json
  .vib/owncloud/cypress/cypress/fixtures/links.json
  .vib/owncloud/cypress/cypress/fixtures/users.json
  .vib/owncloud/cypress/cypress/integration/owncloud_spec.js
  .vib/owncloud/cypress/cypress/support/commands.js
  .vib/owncloud/goss/goss.yaml
  .vib/owncloud/goss/vars.yaml
  .vib/owncloud/vib-publish.json
  .vib/owncloud/vib-verify.json
Labels: verify, bitnami

#12702 [bitnami/mediawiki] Review Cypress and Goss tests for Mediawiki Chart
  .vib/mediawiki/cypress/cypress.json
  .vib/mediawiki/cypress/cypress/fixtures/images/post_image.png
  .vib/mediawiki/cypress/cypress/fixtures/images/test_image.jpeg
  .vib/mediawiki/cypress/cypress/fixtures/user-settings.json
  .vib/mediawiki/cypress/cypress/fixtures/users.json
  .vib/mediawiki/cypress/cypress/integration/mediawiki_spec.js
  .vib/mediawiki/cypress/cypress/support/commands.js
  .vib/mediawiki/goss/goss.yaml
  .vib/mediawiki/goss/vars.yaml
  .vib/mediawiki/vib-publish.json
  .vib/mediawiki/vib-verify.json
Labels: verify, bitnami

#12947 [bitnami/*] Allow VIB action configuration per asset
  .github/workflows/cd-pipeline.yml
  .github/workflows/ci-pipeline.yml
Labels: verify, bitnami

#12955 [bitnami/etcd] Adjust the naming style for resources
  bitnami/etcd/Chart.yaml
  bitnami/etcd/templates/_helpers.tpl
  bitnami/etcd/templates/configmap.yaml
  bitnami/etcd/templates/cronjob.yaml
  bitnami/etcd/templates/snapshot-pvc.yaml
  bitnami/etcd/templates/statefulset.yaml
  bitnami/etcd/templates/svc-headless.yaml
  bitnami/etcd/templates/token-secrets.yaml
Labels: verify, in-progress, etcd

#12490 [bitnami/dokuwiki] Use custom probes if given
  bitnami/dokuwiki/Chart.yaml
  bitnami/dokuwiki/templates/deployment.yaml
Labels: verify, in-progress, dokuwiki

#12521 [bitnami/mariadb-galera] Use custom probes if given
  bitnami/mariadb-galera/Chart.yaml
  bitnami/mariadb-galera/templates/statefulset.yaml
Labels: verify, in-progress, mariadb-galera

#12539 [bitnami/oauth2-proxy] Use custom probes if given
  bitnami/oauth2-proxy/Chart.yaml
  bitnami/oauth2-proxy/templates/deployment.yaml
Labels: verify, in-progress, oauth2-proxy

#12551 [bitnami/pytorch] Use custom probes if given
  bitnami/pytorch/Chart.yaml
  bitnami/pytorch/templates/deployment.yaml
  bitnami/pytorch/templates/statefulset.yaml
Labels: verify, in-progress, pytorch

#12756 [bitnami/drupal] Adjust the naming style for resources
  bitnami/drupal/Chart.yaml
  bitnami/drupal/templates/externaldb-secrets.yaml
  bitnami/drupal/templates/metrics-svc.yaml
  bitnami/drupal/templates/networkpolicy-backend-ingress.yaml
  bitnami/drupal/templates/networkpolicy-egress.yaml
  bitnami/drupal/templates/networkpolicy-ingress.yaml
  bitnami/drupal/templates/pv.yaml
  bitnami/drupal/templates/pvc.yaml
Labels: in-progress, drupal

#12976 [bitnami/parse] Fix typo in the health-check endpoint blocking publishing
  .vib/parse/vib-publish.json
Labels: verify, bitnami, parse

#12979 [bitnami/parse] Force chart publishing
  bitnami/parse/Chart.yaml
Labels: verify, bitnami, parse

#12972 [bitnami/spring-cloud-dataflow] Update dependencies
  bitnami/spring-cloud-dataflow/Chart.lock
  bitnami/spring-cloud-dataflow/Chart.yaml
  bitnami/spring-cloud-dataflow/README.md
Labels: verify, bitnami, spring-cloud-dataflow

#12984 Bump slackapi/slack-github-action version from v1.19.0 to v1.23.0
  .github/workflows/cd-pipeline.yml
Labels: verify, bitnami

#12986 Bump actions/stale version to v5
  .github/workflows/clossing-issues.yml
  .github/workflows/stale.yml
Labels: verify, bitnami

#12988 Bump actions/cache version to v3
  .github/workflows/generate-chart-readme.yml
Labels: verify, bitnami

#12942 [bitnami/charts] Default branch renaming in .github
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/cd-pipeline.yml
  .github/workflows/ci-pipeline-extra-thanos.yml
  .github/workflows/ci-pipeline.yml
  .github/workflows/generate-chart-readme.yml
Labels: verify, bitnami

#12978 [bitnami/kong] Sync upstream CRDs
  bitnami/kong/Chart.yaml
  bitnami/kong/crds/custom-resource-definitions.yaml
Labels: verify, bitnami, kong

#12941 [bitnami/mongodb-sharded] Fix missing $ in data StatefulSet
  bitnami/mongodb-sharded/Chart.yaml
  bitnami/mongodb-sharded/templates/shard/shard-data-statefulset.yaml
Labels: verify, in-progress, mongodb-sharded

#12951 [bitnami/pinniped] create svc for listener serving aggregated api service
  bitnami/pinniped/Chart.yaml
  bitnami/pinniped/README.md
  bitnami/pinniped/templates/supervisor/apiservice-clientsecret.yaml
  bitnami/pinniped/templates/supervisor/service-api.yaml
  bitnami/pinniped/values.yaml
Labels: verify, triage

#12999 Bump hmarr/auto-approve-action version to v3.0.0
  .github/workflows/ci-pipeline.yml
Labels: verify, bitnami

#13000 [bitnami/*] Update links with new default branch
  .github/workflows/cd-pipeline.yml
  CONTRIBUTING.md
  README.md
  TESTING.md
  bitnami/spring-cloud-dataflow/README.md
  template/CHART_NAME/README.md
  template/CHART_NAME/values.yaml
Labels: verify, bitnami, spring-cloud-dataflow

#12624 [bitnami/redis] Allow podSelector from any namespaceSelector
  bitnami/redis/Chart.yaml
  bitnami/redis/templates/networkpolicy.yaml
Labels: verify, in-progress, redis

#13011 Increase retry-count from 3 (default) to 6 in VIB action
  .github/workflows/cd-pipeline.yml
  .github/workflows/ci-pipeline-extra-thanos.yml
  .github/workflows/ci-pipeline.yml
Labels: verify, bitnami

#13016 Bump xom9ikk/dotenv version to v2
  .github/workflows/comments.yml
  .github/workflows/moving-cards.yml
  .github/workflows/sync-teams.yml
  .github/workflows/triage.yml
Labels: verify, bitnami

#12974 [bitnami/grafana-loki] Update README to include persistence limitation
  bitnami/grafana-loki/README.md
Labels: in-progress, grafana-loki

#13013 [bitnami/geode] Only create service Account if needed
  bitnami/geode/Chart.yaml
  bitnami/geode/templates/service-account.yaml
Labels: verify, bitnami, geode

#13025 Revert retry-count increment from #13011
  .github/workflows/cd-pipeline.yml
  .github/workflows/ci-pipeline-extra-thanos.yml
  .github/workflows/ci-pipeline.yml
Labels: verify, bitnami

#13027 Bump actions/github-script version to v6
  .github/workflows/cd-pipeline.yml
  .github/workflows/ci-pipeline.yml
Labels: verify, bitnami

#12650 [bitnami/kafka] Added description on how to set ssl.client.auth=required in Kafka configuration
  bitnami/kafka/README.md
Labels: verify, in-progress, kafka

#12948 [bitname/external-dns] Support designate application credentials for external-dns
  bitnami/external-dns/Chart.yaml
  bitnami/external-dns/README.md
  bitnami/external-dns/templates/_helpers.tpl
  bitnami/external-dns/templates/deployment.yaml
  bitnami/external-dns/templates/secret.yaml
  bitnami/external-dns/values.yaml
Labels: verify, in-progress, external-dns

#13064 [bitnami/postgresql-ha] Fix typo in CD health-check endpoint
  .vib/postgresql-ha/vib-publish.json
Labels: verify, bitnami

#12913 [bitnami/kafka] Add nodeSelector to Kafka provisioning
  bitnami/kafka/Chart.yaml
  bitnami/kafka/README.md
  bitnami/kafka/templates/kafka-provisioning.yaml
  bitnami/kafka/values.yaml
Labels: verify, in-progress, kafka

#13053 [bitnami/redis] Fix redis master.api.svc.cluster.local missing
  bitnami/redis/Chart.yaml
  bitnami/redis/templates/tls-secret.yaml
Labels: verify, bitnami, redis

#12424 [bitnami/haproxy] allow to create ingress
  bitnami/haproxy/Chart.yaml
  bitnami/haproxy/README.md
  bitnami/haproxy/templates/ingress.yaml
  bitnami/haproxy/values.yaml
Labels: verify, in-progress, haproxy

#13008 [bitnami/fluentd] Chage default config file if not ServiceAccount is provided
  bitnami/fluentd/Chart.yaml
  bitnami/fluentd/values.yaml
Labels: verify, bitnami, fluentd

#13070 [bitnami/metallb] Fix service account name handling
  bitnami/metallb/Chart.yaml
  bitnami/metallb/templates/_helpers.tpl
Labels: verify, bitnami, metallb

#12464 [bitnami/tomcat] fix extraPodSpec bad indentation
  bitnami/tomcat/Chart.yaml
  bitnami/tomcat/templates/_pod.tpl
Labels: verify, in-progress, tomcat

#13074 [bitnami/*] Use readme-generator npm package in generate-readme workflow
  .github/workflows/generate-chart-readme.yml
Labels: verify, bitnami

#12945 [bitnami/postgresql] Revisit tests
  .vib/postgresql/goss/goss.yaml
  .vib/postgresql/goss/vars.yaml
  .vib/postgresql/vib-publish.json
  .vib/postgresql/vib-verify.json
Labels: verify, bitnami

#13077 [bitnami/grafana]Fix envvars render error
  bitnami/grafana/Chart.yaml
  bitnami/grafana/README.md
  bitnami/grafana/values.yaml
Labels: verify, in-progress, grafana

#12853 [bitnami/argo-cd] Fix volume-permissions initContainer definitions
  bitnami/argo-cd/Chart.yaml
  bitnami/argo-cd/templates/dex/deployment.yaml
  bitnami/argo-cd/templates/repo-server/deployment.yaml
  bitnami/argo-cd/templates/server/deployment.yaml
Labels: verify, bitnami, argo-cd

#13092 [bitnami/mongodb] Add loadBalancerClass options
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/README.md
  bitnami/mongodb/templates/hidden/external-access-svc.yaml
  bitnami/mongodb/templates/replicaset/external-access-svc.yaml
  bitnami/mongodb/templates/standalone/svc.yaml
  bitnami/mongodb/values.yaml
Labels: verify, in-progress, mongodb

#13078 [bitnami/jupyterhub] Fix envvars render error
  bitnami/jupyterhub/Chart.yaml
  bitnami/jupyterhub/README.md
  bitnami/jupyterhub/values.yaml
Labels: verify, in-progress, jupyterhub

#13082 [bitnami/grafana-loki] Fix loki config volume hardcode
  bitnami/grafana-loki/Chart.yaml
  bitnami/grafana-loki/templates/ingester/statefulset.yaml
  bitnami/grafana-loki/templates/query-frontend/deployment.yaml
  bitnami/grafana-loki/templates/query-scheduler/deployment.yaml
Labels: verify, in-progress, grafana-loki

#13086 [bitnami/prestashop] Add resources example for metrics exporter container
  bitnami/prestashop/Chart.yaml
  bitnami/prestashop/README.md
  bitnami/prestashop/values.yaml
Labels: verify, in-progress, prestashop

#13062 [bitnami/template] Fix autoscaling reference in template chart deployment
  template/CHART_NAME/templates/deployment.yaml
Labels: in-progress

#11239 [bitnami/mongodb] Mongodb custom certs
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/README.md
  bitnami/mongodb/templates/_helpers.tpl
  bitnami/mongodb/templates/arbiter/statefulset.yaml
  bitnami/mongodb/templates/common-scripts-cm.yaml
  bitnami/mongodb/templates/hidden/statefulset.yaml
  bitnami/mongodb/templates/replicaset/statefulset.yaml
  bitnami/mongodb/templates/secrets-ca.yaml
  bitnami/mongodb/templates/standalone/dep-sts.yaml
  bitnami/mongodb/values.yaml
Labels: verify, in-progress, mongodb

#13084 [bitnami/mongodb-sharded] Fix render topologySpreadConstraints
  bitnami/mongodb-sharded/Chart.yaml
  bitnami/mongodb-sharded/templates/shard/shard-arbiter-statefulset.yaml
Labels: verify, in-progress, mongodb-sharded

#13095 [bitnami/kong] Adds missing get/list/watch permissions for ingressclassparameterses
  bitnami/kong/Chart.yaml
  bitnami/kong/templates/ingress-controller-rbac.yaml
Labels: verify, in-progress, kong

#13054 [bitnami/common] kubernetes.io/tls-acme Ingress annotation triggers IngressTLS array
  bitnami/common/Chart.yaml
  bitnami/common/templates/_ingress.tpl
Labels: verify, in-progress, common

#12962 [bitnami/minio] add commonLabels to template.metadata
  bitnami/minio/Chart.yaml
  bitnami/minio/templates/distributed/statefulset.yaml
  bitnami/minio/templates/standalone/deployment.yaml
Labels: verify, in-progress, minio

#13115 [bitnami/rabbitmq] Fix rolebinding creation
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/templates/rolebinding.yaml
Labels: verify, bitnami, rabbitmq

#13079 [bitnami/spark] Fix render namespace for spark
  bitnami/spark/Chart.yaml
  bitnami/spark/templates/tls-secrets.yaml
Labels: verify, in-progress, spark

#13133 [bitnami/kong] Sync upstream RBAC
  bitnami/kong/Chart.yaml
  bitnami/kong/templates/ingress-controller-rbac.yaml
Labels: verify, bitnami, kong

#13109 [bitnami/mongodb-sharded] Fix render topologySpreadConstraints for shard data statefulset
  bitnami/mongodb-sharded/Chart.yaml
  bitnami/mongodb-sharded/templates/shard/shard-data-statefulset.yaml
Labels: verify, in-progress, mongodb-sharded

#13057 [bitnami/memcached]Allow existing secret to be used for Authentication
  bitnami/memcached/Chart.yaml
  bitnami/memcached/README.md
  bitnami/memcached/templates/_helpers.tpl
  bitnami/memcached/templates/deployment.yaml
  bitnami/memcached/templates/secrets.yaml
  bitnami/memcached/templates/statefulset.yaml
  bitnami/memcached/values.yaml
Labels: verify, in-progress, memcached

#13135 [bitnami/metallb] Fix serviceaccount names
  bitnami/metallb/Chart.yaml
  bitnami/metallb/templates/_helpers.tpl
Labels: verify, bitnami, metallb

#13056 [bitnami/rabbitmq]fix secure password env hardcode
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/README.md
  bitnami/rabbitmq/templates/statefulset.yaml
  bitnami/rabbitmq/values.yaml
Labels: verify, in-progress, rabbitmq

#13142 [bitnami/node] Deprecate NodeJS Helm chart
  bitnami/node/Chart.lock
  bitnami/node/Chart.yaml
  bitnami/node/README.md
  bitnami/node/templates/NOTES.txt
  bitnami/node/values.yaml
Labels: verify, node

#13143 [bitnami/node] Remove NodeJS folders
  .github/workflows/cd-pipeline.yml
  .vib/node/cypress/cypress.json
  .vib/node/cypress/cypress/integration/node_spec.js
  .vib/node/goss/goss.yaml
  .vib/node/vib-publish.json
  .vib/node/vib-verify.json
  bitnami/node/.helmignore
  bitnami/node/Chart.lock
  bitnami/node/Chart.yaml
  bitnami/node/README.md
  bitnami/node/templates/NOTES.txt
  bitnami/node/templates/_helpers.tpl
  bitnami/node/templates/deployment.yaml
  bitnami/node/templates/extra-list.yaml
  bitnami/node/templates/ingress.yaml
  bitnami/node/templates/mongodb-binding.yaml
  bitnami/node/templates/pvc.yaml
  bitnami/node/templates/serviceaccount.yaml
  bitnami/node/templates/svc.yaml
  bitnami/node/templates/tls-secrets.yaml
  bitnami/node/values.yaml
Labels: bitnami, node

#13113 [bitnami/schema-registry] Fix apiversion hardcode for hpa
  bitnami/schema-registry/Chart.yaml
  bitnami/schema-registry/templates/hpa.yaml
Labels: verify, in-progress, schema-registry

#13120 [bitnami/grafana-loki] Fix ingress ingest
  bitnami/grafana-loki/Chart.yaml
  bitnami/grafana-loki/templates/gateway/ingress.yaml
Labels: verify, in-progress, grafana-loki

#12992 [bitnami/metallb] Add tests and publishing using VIB
  .github/workflows/cd-pipeline.yml
  .vib/metallb/ginkgo/go.mod
  .vib/metallb/ginkgo/go.sum
  .vib/metallb/ginkgo/integration_suite_test.go
  .vib/metallb/ginkgo/metallb_test.go
  .vib/metallb/goss/goss.yaml
  .vib/metallb/goss/vars.yaml
  .vib/metallb/vib-action.config
  .vib/metallb/vib-publish.json
  .vib/metallb/vib-verify.json
Labels: verify, bitnami

#13125 [bitnami/node-exporter] Optimize annos check
  bitnami/node-exporter/Chart.yaml
  bitnami/node-exporter/templates/service.yaml
  bitnami/node-exporter/templates/serviceaccount.yaml
  bitnami/node-exporter/templates/servicemonitor.yaml
Labels: verify, in-progress, node-exporter

#13110 [bitnami/tomcat] Optimize extraPodSpec style for pod tpl
  bitnami/tomcat/Chart.yaml
  bitnami/tomcat/templates/_pod.tpl
Labels: verify, in-progress, tomcat

#13068 [bitnami/redis-cluster]Allow redis-cluster securityContext override for redis-cluster init-containers
  bitnami/redis-cluster/Chart.yaml
  bitnami/redis-cluster/README.md
  bitnami/redis-cluster/templates/redis-statefulset.yaml
  bitnami/redis-cluster/values.yaml
Labels: verify, in-progress, redis-cluster

#13122 [bitnami/matomo] Optimize annos check
  bitnami/matomo/Chart.yaml
  bitnami/matomo/templates/deployment.yaml
  bitnami/matomo/templates/svc.yaml
Labels: verify, in-progress, matomo

#13121 [bitnami/haproxy] Optimize annos check
  bitnami/haproxy/Chart.yaml
  bitnami/haproxy/templates/ingress.yaml
  bitnami/haproxy/templates/service.yaml
Labels: verify, in-progress, haproxy

#13123 [bitnami/spark] Optimize annos check
  bitnami/spark/Chart.yaml
  bitnami/spark/templates/serviceaccount.yaml
  bitnami/spark/templates/svc-master.yaml
Labels: verify, in-progress, spark

#13152 [bitnami/metrics-server] Fix rolebings service account name
  bitnami/metrics-server/Chart.yaml
  bitnami/metrics-server/templates/auth-delegator-crb.yaml
  bitnami/metrics-server/templates/metrics-server-crb.yaml
  bitnami/metrics-server/templates/role-binding.yaml
Labels: verify, bitnami, metrics-server

#13104 [bitnami/sealed-secrets] fix: Align sealed-secrets security context to the pod security standards
  bitnami/sealed-secrets/Chart.yaml
  bitnami/sealed-secrets/README.md
  bitnami/sealed-secrets/values.yaml
Labels: verify, in-progress, sealed-secrets

#13119 [bitnami/elasticsearch] Fix ingress ingest
  bitnami/elasticsearch/Chart.yaml
  bitnami/elasticsearch/templates/ingest/ingress.yaml
Labels: verify, in-progress, elasticsearch

#13157 [bitnami/spring-cloud-dataflow] Update subchart dependencies
  bitnami/spring-cloud-dataflow/Chart.lock
  bitnami/spring-cloud-dataflow/Chart.yaml
Labels: verify, bitnami, spring-cloud-dataflow

#13127 [bitnami/apache] Optimize annos check
  bitnami/apache/Chart.yaml
  bitnami/apache/templates/ingress.yaml
Labels: verify, in-progress, apache

#13111 [bitnami/redmine] Fix apiversion hardcode for cronjob
  bitnami/redmine/Chart.yaml
  bitnami/redmine/templates/cronjob.yaml
Labels: verify, in-progress, redmine

#13116 [bitnami/keycloak] Fix prometheus rule
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/README.md
  bitnami/keycloak/templates/prometheusrule.yaml
  bitnami/keycloak/values.yaml
Labels: verify, in-progress, keycloak

#13150 [bitnami/common] Add new function 'common.secrets.lookup'
  bitnami/common/Chart.yaml
  bitnami/common/templates/_secrets.tpl
Labels: verify, bitnami, common

#13158 [bitnami/charts] Use Environment Files instead of set-output
  .github/workflows/assign-asset-label.yml
  .github/workflows/cd-pipeline.yml
  .github/workflows/ci-pipeline.yml
  .github/workflows/moving-cards.yml
  .github/workflows/srp-report.yml
  .github/workflows/triage.yml
Labels: verify, bitnami

#13141 [bitnami/rabbitmq] Configure password correctly when RABBITMQ_SECURE_PASSWORD is not enabled
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/README.md
  bitnami/rabbitmq/templates/statefulset.yaml
  bitnami/rabbitmq/values.yaml
Labels: verify, bitnami, rabbitmq

#13117 [bitnami/kong] Removes check on service.type when custom service.clusterIP is provided
  bitnami/kong/Chart.yaml
  bitnami/kong/templates/service.yaml
Labels: verify, in-progress, kong

#13192 Fix typo in README.md
  bitnami/argo-workflows/README.md
Labels: triage, argo-workflows

#13106 [bitnami/harbor] : gcp storage without key
  bitnami/harbor/Chart.yaml
  bitnami/harbor/templates/registry/registry-cm.yaml
  bitnami/harbor/templates/registry/registry-dpl.yaml
  bitnami/harbor/templates/registry/registry-secret.yaml
Labels: verify, in-progress, harbor

#13209 [bitnami/charts] Compact output for assignee list
  .github/workflows/moving-cards.yml
Labels: verify, bitnami

#13224 [bitnami/pinniped] Fix serviceaccount and apiserver object name
  bitnami/pinniped/Chart.yaml
  bitnami/pinniped/templates/_helpers.tpl
  bitnami/pinniped/templates/concierge/token-secret.yaml
Labels: verify, pinniped, bitnami

#13225 [bitnami/charts] Upgrading actions/stale version to remove set-output usage
  .github/workflows/clossing-issues.yml
  .github/workflows/stale.yml
Labels: verify, bitnami

#13226 [bitnami/*] Update upgrading notes of PostgreSQL and PostgreSQL HA
  bitnami/postgresql-ha/README.md
  bitnami/postgresql/README.md
Labels: verify, bitnami

#13223 [bitnami/jupyterhub] Update dependencies
  bitnami/jupyterhub/Chart.lock
  bitnami/jupyterhub/Chart.yaml
  bitnami/jupyterhub/README.md
Labels: verify, bitnami, jupyterhub

#13222 [bitnami/redmine] Update dependencies
  bitnami/redmine/Chart.lock
  bitnami/redmine/Chart.yaml
  bitnami/redmine/README.md
Labels: verify, bitnami, redmine

#13217 [bitnami/airflow] Update dependencies
  bitnami/airflow/Chart.lock
  bitnami/airflow/Chart.yaml
  bitnami/airflow/README.md
Labels: verify, airflow, bitnami

#13216 [bitnami/odoo] Update dependencies
  bitnami/odoo/Chart.lock
  bitnami/odoo/Chart.yaml
  bitnami/odoo/README.md
Labels: verify, odoo, bitnami

#13213 [bitnami/concourse] Update dependencies
  bitnami/concourse/Chart.lock
  bitnami/concourse/Chart.yaml
  bitnami/concourse/README.md
Labels: verify, bitnami, concourse

#13212 [bitnami/discourse] Update dependencies
  bitnami/discourse/Chart.lock
  bitnami/discourse/Chart.yaml
  bitnami/discourse/README.md
Labels: verify, bitnami, discourse

#13218 [bitnami/sonarqube] Update dependencies
  bitnami/sonarqube/Chart.lock
  bitnami/sonarqube/Chart.yaml
  bitnami/sonarqube/README.md
Labels: verify, bitnami, sonarqube

#13190 [bitnami/keycloak] Fix reference to external db secret password key
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/templates/secret-external-db.yaml
Labels: verify, in-progress, keycloak

#13221 [bitnami/kubeapps] Update dependencies
  bitnami/kubeapps/Chart.lock
  bitnami/kubeapps/Chart.yaml
  bitnami/kubeapps/README.md
Labels: verify, bitnami, kubeapps

#13210 [bitnami/kong] Update dependencies
  bitnami/kong/Chart.lock
  bitnami/kong/Chart.yaml
  bitnami/kong/README.md
Labels: verify, bitnami, kong

#13215 [bitnami/argo-workflows] Update dependencies
  bitnami/argo-workflows/Chart.lock
  bitnami/argo-workflows/Chart.yaml
  bitnami/argo-workflows/README.md
Labels: verify, argo-workflows, bitnami

#13219 [bitnami/keycloak] Update dependencies
  bitnami/keycloak/Chart.lock
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/README.md
Labels: verify, keycloak, bitnami

#13220 [bitnami/harbor] Update dependencies
  bitnami/harbor/Chart.lock
  bitnami/harbor/Chart.yaml
  bitnami/harbor/README.md
Labels: verify, bitnami, harbor

#13037 [bitnami/contour] Add tests and publishing using VIB
  .github/workflows/cd-pipeline.yml
  .vib/contour/ginkgo/contour.go
  .vib/contour/ginkgo/go.mod
  .vib/contour/ginkgo/go.sum
  .vib/contour/ginkgo/integration_suite_test.go
  .vib/contour/goss/goss.yaml
  .vib/contour/goss/vars.yaml
  .vib/contour/vib-action.config
  .vib/contour/vib-publish.json
  .vib/contour/vib-verify.json
Labels: verify, bitnami

#13134 [bitnami/kong] Add tests and VIB publishing
  .github/workflows/cd-pipeline.yml
  .vib/kong/cypress/cypress.json
  .vib/kong/cypress/cypress/fixtures/routes.json
  .vib/kong/cypress/cypress/fixtures/services.json
  .vib/kong/cypress/cypress/integration/kong_spec.js
  .vib/kong/cypress/cypress/support/utils.js
  .vib/kong/goss/goss.yaml
  .vib/kong/goss/vars.yaml
  .vib/kong/vib-action.config
  .vib/kong/vib-publish.json
  .vib/kong/vib-verify.json
Labels: verify, bitnami

#13073 [bitnami/contour-operator] Add tests and publishing using VIB
  .github/workflows/cd-pipeline.yml
  .vib/contour-operator/ginkgo/contour_operator.go
  .vib/contour-operator/ginkgo/go.mod
  .vib/contour-operator/ginkgo/go.sum
  .vib/contour-operator/ginkgo/integration_suite_test.go
  .vib/contour-operator/vib-publish.json
  .vib/contour-operator/vib-verify.json
Labels: verify, bitnami

#13214 [bitnami/keycloak] Fix SPI truststore env
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/templates/statefulset.yaml
Labels: verify, keycloak, bitnami

#13259 Bump reitermarkus/automerge version
  .github/workflows/ci-pipeline.yml
Labels: verify, bitnami
