Repository bitnami/charts, pull requests merged in 2023-08, with the labels that each got.

#18058 [bitnami/minio] fix tlsConfig and indentation in ServiceMonitor
  bitnami/minio/Chart.yaml
  bitnami/minio/templates/servicemonitor.yaml
Labels: verify, in-progress, minio

#17802 [bitnami/etcd] Add initialClusterToken
  bitnami/etcd/Chart.yaml
  bitnami/etcd/README.md
  bitnami/etcd/templates/statefulset.yaml
  bitnami/etcd/values.yaml
Labels: verify, in-progress, etcd

#18030 [bitnami/external-dns] tsig keyname as a variable
  bitnami/external-dns/Chart.yaml
  bitnami/external-dns/README.md
  bitnami/external-dns/templates/dep-ds.yaml
  bitnami/external-dns/values.yaml
Labels: verify, in-progress, external-dns

#18121 [bitnami/*] Update MariaDB and MariaDB Galera READMEs after the latest update
  bitnami/mariadb-galera/README.md
  bitnami/mariadb/README.md
Labels: verify, bitnami

#18103 [bitnami/drupal] Update MariaDB chart to 13.0
  bitnami/drupal/Chart.lock
  bitnami/drupal/Chart.yaml
  bitnami/drupal/README.md
Labels: verify, bitnami, drupal

#18104 [bitnami/ejbca] Update MariaDB chart to 13.0
  bitnami/ejbca/Chart.lock
  bitnami/ejbca/Chart.yaml
  bitnami/ejbca/README.md
Labels: verify, bitnami, ejbca

#18105 [bitnami/jasperreports] Update MariaDB chart to 13.0
  bitnami/jasperreports/Chart.lock
  bitnami/jasperreports/Chart.yaml
  bitnami/jasperreports/README.md
Labels: verify, bitnami, jasperreports

#18106 [bitnami/joomla] Update MariaDB chart to 13.0
  bitnami/joomla/Chart.lock
  bitnami/joomla/Chart.yaml
  bitnami/joomla/README.md
Labels: verify, bitnami, joomla

#18107 [bitnami/magento] Update dependencies
  bitnami/magento/Chart.lock
  bitnami/magento/Chart.yaml
  bitnami/magento/README.md
Labels: verify, magento, bitnami

#18108 [bitnami/matomo] Update MariaDB chart to 13.0
  bitnami/matomo/Chart.lock
  bitnami/matomo/Chart.yaml
  bitnami/matomo/README.md
Labels: verify, bitnami, matomo

#18109 [bitnami/mediawiki] Update MariaDB chart to 13.0
  bitnami/mediawiki/Chart.lock
  bitnami/mediawiki/Chart.yaml
  bitnami/mediawiki/README.md
Labels: verify, bitnami, mediawiki

#18110 [bitnami/moodle] Update MariaDB chart to 13.0
  bitnami/moodle/Chart.lock
  bitnami/moodle/Chart.yaml
  bitnami/moodle/README.md
Labels: verify, moodle, bitnami

#18112 [bitnami/osclass] Update MariaDB chart to 13.0
  bitnami/osclass/Chart.lock
  bitnami/osclass/Chart.yaml
  bitnami/osclass/README.md
Labels: verify, bitnami, osclass

#18113 [bitnami/phpbb] Update MariaDB chart to 13.0
  bitnami/phpbb/Chart.lock
  bitnami/phpbb/Chart.yaml
  bitnami/phpbb/README.md
Labels: verify, bitnami, phpbb

#18115 [bitnami/prestashop] Update MariaDB chart to 13.0
  bitnami/prestashop/Chart.lock
  bitnami/prestashop/Chart.yaml
  bitnami/prestashop/README.md
Labels: verify, prestashop, bitnami

#18116 [bitnami/redmine] Update MariaDB chart to 13.0
  bitnami/redmine/Chart.lock
  bitnami/redmine/Chart.yaml
  bitnami/redmine/README.md
Labels: verify, bitnami, redmine

#18119 [bitnami/wordpress] Update MariaDB chart to 13.0
  bitnami/wordpress/Chart.lock
  bitnami/wordpress/Chart.yaml
  bitnami/wordpress/README.md
Labels: verify, bitnami, wordpress

#17932 [bitnami/redis] fix redis sentinel start up
  bitnami/redis/Chart.yaml
  bitnami/redis/README.md
  bitnami/redis/values.yaml
Labels: verify, in-progress, redis

#18117 [bitnami/spring-cloud-dataflow] Update dependencies
  bitnami/spring-cloud-dataflow/Chart.lock
  bitnami/spring-cloud-dataflow/Chart.yaml
  bitnami/spring-cloud-dataflow/README.md
  bitnami/spring-cloud-dataflow/values.yaml
Labels: verify, bitnami, spring-cloud-dataflow

#18111 [bitnami/opencart] Update MariaDB chart to 13.0
  bitnami/opencart/Chart.lock
  bitnami/opencart/Chart.yaml
  bitnami/opencart/README.md
Labels: verify, bitnami, opencart

#18067 [bitnami/external-dns] Add value for filtering managed record types
  bitnami/external-dns/Chart.yaml
  bitnami/external-dns/README.md
  bitnami/external-dns/templates/dep-ds.yaml
  bitnami/external-dns/values.yaml
Labels: verify, in-progress, external-dns

#18074 [bitnami/solr] Add noprompt to init certs command to avoid crash on resume
  bitnami/solr/Chart.yaml
  bitnami/solr/templates/scripts-configmap.yaml
Labels: verify, in-progress, solr

#18063 [bitnami/mariadb-galera] Pass credentials correctly to mysqld_exporter 0.15.x
  bitnami/mariadb-galera/Chart.yaml
  bitnami/mariadb-galera/templates/statefulset.yaml
Labels: verify, in-progress, mariadb-galera

#18038 [bitnami/grafana-operator]: Grafana object to follow new CRD
  bitnami/grafana-operator/Chart.yaml
  bitnami/grafana-operator/README.md
  bitnami/grafana-operator/templates/grafana.yaml
  bitnami/grafana-operator/values.yaml
Labels: verify, bitnami, grafana-operator

#18137 [bitnami/kubernetes-event-exporter] Allow changing the default revisionHistoryLimit
  bitnami/kubernetes-event-exporter/Chart.yaml
  bitnami/kubernetes-event-exporter/README.md
  bitnami/kubernetes-event-exporter/templates/deployment.yaml
  bitnami/kubernetes-event-exporter/values.yaml
Labels: verify, in-progress, kubernetes-event-exporter

#18123 [bitnami/clickhouse] Add support for persistence.existingClaim
  bitnami/clickhouse/Chart.yaml
  bitnami/clickhouse/README.md
  bitnami/clickhouse/templates/statefulset.yaml
  bitnami/clickhouse/values.yaml
Labels: verify, triage, clickhouse

#17507 [bitnami/kafka] Chart refactor
  .vib/kafka/goss/goss.yaml
  .vib/kafka/runtime-parameters.yaml
  .vib/kafka/vib-publish.json
  .vib/kafka/vib-verify.json
  bitnami/kafka/Chart.yaml
  bitnami/kafka/README.md
  bitnami/kafka/templates/NOTES.txt
  bitnami/kafka/templates/_helpers.tpl
  bitnami/kafka/templates/broker/configmap.yaml
  bitnami/kafka/templates/broker/pdb.yaml
  bitnami/kafka/templates/broker/statefulset.yaml
  bitnami/kafka/templates/broker/svc-external-access.yaml
  bitnami/kafka/templates/broker/svc-headless.yaml
  bitnami/kafka/templates/controller-eligible/configmap.yaml
  bitnami/kafka/templates/controller-eligible/pdb.yaml
  bitnami/kafka/templates/controller-eligible/statefulset.yaml
  bitnami/kafka/templates/controller-eligible/svc-external-access.yaml
  bitnami/kafka/templates/controller-eligible/svc-headless.yaml
  bitnami/kafka/templates/jaas-secret.yaml
  bitnami/kafka/templates/kafka-provisioning-serviceaccount.yaml
  bitnami/kafka/templates/log4j-configmap.yaml
  bitnami/kafka/templates/metrics/deployment.yaml
  bitnami/kafka/templates/metrics/jmx-configmap.yaml
  bitnami/kafka/templates/metrics/jmx-servicemonitor.yaml
  bitnami/kafka/templates/metrics/jmx-svc.yaml
  bitnami/kafka/templates/metrics/prometheusrule.yaml
  bitnami/kafka/templates/metrics/serviceaccount.yaml
  bitnami/kafka/templates/metrics/servicemonitor.yaml
  bitnami/kafka/templates/metrics/svc.yaml
  bitnami/kafka/templates/network-policy/networkpolicy-egress.yaml
  bitnami/kafka/templates/network-policy/networkpolicy-ingress.yaml
  bitnami/kafka/templates/provisioning/job.yaml
  bitnami/kafka/templates/provisioning/serviceaccount.yaml
  bitnami/kafka/templates/provisioning/tls-secret.yaml
  bitnami/kafka/templates/rbac/role.yaml
  bitnami/kafka/templates/rbac/rolebinding.yaml
  bitnami/kafka/templates/rbac/serviceaccount.yaml
  bitnami/kafka/templates/scripts-configmap.yaml
  bitnami/kafka/templates/secrets.yaml
  bitnami/kafka/templates/statefulset.yaml
  bitnami/kafka/templates/svc-external-access.yaml
  bitnami/kafka/templates/svc-headless.yaml
  bitnami/kafka/templates/svc.yaml
  bitnami/kafka/templates/tls-secret.yaml
  bitnami/kafka/templates/tls-secrets.yaml
  bitnami/kafka/values.yaml
Labels: verify, kafka, bitnami

#18185 [bitnami/spring-cloud-dataflow] Update Kafka subchart 24.0.0
  bitnami/spring-cloud-dataflow/Chart.lock
  bitnami/spring-cloud-dataflow/Chart.yaml
  bitnami/spring-cloud-dataflow/README.md
  bitnami/spring-cloud-dataflow/values.yaml
Labels: verify, bitnami, spring-cloud-dataflow

#18197 [bitnami/kafka] Always create system-user if client SASL enabled
  bitnami/kafka/Chart.yaml
  bitnami/kafka/templates/secrets.yaml
Labels: verify, kafka, bitnami

#18184 [bitnami/mxnet] Adapt MXNet tests to Air-gapped environments
  .vib/mxnet/goss/goss.yaml
  .vib/mxnet/runtime-parameters.yaml
Labels: verify, bitnami, mxnet

#18125 [bitnami/rabbitmq] Fix issue with ingress.existingSecret
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/templates/_helpers.tpl
  bitnami/rabbitmq/templates/ingress.yaml
Labels: verify, bitnami, rabbitmq

#18122 [grafana-operator] fix: move sidecar definition to deployment section
  bitnami/grafana-operator/Chart.yaml
  bitnami/grafana-operator/templates/grafana.yaml
Labels: verify, in-progress, grafana-operator

#18095 [bitnami/mariadb] Fix mysql_exporter arguments for 0.15.0
  bitnami/mariadb/Chart.yaml
  bitnami/mariadb/templates/primary/statefulset.yaml
  bitnami/mariadb/templates/secondary/statefulset.yaml
Labels: verify, in-progress, mariadb

#18094 [bitnami/mysql] Fix mysql_exporter arguments for 0.15.0
  bitnami/mysql/Chart.yaml
  bitnami/mysql/templates/primary/statefulset.yaml
  bitnami/mysql/templates/secondary/statefulset.yaml
Labels: verify, in-progress, mysql

#17955 [bitnami/keycloak] Keycloak Config CLI Job Name Invalid. No more than 63 characters.
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/templates/keycloak-config-cli-job.yaml
Labels: verify, in-progress, keycloak

#18202 [bitnami/kafka] externalAccess bugfix Use regexMatch instead of regexFind
  bitnami/kafka/Chart.yaml
  bitnami/kafka/templates/NOTES.txt
Labels: verify, in-progress, kafka

#18180 bitnami/kube-prometheus fix: cluster role promagent needs to be plural
  bitnami/kube-prometheus/Chart.yaml
  bitnami/kube-prometheus/templates/prometheus-operator/clusterrole.yaml
Labels: verify, in-progress, kube-prometheus

#18187 [bitnami/schema-registry] Update Kafka subchart 24.0.0
  bitnami/schema-registry/Chart.lock
  bitnami/schema-registry/Chart.yaml
  bitnami/schema-registry/README.md
  bitnami/schema-registry/templates/_helpers.tpl
  bitnami/schema-registry/templates/external-kafka-secrets.yaml
  bitnami/schema-registry/templates/statefulset.yaml
  bitnami/schema-registry/values.yaml
Labels: verify, bitnami, schema-registry

#18228 [bitnami/redis] retry when get master info failed
  bitnami/redis/Chart.yaml
  bitnami/redis/templates/scripts-configmap.yaml
Labels: verify, in-progress, redis

#18206 [bitnami/pytorch] Adapt Pytorch tests to Air-gapped environments
  .vib/pytorch/goss/goss.yaml
  .vib/pytorch/goss/testfiles/README.md
  .vib/pytorch/goss/testfiles/polynomial_tensor.py
  .vib/pytorch/runtime-parameters.yaml
Labels: verify, bitnami, pytorch

#18208 [bitnami/wildfly] Adapt WildFly tests to Air-gapped environments
  .vib/wildfly/goss/goss.yaml
  .vib/wildfly/goss/testfiles/README.md
  .vib/wildfly/goss/testfiles/helloworld.sh
  .vib/wildfly/goss/testfiles/helloworld.war
  .vib/wildfly/runtime-parameters.yaml
Labels: verify, bitnami, wildfly

#18186 [bitnami/milvus] Update Kafka subchart 24.0.0
  bitnami/milvus/Chart.lock
  bitnami/milvus/Chart.yaml
  bitnami/milvus/README.md
  bitnami/milvus/templates/_helpers.tpl
  bitnami/milvus/templates/externalkafka-secret.yaml
  bitnami/milvus/values.yaml
Labels: verify, bitnami, milvus

#18139 [bitnami/deepspeed] feat: :tada: Add chart
  .github/workflows/cd-pipeline.yml
  .vib/deepspeed/goss/goss.yaml
  .vib/deepspeed/runtime-parameters.yaml
  .vib/deepspeed/vib-publish.json
  .vib/deepspeed/vib-verify.json
  bitnami/deepspeed/.helmignore
  bitnami/deepspeed/Chart.lock
  bitnami/deepspeed/Chart.yaml
  bitnami/deepspeed/README.md
  bitnami/deepspeed/templates/NOTES.txt
  bitnami/deepspeed/templates/_helpers.tpl
  bitnami/deepspeed/templates/client/client-dep-job.yaml
  bitnami/deepspeed/templates/client/hostfile-configmap.yaml
  bitnami/deepspeed/templates/client/networkpolicy.yaml
  bitnami/deepspeed/templates/client/pvc.yaml
  bitnami/deepspeed/templates/client/service-account.yaml
  bitnami/deepspeed/templates/client/source-configmap.yaml
  bitnami/deepspeed/templates/client/ssh-client-configmap.yaml
  bitnami/deepspeed/templates/extra-list.yaml
  bitnami/deepspeed/templates/ssh-keys-secret.yaml
  bitnami/deepspeed/templates/worker/networkpolicy.yaml
  bitnami/deepspeed/templates/worker/service-account.yaml
  bitnami/deepspeed/templates/worker/ssh-server-configmap.yaml
  bitnami/deepspeed/templates/worker/worker-headless-svc.yaml
  bitnami/deepspeed/templates/worker/worker-service.yaml
  bitnami/deepspeed/templates/worker/worker-statefulset.yaml
  bitnami/deepspeed/values.schema.json
  bitnami/deepspeed/values.yaml
Labels: verify, bitnami, deepspeed

#18194 [bitnami/common] Add app.kubernetes.io/version based on AppVersion
  bitnami/common/Chart.yaml
  bitnami/common/templates/_labels.tpl
Labels: in-progress, common

#18240 [bitnami/common] Delete app kubernetes version field
  bitnami/common/Chart.yaml
  bitnami/common/templates/_labels.tpl
Labels: verify, bitnami, common

#18242 [bitnami/kafka] Fix Kafka provisoning
  bitnami/kafka/Chart.yaml
  bitnami/kafka/templates/provisioning/job.yaml
Labels: verify, kafka, bitnami

#18178 [bitnami/kube-prometheus] Upgrade crds to 0.67.0
  bitnami/kube-prometheus/Chart.yaml
  bitnami/kube-prometheus/crds/crd-alertmanagerconfigs.yaml
  bitnami/kube-prometheus/crds/crd-alertmanagers.yaml
  bitnami/kube-prometheus/crds/crd-podmonitors.yaml
  bitnami/kube-prometheus/crds/crd-probes.yaml
  bitnami/kube-prometheus/crds/crd-prometheusagents.yaml
  bitnami/kube-prometheus/crds/crd-prometheuses.yaml
  bitnami/kube-prometheus/crds/crd-prometheusrules.yaml
  bitnami/kube-prometheus/crds/crd-scrapeconfigs.yaml
  bitnami/kube-prometheus/crds/crd-servicemonitors.yaml
  bitnami/kube-prometheus/crds/crd-thanosrulers.yaml
  bitnami/kube-prometheus/hack/update_crds.sh
Labels: verify, in-progress, kube-prometheus

#18098 [bitnami/clickhouse] Feat Clickhouse - support for PrometheusRules
  bitnami/clickhouse/Chart.yaml
  bitnami/clickhouse/README.md
  bitnami/clickhouse/templates/prometheusrule.yaml
  bitnami/clickhouse/values.yaml
Labels: verify, in-progress, clickhouse

#18213 [bitnami/external-dns] Add support for externalName service
  bitnami/external-dns/Chart.yaml
  bitnami/external-dns/README.md
  bitnami/external-dns/templates/service.yaml
  bitnami/external-dns/values.yaml
Labels: verify, bitnami, external-dns

#18253 [charts/*] Change path conditions in CD pipeline
  .github/workflows/cd-pipeline.yml
Labels: verify, bitnami

#17862 [bitnami/cert-manager] Add Gateway API rbac rules (#17373)
  bitnami/cert-manager/Chart.yaml
  bitnami/cert-manager/templates/controller/rbac.yaml
Labels: verify, triage, cert-manager

#18254 [bitnami/*] chore: :construction_worker: Exclude license check in CRDs
  .github/workflows/license-headers.yml
Labels: verify, bitnami

#18272 [bitnami/*] chore: :construction_worker: Disable CRD check in license linter
  .licenserc.yaml
Labels: verify, bitnami

#18096 [bitnami/contour] add ipFamilies to contour envoy service.yaml
  bitnami/contour/Chart.yaml
  bitnami/contour/README.md
  bitnami/contour/templates/envoy/service.yaml
  bitnami/contour/values.yaml
Labels: verify, in-progress, contour

#18261 [bitnami/flux] chore: :page_facing_up: Remove license from CRDs
  bitnami/flux/Chart.yaml
  bitnami/flux/crds/helm-controller/helm.toolkit.fluxcd.io_helmreleases.yaml
  bitnami/flux/crds/image-automation-controller/image.toolkit.fluxcd.io_imageupdateautomations.yaml
  bitnami/flux/crds/image-reflector-controller/image.toolkit.fluxcd.io_imagepolicies.yaml
  bitnami/flux/crds/image-reflector-controller/image.toolkit.fluxcd.io_imagerepositories.yaml
  bitnami/flux/crds/kustomize-controller/kustomize.toolkit.fluxcd.io_kustomizations.yaml
  bitnami/flux/crds/notification-controller/notification.toolkit.fluxcd.io_alerts.yaml
  bitnami/flux/crds/notification-controller/notification.toolkit.fluxcd.io_providers.yaml
  bitnami/flux/crds/notification-controller/notification.toolkit.fluxcd.io_receivers.yaml
  bitnami/flux/crds/source-controller/source.toolkit.fluxcd.io_buckets.yaml
  bitnami/flux/crds/source-controller/source.toolkit.fluxcd.io_gitrepositories.yaml
  bitnami/flux/crds/source-controller/source.toolkit.fluxcd.io_helmcharts.yaml
  bitnami/flux/crds/source-controller/source.toolkit.fluxcd.io_helmrepositories.yaml
  bitnami/flux/crds/source-controller/source.toolkit.fluxcd.io_ocirepositories.yaml
Labels: verify, bitnami, flux

#18257 [bitnami/apisix] chore: :page_facing_up: Remove license from CRDs
  bitnami/apisix/Chart.yaml
  bitnami/apisix/crds/ApisixGlobalRule.yaml
  bitnami/apisix/crds/customresourcedefinitions.yaml
Labels: verify, bitnami, apisix

#18207 fix: allow HPA to manage replicas when autoscaling is enabled
  bitnami/haproxy/Chart.yaml
  bitnami/haproxy/templates/deployment.yaml
Labels: verify, in-progress, haproxy

#18266 [bitnami/multus-cni] chore: :page_facing_up: Remove license from CRDs
  bitnami/multus-cni/Chart.yaml
  bitnami/multus-cni/crds/network-attachment-definitions.yaml
Labels: verify, bitnami, multus-cni

#18268 [bitnami/rabbitmq-cluster-operator] chore: :page_facing_up: Remove license from CRDs
  bitnami/rabbitmq-cluster-operator/Chart.yaml
  bitnami/rabbitmq-cluster-operator/crds/crd-rabbitmq-cluster.yaml
  bitnami/rabbitmq-cluster-operator/crds/crds-messaging-topology-operator.yaml
Labels: verify, bitnami, rabbitmq-cluster-operator

#18267 [bitnami/pinniped] chore: :page_facing_up: Remove license from CRDs
  bitnami/pinniped/Chart.yaml
  bitnami/pinniped/crds/concierge-crds.yaml
  bitnami/pinniped/crds/supervisor.crds.yaml
Labels: verify, pinniped, bitnami

#18260 [bitnami/cert-manager] chore: :page_facing_up: Remove license from CRDs
  bitnami/cert-manager/Chart.yaml
  bitnami/cert-manager/templates/crds/crd-certificaterequests.yaml
  bitnami/cert-manager/templates/crds/crd-certificates.yaml
  bitnami/cert-manager/templates/crds/crd-challenges.yaml
  bitnami/cert-manager/templates/crds/crd-clusterissuers.yaml
  bitnami/cert-manager/templates/crds/crd-issuers.yaml
  bitnami/cert-manager/templates/crds/crd-orders.yaml
Labels: verify, bitnami, cert-manager

#18259 [bitnami/argo-workflows] chore: :page_facing_up: Remove license from CRDs
  bitnami/argo-workflows/Chart.yaml
  bitnami/argo-workflows/crds/argoproj.io_clusterworkflowtemplates.yaml
  bitnami/argo-workflows/crds/argoproj.io_cronworkflows.yaml
  bitnami/argo-workflows/crds/argoproj.io_eventbus.yaml
  bitnami/argo-workflows/crds/argoproj.io_eventsources.yaml
  bitnami/argo-workflows/crds/argoproj.io_sensors.yaml
  bitnami/argo-workflows/crds/argoproj.io_workflowartifactgctasks.yaml
  bitnami/argo-workflows/crds/argoproj.io_workfloweventbindings.yaml
  bitnami/argo-workflows/crds/argoproj.io_workflows.yaml
  bitnami/argo-workflows/crds/argoproj.io_workflowtaskresults.yaml
  bitnami/argo-workflows/crds/argoproj.io_workflowtasksets.yaml
  bitnami/argo-workflows/crds/argoproj.io_workflowtemplates.yaml
Labels: verify, argo-workflows, bitnami

#18251 [bitnami/metallb] chore: :truck: Move crds to crds/ folder
  bitnami/metallb/Chart.yaml
  bitnami/metallb/templates/crds/crds.yaml
Labels: verify, bitnami, metallb

#18262 [bitnami/grafana-operator] chore: :page_facing_up: Remove license from CRDs
  bitnami/grafana-operator/Chart.yaml
  bitnami/grafana-operator/crds/grafanadashboards.integreatly.org.yaml
  bitnami/grafana-operator/crds/grafanadatasources.integreatly.org.yaml
  bitnami/grafana-operator/crds/grafanafolders.integreatly.org.yaml
  bitnami/grafana-operator/crds/grafanas.integreatly.org.yaml
Labels: verify, bitnami, grafana-operator

#18278 [bitnami/external-dns] chore: :page_facing_up: Remove license in CRDs
  bitnami/external-dns/Chart.yaml
  bitnami/external-dns/templates/crds/crd.yaml
Labels: verify, bitnami, external-dns

#18277 [bitnami/contour] chore: :page_facing_up: Remove license in CRDs
  bitnami/contour/Chart.yaml
  bitnami/contour/templates/crds/contourconfiguration.yaml
  bitnami/contour/templates/crds/contourdeployments.yaml
  bitnami/contour/templates/crds/extensionservices.yaml
  bitnami/contour/templates/crds/httpproxies.yaml
  bitnami/contour/templates/crds/tlscertificatedeligations.yaml
Labels: verify, contour, bitnami

#18279 [bitnami/metallb] chore: :page_facing_up: Remove license in CRDs
  bitnami/metallb/Chart.yaml
  bitnami/metallb/templates/crds/crds.yaml
Labels: verify, bitnami, metallb

#17831 [bitnami/mongodb] Remove duplicated hostAliases from dep/sts
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/templates/standalone/dep-sts.yaml
Labels: verify, in-progress, mongodb

#18140 [bitnami/thanos] Allow customizing the thanos-sidecar's job name in prometheus alerts
  bitnami/thanos/Chart.yaml
  bitnami/thanos/README.md
  bitnami/thanos/templates/alert-rule/absent_rules.yml
  bitnami/thanos/templates/alert-rule/sidecar.yml
  bitnami/thanos/values.yaml
Labels: verify, in-progress, thanos

#18282 [bitnami/sealed-secrets] chore: :page_facing_up: Remove license in CRDs
  bitnami/sealed-secrets/Chart.yaml
  bitnami/sealed-secrets/crds/sealed-secrets.yaml
Labels: verify, bitnami, sealed-secrets

#18283 [bitnami/kube-prometheus] chore: :wrench: Update hack script to remove copyright addition
  bitnami/kube-prometheus/Chart.yaml
  bitnami/kube-prometheus/hack/update_crds.sh
Labels: verify, bitnami, kube-prometheus

#18274 [bitnami/kafka] Fix issue with Kafka port in NOTES.txt and restore default service ports
  bitnami/kafka/Chart.yaml
  bitnami/kafka/README.md
  bitnami/kafka/templates/NOTES.txt
  bitnami/kafka/values.yaml
Labels: verify, kafka, bitnami

#18211 [bitnami/etcd] only add the service to advertised addresses when it is enabled
  bitnami/etcd/Chart.yaml
  bitnami/etcd/templates/statefulset.yaml
Labels: in-progress, etcd

#17579 [bitnami/redis] checksum only data part of ConfigMap/Secret
  bitnami/redis/Chart.yaml
  bitnami/redis/templates/master/application.yaml
  bitnami/redis/templates/replicas/statefulset.yaml
  bitnami/redis/templates/secret-svcbind.yaml
  bitnami/redis/templates/secret.yaml
  bitnami/redis/templates/sentinel/statefulset.yaml
Labels: verify, in-progress, redis

#18059 [bitnami/external-dns] Support pod restarts when using gitops
  bitnami/external-dns/Chart.yaml
  bitnami/external-dns/templates/dep-ds.yaml
Labels: verify, in-progress, external-dns

#18037 [bitnami/matomo] Do not create Secret when an external DB Secret is provided (#18027)
  bitnami/matomo/Chart.yaml
  bitnami/matomo/templates/externaldb-secrets.yaml
Labels: verify, in-progress, matomo

#18323 [bitnami/kafka] Mount /tmp for kafka-init
  bitnami/kafka/Chart.yaml
  bitnami/kafka/templates/_helpers.tpl
Labels: verify, kafka, bitnami

#17867 [bitnami/harbor] Fix redis address if using sentinel
  bitnami/harbor/Chart.yaml
  bitnami/harbor/templates/_helpers.tpl
  bitnami/harbor/templates/registry/registry-cm.yaml
Labels: verify, in-progress, harbor

#18332 [bitnami/deepspeed] feat: :sparkles: Allow older versions of ssh
  bitnami/deepspeed/Chart.yaml
  bitnami/deepspeed/templates/_helpers.tpl
  bitnami/deepspeed/templates/client/client-dep-job.yaml
  bitnami/deepspeed/templates/worker/worker-statefulset.yaml
Labels: verify, bitnami, deepspeed

#18321 [bitnami/redis] Initial deployments in Redis Sentinel mode have a probability of getting stuck in a dead loop
  bitnami/redis/Chart.yaml
  bitnami/redis/README.md
  bitnami/redis/values.yaml
Labels: verify, in-progress, redis

#18233 [bitnami/grafana-operator] Fix: volumes and secret mounts for grafana-operator
  bitnami/grafana-operator/Chart.yaml
  bitnami/grafana-operator/README.md
  bitnami/grafana-operator/templates/grafana.yaml
  bitnami/grafana-operator/values.yaml
Labels: verify, in-progress, grafana-operator

#18343 [bitnami/postgresql-ha] Add resources to tls init containers
  bitnami/postgresql-ha/Chart.yaml
  bitnami/postgresql-ha/templates/pgpool/deployment.yaml
  bitnami/postgresql-ha/templates/postgresql/statefulset.yaml
Labels: verify, in-progress, postgresql-ha

#18210 [bitnami/minio] Adds cleanupAfterFinished feature to mino provisioning job
  bitnami/minio/Chart.yaml
  bitnami/minio/README.md
  bitnami/minio/templates/provisioning-job.yaml
  bitnami/minio/values.yaml
Labels: verify, in-progress, minio

#18312 [bitnami/redis] Define missing HEADLESS_SERVICE for start-replica.sh
  bitnami/redis/Chart.yaml
  bitnami/redis/templates/scripts-configmap.yaml
Labels: verify, in-progress, redis

#18324 [bitnami/kafka] Add enableServiceLinks
  bitnami/kafka/Chart.yaml
  bitnami/kafka/README.md
  bitnami/kafka/templates/broker/statefulset.yaml
  bitnami/kafka/templates/controller-eligible/statefulset.yaml
  bitnami/kafka/templates/metrics/deployment.yaml
  bitnami/kafka/templates/provisioning/job.yaml
  bitnami/kafka/values.yaml
Labels: verify, in-progress, kafka

#18337 [bitnami/redis] Refer to correct values in sentinel replica emptyDir
  bitnami/redis/Chart.yaml
  bitnami/redis/templates/sentinel/statefulset.yaml
Labels: verify, in-progress, redis

#18369 [bitnami/kafka] Provisioning job to use a writable folder for client.properties;
  bitnami/kafka/Chart.yaml
  bitnami/kafka/templates/provisioning/job.yaml
Labels: verify, in-progress, kafka

#18360 [bitnami/deepspeed] fix: :bug: Add context to init container
  .vib/deepspeed/runtime-parameters.yaml
  bitnami/deepspeed/Chart.yaml
  bitnami/deepspeed/README.md
  bitnami/deepspeed/templates/_helpers.tpl
  bitnami/deepspeed/templates/client/client-dep-job.yaml
  bitnami/deepspeed/templates/worker/worker-statefulset.yaml
  bitnami/deepspeed/values.yaml
Labels: verify, bitnami, deepspeed

#18402 [bitnami/kubernetes-event-exporter] Skip check-no-capabilities test when securityContext disabled
  .vib/kubernetes-event-exporter/goss/goss.yaml
Labels: verify, bitnami

#18400 [bitnami/nats] Fix issue with goss tests 'running_user'
  .vib/nats/goss/goss.yaml
Labels: verify, bitnami

#18401 [bitnami/metallb] Skip check-no-capabilities test when securityContext disabled
  .vib/metallb/goss/goss.yaml
Labels: verify, bitnami

#18399 [bitnami/spring-cloud-dataflow] Remove 'runAsUser' goss test
  .vib/spring-cloud-dataflow/goss/goss.yaml
Labels: verify, bitnami

#18366 [bitnami/contour] Use envoy resources for envoy daemonset and deployment initContainers
  bitnami/contour/Chart.yaml
  bitnami/contour/templates/envoy/daemonset.yaml
  bitnami/contour/templates/envoy/deployment.yaml
Labels: verify, in-progress, contour

#18391 bitnami/prometheus: Changes Ingress backend to match services
  bitnami/prometheus/Chart.yaml
  bitnami/prometheus/templates/alertmanager/ingress.yaml
  bitnami/prometheus/templates/server/ingress.yaml
  bitnami/prometheus/templates/server/service.yaml
Labels: verify, in-progress, prometheus

#18344 [bitnami/mysql] Update to mysql chart to have startdb script
  bitnami/mysql/Chart.yaml
  bitnami/mysql/README.md
  bitnami/mysql/templates/_helpers.tpl
  bitnami/mysql/templates/primary/startdb-configmap.yaml
  bitnami/mysql/templates/primary/statefulset.yaml
  bitnami/mysql/templates/secondary/statefulset.yaml
  bitnami/mysql/values.yaml
Labels: verify, in-progress, mysql

#18450 [bitnami/opensearch] Fix dashboards liveness probe timeouts
  bitnami/opensearch/Chart.yaml
  bitnami/opensearch/README.md
  bitnami/opensearch/values.yaml
Labels: verify, bitnami, opensearch

#18375 [bitnami/cert-manager] Add patch permission to cert-manager controller for issuers and clusterissuers
  bitnami/cert-manager/Chart.yaml
  bitnami/cert-manager/templates/controller/rbac.yaml
Labels: verify, in-progress, cert-manager

#18309 [bitnami/clickhouse]: Use inmutable labels on claim templates
  bitnami/clickhouse/Chart.yaml
  bitnami/clickhouse/templates/statefulset.yaml
Labels: verify, bitnami, clickhouse

#18404 [bitnami/vault] Skip check-no-capabilities test when securityContext disabled
  .vib/vault/goss/goss.yaml
Labels: verify, bitnami

#18462 [bitnami/opensearch] Skip check-no-capabilities test when securityContext disabled
  .vib/opensearch/goss/goss.yaml
  .vib/opensearch/runtime-parameters.yaml
Labels: verify, bitnami

#18316 [bitnami/schema-registry] Fix sts when using externalKafka
  bitnami/schema-registry/Chart.yaml
  bitnami/schema-registry/templates/statefulset.yaml
Labels: verify, bitnami, schema-registry

#18396 [bitnami/ghost] Include diagnosticMode feature
  bitnami/ghost/Chart.yaml
  bitnami/ghost/README.md
  bitnami/ghost/templates/deployment.yaml
  bitnami/ghost/values.yaml
Labels: verify, bitnami, ghost

#18028 [bitnami/redis-cluster] support external host to cluster announcement preffered type
  bitnami/redis-cluster/Chart.yaml
  bitnami/redis-cluster/README.md
  bitnami/redis-cluster/templates/redis-statefulset.yaml
  bitnami/redis-cluster/values.yaml
Labels: verify, in-progress, redis-cluster

#18471 [bitnami/contour] Added suport for behavior on Envoy HPA
  bitnami/contour/Chart.yaml
  bitnami/contour/README.md
  bitnami/contour/templates/envoy/hpa.yaml
  bitnami/contour/values.yaml
Labels: verify, in-progress, contour

#18500 [bitnami/schema-registry] Allow mounting the .Values.auth.tls.jksSecret secret in the certs folder
  bitnami/schema-registry/Chart.yaml
  bitnami/schema-registry/templates/statefulset.yaml
Labels: verify, bitnami, schema-registry

#18407 [bitnami/cassandra] Fix to accept list of loadBalancerSourceRanges
  bitnami/cassandra/Chart.yaml
  bitnami/cassandra/templates/service.yaml
Labels: verify, in-progress, cassandra

#18614 [bitnami/deepspeed] fix: :bug: Set HOME to /home/deepspeed
  bitnami/deepspeed/Chart.yaml
  bitnami/deepspeed/templates/client/client-dep-job.yaml
  bitnami/deepspeed/templates/worker/worker-statefulset.yaml
Labels: verify, bitnami

#18413 [bitnami/kube-prometheus] Allow setting sampleLimit/enforcedSampleLimit
  bitnami/kube-prometheus/Chart.yaml
  bitnami/kube-prometheus/README.md
  bitnami/kube-prometheus/templates/prometheus/prometheus.yaml
  bitnami/kube-prometheus/values.yaml
Labels: verify, in-progress, kube-prometheus

#18557 [bitnami/postgresql] fix annotation typo
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/templates/backup/cronjob.yaml
Labels: verify, in-progress, postgresql

#18393 [bitnami/opensearch] Fix guards for OpenSearch Dashboards
  bitnami/opensearch/Chart.yaml
  bitnami/opensearch/templates/_helpers.tpl
  bitnami/opensearch/templates/dashboards/deployment.yaml
  bitnami/opensearch/templates/dashboards/hpa.yaml
  bitnami/opensearch/templates/dashboards/pdb.yaml
  bitnami/opensearch/templates/dashboards/service.yaml
  bitnami/opensearch/templates/dashboards/serviceaccount.yaml
  bitnami/opensearch/templates/dashboards/tls-secret.yaml
Labels: verify, in-progress, opensearch

#18624 [bitnami/argo-cd] Provide configmap for rbac configuration
  bitnami/argo-cd/Chart.yaml
  bitnami/argo-cd/README.md
  bitnami/argo-cd/templates/applicationset/deployment.yaml
  bitnami/argo-cd/templates/rbac-cm.yaml
  bitnami/argo-cd/values.yaml
Labels: verify, in-progress, argo-cd

#18306 [bitnami/haproxy] Support for customizing standard labels
  bitnami/haproxy/Chart.lock
  bitnami/haproxy/Chart.yaml
  bitnami/haproxy/templates/configmap.yaml
  bitnami/haproxy/templates/deployment.yaml
  bitnami/haproxy/templates/hpa.yaml
  bitnami/haproxy/templates/ingress.yaml
  bitnami/haproxy/templates/pdb.yaml
  bitnami/haproxy/templates/service-account.yaml
  bitnami/haproxy/templates/service.yaml
Labels: verify, bitnami, haproxy

#18308 [bitnami/jenkins] Support for customizing standard labels
  bitnami/jenkins/Chart.lock
  bitnami/jenkins/Chart.yaml
  bitnami/jenkins/templates/agent-listener-svc.yaml
  bitnami/jenkins/templates/casc-cm.yaml
  bitnami/jenkins/templates/controller-svc.yaml
  bitnami/jenkins/templates/deployment.yaml
  bitnami/jenkins/templates/ingress.yaml
  bitnami/jenkins/templates/pvc.yaml
  bitnami/jenkins/templates/role.yaml
  bitnami/jenkins/templates/rolebinding.yaml
  bitnami/jenkins/templates/secrets.yaml
  bitnami/jenkins/templates/serviceaccount.yaml
  bitnami/jenkins/templates/tls-secret.yaml
Labels: verify, jenkins, bitnami

#18293 [bitnami/cassandra] Support for customizing standard labels
  bitnami/cassandra/Chart.lock
  bitnami/cassandra/Chart.yaml
  bitnami/cassandra/templates/cassandra-secret.yaml
  bitnami/cassandra/templates/headless-svc.yaml
  bitnami/cassandra/templates/metrics-configmap.yaml
  bitnami/cassandra/templates/networkpolicy.yaml
  bitnami/cassandra/templates/pdb.yaml
  bitnami/cassandra/templates/service.yaml
  bitnami/cassandra/templates/serviceaccount.yaml
  bitnami/cassandra/templates/servicemonitor.yaml
  bitnami/cassandra/templates/statefulset.yaml
  bitnami/cassandra/templates/tls-secret.yaml
Labels: verify, bitnami, cassandra

#18442 [bitnami/tomcat] Support for customizing standard labels
  bitnami/tomcat/Chart.lock
  bitnami/tomcat/Chart.yaml
  bitnami/tomcat/templates/_pod.tpl
  bitnami/tomcat/templates/deployment.yaml
  bitnami/tomcat/templates/ingress.yaml
  bitnami/tomcat/templates/jmx-configmap.yaml
  bitnami/tomcat/templates/networkpolicy.yaml
  bitnami/tomcat/templates/podmonitor.yaml
  bitnami/tomcat/templates/prometheusrule.yaml
  bitnami/tomcat/templates/pvc.yaml
  bitnami/tomcat/templates/secrets.yaml
  bitnami/tomcat/templates/statefulset.yaml
  bitnami/tomcat/templates/svc-headless.yaml
  bitnami/tomcat/templates/svc.yaml
  bitnami/tomcat/templates/tls-secrets.yaml
Labels: verify, bitnami, tomcat

#18441 [bitnami/tensorflow-resnet] Support for customizing standard labels
  bitnami/tensorflow-resnet/Chart.lock
  bitnami/tensorflow-resnet/Chart.yaml
  bitnami/tensorflow-resnet/templates/deployment.yaml
  bitnami/tensorflow-resnet/templates/service.yaml
Labels: verify, bitnami, tensorflow-resnet

#18358 [bitnami/nginx] Support for customizing standard labels
  bitnami/nginx/Chart.lock
  bitnami/nginx/Chart.yaml
  bitnami/nginx/templates/deployment.yaml
  bitnami/nginx/templates/health-ingress.yaml
  bitnami/nginx/templates/hpa.yaml
  bitnami/nginx/templates/ingress.yaml
  bitnami/nginx/templates/pdb.yaml
  bitnami/nginx/templates/prometheusrules.yaml
  bitnami/nginx/templates/server-block-configmap.yaml
  bitnami/nginx/templates/serviceaccount.yaml
  bitnami/nginx/templates/servicemonitor.yaml
  bitnami/nginx/templates/svc.yaml
  bitnami/nginx/templates/tls-secrets.yaml
Labels: verify, nginx, bitnami

#18295 [bitnami/consul] Support for customizing standard labels
  bitnami/consul/Chart.lock
  bitnami/consul/Chart.yaml
  bitnami/consul/templates/configmap.yaml
  bitnami/consul/templates/consul-headless-service.yaml
  bitnami/consul/templates/gossip-secret.yaml
  bitnami/consul/templates/ingress.yaml
  bitnami/consul/templates/metrics-svc.yaml
  bitnami/consul/templates/pdb.yaml
  bitnami/consul/templates/service.yaml
  bitnami/consul/templates/servicemonitor.yaml
  bitnami/consul/templates/statefulset.yaml
  bitnami/consul/templates/tls-secrets.yaml
Labels: verify, bitnami, consul

#18298 [bitnami/etcd] Support for customizing standard labels
  bitnami/etcd/Chart.lock
  bitnami/etcd/Chart.yaml
  bitnami/etcd/templates/configmap.yaml
  bitnami/etcd/templates/cronjob.yaml
  bitnami/etcd/templates/networkpolicy.yaml
  bitnami/etcd/templates/pdb.yaml
  bitnami/etcd/templates/podmonitor.yaml
  bitnami/etcd/templates/prometheusrule.yaml
  bitnami/etcd/templates/secrets.yaml
  bitnami/etcd/templates/serviceaccount.yaml
  bitnami/etcd/templates/snapshot-pvc.yaml
  bitnami/etcd/templates/statefulset.yaml
  bitnami/etcd/templates/svc-headless.yaml
  bitnami/etcd/templates/svc.yaml
  bitnami/etcd/templates/token-secrets.yaml
Labels: verify, bitnami, etcd

#18406 [bitnami/pinniped] Support for customizing standard labels
  bitnami/pinniped/Chart.lock
  bitnami/pinniped/Chart.yaml
  bitnami/pinniped/templates/concierge/apiservice-identity.yaml
  bitnami/pinniped/templates/concierge/apiservice-login.yaml
  bitnami/pinniped/templates/concierge/configmap.yaml
  bitnami/pinniped/templates/concierge/credential-issuer.yaml
  bitnami/pinniped/templates/concierge/deployment.yaml
  bitnami/pinniped/templates/concierge/impersonation-proxy-service-account.yaml
  bitnami/pinniped/templates/concierge/kube-cert-agent-service-account.yaml
  bitnami/pinniped/templates/concierge/rbac.yaml
  bitnami/pinniped/templates/concierge/service-account.yaml
  bitnami/pinniped/templates/concierge/service-api.yaml
  bitnami/pinniped/templates/concierge/service-proxy.yaml
  bitnami/pinniped/templates/concierge/token-secret.yaml
  bitnami/pinniped/templates/supervisor/apiservice-clientsecret.yaml
  bitnami/pinniped/templates/supervisor/configmap.yaml
  bitnami/pinniped/templates/supervisor/deployment.yaml
  bitnami/pinniped/templates/supervisor/ingress.yaml
  bitnami/pinniped/templates/supervisor/rbac.yaml
  bitnami/pinniped/templates/supervisor/service-account.yaml
  bitnami/pinniped/templates/supervisor/service-api.yaml
  bitnami/pinniped/templates/supervisor/service.yaml
  bitnami/pinniped/templates/supervisor/tls-secret.yaml
Labels: verify, pinniped, bitnami

#18438 [bitnami/redis-cluster] Support for customizing standard labels
  bitnami/redis-cluster/Chart.lock
  bitnami/redis-cluster/Chart.yaml
  bitnami/redis-cluster/templates/configmap.yaml
  bitnami/redis-cluster/templates/headless-svc.yaml
  bitnami/redis-cluster/templates/metrics-prometheus.yaml
  bitnami/redis-cluster/templates/metrics-svc.yaml
  bitnami/redis-cluster/templates/networkpolicy.yaml
  bitnami/redis-cluster/templates/poddisruptionbudget.yaml
  bitnami/redis-cluster/templates/prometheusrule.yaml
  bitnami/redis-cluster/templates/psp.yaml
  bitnami/redis-cluster/templates/redis-role.yaml
  bitnami/redis-cluster/templates/redis-rolebinding.yaml
  bitnami/redis-cluster/templates/redis-serviceaccount.yaml
  bitnami/redis-cluster/templates/redis-statefulset.yaml
  bitnami/redis-cluster/templates/redis-svc.yaml
  bitnami/redis-cluster/templates/scripts-configmap.yaml
  bitnami/redis-cluster/templates/secret.yaml
  bitnami/redis-cluster/templates/svc-cluster-external-access.yaml
  bitnami/redis-cluster/templates/tls-secret.yaml
  bitnami/redis-cluster/templates/update-cluster.yaml
Labels: verify, bitnami, redis-cluster

#18415 [bitnami/pytorch] Support for customizing standard labels
  bitnami/pytorch/Chart.lock
  bitnami/pytorch/Chart.yaml
  bitnami/pytorch/templates/configmap.yaml
  bitnami/pytorch/templates/deployment.yaml
  bitnami/pytorch/templates/headless-svc.yaml
  bitnami/pytorch/templates/pvc.yaml
  bitnami/pytorch/templates/service.yaml
  bitnami/pytorch/templates/statefulset.yaml
Labels: verify, bitnami, pytorch

#18357 [bitnami/nats] Support for customizing standard labels
  bitnami/nats/Chart.lock
  bitnami/nats/Chart.yaml
  bitnami/nats/templates/deployment.yaml
  bitnami/nats/templates/headless-svc.yaml
  bitnami/nats/templates/ingress.yaml
  bitnami/nats/templates/metrics-svc.yaml
  bitnami/nats/templates/networkpolicy.yaml
  bitnami/nats/templates/poddisruptionbudget.yaml
  bitnami/nats/templates/secrets.yaml
  bitnami/nats/templates/service.yaml
  bitnami/nats/templates/servicemonitor.yaml
  bitnami/nats/templates/statefulset.yaml
  bitnami/nats/templates/tls-secret.yaml
Labels: verify, bitnami, nats

#18414 [bitnami/prometheus] Support for customizing standard labels
  bitnami/prometheus/Chart.lock
  bitnami/prometheus/Chart.yaml
  bitnami/prometheus/templates/alertmanager/configmap.yaml
  bitnami/prometheus/templates/alertmanager/ingress.yaml
  bitnami/prometheus/templates/alertmanager/pdb.yaml
  bitnami/prometheus/templates/alertmanager/service-account.yaml
  bitnami/prometheus/templates/alertmanager/service-headless.yaml
  bitnami/prometheus/templates/alertmanager/service.yaml
  bitnami/prometheus/templates/alertmanager/statefulset.yaml
  bitnami/prometheus/templates/server/clusterrole.yaml
  bitnami/prometheus/templates/server/clusterrolebinding.yaml
  bitnami/prometheus/templates/server/configmap.yaml
  bitnami/prometheus/templates/server/deployment.yaml
  bitnami/prometheus/templates/server/ingress.yaml
  bitnami/prometheus/templates/server/pdb.yaml
  bitnami/prometheus/templates/server/pvc.yaml
  bitnami/prometheus/templates/server/service-account.yaml
  bitnami/prometheus/templates/server/service.yaml
  bitnami/prometheus/templates/server/thanos-ingress.yaml
  bitnami/prometheus/templates/server/thanos-service.yaml
  bitnami/prometheus/templates/tls-secret.yaml
Labels: verify, bitnami, prometheus

#18398 [bitnami/node-exporter] Support for customizing standard labels
  bitnami/node-exporter/Chart.lock
  bitnami/node-exporter/Chart.yaml
  bitnami/node-exporter/templates/daemonset.yaml
  bitnami/node-exporter/templates/psp-clusterrole.yaml
  bitnami/node-exporter/templates/psp-clusterrolebinding.yaml
  bitnami/node-exporter/templates/psp.yaml
  bitnami/node-exporter/templates/service.yaml
  bitnami/node-exporter/templates/serviceaccount.yaml
  bitnami/node-exporter/templates/servicemonitor.yaml
Labels: verify, bitnami, node-exporter

#18448 [bitnami/wildfly] Support for customizing standard labels
  bitnami/wildfly/Chart.lock
  bitnami/wildfly/Chart.yaml
  bitnami/wildfly/templates/deployment.yaml
  bitnami/wildfly/templates/ingress.yaml
  bitnami/wildfly/templates/management-ingress.yaml
  bitnami/wildfly/templates/pvc.yaml
  bitnami/wildfly/templates/secrets.yaml
  bitnami/wildfly/templates/svc.yaml
  bitnami/wildfly/templates/tls-secrets.yaml
Labels: verify, bitnami, wildfly

#18355 [bitnami/mxnet] Support for customizing standard labels
  bitnami/mxnet/Chart.lock
  bitnami/mxnet/Chart.yaml
  bitnami/mxnet/templates/configmap.yaml
  bitnami/mxnet/templates/distributed/headless-svc.yaml
  bitnami/mxnet/templates/distributed/scheduler/deployment.yaml
  bitnami/mxnet/templates/distributed/scheduler/service.yaml
  bitnami/mxnet/templates/distributed/server/statefulset.yaml
  bitnami/mxnet/templates/distributed/worker/statefulset.yaml
  bitnami/mxnet/templates/pvc.yaml
  bitnami/mxnet/templates/standalone/deployment.yaml
Labels: verify, bitnami, mxnet

#18299 [bitnami/flink] Support for customizing standard labels
  bitnami/flink/Chart.lock
  bitnami/flink/Chart.yaml
  bitnami/flink/templates/jobmanager/deployment.yaml
  bitnami/flink/templates/jobmanager/service.yml
  bitnami/flink/templates/jobmanager/serviceaccount.yaml
  bitnami/flink/templates/taskmanager/deployment.yaml
  bitnami/flink/templates/taskmanager/service.yml
  bitnami/flink/templates/taskmanager/serviceaccount.yaml
Labels: verify, bitnami, flink

#18333 [bitnami/metallb] Support for customizing standard labels
  bitnami/metallb/Chart.lock
  bitnami/metallb/Chart.yaml
  bitnami/metallb/templates/controller/configmap.yaml
  bitnami/metallb/templates/controller/deployment.yaml
  bitnami/metallb/templates/controller/networkpolicy.yaml
  bitnami/metallb/templates/controller/psp.yaml
  bitnami/metallb/templates/controller/rbac.yaml
  bitnami/metallb/templates/controller/service.yaml
  bitnami/metallb/templates/controller/serviceaccount.yaml
  bitnami/metallb/templates/controller/servicemonitor.yaml
  bitnami/metallb/templates/controller/webhooks.yaml
  bitnami/metallb/templates/prometheus/metallb.alerts.yaml
  bitnami/metallb/templates/rbac.yaml
  bitnami/metallb/templates/speaker/daemonset.yaml
  bitnami/metallb/templates/speaker/psp.yaml
  bitnami/metallb/templates/speaker/rbac.yaml
  bitnami/metallb/templates/speaker/secret.yaml
  bitnami/metallb/templates/speaker/service.yaml
  bitnami/metallb/templates/speaker/serviceaccount.yaml
  bitnami/metallb/templates/speaker/servicemonitor.yaml
Labels: verify, bitnami, metallb

#18317 [bitnami/kubernetes-event-exporter] Support for customizing standard labels
  bitnami/kubernetes-event-exporter/Chart.lock
  bitnami/kubernetes-event-exporter/Chart.yaml
  bitnami/kubernetes-event-exporter/templates/clusterrole.yaml
  bitnami/kubernetes-event-exporter/templates/configmap.yaml
  bitnami/kubernetes-event-exporter/templates/deployment.yaml
  bitnami/kubernetes-event-exporter/templates/metrics-service.yaml
  bitnami/kubernetes-event-exporter/templates/prometheusrule.yaml
  bitnami/kubernetes-event-exporter/templates/rbac-leader-election.yaml
  bitnami/kubernetes-event-exporter/templates/rbac.yaml
  bitnami/kubernetes-event-exporter/templates/serviceaccount.yaml
  bitnami/kubernetes-event-exporter/templates/servicemonitor.yaml
Labels: verify, bitnami, kubernetes-event-exporter

#18447 [bitnami/whereabouts] Support for customizing standard labels
  bitnami/whereabouts/Chart.lock
  bitnami/whereabouts/Chart.yaml
  bitnami/whereabouts/templates/clusterrole.yaml
  bitnami/whereabouts/templates/clusterrolebinding.yaml
  bitnami/whereabouts/templates/daemonset.yaml
  bitnami/whereabouts/templates/service-account.yaml
Labels: verify, bitnami, whereabouts

#18439 [bitnami/sealed-secrets] Support for customizing standard labels
  bitnami/sealed-secrets/Chart.lock
  bitnami/sealed-secrets/Chart.yaml
  bitnami/sealed-secrets/templates/clusterrole.yaml
  bitnami/sealed-secrets/templates/clusterrolebinding.yaml
  bitnami/sealed-secrets/templates/deployment.yaml
  bitnami/sealed-secrets/templates/ingress.yaml
  bitnami/sealed-secrets/templates/networkpolicy.yaml
  bitnami/sealed-secrets/templates/psp-clusterrole.yaml
  bitnami/sealed-secrets/templates/psp-clusterrolebinding.yaml
  bitnami/sealed-secrets/templates/psp.yaml
  bitnami/sealed-secrets/templates/role.yaml
  bitnami/sealed-secrets/templates/rolebinding.yaml
  bitnami/sealed-secrets/templates/service.yaml
  bitnami/sealed-secrets/templates/serviceaccount.yaml
  bitnami/sealed-secrets/templates/servicemonitor.yaml
  bitnami/sealed-secrets/templates/tls-secret.yaml
Labels: verify, bitnami, sealed-secrets

#18416 [bitnami/rabbitmq] Support for customizing standard labels
  bitnami/rabbitmq/Chart.lock
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/templates/config-secret.yaml
  bitnami/rabbitmq/templates/ingress-tls-secrets.yaml
  bitnami/rabbitmq/templates/ingress.yaml
  bitnami/rabbitmq/templates/init-configmap.yaml
  bitnami/rabbitmq/templates/networkpolicy.yaml
  bitnami/rabbitmq/templates/pdb.yaml
  bitnami/rabbitmq/templates/prometheusrule.yaml
  bitnami/rabbitmq/templates/role.yaml
  bitnami/rabbitmq/templates/rolebinding.yaml
  bitnami/rabbitmq/templates/secrets.yaml
  bitnami/rabbitmq/templates/serviceaccount.yaml
  bitnami/rabbitmq/templates/servicemonitor.yaml
  bitnami/rabbitmq/templates/statefulset.yaml
  bitnami/rabbitmq/templates/svc-headless.yaml
  bitnami/rabbitmq/templates/svc.yaml
  bitnami/rabbitmq/templates/tls-secrets.yaml
Labels: verify, bitnami, rabbitmq

#18315 [bitnami/kube-state-metrics] Support for customizing standard labels
  bitnami/kube-state-metrics/Chart.lock
  bitnami/kube-state-metrics/Chart.yaml
  bitnami/kube-state-metrics/templates/clusterrole.yaml
  bitnami/kube-state-metrics/templates/clusterrolebinding.yaml
  bitnami/kube-state-metrics/templates/deployment.yaml
  bitnami/kube-state-metrics/templates/psp-clusterrole.yaml
  bitnami/kube-state-metrics/templates/psp-clusterrolebinding.yaml
  bitnami/kube-state-metrics/templates/psp.yaml
  bitnami/kube-state-metrics/templates/service.yaml
  bitnami/kube-state-metrics/templates/serviceaccount.yaml
  bitnami/kube-state-metrics/templates/servicemonitor.yaml
Labels: verify, bitnami, kube-state-metrics

#18297 [bitnami/dokuwiki] Support for customizing standard labels
  bitnami/dokuwiki/Chart.lock
  bitnami/dokuwiki/Chart.yaml
  bitnami/dokuwiki/templates/deployment.yaml
  bitnami/dokuwiki/templates/dokuwiki-pvc.yaml
  bitnami/dokuwiki/templates/ingress.yaml
  bitnami/dokuwiki/templates/postinit-configmap.yaml
  bitnami/dokuwiki/templates/secrets.yaml
  bitnami/dokuwiki/templates/svc.yaml
  bitnami/dokuwiki/templates/tls-secrets.yaml
Labels: verify, bitnami, dokuwiki

#18294 [bitnami/cert-manager] Support for customizing standard labels
  bitnami/cert-manager/Chart.lock
  bitnami/cert-manager/Chart.yaml
  bitnami/cert-manager/templates/cainjector/deployment.yaml
  bitnami/cert-manager/templates/cainjector/rbac.yaml
  bitnami/cert-manager/templates/cainjector/serviceaccount.yaml
  bitnami/cert-manager/templates/controller/deployment.yaml
  bitnami/cert-manager/templates/controller/rbac.yaml
  bitnami/cert-manager/templates/controller/service.yaml
  bitnami/cert-manager/templates/controller/serviceaccount.yaml
  bitnami/cert-manager/templates/controller/servicemonitor.yaml
  bitnami/cert-manager/templates/crds/crd-certificaterequests.yaml
  bitnami/cert-manager/templates/crds/crd-certificates.yaml
  bitnami/cert-manager/templates/crds/crd-challenges.yaml
  bitnami/cert-manager/templates/crds/crd-clusterissuers.yaml
  bitnami/cert-manager/templates/crds/crd-issuers.yaml
  bitnami/cert-manager/templates/crds/crd-orders.yaml
  bitnami/cert-manager/templates/webhook/deployment.yaml
  bitnami/cert-manager/templates/webhook/mutating-webhook.yaml
  bitnami/cert-manager/templates/webhook/rbac.yaml
  bitnami/cert-manager/templates/webhook/service.yaml
  bitnami/cert-manager/templates/webhook/serviceaccount.yaml
  bitnami/cert-manager/templates/webhook/validating-webhook.yaml
Labels: verify, bitnami, cert-manager

#18291 [bitnami/apache] Support for customizing standard labels
  bitnami/apache/Chart.lock
  bitnami/apache/Chart.yaml
  bitnami/apache/templates/configmap-vhosts.yaml
  bitnami/apache/templates/configmap.yaml
  bitnami/apache/templates/deployment.yaml
  bitnami/apache/templates/hpa.yaml
  bitnami/apache/templates/ingress.yaml
  bitnami/apache/templates/metrics-svc.yaml
  bitnami/apache/templates/pdb.yaml
  bitnami/apache/templates/prometheusrules.yaml
  bitnami/apache/templates/servicemonitor.yaml
  bitnami/apache/templates/svc.yaml
  bitnami/apache/templates/tls-secrets.yaml
Labels: verify, apache, bitnami

#18325 [bitnami/mariadb-galera] Support for customizing standard labels
  bitnami/mariadb-galera/Chart.lock
  bitnami/mariadb-galera/Chart.yaml
  bitnami/mariadb-galera/templates/configmap.yaml
  bitnami/mariadb-galera/templates/headless-svc.yaml
  bitnami/mariadb-galera/templates/initialization-configmap.yaml
  bitnami/mariadb-galera/templates/metrics-svc.yaml
  bitnami/mariadb-galera/templates/pdb.yaml
  bitnami/mariadb-galera/templates/prometheusrules.yaml
  bitnami/mariadb-galera/templates/role.yaml
  bitnami/mariadb-galera/templates/rolebinding.yaml
  bitnami/mariadb-galera/templates/secrets.yaml
  bitnami/mariadb-galera/templates/serviceaccount.yaml
  bitnami/mariadb-galera/templates/servicemonitor.yaml
  bitnami/mariadb-galera/templates/statefulset.yaml
  bitnami/mariadb-galera/templates/svc.yaml
  bitnami/mariadb-galera/templates/tls-secrets.yaml
Labels: verify, bitnami, mariadb-galera

#18305 [bitnami/grafana-operator] Support for customizing standard labels
  bitnami/grafana-operator/Chart.lock
  bitnami/grafana-operator/Chart.yaml
  bitnami/grafana-operator/templates/deployment.yaml
  bitnami/grafana-operator/templates/grafana.yaml
  bitnami/grafana-operator/templates/rbac-clustescope.yaml
  bitnami/grafana-operator/templates/rbac-namespace.yaml
  bitnami/grafana-operator/templates/serviceaccount.yaml
  bitnami/grafana-operator/templates/servicemonitor.yaml
Labels: verify, bitnami, grafana-operator

#18296 [bitnami/contour] Support for customizing standard labels
  bitnami/contour/Chart.lock
  bitnami/contour/Chart.yaml
  bitnami/contour/templates/certgen/job.yaml
  bitnami/contour/templates/certgen/rbac.yaml
  bitnami/contour/templates/certgen/serviceaccount.yaml
  bitnami/contour/templates/contour/configmap.yaml
  bitnami/contour/templates/contour/deployment.yaml
  bitnami/contour/templates/contour/ingressclass.yaml
  bitnami/contour/templates/contour/rbac.yaml
  bitnami/contour/templates/contour/service.yaml
  bitnami/contour/templates/contour/serviceaccount.yaml
  bitnami/contour/templates/contour/servicemonitor.yaml
  bitnami/contour/templates/default-backend/deployment.yaml
  bitnami/contour/templates/default-backend/ingress.yaml
  bitnami/contour/templates/default-backend/poddisruptionbudget.yaml
  bitnami/contour/templates/default-backend/service.yaml
  bitnami/contour/templates/default-backend/tls-secrets.yaml
  bitnami/contour/templates/envoy/daemonset.yaml
  bitnami/contour/templates/envoy/deployment.yaml
  bitnami/contour/templates/envoy/hpa.yaml
  bitnami/contour/templates/envoy/service.yaml
  bitnami/contour/templates/envoy/serviceaccount.yaml
  bitnami/contour/templates/envoy/servicemonitor.yaml
Labels: verify, contour, bitnami

#18760 [bitnami/etcd] test: :white_check_mark: Add persistence tests
  .vib/etcd/ginkgo/etcd_suite_test.go
  .vib/etcd/ginkgo/etcd_test.go
  .vib/etcd/ginkgo/go.mod
  .vib/etcd/ginkgo/go.sum
  .vib/etcd/vib-publish.json
  .vib/etcd/vib-verify.json
Labels: verify, bitnami, etcd

#18300 [bitnami/external-dns] Support for customizing standard labels
  bitnami/external-dns/Chart.lock
  bitnami/external-dns/Chart.yaml
  bitnami/external-dns/templates/_helpers.tpl
  bitnami/external-dns/templates/clusterrole.yaml
  bitnami/external-dns/templates/clusterrolebinding.yaml
  bitnami/external-dns/templates/configmap.yaml
  bitnami/external-dns/templates/dep-ds.yaml
  bitnami/external-dns/templates/pdb.yaml
  bitnami/external-dns/templates/podmonitor.yaml
  bitnami/external-dns/templates/psp-clusterrole.yaml
  bitnami/external-dns/templates/psp-clusterrolebinding.yaml
  bitnami/external-dns/templates/psp.yaml
  bitnami/external-dns/templates/role.yaml
  bitnami/external-dns/templates/rolebindings.yaml
  bitnami/external-dns/templates/secret.yaml
  bitnami/external-dns/templates/service.yaml
  bitnami/external-dns/templates/serviceaccount.yaml
  bitnami/external-dns/templates/servicemonitor.yaml
  bitnami/external-dns/templates/tls-secret.yaml
Labels: verify, bitnami, external-dns

#18804 [bitnami/pinniped]: fix ingress annotations
  bitnami/pinniped/Chart.yaml
  bitnami/pinniped/templates/supervisor/ingress.yaml
Labels: verify, pinniped, bitnami

#18410 [bitnami/postgresql-ha] Support for customizing standard labels
  bitnami/postgresql-ha/Chart.lock
  bitnami/postgresql-ha/Chart.yaml
  bitnami/postgresql-ha/templates/ldap-secrets.yaml
  bitnami/postgresql-ha/templates/metrics-configmap.yaml
  bitnami/postgresql-ha/templates/networkpolicy-egress.yaml
  bitnami/postgresql-ha/templates/networkpolicy-ingress.yaml
  bitnami/postgresql-ha/templates/pgpool/configmap.yaml
  bitnami/postgresql-ha/templates/pgpool/custom-users-secrets.yaml
  bitnami/postgresql-ha/templates/pgpool/deployment.yaml
  bitnami/postgresql-ha/templates/pgpool/initdb-scripts-configmap.yaml
  bitnami/postgresql-ha/templates/pgpool/pdb.yaml
  bitnami/postgresql-ha/templates/pgpool/secrets.yaml
  bitnami/postgresql-ha/templates/pgpool/service.yaml
  bitnami/postgresql-ha/templates/podsecuritypolicy.yaml
  bitnami/postgresql-ha/templates/postgresql/configmap.yaml
  bitnami/postgresql-ha/templates/postgresql/extended-configmap.yaml
  bitnami/postgresql-ha/templates/postgresql/hooks-scripts-configmap.yaml
  bitnami/postgresql-ha/templates/postgresql/initdb-scripts-configmap.yaml
  bitnami/postgresql-ha/templates/postgresql/metrics-service.yaml
  bitnami/postgresql-ha/templates/postgresql/pdb.yaml
  bitnami/postgresql-ha/templates/postgresql/secrets.yaml
  bitnami/postgresql-ha/templates/postgresql/service-headless.yaml
  bitnami/postgresql-ha/templates/postgresql/service-witness.yaml
  bitnami/postgresql-ha/templates/postgresql/service.yaml
  bitnami/postgresql-ha/templates/postgresql/servicemonitor.yaml
  bitnami/postgresql-ha/templates/postgresql/statefulset.yaml
  bitnami/postgresql-ha/templates/postgresql/witness-statefulset.yaml
  bitnami/postgresql-ha/templates/role.yaml
  bitnami/postgresql-ha/templates/rolebinding.yaml
  bitnami/postgresql-ha/templates/serviceaccount.yaml
  bitnami/postgresql-ha/templates/tls-secrets.yaml
Labels: verify, bitnami, postgresql-ha

#18322 [bitnami/mariadb] Support for customizing standard labels
  bitnami/mariadb/Chart.lock
  bitnami/mariadb/Chart.yaml
  bitnami/mariadb/templates/networkpolicy-egress.yaml
  bitnami/mariadb/templates/primary/configmap.yaml
  bitnami/mariadb/templates/primary/initialization-configmap.yaml
  bitnami/mariadb/templates/primary/networkpolicy-ingress.yaml
  bitnami/mariadb/templates/primary/pdb.yaml
  bitnami/mariadb/templates/primary/statefulset.yaml
  bitnami/mariadb/templates/primary/svc.yaml
  bitnami/mariadb/templates/prometheusrules.yaml
  bitnami/mariadb/templates/role.yaml
  bitnami/mariadb/templates/rolebinding.yaml
  bitnami/mariadb/templates/secondary/configmap.yaml
  bitnami/mariadb/templates/secondary/networkpolicy-ingress.yaml
  bitnami/mariadb/templates/secondary/pdb.yaml
  bitnami/mariadb/templates/secondary/statefulset.yaml
  bitnami/mariadb/templates/secondary/svc.yaml
  bitnami/mariadb/templates/secrets.yaml
  bitnami/mariadb/templates/serviceaccount.yaml
  bitnami/mariadb/templates/servicemonitor.yaml
Labels: verify, mariadb, bitnami

#18350 [bitnami/mongodb] Support for customizing standard labels
  bitnami/mongodb/Chart.lock
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/templates/arbiter/configmap.yaml
  bitnami/mongodb/templates/arbiter/headless-svc.yaml
  bitnami/mongodb/templates/arbiter/pdb.yaml
  bitnami/mongodb/templates/arbiter/statefulset.yaml
  bitnami/mongodb/templates/common-scripts-cm.yaml
  bitnami/mongodb/templates/configmap.yaml
  bitnami/mongodb/templates/hidden/configmap.yaml
  bitnami/mongodb/templates/hidden/external-access-svc.yaml
  bitnami/mongodb/templates/hidden/headless-svc.yaml
  bitnami/mongodb/templates/hidden/pdb.yaml
  bitnami/mongodb/templates/hidden/statefulset.yaml
  bitnami/mongodb/templates/initialization-configmap.yaml
  bitnami/mongodb/templates/metrics-svc.yaml
  bitnami/mongodb/templates/prometheusrule.yaml
  bitnami/mongodb/templates/psp.yaml
  bitnami/mongodb/templates/replicaset/external-access-svc.yaml
  bitnami/mongodb/templates/replicaset/headless-svc.yaml
  bitnami/mongodb/templates/replicaset/pdb.yaml
  bitnami/mongodb/templates/replicaset/scripts-configmap.yaml
  bitnami/mongodb/templates/replicaset/statefulset.yaml
  bitnami/mongodb/templates/replicaset/svc.yaml
  bitnami/mongodb/templates/role.yaml
  bitnami/mongodb/templates/rolebinding.yaml
  bitnami/mongodb/templates/secrets-ca.yaml
  bitnami/mongodb/templates/secrets.yaml
  bitnami/mongodb/templates/serviceaccount.yaml
  bitnami/mongodb/templates/servicemonitor.yaml
  bitnami/mongodb/templates/standalone/dep-sts.yaml
  bitnami/mongodb/templates/standalone/pvc.yaml
  bitnami/mongodb/templates/standalone/svc.yaml
Labels: verify, bitnami, mongodb

#18408 [bitnami/postgresql] Support for customizing standard labels
  bitnami/postgresql/Chart.lock
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/templates/backup/cronjob.yaml
  bitnami/postgresql/templates/backup/pvc.yaml
  bitnami/postgresql/templates/networkpolicy-egress.yaml
  bitnami/postgresql/templates/primary/configmap.yaml
  bitnami/postgresql/templates/primary/extended-configmap.yaml
  bitnami/postgresql/templates/primary/initialization-configmap.yaml
  bitnami/postgresql/templates/primary/metrics-configmap.yaml
  bitnami/postgresql/templates/primary/metrics-svc.yaml
  bitnami/postgresql/templates/primary/networkpolicy.yaml
  bitnami/postgresql/templates/primary/servicemonitor.yaml
  bitnami/postgresql/templates/primary/statefulset.yaml
  bitnami/postgresql/templates/primary/svc-headless.yaml
  bitnami/postgresql/templates/primary/svc.yaml
  bitnami/postgresql/templates/prometheusrule.yaml
  bitnami/postgresql/templates/psp.yaml
  bitnami/postgresql/templates/read/extended-configmap.yaml
  bitnami/postgresql/templates/read/metrics-configmap.yaml
  bitnami/postgresql/templates/read/metrics-svc.yaml
  bitnami/postgresql/templates/read/networkpolicy.yaml
  bitnami/postgresql/templates/read/servicemonitor.yaml
  bitnami/postgresql/templates/read/statefulset.yaml
  bitnami/postgresql/templates/read/svc-headless.yaml
  bitnami/postgresql/templates/read/svc.yaml
  bitnami/postgresql/templates/role.yaml
  bitnami/postgresql/templates/rolebinding.yaml
  bitnami/postgresql/templates/secrets.yaml
  bitnami/postgresql/templates/serviceaccount.yaml
  bitnami/postgresql/templates/tls-secrets.yaml
Labels: verify, postgresql, bitnami

#18318 [bitnami/logstash] Support for customizing standard labels
  bitnami/logstash/Chart.lock
  bitnami/logstash/Chart.yaml
  bitnami/logstash/templates/configuration-cm.yaml
  bitnami/logstash/templates/headless-svc.yaml
  bitnami/logstash/templates/ingress.yaml
  bitnami/logstash/templates/pdb.yaml
  bitnami/logstash/templates/serviceaccount.yaml
  bitnami/logstash/templates/sts.yaml
  bitnami/logstash/templates/svc.yaml
  bitnami/logstash/templates/tls-secret.yaml
Labels: verify, bitnami, logstash

#18354 [bitnami/multus-cni] Support for customizing standard labels
  bitnami/multus-cni/Chart.lock
  bitnami/multus-cni/Chart.yaml
  bitnami/multus-cni/templates/clusterrole.yaml
  bitnami/multus-cni/templates/clusterrolebinding.yaml
  bitnami/multus-cni/templates/daemonset.yaml
  bitnami/multus-cni/templates/service-account.yaml
Labels: verify, bitnami, multus-cni

#18768 [bitnami/external-dns] Fix RFC2136 secret key name
  bitnami/external-dns/Chart.yaml
  bitnami/external-dns/templates/dep-ds.yaml
Labels: verify, in-progress, external-dns
