Repository bitnami/charts, pull requests merged in 2023-11, with the labels that each got.

#20583 [bitnami/zookeeper] Add support for enableServiceLinks on zookeeper chart
  bitnami/zookeeper/Chart.yaml
  bitnami/zookeeper/README.md
  bitnami/zookeeper/templates/statefulset.yaml
  bitnami/zookeeper/values.yaml
Labels: verify, in-progress, zookeeper

#20484 [bitnami/kafka]: clarify docs
  bitnami/kafka/Chart.yaml
  bitnami/kafka/values.yaml
Labels: verify, in-progress, kafka

#20205 [bitnami/external-dns] Add Civo provider
  bitnami/external-dns/Chart.yaml
  bitnami/external-dns/README.md
  bitnami/external-dns/templates/_helpers.tpl
  bitnami/external-dns/templates/dep-ds.yaml
  bitnami/external-dns/templates/secret.yaml
  bitnami/external-dns/values.yaml
Labels: verify, in-progress, external-dns

#20503 [bitami/rabbitmq] Added ability to enable/disable allocateLoadBalancerNodePorts
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/README.md
  bitnami/rabbitmq/templates/svc.yaml
  bitnami/rabbitmq/values.yaml
Labels: verify, in-progress, rabbitmq

#20607 [bitnami/whereabouts] Fix service account namespace to match daemonset.
  bitnami/whereabouts/Chart.yaml
  bitnami/whereabouts/templates/service-account.yaml
Labels: verify, in-progress, whereabouts

#20608 bitnami/multus Fix service account namespace to match daemonset.
  bitnami/multus-cni/Chart.yaml
  bitnami/multus-cni/templates/service-account.yaml
Labels: verify, in-progress, multus-cni

#20582 [bitnami/mlflow] Issue 20581 - fix external DB secret template name
  bitnami/mlflow/Chart.yaml
  bitnami/mlflow/templates/tracking/externaldb-secret.yaml
Labels: verify, in-progress, mlflow

#20569 [bitnami/keycloak] fix: add extraPorts to metrics service
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/README.md
  bitnami/keycloak/templates/metrics-service.yaml
  bitnami/keycloak/values.yaml
Labels: verify, in-progress, keycloak

#20322 [bitnami/oauth2-proxy] Create secret for external Redis password
  bitnami/oauth2-proxy/Chart.yaml
  bitnami/oauth2-proxy/README.md
  bitnami/oauth2-proxy/templates/_helpers.tpl
  bitnami/oauth2-proxy/templates/externalredis-secret.yaml
  bitnami/oauth2-proxy/values.yaml
Labels: verify, bitnami, oauth2-proxy

#20558 [bitnami/wildfly] feat: :sparkles: Add support for PSA restricted policy
  bitnami/wildfly/Chart.yaml
  bitnami/wildfly/README.md
  bitnami/wildfly/values.yaml
Labels: verify, bitnami, wildfly

#20552 [bitnami/tensorflow-resnet] feat: :sparkles: Add support for PSA restricted policy
  bitnami/tensorflow-resnet/Chart.yaml
  bitnami/tensorflow-resnet/README.md
  bitnami/tensorflow-resnet/values.yaml
Labels: verify, bitnami, tensorflow-resnet

#20604 [bitnami/mysql] Fix reference to defaultAuthenticationPlugin
  bitnami/mysql/Chart.yaml
  bitnami/mysql/values.yaml
Labels: verify, in-progress, mysql

#20560 [bitnami/zookeeper] feat: :sparkles: Add support for PSA restricted policy
  bitnami/zookeeper/Chart.yaml
  bitnami/zookeeper/README.md
  bitnami/zookeeper/values.yaml
Labels: verify, bitnami, zookeeper

#20549 [bitnami/spring-cloud-dataflow] feat: :sparkles: Add support for PSA restricted policy
  bitnami/spring-cloud-dataflow/Chart.yaml
  bitnami/spring-cloud-dataflow/README.md
  bitnami/spring-cloud-dataflow/templates/prometheus-proxy/deployment.yaml
  bitnami/spring-cloud-dataflow/values.yaml
Labels: verify, bitnami, spring-cloud-dataflow

#20548 [bitnami/spark] feat: :sparkles: Add support for PSA restricted policy
  bitnami/spark/Chart.yaml
  bitnami/spark/README.md
  bitnami/spark/values.yaml
Labels: verify, bitnami, spark

#20531 [bitnami/pytorch] feat: :sparkles: Add support for PSA restricted policy
  bitnami/pytorch/Chart.yaml
  bitnami/pytorch/README.md
  bitnami/pytorch/values.yaml
Labels: verify, bitnami, pytorch

#20525 [bitnami/pinniped] feat: :sparkles: Add support for PSA restricted policy
  bitnami/pinniped/Chart.lock
  bitnami/pinniped/Chart.yaml
  bitnami/pinniped/README.md
  bitnami/pinniped/values.yaml
Labels: verify, pinniped, bitnami

#20523 [bitnami/phpmyadmin] feat: :sparkles: Add support for PSA restricted policy
  bitnami/phpmyadmin/Chart.lock
  bitnami/phpmyadmin/Chart.yaml
  bitnami/phpmyadmin/README.md
  bitnami/phpmyadmin/values.yaml
Labels: verify, bitnami, phpmyadmin

#20522 [bitnami/phpbb] feat: :sparkles: Add support for PSA restricted policy
  bitnami/phpbb/Chart.lock
  bitnami/phpbb/Chart.yaml
  bitnami/phpbb/README.md
  bitnami/phpbb/values.yaml
Labels: verify, bitnami, phpbb

#20518 [bitnami/opencart] feat: :sparkles: Add support for PSA restricted policy
  bitnami/opencart/Chart.lock
  bitnami/opencart/Chart.yaml
  bitnami/opencart/README.md
  bitnami/opencart/values.yaml
Labels: verify, bitnami, opencart

#20508 [bitnami/mongodb-sharded] feat: :sparkles: Add support for PSA restricted policy
  bitnami/mongodb-sharded/Chart.yaml
  bitnami/mongodb-sharded/README.md
  bitnami/mongodb-sharded/values.yaml
Labels: verify, bitnami, mongodb-sharded

#20505 [bitnami/mlflow] feat: :sparkles: Add support for PSA restricted policy
  bitnami/mlflow/Chart.yaml
  bitnami/mlflow/README.md
  bitnami/mlflow/values.yaml
Labels: verify, bitnami, mlflow

#20485 [bitnami/metrics-server] feat: :sparkles: Add support for PSA restricted policy
  bitnami/metrics-server/Chart.yaml
  bitnami/metrics-server/README.md
  bitnami/metrics-server/values.yaml
Labels: verify, bitnami, metrics-server

#20483 [bitnami/mediawiki] feat: :sparkles: Add support for PSA restricted policy
  bitnami/mediawiki/Chart.lock
  bitnami/mediawiki/Chart.yaml
  bitnami/mediawiki/README.md
  bitnami/mediawiki/values.yaml
Labels: verify, bitnami, mediawiki

#20480 [bitnami/mariadb-galera] feat: :sparkles: Add support for PSA restriced policy
  bitnami/mariadb-galera/Chart.yaml
  bitnami/mariadb-galera/README.md
  bitnami/mariadb-galera/values.yaml
Labels: verify, bitnami, mariadb-galera

#20464 [bitnami/kong] feat: :sparkles: Add support for PSA restricted policy
  bitnami/kong/Chart.yaml
  bitnami/kong/README.md
  bitnami/kong/values.yaml
Labels: verify, bitnami, kong

#20478 [bitnami/mongodb] feat: Add network policy template into mongodb chart
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/README.md
  bitnami/mongodb/templates/networkpolicy.yaml
  bitnami/mongodb/values.schema.json
  bitnami/mongodb/values.yaml
Labels: verify, in-progress, mongodb

#18255 [bitnami/apisix] Fix control-plane ingress template
  bitnami/apisix/Chart.yaml
  bitnami/apisix/templates/control-plane/ingress.yaml
Labels: stale, verify, bitnami, apisix

#20537 [bitnami/mlflow] fixes invalid references to containerSecurityContext in _helpers.tpl
  bitnami/mlflow/Chart.yaml
  bitnami/mlflow/templates/_helpers.tpl
Labels: verify, in-progress, mlflow

#20420 [bitnami/deepspeed] feat: :sparkles: Add support for PSA restricted policy
  bitnami/deepspeed/Chart.yaml
  bitnami/deepspeed/README.md
  bitnami/deepspeed/values.yaml
Labels: verify, bitnami, deepspeed

#20309 [bitnami/mongodb] Add support for enableServiceLinks on mongodb chart
  bitnami/mongodb/Chart.lock
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/README.md
  bitnami/mongodb/templates/arbiter/statefulset.yaml
  bitnami/mongodb/templates/backup/cronjob.yaml
  bitnami/mongodb/templates/hidden/statefulset.yaml
  bitnami/mongodb/templates/replicaset/statefulset.yaml
  bitnami/mongodb/templates/standalone/dep-sts.yaml
  bitnami/mongodb/values.yaml
Labels: verify, in-progress, mongodb

#20572 [bitnami/zookeeper] Fix: randomly failing readiness/liveness probes
  bitnami/zookeeper/Chart.yaml
  bitnami/zookeeper/templates/statefulset.yaml
Labels: verify, in-progress, zookeeper

#20417 [bitnami/contour] feat!: :sparkles: :boom: Add support for PSA restricted policy
  bitnami/contour/Chart.yaml
  bitnami/contour/README.md
  bitnami/contour/values.yaml
Labels: verify, contour, bitnami

#20482 [bitnami/matomo] feat: :sparkles: Add support for PSA restricted policy
  bitnami/matomo/Chart.lock
  bitnami/matomo/Chart.yaml
  bitnami/matomo/README.md
  bitnami/matomo/values.yaml
Labels: verify, bitnami, matomo

#20556 [bitnami/vault] feat: :sparkles: Add support for PSA restricted policy
  bitnami/vault/Chart.yaml
  bitnami/vault/README.md
  bitnami/vault/values.yaml
Labels: verify, bitnami, vault

#20553 [bitnami/thanos] feat: :sparkles: Add support for PSA restricted policy
  bitnami/thanos/Chart.lock
  bitnami/thanos/Chart.yaml
  bitnami/thanos/README.md
  bitnami/thanos/values.yaml
Labels: verify, bitnami, thanos

#20530 [bitnami/prometheus] feat: :sparkles: Add support for PSA restricted policy
  bitnami/prometheus/Chart.yaml
  bitnami/prometheus/README.md
  bitnami/prometheus/values.yaml
Labels: verify, bitnami, prometheus

#20521 [bitnami/parse] feat: :sparkles: Add support for PSA restricted policy
  bitnami/parse/Chart.lock
  bitnami/parse/Chart.yaml
  bitnami/parse/README.md
  bitnami/parse/values.yaml
Labels: verify, bitnami, parse

#20509 [bitnami/moodle] feat: :sparkles: Add support for PSA restricted policy
  bitnami/moodle/Chart.lock
  bitnami/moodle/Chart.yaml
  bitnami/moodle/README.md
  bitnami/moodle/values.yaml
Labels: verify, moodle, bitnami

#20501 [bitnami/minio] feat: :sparkles: Add support for PSA restricted policy
  bitnami/minio/Chart.yaml
  bitnami/minio/README.md
  bitnami/minio/values.yaml
Labels: verify, bitnami, minio

#20479 [bitnami/magento] feat: :sparkles: Add support for PSA restricted policy
  bitnami/magento/Chart.lock
  bitnami/magento/Chart.yaml
  bitnami/magento/README.md
  bitnami/magento/values.yaml
Labels: verify, magento, bitnami

#20526 [bitnami/gitea] Remove HA support
  bitnami/gitea/Chart.yaml
  bitnami/gitea/README.md
  bitnami/gitea/templates/deployment.yaml
  bitnami/gitea/values.yaml
Labels: verify, bitnami, gitea

#20669 [bitnami/kubeapps] Update Cypress tests
  .vib/kubeapps/cypress/cypress.json
  .vib/kubeapps/cypress/cypress/integration/kubeapps_spec.js
  .vib/kubeapps/cypress/cypress/support/commands.js
  .vib/kubeapps/vib-verify.json
Labels: verify, bitnami, kubeapps

#20675 [bitnami/charts] GitHub actions hardening
  .github/dependabot.yml
  .github/workflows/assign-asset-label.yml
  .github/workflows/cd-pipeline.yml
  .github/workflows/ci-pipeline.yml
  .github/workflows/clossing-issues.yml
  .github/workflows/comments.yml
  .github/workflows/delete-solved-cards.yml
  .github/workflows/generate-chart-readme.yml
  .github/workflows/license-headers.yml
  .github/workflows/markdown-linter.yml
  .github/workflows/move-closed-issues.yml
  .github/workflows/moving-cards.yml
  .github/workflows/pr-reviews.yml
  .github/workflows/retry-failed-releases.yml
  .github/workflows/srp-report.yml
  .github/workflows/stale.yml
  .github/workflows/sync-teams.yml
  .github/workflows/triage.yml
Labels: verify, bitnami

#20465 [bitnami/kubeapps] feat: :sparkles: Add support for PSA restricted policy
  bitnami/kubeapps/Chart.yaml
  bitnami/kubeapps/README.md
  bitnami/kubeapps/values.yaml
Labels: verify, bitnami, kubeapps

#20792 [bitnami/kubernetes-event-exporter] Increase ginkgo tests timeouts
  .vib/kubernetes-event-exporter/ginkgo/kubernetes_event_exporter.go
Labels: verify

#20665 [bitnami/mongodb] Replace deprecated pull secret partial
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/templates/_helpers.tpl
Labels: verify, in-progress, mongodb

#20796 [bitnami/memcached] feat: :sparkles: Add support for PSA restricted policy
  bitnami/memcached/Chart.yaml
  bitnami/memcached/README.md
  bitnami/memcached/values.yaml
Labels: verify, bitnami, memcached

#20562 [bitnami/contour] Add rbac for contour + Update CRD's
  bitnami/contour/Chart.yaml
  bitnami/contour/templates/contour/rbac.yaml
  bitnami/contour/templates/crds/contourconfiguration.yaml
  bitnami/contour/templates/crds/contourdeployments.yaml
  bitnami/contour/templates/crds/extensionservices.yaml
  bitnami/contour/templates/crds/tlscertificatedeligations.yaml
Labels: verify, in-progress, contour

#20846 Use bitnami-bot to comment on failing pipelines
  .github/workflows/ci-pipeline.yml
Labels: verify, bitnami

#20498 [bitnami/milvus] Fix externalEtcd settings with ssl (bitnami#19983)
  bitnami/milvus/Chart.yaml
  bitnami/milvus/README.md
  bitnami/milvus/templates/_helpers.tpl
  bitnami/milvus/templates/data-coordinator/deployment.yaml
  bitnami/milvus/templates/data-node/deployment.yaml
  bitnami/milvus/templates/index-coordinator/deployment.yaml
  bitnami/milvus/templates/index-node/deployment.yaml
  bitnami/milvus/templates/proxy/deployment.yaml
  bitnami/milvus/templates/query-coordinator/deployment.yaml
  bitnami/milvus/templates/query-node/deployment.yaml
  bitnami/milvus/templates/root-coordinator/deployment.yaml
  bitnami/milvus/values.schema.json
  bitnami/milvus/values.yaml
Labels: verify, in-progress, milvus

#20651 [bitnami/grafana] Fix deployment failure when replicaCount > 1.
  bitnami/grafana/Chart.yaml
  bitnami/grafana/templates/NOTES.txt
  bitnami/grafana/templates/_helpers.tpl
Labels: verify, in-progress, grafana

#20003 [bitnami/redis] Implementing an option to define replicas as Daemonsets
  bitnami/redis/Chart.yaml
  bitnami/redis/README.md
  bitnami/redis/templates/master/application.yaml
  bitnami/redis/templates/master/service.yaml
  bitnami/redis/templates/replicas/application.yaml
  bitnami/redis/values.schema.json
  bitnami/redis/values.yaml
Labels: verify, in-progress, redis

#20652 Add kafka init container custom resource function according to issue #20641
  bitnami/kafka/Chart.yaml
  bitnami/kafka/README.md
  bitnami/kafka/templates/_helpers.tpl
  bitnami/kafka/values.yaml
Labels: verify, in-progress, kafka

#20666 [bitnami/redis] Replace deprecated pull secret partial
  bitnami/redis/Chart.yaml
  bitnami/redis/templates/_helpers.tpl
Labels: verify, in-progress, redis

#20576 [bitnami/apisix] fix: add missing etcd config for data-plane
  bitnami/apisix/Chart.yaml
  bitnami/apisix/values.yaml
Labels: verify, in-progress, apisix

#20795 [bitnami/thanos] Automatically apply query-frontend's ingress hostname to alert.queryURL
  bitnami/thanos/Chart.yaml
  bitnami/thanos/README.md
  bitnami/thanos/templates/_helpers.tpl
  bitnami/thanos/templates/query/deployment.yaml
  bitnami/thanos/values.yaml
Labels: verify, in-progress, thanos

#20631 [bitnami/elasticsearch] Fix security.existingSecret description
  bitnami/elasticsearch/Chart.yaml
  bitnami/elasticsearch/README.md
  bitnami/elasticsearch/values.yaml
Labels: verify, bitnami, elasticsearch

#20879 [bitnami/mlflow] fix issue 20660 'error unmarshaling JSON: while decoding JSON:...' when merging annotations
  bitnami/mlflow/Chart.yaml
  bitnami/mlflow/templates/run/service-account.yaml
  bitnami/mlflow/templates/tracking/ingress.yaml
  bitnami/mlflow/templates/tracking/service-account.yaml
  bitnami/mlflow/templates/tracking/service.yaml
Labels: verify, in-progress, mlflow

#20883 [bitnami/mxnet] Mark MXNet chart as deprecated
  bitnami/mxnet/Chart.yaml
  bitnami/mxnet/README.md
  bitnami/mxnet/templates/NOTES.txt
Labels: verify, bitnami, mxnet

#20661 [bitnami/metallb] Replace deprecated pull secret partial
  bitnami/metallb/Chart.yaml
  bitnami/metallb/templates/controller/deployment.yaml
  bitnami/metallb/templates/speaker/daemonset.yaml
Labels: verify, in-progress, metallb

#20662 [bitnami/cert-manager] Replace deprecated pull secret partial
  bitnami/cert-manager/Chart.yaml
  bitnami/cert-manager/templates/_helpers.tpl
Labels: verify, in-progress, cert-manager

#20891 [bitnami/mxnet] Remove Apache MXNet
  .vib/mxnet/goss/goss.yaml
  .vib/mxnet/runtime-parameters.yaml
  .vib/mxnet/vib-publish.json
  .vib/mxnet/vib-verify.json
  bitnami/mxnet/.helmignore
  bitnami/mxnet/Chart.lock
  bitnami/mxnet/Chart.yaml
  bitnami/mxnet/README.md
  bitnami/mxnet/templates/NOTES.txt
  bitnami/mxnet/templates/_helpers.tpl
  bitnami/mxnet/templates/configmap.yaml
  bitnami/mxnet/templates/distributed/headless-svc.yaml
  bitnami/mxnet/templates/distributed/scheduler/deployment.yaml
  bitnami/mxnet/templates/distributed/scheduler/service.yaml
  bitnami/mxnet/templates/distributed/server/statefulset.yaml
  bitnami/mxnet/templates/distributed/worker/statefulset.yaml
  bitnami/mxnet/templates/extra-list.yaml
  bitnami/mxnet/templates/pvc.yaml
  bitnami/mxnet/templates/standalone/deployment.yaml
  bitnami/mxnet/values.yaml
Labels: verify, bitnami

#20885 [template] Replace deprecated pull secret partial
  template/CHART_NAME/templates/_helpers.tpl
Labels: in-progress

#20910 [bitnami/minio] feat: Support multiple paths for metrics (fixes #19573)
  bitnami/minio/Chart.yaml
  bitnami/minio/README.md
  bitnami/minio/templates/servicemonitor.yaml
  bitnami/minio/values.yaml
Labels: verify, in-progress, minio

#20492 [bitnami/contour] feat: allow custom metrics port for service monitor and allow enabling/disabling hostport per port
  bitnami/contour/Chart.yaml
  bitnami/contour/README.md
  bitnami/contour/templates/envoy/daemonset.yaml
  bitnami/contour/templates/envoy/deployment.yaml
  bitnami/contour/templates/envoy/service.yaml
  bitnami/contour/values.yaml
Labels: verify, in-progress, contour

#20612 [bitnami/redis] Increase sentinel master retry sleep time to 5s
  bitnami/redis/Chart.yaml
  bitnami/redis/README.md
  bitnami/redis/templates/scripts-configmap.yaml
  bitnami/redis/values.yaml
Labels: verify, in-progress, bitnami, redis

#20935 [bitnami/*] Fix env issue for retry workflow
  .github/workflows/retry-failed-releases.yml
Labels: verify, bitnami

#20884 [bitnami/grafana-operator] Fix namespace reference
  bitnami/grafana-operator/Chart.yaml
  bitnami/grafana-operator/templates/deployment.yaml
Labels: verify, in-progress, grafana-operator

#20923 [bitnami/matomo] fix wrong indent of extraVolumeMounts in cron job
  bitnami/matomo/Chart.yaml
  bitnami/matomo/templates/cronjob.yaml
Labels: verify, in-progress, matomo

#20623 [bitnami/grafana] Support new-style alerting file provisioning
  bitnami/grafana/Chart.yaml
  bitnami/grafana/README.md
  bitnami/grafana/templates/deployment.yaml
  bitnami/grafana/values.yaml
Labels: in-progress, grafana

#18476 [bitnami/logstash] fix: support NodePorts in bitnami logstash chart
  bitnami/logstash/Chart.yaml
  bitnami/logstash/templates/headless-svc.yaml
Labels: verify, in-progress, logstash

#20621 [bitnami/jupyterhub] Add support for profileList definition in singleuser
  bitnami/jupyterhub/Chart.yaml
  bitnami/jupyterhub/README.md
  bitnami/jupyterhub/values.yaml
Labels: verify, in-progress, jupyterhub

#20942 Sealed secrets crd update
  bitnami/sealed-secrets/Chart.yaml
  bitnami/sealed-secrets/crds/sealed-secrets.yaml
Labels: verify, in-progress, sealed-secrets

#20915 [bitnami/rabbitmq] Add Persistent Volume Claim Retention Policy to Rabbitmq Statefulsets
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/README.md
  bitnami/rabbitmq/templates/statefulset.yaml
  bitnami/rabbitmq/values.yaml
Labels: verify, triage, rabbitmq

#20632 [bitnami/kafka] Update 'Upgrading notes' section with missing TLS secret breaking change
  bitnami/kafka/Chart.yaml
  bitnami/kafka/README.md
Labels: verify, kafka, bitnami

#20912 [bitnami/elasticsearch] document expected key when using an existingSecret
  bitnami/elasticsearch/README.md
  bitnami/elasticsearch/values.yaml
Labels: verify, in-progress, elasticsearch

#20939 [bitnami/redis] Implementing an option to define masters as DaemonSets
  bitnami/redis/Chart.yaml
  bitnami/redis/README.md
  bitnami/redis/templates/master/application.yaml
  bitnami/redis/templates/replicas/application.yaml
  bitnami/redis/values.schema.json
  bitnami/redis/values.yaml
Labels: in-progress, redis

#21009 [template] Update template file with the latest changes
  template/CHART_NAME/README.md
Labels: verify, bitnami

#20500 [bitnami/milvus] Fixup milvus & externalS3 couldn't be deployed in the same namespace (bitnami#20396)
  bitnami/milvus/Chart.yaml
  bitnami/milvus/README.md
  bitnami/milvus/templates/attu/deployment.yaml
  bitnami/milvus/templates/data-coordinator/deployment.yaml
  bitnami/milvus/templates/data-node/deployment.yaml
  bitnami/milvus/templates/index-coordinator/deployment.yaml
  bitnami/milvus/templates/index-node/deployment.yaml
  bitnami/milvus/templates/proxy/deployment.yaml
  bitnami/milvus/templates/query-coordinator/deployment.yaml
  bitnami/milvus/templates/query-node/deployment.yaml
  bitnami/milvus/templates/root-coordinator/deployment.yaml
  bitnami/milvus/values.schema.json
  bitnami/milvus/values.yaml
Labels: verify, in-progress, milvus

#20544 [bitnami/jaeger] Chart missing imagePullSecrets and otlp ports
  bitnami/jaeger/Chart.yaml
  bitnami/jaeger/README.md
  bitnami/jaeger/templates/_helpers.tpl
  bitnami/jaeger/templates/agent/deployment.yaml
  bitnami/jaeger/templates/collector/deployment.yaml
  bitnami/jaeger/templates/collector/service.yml
  bitnami/jaeger/templates/migrate-job.yaml
  bitnami/jaeger/templates/query/deployment.yaml
  bitnami/jaeger/values.yaml
Labels: verify, in-progress, jaeger

#21025 [bitnami/etcd] Add variable to add extra labels only for snapshot cronjob pods
  bitnami/etcd/Chart.yaml
  bitnami/etcd/README.md
  bitnami/etcd/templates/cronjob.yaml
  bitnami/etcd/values.yaml
Labels: verify, in-progress, etcd

#20962 [bitnami/grafana-operator] Fix namespace restriction bug (#20960)
  bitnami/grafana-operator/Chart.yaml
  bitnami/grafana-operator/templates/deployment.yaml
Labels: verify, in-progress, grafana-operator

#21033 [bitnami/contour] Fix useHostPort backwards compatibility
  bitnami/contour/Chart.yaml
  bitnami/contour/templates/envoy/daemonset.yaml
  bitnami/contour/templates/envoy/deployment.yaml
Labels: verify, contour, bitnami

#21043 Update readme-generator links
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  bitnami/argo-workflows/README.md
  bitnami/clickhouse/README.md
  bitnami/concourse/README.md
  bitnami/grafana-loki/README.md
  bitnami/grafana-mimir/README.md
  bitnami/milvus/README.md
  bitnami/oauth2-proxy/README.md
  bitnami/pinniped/README.md
  bitnami/redis/README.md
  template/CHART_NAME/README.md
Labels: verify, bitnami

#20982 [bitnami/rabbitmq-cluster-operator] refresh messaging-topology-operator crds
  bitnami/rabbitmq-cluster-operator/Chart.yaml
  bitnami/rabbitmq-cluster-operator/crds/crds-messaging-topology-operator.yaml
Labels: verify, in-progress, rabbitmq-cluster-operator

#20943 [bitnami/harbor] remove scandata persistence on jobservice
  bitnami/harbor/Chart.yaml
  bitnami/harbor/README.md
  bitnami/harbor/templates/_helpers.tpl
  bitnami/harbor/templates/jobservice/jobservice-dpl.yaml
  bitnami/harbor/templates/jobservice/jobservice-scandata-pvc.yaml
  bitnami/harbor/values.yaml
Labels: verify, in-progress, harbor

#21026 [bitnami/matomo] taskScheduler cronjob uses wrong suspend value
  bitnami/matomo/Chart.yaml
  bitnami/matomo/templates/cronjob.yaml
Labels: verify, in-progress, matomo

#20502 [bitnami/milvus] Fixup waitForS3InitContainer missing s3 port (bitnami#20398)
  bitnami/milvus/Chart.yaml
  bitnami/milvus/templates/_helpers.tpl
Labels: verify, in-progress, milvus

#20971 [bitnami/mariadb] Fix ServiceMonitor namespace value reference
  bitnami/mariadb/Chart.yaml
  bitnami/mariadb/templates/servicemonitor.yaml
Labels: verify, in-progress, mariadb

#20875 [bitnami/kubernetes-event-exporter] feat: configurable cluster role rules
  bitnami/kubernetes-event-exporter/Chart.yaml
  bitnami/kubernetes-event-exporter/README.md
  bitnami/kubernetes-event-exporter/templates/clusterrole.yaml
  bitnami/kubernetes-event-exporter/values.yaml
Labels: verify, in-progress, kubernetes-event-exporter

#21030 [bitnami/thanos] feat: allow disabling emptydir for byo volume template
  bitnami/thanos/Chart.yaml
  bitnami/thanos/README.md
  bitnami/thanos/templates/compactor/_pod-template.tpl
  bitnami/thanos/values.yaml
Labels: verify, in-progress, thanos

#21200 [bitnami/milvus] Fix Milvus notes
  bitnami/milvus/Chart.yaml
  bitnami/milvus/templates/NOTES.txt
Labels: verify, bitnami, milvus

#21010 [bitnami/template] allow specific annotations for controllers
  template/CHART_NAME/templates/daemonset.yaml
  template/CHART_NAME/templates/deployment.yaml
  template/CHART_NAME/templates/statefulset.yaml
  template/CHART_NAME/values.yaml
  template/README.md
Labels: in-progress

#21207 [bitnami/minio] Bump minio chart for 21032 PR
  bitnami/minio/Chart.yaml
Labels: verify, bitnami, minio

#21020 [bitnami/postgresql] Fix postgresql.conf configmap template
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/templates/primary/configmap.yaml
Labels: verify, in-progress, postgresql

#21231 [bitnami/milvus] Fix initJob.extraVolumes
  bitnami/milvus/Chart.yaml
  bitnami/milvus/templates/init-job.yaml
Labels: verify, bitnami, milvus

#20920 [bitnami/postgresql-ha] Add Persistent Volume Claim Retention Policy to postgresql-ha Statefulsets
  bitnami/postgresql-ha/Chart.yaml
  bitnami/postgresql-ha/README.md
  bitnami/postgresql-ha/templates/postgresql/statefulset.yaml
  bitnami/postgresql-ha/values.yaml
Labels: verify, in-progress, postgresql-ha

#21199 [bitnami/etcd] Fix podLabels for disasterRecovery cronjob
  bitnami/etcd/Chart.yaml
  bitnami/etcd/README.md
  bitnami/etcd/values.yaml
Labels: verify, in-progress, etcd

#21232 [bitnami/matomo] Deprecates 'cronjobs.enabled'
  bitnami/matomo/Chart.yaml
  bitnami/matomo/README.md
  bitnami/matomo/templates/_helpers.tpl
  bitnami/matomo/templates/cronjob.yaml
  bitnami/matomo/values.yaml
Labels: verify, bitnami, matomo

#21235 [bitnami/mlflow] Fix faulty type conversion in serviceMonitor
  bitnami/mlflow/Chart.yaml
  bitnami/mlflow/templates/_helpers.tpl
Labels: verify, bitnami, mlflow

#21265 [charts/*] Hardening CI workflow
  .github/workflows/ci-pipeline.yml
Labels: verify, bitnami

#20895 [bitnami/mlflow] MLflow --no-serve-artifacts
  bitnami/mlflow/Chart.yaml
  bitnami/mlflow/README.md
  bitnami/mlflow/templates/_helpers.tpl
  bitnami/mlflow/templates/tracking/deployment.yaml
  bitnami/mlflow/values.yaml
Labels: verify, in-progress, mlflow

#20966 [template] add support for non-equal service and container ports
  template/CHART_NAME/templates/service.yaml
Labels: in-progress

#20941 [bitnami/kafka] Fix controller component validation for external access
  bitnami/kafka/Chart.yaml
  bitnami/kafka/templates/_helpers.tpl
Labels: verify, kafka, bitnami

#21303 Bumped the chart
  bitnami/matomo/Chart.yaml
Labels: verify, bitnami, matomo

#21273 [bitnami/charts] Reduce CSP_API_TOKEN exposure
  .github/workflows/cd-pipeline.yml
Labels: verify, bitnami

#20958 [bitnami/postgresql-ha] feat: annotate pgpool deployment by checksum of custom user secrets
  bitnami/postgresql-ha/Chart.yaml
  bitnami/postgresql-ha/templates/pgpool/deployment.yaml
Labels: verify, in-progress, postgresql-ha

#21219 [bitnami/kubernetes-event-exporter] feat: configure probes
  bitnami/kubernetes-event-exporter/Chart.yaml
  bitnami/kubernetes-event-exporter/README.md
  bitnami/kubernetes-event-exporter/templates/deployment.yaml
  bitnami/kubernetes-event-exporter/values.yaml
Labels: verify, in-progress, kubernetes-event-exporter

#21222 [bitname/schema-registry] fix extraHosts entry
  bitnami/schema-registry/Chart.yaml
  bitnami/schema-registry/templates/ingress.yaml
Labels: verify, in-progress, schema-registry

#21056 [bitnami/sealed-secrets] add missing features from the upstream sealed secrets chart
  bitnami/sealed-secrets/Chart.yaml
  bitnami/sealed-secrets/README.md
  bitnami/sealed-secrets/templates/NOTES.txt
  bitnami/sealed-secrets/templates/_helpers.tpl
  bitnami/sealed-secrets/templates/clusterrole.yaml
  bitnami/sealed-secrets/templates/clusterrolebinding.yaml
  bitnami/sealed-secrets/templates/deployment.yaml
  bitnami/sealed-secrets/templates/ingress.yaml
  bitnami/sealed-secrets/templates/pdb.yaml
  bitnami/sealed-secrets/templates/role.yaml
  bitnami/sealed-secrets/templates/rolebinding.yaml
  bitnami/sealed-secrets/templates/service.yaml
  bitnami/sealed-secrets/templates/tls-secret.yaml
  bitnami/sealed-secrets/values.yaml
Labels: bitnami, sealed-secrets
