Repository bitnami/charts, pull requests merged in 2023-09, with the labels that each got.

#18973 [bitnami/grafana-operator]: fix ingress annotations
  bitnami/grafana-operator/Chart.yaml
  bitnami/grafana-operator/templates/grafana.yaml
Labels: verify, triage, bitnami, grafana-operator

#18963 [bitnami/flux] Update runtime-params to support Openshift
  .vib/flux/runtime-parameters.yaml
Labels: verify, bitnami, flux

#18889 [bitnami/common] new macro to merge a list of values with rendering
  bitnami/common/Chart.yaml
  bitnami/common/templates/_tplvalues.tpl
  template/CHART_NAME/templates/daemonset.yaml
  template/CHART_NAME/templates/deployment.yaml
  template/CHART_NAME/templates/ingress.yaml
  template/CHART_NAME/templates/pdb.yaml
  template/CHART_NAME/templates/pvc.yaml
  template/CHART_NAME/templates/service-account.yaml
  template/CHART_NAME/templates/service.yaml
  template/CHART_NAME/templates/servicemonitor.yaml
  template/CHART_NAME/templates/statefulset.yaml
Labels: verify, in-progress, common

#18922 [bitnami/redis] expose service binding with correct uri
  bitnami/redis/Chart.yaml
  bitnami/redis/templates/secret-svcbind.yaml
Labels: verify, in-progress, redis

#18990 [bitnami/logstash] fix: add namespace under the kubectl port-forward logstash chart
  bitnami/logstash/Chart.yaml
  bitnami/logstash/templates/NOTES.txt
Labels: verify, in-progress, logstash

#18958 [bitnami/keycloak] fix on metadata templating for keycloakConfigCliJob
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/templates/keycloak-config-cli-job.yaml
Labels: verify, in-progress, keycloak

#19125 [bitnami/fluentd] Fix fluentd timeout for the forward-aggregator test
  .vib/fluentd/goss/goss.yaml
Labels: verify, bitnami

#19027 [bitnami/concourse]: Use merge helper
  bitnami/concourse/Chart.lock
  bitnami/concourse/Chart.yaml
  bitnami/concourse/templates/web/deployment.yaml
  bitnami/concourse/templates/web/gateway-service.yaml
  bitnami/concourse/templates/web/ingress.yaml
  bitnami/concourse/templates/web/service-account.yaml
  bitnami/concourse/templates/web/service.yaml
  bitnami/concourse/templates/worker/deployment.yaml
  bitnami/concourse/templates/worker/poddisruptionbudget.yaml
  bitnami/concourse/templates/worker/service-account.yaml
  bitnami/concourse/templates/worker/service.yaml
  bitnami/concourse/templates/worker/statefulset.yaml
Labels: verify, bitnami, concourse

#19102 [bitnami/sealed-secrets]: Use merge helper
  bitnami/sealed-secrets/Chart.lock
  bitnami/sealed-secrets/Chart.yaml
  bitnami/sealed-secrets/templates/deployment.yaml
  bitnami/sealed-secrets/templates/ingress.yaml
  bitnami/sealed-secrets/templates/networkpolicy.yaml
  bitnami/sealed-secrets/templates/service.yaml
  bitnami/sealed-secrets/templates/serviceaccount.yaml
  bitnami/sealed-secrets/templates/servicemonitor.yaml
Labels: verify, bitnami, sealed-secrets

#19116 [bitnami/wildfly]: Use merge helper
  bitnami/wildfly/Chart.yaml
  bitnami/wildfly/templates/deployment.yaml
  bitnami/wildfly/templates/ingress.yaml
  bitnami/wildfly/templates/management-ingress.yaml
  bitnami/wildfly/templates/pvc.yaml
  bitnami/wildfly/templates/svc.yaml
Labels: verify, bitnami, wildfly

#19056 [bitnami/kiam]: Use merge helper
  bitnami/kiam/Chart.lock
  bitnami/kiam/Chart.yaml
  bitnami/kiam/templates/agent/agent-daemonset.yaml
  bitnami/kiam/templates/agent/agent-service-account.yaml
  bitnami/kiam/templates/agent/agent-service.yaml
  bitnami/kiam/templates/agent/agent-servicemonitor.yaml
  bitnami/kiam/templates/server/server-daemonset.yaml
  bitnami/kiam/templates/server/server-deployment.yaml
  bitnami/kiam/templates/server/server-service-account.yaml
  bitnami/kiam/templates/server/server-service.yaml
  bitnami/kiam/templates/server/server-servicemonitor.yaml
Labels: verify, bitnami, kiam

#19067 [bitnami/mastodon]: Use merge helper
  bitnami/mastodon/Chart.yaml
  bitnami/mastodon/templates/init-job/init-job.yaml
  bitnami/mastodon/templates/pvc.yaml
  bitnami/mastodon/templates/service-account.yaml
  bitnami/mastodon/templates/sidekiq/deployment.yaml
  bitnami/mastodon/templates/streaming/deployment.yaml
  bitnami/mastodon/templates/streaming/service.yaml
  bitnami/mastodon/templates/web/deployment.yaml
  bitnami/mastodon/templates/web/service.yaml
Labels: verify, bitnami, mastodon

#19061 [bitnami/deepspeed]: Use merge helper
  bitnami/deepspeed/Chart.lock
  bitnami/deepspeed/Chart.yaml
  bitnami/deepspeed/templates/client/client-dep-job.yaml
  bitnami/deepspeed/templates/client/networkpolicy.yaml
  bitnami/deepspeed/templates/client/pvc.yaml
  bitnami/deepspeed/templates/client/service-account.yaml
  bitnami/deepspeed/templates/worker/networkpolicy.yaml
  bitnami/deepspeed/templates/worker/service-account.yaml
  bitnami/deepspeed/templates/worker/worker-headless-svc.yaml
  bitnami/deepspeed/templates/worker/worker-service.yaml
  bitnami/deepspeed/templates/worker/worker-statefulset.yaml
Labels: verify, bitnami, deepspeed

#19081 [bitnami/nginx-ingress-controller]: Use merge helper
  bitnami/nginx-ingress-controller/Chart.lock
  bitnami/nginx-ingress-controller/Chart.yaml
  bitnami/nginx-ingress-controller/templates/controller-daemonset.yaml
  bitnami/nginx-ingress-controller/templates/controller-deployment.yaml
  bitnami/nginx-ingress-controller/templates/controller-metrics-service.yaml
  bitnami/nginx-ingress-controller/templates/controller-poddisruptionbudget.yaml
  bitnami/nginx-ingress-controller/templates/controller-service.yaml
  bitnami/nginx-ingress-controller/templates/controller-servicemonitor.yaml
  bitnami/nginx-ingress-controller/templates/default-backend-deployment.yaml
  bitnami/nginx-ingress-controller/templates/default-backend-poddisruptionbudget.yaml
  bitnami/nginx-ingress-controller/templates/default-backend-service.yaml
  bitnami/nginx-ingress-controller/templates/serviceaccount.yaml
Labels: verify, bitnami, nginx-ingress-controller

#19114 [bitnami/vault]: Use merge helper
  bitnami/vault/Chart.lock
  bitnami/vault/Chart.yaml
  bitnami/vault/templates/csi-provider/daemonset.yaml
  bitnami/vault/templates/csi-provider/service-account.yaml
  bitnami/vault/templates/injector/deployment.yaml
  bitnami/vault/templates/injector/pdb.yaml
  bitnami/vault/templates/injector/service-account.yaml
  bitnami/vault/templates/injector/service.yaml
  bitnami/vault/templates/server/active-service.yaml
  bitnami/vault/templates/server/ingress.yaml
  bitnami/vault/templates/server/pdb.yaml
  bitnami/vault/templates/server/service-account.yaml
  bitnami/vault/templates/server/service-headless.yaml
  bitnami/vault/templates/server/service.yaml
  bitnami/vault/templates/server/servicemonitor.yaml
  bitnami/vault/templates/server/statefulset.yaml
Labels: verify, bitnami, vault

#19044 [bitnami/grafana-loki]: Use merge helper
  bitnami/grafana-loki/Chart.lock
  bitnami/grafana-loki/Chart.yaml
  bitnami/grafana-loki/templates/compactor/deployment.yaml
  bitnami/grafana-loki/templates/compactor/pvc.yaml
  bitnami/grafana-loki/templates/compactor/service.yaml
  bitnami/grafana-loki/templates/compactor/servicemonitor.yaml
  bitnami/grafana-loki/templates/distributor/deployment.yaml
  bitnami/grafana-loki/templates/distributor/service.yaml
  bitnami/grafana-loki/templates/distributor/servicemonitor.yaml
  bitnami/grafana-loki/templates/gateway/deployment.yaml
  bitnami/grafana-loki/templates/gateway/ingress.yaml
  bitnami/grafana-loki/templates/gateway/service.yaml
  bitnami/grafana-loki/templates/gossip-ring-headless-service.yaml
  bitnami/grafana-loki/templates/index-gateway/service.yaml
  bitnami/grafana-loki/templates/index-gateway/servicemonitor.yaml
  bitnami/grafana-loki/templates/index-gateway/statefulset.yaml
  bitnami/grafana-loki/templates/ingester/service.yaml
  bitnami/grafana-loki/templates/ingester/servicemonitor.yaml
  bitnami/grafana-loki/templates/ingester/statefulset.yaml
  bitnami/grafana-loki/templates/promtail/daemonset.yaml
  bitnami/grafana-loki/templates/promtail/service-account.yaml
  bitnami/grafana-loki/templates/promtail/service.yaml
  bitnami/grafana-loki/templates/promtail/servicemonitor.yaml
  bitnami/grafana-loki/templates/querier/service.yaml
  bitnami/grafana-loki/templates/querier/servicemonitor.yaml
  bitnami/grafana-loki/templates/querier/statefulset.yaml
  bitnami/grafana-loki/templates/query-frontend/deployment.yaml
  bitnami/grafana-loki/templates/query-frontend/headless-service.yaml
  bitnami/grafana-loki/templates/query-frontend/service.yaml
  bitnami/grafana-loki/templates/query-frontend/servicemonitor.yaml
  bitnami/grafana-loki/templates/query-scheduler/deployment.yaml
  bitnami/grafana-loki/templates/query-scheduler/service.yaml
  bitnami/grafana-loki/templates/ruler/service.yaml
  bitnami/grafana-loki/templates/ruler/servicemonitor.yaml
  bitnami/grafana-loki/templates/ruler/statefulset.yaml
  bitnami/grafana-loki/templates/service-account.yaml
  bitnami/grafana-loki/templates/table-manager/deployment.yaml
  bitnami/grafana-loki/templates/table-manager/service.yaml
  bitnami/grafana-loki/templates/table-manager/servicemonitor.yaml
Labels: verify, bitnami, grafana-loki

#19024 [bitnami/aspnet-core]: Use merge helper
  bitnami/aspnet-core/Chart.lock
  bitnami/aspnet-core/Chart.yaml
  bitnami/aspnet-core/templates/deployment.yaml
  bitnami/aspnet-core/templates/health-ingress.yaml
  bitnami/aspnet-core/templates/ingress.yaml
  bitnami/aspnet-core/templates/pdb.yaml
  bitnami/aspnet-core/templates/serviceaccount.yaml
  bitnami/aspnet-core/templates/svc.yaml
Labels: verify, bitnami, aspnet-core

#18951 [bitnami/grafana-tempo] Fixed incorrect indent in servicemonitor labels
  bitnami/grafana-tempo/Chart.yaml
  bitnami/grafana-tempo/templates/compactor/servicemonitor.yaml
  bitnami/grafana-tempo/templates/distributor/servicemonitor.yaml
  bitnami/grafana-tempo/templates/ingester/servicemonitor.yaml
  bitnami/grafana-tempo/templates/metrics-generator/servicemonitor.yaml
  bitnami/grafana-tempo/templates/querier/servicemonitor.yaml
  bitnami/grafana-tempo/templates/query-frontend/servicemonitor.yaml
  bitnami/grafana-tempo/templates/vulture/servicemonitor.yaml
Labels: verify, in-progress, grafana-tempo

#19030 [bitnami/discourse]: Use merge helper
  bitnami/discourse/Chart.lock
  bitnami/discourse/Chart.yaml
  bitnami/discourse/templates/deployment.yaml
  bitnami/discourse/templates/ingress.yaml
  bitnami/discourse/templates/networkpolicy-backend-ingress.yaml
  bitnami/discourse/templates/networkpolicy-ingress.yaml
  bitnami/discourse/templates/pvc.yaml
  bitnami/discourse/templates/service.yaml
  bitnami/discourse/templates/serviceaccount.yaml
Labels: verify, bitnami, discourse

#19032 [bitnami/drupal]: Use merge helper
  bitnami/drupal/Chart.lock
  bitnami/drupal/Chart.yaml
  bitnami/drupal/templates/deployment.yaml
  bitnami/drupal/templates/ingress.yaml
  bitnami/drupal/templates/metrics-svc.yaml
  bitnami/drupal/templates/networkpolicy-backend-ingress.yaml
  bitnami/drupal/templates/networkpolicy-ingress.yaml
  bitnami/drupal/templates/pvc.yaml
  bitnami/drupal/templates/serviceaccount.yaml
  bitnami/drupal/templates/svc.yaml
Labels: verify, bitnami, drupal

#19037 [bitnami/flink]: Use merge helper
  bitnami/flink/Chart.lock
  bitnami/flink/Chart.yaml
  bitnami/flink/templates/jobmanager/deployment.yaml
  bitnami/flink/templates/jobmanager/service.yml
  bitnami/flink/templates/jobmanager/serviceaccount.yaml
  bitnami/flink/templates/taskmanager/deployment.yaml
  bitnami/flink/templates/taskmanager/service.yml
  bitnami/flink/templates/taskmanager/serviceaccount.yaml
Labels: verify, bitnami, flink

#19043 [bitnami/grafana]: Use merge helper
  bitnami/grafana/Chart.lock
  bitnami/grafana/Chart.yaml
  bitnami/grafana/templates/deployment.yaml
  bitnami/grafana/templates/image-renderer-deployment.yaml
  bitnami/grafana/templates/image-renderer-service.yaml
  bitnami/grafana/templates/image-renderer-servicemonitor.yaml
  bitnami/grafana/templates/ingress.yaml
  bitnami/grafana/templates/pvc.yaml
  bitnami/grafana/templates/service.yaml
  bitnami/grafana/templates/serviceaccount.yaml
  bitnami/grafana/templates/servicemonitor.yaml
Labels: verify, bitnami, grafana

#19075 [bitnami/moodle]: Use merge helper
  bitnami/moodle/Chart.lock
  bitnami/moodle/Chart.yaml
  bitnami/moodle/templates/deployment.yaml
  bitnami/moodle/templates/ingress.yaml
  bitnami/moodle/templates/metrics-svc.yaml
  bitnami/moodle/templates/networkpolicy-backend-ingress.yaml
  bitnami/moodle/templates/networkpolicy-ingress.yaml
  bitnami/moodle/templates/pvc.yaml
  bitnami/moodle/templates/svc.yaml
Labels: verify, moodle, bitnami

#19077 [bitnami/mxnet]: Use merge helper
  bitnami/mxnet/Chart.lock
  bitnami/mxnet/Chart.yaml
  bitnami/mxnet/templates/distributed/scheduler/deployment.yaml
  bitnami/mxnet/templates/distributed/scheduler/service.yaml
  bitnami/mxnet/templates/distributed/server/statefulset.yaml
  bitnami/mxnet/templates/distributed/worker/statefulset.yaml
  bitnami/mxnet/templates/pvc.yaml
  bitnami/mxnet/templates/standalone/deployment.yaml
Labels: verify, bitnami, mxnet

#19093 [bitnami/postgresql]: Use merge helper
  bitnami/postgresql/Chart.lock
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/templates/backup/cronjob.yaml
  bitnami/postgresql/templates/backup/pvc.yaml
  bitnami/postgresql/templates/primary/metrics-svc.yaml
  bitnami/postgresql/templates/primary/networkpolicy.yaml
  bitnami/postgresql/templates/primary/servicemonitor.yaml
  bitnami/postgresql/templates/primary/statefulset.yaml
  bitnami/postgresql/templates/primary/svc-headless.yaml
  bitnami/postgresql/templates/primary/svc.yaml
  bitnami/postgresql/templates/prometheusrule.yaml
  bitnami/postgresql/templates/read/metrics-svc.yaml
  bitnami/postgresql/templates/read/networkpolicy.yaml
  bitnami/postgresql/templates/read/servicemonitor.yaml
  bitnami/postgresql/templates/read/statefulset.yaml
  bitnami/postgresql/templates/read/svc-headless.yaml
  bitnami/postgresql/templates/read/svc.yaml
  bitnami/postgresql/templates/serviceaccount.yaml
Labels: verify, postgresql, bitnami

#19103 [bitnami/redis]: Use merge helper
  bitnami/redis/Chart.lock
  bitnami/redis/Chart.yaml
  bitnami/redis/templates/headless-svc.yaml
  bitnami/redis/templates/master/application.yaml
  bitnami/redis/templates/master/pvc.yaml
  bitnami/redis/templates/master/service.yaml
  bitnami/redis/templates/master/serviceaccount.yaml
  bitnami/redis/templates/metrics-svc.yaml
  bitnami/redis/templates/replicas/service.yaml
  bitnami/redis/templates/replicas/serviceaccount.yaml
  bitnami/redis/templates/replicas/statefulset.yaml
  bitnami/redis/templates/sentinel/node-services.yaml
  bitnami/redis/templates/sentinel/service.yaml
  bitnami/redis/templates/sentinel/statefulset.yaml
  bitnami/redis/templates/serviceaccount.yaml
Labels: verify, bitnami, redis

#19110 [bitnami/suitecrm]: Use merge helper
  bitnami/suitecrm/Chart.lock
  bitnami/suitecrm/Chart.yaml
  bitnami/suitecrm/templates/deployment.yaml
  bitnami/suitecrm/templates/ingress.yaml
  bitnami/suitecrm/templates/metrics-svc.yaml
  bitnami/suitecrm/templates/networkpolicy-backend-ingress.yaml
  bitnami/suitecrm/templates/networkpolicy-ingress.yaml
  bitnami/suitecrm/templates/pvc.yaml
  bitnami/suitecrm/templates/svc.yaml
Labels: verify, bitnami, suitecrm

#19112 [bitnami/tensorflow-resnet]: Use merge helper
  bitnami/tensorflow-resnet/Chart.lock
  bitnami/tensorflow-resnet/Chart.yaml
  bitnami/tensorflow-resnet/templates/deployment.yaml
  bitnami/tensorflow-resnet/templates/service.yaml
Labels: verify, bitnami, tensorflow-resnet

#19029 [bitnami/contour]: Use merge helper
  bitnami/contour/Chart.lock
  bitnami/contour/Chart.yaml
  bitnami/contour/templates/certgen/serviceaccount.yaml
  bitnami/contour/templates/contour/deployment.yaml
  bitnami/contour/templates/contour/service.yaml
  bitnami/contour/templates/contour/serviceaccount.yaml
  bitnami/contour/templates/contour/servicemonitor.yaml
  bitnami/contour/templates/default-backend/deployment.yaml
  bitnami/contour/templates/default-backend/ingress.yaml
  bitnami/contour/templates/default-backend/poddisruptionbudget.yaml
  bitnami/contour/templates/default-backend/service.yaml
  bitnami/contour/templates/envoy/daemonset.yaml
  bitnami/contour/templates/envoy/deployment.yaml
  bitnami/contour/templates/envoy/service.yaml
  bitnami/contour/templates/envoy/serviceaccount.yaml
  bitnami/contour/templates/envoy/servicemonitor.yaml
Labels: verify, contour, bitnami

#19139 [bitnami/nginx-ingress-controller] Replace kuard with dokuwiki
  .vib/nginx-ingress-controller/ginkgo/integration_suite_test.go
  .vib/nginx-ingress-controller/ginkgo/nginx_ingress_controller_test.go
  .vib/nginx-ingress-controller/runtime-parameters.yaml
  .vib/nginx-ingress-controller/vib-publish.json
  .vib/nginx-ingress-controller/vib-verify.json
Labels: verify, bitnami, nginx-ingress-controller

#19106 [bitnami/solr]: Use merge helper
  bitnami/solr/Chart.lock
  bitnami/solr/Chart.yaml
  bitnami/solr/templates/ingress.yaml
  bitnami/solr/templates/metrics-deployment.yaml
  bitnami/solr/templates/metrics-svc.yaml
  bitnami/solr/templates/pdb.yaml
  bitnami/solr/templates/service-account.yaml
  bitnami/solr/templates/statefulset.yaml
  bitnami/solr/templates/svc-headless.yaml
  bitnami/solr/templates/svc.yaml
Labels: verify, bitnami, solr

#19099 [bitnami/rabbitmq-cluster-operator]: Use merge helper
  bitnami/rabbitmq-cluster-operator/Chart.lock
  bitnami/rabbitmq-cluster-operator/Chart.yaml
  bitnami/rabbitmq-cluster-operator/templates/cluster-operator/deployment.yaml
  bitnami/rabbitmq-cluster-operator/templates/cluster-operator/metrics-service.yaml
  bitnami/rabbitmq-cluster-operator/templates/cluster-operator/service-account.yaml
  bitnami/rabbitmq-cluster-operator/templates/cluster-operator/servicemonitor.yaml
  bitnami/rabbitmq-cluster-operator/templates/messaging-topology-operator/deployment.yaml
  bitnami/rabbitmq-cluster-operator/templates/messaging-topology-operator/metrics-service.yaml
  bitnami/rabbitmq-cluster-operator/templates/messaging-topology-operator/service-account.yaml
  bitnami/rabbitmq-cluster-operator/templates/messaging-topology-operator/servicemonitor.yaml
  bitnami/rabbitmq-cluster-operator/templates/messaging-topology-operator/webhook-service.yaml
Labels: verify, bitnami, rabbitmq-cluster-operator

#19083 [bitnami/mongodb-sharded]: Use merge helper
  bitnami/mongodb-sharded/Chart.lock
  bitnami/mongodb-sharded/Chart.yaml
  bitnami/mongodb-sharded/templates/config-server/config-server-poddisruptionbudget.yaml
  bitnami/mongodb-sharded/templates/config-server/config-server-podmonitor.yaml
  bitnami/mongodb-sharded/templates/config-server/config-server-statefulset.yaml
  bitnami/mongodb-sharded/templates/headless-service.yaml
  bitnami/mongodb-sharded/templates/mongos/mongos-dep-sts.yaml
  bitnami/mongodb-sharded/templates/mongos/mongos-poddisruptionbudget.yaml
  bitnami/mongodb-sharded/templates/mongos/mongos-podmonitor.yaml
  bitnami/mongodb-sharded/templates/mongos/mongos-service-per-replica.yaml
  bitnami/mongodb-sharded/templates/mongos/mongos-service.yaml
  bitnami/mongodb-sharded/templates/serviceaccount.yaml
  bitnami/mongodb-sharded/templates/shard/shard-arbiter-statefulset.yaml
  bitnami/mongodb-sharded/templates/shard/shard-data-poddisruptionbudget.yaml
  bitnami/mongodb-sharded/templates/shard/shard-data-podmonitor.yaml
  bitnami/mongodb-sharded/templates/shard/shard-data-statefulset.yaml
Labels: verify, bitnami, mongodb-sharded

#19059 [bitnami/kube-prometheus]: Use merge helper
  bitnami/kube-prometheus/Chart.lock
  bitnami/kube-prometheus/Chart.yaml
  bitnami/kube-prometheus/templates/_helpers.tpl
  bitnami/kube-prometheus/templates/alertmanager/alertmanager.yaml
  bitnami/kube-prometheus/templates/alertmanager/ingress.yaml
  bitnami/kube-prometheus/templates/alertmanager/service.yaml
  bitnami/kube-prometheus/templates/alertmanager/serviceaccount.yaml
  bitnami/kube-prometheus/templates/alertmanager/servicemonitor.yaml
  bitnami/kube-prometheus/templates/blackbox-exporter/deployment.yaml
  bitnami/kube-prometheus/templates/blackbox-exporter/service.yaml
  bitnami/kube-prometheus/templates/blackbox-exporter/serviceaccount.yaml
  bitnami/kube-prometheus/templates/exporters/core-dns/service.yaml
  bitnami/kube-prometheus/templates/exporters/core-dns/servicemonitor.yaml
  bitnami/kube-prometheus/templates/exporters/kube-apiserver/servicemonitor.yaml
  bitnami/kube-prometheus/templates/exporters/kube-controller-manager/service.yaml
  bitnami/kube-prometheus/templates/exporters/kube-controller-manager/servicemonitor.yaml
  bitnami/kube-prometheus/templates/exporters/kube-proxy/service.yaml
  bitnami/kube-prometheus/templates/exporters/kube-proxy/servicemonitor.yaml
  bitnami/kube-prometheus/templates/exporters/kube-scheduler/service.yaml
  bitnami/kube-prometheus/templates/exporters/kube-scheduler/servicemonitor.yaml
  bitnami/kube-prometheus/templates/exporters/kubelet/servicemonitor.yaml
  bitnami/kube-prometheus/templates/prometheus-operator/deployment.yaml
  bitnami/kube-prometheus/templates/prometheus-operator/service.yaml
  bitnami/kube-prometheus/templates/prometheus-operator/serviceaccount.yaml
  bitnami/kube-prometheus/templates/prometheus-operator/servicemonitor.yaml
  bitnami/kube-prometheus/templates/prometheus/config-reloader-service.yaml
  bitnami/kube-prometheus/templates/prometheus/ingress.yaml
  bitnami/kube-prometheus/templates/prometheus/prometheus.yaml
  bitnami/kube-prometheus/templates/prometheus/service.yaml
  bitnami/kube-prometheus/templates/prometheus/serviceaccount.yaml
  bitnami/kube-prometheus/templates/prometheus/thanos-ingress.yaml
  bitnami/kube-prometheus/templates/prometheus/thanos-service.yaml
Labels: verify, bitnami, kube-prometheus

#19058 [bitnami/kong]: Use merge helper
  bitnami/kong/Chart.lock
  bitnami/kong/Chart.yaml
  bitnami/kong/templates/dep-ds.yaml
  bitnami/kong/templates/ingress-controller-serviceaccount.yaml
  bitnami/kong/templates/ingress.yaml
  bitnami/kong/templates/metrics-service.yaml
  bitnami/kong/templates/migrate-job.yaml
  bitnami/kong/templates/pdb.yaml
  bitnami/kong/templates/service.yaml
  bitnami/kong/templates/servicemonitor.yaml
Labels: verify, bitnami, kong

#19071 [bitnami/metallb]: Use merge helper
  bitnami/metallb/Chart.yaml
  bitnami/metallb/templates/controller/deployment.yaml
  bitnami/metallb/templates/controller/networkpolicy.yaml
  bitnami/metallb/templates/controller/service.yaml
  bitnami/metallb/templates/controller/serviceaccount.yaml
  bitnami/metallb/templates/controller/servicemonitor.yaml
  bitnami/metallb/templates/controller/webhooks.yaml
  bitnami/metallb/templates/speaker/daemonset.yaml
  bitnami/metallb/templates/speaker/service.yaml
  bitnami/metallb/templates/speaker/serviceaccount.yaml
  bitnami/metallb/templates/speaker/servicemonitor.yaml
Labels: verify, bitnami, metallb

#19005 [bitnami/clickhouse] Set Zookeeper 3.8.x as subchart
  .vib/clickhouse/ginkgo/clickhouse_suite_test.go
  bitnami/clickhouse/Chart.yaml
  bitnami/clickhouse/README.md
  bitnami/clickhouse/values.yaml
Labels: verify, bitnami, clickhouse

#18929 [bitnami/rabbitmq-cluster-operator] Fix indentation typo in msgTopologyOperator metrics service selector
  bitnami/rabbitmq-cluster-operator/Chart.yaml
  bitnami/rabbitmq-cluster-operator/templates/messaging-topology-operator/metrics-service.yaml
Labels: verify, in-progress, rabbitmq-cluster-operator

#19117 [bitnami/wordpress]: Use merge helper
  bitnami/wordpress/Chart.lock
  bitnami/wordpress/Chart.yaml
  bitnami/wordpress/templates/deployment.yaml
  bitnami/wordpress/templates/ingress.yaml
  bitnami/wordpress/templates/metrics-svc.yaml
  bitnami/wordpress/templates/networkpolicy-backend-ingress.yaml
  bitnami/wordpress/templates/networkpolicy-ingress.yaml
  bitnami/wordpress/templates/pdb.yaml
  bitnami/wordpress/templates/pvc.yaml
  bitnami/wordpress/templates/serviceaccount.yaml
  bitnami/wordpress/templates/servicemonitor.yaml
  bitnami/wordpress/templates/svc.yaml
Labels: verify, bitnami, wordpress

#19108 [bitnami/spark]: Use merge helper
  bitnami/spark/Chart.lock
  bitnami/spark/Chart.yaml
  bitnami/spark/templates/headless-svc.yaml
  bitnami/spark/templates/ingress.yaml
  bitnami/spark/templates/serviceaccount.yaml
  bitnami/spark/templates/statefulset-master.yaml
  bitnami/spark/templates/statefulset-worker.yaml
  bitnami/spark/templates/svc-master.yaml
Labels: verify, bitnami, spark

#19080 [bitnami/nginx]: Use merge helper
  bitnami/nginx/Chart.lock
  bitnami/nginx/Chart.yaml
  bitnami/nginx/templates/deployment.yaml
  bitnami/nginx/templates/health-ingress.yaml
  bitnami/nginx/templates/ingress.yaml
  bitnami/nginx/templates/pdb.yaml
  bitnami/nginx/templates/serviceaccount.yaml
  bitnami/nginx/templates/servicemonitor.yaml
  bitnami/nginx/templates/svc.yaml
Labels: verify, nginx, bitnami

#19066 [bitnami/mariadb-galera]: Use merge helper
  bitnami/mariadb-galera/Chart.lock
  bitnami/mariadb-galera/Chart.yaml
  bitnami/mariadb-galera/templates/headless-svc.yaml
  bitnami/mariadb-galera/templates/metrics-svc.yaml
  bitnami/mariadb-galera/templates/pdb.yaml
  bitnami/mariadb-galera/templates/serviceaccount.yaml
  bitnami/mariadb-galera/templates/servicemonitor.yaml
  bitnami/mariadb-galera/templates/statefulset.yaml
  bitnami/mariadb-galera/templates/svc.yaml
Labels: verify, bitnami, mariadb-galera

#19028 [bitnami/consul]: Use merge helper
  bitnami/consul/Chart.lock
  bitnami/consul/Chart.yaml
  bitnami/consul/templates/consul-headless-service.yaml
  bitnami/consul/templates/ingress.yaml
  bitnami/consul/templates/metrics-svc.yaml
  bitnami/consul/templates/pdb.yaml
  bitnami/consul/templates/service.yaml
  bitnami/consul/templates/servicemonitor.yaml
  bitnami/consul/templates/statefulset.yaml
Labels: verify, bitnami, consul

#19065 [bitnami/mariadb]: Use merge helper
  .vib/mariadb-galera/ginkgo/mariadb_suite_test.go
  bitnami/mariadb/Chart.lock
  bitnami/mariadb/Chart.yaml
  bitnami/mariadb/templates/primary/networkpolicy-ingress.yaml
  bitnami/mariadb/templates/primary/pdb.yaml
  bitnami/mariadb/templates/primary/statefulset.yaml
  bitnami/mariadb/templates/primary/svc.yaml
  bitnami/mariadb/templates/secondary/networkpolicy-ingress.yaml
  bitnami/mariadb/templates/secondary/pdb.yaml
  bitnami/mariadb/templates/secondary/statefulset.yaml
  bitnami/mariadb/templates/secondary/svc.yaml
  bitnami/mariadb/templates/serviceaccount.yaml
  bitnami/mariadb/templates/servicemonitor.yaml
Labels: verify, mariadb, bitnami

#19107 [bitnami/sonarqube]: Use merge helper
  bitnami/sonarqube/Chart.yaml
  bitnami/sonarqube/templates/deployment.yaml
  bitnami/sonarqube/templates/ingress.yaml
  bitnami/sonarqube/templates/jmx-metrics-svc.yaml
  bitnami/sonarqube/templates/jmx-servicemonitor.yaml
  bitnami/sonarqube/templates/pvc.yaml
  bitnami/sonarqube/templates/service-account.yaml
  bitnami/sonarqube/templates/service.yaml
Labels: verify, bitnami, sonarqube

#19088 [bitnami/parse]: Use merge helper
  bitnami/parse/Chart.yaml
  bitnami/parse/templates/dashboard-deployment.yaml
  bitnami/parse/templates/dashboard-svc.yaml
  bitnami/parse/templates/ingress.yaml
  bitnami/parse/templates/pvc.yaml
  bitnami/parse/templates/server-deployment.yaml
  bitnami/parse/templates/server-svc.yaml
  bitnami/parse/templates/service-account.yaml
Labels: verify, bitnami, parse

#19012 [kube-prometheus]: Fix mapping values issue
  bitnami/kube-prometheus/Chart.yaml
  bitnami/kube-prometheus/templates/_helpers.tpl
  bitnami/kube-prometheus/templates/prometheus/thanos-service.yaml
Labels: verify, bitnami, kube-prometheus

#19063 [bitnami/kafka]: Use merge helper
  bitnami/kafka/Chart.yaml
  bitnami/kafka/templates/broker/pdb.yaml
  bitnami/kafka/templates/broker/statefulset.yaml
  bitnami/kafka/templates/broker/svc-external-access.yaml
  bitnami/kafka/templates/broker/svc-headless.yaml
  bitnami/kafka/templates/controller-eligible/pdb.yaml
  bitnami/kafka/templates/controller-eligible/statefulset.yaml
  bitnami/kafka/templates/controller-eligible/svc-external-access.yaml
  bitnami/kafka/templates/controller-eligible/svc-headless.yaml
  bitnami/kafka/templates/metrics/deployment.yaml
  bitnami/kafka/templates/metrics/jmx-servicemonitor.yaml
  bitnami/kafka/templates/metrics/jmx-svc.yaml
  bitnami/kafka/templates/metrics/prometheusrule.yaml
  bitnami/kafka/templates/metrics/servicemonitor.yaml
  bitnami/kafka/templates/metrics/svc.yaml
  bitnami/kafka/templates/provisioning/job.yaml
  bitnami/kafka/templates/rbac/serviceaccount.yaml
  bitnami/kafka/templates/svc.yaml
Labels: verify, kafka, bitnami

#19042 [bitnami/gitea]: Use merge helper
  bitnami/gitea/Chart.lock
  bitnami/gitea/Chart.yaml
  bitnami/gitea/templates/deployment.yaml
  bitnami/gitea/templates/ingress.yaml
  bitnami/gitea/templates/pvc.yaml
  bitnami/gitea/templates/service-account.yaml
  bitnami/gitea/templates/svc.yaml
Labels: verify, bitnami, gitea

#19068 [bitnami/matomo]: Use merge helper
  bitnami/matomo/Chart.lock
  bitnami/matomo/Chart.yaml
  bitnami/matomo/templates/deployment.yaml
  bitnami/matomo/templates/ingress.yaml
  bitnami/matomo/templates/networkpolicy-backend-ingress.yaml
  bitnami/matomo/templates/networkpolicy-ingress.yaml
  bitnami/matomo/templates/pvc.yaml
  bitnami/matomo/templates/svc.yaml
Labels: verify, bitnami, matomo

#19050 [bitnami/influxdb]: Use merge helper
  bitnami/influxdb/Chart.yaml
  bitnami/influxdb/templates/deployment.yaml
  bitnami/influxdb/templates/ingress.yaml
  bitnami/influxdb/templates/networkpolicy.yaml
  bitnami/influxdb/templates/pvc-backup.yaml
  bitnami/influxdb/templates/pvc.yaml
  bitnami/influxdb/templates/service-collectd.yaml
  bitnami/influxdb/templates/service-metrics.yaml
  bitnami/influxdb/templates/service.yaml
  bitnami/influxdb/templates/serviceaccount.yaml
  bitnami/influxdb/templates/servicemonitor.yaml
Labels: verify, bitnami, influxdb

#19069 [bitnami/mediawiki]: Use merge helper
  bitnami/mediawiki/Chart.lock
  bitnami/mediawiki/Chart.yaml
  bitnami/mediawiki/templates/deployment.yaml
  bitnami/mediawiki/templates/ingress.yaml
  bitnami/mediawiki/templates/mediawiki-pvc.yaml
  bitnami/mediawiki/templates/metrics-svc.yaml
  bitnami/mediawiki/templates/networkpolicy-backend-ingress.yaml
  bitnami/mediawiki/templates/networkpolicy-ingress.yaml
  bitnami/mediawiki/templates/servicemonitor.yaml
  bitnami/mediawiki/templates/svc.yaml
Labels: verify, bitnami, mediawiki

#19082 [bitnami/mongodb]: Use merge helper
  bitnami/mongodb/Chart.lock
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/templates/arbiter/headless-svc.yaml
  bitnami/mongodb/templates/arbiter/pdb.yaml
  bitnami/mongodb/templates/arbiter/statefulset.yaml
  bitnami/mongodb/templates/hidden/external-access-svc.yaml
  bitnami/mongodb/templates/hidden/headless-svc.yaml
  bitnami/mongodb/templates/hidden/pdb.yaml
  bitnami/mongodb/templates/hidden/statefulset.yaml
  bitnami/mongodb/templates/metrics-svc.yaml
  bitnami/mongodb/templates/replicaset/external-access-svc.yaml
  bitnami/mongodb/templates/replicaset/headless-svc.yaml
  bitnami/mongodb/templates/replicaset/pdb.yaml
  bitnami/mongodb/templates/replicaset/statefulset.yaml
  bitnami/mongodb/templates/replicaset/svc.yaml
  bitnami/mongodb/templates/serviceaccount.yaml
  bitnami/mongodb/templates/servicemonitor.yaml
  bitnami/mongodb/templates/standalone/dep-sts.yaml
  bitnami/mongodb/templates/standalone/pvc.yaml
  bitnami/mongodb/templates/standalone/svc.yaml
Labels: verify, bitnami, mongodb

#19076 [bitnami/multus-cni]: Use merge helper
  bitnami/multus-cni/Chart.lock
  bitnami/multus-cni/Chart.yaml
  bitnami/multus-cni/templates/daemonset.yaml
  bitnami/multus-cni/templates/service-account.yaml
Labels: verify, bitnami, multus-cni

#19021 [bitnami/appsmith]: Use merge helper
  bitnami/appsmith/Chart.yaml
  bitnami/appsmith/templates/backend/deployment.yaml
  bitnami/appsmith/templates/backend/pvc.yaml
  bitnami/appsmith/templates/backend/service.yaml
  bitnami/appsmith/templates/client/deployment.yaml
  bitnami/appsmith/templates/client/ingress.yaml
  bitnami/appsmith/templates/client/service.yaml
  bitnami/appsmith/templates/rts/deployment.yaml
  bitnami/appsmith/templates/rts/service.yaml
  bitnami/appsmith/templates/service-account.yaml
Labels: verify, bitnami, appsmith

#19038 [bitnami/fluent-bit]: Use merge helper
  bitnami/fluent-bit/Chart.yaml
  bitnami/fluent-bit/templates/daemonset.yaml
  bitnami/fluent-bit/templates/deployment.yaml
  bitnami/fluent-bit/templates/hpa.yaml
  bitnami/fluent-bit/templates/ingress.yaml
  bitnami/fluent-bit/templates/pdb.yaml
  bitnami/fluent-bit/templates/service-account.yaml
  bitnami/fluent-bit/templates/service.yml
  bitnami/fluent-bit/templates/servicemonitor.yaml
  bitnami/fluent-bit/templates/vpa.yaml
Labels: verify, bitnami, fluent-bit

#19023 [bitnami/argo-workflows]: Use merge helper
  bitnami/argo-workflows/Chart.lock
  bitnami/argo-workflows/Chart.yaml
  bitnami/argo-workflows/templates/controller/deployment.yaml
  bitnami/argo-workflows/templates/controller/pdb.yaml
  bitnami/argo-workflows/templates/controller/service-account.yaml
  bitnami/argo-workflows/templates/controller/service.yaml
  bitnami/argo-workflows/templates/controller/workflow-serviceaccount.yaml
  bitnami/argo-workflows/templates/server/deployment.yaml
  bitnami/argo-workflows/templates/server/ingress.yaml
  bitnami/argo-workflows/templates/server/pdb.yaml
  bitnami/argo-workflows/templates/server/service-account.yaml
  bitnami/argo-workflows/templates/server/service.yaml
Labels: verify, argo-workflows, bitnami

#19115 [bitnami/whereabouts]: Use merge helper
  bitnami/whereabouts/Chart.lock
  bitnami/whereabouts/Chart.yaml
  bitnami/whereabouts/templates/daemonset.yaml
  bitnami/whereabouts/templates/service-account.yaml
Labels: verify, bitnami, whereabouts

#19109 [bitnami/spring-cloud-dataflow]: Use merge helper
  bitnami/spring-cloud-dataflow/Chart.lock
  bitnami/spring-cloud-dataflow/Chart.yaml
  bitnami/spring-cloud-dataflow/templates/prometheus-proxy/deployment.yaml
  bitnami/spring-cloud-dataflow/templates/prometheus-proxy/pdb.yaml
  bitnami/spring-cloud-dataflow/templates/prometheus-proxy/service.yaml
  bitnami/spring-cloud-dataflow/templates/prometheus-proxy/servicemonitor-metrics.yaml
  bitnami/spring-cloud-dataflow/templates/server/deployment.yaml
  bitnami/spring-cloud-dataflow/templates/server/ingress.yaml
  bitnami/spring-cloud-dataflow/templates/server/pdb.yaml
  bitnami/spring-cloud-dataflow/templates/server/service.yaml
  bitnami/spring-cloud-dataflow/templates/serviceaccount.yaml
  bitnami/spring-cloud-dataflow/templates/skipper/deployment.yaml
  bitnami/spring-cloud-dataflow/templates/skipper/pdb.yaml
  bitnami/spring-cloud-dataflow/templates/skipper/service.yaml
Labels: verify, bitnami, spring-cloud-dataflow

#19100 [bitnami/redmine]: Use merge helper
  bitnami/redmine/Chart.lock
  bitnami/redmine/Chart.yaml
  bitnami/redmine/templates/cronjob.yaml
  bitnami/redmine/templates/deployment.yaml
  bitnami/redmine/templates/ingress.yaml
  bitnami/redmine/templates/networkpolicy-backend-ingress.yaml
  bitnami/redmine/templates/networkpolicy-ingress.yaml
  bitnami/redmine/templates/pdb.yaml
  bitnami/redmine/templates/pvc.yaml
  bitnami/redmine/templates/serviceaccount.yaml
  bitnami/redmine/templates/svc.yaml
Labels: verify, bitnami, redmine

#19090 [bitnami/phpbb]: Use merge helper
  bitnami/phpbb/Chart.lock
  bitnami/phpbb/Chart.yaml
  bitnami/phpbb/templates/deployment.yaml
  bitnami/phpbb/templates/ingress.yaml
  bitnami/phpbb/templates/networkpolicy-backend-ingress.yaml
  bitnami/phpbb/templates/networkpolicy-ingress.yaml
  bitnami/phpbb/templates/phpbb-pvc.yaml
  bitnami/phpbb/templates/svc.yaml
Labels: verify, bitnami, phpbb

#19096 [bitnami/prometheus]: Use merge helper
  bitnami/prometheus/Chart.yaml
  bitnami/prometheus/templates/alertmanager/ingress.yaml
  bitnami/prometheus/templates/alertmanager/pdb.yaml
  bitnami/prometheus/templates/alertmanager/service-account.yaml
  bitnami/prometheus/templates/alertmanager/service-headless.yaml
  bitnami/prometheus/templates/alertmanager/service.yaml
  bitnami/prometheus/templates/alertmanager/statefulset.yaml
  bitnami/prometheus/templates/server/deployment.yaml
  bitnami/prometheus/templates/server/ingress.yaml
  bitnami/prometheus/templates/server/pdb.yaml
  bitnami/prometheus/templates/server/pvc.yaml
  bitnami/prometheus/templates/server/service-account.yaml
  bitnami/prometheus/templates/server/service.yaml
  bitnami/prometheus/templates/server/thanos-ingress.yaml
  bitnami/prometheus/templates/server/thanos-service.yaml
Labels: verify, bitnami, prometheus

#19087 [bitnami/osclass]: Use merge helper
  bitnami/osclass/Chart.lock
  bitnami/osclass/Chart.yaml
  bitnami/osclass/templates/deployment.yaml
  bitnami/osclass/templates/ingress.yaml
  bitnami/osclass/templates/metrics-svc.yaml
  bitnami/osclass/templates/networkpolicy-backend-ingress.yaml
  bitnami/osclass/templates/networkpolicy-ingress.yaml
  bitnami/osclass/templates/osclass-pvc.yaml
  bitnami/osclass/templates/pdb.yaml
  bitnami/osclass/templates/servicemonitor.yaml
  bitnami/osclass/templates/svc.yaml
Labels: verify, bitnami, osclass

#19060 [bitnami/kube-state-metrics]: Use merge helper
  bitnami/kube-state-metrics/Chart.lock
  bitnami/kube-state-metrics/Chart.yaml
  bitnami/kube-state-metrics/templates/deployment.yaml
  bitnami/kube-state-metrics/templates/service.yaml
  bitnami/kube-state-metrics/templates/serviceaccount.yaml
  bitnami/kube-state-metrics/templates/servicemonitor.yaml
Labels: verify, bitnami, kube-state-metrics

#19048 [bitnami/haproxy]: Use merge helper
  bitnami/haproxy/Chart.lock
  bitnami/haproxy/Chart.yaml
  bitnami/haproxy/templates/deployment.yaml
  bitnami/haproxy/templates/pdb.yaml
  bitnami/haproxy/templates/service-account.yaml
  bitnami/haproxy/templates/service.yaml
Labels: verify, bitnami, haproxy

#19122 [bitnami/solr]: Add missing label to metrics svc
  bitnami/solr/Chart.yaml
  bitnami/solr/templates/metrics-svc.yaml
Labels: verify, bitnami, solr

#19172 [bitnami/postgresql,postgresql-ha] test: :wrench: Bump ginkgo timeouts
  .vib/postgresql-ha/ginkgo/postgresql_suite_test.go
  .vib/postgresql/ginkgo/postgresql_suite_test.go
Labels: verify, bitnami

#19055 [bitnami/jupyterhub]: Use merge helper
  bitnami/jupyterhub/Chart.lock
  bitnami/jupyterhub/Chart.yaml
  bitnami/jupyterhub/templates/hub/deployment.yaml
  bitnami/jupyterhub/templates/hub/networkpolicy.yaml
  bitnami/jupyterhub/templates/hub/pdb.yaml
  bitnami/jupyterhub/templates/hub/service-account.yaml
  bitnami/jupyterhub/templates/hub/service.yaml
  bitnami/jupyterhub/templates/hub/servicemonitor.yaml
  bitnami/jupyterhub/templates/image-puller/daemonset.yaml
  bitnami/jupyterhub/templates/proxy/deployment.yaml
  bitnami/jupyterhub/templates/proxy/ingress.yaml
  bitnami/jupyterhub/templates/proxy/networkpolicy.yaml
  bitnami/jupyterhub/templates/proxy/pdb.yaml
  bitnami/jupyterhub/templates/proxy/service-account.yaml
  bitnami/jupyterhub/templates/proxy/service-api.yaml
  bitnami/jupyterhub/templates/proxy/service-metrics.yaml
  bitnami/jupyterhub/templates/proxy/service-public.yaml
  bitnami/jupyterhub/templates/proxy/servicemonitor.yaml
  bitnami/jupyterhub/templates/singleuser/networkpolicy.yaml
  bitnami/jupyterhub/templates/singleuser/service-account.yaml
Labels: verify, bitnami, jupyterhub

#19085 [bitnami/opencart]: Use merge helper
  bitnami/opencart/Chart.lock
  bitnami/opencart/Chart.yaml
  bitnami/opencart/templates/deployment.yaml
  bitnami/opencart/templates/ingress.yaml
  bitnami/opencart/templates/networkpolicy-backend-ingress.yaml
  bitnami/opencart/templates/networkpolicy-ingress.yaml
  bitnami/opencart/templates/pvc.yaml
  bitnami/opencart/templates/svc.yaml
Labels: verify, bitnami, opencart

#19166 [bitnami/kubeapps]: Use merge helper
  bitnami/kubeapps/Chart.lock
  bitnami/kubeapps/Chart.yaml
  bitnami/kubeapps/templates/apprepository/deployment.yaml
  bitnami/kubeapps/templates/apprepository/serviceaccount.yaml
  bitnami/kubeapps/templates/dashboard/deployment.yaml
  bitnami/kubeapps/templates/dashboard/service.yaml
  bitnami/kubeapps/templates/frontend/deployment.yaml
  bitnami/kubeapps/templates/frontend/service.yaml
  bitnami/kubeapps/templates/ingress-api.yaml
  bitnami/kubeapps/templates/ingress.yaml
  bitnami/kubeapps/templates/kubeappsapis/deployment.yaml
  bitnami/kubeapps/templates/kubeappsapis/service.yaml
  bitnami/kubeapps/templates/kubeappsapis/serviceaccount.yaml
Labels: verify, bitnami, kubeapps

#19169 [bitnami/oauth2-proxy]: Use merge helper
  bitnami/oauth2-proxy/Chart.yaml
  bitnami/oauth2-proxy/templates/deployment.yaml
  bitnami/oauth2-proxy/templates/ingress.yaml
  bitnami/oauth2-proxy/templates/pdb.yaml
  bitnami/oauth2-proxy/templates/service-account.yaml
  bitnami/oauth2-proxy/templates/service.yaml
Labels: verify, bitnami, oauth2-proxy

#19167 [bitnami/kubernetes-event-exporter]: Use merge helper
  bitnami/kubernetes-event-exporter/Chart.lock
  bitnami/kubernetes-event-exporter/Chart.yaml
  bitnami/kubernetes-event-exporter/templates/deployment.yaml
  bitnami/kubernetes-event-exporter/templates/metrics-service.yaml
  bitnami/kubernetes-event-exporter/templates/prometheusrule.yaml
  bitnami/kubernetes-event-exporter/templates/serviceaccount.yaml
  bitnami/kubernetes-event-exporter/templates/servicemonitor.yaml
Labels: verify, bitnami, kubernetes-event-exporter

#17847 [bitnami/postgresql] Version the helper functions
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/templates/NOTES.txt
  bitnami/postgresql/templates/_helpers.tpl
  bitnami/postgresql/templates/backup/cronjob.yaml
  bitnami/postgresql/templates/backup/pvc.yaml
  bitnami/postgresql/templates/primary/configmap.yaml
  bitnami/postgresql/templates/primary/extended-configmap.yaml
  bitnami/postgresql/templates/primary/initialization-configmap.yaml
  bitnami/postgresql/templates/primary/metrics-configmap.yaml
  bitnami/postgresql/templates/primary/metrics-svc.yaml
  bitnami/postgresql/templates/primary/networkpolicy.yaml
  bitnami/postgresql/templates/primary/servicemonitor.yaml
  bitnami/postgresql/templates/primary/statefulset.yaml
  bitnami/postgresql/templates/primary/svc-headless.yaml
  bitnami/postgresql/templates/primary/svc.yaml
  bitnami/postgresql/templates/read/extended-configmap.yaml
  bitnami/postgresql/templates/read/metrics-configmap.yaml
  bitnami/postgresql/templates/read/metrics-svc.yaml
  bitnami/postgresql/templates/read/networkpolicy.yaml
  bitnami/postgresql/templates/read/servicemonitor.yaml
  bitnami/postgresql/templates/read/statefulset.yaml
  bitnami/postgresql/templates/read/svc-headless.yaml
  bitnami/postgresql/templates/read/svc.yaml
  bitnami/postgresql/templates/rolebinding.yaml
  bitnami/postgresql/templates/secrets.yaml
  bitnami/postgresql/templates/serviceaccount.yaml
  bitnami/postgresql/templates/tls-secrets.yaml
Labels: on-hold, verify, in-progress, postgresql

#19010 [grafana-operator]: Fix persistence
  bitnami/grafana-operator/Chart.yaml
  bitnami/grafana-operator/templates/deployment.yaml
  bitnami/grafana-operator/templates/grafana.yaml
Labels: verify, bitnami, grafana-operator

#19176 [bitnami/fluentd] Improve reliability test for fluentd forward-aggregator test
  .vib/fluentd/goss/goss.yaml
Labels: verify, bitnami

#19165 [bitnami/logstash]: Use merge helper
  bitnami/logstash/Chart.yaml
  bitnami/logstash/templates/headless-svc.yaml
  bitnami/logstash/templates/ingress.yaml
  bitnami/logstash/templates/pdb.yaml
  bitnami/logstash/templates/serviceaccount.yaml
  bitnami/logstash/templates/sts.yaml
  bitnami/logstash/templates/svc.yaml
Labels: verify, bitnami, logstash

#19113 [bitnami/tomcat]: Use merge helper
  bitnami/tomcat/Chart.lock
  bitnami/tomcat/Chart.yaml
  bitnami/tomcat/templates/_pod.tpl
  bitnami/tomcat/templates/deployment.yaml
  bitnami/tomcat/templates/ingress.yaml
  bitnami/tomcat/templates/networkpolicy.yaml
  bitnami/tomcat/templates/podmonitor.yaml
  bitnami/tomcat/templates/statefulset.yaml
  bitnami/tomcat/templates/svc-headless.yaml
  bitnami/tomcat/templates/svc.yaml
Labels: verify, bitnami, tomcat

#19178 [bitnami/contour]: VIB test envoy's container port
  .vib/contour/runtime-parameters.yaml
Labels: verify, bitnami

#19104 [bitnami/redis-cluster]: Use merge helper
  bitnami/redis-cluster/Chart.yaml
  bitnami/redis-cluster/templates/headless-svc.yaml
  bitnami/redis-cluster/templates/metrics-prometheus.yaml
  bitnami/redis-cluster/templates/metrics-svc.yaml
  bitnami/redis-cluster/templates/networkpolicy.yaml
  bitnami/redis-cluster/templates/poddisruptionbudget.yaml
  bitnami/redis-cluster/templates/redis-serviceaccount.yaml
  bitnami/redis-cluster/templates/redis-statefulset.yaml
  bitnami/redis-cluster/templates/redis-svc.yaml
  bitnami/redis-cluster/templates/svc-cluster-external-access.yaml
  bitnami/redis-cluster/templates/update-cluster.yaml
Labels: verify, bitnami, redis-cluster

#19097 [bitnami/pytorch]: Use merge helper
  bitnami/pytorch/Chart.lock
  bitnami/pytorch/Chart.yaml
  bitnami/pytorch/templates/deployment.yaml
  bitnami/pytorch/templates/headless-svc.yaml
  bitnami/pytorch/templates/pvc.yaml
  bitnami/pytorch/templates/service.yaml
  bitnami/pytorch/templates/statefulset.yaml
Labels: verify, bitnami, pytorch

#19119 [bitnami/thanos]: Use merge helper
  bitnami/thanos/Chart.yaml
  bitnami/thanos/templates/bucketweb/deployment.yaml
  bitnami/thanos/templates/bucketweb/ingress.yaml
  bitnami/thanos/templates/bucketweb/pdb.yaml
  bitnami/thanos/templates/bucketweb/service.yaml
  bitnami/thanos/templates/bucketweb/serviceaccount.yaml
  bitnami/thanos/templates/bucketweb/servicemonitor.yaml
  bitnami/thanos/templates/compactor/_pod-template.tpl
  bitnami/thanos/templates/compactor/deployment.yaml
  bitnami/thanos/templates/compactor/ingress.yaml
  bitnami/thanos/templates/compactor/pvc.yaml
  bitnami/thanos/templates/compactor/service.yaml
  bitnami/thanos/templates/compactor/serviceaccount.yaml
  bitnami/thanos/templates/compactor/servicemonitor.yaml
  bitnami/thanos/templates/query-frontend/deployment.yaml
  bitnami/thanos/templates/query-frontend/ingress.yaml
  bitnami/thanos/templates/query-frontend/pdb.yaml
  bitnami/thanos/templates/query-frontend/service.yaml
  bitnami/thanos/templates/query-frontend/serviceaccount.yaml
  bitnami/thanos/templates/query-frontend/servicemonitor.yaml
  bitnami/thanos/templates/query/deployment.yaml
  bitnami/thanos/templates/query/ingress-grpc.yaml
  bitnami/thanos/templates/query/ingress.yaml
  bitnami/thanos/templates/query/pdb.yaml
  bitnami/thanos/templates/query/service-grpc-headless.yaml
  bitnami/thanos/templates/query/service-grpc.yaml
  bitnami/thanos/templates/query/service-headless.yaml
  bitnami/thanos/templates/query/service.yaml
  bitnami/thanos/templates/query/serviceaccount.yaml
  bitnami/thanos/templates/query/servicemonitor.yaml
  bitnami/thanos/templates/receive-distributor/deployment.yaml
  bitnami/thanos/templates/receive-distributor/pdb.yaml
  bitnami/thanos/templates/receive-distributor/serviceaccount.yaml
  bitnami/thanos/templates/receive-distributor/servicemonitor.yaml
  bitnami/thanos/templates/receive/ingress.yaml
  bitnami/thanos/templates/receive/pdb.yaml
  bitnami/thanos/templates/receive/service-headless.yaml
  bitnami/thanos/templates/receive/service.yaml
  bitnami/thanos/templates/receive/serviceaccount.yaml
  bitnami/thanos/templates/receive/servicemonitor.yaml
  bitnami/thanos/templates/receive/statefulset.yaml
  bitnami/thanos/templates/ruler/ingress.yaml
  bitnami/thanos/templates/ruler/pdb.yaml
  bitnami/thanos/templates/ruler/service-headless.yaml
  bitnami/thanos/templates/ruler/service.yaml
  bitnami/thanos/templates/ruler/serviceaccount.yaml
  bitnami/thanos/templates/ruler/servicemonitor.yaml
  bitnami/thanos/templates/ruler/statefulset.yaml
  bitnami/thanos/templates/serviceaccount.yaml
  bitnami/thanos/templates/storegateway/ingress-grpc.yaml
  bitnami/thanos/templates/storegateway/ingress.yaml
  bitnami/thanos/templates/storegateway/pdb-sharded.yaml
  bitnami/thanos/templates/storegateway/pdb.yaml
  bitnami/thanos/templates/storegateway/service-headless.yaml
  bitnami/thanos/templates/storegateway/service-sharded.yaml
  bitnami/thanos/templates/storegateway/service.yaml
  bitnami/thanos/templates/storegateway/serviceaccount.yaml
  bitnami/thanos/templates/storegateway/servicemonitor.yaml
  bitnami/thanos/templates/storegateway/statefulset-sharded.yaml
  bitnami/thanos/templates/storegateway/statefulset.yaml
Labels: verify, bitnami, thanos

#19092 [bitnami/pinniped]: Use merge helper
  bitnami/pinniped/Chart.lock
  bitnami/pinniped/Chart.yaml
  bitnami/pinniped/templates/concierge/deployment.yaml
  bitnami/pinniped/templates/concierge/impersonation-proxy-service-account.yaml
  bitnami/pinniped/templates/concierge/kube-cert-agent-service-account.yaml
  bitnami/pinniped/templates/concierge/service-account.yaml
  bitnami/pinniped/templates/concierge/service-api.yaml
  bitnami/pinniped/templates/concierge/service-proxy.yaml
  bitnami/pinniped/templates/supervisor/deployment.yaml
  bitnami/pinniped/templates/supervisor/ingress.yaml
  bitnami/pinniped/templates/supervisor/service-account.yaml
  bitnami/pinniped/templates/supervisor/service-api.yaml
  bitnami/pinniped/templates/supervisor/service.yaml
Labels: verify, pinniped, bitnami

#19098 [bitnami/rabbitmq]: Use merge helper
  bitnami/rabbitmq/Chart.lock
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/templates/ingress.yaml
  bitnami/rabbitmq/templates/networkpolicy.yaml
  bitnami/rabbitmq/templates/pdb.yaml
  bitnami/rabbitmq/templates/serviceaccount.yaml
  bitnami/rabbitmq/templates/servicemonitor.yaml
  bitnami/rabbitmq/templates/statefulset.yaml
  bitnami/rabbitmq/templates/svc-headless.yaml
  bitnami/rabbitmq/templates/svc.yaml
Labels: verify, bitnami, rabbitmq

#19051 [bitnami/jaeger]: Use merge helper
  bitnami/jaeger/Chart.yaml
  bitnami/jaeger/templates/agent/deployment.yaml
  bitnami/jaeger/templates/agent/service.yml
  bitnami/jaeger/templates/agent/serviceaccount.yaml
  bitnami/jaeger/templates/collector/deployment.yaml
  bitnami/jaeger/templates/collector/service.yml
  bitnami/jaeger/templates/collector/serviceaccount.yaml
  bitnami/jaeger/templates/migrate-job.yaml
  bitnami/jaeger/templates/query/deployment.yaml
  bitnami/jaeger/templates/query/service.yml
  bitnami/jaeger/templates/query/serviceaccount.yaml
Labels: verify, bitnami, jaeger

#18957 [bitnami/kafka] Bugfix LogPersistence storageclass
  bitnami/kafka/Chart.yaml
  bitnami/kafka/templates/controller-eligible/statefulset.yaml
Labels: verify, in-progress, kafka

#19045 [bitnami/grafana-mimir]: Use merge helper
  bitnami/grafana-mimir/Chart.yaml
  bitnami/grafana-mimir/templates/alertmanager/headless-service.yaml
  bitnami/grafana-mimir/templates/alertmanager/pdb.yaml
  bitnami/grafana-mimir/templates/alertmanager/service.yaml
  bitnami/grafana-mimir/templates/alertmanager/servicemonitor.yaml
  bitnami/grafana-mimir/templates/alertmanager/statefulset.yaml
  bitnami/grafana-mimir/templates/compactor/pdb.yaml
  bitnami/grafana-mimir/templates/compactor/service.yaml
  bitnami/grafana-mimir/templates/compactor/servicemonitor.yaml
  bitnami/grafana-mimir/templates/compactor/statefulset.yaml
  bitnami/grafana-mimir/templates/distributor/deployment.yaml
  bitnami/grafana-mimir/templates/distributor/headless-service.yaml
  bitnami/grafana-mimir/templates/distributor/pdb.yaml
  bitnami/grafana-mimir/templates/distributor/service.yaml
  bitnami/grafana-mimir/templates/distributor/servicemonitor.yaml
  bitnami/grafana-mimir/templates/gateway/deployment.yaml
  bitnami/grafana-mimir/templates/gateway/ingress.yaml
  bitnami/grafana-mimir/templates/gateway/pdb.yaml
  bitnami/grafana-mimir/templates/gateway/service.yaml
  bitnami/grafana-mimir/templates/gossip-ring-headless-service.yaml
  bitnami/grafana-mimir/templates/ingester/headless-service.yaml
  bitnami/grafana-mimir/templates/ingester/pdb.yaml
  bitnami/grafana-mimir/templates/ingester/service.yaml
  bitnami/grafana-mimir/templates/ingester/servicemonitor.yaml
  bitnami/grafana-mimir/templates/ingester/statefulset.yaml
  bitnami/grafana-mimir/templates/overrides-exporter/deployment.yaml
  bitnami/grafana-mimir/templates/overrides-exporter/headless-service.yaml
  bitnami/grafana-mimir/templates/overrides-exporter/pdb.yaml
  bitnami/grafana-mimir/templates/overrides-exporter/service.yaml
  bitnami/grafana-mimir/templates/overrides-exporter/servicemonitor.yaml
  bitnami/grafana-mimir/templates/querier/deployment.yaml
  bitnami/grafana-mimir/templates/querier/headless-service.yaml
  bitnami/grafana-mimir/templates/querier/pdb.yaml
  bitnami/grafana-mimir/templates/querier/service.yaml
  bitnami/grafana-mimir/templates/querier/servicemonitor.yaml
  bitnami/grafana-mimir/templates/query-frontend/deployment.yaml
  bitnami/grafana-mimir/templates/query-frontend/headless-service.yaml
  bitnami/grafana-mimir/templates/query-frontend/pdb.yaml
  bitnami/grafana-mimir/templates/query-frontend/service.yaml
  bitnami/grafana-mimir/templates/query-frontend/servicemonitor.yaml
  bitnami/grafana-mimir/templates/query-scheduler/deployment.yaml
  bitnami/grafana-mimir/templates/query-scheduler/headless-service.yaml
  bitnami/grafana-mimir/templates/query-scheduler/pdb.yaml
  bitnami/grafana-mimir/templates/query-scheduler/service.yaml
  bitnami/grafana-mimir/templates/query-scheduler/servicemonitor.yaml
  bitnami/grafana-mimir/templates/ruler/deployment.yaml
  bitnami/grafana-mimir/templates/ruler/pdb.yaml
  bitnami/grafana-mimir/templates/ruler/service.yaml
  bitnami/grafana-mimir/templates/ruler/servicemonitor.yaml
  bitnami/grafana-mimir/templates/service-account.yaml
  bitnami/grafana-mimir/templates/store-gateway/headless-service.yaml
  bitnami/grafana-mimir/templates/store-gateway/pdb.yaml
  bitnami/grafana-mimir/templates/store-gateway/service.yaml
  bitnami/grafana-mimir/templates/store-gateway/servicemonitor.yaml
  bitnami/grafana-mimir/templates/store-gateway/statefulset.yaml
Labels: verify, bitnami, grafana-mimir

#19039 [bitnami/fluentd]: Use merge helper
  bitnami/fluentd/Chart.lock
  bitnami/fluentd/Chart.yaml
  bitnami/fluentd/templates/aggregator-hpa.yaml
  bitnami/fluentd/templates/aggregator-statefulset.yaml
  bitnami/fluentd/templates/aggregator-svc-headless.yaml
  bitnami/fluentd/templates/aggregator-svc.yaml
  bitnami/fluentd/templates/forwarder-daemonset.yaml
  bitnami/fluentd/templates/forwarder-svc.yaml
  bitnami/fluentd/templates/ingress.yaml
  bitnami/fluentd/templates/metrics-svc.yaml
  bitnami/fluentd/templates/serviceaccount.yaml
  bitnami/fluentd/templates/servicemonitor.yaml
Labels: verify, bitnami, fluentd

#19035 [bitnami/etcd]: Use merge helper
  bitnami/etcd/Chart.yaml
  bitnami/etcd/templates/networkpolicy.yaml
  bitnami/etcd/templates/pdb.yaml
  bitnami/etcd/templates/podmonitor.yaml
  bitnami/etcd/templates/serviceaccount.yaml
  bitnami/etcd/templates/statefulset.yaml
  bitnami/etcd/templates/svc-headless.yaml
  bitnami/etcd/templates/svc.yaml
Labels: verify, bitnami, etcd

#19019 [bitnami/apache]: Use merge helper
  bitnami/apache/Chart.lock
  bitnami/apache/Chart.yaml
  bitnami/apache/templates/deployment.yaml
  bitnami/apache/templates/ingress.yaml
  bitnami/apache/templates/metrics-svc.yaml
  bitnami/apache/templates/pdb.yaml
  bitnami/apache/templates/prometheusrules.yaml
  bitnami/apache/templates/servicemonitor.yaml
  bitnami/apache/templates/svc.yaml
Labels: verify, apache, bitnami

#19036 [bitnami/external-dns]: Use merge helper
  bitnami/external-dns/Chart.yaml
  bitnami/external-dns/templates/dep-ds.yaml
  bitnami/external-dns/templates/pdb.yaml
  bitnami/external-dns/templates/podmonitor.yaml
  bitnami/external-dns/templates/secret.yaml
  bitnami/external-dns/templates/service.yaml
  bitnami/external-dns/templates/serviceaccount.yaml
  bitnami/external-dns/templates/servicemonitor.yaml
Labels: verify, bitnami, external-dns

#19192 [bitnami/contour]: Fix typo in goss tests
  .vib/contour/goss/goss.yaml
Labels: verify, contour, bitnami

#19040 [bitnami/flux]: Use merge helper
  bitnami/flux/Chart.lock
  bitnami/flux/Chart.yaml
  bitnami/flux/templates/helm-controller/deployment.yaml
  bitnami/flux/templates/helm-controller/pdb.yaml
  bitnami/flux/templates/helm-controller/service-account.yaml
  bitnami/flux/templates/helm-controller/service-metrics.yaml
  bitnami/flux/templates/helm-controller/servicemonitor.yaml
  bitnami/flux/templates/image-automation-controller/deployment.yaml
  bitnami/flux/templates/image-automation-controller/pdb.yaml
  bitnami/flux/templates/image-automation-controller/service-account.yaml
  bitnami/flux/templates/image-automation-controller/service-metrics.yaml
  bitnami/flux/templates/image-automation-controller/servicemonitor.yaml
  bitnami/flux/templates/image-reflector-controller/deployment.yaml
  bitnami/flux/templates/image-reflector-controller/pdb.yaml
  bitnami/flux/templates/image-reflector-controller/pvc.yaml
  bitnami/flux/templates/image-reflector-controller/service-account.yaml
  bitnami/flux/templates/image-reflector-controller/service-metrics.yaml
  bitnami/flux/templates/image-reflector-controller/servicemonitor.yaml
  bitnami/flux/templates/kustomize-controller/deployment.yaml
  bitnami/flux/templates/kustomize-controller/pdb.yaml
  bitnami/flux/templates/kustomize-controller/service-account.yaml
  bitnami/flux/templates/kustomize-controller/service-metrics.yaml
  bitnami/flux/templates/kustomize-controller/servicemonitor.yaml
  bitnami/flux/templates/notification-controller/deployment.yaml
  bitnami/flux/templates/notification-controller/pdb.yaml
  bitnami/flux/templates/notification-controller/service-account.yaml
  bitnami/flux/templates/notification-controller/service-metrics.yaml
  bitnami/flux/templates/notification-controller/servicemonitor.yaml
  bitnami/flux/templates/source-controller/deployment.yaml
  bitnami/flux/templates/source-controller/networkpolicy.yaml
  bitnami/flux/templates/source-controller/pdb.yaml
  bitnami/flux/templates/source-controller/pvc.yaml
  bitnami/flux/templates/source-controller/service-account.yaml
  bitnami/flux/templates/source-controller/service-metrics.yaml
  bitnami/flux/templates/source-controller/service.yaml
  bitnami/flux/templates/source-controller/servicemonitor.yaml
Labels: verify, bitnami, flux

#19041 [bitnami/ghost]: Use merge helper
  bitnami/ghost/Chart.lock
  bitnami/ghost/Chart.yaml
  bitnami/ghost/templates/deployment.yaml
  bitnami/ghost/templates/ingress.yaml
  bitnami/ghost/templates/networkpolicy-backend-ingress.yaml
  bitnami/ghost/templates/networkpolicy-ingress.yaml
  bitnami/ghost/templates/pvc.yaml
  bitnami/ghost/templates/service-account.yaml
  bitnami/ghost/templates/svc.yaml
Labels: verify, bitnami, ghost

#19118 [bitnami/zookeeper]: Use merge helper
  .vib/zookeeper/ginkgo/zookeeper_suite_test.go
  bitnami/zookeeper/Chart.lock
  bitnami/zookeeper/Chart.yaml
  bitnami/zookeeper/templates/metrics-svc.yaml
  bitnami/zookeeper/templates/networkpolicy.yaml
  bitnami/zookeeper/templates/pdb.yaml
  bitnami/zookeeper/templates/serviceaccount.yaml
  bitnami/zookeeper/templates/statefulset.yaml
  bitnami/zookeeper/templates/svc-headless.yaml
  bitnami/zookeeper/templates/svc.yaml
Labels: verify, bitnami, zookeeper

#19031 [bitnami/dokuwiki]: Use merge helper
  bitnami/dokuwiki/Chart.lock
  bitnami/dokuwiki/Chart.yaml
  bitnami/dokuwiki/templates/deployment.yaml
  bitnami/dokuwiki/templates/dokuwiki-pvc.yaml
  bitnami/dokuwiki/templates/ingress.yaml
  bitnami/dokuwiki/templates/svc.yaml
Labels: verify, bitnami, dokuwiki

#19177 [bitnami/common]: Compatiblity with Helm 3.2.0+
  bitnami/common/Chart.yaml
  bitnami/common/templates/_labels.tpl
Labels: bitnami, common

#19094 [bitnami/postgresql-ha]: Use merge helper
  bitnami/postgresql-ha/Chart.lock
  bitnami/postgresql-ha/Chart.yaml
  bitnami/postgresql-ha/templates/networkpolicy-egress.yaml
  bitnami/postgresql-ha/templates/networkpolicy-ingress.yaml
  bitnami/postgresql-ha/templates/pgpool/deployment.yaml
  bitnami/postgresql-ha/templates/pgpool/pdb.yaml
  bitnami/postgresql-ha/templates/pgpool/service.yaml
  bitnami/postgresql-ha/templates/postgresql/metrics-service.yaml
  bitnami/postgresql-ha/templates/postgresql/pdb.yaml
  bitnami/postgresql-ha/templates/postgresql/service-headless.yaml
  bitnami/postgresql-ha/templates/postgresql/service-witness.yaml
  bitnami/postgresql-ha/templates/postgresql/service.yaml
  bitnami/postgresql-ha/templates/postgresql/servicemonitor.yaml
  bitnami/postgresql-ha/templates/postgresql/statefulset.yaml
  bitnami/postgresql-ha/templates/postgresql/witness-statefulset.yaml
  bitnami/postgresql-ha/templates/serviceaccount.yaml
Labels: verify, bitnami, postgresql-ha

#19111 [bitnami/supabase]: Use merge helper
  bitnami/supabase/Chart.lock
  bitnami/supabase/Chart.yaml
  bitnami/supabase/templates/auth/deployment.yaml
  bitnami/supabase/templates/auth/service.yaml
  bitnami/supabase/templates/jwt-init-job.yaml
  bitnami/supabase/templates/meta/deployment.yaml
  bitnami/supabase/templates/meta/service.yaml
  bitnami/supabase/templates/realtime/deployment.yaml
  bitnami/supabase/templates/realtime/service.yaml
  bitnami/supabase/templates/rest/deployment.yaml
  bitnami/supabase/templates/rest/service.yaml
  bitnami/supabase/templates/service-account.yaml
  bitnami/supabase/templates/storage/deployment.yaml
  bitnami/supabase/templates/storage/pvc.yaml
  bitnami/supabase/templates/storage/service.yaml
  bitnami/supabase/templates/studio/deployment.yaml
  bitnami/supabase/templates/studio/ingress.yaml
  bitnami/supabase/templates/studio/service.yaml
Labels: verify, bitnami, supabase

#19091 [bitnami/phpmyadmin]: Use merge helper
  bitnami/phpmyadmin/Chart.lock
  bitnami/phpmyadmin/Chart.yaml
  bitnami/phpmyadmin/templates/deployment.yaml
  bitnami/phpmyadmin/templates/ingress.yaml
  bitnami/phpmyadmin/templates/metrics-svc.yaml
  bitnami/phpmyadmin/templates/networkpolicy-backend-ingress.yaml
  bitnami/phpmyadmin/templates/networkpolicy-ingress.yaml
  bitnami/phpmyadmin/templates/service.yaml
  bitnami/phpmyadmin/templates/serviceaccount.yaml
  bitnami/phpmyadmin/templates/servicemonitor.yaml
Labels: verify, bitnami, phpmyadmin

#19064 [bitnami/magento]: Use merge helper
  bitnami/magento/Chart.lock
  bitnami/magento/Chart.yaml
  bitnami/magento/templates/deployment.yaml
  bitnami/magento/templates/ingress.yaml
  bitnami/magento/templates/metrics-svc.yaml
  bitnami/magento/templates/networkpolicy-backend-ingress.yaml
  bitnami/magento/templates/networkpolicy-ingress.yaml
  bitnami/magento/templates/pv.yaml
  bitnami/magento/templates/pvc.yaml
  bitnami/magento/templates/svc.yaml
Labels: verify, magento, bitnami

#19054 [bitnami/joomla]: Use merge helper
  bitnami/joomla/Chart.lock
  bitnami/joomla/Chart.yaml
  bitnami/joomla/templates/deployment.yaml
  bitnami/joomla/templates/ingress.yaml
  bitnami/joomla/templates/joomla-pvc.yaml
  bitnami/joomla/templates/networkpolicy-backend-ingress.yaml
  bitnami/joomla/templates/networkpolicy-ingress.yaml
  bitnami/joomla/templates/svc.yaml
Labels: verify, bitnami, joomla

#19053 [bitnami/jenkins]: Use merge helper
  bitnami/jenkins/Chart.lock
  bitnami/jenkins/Chart.yaml
  bitnami/jenkins/templates/agent-listener-svc.yaml
  bitnami/jenkins/templates/controller-svc.yaml
  bitnami/jenkins/templates/deployment.yaml
  bitnami/jenkins/templates/ingress.yaml
  bitnami/jenkins/templates/pvc.yaml
  bitnami/jenkins/templates/serviceaccount.yaml
Labels: verify, jenkins, bitnami

#19049 [bitnami/harbor]: Use merge helper
  bitnami/harbor/Chart.lock
  bitnami/harbor/Chart.yaml
  bitnami/harbor/templates/core/core-dpl.yaml
  bitnami/harbor/templates/core/core-svc.yaml
  bitnami/harbor/templates/exporter/exporter-dpl.yaml
  bitnami/harbor/templates/exporter/exporter-svc.yaml
  bitnami/harbor/templates/ingress/core-ingress.yaml
  bitnami/harbor/templates/ingress/notary-ingress.yaml
  bitnami/harbor/templates/jobservice/jobservice-dpl.yaml
  bitnami/harbor/templates/jobservice/jobservice-pvc.yaml
  bitnami/harbor/templates/jobservice/jobservice-scandata-pvc.yaml
  bitnami/harbor/templates/jobservice/jobservice-svc.yaml
  bitnami/harbor/templates/metrics/metrics-svcmonitor.yaml
  bitnami/harbor/templates/nginx/deployment.yaml
  bitnami/harbor/templates/nginx/service.yaml
  bitnami/harbor/templates/notary/notary-server.yaml
  bitnami/harbor/templates/notary/notary-signer.yaml
  bitnami/harbor/templates/notary/notary-svc.yaml
  bitnami/harbor/templates/portal/portal-dpl.yaml
  bitnami/harbor/templates/portal/portal-svc.yaml
  bitnami/harbor/templates/registry/registry-dpl.yaml
  bitnami/harbor/templates/registry/registry-pvc.yaml
  bitnami/harbor/templates/registry/registry-svc.yaml
  bitnami/harbor/templates/trivy/trivy-sts.yaml
  bitnami/harbor/templates/trivy/trivy-svc.yaml
Labels: verify, bitnami, harbor

#19026 [bitnami/cert-manager]: Use merge helper
  bitnami/cert-manager/Chart.lock
  bitnami/cert-manager/Chart.yaml
  bitnami/cert-manager/templates/cainjector/deployment.yaml
  bitnami/cert-manager/templates/cainjector/serviceaccount.yaml
  bitnami/cert-manager/templates/controller/deployment.yaml
  bitnami/cert-manager/templates/controller/service.yaml
  bitnami/cert-manager/templates/controller/serviceaccount.yaml
  bitnami/cert-manager/templates/controller/servicemonitor.yaml
  bitnami/cert-manager/templates/webhook/deployment.yaml
  bitnami/cert-manager/templates/webhook/service.yaml
  bitnami/cert-manager/templates/webhook/serviceaccount.yaml
Labels: verify, bitnami, cert-manager

#19020 [bitnami/apisix]: Use merge helper
  bitnami/apisix/Chart.lock
  bitnami/apisix/Chart.yaml
  bitnami/apisix/templates/control-plane/dep-ds.yaml
  bitnami/apisix/templates/control-plane/ingress.yaml
  bitnami/apisix/templates/control-plane/pdb.yaml
  bitnami/apisix/templates/control-plane/service-account.yaml
  bitnami/apisix/templates/control-plane/service.yaml
  bitnami/apisix/templates/control-plane/servicemonitor.yaml
  bitnami/apisix/templates/control-plane/vpa.yaml
  bitnami/apisix/templates/dashboard/deployment.yaml
  bitnami/apisix/templates/dashboard/ingress.yaml
  bitnami/apisix/templates/dashboard/pdb.yaml
  bitnami/apisix/templates/dashboard/service-account.yaml
  bitnami/apisix/templates/dashboard/service.yaml
  bitnami/apisix/templates/dashboard/vpa.yaml
  bitnami/apisix/templates/data-plane/dep-ds.yaml
  bitnami/apisix/templates/data-plane/ingress.yaml
  bitnami/apisix/templates/data-plane/pdb.yaml
  bitnami/apisix/templates/data-plane/service-account.yaml
  bitnami/apisix/templates/data-plane/service.yaml
  bitnami/apisix/templates/data-plane/servicemonitor.yaml
  bitnami/apisix/templates/data-plane/vpa.yaml
  bitnami/apisix/templates/ingress-controller/deployment.yaml
  bitnami/apisix/templates/ingress-controller/ingress.yaml
  bitnami/apisix/templates/ingress-controller/pdb.yaml
  bitnami/apisix/templates/ingress-controller/service-account.yaml
  bitnami/apisix/templates/ingress-controller/service.yaml
  bitnami/apisix/templates/ingress-controller/servicemonitor.yaml
  bitnami/apisix/templates/ingress-controller/vpa.yaml
Labels: verify, bitnami, apisix

#19057 [bitnami/kibana]: Use merge helper
  bitnami/kibana/Chart.yaml
  bitnami/kibana/templates/deployment.yaml
  bitnami/kibana/templates/ingress.yaml
  bitnami/kibana/templates/pvc.yaml
  bitnami/kibana/templates/service.yaml
  bitnami/kibana/templates/serviceaccount.yaml
  bitnami/kibana/templates/servicemonitor.yaml
Labels: verify, bitnami, kibana

#19170 [bitnami/node-exporter]: Use merge helper
  bitnami/node-exporter/Chart.lock
  bitnami/node-exporter/Chart.yaml
  bitnami/node-exporter/templates/daemonset.yaml
  bitnami/node-exporter/templates/service.yaml
  bitnami/node-exporter/templates/serviceaccount.yaml
  bitnami/node-exporter/templates/servicemonitor.yaml
Labels: verify, bitnami, node-exporter

#19084 [bitnami/odoo]: Use merge helper
  bitnami/odoo/Chart.yaml
  bitnami/odoo/templates/deployment.yaml
  bitnami/odoo/templates/ingress.yaml
  bitnami/odoo/templates/networkpolicy-backend-ingress.yaml
  bitnami/odoo/templates/networkpolicy-ingress.yaml
  bitnami/odoo/templates/pdb.yaml
  bitnami/odoo/templates/pvc.yaml
  bitnami/odoo/templates/serviceaccount.yaml
  bitnami/odoo/templates/svc.yaml
Labels: verify, odoo, bitnami

#19216 feat: bitnami/external-dns: Support for Azure workload Identity
  bitnami/external-dns/Chart.yaml
  bitnami/external-dns/README.md
  bitnami/external-dns/templates/_helpers.tpl
  bitnami/external-dns/templates/dep-ds.yaml
  bitnami/external-dns/values.yaml
Labels: verify, in-progress, external-dns

#19189 [bitnami/redis-cluster] Use single line for snapshotting config
  bitnami/redis-cluster/Chart.yaml
  bitnami/redis-cluster/templates/configmap.yaml
Labels: verify, in-progress, redis-cluster

#19015 [bitnami/etcd] Adding seccompProfile in etcd
  bitnami/etcd/Chart.yaml
  bitnami/etcd/README.md
  bitnami/etcd/values.yaml
Labels: verify, in-progress, etcd

#19033 [bitnami/ejbca]: Use merge helper
  bitnami/ejbca/Chart.lock
  bitnami/ejbca/Chart.yaml
  bitnami/ejbca/templates/deployment.yaml
  bitnami/ejbca/templates/ingress.yaml
  bitnami/ejbca/templates/networkpolicy-backend-ingress.yaml
  bitnami/ejbca/templates/networkpolicy-ingress.yaml
  bitnami/ejbca/templates/pvc.yaml
  bitnami/ejbca/templates/svc.yaml
Labels: verify, bitnami, ejbca

#19062 [bitnami/clickhouse]: Use merge helper
  bitnami/clickhouse/Chart.yaml
  bitnami/clickhouse/templates/ingress.yaml
  bitnami/clickhouse/templates/service-account.yaml
  bitnami/clickhouse/templates/service-external-access.yaml
  bitnami/clickhouse/templates/service-headless.yaml
  bitnami/clickhouse/templates/service.yaml
  bitnami/clickhouse/templates/servicemonitor.yaml
  bitnami/clickhouse/templates/statefulset.yaml
Labels: verify, bitnami, clickhouse

#19072 [bitnami/metrics-server]: Use merge helper
  bitnami/metrics-server/Chart.lock
  bitnami/metrics-server/Chart.yaml
  bitnami/metrics-server/templates/deployment.yaml
  bitnami/metrics-server/templates/pdb.yaml
  bitnami/metrics-server/templates/serviceaccount.yaml
  bitnami/metrics-server/templates/svc.yaml
Labels: verify, bitnami, metrics-server

#19078 [bitnami/mysql]: Use merge helper
  bitnami/mysql/Chart.lock
  bitnami/mysql/Chart.yaml
  bitnami/mysql/templates/metrics-svc.yaml
  bitnami/mysql/templates/primary/pdb.yaml
  bitnami/mysql/templates/primary/statefulset.yaml
  bitnami/mysql/templates/primary/svc-headless.yaml
  bitnami/mysql/templates/primary/svc.yaml
  bitnami/mysql/templates/secondary/pdb.yaml
  bitnami/mysql/templates/secondary/statefulset.yaml
  bitnami/mysql/templates/secondary/svc-headless.yaml
  bitnami/mysql/templates/secondary/svc.yaml
  bitnami/mysql/templates/serviceaccount.yaml
  bitnami/mysql/templates/servicemonitor.yaml
Labels: verify, bitnami, mysql

#19047 [bitnami/grafana-tempo]: Use merge helper
  bitnami/grafana-tempo/Chart.lock
  bitnami/grafana-tempo/Chart.yaml
  bitnami/grafana-tempo/templates/compactor/deployment.yaml
  bitnami/grafana-tempo/templates/compactor/service.yaml
  bitnami/grafana-tempo/templates/compactor/servicemonitor.yaml
  bitnami/grafana-tempo/templates/distributor/deployment.yaml
  bitnami/grafana-tempo/templates/distributor/service.yaml
  bitnami/grafana-tempo/templates/distributor/servicemonitor.yaml
  bitnami/grafana-tempo/templates/gossip-ring-headless-service.yaml
  bitnami/grafana-tempo/templates/ingester/service.yaml
  bitnami/grafana-tempo/templates/ingester/servicemonitor.yaml
  bitnami/grafana-tempo/templates/ingester/statefulset.yaml
  bitnami/grafana-tempo/templates/metrics-generator/deployment.yaml
  bitnami/grafana-tempo/templates/metrics-generator/service.yaml
  bitnami/grafana-tempo/templates/metrics-generator/servicemonitor.yaml
  bitnami/grafana-tempo/templates/querier/deployment.yaml
  bitnami/grafana-tempo/templates/querier/service.yaml
  bitnami/grafana-tempo/templates/querier/servicemonitor.yaml
  bitnami/grafana-tempo/templates/query-frontend/deployment.yaml
  bitnami/grafana-tempo/templates/query-frontend/headless-service.yaml
  bitnami/grafana-tempo/templates/query-frontend/service.yaml
  bitnami/grafana-tempo/templates/query-frontend/servicemonitor.yaml
  bitnami/grafana-tempo/templates/service-account.yaml
  bitnami/grafana-tempo/templates/vulture/deployment.yaml
  bitnami/grafana-tempo/templates/vulture/service.yaml
  bitnami/grafana-tempo/templates/vulture/servicemonitor.yaml
Labels: verify, bitnami, grafana-tempo

#19226 [bitnami/fluentd] Fix some functions for using initScripts
  bitnami/fluentd/Chart.yaml
  bitnami/fluentd/templates/_helpers.tpl
  bitnami/fluentd/templates/aggregator-statefulset.yaml
  bitnami/fluentd/templates/forwarder-daemonset.yaml
Labels: bitnami, fluentd

#19236 [bitnami/clickhouse] Update dependencies
  bitnami/clickhouse/Chart.lock
  bitnami/clickhouse/Chart.yaml
Labels: verify, bitnami, clickhouse

#19223 [bitnami/common] New helper to return image version
  bitnami/common/Chart.yaml
  bitnami/common/templates/_images.tpl
Labels: verify, bitnami, common

#19234 [bitnami/mongodb-sharded] test: :construction_worker: Set serial verification
  .vib/mongodb-sharded/vib-action.config
  bitnami/mongodb-sharded/Chart.yaml
Labels: verify, bitnami, mongodb-sharded

#19086 [bitnami/opensearch]: Use merge helper
  .vib/opensearch/ginkgo/opensearch_suite_test.go
  bitnami/opensearch/Chart.lock
  bitnami/opensearch/Chart.yaml
  bitnami/opensearch/templates/coordinating/networkpolicy.yaml
  bitnami/opensearch/templates/coordinating/pdb.yaml
  bitnami/opensearch/templates/coordinating/serviceaccount.yaml
  bitnami/opensearch/templates/coordinating/statefulset.yaml
  bitnami/opensearch/templates/coordinating/svc-headless.yaml
  bitnami/opensearch/templates/coordinating/vpa.yaml
  bitnami/opensearch/templates/dashboards/deployment.yaml
  bitnami/opensearch/templates/dashboards/networkpolicy.yaml
  bitnami/opensearch/templates/dashboards/pdb.yaml
  bitnami/opensearch/templates/dashboards/service.yaml
  bitnami/opensearch/templates/dashboards/serviceaccount.yaml
  bitnami/opensearch/templates/dashboards/vpa.yaml
  bitnami/opensearch/templates/data/networkpolicy.yaml
  bitnami/opensearch/templates/data/pdb.yaml
  bitnami/opensearch/templates/data/serviceaccount.yaml
  bitnami/opensearch/templates/data/statefulset.yaml
  bitnami/opensearch/templates/data/svc-headless.yaml
  bitnami/opensearch/templates/data/vpa.yaml
  bitnami/opensearch/templates/ingest/ingress.yaml
  bitnami/opensearch/templates/ingest/networkpolicy.yaml
  bitnami/opensearch/templates/ingest/pdb.yaml
  bitnami/opensearch/templates/ingest/service.yaml
  bitnami/opensearch/templates/ingest/serviceaccount.yaml
  bitnami/opensearch/templates/ingest/statefulset.yaml
  bitnami/opensearch/templates/ingest/svc-headless.yaml
  bitnami/opensearch/templates/ingest/vpa.yaml
  bitnami/opensearch/templates/ingress.yaml
  bitnami/opensearch/templates/master/networkpolicy.yaml
  bitnami/opensearch/templates/master/pdb.yaml
  bitnami/opensearch/templates/master/serviceaccount.yaml
  bitnami/opensearch/templates/master/statefulset.yaml
  bitnami/opensearch/templates/master/svc-headless.yaml
  bitnami/opensearch/templates/master/vpa.yaml
  bitnami/opensearch/templates/service.yaml
Labels: verify, bitnami, opensearch

#19025 [bitnami/cassandra]: Use merge helper
  .vib/cassandra/ginkgo/cassandra_suite_test.go
  bitnami/cassandra/Chart.lock
  bitnami/cassandra/Chart.yaml
  bitnami/cassandra/templates/headless-svc.yaml
  bitnami/cassandra/templates/networkpolicy.yaml
  bitnami/cassandra/templates/pdb.yaml
  bitnami/cassandra/templates/service.yaml
  bitnami/cassandra/templates/serviceaccount.yaml
  bitnami/cassandra/templates/servicemonitor.yaml
  bitnami/cassandra/templates/statefulset.yaml
Labels: verify, bitnami, cassandra

#19218 [bitnami/ghost] fix #19217 to allow fullnameOverride on mysql
  bitnami/ghost/Chart.yaml
  bitnami/ghost/templates/_helpers.tpl
Labels: verify, in-progress, ghost

#19187 [bitnami/clickhouse] fix: typo for ClickHouse chart
  bitnami/clickhouse/Chart.yaml
  bitnami/clickhouse/README.md
  bitnami/clickhouse/values.yaml
Labels: verify, in-progress, clickhouse

#19259 [template] typofix
  template/CHART_NAME/templates/daemonset.yaml
  template/CHART_NAME/templates/deployment.yaml
  template/CHART_NAME/templates/ingress.yaml
  template/CHART_NAME/templates/pdb.yaml
  template/CHART_NAME/templates/pvc.yaml
  template/CHART_NAME/templates/service-account.yaml
  template/CHART_NAME/templates/service.yaml
  template/CHART_NAME/templates/servicemonitor.yaml
  template/CHART_NAME/templates/statefulset.yaml
Labels: triage

#19168 [bitnami/external-dns] Add support for traefik ingressroutes in clust…
  bitnami/external-dns/Chart.yaml
  bitnami/external-dns/templates/clusterrole.yaml
Labels: verify, in-progress, external-dns

#19263 [bitnami/magento] Fix magentoHost when using Ingress #19262
  bitnami/magento/Chart.yaml
  bitnami/magento/README.md
  bitnami/magento/templates/_helpers.tpl
  bitnami/magento/values.yaml
Labels: verify, magento, bitnami

#19190 [bitnami/external-dns] Support dynamodb registry
  bitnami/external-dns/Chart.yaml
  bitnami/external-dns/README.md
  bitnami/external-dns/templates/dep-ds.yaml
  bitnami/external-dns/values.yaml
Labels: verify, in-progress, external-dns

#19221 [bitnami/redis-cluster] Allow set Helm/ArgoCD hook for updateJob
  bitnami/redis-cluster/Chart.yaml
  bitnami/redis-cluster/README.md
  bitnami/redis-cluster/templates/update-cluster.yaml
  bitnami/redis-cluster/values.yaml
Labels: verify, in-progress, redis-cluster

#19275 [grafana-mimir] Increment cluster size for testing Grafana Mimir in VIB
  .vib/grafana-mimir/vib-publish.json
  .vib/grafana-mimir/vib-verify.json
Labels: verify, bitnami

#19272 [bitnami/mongodb] enable backup with auth: {enabled: false}
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/templates/backup/cronjob.yaml
Labels: verify, in-progress, mongodb

#19281 [bitnami/postgresql] Fix global secretkeys usage
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/templates/secrets.yaml
Labels: verify, postgresql, bitnami

#17201 Common - Adding app.kubernetes.io/version to common labels
  bitnami/common/Chart.yaml
  bitnami/common/templates/_labels.tpl
Labels: verify, in-progress, common

#19214 [bitnami/mastodon] Add `ProxyPreserveHost on` and remove duplicated `VirtualHost` in apache-configmap.yaml
  bitnami/mastodon/Chart.yaml
  bitnami/mastodon/templates/apache-configmap.yaml
Labels: verify, in-progress, mastodon

#19120 [bitnami/keycloak]: Use merge helper
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/templates/headless-service.yaml
  bitnami/keycloak/templates/ingress.yaml
  bitnami/keycloak/templates/keycloak-config-cli-job.yaml
  bitnami/keycloak/templates/metrics-service.yaml
  bitnami/keycloak/templates/networkpolicy.yaml
  bitnami/keycloak/templates/pdb.yaml
  bitnami/keycloak/templates/prometheusrule.yaml
  bitnami/keycloak/templates/service.yaml
  bitnami/keycloak/templates/serviceaccount.yaml
  bitnami/keycloak/templates/servicemonitor.yaml
  bitnami/keycloak/templates/statefulset.yaml
Labels: verify, keycloak, bitnami

#19293 [bitnami/mongodb-sharded] test: :white_check_mark: Bump timeouts
  .vib/mongodb-sharded/ginkgo/mongodb_suite_test.go
  bitnami/mongodb-sharded/Chart.yaml
Labels: verify, bitnami, mongodb-sharded

#19276 [bitnami/matomo] wrong smtpAuth rendering
  bitnami/matomo/Chart.yaml
  bitnami/matomo/templates/deployment.yaml
Labels: verify, in-progress, matomo

#19286 [bitnami/thanos] Fix line break issue with serviceMonitor selector labels
  bitnami/thanos/Chart.yaml
  bitnami/thanos/templates/_helpers.tpl
Labels: verify, triage, thanos

#19324 [bitnami/airflow] Use different app.kubernetes.io/version label on subcomponents
  bitnami/airflow/Chart.lock
  bitnami/airflow/Chart.yaml
  bitnami/airflow/templates/metrics/deployment.yaml
  bitnami/airflow/templates/metrics/service.yaml
  bitnami/airflow/templates/metrics/servicemonitor.yaml
  bitnami/airflow/templates/scheduler/deployment.yaml
  bitnami/airflow/templates/scheduler/poddisruptionbudget.yaml
  bitnami/airflow/templates/scheduler/service-headless.yaml
  bitnami/airflow/templates/web/deployment.yaml
  bitnami/airflow/templates/web/poddisruptionbudget.yaml
  bitnami/airflow/templates/web/service.yaml
  bitnami/airflow/templates/worker/horizontalpodautoscaler.yaml
  bitnami/airflow/templates/worker/poddisruptionbudget.yaml
  bitnami/airflow/templates/worker/service-headless.yaml
  bitnami/airflow/templates/worker/statefulset.yaml
Labels: verify, airflow, bitnami

#19326 [bitnami/argo-cd] Use different app.kubernetes.io/version label on subcomponents
  bitnami/argo-cd/Chart.lock
  bitnami/argo-cd/Chart.yaml
  bitnami/argo-cd/templates/dex/deployment.yaml
  bitnami/argo-cd/templates/dex/metrics-svc.yaml
  bitnami/argo-cd/templates/dex/role.yaml
  bitnami/argo-cd/templates/dex/rolebinding.yaml
  bitnami/argo-cd/templates/dex/service-account.yaml
  bitnami/argo-cd/templates/dex/service.yaml
  bitnami/argo-cd/templates/dex/servicemonitor.yaml
Labels: verify, bitnami, argo-cd

#19328 [bitnami/cert-manager] Use different app.kubernetes.io/version label on subcomponents
  bitnami/cert-manager/Chart.lock
  bitnami/cert-manager/Chart.yaml
  bitnami/cert-manager/templates/cainjector/deployment.yaml
  bitnami/cert-manager/templates/cainjector/rbac.yaml
  bitnami/cert-manager/templates/cainjector/serviceaccount.yaml
  bitnami/cert-manager/templates/controller/deployment.yaml
  bitnami/cert-manager/templates/controller/rbac.yaml
  bitnami/cert-manager/templates/controller/service.yaml
  bitnami/cert-manager/templates/controller/serviceaccount.yaml
  bitnami/cert-manager/templates/controller/servicemonitor.yaml
  bitnami/cert-manager/templates/webhook/deployment.yaml
  bitnami/cert-manager/templates/webhook/mutating-webhook.yaml
  bitnami/cert-manager/templates/webhook/rbac.yaml
  bitnami/cert-manager/templates/webhook/service.yaml
  bitnami/cert-manager/templates/webhook/serviceaccount.yaml
  bitnami/cert-manager/templates/webhook/validating-webhook.yaml
Labels: verify, bitnami, cert-manager

#19329 [bitnami/contour] Use different app.kubernetes.io/version label on subcomponents
  bitnami/contour/Chart.lock
  bitnami/contour/Chart.yaml
  bitnami/contour/templates/certgen/job.yaml
  bitnami/contour/templates/certgen/rbac.yaml
  bitnami/contour/templates/certgen/serviceaccount.yaml
  bitnami/contour/templates/contour/configmap.yaml
  bitnami/contour/templates/contour/deployment.yaml
  bitnami/contour/templates/contour/ingressclass.yaml
  bitnami/contour/templates/contour/rbac.yaml
  bitnami/contour/templates/contour/service.yaml
  bitnami/contour/templates/contour/serviceaccount.yaml
  bitnami/contour/templates/contour/servicemonitor.yaml
  bitnami/contour/templates/default-backend/deployment.yaml
  bitnami/contour/templates/default-backend/ingress.yaml
  bitnami/contour/templates/default-backend/poddisruptionbudget.yaml
  bitnami/contour/templates/default-backend/service.yaml
  bitnami/contour/templates/default-backend/tls-secrets.yaml
  bitnami/contour/templates/envoy/daemonset.yaml
  bitnami/contour/templates/envoy/deployment.yaml
  bitnami/contour/templates/envoy/hpa.yaml
  bitnami/contour/templates/envoy/prometheusrule.yaml
  bitnami/contour/templates/envoy/service.yaml
  bitnami/contour/templates/envoy/serviceaccount.yaml
  bitnami/contour/templates/envoy/servicemonitor.yaml
Labels: verify, contour, bitnami

#19323 [bitnami/kube-state-metrics] Allow setting ServiceMonitor's sampleLimit
  bitnami/kube-state-metrics/Chart.yaml
  bitnami/kube-state-metrics/README.md
  bitnami/kube-state-metrics/templates/servicemonitor.yaml
  bitnami/kube-state-metrics/values.yaml
Labels: verify, in-progress, kube-state-metrics

#19344 [bitnami/metallb] Use different app.kubernetes.io/version label on subcomponents
  bitnami/metallb/Chart.lock
  bitnami/metallb/Chart.yaml
  bitnami/metallb/templates/speaker/daemonset.yaml
  bitnami/metallb/templates/speaker/psp.yaml
  bitnami/metallb/templates/speaker/rbac.yaml
  bitnami/metallb/templates/speaker/secret.yaml
  bitnami/metallb/templates/speaker/service.yaml
  bitnami/metallb/templates/speaker/serviceaccount.yaml
  bitnami/metallb/templates/speaker/servicemonitor.yaml
Labels: verify, bitnami, metallb

#19348 [bitnami/milvus] Use different app.kubernetes.io/version label on subcomponents
  bitnami/milvus/Chart.lock
  bitnami/milvus/Chart.yaml
  bitnami/milvus/templates/attu/deployment.yaml
  bitnami/milvus/templates/attu/hpa.yaml
  bitnami/milvus/templates/attu/ingress-tls-secret.yaml
  bitnami/milvus/templates/attu/ingress.yaml
  bitnami/milvus/templates/attu/networkpolicy.yaml
  bitnami/milvus/templates/attu/pdb.yaml
  bitnami/milvus/templates/attu/service-account.yaml
  bitnami/milvus/templates/attu/service.yaml
  bitnami/milvus/templates/attu/vpa.yaml
  bitnami/milvus/templates/init-job.yaml
Labels: verify, bitnami, milvus

#19277 [bitnami/*] Update readme files
  bitnami/apisix/README.md
  bitnami/appsmith/README.md
  bitnami/argo-cd/README.md
  bitnami/aspnet-core/README.md
  bitnami/clickhouse/README.md
  bitnami/concourse/README.md
  bitnami/consul/README.md
  bitnami/discourse/README.md
  bitnami/flux/README.md
  bitnami/gitea/README.md
  bitnami/jupyterhub/README.md
  bitnami/kubeapps/README.md
  bitnami/magento/README.md
  bitnami/mastodon/README.md
  bitnami/matomo/README.md
  bitnami/milvus/README.md
  bitnami/multus-cni/README.md
  bitnami/oauth2-proxy/README.md
  bitnami/osclass/README.md
  bitnami/phpmyadmin/README.md
  bitnami/pinniped/README.md
  bitnami/schema-registry/README.md
  bitnami/spring-cloud-dataflow/README.md
  bitnami/supabase/README.md
  bitnami/vault/README.md
  bitnami/whereabouts/README.md
  bitnami/wordpress/README.md
Labels: verify, bitnami

#19317 [bitnami/grafana] Allow loadBalancerClass in grafana service
  bitnami/grafana/Chart.lock
  bitnami/grafana/Chart.yaml
  bitnami/grafana/README.md
  bitnami/grafana/templates/service.yaml
  bitnami/grafana/values.yaml
Labels: verify, in-progress, grafana

#19349 [bitnami/nginx-ingress-controller] Use different app.kubernetes.io/version label on subcomponents
  bitnami/nginx-ingress-controller/Chart.yaml
  bitnami/nginx-ingress-controller/templates/default-backend-configmap.yaml
  bitnami/nginx-ingress-controller/templates/default-backend-deployment.yaml
  bitnami/nginx-ingress-controller/templates/default-backend-poddisruptionbudget.yaml
  bitnami/nginx-ingress-controller/templates/default-backend-service.yaml
Labels: verify, bitnami, nginx-ingress-controller

#19338 [bitnami/harbor] Use different app.kubernetes.io/version label on subcomponents
  bitnami/harbor/Chart.yaml
  bitnami/harbor/templates/core/core-cm-envvars.yaml
  bitnami/harbor/templates/core/core-cm.yaml
  bitnami/harbor/templates/core/core-config-override-secret.yaml
  bitnami/harbor/templates/core/core-dpl.yaml
  bitnami/harbor/templates/core/core-secret-envvars.yaml
  bitnami/harbor/templates/core/core-secret.yaml
  bitnami/harbor/templates/core/core-svc.yaml
  bitnami/harbor/templates/exporter/exporter-cm-envvars.yaml
  bitnami/harbor/templates/exporter/exporter-dpl.yaml
  bitnami/harbor/templates/exporter/exporter-secret-envvars.yaml
  bitnami/harbor/templates/exporter/exporter-svc.yaml
  bitnami/harbor/templates/jobservice/jobservice-cm-envvars.yaml
  bitnami/harbor/templates/jobservice/jobservice-config-secret.yaml
  bitnami/harbor/templates/jobservice/jobservice-dpl.yaml
  bitnami/harbor/templates/jobservice/jobservice-pvc.yaml
  bitnami/harbor/templates/jobservice/jobservice-scandata-pvc.yaml
  bitnami/harbor/templates/jobservice/jobservice-secret-envvars.yaml
  bitnami/harbor/templates/jobservice/jobservice-secrets.yaml
  bitnami/harbor/templates/jobservice/jobservice-svc.yaml
  bitnami/harbor/templates/nginx/configmap-http.yaml
  bitnami/harbor/templates/nginx/configmap-https.yaml
  bitnami/harbor/templates/nginx/deployment.yaml
  bitnami/harbor/templates/nginx/service.yaml
  bitnami/harbor/templates/nginx/tls-secret.yaml
  bitnami/harbor/templates/notary/notary-secret-envvars.yaml
  bitnami/harbor/templates/notary/notary-secret.yaml
  bitnami/harbor/templates/notary/notary-server.yaml
  bitnami/harbor/templates/notary/notary-signer.yaml
  bitnami/harbor/templates/notary/notary-svc.yaml
  bitnami/harbor/templates/portal/portal-cm.yaml
  bitnami/harbor/templates/portal/portal-dpl.yaml
  bitnami/harbor/templates/portal/portal-svc.yaml
  bitnami/harbor/templates/registry/registry-cm.yaml
  bitnami/harbor/templates/registry/registry-ctl-cm-envvars.yaml
  bitnami/harbor/templates/registry/registry-dpl.yaml
  bitnami/harbor/templates/registry/registry-pvc.yaml
  bitnami/harbor/templates/registry/registry-secret.yaml
  bitnami/harbor/templates/registry/registry-svc.yaml
  bitnami/harbor/templates/trivy/trivy-cm-envvars.yaml
  bitnami/harbor/templates/trivy/trivy-secret-envvars.yaml
  bitnami/harbor/templates/trivy/trivy-sts.yaml
  bitnami/harbor/templates/trivy/trivy-svc.yaml
Labels: verify, bitnami, harbor

#19331 [bitnami/grafana-loki] Use different app.kubernetes.io/version label on subcomponents
  bitnami/grafana-loki/Chart.lock
  bitnami/grafana-loki/Chart.yaml
  bitnami/grafana-loki/templates/compactor/deployment.yaml
  bitnami/grafana-loki/templates/compactor/pvc.yaml
  bitnami/grafana-loki/templates/compactor/service.yaml
  bitnami/grafana-loki/templates/compactor/servicemonitor.yaml
  bitnami/grafana-loki/templates/distributor/deployment.yaml
  bitnami/grafana-loki/templates/distributor/service.yaml
  bitnami/grafana-loki/templates/distributor/servicemonitor.yaml
  bitnami/grafana-loki/templates/gateway/configmap-http.yaml
  bitnami/grafana-loki/templates/gateway/deployment.yaml
  bitnami/grafana-loki/templates/gateway/ingress.yaml
  bitnami/grafana-loki/templates/gateway/secret.yaml
  bitnami/grafana-loki/templates/gateway/service.yaml
  bitnami/grafana-loki/templates/gateway/tls-secret.yaml
  bitnami/grafana-loki/templates/index-gateway/service.yaml
  bitnami/grafana-loki/templates/index-gateway/servicemonitor.yaml
  bitnami/grafana-loki/templates/index-gateway/statefulset.yaml
  bitnami/grafana-loki/templates/ingester/service.yaml
  bitnami/grafana-loki/templates/ingester/servicemonitor.yaml
  bitnami/grafana-loki/templates/ingester/statefulset.yaml
  bitnami/grafana-loki/templates/promtail/clusterrole.yaml
  bitnami/grafana-loki/templates/promtail/clusterrolebinding.yaml
  bitnami/grafana-loki/templates/promtail/daemonset.yaml
  bitnami/grafana-loki/templates/promtail/secret.yaml
  bitnami/grafana-loki/templates/promtail/service-account.yaml
  bitnami/grafana-loki/templates/promtail/service.yaml
  bitnami/grafana-loki/templates/promtail/servicemonitor.yaml
  bitnami/grafana-loki/templates/querier/service.yaml
  bitnami/grafana-loki/templates/querier/servicemonitor.yaml
  bitnami/grafana-loki/templates/querier/statefulset.yaml
  bitnami/grafana-loki/templates/query-frontend/deployment.yaml
  bitnami/grafana-loki/templates/query-frontend/headless-service.yaml
  bitnami/grafana-loki/templates/query-frontend/service.yaml
  bitnami/grafana-loki/templates/query-frontend/servicemonitor.yaml
  bitnami/grafana-loki/templates/query-scheduler/deployment.yaml
  bitnami/grafana-loki/templates/query-scheduler/service.yaml
  bitnami/grafana-loki/templates/ruler/service.yaml
  bitnami/grafana-loki/templates/ruler/servicemonitor.yaml
  bitnami/grafana-loki/templates/ruler/statefulset.yaml
  bitnami/grafana-loki/templates/table-manager/deployment.yaml
  bitnami/grafana-loki/templates/table-manager/service.yaml
  bitnami/grafana-loki/templates/table-manager/servicemonitor.yaml
Labels: verify, bitnami, grafana-loki
