Repository bitnami/charts, pull requests merged in 2023-02, with the labels that each got.

#14671 [bitnami/postgresql-ha] Service annotations (#14523)
  bitnami/postgresql-ha/Chart.yaml
  bitnami/postgresql-ha/README.md
  bitnami/postgresql-ha/templates/pgpool/service.yaml
  bitnami/postgresql-ha/templates/postgresql/service.yaml
  bitnami/postgresql-ha/values.yaml
Labels: verify, in-progress, postgresql-ha

#14632 [bitnami/kibana] Don't regenerate self-signed certs on upgrade
  bitnami/kibana/Chart.yaml
  bitnami/kibana/templates/tls-secret.yaml
Labels: verify, bitnami, kibana

#14674 [bitnami/thanos] fix prometheusRule additionalLabels specification
  bitnami/thanos/Chart.yaml
  bitnami/thanos/templates/alert-rule/absent_rules.yml
  bitnami/thanos/templates/alert-rule/compaction.yml
  bitnami/thanos/templates/alert-rule/query.yml
  bitnami/thanos/templates/alert-rule/receive.yml
  bitnami/thanos/templates/alert-rule/replicate.yml
  bitnami/thanos/templates/alert-rule/ruler.yml
  bitnami/thanos/templates/alert-rule/sidecar.yml
  bitnami/thanos/templates/alert-rule/store_gateway.yml
Labels: verify, in-progress, thanos

#14482 [bitnami/sonarqube] fix memory opts for jmx-exporter
  bitnami/sonarqube/Chart.yaml
  bitnami/sonarqube/templates/deployment.yaml
Labels: verify, in-progress, sonarqube

#14463 [bitnami/rabbitmq] Add ssl_options.password
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/README.md
  bitnami/rabbitmq/templates/_helpers.tpl
  bitnami/rabbitmq/values.yaml
Labels: verify, in-progress, rabbitmq

#14599 [bitnami/redis] Allow option to disable hostnames usage when configuring nodes
  bitnami/redis/Chart.yaml
  bitnami/redis/README.md
  bitnami/redis/templates/scripts-configmap.yaml
  bitnami/redis/values.yaml
Labels: verify, bitnami, redis

#14704 [bitnami/fluentd] Remove unnecessary checks during the tests that depend on the underlying platform
  .vib/fluentd/goss/goss.yaml
Labels: verify, bitnami

#14622 [bitnami/gitea] Don't regenerate self-signed certs on upgrade
  bitnami/gitea/Chart.yaml
  bitnami/gitea/templates/tls-secrets.yaml
Labels: verify, bitnami, gitea

#14625 [bitnami/harbor] Don't regenerate self-signed certs on upgrade
  bitnami/harbor/Chart.yaml
  bitnami/harbor/templates/ingress/tls-secret.yaml
  bitnami/harbor/templates/internal/internal-crt-secret.yaml
  bitnami/harbor/templates/nginx/tls-secret.yaml
  bitnami/harbor/templates/notary/notary-secret.yaml
Labels: verify, bitnami, harbor

#14652 [bitnami/postgresql-ha] Don't regenerate self-signed certs on upgrade
  bitnami/postgresql-ha/Chart.yaml
  bitnami/postgresql-ha/templates/tls-secrets.yaml
Labels: verify, bitnami, postgresql-ha

#14685 [bitnami/kiam] Hotfix kiam certificates
  bitnami/kiam/Chart.yaml
  bitnami/kiam/templates/_helpers.tpl
  bitnami/kiam/templates/agent/agent-secret.yaml
  bitnami/kiam/templates/server/server-secret.yaml
Labels: verify, bitnami, kiam

#14649 [bitnami/phpmyadmin] Don't regenerate self-signed certs on upgrade
  bitnami/phpmyadmin/Chart.yaml
  bitnami/phpmyadmin/templates/tls-secrets.yaml
Labels: verify, bitnami, phpmyadmin

#14723 [bitnami/*] Update Ginkgo tests to version 2.7.0
  .vib/cert-manager/ginkgo/go.mod
  .vib/cert-manager/ginkgo/go.sum
  .vib/contour-operator/ginkgo/go.mod
  .vib/contour-operator/ginkgo/go.sum
  .vib/contour/ginkgo/go.mod
  .vib/contour/ginkgo/go.sum
  .vib/grafana-tempo/ginkgo/go.mod
  .vib/grafana-tempo/ginkgo/go.sum
  .vib/kubernetes-event-exporter/ginkgo/go.mod
  .vib/kubernetes-event-exporter/ginkgo/go.sum
  .vib/metallb/ginkgo/go.mod
  .vib/metallb/ginkgo/go.sum
  .vib/nginx-ingress-controller/ginkgo/go.mod
  .vib/nginx-ingress-controller/ginkgo/go.sum
  .vib/pinniped/ginkgo/go.mod
  .vib/pinniped/ginkgo/go.sum
  .vib/sealed-secrets/ginkgo/go.mod
  .vib/sealed-secrets/ginkgo/go.sum
  .vib/wavefront-hpa-adapter/ginkgo/go.mod
  .vib/wavefront-hpa-adapter/ginkgo/go.sum
  .vib/wavefront-prometheus-storage-adapter/ginkgo/go.mod
  .vib/wavefront-prometheus-storage-adapter/ginkgo/go.sum
  .vib/wavefront/ginkgo/go.mod
  .vib/wavefront/ginkgo/go.sum
Labels: verify, bitnami

#14648 [bitnami/parse] Don't regenerate self-signed certs on upgrade
  bitnami/parse/Chart.yaml
  bitnami/parse/templates/tls-secret.yaml
Labels: verify, bitnami, parse

#14653 [bitnami/rabbitmq] Don't regenerate self-signed certs on upgrade
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/templates/ingress.yaml
  bitnami/rabbitmq/templates/tls-secrets.yaml
  bitnami/rabbitmq/values.yaml
Labels: verify, bitnami, rabbitmq

#14217 [bitnami/thanos] Update README
  bitnami/thanos/README.md
Labels: in-progress, thanos

#14635 [bitnami/kubeapps] Don't regenerate self-signed certs on upgrade
  .vib/kubeapps/goss/goss.yaml
  bitnami/kubeapps/Chart.yaml
  bitnami/kubeapps/templates/tls-secrets.yaml
Labels: verify, bitnami, kubeapps

#14655 [bitnami/redis] Don't regenerate self-signed certs on upgrade
  .vib/redis/vib-publish.json
  .vib/redis/vib-verify.json
  bitnami/redis/Chart.yaml
  bitnami/redis/templates/tls-secret.yaml
Labels: verify, bitnami, redis

#14719 [bitnami/rabbitmq] Add Possibility to set tcpListenOptions
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/README.md
  bitnami/rabbitmq/values.yaml
Labels: verify, in-progress, rabbitmq

#14735 [bitnami/common] chore: Correct common.images.image global in example
  bitnami/common/Chart.yaml
  bitnami/common/templates/_images.tpl
Labels: in-progress, common

#14762 [bitnami/kubeapps] Update to correct 2.6.3 app images.
  bitnami/kubeapps/Chart.yaml
  bitnami/kubeapps/README.md
  bitnami/kubeapps/values.yaml
Labels: triage, kubeapps

#14727 [bitnami/kube-prometheus] Fix kube-prometheus tests
  .vib/kube-prometheus/cypress/cypress/integration/kube_prometheus_spec.js
Labels: verify

#14387 Charts failing because of the feature flags not enabled
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/README.md
  bitnami/rabbitmq/templates/statefulset.yaml
  bitnami/rabbitmq/values.yaml
Labels: verify, in-progress, rabbitmq

#14728 [bitnami/redis] fix wrong propagation of loadBalancerSourceRanges
  bitnami/redis/Chart.yaml
  bitnami/redis/templates/master/service.yaml
  bitnami/redis/templates/replicas/service.yaml
  bitnami/redis/templates/sentinel/service.yaml
Labels: verify, in-progress, redis

#14773 [bitnami/tensorflow-resnet] Remove protocol from Tensorflow's goss tests
  .vib/tensorflow-resnet/goss/goss.yaml
Labels: verify, bitnami

#14778 [bitnami/tensorflow-resnet] Move port tests to addr ones
  .vib/tensorflow-resnet/goss/goss.yaml
Labels: verify, bitnami

#14532 [bitnami/*] Update testing documentation
  TESTING.md
Labels: verify, bitnami

#14688 [bitnami/kubernetes-event-exporter] grant access to coordinator API for leader election
  bitnami/kubernetes-event-exporter/Chart.yaml
  bitnami/kubernetes-event-exporter/templates/rbac-leader-election.yaml
Labels: verify, in-progress, kubernetes-event-exporter

#14707 [bitnami/kubernetes-event-exporter]: metrics support
  bitnami/kubernetes-event-exporter/Chart.yaml
  bitnami/kubernetes-event-exporter/README.md
  bitnami/kubernetes-event-exporter/templates/deployment.yaml
  bitnami/kubernetes-event-exporter/templates/metrics-service.yaml
  bitnami/kubernetes-event-exporter/templates/prometheusrule.yaml
  bitnami/kubernetes-event-exporter/templates/servicemonitor.yaml
  bitnami/kubernetes-event-exporter/values.yaml
Labels: verify, in-progress, kubernetes-event-exporter

#14782 [bitnami/harbor] fix nginx custom pod annotations
  bitnami/harbor/Chart.yaml
  bitnami/harbor/templates/nginx/deployment.yaml
Labels: verify, in-progress, harbor

#14797 [bitnami/thanos] fix context for statefulset
  bitnami/thanos/Chart.yaml
  bitnami/thanos/templates/storegateway/hpa-sharded.yaml
Labels: verify, in-progress, thanos

#14505 [bitnami/mariadb-galera] 7.0.x upgrade procedure without disruption
  bitnami/mariadb-galera/README.md
Labels: mariadb-galera

#14244 [bitnami/redis] Add commonLabels also to pods: master, replicas, sentinel
  bitnami/redis/Chart.yaml
  bitnami/redis/templates/master/application.yaml
  bitnami/redis/templates/replicas/statefulset.yaml
  bitnami/redis/templates/sentinel/statefulset.yaml
Labels: verify, in-progress, redis

#14784 [bitnami/appsmith] Fix appsmith cypress
  .vib/appsmith/cypress/cypress/support/commands.js
Labels: verify, bitnami, appsmith

#14809 [bitnami/kong] feat: :sparkles: Add support for db-less and declarative configuration
  .vib/kong/cypress/cypress.json
  .vib/kong/cypress/cypress/integration/kong_spec.js
  .vib/kong/vib-publish.json
  .vib/kong/vib-verify.json
  bitnami/kong/Chart.yaml
  bitnami/kong/README.md
  bitnami/kong/templates/_helpers.tpl
  bitnami/kong/templates/declarative-config-configmap.yaml
  bitnami/kong/templates/dep-ds.yaml
  bitnami/kong/templates/migrate-job.yaml
  bitnami/kong/values.yaml
Labels: verify, bitnami, kong

#14812 [bitnami/matomo] removed specified resources on values.yaml
  bitnami/matomo/Chart.yaml
  bitnami/matomo/README.md
  bitnami/matomo/values.yaml
Labels: verify, in-progress, matomo

#14252 [bitnami/sonarqube] Close gap with upstream SonarQube Helm chart
  bitnami/sonarqube/Chart.yaml
  bitnami/sonarqube/README.md
  bitnami/sonarqube/templates/_helpers.tpl
  bitnami/sonarqube/templates/deployment.yaml
  bitnami/sonarqube/templates/install_plugins.yaml
  bitnami/sonarqube/values.yaml
Labels: verify, bitnami, sonarqube

#14806 [template] Add commonLabels to pod templates
  template/CHART_NAME/templates/daemonset.yaml
  template/CHART_NAME/templates/deployment.yaml
  template/CHART_NAME/templates/statefulset.yaml
Labels: verify, bitnami

#14779 [bitnami/clickhouse] Add checksum annotation to restart pods when config updated
  bitnami/clickhouse/Chart.yaml
  bitnami/clickhouse/templates/statefulset.yaml
Labels: verify, in-progress, clickhouse

#14836 [bitnami/nginx] Fix rendering of CIDR block list for loadBalancerSourceRanges
  bitnami/nginx/Chart.yaml
  bitnami/nginx/templates/svc.yaml
Labels: verify, in-progress, nginx

#14854 [bitnami/grafana-operator] updates crds to 4.9.0
  bitnami/grafana-operator/Chart.yaml
  bitnami/grafana-operator/crds/grafanadashboards.integreatly.org.yaml
  bitnami/grafana-operator/crds/grafanadatasources.integreatly.org.yaml
  bitnami/grafana-operator/crds/grafanafolders.integreatly.org.yaml
  bitnami/grafana-operator/crds/grafananotificationchannels.integreatly.org.yaml
  bitnami/grafana-operator/crds/grafanas.integreatly.org.yaml
Labels: verify, in-progress, grafana-operator

#14852 [bitnami/keycloak] Support extraLabels for serviceAccount
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/README.md
  bitnami/keycloak/templates/serviceaccount.yaml
  bitnami/keycloak/values.yaml
Labels: verify, in-progress, keycloak

#14776 [bitnami/cert-manager] Add hostNetwork option for cert-manager webhook
  bitnami/cert-manager/Chart.yaml
  bitnami/cert-manager/README.md
  bitnami/cert-manager/templates/webhook/deployment.yaml
  bitnami/cert-manager/values.yaml
Labels: verify, in-progress, cert-manager

#14871 [bitnami/drupal] Remove specified resources on values.yaml
  bitnami/drupal/Chart.yaml
  bitnami/drupal/README.md
  bitnami/drupal/values.yaml
Labels: verify, in-progress, drupal

#14893 [bitnami/postgresql] feat: :sparkles: Add ServiceBinding-compatible secrets
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/README.md
  bitnami/postgresql/templates/secrets.yaml
  bitnami/postgresql/values.yaml
Labels: verify, postgresql, bitnami

#14909 [rabbitmq-cluster-operator] Fix issue with caBundle not using existing CA certificate
  bitnami/rabbitmq-cluster-operator/Chart.yaml
  bitnami/rabbitmq-cluster-operator/templates/messaging-topology-operator/validating-webhook-configuration.yaml
Labels: verify, bitnami, rabbitmq-cluster-operator

#14894 [bitnami/kube-prometheus] Add permission to the alertmanagers/status resource
  bitnami/kube-prometheus/Chart.yaml
  bitnami/kube-prometheus/templates/prometheus-operator/clusterrole.yaml
Labels: verify, in-progress, kube-prometheus

#14921 [bitnami/argo-workflows] Force new version publishing
  bitnami/argo-workflows/Chart.yaml
Labels: verify, argo-workflows, bitnami

#14936 [Support] Update readme-generator
  .github/workflows/generate-chart-readme.yml
Labels: verify, bitnami

#14920 [bitnami/kube-state-metrics] Add kube-state-metrics self monitor
  bitnami/kube-state-metrics/Chart.yaml
  bitnami/kube-state-metrics/README.md
  bitnami/kube-state-metrics/templates/deployment.yaml
  bitnami/kube-state-metrics/templates/service.yaml
  bitnami/kube-state-metrics/templates/servicemonitor.yaml
  bitnami/kube-state-metrics/values.yaml
Labels: verify, triage, kube-state-metrics

#14918 [bitnami/nginx] enable exclusive use of .Values.ingress.extraRules
  bitnami/nginx/Chart.lock
  bitnami/nginx/Chart.yaml
  bitnami/nginx/templates/ingress.yaml
Labels: verify, in-progress, nginx

#14878 replaced specified values by empty ones on resources
  bitnami/ejbca/Chart.yaml
  bitnami/ejbca/README.md
  bitnami/ejbca/values.yaml
Labels: verify, in-progress, ejbca

#14859 [bitnami/rabbitmq] fix broken config option #14766
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/README.md
  bitnami/rabbitmq/values.yaml
Labels: verify, in-progress, rabbitmq

#14576 [bitnami/keycloak] Fix NetworkPolicy to open the Infinispan port (7800)
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/README.md
  bitnami/keycloak/templates/networkpolicy.yaml
  bitnami/keycloak/templates/statefulset.yaml
  bitnami/keycloak/values.yaml
Labels: verify, in-progress, keycloak

#14940 [bitnami/external-dns] Allow env variables to authenticate in AWS.
  bitnami/external-dns/Chart.yaml
  bitnami/external-dns/README.md
  bitnami/external-dns/templates/_helpers.tpl
  bitnami/external-dns/templates/dep-ds.yaml
  bitnami/external-dns/values.yaml
Labels: verify, in-progress, external-dns

#15069 [bitnami/wildfly] added priorityClassName prop
  bitnami/wildfly/Chart.yaml
  bitnami/wildfly/templates/deployment.yaml
Labels: in-progress, wildfly

#15070 [bitnami/wordpress] Remove updateStrategy.rollingUpdate: {} from wordpress chart to allow using Recreate update strategy
  bitnami/wordpress/Chart.yaml
  bitnami/wordpress/README.md
  bitnami/wordpress/values.yaml
Labels: verify, in-progress, wordpress

#14865 [bitnami/thanos] Compactor cronjob
  bitnami/thanos/Chart.yaml
  bitnami/thanos/README.md
  bitnami/thanos/templates/compactor/_pod-template.tpl
  bitnami/thanos/templates/compactor/cronjob.yaml
  bitnami/thanos/templates/compactor/deployment.yaml
  bitnami/thanos/values.yaml
Labels: verify, in-progress, thanos

#14938 [bitnami/kafka] feat: :sparkles: Add ServiceBinding-compatible secrets
  bitnami/kafka/Chart.yaml
  bitnami/kafka/README.md
  bitnami/kafka/templates/jaas-secret.yaml
  bitnami/kafka/values.yaml
Labels: verify, kafka, bitnami

#14906 [bitnami/redis] feat: :sparkles: Add ServiceBinding-compatible secrets
  bitnami/redis/Chart.yaml
  bitnami/redis/README.md
  bitnami/redis/templates/secret.yaml
  bitnami/redis/values.yaml
Labels: verify, bitnami, redis

#14912 [bitnami/mysql] feat: :sparkles: Add ServiceBinding-compatible secrets
  bitnami/mysql/Chart.yaml
  bitnami/mysql/README.md
  bitnami/mysql/templates/secrets.yaml
  bitnami/mysql/values.yaml
Labels: verify, bitnami, mysql

#14914 [bitnami/mariadb] feat: :sparkles: Add ServiceBinding-compatible secrets
  bitnami/mariadb/Chart.yaml
  bitnami/mariadb/README.md
  bitnami/mariadb/templates/secrets.yaml
  bitnami/mariadb/values.yaml
Labels: verify, mariadb, bitnami

#15080 [bitnami/harbor] fix: 🐛 Remove hard-coded certificate for token service
  bitnami/harbor/Chart.yaml
  bitnami/harbor/README.md
  bitnami/harbor/cert/tls.crt
  bitnami/harbor/cert/tls.key
  bitnami/harbor/templates/core/core-dpl.yaml
  bitnami/harbor/templates/core/core-secret.yaml
  bitnami/harbor/values.yaml
Labels: verify, bitnami, harbor

#14915 [bitnami/rabbitmq] feat: :sparkles: Add ServiceBinding-compatible secrets
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/README.md
  bitnami/rabbitmq/templates/secrets.yaml
  bitnami/rabbitmq/values.yaml
Labels: verify, bitnami, rabbitmq

#14919 [bitnami/mongodb] Added `allocateLoadBalancerNodePorts` option for LoadBalancer
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/README.md
  bitnami/mongodb/templates/hidden/external-access-svc.yaml
  bitnami/mongodb/templates/replicaset/external-access-svc.yaml
  bitnami/mongodb/templates/standalone/svc.yaml
  bitnami/mongodb/values.yaml
Labels: verify, in-progress, mongodb

#15079 [bitnami/mongodb] fix variable assignment preventing certificate generation
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/templates/secrets-ca.yaml
Labels: verify, triage, mongodb

#15086 [bitnami/harbor] DevCenter API Page
  bitnami/harbor/Chart.lock
  bitnami/harbor/Chart.yaml
  bitnami/harbor/templates/nginx/configmap-http.yaml
  bitnami/harbor/templates/nginx/configmap-https.yaml
Labels: verify, bitnami, harbor

#15063 [bitnami/mariadb-galera] add metrics.containerSecurityContext support
  bitnami/mariadb-galera/Chart.yaml
  bitnami/mariadb-galera/README.md
  bitnami/mariadb-galera/templates/statefulset.yaml
  bitnami/mariadb-galera/values.yaml
Labels: verify, in-progress, mariadb-galera

#14989 [bitnami/kube-prometheus] Update prometheus operator CRDs (alertmanager)
  bitnami/kube-prometheus/Chart.yaml
  bitnami/kube-prometheus/crds/crd-alertmanager.yaml
Labels: verify, in-progress, kube-prometheus

#14917 [bitnami/grafana-tempo] Update grafana-tempo-2
  .vib/grafana-tempo/cypress/cypress.json
  .vib/grafana-tempo/cypress/cypress/integration/grafana_tempo_spec.js
  .vib/grafana-tempo/vib-publish.json
  .vib/grafana-tempo/vib-verify.json
  bitnami/grafana-tempo/Chart.yaml
  bitnami/grafana-tempo/README.md
  bitnami/grafana-tempo/templates/metrics-generator/deployment.yaml
  bitnami/grafana-tempo/templates/metrics-generator/service.yaml
  bitnami/grafana-tempo/templates/metrics-generator/servicemonitor.yaml
  bitnami/grafana-tempo/test.yaml
  bitnami/grafana-tempo/values.yaml
Labels: verify, bitnami, grafana-tempo

#15076 [bitnami/mastodon] Add SMTP config, LOCAL_DOMAIN, LOCAL_HTTPS, DEFAULT_LOCALE, and other useful and/or required environment variables
  bitnami/mastodon/Chart.yaml
  bitnami/mastodon/README.md
  bitnami/mastodon/templates/_helpers.tpl
  bitnami/mastodon/templates/sidekiq/deployment.yaml
  bitnami/mastodon/templates/smtp-secret.yaml
  bitnami/mastodon/templates/streaming/deployment.yaml
  bitnami/mastodon/templates/web/deployment.yaml
  bitnami/mastodon/values.yaml
Labels: verify, in-progress, mastodon

#15115 [bitnami/kube-prometheus] fix typo in values.yaml
  bitnami/kube-prometheus/Chart.yaml
  bitnami/kube-prometheus/values.yaml
Labels: verify, in-progress, kube-prometheus

#14877 [bitnami/appsmith] Fix Appsmith Cypress tests
  .vib/appsmith/cypress/cypress/integration/appsmith_spec.js
Labels: verify, bitnami

#15120 [bitnami/supabase] feat: :tada: Add chart
  .github/workflows/cd-pipeline.yml
  .vib/supabase/cypress/cypress.json
  .vib/supabase/cypress/cypress/fixtures/buckets.json
  .vib/supabase/cypress/cypress/fixtures/files.json
  .vib/supabase/cypress/cypress/fixtures/schemas.json
  .vib/supabase/cypress/cypress/fixtures/users.json
  .vib/supabase/cypress/cypress/integration/supabase_spec.js
  .vib/supabase/cypress/cypress/support/utils.js
  .vib/supabase/goss/goss.yaml
  .vib/supabase/goss/vars.yaml
  .vib/supabase/vib-publish.json
  .vib/supabase/vib-verify.json
  bitnami/supabase/.helmignore
  bitnami/supabase/Chart.lock
  bitnami/supabase/Chart.yaml
  bitnami/supabase/README.md
  bitnami/supabase/templates/NOTES.txt
  bitnami/supabase/templates/_helpers.tpl
  bitnami/supabase/templates/auth/default-configmap.yaml
  bitnami/supabase/templates/auth/deployment.yaml
  bitnami/supabase/templates/auth/extra-configmap.yaml
  bitnami/supabase/templates/auth/service.yaml
  bitnami/supabase/templates/externaldb-secrets.yaml
  bitnami/supabase/templates/extra-list.yaml
  bitnami/supabase/templates/jwt-init-job.yaml
  bitnami/supabase/templates/jwt-rbac.yaml
  bitnami/supabase/templates/jwt-secret.yaml
  bitnami/supabase/templates/kong/declarative-conf-configmap.yaml
  bitnami/supabase/templates/meta/default-configmap.yaml
  bitnami/supabase/templates/meta/deployment.yaml
  bitnami/supabase/templates/meta/extra-configmap.yaml
  bitnami/supabase/templates/meta/service.yaml
  bitnami/supabase/templates/realtime/default-configmap.yaml
  bitnami/supabase/templates/realtime/deployment.yaml
  bitnami/supabase/templates/realtime/extra-configmap.yaml
  bitnami/supabase/templates/realtime/secret.yaml
  bitnami/supabase/templates/realtime/service.yaml
  bitnami/supabase/templates/rest/default-configmap.yaml
  bitnami/supabase/templates/rest/deployment.yaml
  bitnami/supabase/templates/rest/extra-configmap.yaml
  bitnami/supabase/templates/rest/service.yaml
  bitnami/supabase/templates/service-account.yaml
  bitnami/supabase/templates/storage/default-configmap.yaml
  bitnami/supabase/templates/storage/deployment.yaml
  bitnami/supabase/templates/storage/extra-configmap.yaml
  bitnami/supabase/templates/storage/pvc.yaml
  bitnami/supabase/templates/storage/service.yaml
  bitnami/supabase/templates/studio/default-configmap.yaml
  bitnami/supabase/templates/studio/deployment.yaml
  bitnami/supabase/templates/studio/extra-configmap.yaml
  bitnami/supabase/templates/studio/ingress.yaml
  bitnami/supabase/templates/studio/service.yaml
  bitnami/supabase/templates/studio/tls-secret.yaml
  bitnami/supabase/values.yaml
Labels: verify, bitnami, supabase
