Repository bitnami/charts, pull requests merged in 2023-01, with the labels that each got.

#14148 [bitnami/metrics-server] removing empty `annotations` on `Servier` if no values exist for it
  bitnami/metrics-server/Chart.yaml
  bitnami/metrics-server/templates/svc.yaml
Labels: verify, triage, metrics-server

#14103 [bitnami/grafana-operator] Added initContainers definition to Grafana pods into Grafana Operator.
  bitnami/grafana-operator/Chart.yaml
  bitnami/grafana-operator/README.md
  bitnami/grafana-operator/templates/grafana.yaml
  bitnami/grafana-operator/values.yaml
Labels: verify, in-progress, grafana-operator

#14174 Fix misleading comment "arguments" => "args"
  bitnami/memcached/Chart.yaml
  bitnami/memcached/values.yaml
Labels: verify, in-progress, memcached

#14138 [bitnami/kubeapps] Custom postgres user name
  bitnami/kubeapps/Chart.yaml
  bitnami/kubeapps/README.md
  bitnami/kubeapps/templates/apprepository/deployment.yaml
  bitnami/kubeapps/templates/kubeappsapis/deployment.yaml
  bitnami/kubeapps/values.yaml
Labels: verify, in-progress, kubeapps

#14018 [bitnami/etcd] Add support for shareProcessNamespace
  bitnami/etcd/Chart.yaml
  bitnami/etcd/README.md
  bitnami/etcd/templates/statefulset.yaml
  bitnami/etcd/values.yaml
Labels: verify, in-progress, etcd

#14159 scaleway: remove useless defaultorganizationid parameter
  bitnami/external-dns/Chart.yaml
  bitnami/external-dns/README.md
  bitnami/external-dns/templates/_helpers.tpl
  bitnami/external-dns/templates/deployment.yaml
  bitnami/external-dns/templates/secret.yaml
  bitnami/external-dns/values.yaml
Labels: verify, in-progress, external-dns

#14181 [bitnami/grafana.operator] Added initContainers to Grafana pods spec.
  bitnami/grafana-operator/Chart.yaml
  bitnami/grafana-operator/crds/grafanas.integreatly.org.yaml
Labels: verify, in-progress, grafana-operator

#14210 [bitnami/oauth2-proxy] Fix Google secret reference when using Google provider
  bitnami/oauth2-proxy/Chart.yaml
  bitnami/oauth2-proxy/templates/_helpers.tpl
Labels: verify, in-progress, oauth2-proxy

#14133 [bitnami/redis] Sentinel deployment: Fix Failover at graceful shutdown
  bitnami/redis/Chart.yaml
  bitnami/redis/README.md
  bitnami/redis/templates/scripts-configmap.yaml
  bitnami/redis/templates/sentinel/statefulset.yaml
  bitnami/redis/values.yaml
Labels: verify, in-progress, redis

#14240 [bitnami/postgresql] update chart version for conflict
  bitnami/postgresql/Chart.yaml
Labels: postgresql

#14152 bitnami/rabbitmq-cluster-operator : Configurable `dnsPolicy` / `hostNetwork` on `msgTopologyOperator`
  bitnami/rabbitmq-cluster-operator/Chart.yaml
  bitnami/rabbitmq-cluster-operator/README.md
  bitnami/rabbitmq-cluster-operator/templates/messaging-topology-operator/deployment.yaml
  bitnami/rabbitmq-cluster-operator/values.yaml
Labels: verify, in-progress, rabbitmq-cluster-operator

#14239 [bitnami/sonarqube] Fix postgresql.persistence.enabled value
  .vib/sonarqube/cypress/cypress/support/commands.js
  .vib/sonarqube/goss/goss.yaml
  bitnami/sonarqube/Chart.yaml
  bitnami/sonarqube/README.md
  bitnami/sonarqube/values.yaml
Labels: verify, bitnami, sonarqube

#14186 [bitnami/memcached] Correct typo in README.md
  bitnami/memcached/README.md
Labels: in-progress, memcached

#14126 [bitnami/argo-workflows] fix config map generation for external database enablement
  bitnami/argo-workflows/Chart.yaml
  bitnami/argo-workflows/values.yaml
Labels: verify, in-progress, argo-workflows

#14266 [bitnami/elasticsearch] Resolve immutable field error due to empty string clusterIP being set
  bitnami/elasticsearch/Chart.yaml
  bitnami/elasticsearch/templates/coordinating/svc-headless.yaml
  bitnami/elasticsearch/templates/data/svc-headless.yaml
  bitnami/elasticsearch/templates/ingest/svc-headless.yaml
  bitnami/elasticsearch/templates/master/svc-headless.yaml
Labels: verify, in-progress, elasticsearch

#14080 [bitnami/external-dns] Add support for DaemonSet
  bitnami/external-dns/Chart.yaml
  bitnami/external-dns/README.md
  bitnami/external-dns/templates/dep-ds.yaml
  bitnami/external-dns/values.yaml
Labels: verify, in-progress, external-dns

#14155 [bitnami/sealed-secrets] add port name to sealed secrets service
  .vib/sealed-secrets/vib-verify.json
  bitnami/sealed-secrets/Chart.yaml
  bitnami/sealed-secrets/templates/service.yaml
Labels: verify, in-progress, sealed-secrets

#14282 [bitnami/sealed-secrets] update vib-publish
  .vib/sealed-secrets/vib-publish.json
Labels: verify, bitnami

#13876 [bitnami/pinniped] Separate service configuration for supervisor api and aggregator server
  bitnami/pinniped/Chart.yaml
  bitnami/pinniped/README.md
  bitnami/pinniped/templates/NOTES.txt
  bitnami/pinniped/templates/supervisor/service-api.yaml
  bitnami/pinniped/templates/supervisor/service.yaml
  bitnami/pinniped/values.yaml
Labels: verify, in-progress, pinniped

#14285 Use fixed version for vib action
  .github/workflows/cd-pipeline.yml
  .github/workflows/ci-pipeline-extra-thanos.yml
  .github/workflows/ci-pipeline.yml
Labels: verify, bitnami

#14287 [bitnami/ghost] Bump version chart to force new publish
  bitnami/ghost/Chart.yaml
Labels: verify, bitnami, ghost

#14289 [bitnami/pinniped] Bump version chart to force new publish
  bitnami/pinniped/Chart.yaml
Labels: verify, pinniped, bitnami

#14288 [bitnami/gitea] Bump version chart to force new publish
  bitnami/gitea/Chart.yaml
Labels: verify, bitnami, gitea

#14219 [bitnami/rabbitmq] Fixes 14212 - Rabbitmq metrics port configuration follows containerPorts.metrics value
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/values.yaml
Labels: verify, in-progress, rabbitmq

#14295 [bitnami/*] Update publishing workflow to VIB Action v0.4.19
  .github/workflows/cd-pipeline.yml
  .github/workflows/ci-pipeline-extra-thanos.yml
  .github/workflows/ci-pipeline.yml
Labels: verify, bitnami

#14251 [bitnami/kafka] Remove hardcoded ports from listeners
  bitnami/kafka/Chart.yaml
  bitnami/kafka/templates/NOTES.txt
  bitnami/kafka/templates/statefulset.yaml
Labels: verify, kafka, bitnami

#14265 Bug/discourse remove redis username
  bitnami/discourse/Chart.yaml
  bitnami/discourse/README.md
  bitnami/discourse/values.yaml
Labels: verify, in-progress, discourse

#14193 [bitnami/phpmyadmin] allows to create ServiceAccount resource
  bitnami/phpmyadmin/Chart.yaml
  bitnami/phpmyadmin/README.md
  bitnami/phpmyadmin/templates/_helpers.tpl
  bitnami/phpmyadmin/templates/deployment.yaml
  bitnami/phpmyadmin/templates/serviceaccount.yaml
  bitnami/phpmyadmin/values.yaml
Labels: verify, in-progress, phpmyadmin

#14085 [bitnami/wordpress] Invert memory/cpu in hpa for Argo CD users
  bitnami/wordpress/Chart.yaml
  bitnami/wordpress/templates/hpa.yaml
Labels: verify, in-progress, wordpress

#14308 [bitnami/haproxy-intel] Deprecate Helm chart
  bitnami/haproxy-intel/Chart.yaml
  bitnami/haproxy-intel/README.md
  bitnami/haproxy-intel/templates/NOTES.txt
Labels: verify, bitnami, haproxy-intel

#14306 [bitnami/wordpress-intel] Deprecate Helm chart
  bitnami/wordpress-intel/Chart.yaml
  bitnami/wordpress-intel/README.md
  bitnami/wordpress-intel/templates/NOTES.txt
Labels: verify, bitnami, wordpress-intel

#14307 [bitnami/nginx-intel] Deprecate Helm chart
  bitnami/nginx-intel/Chart.yaml
  bitnami/nginx-intel/README.md
  bitnami/nginx-intel/templates/NOTES.txt
Labels: verify, bitnami, nginx-intel

#14309 [bitnami/grafana-operator] Revert #14181 and #14103
  bitnami/grafana-operator/Chart.yaml
  bitnami/grafana-operator/README.md
  bitnami/grafana-operator/crds/grafanas.integreatly.org.yaml
  bitnami/grafana-operator/templates/grafana.yaml
  bitnami/grafana-operator/values.yaml
Labels: verify, bitnami

#14315 [bitnami/jaeger] Update dependencies
  bitnami/jaeger/Chart.lock
  bitnami/jaeger/Chart.yaml
  bitnami/jaeger/README.md
Labels: verify, bitnami, jaeger

#14314 [bitnami/kong] Update dependencies
  bitnami/kong/Chart.lock
  bitnami/kong/Chart.yaml
  bitnami/kong/README.md
Labels: verify, bitnami, kong

#14330 [bitnami/owncloud] Add deprecation message for Owncloud chart
  bitnami/owncloud/Chart.yaml
Labels: verify, bitnami, owncloud

#14334 [bitnami/harbor] Fix harbor version to apply uncommitted changes
  bitnami/harbor/Chart.yaml
Labels: verify, bitnami, harbor

#14030 [bitnami/clickhouse] feat: configure https port
  bitnami/clickhouse/Chart.yaml
  bitnami/clickhouse/README.md
  bitnami/clickhouse/templates/service-external-access.yaml
  bitnami/clickhouse/templates/service.yaml
  bitnami/clickhouse/templates/statefulset.yaml
  bitnami/clickhouse/values.yaml
Labels: verify, in-progress, clickhouse

#14333 [bitnami/charts] Add workflow to move issue cards based on PR reviews
  .github/workflows/comments.yml
  .github/workflows/pr-reviews.yml
Labels: verify, bitnami

#14336 [bitnami/owncloud] Deprecate Owncloud
  .github/workflows/cd-pipeline.yml
  .vib/owncloud/cypress/cypress.json
  .vib/owncloud/cypress/cypress/fixtures/file_to_upload.json
  .vib/owncloud/cypress/cypress/fixtures/folders.json
  .vib/owncloud/cypress/cypress/integration/owncloud_spec.js
  .vib/owncloud/cypress/cypress/support/commands.js
  .vib/owncloud/cypress/cypress/support/index.js
  .vib/owncloud/cypress/cypress/support/utils.js
  .vib/owncloud/goss/goss.yaml
  .vib/owncloud/goss/vars.yaml
  .vib/owncloud/vib-publish.json
  .vib/owncloud/vib-verify.json
  bitnami/owncloud/.helmignore
  bitnami/owncloud/Chart.lock
  bitnami/owncloud/README.md
  bitnami/owncloud/templates/NOTES.txt
  bitnami/owncloud/templates/_certificates.tpl
  bitnami/owncloud/templates/_helpers.tpl
  bitnami/owncloud/templates/deployment.yaml
  bitnami/owncloud/templates/externaldb-secrets.yaml
  bitnami/owncloud/templates/extra-list.yaml
  bitnami/owncloud/templates/ingress.yaml
  bitnami/owncloud/templates/metrics-svc.yaml
  bitnami/owncloud/templates/networkpolicy-backend-ingress.yaml
  bitnami/owncloud/templates/networkpolicy-egress.yaml
  bitnami/owncloud/templates/networkpolicy-ingress.yaml
  bitnami/owncloud/templates/pv.yaml
  bitnami/owncloud/templates/pvc.yaml
  bitnami/owncloud/templates/secrets.yaml
  bitnami/owncloud/templates/svc.yaml
  bitnami/owncloud/templates/tls-secrets.yaml
  bitnami/owncloud/values.yaml
Labels: verify, bitnami, owncloud

#14342 [bitnami/charts] Add workflow to move issue cards based on PR reviews
  .github/workflows/pr-reviews.yml
Labels: verify, bitnami

#14344 [bitnami/charts] Add workflow to move issue cards based on PR reviews
  .github/workflows/pr-reviews.yml
Labels: verify, bitnami

#14273 [bitnami/etcd] Add param auth.token.enabled to disable etcd auth
  bitnami/etcd/Chart.yaml
  bitnami/etcd/README.md
  bitnami/etcd/templates/_helpers.tpl
  bitnami/etcd/templates/statefulset.yaml
  bitnami/etcd/values.yaml
Labels: verify, in-progress, etcd

#14144 [bitnami/zookeeper] Configure headless service name
  bitnami/zookeeper/Chart.yaml
  bitnami/zookeeper/README.md
  bitnami/zookeeper/templates/statefulset.yaml
  bitnami/zookeeper/templates/svc-headless.yaml
  bitnami/zookeeper/values.yaml
Labels: verify, in-progress, zookeeper

#14364 [bitnami/etcd] Fix an issue where the etcd chart renders the jwt volume when the auth is disable
  bitnami/etcd/Chart.yaml
  bitnami/etcd/templates/statefulset.yaml
Labels: in-progress, etcd

#14378 [bitnami/wildfly] Update runtime parameters to use a valid url to download maven
  .vib/wildfly/vib-publish.json
  .vib/wildfly/vib-verify.json
Labels: verify, bitnami

#14383 [bitnami/fluentd] Update tests after cluster update
  .vib/fluentd/goss/goss.yaml
Labels: verify, bitnami

#14374 [bitnami/charts] Add workflow to move issue cards based on PR changes
  .github/workflows/pr-reviews.yml
Labels: verify, bitnami

#14331 [bitnami/node-exporter] Upgrade values.yaml for hostPID
  bitnami/node-exporter/Chart.yaml
  bitnami/node-exporter/README.md
  bitnami/node-exporter/templates/daemonset.yaml
  bitnami/node-exporter/templates/psp.yaml
  bitnami/node-exporter/values.yaml
Labels: verify, in-progress, node-exporter

#14341 [bitnami/harbor] - Allow to use existing secrets
  bitnami/harbor/Chart.yaml
  bitnami/harbor/README.md
  bitnami/harbor/templates/core/core-dpl.yaml
  bitnami/harbor/templates/core/core-secret-envvars.yaml
  bitnami/harbor/templates/core/core-secret.yaml
  bitnami/harbor/templates/jobservice/jobservice-dpl.yaml
  bitnami/harbor/templates/jobservice/jobservice-secrets.yaml
  bitnami/harbor/templates/registry/registry-dpl.yaml
  bitnami/harbor/templates/registry/registry-secret.yaml
  bitnami/harbor/values.yaml
Labels: verify, in-progress, harbor

#14268 [bitnami/wildfly] Allow definition of additional container ports
  bitnami/wildfly/Chart.yaml
  bitnami/wildfly/README.md
  bitnami/wildfly/templates/deployment.yaml
  bitnami/wildfly/values.yaml
Labels: verify, in-progress, wildfly

#14356 [bitnami/minio]: Check for existing password only in minio NOTES.txt for validation
  bitnami/minio/Chart.yaml
  bitnami/minio/templates/NOTES.txt
  bitnami/minio/templates/_helpers.tpl
Labels: verify, in-progress, minio

#14405 [bitnami/kubeapps] wrap ASSET_SYNCER_DB_URL in conditional with no mutation when using externalDatabase
  bitnami/kubeapps/Chart.yaml
  bitnami/kubeapps/templates/kubeappsapis/deployment.yaml
Labels: verify, in-progress, kubeapps

#14404 [bitnami/mariadb] Allow templates for initdbScriptsConfigMap and auth.existingSecret
  bitnami/mariadb/Chart.yaml
  bitnami/mariadb/templates/_helpers.tpl
Labels: verify, in-progress, mariadb

#14448 [bitnami/thanos] Update MinIO subchart
  bitnami/thanos/Chart.lock
  bitnami/thanos/Chart.yaml
  bitnami/thanos/README.md
Labels: verify, bitnami, thanos

#14447 [bitnami/mastodon] Update MinIO subchart
  bitnami/mastodon/Chart.lock
  bitnami/mastodon/Chart.yaml
  bitnami/mastodon/README.md
Labels: verify, bitnami, mastodon

#14429 [bitnami/charts] Fix workflow issues with existing cards
  .github/workflows/comments.yml
  .github/workflows/delete-solved-cards.yml
  .github/workflows/move-closed-issues.yml
  .github/workflows/pr-reviews.yml
  .github/workflows/triage.yml
Labels: verify, bitnami

#14450 [bitnami/kubeapps] Allow to use existing secret from authProxy.existi…
  bitnami/kubeapps/Chart.yaml
  bitnami/kubeapps/README.md
  bitnami/kubeapps/templates/_helpers.tpl
  bitnami/kubeapps/templates/frontend/oauth2-secret.yaml
  bitnami/kubeapps/values.yaml
Labels: verify, bitnami, kubeapps

#14375 [bitnami/metrics-server] fix: remove namespace
  bitnami/metrics-server/Chart.yaml
  bitnami/metrics-server/templates/cluster-role.yaml
Labels: verify, in-progress, metrics-server

#14420 [bitnami/redis] add probes for metrics container
  bitnami/redis/Chart.yaml
  bitnami/redis/README.md
  bitnami/redis/templates/master/application.yaml
  bitnami/redis/templates/replicas/statefulset.yaml
  bitnami/redis/templates/sentinel/statefulset.yaml
  bitnami/redis/values.yaml
Labels: verify, in-progress, redis

#14427 [bitnami/jupyterhub] Add resource specification to the initContainers…
  bitnami/jupyterhub/Chart.yaml
  bitnami/jupyterhub/templates/image-puller/daemonset.yaml
Labels: verify, in-progress, jupyterhub

#14455 [bitnami/nginx-ingress-controller] Fix rendering of CIDR block list for loadBalancerSourceRanges
  bitnami/nginx-ingress-controller/Chart.yaml
  bitnami/nginx-ingress-controller/templates/controller-service.yaml
Labels: verify, in-progress, nginx-ingress-controller

#14397 bitnami/harbor Fix extraEnvVarsSecret on exporter
  bitnami/harbor/Chart.yaml
  bitnami/harbor/templates/exporter/exporter-dpl.yaml
Labels: verify, in-progress, harbor

#14433 [bitnami/template] PodDisruptionBudget template now works alongside autoscaling
  template/CHART_NAME/templates/pdb.yaml
Labels: verify, in-progress

#14349 [bitnami/minio] fixes an issue where a rough new-line is added to the provisioning job
  bitnami/minio/Chart.yaml
  bitnami/minio/templates/provisioning-job.yaml
Labels: verify, in-progress, minio

#14400 [bitnami/wordpress] feature: add www subdomain to ingress.tls.hosts
  bitnami/wordpress/Chart.yaml
  bitnami/wordpress/README.md
  bitnami/wordpress/templates/ingress.yaml
  bitnami/wordpress/values.yaml
Labels: verify, in-progress, wordpress

#14473 [bitnami/redis] Fix missing Helm value rendering for metrics container probes
  bitnami/redis/Chart.yaml
  bitnami/redis/templates/master/application.yaml
  bitnami/redis/templates/replicas/statefulset.yaml
  bitnami/redis/templates/sentinel/statefulset.yaml
Labels: verify, in-progress, redis

#14487 [bitnami/mysql] Fixed typo in mysql README
  bitnami/mysql/Chart.yaml
  bitnami/mysql/README.md
  bitnami/mysql/values.yaml
Labels: verify, triage, mysql

#14481 [bitnami/wordpress] fix: Wordpress ingress bad indentation
  bitnami/wordpress/Chart.yaml
  bitnami/wordpress/templates/ingress.yaml
Labels: verify, in-progress, wordpress

#14134 bitnami/keycloak: Document possible use of MSSQL as an external DB
  bitnami/keycloak/README.md
Labels: in-progress, keycloak

#14438 [bitnami/minio] Allow templates override for ingress hosts
  bitnami/minio/Chart.yaml
  bitnami/minio/templates/_helpers.tpl
  bitnami/minio/templates/api-ingress.yaml
  bitnami/minio/templates/ingress.yaml
Labels: verify, in-progress, minio

#14467 [bitnami/rabbitmq] Choice of enabling loopbackUser
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/README.md
  bitnami/rabbitmq/values.yaml
Labels: verify, in-progress, rabbitmq

#14497 [bitnami/mastodon] Update default Admin email
  .vib/mastodon/cypress/cypress.json
  .vib/mastodon/vib-publish.json
  .vib/mastodon/vib-verify.json
  bitnami/mastodon/Chart.yaml
  bitnami/mastodon/README.md
  bitnami/mastodon/values.yaml
Labels: verify, bitnami, mastodon

#14399 [bitnami/redis] make emptyDir sizeLimit work everywhere
  bitnami/redis/Chart.yaml
  bitnami/redis/README.md
  bitnami/redis/templates/master/application.yaml
  bitnami/redis/templates/replicas/statefulset.yaml
  bitnami/redis/templates/sentinel/statefulset.yaml
  bitnami/redis/values.yaml
Labels: verify, in-progress, redis

#14471 [bitnami/minio] Deleted all gateway features
  bitnami/minio/Chart.yaml
  bitnami/minio/README.md
  bitnami/minio/templates/NOTES.txt
  bitnami/minio/templates/_helpers.tpl
  bitnami/minio/templates/distributed/headless-svc.yaml
  bitnami/minio/templates/distributed/pdb.yaml
  bitnami/minio/templates/distributed/statefulset.yaml
  bitnami/minio/templates/gateway/deployment.yaml
  bitnami/minio/templates/gateway/hpa.yaml
  bitnami/minio/templates/gateway/pdb.yaml
  bitnami/minio/templates/provisioning-job.yaml
  bitnami/minio/templates/secrets.yaml
  bitnami/minio/templates/standalone/deployment.yaml
  bitnami/minio/values.yaml
Labels: verify, bitnami, minio

#14513 [bitnami/contour] Added option to override envoy service name
  bitnami/contour/Chart.yaml
  bitnami/contour/README.md
  bitnami/contour/templates/envoy/service.yaml
  bitnami/contour/values.yaml
Labels: verify, in-progress, contour

#14424 [bitnami/mongodb] Fix service.nameOverride and TLS certificate generation in standalone mode
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/templates/NOTES.txt
  bitnami/mongodb/templates/_helpers.tpl
  bitnami/mongodb/templates/common-scripts-cm.yaml
  bitnami/mongodb/templates/standalone/dep-sts.yaml
  bitnami/mongodb/templates/standalone/svc.yaml
Labels: verify, bitnami, mongodb

#14502 [bitnami/wordpress] fix: wordpress ingress tls www domain
  bitnami/wordpress/Chart.yaml
  bitnami/wordpress/templates/ingress.yaml
Labels: verify, in-progress, wordpress

#14539 [bitnami/mongodb] Increase timeout for probes
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/README.md
  bitnami/mongodb/values.yaml
Labels: verify, bitnami, mongodb

#14343 [bitnami/thanos] Revisit tests
  .github/workflows/ci-pipeline-extra-thanos.yml
  .vib/thanos/bucketweb/cypress/cypress.json
  .vib/thanos/bucketweb/cypress/cypress/integration/thanos_bucketweb_spec.js
  .vib/thanos/bucketweb/cypress/cypress/support/commands.js
  .vib/thanos/bucketweb/cypress/cypress/support/index.js
  .vib/thanos/bucketweb/vib-verify.json
  .vib/thanos/cypress/cypress.json
  .vib/thanos/cypress/cypress/integration/thanos_spec.js
  .vib/thanos/cypress/cypress/support/commands.js
  .vib/thanos/cypress/cypress/support/index.js
  .vib/thanos/queryfrontend/cypress/cypress.json
  .vib/thanos/queryfrontend/cypress/cypress/integration/thanos_queryfrontend_spec.js
  .vib/thanos/vib-publish.json
  .vib/thanos/vib-verify.json
  bitnami/thanos/README.md
Labels: verify, bitnami, thanos

#14384 [bitnami/external-dns] Revisit tests
  .vib/external-dns/cypress/cypress.json
  .vib/external-dns/cypress/cypress/integration/external_dns_spec.js
  .vib/external-dns/goss/goss.yaml
  .vib/external-dns/goss/vars.yaml
  .vib/external-dns/vib-publish.json
  .vib/external-dns/vib-verify.json
Labels: verify, bitnami

#14543 [bitnami/contour] Added option to set ingress-status-address.
  bitnami/contour/Chart.yaml
  bitnami/contour/README.md
  bitnami/contour/templates/contour/deployment.yaml
  bitnami/contour/values.yaml
Labels: verify, in-progress, contour

#14296 [bitnami/*] Update serviceAccount Goss' test
  .vib/appsmith/goss/goss.yaml
  .vib/argo-cd/goss/goss.yaml
  .vib/aspnet-core/goss/goss.yaml
  .vib/cassandra/goss/goss.yaml
  .vib/cert-manager/goss/goss.yaml
  .vib/clickhouse/goss/goss.yaml
  .vib/concourse/goss/web/goss.yaml
  .vib/concourse/goss/worker/goss.yaml
  .vib/contour/goss/goss.yaml
  .vib/drupal/goss/goss.yaml
  .vib/ghost/goss/goss.yaml
  .vib/gitea/goss/goss.yaml
  .vib/grafana-loki/goss/promtail/goss.yaml
  .vib/grafana-operator/goss/goss.yaml
  .vib/haproxy/goss/goss.yaml
  .vib/influxdb/goss/goss.yaml
  .vib/jaeger/goss/goss.yaml
  .vib/jaeger/goss/vars.yaml
  .vib/jupyterhub/goss/goss.yaml
  .vib/kafka/goss/goss.yaml
  .vib/keycloak/goss/goss.yaml
  .vib/keycloak/goss/vars.yaml
  .vib/keycloak/vib-publish.json
  .vib/keycloak/vib-verify.json
  .vib/kibana/goss/goss.yaml
  .vib/kube-prometheus/goss/goss.yaml
  .vib/kube-state-metrics/goss/goss.yaml
  .vib/kubeapps/goss/goss.yaml
  .vib/kubernetes-event-exporter/goss/goss.yaml
  .vib/logstash/goss/goss.yaml
  .vib/mastodon/goss/goss.yaml
  .vib/metallb/goss/goss.yaml
  .vib/metrics-server/goss/goss.yaml
  .vib/minio/goss/goss.yaml
  .vib/mongodb/goss/goss.yaml
  .vib/nginx-ingress-controller/goss/goss.yaml
  .vib/node-exporter/goss/goss.yaml
  .vib/oauth2-proxy/goss/goss.yaml
  .vib/parse/goss/dashboard/goss.yaml
  .vib/parse/goss/server/goss.yaml
  .vib/rabbitmq-cluster-operator/goss/goss.yaml
  .vib/rabbitmq/goss/goss.yaml
  .vib/redis/goss/goss.yaml
  .vib/schema-registry/goss/goss.yaml
  .vib/schema-registry/goss/vars.yaml
  .vib/schema-registry/vib-publish.json
  .vib/schema-registry/vib-verify.json
  .vib/sonarqube/goss/goss.yaml
  .vib/spring-cloud-dataflow/goss/goss.yaml
  .vib/wavefront/goss/goss.yaml
  .vib/wavefront/goss/vars.yaml
Labels: verify, bitnami

#14547 [bitnami/postgresql] Add note about password issue when reinstalling helm chart
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/templates/NOTES.txt
Labels: verify, postgresql, bitnami

#14553 [bitnami/wordpress] Fix `kubectl` flag in `NOTES.txt`
  bitnami/wordpress/Chart.yaml
  bitnami/wordpress/templates/NOTES.txt
Labels: verify, in-progress, wordpress

#14567 [bitnami/pinniped] update pinniped supervisor CRDs for v0.22.0
  bitnami/pinniped/Chart.yaml
  bitnami/pinniped/crds/supervisor.crds.yaml
Labels: verify, in-progress, pinniped

#14559 [bitnami/matomo] Fix mounting of post init scripts
  bitnami/matomo/Chart.yaml
  bitnami/matomo/templates/deployment.yaml
  bitnami/matomo/templates/postinit-configmap.yaml
Labels: verify, in-progress, matomo

#14451 [bitnami/mariadb] Forbid privileged containers by default
  bitnami/mariadb/Chart.yaml
  bitnami/mariadb/README.md
  bitnami/mariadb/values.yaml
Labels: in-progress, mariadb

#14609 [bitnami/argo-workflows] Don't regenerate self-signed certs on upgrade
  bitnami/argo-workflows/Chart.yaml
  bitnami/argo-workflows/templates/server/tls-secrets.yaml
Labels: verify, argo-workflows, bitnami

#14610 [bitnami/aspnet-core] Don't regenerate self-signed certs on upgrade
  bitnami/aspnet-core/Chart.yaml
  bitnami/aspnet-core/templates/tls-secret.yaml
Labels: verify, bitnami, aspnet-core

#14616 [bitnami/discourse] Don't regenerate self-signed certs on upgrade
  bitnami/discourse/Chart.yaml
  bitnami/discourse/templates/tls-secrets.yaml
Labels: verify, bitnami, discourse

#14619 [bitnami/external-dns] Don't regenerate self-signed certs on upgrade
  bitnami/external-dns/Chart.yaml
  bitnami/external-dns/templates/tls-secret.yaml
Labels: verify, bitnami, external-dns

#14620 [bitnami/fluentd] Don't regenerate self-signed certs on upgrade
  bitnami/fluentd/Chart.yaml
  bitnami/fluentd/templates/tls-certs.yaml
Labels: verify, bitnami, fluentd

#14626 [bitnami/jasperreports] Don't regenerate self-signed certs on upgrade
  bitnami/jasperreports/Chart.yaml
  bitnami/jasperreports/templates/tls-secrets.yaml
Labels: verify, bitnami, jasperreports

#14633 [bitnami/kong] Don't regenerate self-signed certs on upgrade
  bitnami/kong/Chart.yaml
  bitnami/kong/templates/tls-secrets.yaml
Labels: verify, bitnami, kong

#14678 [bitnami/ejbca] Increase tests stability
  .vib/ejbca/cypress/cypress/integration/ejbca_spec.js
  .vib/ejbca/goss/goss-wait.yaml
  .vib/ejbca/vib-publish.json
  .vib/ejbca/vib-verify.json
Labels: verify, bitnami

#14669 [bitnami/template] Don't regenerate self-signed certs on upgrade
  template/CHART_NAME/templates/tls-secret.yaml
Labels: verify, bitnami

#14667 [bitnami/wordpress] Don't regenerate self-signed certs on upgrade
  bitnami/wordpress/Chart.yaml
  bitnami/wordpress/templates/tls-secrets.yaml
Labels: verify, bitnami, wordpress

#14666 [bitnami/wildfly] Don't regenerate self-signed certs on upgrade
  bitnami/wildfly/Chart.yaml
  bitnami/wildfly/templates/tls-secrets.yaml
Labels: verify, bitnami, wildfly

#14665 [bitnami/tomcat] Don't regenerate self-signed certs on upgrade
  bitnami/tomcat/Chart.yaml
  bitnami/tomcat/templates/tls-secrets.yaml
Labels: verify, bitnami, tomcat

#14664 [bitnami/thanos] Don't regenerate self-signed certs on upgrade
  bitnami/thanos/Chart.yaml
  bitnami/thanos/templates/bucketweb/tls-secrets.yaml
  bitnami/thanos/templates/compactor/tls-secrets.yaml
  bitnami/thanos/templates/http-certs-secret.yaml
  bitnami/thanos/templates/query-frontend/tls-secrets.yaml
  bitnami/thanos/templates/query/grpc-client-tls-secrets.yaml
  bitnami/thanos/templates/query/grpc-server-tls-secrets.yaml
  bitnami/thanos/templates/query/tls-secrets-grpc.yaml
  bitnami/thanos/templates/query/tls-secrets.yaml
  bitnami/thanos/templates/receive/grpc-server-tls-secrets.yaml
  bitnami/thanos/templates/receive/tls-secrets.yaml
  bitnami/thanos/templates/ruler/tls-secrets.yaml
  bitnami/thanos/templates/storegateway/grpc-server-tls-secrets.yaml
  bitnami/thanos/templates/storegateway/tls-secrets.yaml
Labels: verify, bitnami, thanos

#14663 [bitnami/spring-cloud-dataflow] Don't regenerate self-signed certs on upgrade
  bitnami/spring-cloud-dataflow/Chart.yaml
  bitnami/spring-cloud-dataflow/templates/server/tls-secret.yaml
Labels: verify, bitnami, spring-cloud-dataflow

#14662 [bitnami/spark] Don't regenerate self-signed certs on upgrade
  bitnami/spark/Chart.yaml
  bitnami/spark/templates/tls-secrets.yaml
Labels: verify, bitnami, spark

#14660 [bitnami/solr] Don't regenerate self-signed certs on upgrade
  bitnami/solr/Chart.yaml
  bitnami/solr/templates/ingress-tls-secrets.yaml
  bitnami/solr/templates/tls-secrets.yaml
Labels: verify, bitnami, solr

#14658 [bitnami/schema-registry] Don't regenerate self-signed certs on upgrade
  bitnami/schema-registry/Chart.yaml
  bitnami/schema-registry/templates/tls-secret.yaml
Labels: verify, bitnami, schema-registry

#14656 [bitnami/redis-cluster] Don't regenerate self-signed certs on upgrade
  bitnami/redis-cluster/Chart.yaml
  bitnami/redis-cluster/templates/tls-secret.yaml
Labels: verify, bitnami, redis-cluster

#14654 [bitnami/rabbitmq-cluster-operator] Don't regenerate self-signed certs on upgrade
  bitnami/rabbitmq-cluster-operator/Chart.yaml
  bitnami/rabbitmq-cluster-operator/templates/messaging-topology-operator/validating-webhook-configuration.yaml
Labels: verify, bitnami, rabbitmq-cluster-operator

#14650 [bitnami/pinniped] Don't regenerate self-signed certs on upgrade
  bitnami/pinniped/Chart.yaml
  bitnami/pinniped/templates/supervisor/tls-secret.yaml
Labels: verify, pinniped, bitnami

#14647 [bitnami/osclass] Don't regenerate self-signed certs on upgrade
  bitnami/osclass/Chart.yaml
  bitnami/osclass/templates/tls-secrets.yaml
Labels: verify, bitnami, osclass

#14645 [bitnami/oauth2-proxy] Don't regenerate self-signed certs on upgrade
  bitnami/oauth2-proxy/Chart.yaml
  bitnami/oauth2-proxy/templates/tls-secrets.yaml
Labels: verify, bitnami, oauth2-proxy

#14644 [bitnami/nginx] Don't regenerate self-signed certs on upgrade
  bitnami/nginx/Chart.yaml
  bitnami/nginx/templates/tls-secrets.yaml
Labels: verify, nginx, bitnami

#14643 [bitnami/nats] Don't regenerate self-signed certs on upgrade
  bitnami/nats/Chart.yaml
  bitnami/nats/templates/tls-secret.yaml
Labels: verify, bitnami, nats

#14641 [bitnami/minio] Don't regenerate self-signed certs on upgrade
  bitnami/minio/Chart.yaml
  bitnami/minio/templates/tls-secrets.yaml
Labels: verify, bitnami, minio

#14640 [bitnami/mediawiki] Don't regenerate self-signed certs on upgrade
  bitnami/mediawiki/Chart.yaml
  bitnami/mediawiki/templates/tls-secrets.yaml
Labels: verify, bitnami, mediawiki

#14638 [bitnami/mariadb-galera] Don't regenerate self-signed certs on upgrade
  bitnami/mariadb-galera/Chart.yaml
  bitnami/mariadb-galera/templates/tls-secrets.yaml
Labels: verify, bitnami, mariadb-galera

#14637 [bitnami/magento] Don't regenerate self-signed certs on upgrade
  bitnami/magento/Chart.yaml
  bitnami/magento/templates/tls-secrets.yaml
Labels: verify, magento, bitnami

#14629 [bitnami/kafka] Don't regenerate self-signed certs on upgrade
  bitnami/kafka/Chart.yaml
  bitnami/kafka/templates/tls-secrets.yaml
Labels: verify, kafka, bitnami

#14628 [bitnami/jupyterhub] Don't regenerate self-signed certs on upgrade
  bitnami/jupyterhub/Chart.yaml
  bitnami/jupyterhub/templates/proxy/tls-secret.yaml
Labels: verify, bitnami, jupyterhub

#14615 [bitnami/contour] Don't regenerate self-signed certs on upgrade
  bitnami/contour/Chart.yaml
  bitnami/contour/templates/default-backend/tls-secrets.yaml
Labels: verify, contour, bitnami

#14605 [bitnami/airflow] Don't regenerate self-signed certs on upgrade
  bitnami/airflow/Chart.yaml
  bitnami/airflow/templates/web/tls-secrets.yaml
Labels: verify, airflow, bitnami

#14627 [bitnami/jenkins] Don't regenerate self-signed certs on upgrade
  bitnami/jenkins/Chart.yaml
  bitnami/jenkins/templates/tls-secret.yaml
Labels: verify, jenkins, bitnami

#14636 [bitnami/logstash] Don't regenerate self-signed certs on upgrade
  bitnami/logstash/Chart.yaml
  bitnami/logstash/templates/tls-secret.yaml
Labels: verify, bitnami, logstash

#14646 [bitnami/odoo] Don't regenerate self-signed certs on upgrade
  bitnami/odoo/Chart.yaml
  bitnami/odoo/templates/tls-secrets.yaml
Labels: verify, odoo, bitnami

#14661 [bitnami/sonarqube] Don't regenerate self-signed certs on upgrade
  bitnami/sonarqube/Chart.yaml
  bitnami/sonarqube/templates/tls-secret.yaml
Labels: verify, bitnami, sonarqube

#14668 [bitnami/zookeeper] Don't regenerate self-signed certs on upgrade
  bitnami/zookeeper/Chart.yaml
  bitnami/zookeeper/templates/tls-secrets.yaml
Labels: verify, bitnami, zookeeper

#14621 [bitnami/ghost] Don't regenerate self-signed certs on upgrade
  bitnami/ghost/Chart.yaml
  bitnami/ghost/templates/tls-secrets.yaml
Labels: verify, bitnami, ghost

#14634 [bitnami/kube-prometheus] Don't regenerate self-signed certs on upgrade
  bitnami/kube-prometheus/Chart.yaml
  bitnami/kube-prometheus/templates/alertmanager/tls-secrets.yaml
  bitnami/kube-prometheus/templates/prometheus/tls-secrets.yaml
Labels: verify, bitnami, kube-prometheus

#14573 [bitnami/mongodb] Change endpoint for metrics liveness and readiness probes
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/templates/hidden/statefulset.yaml
  bitnami/mongodb/templates/replicaset/statefulset.yaml
  bitnami/mongodb/templates/standalone/dep-sts.yaml
Labels: verify, in-progress, mongodb

#14659 [bitnami/sealed-secrets] Don't regenerate self-signed certs on upgrade
  bitnami/sealed-secrets/Chart.yaml
  bitnami/sealed-secrets/templates/tls-secret.yaml
Labels: verify, bitnami, sealed-secrets

#14639 [bitnami/matomo] Don't regenerate self-signed certs on upgrade
  bitnami/matomo/Chart.yaml
  bitnami/matomo/templates/tls-secrets.yaml
Labels: verify, bitnami, matomo

#14631 [bitnami/kiam] Don't regenerate self-signed certs on upgrade
  bitnami/kiam/Chart.yaml
  bitnami/kiam/templates/_helpers.tpl
Labels: verify, bitnami, kiam

#14617 [bitnami/dokuwiki] Don't regenerate self-signed certs on upgrade
  bitnami/dokuwiki/Chart.yaml
  bitnami/dokuwiki/templates/tls-secrets.yaml
Labels: verify, bitnami, dokuwiki

#14624 [bitnami/grafana-loki] Don't regenerate self-signed certs on upgrade
  bitnami/grafana-loki/Chart.yaml
  bitnami/grafana-loki/templates/gateway/tls-secret.yaml
Labels: verify, bitnami, grafana-loki

#14606 [bitnami/apache] Don't regenerate self-signed certs on upgrade
  bitnami/apache/Chart.yaml
  bitnami/apache/templates/tls-secrets.yaml
Labels: verify, apache, bitnami

#14607 [bitnami/appsmith] Don't regenerate self-signed certs on upgrade
  bitnami/appsmith/Chart.yaml
  bitnami/appsmith/templates/client/tls-secret.yaml
Labels: verify, bitnami, appsmith

#14613 [bitnami/concourse] Don't regenerate self-signed certs on upgrade
  bitnami/concourse/Chart.yaml
  bitnami/concourse/templates/web/tls-secrets.yaml
Labels: verify, bitnami, concourse

#14618 [bitnami/elasticsearch] Don't regenerate self-signed certs on upgrade
  bitnami/elasticsearch/Chart.yaml
  bitnami/elasticsearch/templates/ingress-tls-secrets.yaml
  bitnami/elasticsearch/templates/tls-secret.yaml
  bitnami/elasticsearch/values.yaml
Labels: verify, bitnami, elasticsearch

#14611 [bitnami/cassandra] Don't regenerate self-signed certs on upgrade
  bitnami/cassandra/Chart.yaml
  bitnami/cassandra/templates/_helpers.tpl
  bitnami/cassandra/templates/tls-secret.yaml
Labels: verify, bitnami, cassandra

#14612 [bitnami/clickhouse] Don't regenerate self-signed certs on upgrade
  bitnami/clickhouse/Chart.yaml
  bitnami/clickhouse/templates/ingress-tls-secrets.yaml
  bitnami/clickhouse/templates/tls-secret.yaml
Labels: verify, bitnami, clickhouse
