Repository bitnami/charts, pull requests merged in 2023-10, with the labels that each got.

#19632 [bitnami/metallb] Use common capabilities for PSP
  bitnami/metallb/Chart.lock
  bitnami/metallb/Chart.yaml
  bitnami/metallb/templates/controller/psp.yaml
  bitnami/metallb/templates/controller/rbac.yaml
  bitnami/metallb/templates/speaker/psp.yaml
  bitnami/metallb/templates/speaker/rbac.yaml
Labels: verify, bitnami, metallb

#19628 [bitnami/influxdb] Use common capabilities for PSP
  bitnami/influxdb/Chart.lock
  bitnami/influxdb/Chart.yaml
  bitnami/influxdb/templates/psp-role.yaml
  bitnami/influxdb/templates/psp-rolebinding.yaml
  bitnami/influxdb/templates/psp.yaml
Labels: verify, bitnami, influxdb

#19638 [bitnami/redis-cluster] Use common capabilities for PSP
  bitnami/redis-cluster/Chart.lock
  bitnami/redis-cluster/Chart.yaml
  bitnami/redis-cluster/templates/psp.yaml
  bitnami/redis-cluster/templates/redis-role.yaml
Labels: verify, bitnami, redis-cluster

#19641 [bitnami/thanos] Use common capabilities for PSP
  bitnami/thanos/Chart.lock
  bitnami/thanos/Chart.yaml
  bitnami/thanos/templates/query-frontend/psp-clusterrole.yaml
  bitnami/thanos/templates/query-frontend/psp-clusterrolebinding.yaml
  bitnami/thanos/templates/query-frontend/psp.yaml
  bitnami/thanos/templates/query/psp-clusterrole.yaml
  bitnami/thanos/templates/query/psp-clusterrolebinding.yaml
  bitnami/thanos/templates/query/psp.yaml
Labels: verify, bitnami, thanos

#19631 [bitnami/kube-state-metrics] Use common capabilities for PSP
  bitnami/kube-state-metrics/Chart.yaml
  bitnami/kube-state-metrics/templates/psp-clusterrole.yaml
  bitnami/kube-state-metrics/templates/psp-clusterrolebinding.yaml
  bitnami/kube-state-metrics/templates/psp.yaml
Labels: verify, bitnami, kube-state-metrics

#19678 [bitnami/opensearch] Modify liveness probes
  bitnami/opensearch/Chart.yaml
  bitnami/opensearch/templates/coordinating/statefulset.yaml
  bitnami/opensearch/templates/data/statefulset.yaml
  bitnami/opensearch/templates/ingest/statefulset.yaml
  bitnami/opensearch/templates/master/statefulset.yaml
Labels: verify, bitnami, opensearch

#19677 [bitnami/elasticsearch] Modify liveness probes
  bitnami/elasticsearch/Chart.yaml
  bitnami/elasticsearch/templates/coordinating/statefulset.yaml
  bitnami/elasticsearch/templates/data/statefulset.yaml
  bitnami/elasticsearch/templates/ingest/statefulset.yaml
  bitnami/elasticsearch/templates/master/statefulset.yaml
Labels: verify, bitnami, elasticsearch

#19675 [bitnami/flink] Fix pullSecrets and extraVolumeMounts
  bitnami/flink/Chart.yaml
  bitnami/flink/templates/_helpers.tpl
  bitnami/flink/templates/jobmanager/deployment.yaml
  bitnami/flink/templates/taskmanager/deployment.yaml
Labels: verify, bitnami, flink

#19625 [bitnami/concourse] Use common capabilities for PSP
  bitnami/concourse/Chart.yaml
  bitnami/concourse/templates/web/podsecuritypolicy.yaml
  bitnami/concourse/templates/web/role.yaml
  bitnami/concourse/templates/worker/podsecuritypolicy.yaml
  bitnami/concourse/templates/worker/role.yaml
Labels: verify, bitnami, concourse

#19685 [bitnami/elasticsearch] Update Ginkgo tests
  .vib/elasticsearch/ginkgo/elasticsearch_suite_test.go
  .vib/elasticsearch/ginkgo/elasticsearch_test.go
Labels: verify, elasticsearch

#19688 [bitnami/pinniped] Add kubeCertAgent imagePullSecrets
  bitnami/pinniped/Chart.yaml
  bitnami/pinniped/values.yaml
Labels: verify, pinniped, bitnami

#19687 [bitnami/pinniped] Improve ginkgo tests debug output
  .vib/pinniped/ginkgo/pinniped_test.go
Labels: verify, pinniped, bitnami

#19643 bitnami/rabbitmq Add support for enableServiceLinks on rabbitmq chart
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/README.md
  bitnami/rabbitmq/templates/statefulset.yaml
  bitnami/rabbitmq/values.yaml
Labels: verify, in-progress, rabbitmq

#19224 [bitnami/kafka] Adding support for the sasl mechanism, oauthbearer
  bitnami/kafka/Chart.yaml
  bitnami/kafka/README.md
  bitnami/kafka/templates/NOTES.txt
  bitnami/kafka/templates/_helpers.tpl
  bitnami/kafka/templates/broker/statefulset.yaml
  bitnami/kafka/templates/controller-eligible/statefulset.yaml
  bitnami/kafka/templates/provisioning/job.yaml
  bitnami/kafka/templates/scripts-configmap.yaml
  bitnami/kafka/templates/secrets.yaml
  bitnami/kafka/values.yaml
Labels: verify, in-progress, kafka

#19692 [bitnami/matomo] Disable cronjobs for testing
  .vib/matomo/runtime-parameters.yaml
Labels: verify, bitnami, matomo

#19680 [bitnami/common] render labels correctly when they contain templates
  bitnami/common/Chart.yaml
  bitnami/common/templates/_labels.tpl
Labels: in-progress, common

#19676 [bitnami/postgresql] Support disabling backup cron containerSecurityContext
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/README.md
  bitnami/postgresql/templates/backup/cronjob.yaml
  bitnami/postgresql/values.yaml
Labels: verify, in-progress, postgresql

#19738 [bitnami/pinniped] Bump chart version (missing in #19733)
  bitnami/pinniped/Chart.yaml
Labels: verify, pinniped, bitnami

#19598 [bitnami/appsmith] Create options for local git repo data on persistent storage
  bitnami/appsmith/Chart.yaml
  bitnami/appsmith/README.md
  bitnami/appsmith/templates/_helpers.tpl
  bitnami/appsmith/templates/backend/deployment.yaml
  bitnami/appsmith/values.yaml
Labels: verify, in-progress, appsmith

#19516 [bitnami/postgresql] Add TimeZone to CronJob of backup
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/README.md
  bitnami/postgresql/templates/backup/cronjob.yaml
  bitnami/postgresql/values.yaml
Labels: verify, in-progress, postgresql

#19682 [bitnami/kafka] log4j configmap metadata
  bitnami/kafka/Chart.yaml
  bitnami/kafka/templates/log4j-configmap.yaml
Labels: verify, in-progress, kafka

#19241 [bitnami/mongodb] support backups for standalone TLS-enabled instances
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/templates/backup/cronjob.yaml
Labels: verify, in-progress, mongodb

#19702 [bitnami/common] update imagePullSecrets to handle map and list format
  bitnami/common/Chart.yaml
  bitnami/common/templates/_images.tpl
Labels: verify, in-progress, common

#19777 [bitnami/apache] update bitnami/common
  bitnami/apache/Chart.lock
  bitnami/apache/Chart.yaml
Labels: verify, apache, triage

#19630 [bitnami/kube-prometheus] Use common capabilities for PSP
  bitnami/kube-prometheus/Chart.yaml
  bitnami/kube-prometheus/templates/alertmanager/psp-clusterrole.yaml
  bitnami/kube-prometheus/templates/alertmanager/psp-clusterrolebinding.yaml
  bitnami/kube-prometheus/templates/alertmanager/psp.yaml
  bitnami/kube-prometheus/templates/prometheus-operator/psp-clusterrole.yaml
  bitnami/kube-prometheus/templates/prometheus-operator/psp-clusterrolebinding.yaml
  bitnami/kube-prometheus/templates/prometheus-operator/psp.yaml
  bitnami/kube-prometheus/templates/prometheus/psp-clusterrole.yaml
  bitnami/kube-prometheus/templates/prometheus/psp-clusterrolebinding.yaml
  bitnami/kube-prometheus/templates/prometheus/psp.yaml
Labels: verify, bitnami, kube-prometheus

#19563 [bitnami/redis-cluster] feat: optionally disable Service.spec.loadBalancerIP for external access
  bitnami/redis-cluster/Chart.yaml
  bitnami/redis-cluster/README.md
  bitnami/redis-cluster/templates/svc-cluster-external-access.yaml
  bitnami/redis-cluster/values.yaml
Labels: verify, in-progress, redis-cluster

#19781 [bitnami/consul] update bitnami/common
  bitnami/consul/Chart.lock
  bitnami/consul/Chart.yaml
Labels: verify, triage, consul

#19778 [bitnami/aspnet-core] update bitnami/common
  bitnami/aspnet-core/Chart.lock
  bitnami/aspnet-core/Chart.yaml
Labels: verify, in-progress, aspnet-core

#19780 [bitnami/cert-manager] update bitnami/common
  bitnami/cert-manager/Chart.lock
  bitnami/cert-manager/Chart.yaml
Labels: verify, triage, cert-manager

#19782 [bitnami/contour] update bitnami/common
  bitnami/contour/Chart.lock
  bitnami/contour/Chart.yaml
Labels: verify, triage, contour

#19783 [bitnami/deepspeed] update bitnami/common
  bitnami/deepspeed/Chart.lock
  bitnami/deepspeed/Chart.yaml
Labels: verify, in-progress, deepspeed

#19785 [bitnami/etcd] update bitnami/common
  bitnami/etcd/Chart.lock
  bitnami/etcd/Chart.yaml
Labels: verify, triage, etcd

#19779 [bitnami/cassandra] update bitnami/common
  bitnami/cassandra/Chart.lock
  bitnami/cassandra/Chart.yaml
Labels: verify, in-progress, cassandra

#19767 [bitnami/kafka] Update Readme.md
  bitnami/kafka/README.md
Labels: verify, kafka, bitnami

#19766 [bitnami/mysql] Remove the specified collation config to keep it as d…
  bitnami/mysql/Chart.yaml
  bitnami/mysql/values.yaml
Labels: verify, in-progress, mysql

#19636 [bitnami/postgresql-ha] Use common capabilities for PSP
  bitnami/postgresql-ha/Chart.yaml
  bitnami/postgresql-ha/templates/podsecuritypolicy.yaml
  bitnami/postgresql-ha/templates/role.yaml
Labels: verify, bitnami, postgresql-ha

#19635 [bitnami/node-exporter] Use common capabilities for PSP
  bitnami/node-exporter/Chart.yaml
  bitnami/node-exporter/templates/psp-clusterrole.yaml
  bitnami/node-exporter/templates/psp-clusterrolebinding.yaml
  bitnami/node-exporter/templates/psp.yaml
Labels: verify, bitnami, node-exporter

#19993 [bitnami/*] Update TESTING.md with new approach
  TESTING.md
Labels: verify, bitnami

#19597 [bitnami/supabase] Fix existingSecretPasswordKey for the external database
  bitnami/supabase/Chart.yaml
  bitnami/supabase/README.md
  bitnami/supabase/templates/_helpers.tpl
  bitnami/supabase/templates/externaldb-secrets.yaml
  bitnami/supabase/values.yaml
Labels: verify, bitnami, supabase

#19694 [bitnami/concourse] Skip test if platform is air-gapped
  .vib/concourse/goss/web/goss.yaml
Labels: verify, bitnami, concourse

#19762 [bitnami/flux] Skip tests if platform is air-gapped
  .vib/flux/goss/goss-wait.yaml
  .vib/flux/goss/goss.yaml
  .vib/flux/runtime-parameters.yaml
Labels: verify, flux

#20006 [bitnami/phpbb] Update MariaDB to 14.x.x
  bitnami/phpbb/Chart.lock
  bitnami/phpbb/Chart.yaml
Labels: verify, bitnami, phpbb

#19837 [bitnami/harbor] Fix: volume permissions not updating the folder root and scandata
  bitnami/harbor/Chart.yaml
  bitnami/harbor/templates/jobservice/jobservice-dpl.yaml
Labels: verify, in-progress, harbor

#20010 [bitnami/spring-cloud-dataflow] Update MariaDB to 14.x.x
  bitnami/spring-cloud-dataflow/Chart.lock
  bitnami/spring-cloud-dataflow/Chart.yaml
  bitnami/spring-cloud-dataflow/README.md
Labels: verify, bitnami, spring-cloud-dataflow

#20020 [bitnami/phpbb] Update major
  bitnami/phpbb/Chart.yaml
  bitnami/phpbb/README.md
Labels: verify, bitnami, phpbb

#20021 [bitnami/mediawiki] Update MariaDB to 14.x.x
  bitnami/mediawiki/Chart.lock
  bitnami/mediawiki/Chart.yaml
  bitnami/mediawiki/README.md
Labels: verify, bitnami, mediawiki

#20023 [bitnami/osclass] Update MariaDB to 14.x.x
  bitnami/osclass/Chart.lock
  bitnami/osclass/Chart.yaml
  bitnami/osclass/README.md
Labels: verify, bitnami, osclass

#20048 [bitnami/supabase] Update Kong subchart
  bitnami/supabase/Chart.lock
  bitnami/supabase/Chart.yaml
  bitnami/supabase/README.md
Labels: verify, bitnami, supabase

#20008 [bitnami/prestashop] Update MariaDB to 14.x.x
  bitnami/prestashop/Chart.lock
  bitnami/prestashop/Chart.yaml
  bitnami/prestashop/README.md
Labels: verify, prestashop, bitnami

#20011 [bitnami/suitcrm] Update MariaDB to 14.x.x
  bitnami/suitecrm/Chart.lock
  bitnami/suitecrm/Chart.yaml
  bitnami/suitecrm/README.md
Labels: verify, bitnami, suitecrm

#20013 [bitnami/ejbca] Update MariaDB to 14.x.x
  bitnami/ejbca/Chart.lock
  bitnami/ejbca/Chart.yaml
  bitnami/ejbca/README.md
Labels: verify, bitnami, ejbca

#20016 [bitnami/magento] Update MariaDB to 14.x.x
  bitnami/magento/Chart.lock
  bitnami/magento/Chart.yaml
  bitnami/magento/README.md
Labels: verify, magento, bitnami

#19689 [bitnami/redis] Support `persistentVolumeClaimRetentionPolicy` for redis
  bitnami/redis/Chart.yaml
  bitnami/redis/README.md
  bitnami/redis/templates/master/application.yaml
  bitnami/redis/templates/replicas/statefulset.yaml
  bitnami/redis/templates/sentinel/statefulset.yaml
  bitnami/redis/values.yaml
Labels: verify, in-progress, redis

#20014 [bitnami/jasperreports] Update MariaDB to 14.x.x
  bitnami/jasperreports/Chart.lock
  bitnami/jasperreports/Chart.yaml
  bitnami/jasperreports/README.md
Labels: verify, bitnami, jasperreports

#20018 [bitnami/*] Add CI retriability for release PRs
  .github/workflows/ci-pipeline.yml
  .github/workflows/retry-failed-releases.yml
Labels: verify, bitnami

#19998 [bitnami/drupal] Update MariaDB to 14.x.x
  bitnami/drupal/Chart.lock
  bitnami/drupal/Chart.yaml
  bitnami/drupal/README.md
Labels: verify, bitnami, drupal

#20012 [bitnami/wordpress] Update MariaDB to 14.x.x
  bitnami/wordpress/Chart.lock
  bitnami/wordpress/Chart.yaml
  bitnami/wordpress/README.md
Labels: verify, bitnami, wordpress

#19681 [bitnami/grafana] Add option for extra ports on Grafana Deployment
  bitnami/grafana/Chart.yaml
  bitnami/grafana/README.md
  bitnami/grafana/templates/deployment.yaml
  bitnami/grafana/values.yaml
Labels: verify, in-progress, grafana

#20007 [bitnami/phpmyadmin] Update MariaDB to 14.x.x
  bitnami/phpmyadmin/Chart.lock
  bitnami/phpmyadmin/Chart.yaml
  bitnami/phpmyadmin/README.md
Labels: verify, bitnami, phpmyadmin

#20015 [bitnami/joomla] Update MariaDB to 14.x.x
  bitnami/joomla/Chart.lock
  bitnami/joomla/Chart.yaml
  bitnami/joomla/README.md
Labels: verify, bitnami, joomla

#20022 [bitnami/opencart] Update MariaDB to 14.x.x
  bitnami/opencart/Chart.lock
  bitnami/opencart/Chart.yaml
  bitnami/opencart/README.md
Labels: verify, bitnami, opencart

#20068 [bitnami/mariadb] Update README.md
  bitnami/mariadb/README.md
Labels: verify, mariadb, bitnami

#20005 [bitnami/moodle] Update MariaDB to 14.x.x
  bitnami/moodle/Chart.lock
  bitnami/moodle/Chart.yaml
  bitnami/moodle/README.md
Labels: verify, moodle, bitnami

#20009 [bitnami/redmine] Update MariaDB to 14.x.x
  bitnami/redmine/Chart.lock
  bitnami/redmine/Chart.yaml
  bitnami/redmine/README.md
Labels: verify, bitnami, redmine

#19806 [bitnami/kubeapps] Release Kubeapps 2.9.0 and bump bitnami/postgresql to its latest version
  .vib/kubeapps/cypress/cypress/integration/kubeapps_spec.js
  bitnami/kubeapps/Chart.lock
  bitnami/kubeapps/Chart.yaml
  bitnami/kubeapps/README.md
  bitnami/kubeapps/templates/_helpers.tpl
  bitnami/kubeapps/templates/apprepository/apprepositories.yaml
  bitnami/kubeapps/templates/apprepository/deployment.yaml
  bitnami/kubeapps/templates/apprepository/rbac.yaml
  bitnami/kubeapps/templates/kubeappsapis/deployment.yaml
  bitnami/kubeapps/templates/kubeappsapis/service.yaml
  bitnami/kubeapps/values.yaml
Labels: verify, in-progress, bitnami, kubeapps

#20137 [bitnami/zookeeper] Disable ginkgo tests temporarily
  .vib/zookeeper/vib-verify.json
Labels: bitnami

#20229 [bitnami/kibana] Increase Kibana Cypress test timeout
  .vib/kibana/cypress/cypress.json
Labels: verify, bitnami

#20230 [bitnami/keycloak] Increase Keycloak Cypress test timeout
  .vib/keycloak/cypress/cypress.json
Labels: verify, bitnami

#20231 [bitnami/apisix] Fix Apisix goss test
  .vib/apisix/goss/goss.yaml
Labels: verify, bitnami

#20080 [bitnami/fluentd] update bitnami/common
  bitnami/fluentd/Chart.lock
  bitnami/fluentd/Chart.yaml
Labels: triage, fluentd

#20079 [bitnami/fluent-bit] update bitnami/common
  bitnami/fluent-bit/Chart.lock
  bitnami/fluent-bit/Chart.yaml
Labels: triage, fluent-bit

#20081 [bitnami/spark] update bitnami/common
  bitnami/spark/Chart.lock
  bitnami/spark/Chart.yaml
Labels: triage, spark

#20072 [bitnami/keycloak] Remove reference to missing param in README
  bitnami/keycloak/README.md
  bitnami/keycloak/values.yaml
Labels: verify, keycloak, bitnami

#20069 [bitnami/mlflow] feat: 🎉 Add chart
  .vib/mlflow/cypress/cypress.json
  .vib/mlflow/cypress/cypress/fixtures/scripts.json
  .vib/mlflow/cypress/cypress/integration/mlflow_spec.js
  .vib/mlflow/cypress/cypress/support/commands.js
  .vib/mlflow/cypress/cypress/support/index.js
  .vib/mlflow/goss/goss.yaml
  .vib/mlflow/runtime-parameters.yaml
  .vib/mlflow/vib-publish.json
  .vib/mlflow/vib-verify.json
  bitnami/mlflow/.helmignore
  bitnami/mlflow/Chart.lock
  bitnami/mlflow/Chart.yaml
  bitnami/mlflow/README.md
  bitnami/mlflow/templates/NOTES.txt
  bitnami/mlflow/templates/_helpers.tpl
  bitnami/mlflow/templates/extra-list.yaml
  bitnami/mlflow/templates/run/dep-job.yaml
  bitnami/mlflow/templates/run/pvc.yaml
  bitnami/mlflow/templates/run/service-account.yaml
  bitnami/mlflow/templates/run/source-configmap.yaml
  bitnami/mlflow/templates/tracking/auth-secret.yaml
  bitnami/mlflow/templates/tracking/configmap-overrides.yaml
  bitnami/mlflow/templates/tracking/deployment.yaml
  bitnami/mlflow/templates/tracking/externaldb-secret.yaml
  bitnami/mlflow/templates/tracking/externals3-secret.yaml
  bitnami/mlflow/templates/tracking/hpa.yaml
  bitnami/mlflow/templates/tracking/ingress-tls-secrets.yaml
  bitnami/mlflow/templates/tracking/ingress.yaml
  bitnami/mlflow/templates/tracking/networkpolicy.yaml
  bitnami/mlflow/templates/tracking/pdb.yaml
  bitnami/mlflow/templates/tracking/pvc.yaml
  bitnami/mlflow/templates/tracking/service-account.yaml
  bitnami/mlflow/templates/tracking/service.yaml
  bitnami/mlflow/templates/tracking/servicemonitor.yaml
  bitnami/mlflow/templates/tracking/tls-secret.yaml
  bitnami/mlflow/templates/tracking/vpa.yaml
  bitnami/mlflow/values.schema.json
  bitnami/mlflow/values.yaml
Labels: verify, bitnami, mlflow

#19425 [bitnami/kube-prometheus] prometheus-operator use podLabels helper
  bitnami/kube-prometheus/Chart.yaml
  bitnami/kube-prometheus/templates/prometheus-operator/deployment.yaml
Labels: verify, bitnami, kube-prometheus

#19825 [bitnami/grafana-mimir] Fix alertmanager external url
  bitnami/grafana-mimir/Chart.yaml
  bitnami/grafana-mimir/values.yaml
Labels: verify, in-progress, grafana-mimir

#20249 [bitnami/kubeapps] Update cypress tests for kubeapps
  .vib/kubeapps/cypress/cypress/fixtures/releases.json
  .vib/kubeapps/cypress/cypress/integration/kubeapps_spec.js
Labels: verify, bitnami

#20254 [bitnami/mlflow] chore: :construction_worker: Update vib-publish.json
  .vib/mlflow/vib-publish.json
  .vib/mlflow/vib-verify.json
Labels: verify, bitnami

#19558 bitnami/rabbitmq corrected clustering.partitionHandling enum values
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/README.md
  bitnami/rabbitmq/values.yaml
Labels: verify, in-progress, rabbitmq

#20064 [bitnami/mediawiki] Add support for N replicas
  bitnami/mediawiki/Chart.yaml
  bitnami/mediawiki/README.md
  bitnami/mediawiki/templates/deployment.yaml
  bitnami/mediawiki/values.yaml
Labels: verify, bitnami, mediawiki

#20253 [bitnami/nats] test: :white_check_mark: Add ginkgo persistence tests
  .vib/nats/ginkgo/go.mod
  .vib/nats/ginkgo/go.sum
  .vib/nats/ginkgo/nats_suite_test.go
  .vib/nats/ginkgo/nats_test.go
  .vib/nats/runtime-parameters.yaml
  .vib/nats/vib-verify.json
  bitnami/nats/Chart.yaml
Labels: verify, bitnami, nats

#20251 [bitnami/keycloak] Update tests to use HTTPS
  .vib/keycloak/goss/goss.yaml
  .vib/keycloak/runtime-parameters.yaml
  .vib/keycloak/vib-verify.json
Labels: verify, keycloak, bitnami

#19836 [bitnami/metallb] Fix memberlist secret key configuration
  bitnami/metallb/Chart.yaml
  bitnami/metallb/templates/speaker/daemonset.yaml
Labels: verify, bitnami, metallb

#20257 [bitnami/pinniped] test: :white_check_mark: Update to use pinniped-cli
  .vib/pinniped/ginkgo/integration_suite_test.go
  .vib/pinniped/ginkgo/pinniped_test.go
  .vib/pinniped/ginkgo/scripts/pinniped-auth.sh
  bitnami/pinniped/Chart.yaml
Labels: verify, pinniped, bitnami

#19987 [bitnami/wordpress] Add existing secret entry to the 'memcached' section at wordpress values.yaml
  bitnami/wordpress/Chart.yaml
  bitnami/wordpress/README.md
  bitnami/wordpress/values.yaml
Labels: verify, in-progress, wordpress

#20272 [bitnami/kafka] Update README.md
  bitnami/kafka/README.md
Labels: verify, kafka, bitnami

#20279 [bitnami/pinniped] test: :white_check_mark: Use internal API server
  .vib/pinniped/ginkgo/scripts/pinniped-auth.sh
Labels: verify, bitnami

#20073 [bitnami/*] Improve logic for retries workflow
  .github/workflows/retry-failed-releases.yml
Labels: verify, bitnami

#20275 [bitnami/spring-cloud-dataflow] Update kafka to 26.x.x
  bitnami/spring-cloud-dataflow/Chart.lock
  bitnami/spring-cloud-dataflow/Chart.yaml
  bitnami/spring-cloud-dataflow/README.md
Labels: verify, bitnami, spring-cloud-dataflow

#19840 [bitnami/common]: Address admission configuration typo
  bitnami/common/Chart.yaml
  bitnami/common/templates/_capabilities.tpl
Labels: triage, common

#19661 [bitnami/rabbitmq-cluster-operator] Add-support-for-metrics-endpoint
  bitnami/rabbitmq-cluster-operator/Chart.yaml
  bitnami/rabbitmq-cluster-operator/README.md
  bitnami/rabbitmq-cluster-operator/templates/cluster-operator/servicemonitor.yaml
  bitnami/rabbitmq-cluster-operator/values.yaml
Labels: verify, in-progress, rabbitmq-cluster-operator

#20256 Update Goss scripts making it compatible with Goss 4
  .vib/apache/goss/goss.yaml
  .vib/apisix/goss/goss.yaml
  .vib/cassandra/goss/goss.yaml
  .vib/clickhouse/goss/goss.yaml
  .vib/consul/goss/goss.yaml
  .vib/deepspeed/goss/goss.yaml
  .vib/discourse/goss/goss.yaml
  .vib/dokuwiki/goss/goss.yaml
  .vib/drupal/goss/goss.yaml
  .vib/ejbca/goss/goss.yaml
  .vib/elasticsearch/goss/goss.yaml
  .vib/fluent-bit/goss/goss.yaml
  .vib/fluentd/goss/goss.yaml
  .vib/gitea/goss/goss.yaml
  .vib/grafana-loki/goss/promtail/goss.yaml
  .vib/grafana-loki/goss/querier/goss.yaml
  .vib/grafana-mimir/goss/goss.yaml
  .vib/grafana-tempo/goss/goss.yaml
  .vib/harbor/goss/goss.yaml
  .vib/jasperreports/goss/goss.yaml
  .vib/joomla/goss/goss.yaml
  .vib/jupyterhub/goss/goss.yaml
  .vib/kafka/goss/goss.yaml
  .vib/keycloak/goss/goss.yaml
  .vib/kibana/goss/goss.yaml
  .vib/kong/goss/goss.yaml
  .vib/kubeapps/goss/goss.yaml
  .vib/kubernetes-event-exporter/goss/goss.yaml
  .vib/logstash/goss/goss.yaml
  .vib/mariadb-galera/goss/goss.yaml
  .vib/mariadb/goss/goss.yaml
  .vib/mediawiki/goss/goss.yaml
  .vib/milvus/goss/goss.yaml
  .vib/mlflow/goss/goss.yaml
  .vib/mongodb-sharded/goss/goss.yaml
  .vib/mongodb/goss/goss.yaml
  .vib/multus-cni/goss/goss.yaml
  .vib/mysql/goss/goss.yaml
  .vib/nginx/goss/goss.yaml
  .vib/odoo/goss/goss.yaml
  .vib/opencart/goss/goss.yaml
  .vib/opensearch/goss/goss.yaml
  .vib/osclass/goss/goss.yaml
  .vib/parse/goss/dashboard/goss.yaml
  .vib/parse/goss/server/goss.yaml
  .vib/phpmyadmin/goss/goss.yaml
  .vib/postgresql/goss/goss.yaml
  .vib/prestashop/goss/goss.yaml
  .vib/prometheus/goss/goss.yaml
  .vib/redmine/goss/goss.yaml
  .vib/schema-registry/goss/goss.yaml
  .vib/solr/goss/goss.yaml
  .vib/sonarqube/goss/goss.yaml
  .vib/spring-cloud-dataflow/goss/goss.yaml
  .vib/suitecrm/goss/goss.yaml
  .vib/supabase/goss/goss.yaml
  .vib/whereabouts/goss/goss.yaml
  .vib/wordpress/goss/goss.yaml
  .vib/zookeeper/goss/goss.yaml
Labels: verify, bitnami

#20271 [bitnami/matomo] fix wrong indent of extra volumes inside cronjobs
  bitnami/matomo/Chart.yaml
  bitnami/matomo/README.md
  bitnami/matomo/templates/cronjob.yaml
  bitnami/matomo/values.yaml
Labels: verify, in-progress, matomo

#20285 [bitnami/*] Fix rerun_url parsing for the retries workflow
  .github/workflows/retry-failed-releases.yml
Labels: verify, bitnami

#20297 [bitnami/airflow] Update airflow-worker image including git
  bitnami/airflow/Chart.yaml
  bitnami/airflow/README.md
  bitnami/airflow/values.yaml
Labels: verify, airflow

#20305 Adapt some tests to Goss 4
  .vib/clickhouse/goss/goss.yaml
  .vib/concourse/goss/worker/goss.yaml
  .vib/mariadb/goss/goss.yaml
  .vib/mysql/goss/goss.yaml
  .vib/postgresql/goss/goss.yaml
Labels: verify, bitnami

#20306 Quote everything inside stdout/contents except regexp
  .vib/clickhouse/goss/goss.yaml
  .vib/consul/goss/goss.yaml
  .vib/discourse/goss/goss.yaml
  .vib/etcd/goss/goss.yaml
  .vib/influxdb/goss/goss.yaml
  .vib/jupyterhub/goss/goss.yaml
  .vib/kafka/goss/goss.yaml
  .vib/logstash/goss/goss.yaml
  .vib/mariadb-galera/goss/goss.yaml
  .vib/memcached/goss/goss.yaml
  .vib/mongodb-sharded/goss/goss.yaml
  .vib/mongodb/goss/goss.yaml
  .vib/nginx-ingress-controller/goss/goss.yaml
  .vib/odoo/goss/goss.yaml
  .vib/postgresql-ha/goss/repmgr/goss.yaml
  .vib/prometheus/goss/goss.yaml
  .vib/rabbitmq/goss/goss.yaml
  .vib/redis/goss/goss.yaml
  .vib/solr/goss/goss.yaml
  .vib/spring-cloud-dataflow/goss/goss.yaml
  .vib/wordpress/goss/goss.yaml
  .vib/zookeeper/goss/goss.yaml
Labels: verify, bitnami

#20226 [bitnami/kafka] Amend service name for broker external services
  bitnami/kafka/Chart.yaml
  bitnami/kafka/templates/broker/svc-external-access.yaml
Labels: verify, kafka, bitnami

#20219 [bitnami/mongodb] whitespace preventing YAML from being parsed
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/templates/hidden/headless-svc.yaml
Labels: verify, in-progress, mongodb

#20334 [bitnami/common] Standardize documentation
  bitnami/common/README.md
Labels: verify, bitnami, common

#19427 [bitnami/kafka] init-script: Remove PEM certificates before start
  bitnami/kafka/Chart.yaml
  bitnami/kafka/templates/scripts-configmap.yaml
Labels: verify, kafka, bitnami

#20326 [bitnami/rabbitmq-cluster-operator] - Add support for PodMonitor
  bitnami/rabbitmq-cluster-operator/Chart.yaml
  bitnami/rabbitmq-cluster-operator/README.md
  bitnami/rabbitmq-cluster-operator/templates/cluster-operator/metrics-service.yaml
  bitnami/rabbitmq-cluster-operator/templates/cluster-operator/podmonitor.yaml
  bitnami/rabbitmq-cluster-operator/templates/cluster-operator/servicemonitor.yaml
  bitnami/rabbitmq-cluster-operator/templates/messaging-topology-operator/metrics-service.yaml
  bitnami/rabbitmq-cluster-operator/templates/messaging-topology-operator/podmonitor.yaml
  bitnami/rabbitmq-cluster-operator/templates/messaging-topology-operator/servicemonitor.yaml
  bitnami/rabbitmq-cluster-operator/values.yaml
Labels: verify, in-progress, rabbitmq-cluster-operator

#19789 [bitnami/kafka] replicate variable logic for keystore
  bitnami/kafka/Chart.yaml
  bitnami/kafka/README.md
  bitnami/kafka/templates/scripts-configmap.yaml
  bitnami/kafka/values.yaml
Labels: verify, in-progress, kafka

#20335 [templates] Update values file with the latest standardizations
  template/CHART_NAME/values.yaml
Labels: verify, bitnami

#20356 [bitnami/*] Fix Solve column id
  .github/workflows/.env
Labels: verify, bitnami

#19577 [bitnami/mysql] Adds a parameter to change the default authentication plugin
  bitnami/mysql/Chart.yaml
  bitnami/mysql/README.md
  bitnami/mysql/values.yaml
Labels: stale, verify, bitnami, mysql

#20366 [bitnami/pytorch] Fix typo in the README file
  bitnami/pytorch/README.md
Labels: verify, bitnami, pytorch

#20252 [bitnami/keycloak] Documentation regarding importing and exporting a keycloak realm
  bitnami/keycloak/README.md
Labels: in-progress, keycloak

#20074 [bitnami/schema-registry] Added customPodMetrics option to trigge…
  bitnami/schema-registry/Chart.yaml
  bitnami/schema-registry/README.md
  bitnami/schema-registry/templates/hpa.yaml
  bitnami/schema-registry/values.yaml
Labels: in-progress, schema-registry

#20376 [bitnami/*] test: :white_check_mark: Fix race condition in ginkgo utils
  .vib/common-tests/ginkgo-utils/k8s.go
Labels: verify, bitnami

#20367 [bitnami/rabbitmq] feat: :sparkles: Add support for PSA restricted policy
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/README.md
  bitnami/rabbitmq/values.yaml
Labels: verify, bitnami, rabbitmq

#20359 [bitnami/mysql] feat: :sparkles: Add support for PSA restricted policy
  bitnami/mysql/Chart.yaml
  bitnami/mysql/README.md
  bitnami/mysql/values.yaml
Labels: verify, bitnami, mysql

#20360 [bitnami/mariadb] feat: :sparkles: Add support for PSA restricted policy
  bitnami/mariadb/Chart.yaml
  bitnami/mariadb/README.md
  bitnami/mariadb/values.yaml
Labels: verify, mariadb, bitnami

#20329 [bitnami/mongodb] Support server-only TLS validation
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/README.md
  bitnami/mongodb/templates/_helpers.tpl
  bitnami/mongodb/templates/arbiter/statefulset.yaml
  bitnami/mongodb/templates/common-scripts-cm.yaml
  bitnami/mongodb/templates/hidden/statefulset.yaml
  bitnami/mongodb/templates/replicaset/scripts-configmap.yaml
  bitnami/mongodb/templates/replicaset/statefulset.yaml
  bitnami/mongodb/templates/standalone/dep-sts.yaml
  bitnami/mongodb/values.yaml
Labels: verify, in-progress, mongodb

#20001 [bitnami/external-dns] ability to disable validation
  bitnami/external-dns/Chart.yaml
  bitnami/external-dns/README.md
  bitnami/external-dns/templates/_helpers.tpl
  bitnami/external-dns/values.yaml
Labels: verify, in-progress, external-dns

#20363 [bitnami/grafana-operator]: fix grafana.serviceAccount
  bitnami/grafana-operator/Chart.yaml
  bitnami/grafana-operator/templates/grafana.yaml
Labels: verify, in-progress, grafana-operator

#20340 [bitnami/thanos] Fix dup common labels in the query pdb
  bitnami/thanos/Chart.yaml
  bitnami/thanos/templates/query/pdb.yaml
Labels: verify, in-progress, thanos

#20289 [Bitnami/flux] Fix templating error in the source controller servicemonitor
  bitnami/flux/Chart.yaml
  bitnami/flux/templates/source-controller/servicemonitor.yaml
Labels: verify, in-progress, flux

#19740 [bitnami/jasperreports] Add dnsConfig option
  bitnami/jasperreports/Chart.yaml
  bitnami/jasperreports/README.md
  bitnami/jasperreports/templates/deployment.yaml
  bitnami/jasperreports/values.yaml
Labels: verify, in-progress, jasperreports

#19652 [bitnami/odoo] Add database filter env var
  bitnami/odoo/Chart.yaml
  bitnami/odoo/README.md
  bitnami/odoo/templates/deployment.yaml
  bitnami/odoo/values.yaml
Labels: verify, in-progress, odoo

#20400 [bitnami/schema-registry] Bump chart version and update deps
  bitnami/schema-registry/Chart.lock
  bitnami/schema-registry/Chart.yaml
Labels: verify, bitnami, schema-registry

#20405 [bitnami/milvus] Fix externalEtcd settings
  bitnami/milvus/Chart.yaml
  bitnami/milvus/README.md
  bitnami/milvus/values.yaml
Labels: verify, bitnami, milvus

#20380 [bitnami/appsmith] feat: :sparkles: Add support for PSA restricted policy
  bitnami/appsmith/Chart.yaml
  bitnami/appsmith/README.md
  bitnami/appsmith/values.yaml
Labels: verify, bitnami, appsmith

#20379 [bitnami/apache] feat: :sparkles: Add support for PSA restricted policy
  bitnami/apache/Chart.yaml
  bitnami/apache/README.md
  bitnami/apache/values.yaml
Labels: verify, apache, bitnami

#20319 [bitnami/solr] Add support for enableServiceLinks on solr chart
  bitnami/solr/Chart.yaml
  bitnami/solr/README.md
  bitnami/solr/templates/statefulset.yaml
  bitnami/solr/values.yaml
Labels: verify, in-progress, solr

#20377 [bitnami/grafana] Do not ship Grafana Image Renderer image
  bitnami/grafana/Chart.yaml
  bitnami/grafana/README.md
  bitnami/grafana/templates/NOTES.txt
  bitnami/grafana/templates/_helpers.tpl
  bitnami/grafana/templates/configmap.yaml
  bitnami/grafana/templates/image-renderer-deployment.yaml
  bitnami/grafana/templates/image-renderer-prometheusrules.yaml
  bitnami/grafana/templates/image-renderer-service.yaml
  bitnami/grafana/templates/image-renderer-servicemonitor.yaml
  bitnami/grafana/values.yaml
Labels: verify, bitnami, grafana

#20452 [bitnami/mongodb] Fixed mongodb arbiter configmap
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/templates/arbiter/configmap.yaml
Labels: verify, in-progress, mongodb

#20459 [bitnami/keycloak] feat: :sparkles: Add support for PSA restricted policy
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/README.md
  bitnami/keycloak/values.yaml
Labels: verify, keycloak, bitnami

#20470 [bitnami/mlflow] Fix external s3 secret support and typo's
  bitnami/mlflow/Chart.yaml
  bitnami/mlflow/templates/tracking/externals3-secret.yaml
  bitnami/mlflow/values.yaml
Labels: verify, in-progress, mlflow

#20409 [bitnami/redis] - Add support for PodMonitor
  bitnami/redis/Chart.yaml
  bitnami/redis/README.md
  bitnami/redis/templates/podmonitor.yaml
  bitnami/redis/values.yaml
Labels: verify, in-progress, redis

#20489 [bitnami/kafka] Update README's upgrade 24.0.0 notes (#17029)
  bitnami/kafka/README.md
Labels: in-progress, kafka

#20448 [bitnami/haproxy] feat: :sparkles: Add support for PSA restricted policy
  bitnami/haproxy/Chart.yaml
  bitnami/haproxy/README.md
  bitnami/haproxy/values.yaml
Labels: verify, bitnami, haproxy

#20466 [bitnami/kubernetes-event-exporter] feat: :sparkles: Add support for PSA restricted policy
  bitnami/kubernetes-event-exporter/Chart.yaml
  bitnami/kubernetes-event-exporter/README.md
  bitnami/kubernetes-event-exporter/values.yaml
Labels: verify, bitnami, kubernetes-event-exporter

#20499 [bitnami/contour] Update httpproxies CRD
  bitnami/contour/Chart.yaml
  bitnami/contour/templates/crds/httpproxies.yaml
Labels: verify, in-progress, contour

#20431 [bitnami/keycloak] assure servicemonitor endpoints port is a string
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/templates/servicemonitor.yaml
Labels: verify, in-progress, keycloak

#20469 [bitnami/logstash] feat: :sparkles: Add support for PSA restricted policy
  bitnami/logstash/Chart.yaml
  bitnami/logstash/README.md
  bitnami/logstash/values.yaml
Labels: verify, bitnami, logstash

#20468 [bitnami/kube-state-metrics] feat: :sparkles: Add support for PSA restricted policy
  bitnami/kube-state-metrics/Chart.yaml
  bitnami/kube-state-metrics/README.md
  bitnami/kube-state-metrics/values.yaml
Labels: verify, bitnami, kube-state-metrics

#20481 [bitnami/mastodon] feat: :sparkles: Add support for PSA restricted policy
  bitnami/mastodon/Chart.yaml
  bitnami/mastodon/README.md
  bitnami/mastodon/values.yaml
Labels: verify, bitnami, mastodon

#20486 [bitnami/milvus] feat: :sparkles: Add support for PSA restricted policy
  bitnami/milvus/Chart.lock
  bitnami/milvus/Chart.yaml
  bitnami/milvus/README.md
  bitnami/milvus/values.yaml
Labels: verify, bitnami, milvus

#20458 [bitnami/jupyterhub] feat: :sparkles: Add support for PSA restricted policy
  bitnami/jupyterhub/Chart.yaml
  bitnami/jupyterhub/README.md
  bitnami/jupyterhub/values.yaml
Labels: verify, bitnami, jupyterhub

#20454 [bitnami/jasperreports] feat: :sparkles: Add support for PSA restricted policy
  bitnami/jasperreports/Chart.lock
  bitnami/jasperreports/Chart.yaml
  bitnami/jasperreports/README.md
  bitnami/jasperreports/values.yaml
Labels: verify, bitnami, jasperreports

#20457 [bitnami/joomla] feat: :sparkles: Add support for PSA restricted policy
  bitnami/joomla/Chart.lock
  bitnami/joomla/Chart.yaml
  bitnami/joomla/README.md
  bitnami/joomla/templates/deployment.yaml
  bitnami/joomla/values.yaml
Labels: verify, bitnami, joomla

#20453 [bitnami/jaeger] feat: :sparkles: Add support for PSA restricted policy
  bitnami/jaeger/Chart.yaml
  bitnami/jaeger/README.md
  bitnami/jaeger/templates/_helpers.tpl
  bitnami/jaeger/templates/agent/deployment.yaml
  bitnami/jaeger/templates/collector/deployment.yaml
  bitnami/jaeger/templates/migrate-job.yaml
  bitnami/jaeger/templates/query/deployment.yaml
  bitnami/jaeger/values.yaml
Labels: verify, bitnami, jaeger

#20447 [bitnami/grafana-tempo] feat: :sparkles: Add support for PSA restricted policy
  bitnami/grafana-tempo/Chart.yaml
  bitnami/grafana-tempo/README.md
  bitnami/grafana-tempo/values.yaml
Labels: verify, bitnami, grafana-tempo

#20444 [bitnami/grafana-mimir] feat: :sparkles: Add support for PSA restricted policy
  bitnami/grafana-mimir/Chart.yaml
  bitnami/grafana-mimir/README.md
  bitnami/grafana-mimir/values.yaml
Labels: verify, bitnami, grafana-mimir

#20446 [bitnami/grafana-operator] feat: :sparkles: Add support for PSA restricted policy
  bitnami/grafana-operator/Chart.yaml
  bitnami/grafana-operator/README.md
  bitnami/grafana-operator/values.yaml
Labels: verify, bitnami, grafana-operator

#20510 [bitnami/mxnet] feat: :sparkles: Add support for PSA restricted policy
  bitnami/mxnet/Chart.yaml
  bitnami/mxnet/README.md
  bitnami/mxnet/values.yaml
Labels: verify, bitnami, mxnet

#20520 [bitnami/osclass] feat: :sparkles: Add support for PSA restricted policy
  bitnami/osclass/Chart.lock
  bitnami/osclass/Chart.yaml
  bitnami/osclass/README.md
  bitnami/osclass/values.yaml
Labels: verify, bitnami, osclass

#20506 [bitnami/mongodb] feat: :sparkles: Add support for PSA restricted policy
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/README.md
  bitnami/mongodb/values.yaml
Labels: verify, bitnami, mongodb

#20442 [bitnami/gitea] feat: :sparkles: Add support for PSA restricted policy
  bitnami/gitea/Chart.yaml
  bitnami/gitea/README.md
  bitnami/gitea/values.yaml
Labels: verify, bitnami, gitea
