Repository bitnami/charts, pull requests merged in 2023-03, with the labels that each got.

#15130 [bitnami/metallb] fix failed-to-list-namespaces issue
  bitnami/metallb/Chart.yaml
  bitnami/metallb/templates/controller/rbac.yaml
  bitnami/metallb/templates/speaker/rbac.yaml
Labels: verify, in-progress, metallb

#15176 [bitnami/grafana-operator] - Adding support for existing volume provisioned outside the chart
  bitnami/grafana-operator/Chart.yaml
  bitnami/grafana-operator/README.md
  bitnami/grafana-operator/templates/grafana.yaml
  bitnami/grafana-operator/values.yaml
Labels: verify, in-progress, grafana-operator

#15202 [bitnami/metallb] Bump chart release to trigger publishing
  bitnami/metallb/Chart.yaml
Labels: verify, bitnami

#15161 [bitnami/kafka] bump to 21.x
  bitnami/kafka/Chart.yaml
Labels: verify, in-progress, kafka

#15134 [bitnami/metallb] fix failed-to-call-webhook issue
  bitnami/metallb/Chart.yaml
  bitnami/metallb/templates/networkpolicy.yaml
  bitnami/metallb/values.yaml
Labels: verify, in-progress, metallb

#15162 [bitnami/tomcat] promrule additional labels
  bitnami/tomcat/Chart.yaml
  bitnami/tomcat/templates/prometheusrule.yaml
Labels: verify, in-progress, tomcat

#15295 [bitnami/kafka] Add kafka network metrics
  bitnami/kafka/Chart.yaml
  bitnami/kafka/templates/jmx-configmap.yaml
Labels: verify, in-progress, kafka

#15301 [bitnami/argo-workflows] Add missing verb on workflow-controller cluster role for using HTTP templates and plugins
  bitnami/argo-workflows/Chart.yaml
  bitnami/argo-workflows/templates/controller/controller-cluster-roles.yaml
Labels: verify, in-progress, argo-workflows

#15300 [bitnami/kubernetes-event-exporter] Resolve issue with servicemonitor selector
  bitnami/kubernetes-event-exporter/Chart.yaml
  bitnami/kubernetes-event-exporter/templates/deployment.yaml
Labels: verify, in-progress, kubernetes-event-exporter

#15067 [bitnami/elasticsearch] replaced default values by empty ones on resources
  bitnami/elasticsearch/Chart.yaml
  bitnami/elasticsearch/README.md
  bitnami/elasticsearch/values.yaml
Labels: in-progress, elasticsearch

#15180 [bitnami/thanos]: Replace deprecated spec.serviceAccount field with spec.serviceAccountName
  bitnami/thanos/Chart.yaml
  bitnami/thanos/templates/bucketweb/deployment.yaml
  bitnami/thanos/templates/compactor/_pod-template.tpl
  bitnami/thanos/templates/query-frontend/deployment.yaml
  bitnami/thanos/templates/query/deployment.yaml
  bitnami/thanos/templates/receive-distributor/deployment.yaml
  bitnami/thanos/templates/receive/statefulset.yaml
  bitnami/thanos/templates/ruler/statefulset.yaml
  bitnami/thanos/templates/storegateway/statefulset-sharded.yaml
  bitnami/thanos/templates/storegateway/statefulset.yaml
Labels: verify, in-progress, thanos

#14541 [bitnami/jenkins] Major release 12.0.0
  bitnami/jenkins/Chart.yaml
  bitnami/jenkins/README.md
  bitnami/jenkins/templates/NOTES.txt
  bitnami/jenkins/templates/_helpers.tpl
  bitnami/jenkins/templates/agent-listener-svc.yaml
  bitnami/jenkins/templates/casc-cm.yaml
  bitnami/jenkins/templates/controller-svc.yaml
  bitnami/jenkins/templates/deployment.yaml
  bitnami/jenkins/templates/ingress.yaml
  bitnami/jenkins/templates/pvc.yaml
  bitnami/jenkins/templates/role.yaml
  bitnami/jenkins/templates/rolebinding.yaml
  bitnami/jenkins/templates/secrets.yaml
  bitnami/jenkins/templates/serviceaccount.yaml
  bitnami/jenkins/templates/tls-secret.yaml
  bitnami/jenkins/values.yaml
Labels: verify, jenkins, bitnami

#15337 [bitnami/harbor] Fix usage existing secret in chartmuseum
  bitnami/harbor/Chart.yaml
  bitnami/harbor/templates/chartmuseum/chartmuseum-dpl.yaml
Labels: verify, bitnami, harbor

#15184 [bitnami/keycloak] add support to disable service links
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/README.md
  bitnami/keycloak/templates/statefulset.yaml
  bitnami/keycloak/values.yaml
Labels: verify, in-progress, keycloak

#15296 [bitnami/common] Allow empty registry name
  bitnami/common/Chart.yaml
  bitnami/common/templates/_images.tpl
Labels: verify, in-progress, common

#15353 [bitnami/redis] add PVC labels
  bitnami/redis/Chart.yaml
  bitnami/redis/README.md
  bitnami/redis/templates/master/application.yaml
  bitnami/redis/templates/master/pvc.yaml
  bitnami/redis/templates/replicas/statefulset.yaml
  bitnami/redis/templates/sentinel/statefulset.yaml
  bitnami/redis/values.yaml
Labels: verify, in-progress, redis

#15349 [bitnami/clickhouse] add PVC labels
  bitnami/clickhouse/Chart.yaml
  bitnami/clickhouse/README.md
  bitnami/clickhouse/templates/statefulset.yaml
  bitnami/clickhouse/values.yaml
Labels: verify, in-progress, clickhouse

#15352 [bitnami/rabbitmq] add PVC labels
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/README.md
  bitnami/rabbitmq/templates/statefulset.yaml
  bitnami/rabbitmq/values.yaml
Labels: verify, in-progress, rabbitmq

#14850 [bitnami/kafka] Kafka Kraft implementation
  bitnami/kafka/Chart.yaml
  bitnami/kafka/README.md
  bitnami/kafka/templates/_helpers.tpl
  bitnami/kafka/templates/scripts-configmap.yaml
  bitnami/kafka/templates/statefulset.yaml
  bitnami/kafka/templates/svc-headless.yaml
  bitnami/kafka/values.yaml
Labels: verify, in-progress, kafka

#15334 [bitnami/whereabouts] feat: :tada: Add chart
  .vib/whereabouts/goss/goss.yaml
  .vib/whereabouts/goss/vars.yaml
  .vib/whereabouts/vib-publish.json
  .vib/whereabouts/vib-verify.json
  bitnami/whereabouts/.helmignore
  bitnami/whereabouts/Chart.lock
  bitnami/whereabouts/Chart.yaml
  bitnami/whereabouts/README.md
  bitnami/whereabouts/crds/whereabouts.cni.cncf.io_ippools.yaml
  bitnami/whereabouts/crds/whereabouts.cni.cncf.io_overlappingrangeipreservations.yaml
  bitnami/whereabouts/templates/NOTES.txt
  bitnami/whereabouts/templates/_helpers.tpl
  bitnami/whereabouts/templates/clusterrole.yaml
  bitnami/whereabouts/templates/clusterrolebinding.yaml
  bitnami/whereabouts/templates/daemonset.yaml
  bitnami/whereabouts/templates/extra-list.yaml
  bitnami/whereabouts/templates/service-account.yaml
  bitnami/whereabouts/values.yaml
Labels: verify, bitnami, whereabouts

#15333 [bitnami/kube-prometheus] Update prometheus operator CRDs
  bitnami/kube-prometheus/Chart.yaml
  bitnami/kube-prometheus/crds/crd-alertmanager-config.yaml
  bitnami/kube-prometheus/crds/crd-alertmanager.yaml
  bitnami/kube-prometheus/crds/crd-podmonitor.yaml
  bitnami/kube-prometheus/crds/crd-probes.yaml
  bitnami/kube-prometheus/crds/crd-prometheus.yaml
  bitnami/kube-prometheus/crds/crd-prometheusrules.yaml
  bitnami/kube-prometheus/crds/crd-servicemonitor.yaml
  bitnami/kube-prometheus/crds/crd-thanosrulers.yaml
Labels: verify, in-progress, kube-prometheus

#15351 [bitnami/memcached] add PVC labels
  bitnami/memcached/Chart.yaml
  bitnami/memcached/README.md
  bitnami/memcached/templates/statefulset.yaml
  bitnami/memcached/values.yaml
Labels: verify, in-progress, memcached

#15362 [bitnami/harbor] bump patch version
  bitnami/harbor/Chart.yaml
Labels: verify, triage, harbor

#15372 [bitnami/charts] Disable makdownlint rule MD047
  .markdownlint.json
Labels: verify, bitnami

#15366 [bitnami/whereabouts] chore: :construction_worker: Enable CD Pipeline
  .github/workflows/cd-pipeline.yml
  bitnami/whereabouts/Chart.yaml
Labels: verify, bitnami, whereabouts

#15376 [bitnami/whereabouts] Fix VIB publish pipeline
  .vib/whereabouts/vib-publish.json
  bitnami/whereabouts/Chart.yaml
Labels: verify, bitnami, whereabouts

#15350 [bitnami/etcd] add PVC labels
  bitnami/etcd/Chart.yaml
  bitnami/etcd/README.md
  bitnami/etcd/templates/statefulset.yaml
  bitnami/etcd/values.yaml
Labels: verify, in-progress, etcd

#15315 [bitnami/cassandra] set sizeLimit only for certs-shared emptyDir
  bitnami/cassandra/Chart.yaml
  bitnami/cassandra/templates/statefulset.yaml
Labels: verify, in-progress, cassandra

#15387 [bitnami/mongodb] Fix chart upgrade when auth.enable=false
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/templates/secrets.yaml
Labels: verify, bitnami, mongodb

#15371 [bitnami/contour] Sync upstream CRD and templates
  bitnami/contour/Chart.yaml
  bitnami/contour/resources/contourconfiguration.yaml
  bitnami/contour/resources/contourdeployments.yaml
  bitnami/contour/resources/extensionservices.yaml
  bitnami/contour/resources/httpproxies.yaml
  bitnami/contour/resources/tlscertificatedeligations.yaml
  bitnami/contour/templates/envoy/daemonset.yaml
  bitnami/contour/templates/envoy/deployment.yaml
Labels: verify, in-progress, contour

#15414 [bitnami/external-dns] fix image.digest
  bitnami/external-dns/Chart.yaml
  bitnami/external-dns/templates/_helpers.tpl
  bitnami/external-dns/templates/dep-ds.yaml
Labels: verify, bitnami

#15424 [bitnami/cassandra] Add support for service.headless.annotations
  bitnami/cassandra/Chart.yaml
  bitnami/cassandra/README.md
  bitnami/cassandra/templates/headless-svc.yaml
  bitnami/cassandra/values.yaml
Labels: verify, bitnami, cassandra

#15425 [bitnami/clickhouse] Add support for service.headless.annotations
  bitnami/clickhouse/Chart.yaml
  bitnami/clickhouse/README.md
  bitnami/clickhouse/templates/service-headless.yaml
  bitnami/clickhouse/values.yaml
Labels: verify, bitnami, clickhouse

#15426 [bitnami/consul] Add support for service.headless.annotations
  bitnami/consul/Chart.yaml
  bitnami/consul/README.md
  bitnami/consul/templates/consul-headless-service.yaml
  bitnami/consul/values.yaml
Labels: verify, bitnami, consul

#15431 [bitnami/grafana-tempo] Add support for service.headless.annotations
  bitnami/grafana-tempo/Chart.yaml
  bitnami/grafana-tempo/README.md
  bitnami/grafana-tempo/templates/query-frontend/headless-service.yaml
  bitnami/grafana-tempo/values.yaml
Labels: verify, bitnami, grafana-tempo

#15445 [bitnami/spark] Add support for service.headless.annotations
  bitnami/spark/Chart.yaml
  bitnami/spark/README.md
  bitnami/spark/templates/headless-svc.yaml
  bitnami/spark/values.yaml
Labels: verify, bitnami, spark

#15436 [bitnami/mongodb-sharded] Add support for service.headless.annotations
  bitnami/mongodb-sharded/Chart.yaml
  bitnami/mongodb-sharded/README.md
  bitnami/mongodb-sharded/templates/headless-service.yaml
  bitnami/mongodb-sharded/values.yaml
Labels: verify, bitnami, mongodb-sharded

#15427 [bitnami/etcd] Add support for service.headless.annotations
  bitnami/etcd/Chart.yaml
  bitnami/etcd/README.md
  bitnami/etcd/templates/svc-headless.yaml
  bitnami/etcd/values.yaml
Labels: verify, bitnami, etcd

#15430 [bitnami/grafana-mimir] Add support for service.headless.annotations
  bitnami/grafana-mimir/Chart.yaml
  bitnami/grafana-mimir/README.md
  bitnami/grafana-mimir/templates/alertmanager/headless-service.yaml
  bitnami/grafana-mimir/templates/distributor/headless-service.yaml
  bitnami/grafana-mimir/templates/ingester/headless-service.yaml
  bitnami/grafana-mimir/templates/overrides-exporter/headless-service.yaml
  bitnami/grafana-mimir/templates/querier/headless-service.yaml
  bitnami/grafana-mimir/templates/query-frontend/headless-service.yaml
  bitnami/grafana-mimir/templates/query-scheduler/headless-service.yaml
  bitnami/grafana-mimir/templates/store-gateway/headless-service.yaml
  bitnami/grafana-mimir/values.yaml
Labels: verify, bitnami, grafana-mimir

#15432 [bitnami/keycloak] Add support for service.headless.annotations
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/README.md
  bitnami/keycloak/templates/headless-service.yaml
  bitnami/keycloak/values.yaml
Labels: verify, keycloak, bitnami

#15435 [bitnami/mongodb] Add support for service.headless.annotations
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/README.md
  bitnami/mongodb/templates/arbiter/headless-svc.yaml
  bitnami/mongodb/templates/hidden/headless-svc.yaml
  bitnami/mongodb/templates/replicaset/headless-svc.yaml
  bitnami/mongodb/values.yaml
Labels: verify, bitnami, mongodb

#15439 [bitnami/pytorch] Add support for service.headless.annotations
  bitnami/pytorch/Chart.yaml
  bitnami/pytorch/README.md
  bitnami/pytorch/templates/headless-svc.yaml
  bitnami/pytorch/values.yaml
Labels: verify, bitnami, pytorch

#15443 [bitnami/schema-registry] Add support for service.headless.annotations
  bitnami/schema-registry/Chart.yaml
  bitnami/schema-registry/README.md
  bitnami/schema-registry/templates/headless-service.yaml
  bitnami/schema-registry/values.yaml
Labels: verify, bitnami, schema-registry

#15444 [bitnami/solr] Add support for service.headless.annotations
  bitnami/solr/Chart.yaml
  bitnami/solr/README.md
  bitnami/solr/templates/svc-headless.yaml
  bitnami/solr/values.yaml
Labels: verify, bitnami, solr

#15411 [bitnami/redis-cluster] Use SIGTERM on timeout for probes
  bitnami/redis-cluster/Chart.yaml
  bitnami/redis-cluster/templates/scripts-configmap.yaml
Labels: verify, in-progress, redis-cluster

#15446 [bitnami/thanos] Add support for service.headless.annotations
  bitnami/thanos/Chart.yaml
  bitnami/thanos/README.md
  bitnami/thanos/templates/query/service-grpc-headless.yaml
  bitnami/thanos/templates/query/service-headless.yaml
  bitnami/thanos/templates/receive/service-headless.yaml
  bitnami/thanos/templates/ruler/service-headless.yaml
  bitnami/thanos/templates/storegateway/service-headless.yaml
  bitnami/thanos/values.yaml
Labels: verify, bitnami, thanos

#15448 [bitnami/contour] Support all securitycontext fields
  bitnami/contour/Chart.yaml
  bitnami/contour/templates/contour/deployment.yaml
  bitnami/contour/templates/envoy/daemonset.yaml
  bitnami/contour/templates/envoy/deployment.yaml
Labels: verify, in-progress, contour

#15417 [bitnami/redis] minReadySeconds feature only requires k8s >=1.23
  bitnami/redis/Chart.yaml
  bitnami/redis/templates/master/application.yaml
  bitnami/redis/templates/replicas/statefulset.yaml
  bitnami/redis/templates/sentinel/statefulset.yaml
Labels: verify, in-progress, redis

#15452 [bitnami/mastodon]fix: use mastodon.pvc to generate name for PersistentVolumeClaim
  bitnami/mastodon/Chart.yaml
  bitnami/mastodon/templates/pvc.yaml
Labels: verify, in-progress, mastodon

#15364 [bitnami/kafka] Support the service "NodePort" feature "externalIPs" for external access (2)
  bitnami/kafka/Chart.yaml
  bitnami/kafka/README.md
  bitnami/kafka/templates/_helpers.tpl
  bitnami/kafka/templates/scripts-configmap.yaml
  bitnami/kafka/templates/svc-external-access.yaml
  bitnami/kafka/values.yaml
Labels: verify, in-progress, kafka

#15450 [bitnami/memcached] Add securityContext to memcached metrics in STS
  bitnami/memcached/Chart.yaml
  bitnami/memcached/templates/statefulset.yaml
Labels: verify, in-progress, memcached

#15377 [bitnami/mastodon] Fix incorrect comment and broken link for Mastodon Chart
  bitnami/mastodon/Chart.yaml
  bitnami/mastodon/templates/_helpers.tpl
Labels: verify, in-progress, mastodon

#15415 [bitnami/charts] Add ignored files to markdown linter
  .github/workflows/markdown-linter.yml
  .markdownlintignore
  README.md
  template/README.md
Labels: verify, bitnami

#15490 [bitnami/redis] Use definition instead of hardcoded key
  bitnami/redis/Chart.yaml
  bitnami/redis/templates/_helpers.tpl
Labels: verify, in-progress, redis

#15454 [bitnami/multus-cni] feat: :tada: Add chart
  .github/workflows/cd-pipeline.yml
  .vib/multus-cni/goss/goss.yaml
  .vib/multus-cni/goss/vars.yaml
  .vib/multus-cni/vib-publish.json
  .vib/multus-cni/vib-verify.json
  bitnami/multus-cni/.helmignore
  bitnami/multus-cni/Chart.lock
  bitnami/multus-cni/Chart.yaml
  bitnami/multus-cni/README.md
  bitnami/multus-cni/crds/network-attachment-definitions.yaml
  bitnami/multus-cni/templates/NOTES.txt
  bitnami/multus-cni/templates/_helpers.tpl
  bitnami/multus-cni/templates/clusterrole.yaml
  bitnami/multus-cni/templates/clusterrolebinding.yaml
  bitnami/multus-cni/templates/daemonset.yaml
  bitnami/multus-cni/templates/extra-list.yaml
  bitnami/multus-cni/templates/service-account.yaml
  bitnami/multus-cni/values.yaml
Labels: verify, bitnami, multus-cni

#15509 [bitnami/grafana-mimir] Fix wrong gateway configuration when alertmanager.enabled=true
  bitnami/grafana-mimir/Chart.yaml
  bitnami/grafana-mimir/templates/gateway/configmap-http.yaml
Labels: verify, bitnami, grafana-mimir

#15374 [bitnami/grafana-tempo] Adapt ginkgo tests for non-GKE
  .vib/grafana-tempo/ginkgo/grafana_tempo_test.go
  .vib/grafana-tempo/ginkgo/integration_suite_test.go
Labels: verify, bitnami

#15375 [bitnami/nginx-ingress-controller] Adapt ginkgo tests for non-GKE
  .vib/nginx-ingress-controller/ginkgo/integration_suite_test.go
  .vib/nginx-ingress-controller/ginkgo/nginx_ingress_controller_test.go
Labels: verify, bitnami

#15537 [bitnami/kafka] Add upgrading notes to version 21.0.0
  bitnami/kafka/README.md
Labels: verify, kafka, bitnami

#15539 [bitnami/spring-cloud-dataflow] bump kafka dependency
  bitnami/spring-cloud-dataflow/Chart.lock
  bitnami/spring-cloud-dataflow/Chart.yaml
  bitnami/spring-cloud-dataflow/README.md
Labels: verify, bitnami, spring-cloud-dataflow

#15538 [bitnami/schema-registry] bump kafka dependency
  bitnami/schema-registry/Chart.lock
  bitnami/schema-registry/Chart.yaml
  bitnami/schema-registry/README.md
Labels: verify, bitnami, schema-registry

#15511 [bitnami/clickhouse] Fix rendering of CIDR block list for loadBalancerSourceRanges
  bitnami/clickhouse/Chart.yaml
  bitnami/clickhouse/templates/service.yaml
Labels: verify, in-progress, clickhouse

#15529 [bitnami/rabbitmq] Add support for StatefulSet annotations
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/README.md
  bitnami/rabbitmq/templates/statefulset.yaml
  bitnami/rabbitmq/values.yaml
Labels: verify, in-progress, rabbitmq

#15470 [bitnami/kube-prometheus] Add additionalArgs support to prometheus
  bitnami/kube-prometheus/Chart.yaml
  bitnami/kube-prometheus/README.md
  bitnami/kube-prometheus/templates/prometheus/prometheus.yaml
  bitnami/kube-prometheus/values.yaml
Labels: verify, in-progress, kube-prometheus

#15541 [bitnami/harbor] DevCenter API 2.0 fix ingress
  bitnami/harbor/Chart.lock
  bitnami/harbor/Chart.yaml
  bitnami/harbor/templates/nginx/configmap-http.yaml
  bitnami/harbor/templates/nginx/configmap-https.yaml
  bitnami/harbor/templates/portal/portal-cm.yaml
Labels: verify, bitnami, harbor

#15528 [bitnami/clickhouse] fix: typo in variable reference
  bitnami/clickhouse/Chart.yaml
  bitnami/clickhouse/values.yaml
Labels: verify, in-progress, clickhouse

#15633 [bitnami/argo-cd] Add the notifications service to the solution
  bitnami/argo-cd/Chart.yaml
  bitnami/argo-cd/README.md
  bitnami/argo-cd/templates/_helpers.tpl
  bitnami/argo-cd/templates/applicationset/metrics-svc.yaml
  bitnami/argo-cd/templates/notifications/bots/slack/deployment.yaml
  bitnami/argo-cd/templates/notifications/bots/slack/role.yaml
  bitnami/argo-cd/templates/notifications/bots/slack/rolebinding.yaml
  bitnami/argo-cd/templates/notifications/bots/slack/service-account.yaml
  bitnami/argo-cd/templates/notifications/bots/slack/service.yaml
  bitnami/argo-cd/templates/notifications/deployment.yaml
  bitnami/argo-cd/templates/notifications/metrics-svc.yaml
  bitnami/argo-cd/templates/notifications/role.yaml
  bitnami/argo-cd/templates/notifications/rolebinding.yaml
  bitnami/argo-cd/templates/notifications/service-account.yaml
  bitnami/argo-cd/templates/notifications/servicemonitor.yaml
  bitnami/argo-cd/values.yaml
Labels: verify, bitnami, argo-cd

#15519 [bitnami/kafka] kraft.clusterId format docs
  bitnami/kafka/README.md
Labels: verify, in-progress, kafka

#15545 [bitnami/nginx-ingress-controller] add dnsConfig option to nginx-ingress-controller
  bitnami/nginx-ingress-controller/Chart.yaml
  bitnami/nginx-ingress-controller/README.md
  bitnami/nginx-ingress-controller/templates/controller-deployment.yaml
  bitnami/nginx-ingress-controller/values.yaml
Labels: verify, in-progress, nginx-ingress-controller

#15496 [bitnami/redmine] Run initContainer as privileged user
  bitnami/redmine/Chart.yaml
  bitnami/redmine/templates/_certificates.tpl
Labels: verify, bitnami, redmine

#15447 [bitnami/tomcat] Add support for service.headless.annotations
  bitnami/tomcat/Chart.yaml
  bitnami/tomcat/README.md
  bitnami/tomcat/templates/svc-headless.yaml
  bitnami/tomcat/values.yaml
Labels: verify, bitnami, tomcat

#15428 [bitnami/fluentd] Add support for service.headless.annotations
  bitnami/fluentd/Chart.yaml
  bitnami/fluentd/README.md
  bitnami/fluentd/templates/aggregator-svc-headless.yaml
  bitnami/fluentd/values.yaml
Labels: verify, bitnami, fluentd

#15429 [bitnami/grafana-loki] Add support for service.headless.annotations
  bitnami/grafana-loki/Chart.yaml
  bitnami/grafana-loki/README.md
  bitnami/grafana-loki/templates/query-frontend/headless-service.yaml
  bitnami/grafana-loki/values.yaml
Labels: verify, bitnami, grafana-loki

#15437 [bitnami/nats] Add support for service.headless.annotations
  bitnami/nats/Chart.yaml
  bitnami/nats/README.md
  bitnami/nats/templates/headless-svc.yaml
  bitnami/nats/values.yaml
Labels: verify, bitnami, nats

#15438 [bitnami/postgresql-ha] Add support for service.headless.annotations
  bitnami/postgresql-ha/Chart.yaml
  bitnami/postgresql-ha/README.md
  bitnami/postgresql-ha/templates/postgresql/service-headless.yaml
  bitnami/postgresql-ha/templates/postgresql/service-witness.yaml
  bitnami/postgresql-ha/values.yaml
Labels: verify, bitnami, postgresql-ha

#15441 [bitnami/redis] Add support for service.headless.annotations
  bitnami/redis/Chart.yaml
  bitnami/redis/README.md
  bitnami/redis/templates/headless-svc.yaml
  bitnami/redis/values.yaml
Labels: verify, bitnami, redis

#15442 [bitnami/redis-cluster] Add support for service.headless.annotations
  bitnami/redis-cluster/Chart.yaml
  bitnami/redis-cluster/README.md
  bitnami/redis-cluster/templates/headless-svc.yaml
  bitnami/redis-cluster/values.yaml
Labels: verify, bitnami, redis-cluster

#15440 [bitnami/rabbitmq] Add support for service.headless.annotations
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/README.md
  bitnami/rabbitmq/templates/svc-headless.yaml
  bitnami/rabbitmq/values.yaml
Labels: verify, bitnami, rabbitmq

#15660 [bitnami/influxdb] fix servicemonitor and service labels
  bitnami/influxdb/Chart.yaml
  bitnami/influxdb/templates/service-metrics.yaml
  bitnami/influxdb/templates/servicemonitor.yaml
Labels: verify, in-progress, influxdb

#15639 [bitnami/mysql] metrics containerSecurityContext
  bitnami/mysql/Chart.yaml
  bitnami/mysql/README.md
  bitnami/mysql/templates/primary/statefulset.yaml
  bitnami/mysql/templates/secondary/statefulset.yaml
  bitnami/mysql/values.yaml
Labels: verify, bitnami, mysql

#15690 [bitnami/*] Fix quoting for runtime-params k8s templates and injected configs
  .vib/contour-operator/runtime-parameters.yaml
  .vib/kubeapps/runtime-parameters.yaml
  .vib/logstash/runtime-parameters.yaml
  .vib/oauth2-proxy/runtime-parameters.yaml
  .vib/pinniped/runtime-parameters.yaml
  .vib/thanos/runtime-parameters.yaml
  .vib/wildfly/runtime-parameters.yaml
Labels: verify, bitnami

#15699 [bitnami/argo-cd] Fix issue with applicationset-controller + minor fixes
  bitnami/argo-cd/Chart.yaml
  bitnami/argo-cd/templates/applicationset/deployment.yaml
  bitnami/argo-cd/templates/applicationset/service-account.yaml
  bitnami/argo-cd/templates/server/clusterrole.yaml
  bitnami/argo-cd/values.yaml
Labels: verify, bitnami, argo-cd

#15688 [bitnami/fluentd] Letting HPA manage replicas when autoscaling is enabled
  bitnami/fluentd/Chart.yaml
  bitnami/fluentd/README.md
  bitnami/fluentd/templates/aggregator-statefulset.yaml
Labels: verify, in-progress, fluentd

#15701 [bitnami/contour-operator] Skip Ginkgo execution when using private registries
  .vib/contour-operator/ginkgo/contour_operator_test.go
Labels: verify, bitnami

#15689 [bitnami/keycloak] Added nodeSelector and option to automatic cleanup finished jobs to the keycloak-config-cli job
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/README.md
  bitnami/keycloak/templates/keycloak-config-cli-job.yaml
  bitnami/keycloak/values.yaml
Labels: verify, in-progress, keycloak

#15682 [bitnami/mongodb] Change static DNS entry to clusterDomain variable
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/templates/common-scripts-cm.yaml
Labels: verify, in-progress, mongodb

#15700 Fix Error: INSTALLATION FAILED: chart "rabbitmq-cluster-operators"
  bitnami/rabbitmq-cluster-operator/README.md
Labels: verify, in-progress, rabbitmq-cluster-operator

#15742 [bitnami/charts] Reduce GitHub API requests
  .github/workflows/assign-asset-label.yml
  .github/workflows/ci-pipeline.yml
  .github/workflows/move-closed-issues.yml
  .github/workflows/moving-cards.yml
  .github/workflows/triage.yml
Labels: bitnami

#15694 [bitnami/thanos]: add dnsConfig option
  bitnami/thanos/Chart.yaml
  bitnami/thanos/README.md
  bitnami/thanos/templates/bucketweb/deployment.yaml
  bitnami/thanos/templates/compactor/_pod-template.tpl
  bitnami/thanos/templates/query-frontend/deployment.yaml
  bitnami/thanos/templates/query/deployment.yaml
  bitnami/thanos/templates/receive-distributor/deployment.yaml
  bitnami/thanos/templates/receive/statefulset.yaml
  bitnami/thanos/templates/ruler/statefulset.yaml
  bitnami/thanos/templates/storegateway/statefulset-sharded.yaml
  bitnami/thanos/templates/storegateway/statefulset.yaml
  bitnami/thanos/values.yaml
Labels: verify, in-progress, thanos

#15465 [bitnami/external-dns] Add support for Gateway API
  bitnami/external-dns/Chart.yaml
  bitnami/external-dns/templates/clusterrole.yaml
Labels: verify, in-progress, external-dns

#15744 [bitnami/rabbitmq-cluster-operator] Update CRDs
  bitnami/rabbitmq-cluster-operator/Chart.yaml
  bitnami/rabbitmq-cluster-operator/crds/crd-rabbitmq-cluster.yaml
Labels: verify, bitnami, rabbitmq-cluster-operator

#15772 [bitnami/charts] Use Main Catalog Testing CSP Org for GitHub testing pipelines
  .github/workflows/ci-pipeline.yml
Labels: verify, bitnami

#15770 [bitnami/charts] Prevent card self assignment
  .github/workflows/moving-cards.yml
Labels: verify, bitnami

#15773 [bitnami/nginx-ingress-controller] add dnsConfig option to the daemonset
  bitnami/nginx-ingress-controller/Chart.yaml
  bitnami/nginx-ingress-controller/templates/controller-daemonset.yaml
Labels: verify, in-progress, nginx-ingress-controller

#15795 [bitnami/minio] Bumb version of chart for resolve issue #15718.
  bitnami/minio/Chart.yaml
Labels: verify, triage, minio

#15646 [bitnami/cert-manager] Remove condition from cert-manager webhook service
  bitnami/cert-manager/Chart.yaml
  bitnami/cert-manager/templates/webhook/service.yaml
Labels: verify, in-progress, cert-manager

#15796 [bitnami/redis-cluster] Add possibility to specify extra environment variables for metrics container
  bitnami/redis-cluster/Chart.yaml
  bitnami/redis-cluster/README.md
  bitnami/redis-cluster/templates/redis-statefulset.yaml
  bitnami/redis-cluster/values.yaml
Labels: verify, in-progress, redis-cluster

#15781 [bitnami/metallb] crds.yaml update to 0.13.9 (#15745 fix)
  bitnami/metallb/Chart.yaml
  bitnami/metallb/templates/controller/crds.yaml
Labels: verify, in-progress, metallb

#15822 [bitnami/cassandra] Version bump
  bitnami/cassandra/Chart.yaml
Labels: verify, bitnami, cassandra

#15819 [bitnami/rabbitmq] Empty RABBITMQ_FEATURE_FLAGS variable causes some flags to be disabled
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/templates/statefulset.yaml
Labels: verify, in-progress, rabbitmq
