Repository bitnami/charts, pull requests merged in 2023-12, with the labels that each got.

#21349 bitnami/wordpress metrics containersecuritycontext
  bitnami/wordpress/Chart.yaml
  bitnami/wordpress/README.md
  bitnami/wordpress/templates/deployment.yaml
  bitnami/wordpress/values.yaml
Labels: verify, in-progress, wordpress

#20964 [template] Fix usage of common.tplvalues.merge partial
  template/CHART_NAME/templates/daemonset.yaml
  template/CHART_NAME/templates/deployment.yaml
  template/CHART_NAME/templates/ingress.yaml
  template/CHART_NAME/templates/pdb.yaml
  template/CHART_NAME/templates/pvc.yaml
  template/CHART_NAME/templates/service-account.yaml
  template/CHART_NAME/templates/service.yaml
  template/CHART_NAME/templates/servicemonitor.yaml
  template/CHART_NAME/templates/statefulset.yaml
Labels: in-progress

#21352 [bitnami/suitecrm] Mark SuiteCRM helm chart as deprecated
  bitnami/suitecrm/Chart.yaml
  bitnami/suitecrm/README.md
  bitnami/suitecrm/templates/NOTES.txt
Labels: verify, bitnami, suitecrm

#21363 [bitnami/sealed-secrets] Update VIB config
  .vib/sealed-secrets/vib-action.config
Labels: verify, bitnami, sealed-secrets

#21343 [bitnami/mongodb] feat: add node configuration
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/templates/replicaset/scripts-configmap.yaml
  bitnami/mongodb/values.yaml
Labels: verify, in-progress, mongodb

#21382 [bitnami/suitecrm] Remove SuiteCRM Helm Chart
  .vib/suitecrm/cypress/cypress.json
  .vib/suitecrm/cypress/cypress/fixtures/accounts.csv
  .vib/suitecrm/cypress/cypress/fixtures/contacts.json
  .vib/suitecrm/cypress/cypress/integration/suitecrm_spec.js
  .vib/suitecrm/cypress/cypress/support/commands.js
  .vib/suitecrm/cypress/cypress/support/index.js
  .vib/suitecrm/cypress/cypress/support/utils.js
  .vib/suitecrm/goss/goss-wait.yaml
  .vib/suitecrm/goss/goss.yaml
  .vib/suitecrm/runtime-parameters.yaml
  .vib/suitecrm/vib-publish.json
  .vib/suitecrm/vib-verify.json
  bitnami/suitecrm/.helmignore
  bitnami/suitecrm/Chart.lock
  bitnami/suitecrm/Chart.yaml
  bitnami/suitecrm/README.md
  bitnami/suitecrm/templates/NOTES.txt
  bitnami/suitecrm/templates/_helpers.tpl
  bitnami/suitecrm/templates/deployment.yaml
  bitnami/suitecrm/templates/externaldb-secrets.yaml
  bitnami/suitecrm/templates/extra-list.yaml
  bitnami/suitecrm/templates/ingress.yaml
  bitnami/suitecrm/templates/metrics-svc.yaml
  bitnami/suitecrm/templates/networkpolicy-backend-ingress.yaml
  bitnami/suitecrm/templates/networkpolicy-egress.yaml
  bitnami/suitecrm/templates/networkpolicy-ingress.yaml
  bitnami/suitecrm/templates/pv.yaml
  bitnami/suitecrm/templates/pvc.yaml
  bitnami/suitecrm/templates/secrets.yaml
  bitnami/suitecrm/templates/svc.yaml
  bitnami/suitecrm/templates/tls-secrets.yaml
  bitnami/suitecrm/values.yaml
Labels: verify, bitnami

#21356 [bitnami/sealed-secrets] do not double quote the secret name
  bitnami/sealed-secrets/Chart.yaml
  bitnami/sealed-secrets/templates/deployment.yaml
Labels: verify, in-progress, sealed-secrets

#21383 [bitnami/mongodb] fix: metric and reolicaset script issues with tls and mtls
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/templates/_helpers.tpl
  bitnami/mongodb/templates/replicaset/scripts-configmap.yaml
Labels: triage, mongodb

#21388 [bitnami/metrics-server] Replace deprecated pull secret partial
  bitnami/metrics-server/Chart.yaml
  bitnami/metrics-server/templates/_helpers.tpl
Labels: verify, in-progress, metrics-server

#21389 [bitnami/minio] Replace deprecated pull secret partial
  bitnami/minio/Chart.yaml
  bitnami/minio/templates/_helpers.tpl
Labels: verify, in-progress, minio

#21391 [bitnami/node-exporter] Replace deprecated pull secret partial
  bitnami/node-exporter/Chart.yaml
  bitnami/node-exporter/templates/_helpers.tpl
Labels: verify, in-progress, node-exporter

#21371 [bitnami/fluent-bit] Replace deprecated pull secret partial
  bitnami/fluent-bit/Chart.yaml
  bitnami/fluent-bit/templates/_helpers.tpl
Labels: verify, in-progress, fluent-bit

#21370 [bitnami/elasticsearch] Replace deprecated pull secret partial
  bitnami/elasticsearch/Chart.yaml
  bitnami/elasticsearch/templates/_helpers.tpl
Labels: verify, in-progress, elasticsearch

#21373 [bitnami/grafana] Replace deprecated pull secret partial
  bitnami/grafana/Chart.yaml
  bitnami/grafana/templates/_helpers.tpl
Labels: verify, in-progress, grafana

#21375 [bitnami/jaeger] Replace deprecated pull secret partial
  bitnami/jaeger/Chart.yaml
  bitnami/jaeger/templates/_helpers.tpl
Labels: verify, in-progress, jaeger

#21374 [bitnami/grafana-loki] Replace deprecated pull secret partial
  bitnami/grafana-loki/Chart.yaml
  bitnami/grafana-loki/templates/_helpers.tpl
Labels: verify, in-progress, grafana-loki

#21380 [bitnami/opensearch] Replace deprecated pull secret partial
  bitnami/opensearch/Chart.yaml
  bitnami/opensearch/templates/_helpers.tpl
Labels: verify, in-progress, opensearch

#21381 [bitnami/logstash] Replace deprecated pull secret partial
  bitnami/logstash/Chart.yaml
  bitnami/logstash/templates/_helpers.tpl
Labels: verify, in-progress, logstash

#21387 [bitnami/kube-state-metrics] Replace deprecated pull secret partial
  bitnami/kube-state-metrics/Chart.yaml
  bitnami/kube-state-metrics/templates/_helpers.tpl
Labels: verify, in-progress, kube-state-metrics

#21390 [bitnami/nginx] Replace deprecated pull secret partial
  bitnami/nginx/Chart.yaml
  bitnami/nginx/templates/_helpers.tpl
Labels: verify, in-progress, nginx

#21394 [bitnami/prometheus] Replace deprecated pull secret partial
  bitnami/prometheus/Chart.yaml
  bitnami/prometheus/templates/_helpers.tpl
Labels: verify, in-progress, prometheus

#21395 [bitnami/rabbitmq] Replace deprecated pull secret partial
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/templates/_helpers.tpl
Labels: verify, in-progress, rabbitmq

#21396 [bitnami/sonarqube] Replace deprecated pull secret partial
  bitnami/sonarqube/Chart.yaml
  bitnami/sonarqube/templates/_helpers.tpl
Labels: verify, in-progress, sonarqube

#21397 [bitnami/vault] Replace deprecated pull secret partial
  bitnami/vault/Chart.yaml
  bitnami/vault/templates/_helpers.tpl
Labels: verify, in-progress, vault

#21211 [bitnami/influxdb] Add support custom endpoint s3 for backups
  bitnami/influxdb/Chart.yaml
  bitnami/influxdb/README.md
  bitnami/influxdb/templates/cronjob-backup.yaml
  bitnami/influxdb/templates/secrets-backup.yaml
  bitnami/influxdb/values.yaml
Labels: verify, in-progress, influxdb

#21392 [bitnami/postgresql] Replace deprecated pull secret partial
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/templates/_helpers.tpl
Labels: verify, in-progress, postgresql

#21364 [bitnami/solr] chore: Remove double-defined Probes parameters
  bitnami/solr/Chart.yaml
  bitnami/solr/templates/statefulset.yaml
Labels: verify, in-progress, solr

#21433 [bitnami/mlflow] Fix run.initContainers render
  bitnami/mlflow/Chart.yaml
  bitnami/mlflow/templates/run/dep-job.yaml
  bitnami/mlflow/templates/tracking/deployment.yaml
Labels: verify, in-progress, mlflow

#21312 [bitnami/grafana-loki] Remove default empty dict for rollingUpdate
  bitnami/grafana-loki/Chart.yaml
  bitnami/grafana-loki/README.md
  bitnami/grafana-loki/values.yaml
Labels: verify, in-progress, grafana-loki

#21411 [bitnami/thanos] feat: expose compactor cronjob ttlSecondsAfterFinished
  bitnami/thanos/Chart.yaml
  bitnami/thanos/README.md
  bitnami/thanos/templates/compactor/cronjob.yaml
  bitnami/thanos/values.yaml
Labels: verify, in-progress, thanos

#21479 bitnami/redis Add namespaceOverride capability to redis chart
  bitnami/redis/Chart.yaml
  bitnami/redis/README.md
  bitnami/redis/templates/NOTES.txt
  bitnami/redis/templates/_helpers.tpl
  bitnami/redis/templates/configmap.yaml
  bitnami/redis/templates/headless-svc.yaml
  bitnami/redis/templates/health-configmap.yaml
  bitnami/redis/templates/master/application.yaml
  bitnami/redis/templates/master/psp.yaml
  bitnami/redis/templates/master/pvc.yaml
  bitnami/redis/templates/master/service.yaml
  bitnami/redis/templates/master/serviceaccount.yaml
  bitnami/redis/templates/metrics-svc.yaml
  bitnami/redis/templates/networkpolicy.yaml
  bitnami/redis/templates/pdb.yaml
  bitnami/redis/templates/podmonitor.yaml
  bitnami/redis/templates/prometheusrule.yaml
  bitnami/redis/templates/replicas/application.yaml
  bitnami/redis/templates/replicas/hpa.yaml
  bitnami/redis/templates/replicas/service.yaml
  bitnami/redis/templates/replicas/serviceaccount.yaml
  bitnami/redis/templates/role.yaml
  bitnami/redis/templates/rolebinding.yaml
  bitnami/redis/templates/scripts-configmap.yaml
  bitnami/redis/templates/secret-svcbind.yaml
  bitnami/redis/templates/secret.yaml
  bitnami/redis/templates/sentinel/hpa.yaml
  bitnami/redis/templates/sentinel/node-services.yaml
  bitnami/redis/templates/sentinel/ports-configmap.yaml
  bitnami/redis/templates/sentinel/service.yaml
  bitnami/redis/templates/sentinel/statefulset.yaml
  bitnami/redis/templates/serviceaccount.yaml
  bitnami/redis/templates/servicemonitor.yaml
  bitnami/redis/templates/tls-secret.yaml
  bitnami/redis/values.yaml
Labels: verify, in-progress, redis

#21081 [bitnami/zookeeper] Make Zookeeper DefaultMode YAML 1.2 Compliant
  bitnami/zookeeper/Chart.yaml
  bitnami/zookeeper/templates/statefulset.yaml
Labels: verify, in-progress, zookeeper

#21505 [bitnami/*] test: :white_check_mark: Support restricted PSA
  .vib/cassandra/ginkgo/cassandra_suite_test.go
  .vib/clickhouse/ginkgo/clickhouse_suite_test.go
  .vib/consul/ginkgo/consul_suite_test.go
  .vib/elasticsearch/ginkgo/elasticsearch_suite_test.go
  .vib/etcd/ginkgo/etcd_suite_test.go
  .vib/influxdb/ginkgo/influxdb_suite_test.go
  .vib/kafka/ginkgo/kafka_suite_test.go
  .vib/mariadb-galera/ginkgo/mariadb_suite_test.go
  .vib/mariadb/ginkgo/mariadb_suite_test.go
  .vib/minio/ginkgo/minio_suite_test.go
  .vib/mongodb-sharded/ginkgo/mongodb_suite_test.go
  .vib/mongodb/ginkgo/mongodb_suite_test.go
  .vib/mysql/ginkgo/mysql_suite_test.go
  .vib/nats/ginkgo/nats_suite_test.go
  .vib/opensearch/ginkgo/opensearch_suite_test.go
  .vib/postgresql-ha/ginkgo/postgresql_suite_test.go
  .vib/postgresql/ginkgo/postgresql_suite_test.go
  .vib/rabbitmq/ginkgo/rabbitmq_suite_test.go
  .vib/redis-cluster/ginkgo/redis_suite_test.go
  .vib/redis/ginkgo/redis_suite_test.go
  .vib/solr/ginkgo/solr_suite_test.go
  .vib/zookeeper/ginkgo/zookeeper_suite_test.go
Labels: verify, bitnami

#21506 [bitnami/mlflow] Fix faulty type conversion in serviceMonitor
  bitnami/mlflow/Chart.yaml
  bitnami/mlflow/templates/_helpers.tpl
  bitnami/mlflow/templates/tracking/deployment.yaml
  bitnami/mlflow/templates/tracking/ingress.yaml
  bitnami/mlflow/templates/tracking/service.yaml
  bitnami/mlflow/templates/tracking/servicemonitor.yaml
Labels: verify, bitnami, mlflow

#21522 [bitnami/pinniped, oauth2-proxy, flux] test: :white_check_mark: Fix runtime-parameters for PSA restricted mode
  .vib/flux/runtime-parameters.yaml
  .vib/oauth2-proxy/runtime-parameters.yaml
  .vib/pinniped/runtime-parameters.yaml
Labels: verify, bitnami

#21358 [bitnami/kafka] Fix condition for secret mounting
  bitnami/kafka/Chart.yaml
  bitnami/kafka/templates/provisioning/job.yaml
Labels: verify, in-progress, kafka

#21348 [bitnami/prometheus] Honor rbac config when creating prometheus ClusterRoleBinding
  bitnami/prometheus/Chart.yaml
  bitnami/prometheus/templates/server/clusterrolebinding.yaml
Labels: verify, in-progress, prometheus

#21538 [bitnami/kafka] fix: :bug: Make auto-discovery compatible with PSA restricted
  bitnami/kafka/Chart.yaml
  bitnami/kafka/README.md
  bitnami/kafka/templates/_helpers.tpl
  bitnami/kafka/values.yaml
Labels: verify, kafka, bitnami

#21492 [bitnami/mysql] Allow to set a persistentVolumeClaimRetentionPolicy
  bitnami/mysql/Chart.yaml
  bitnami/mysql/README.md
  bitnami/mysql/templates/primary/statefulset.yaml
  bitnami/mysql/templates/secondary/statefulset.yaml
  bitnami/mysql/values.yaml
Labels: verify, in-progress, mysql

#21351 [bitnami/thanos] Implement tpl for ingress hostname/extraTls
  bitnami/thanos/Chart.yaml
  bitnami/thanos/templates/bucketweb/ingress.yaml
  bitnami/thanos/templates/compactor/ingress.yaml
  bitnami/thanos/templates/query-frontend/ingress.yaml
  bitnami/thanos/templates/query/ingress-grpc.yaml
  bitnami/thanos/templates/query/ingress.yaml
  bitnami/thanos/templates/receive/ingress.yaml
  bitnami/thanos/templates/ruler/ingress.yaml
  bitnami/thanos/templates/storegateway/ingress-grpc.yaml
  bitnami/thanos/templates/storegateway/ingress.yaml
Labels: verify, in-progress, thanos

#21549 [bitnami/argo-cd, jaeger] test: :white_check_mark: Make tests compatible with PSA restricted
  .vib/argo-cd/cypress/cypress/fixtures/applications.json
  .vib/jaeger/runtime-parameters.yaml
Labels: verify, bitnami

#21555 [bitnami/*] Log chart info in CI pipeline
  .github/workflows/ci-pipeline.yml
Labels: verify, bitnami

#21517 [bitnami/kuberay] feat: :tada: Add chart
  .vib/kuberay/cypress/cypress.json
  .vib/kuberay/cypress/cypress/fixtures/clusters.json
  .vib/kuberay/cypress/cypress/fixtures/scripts.json
  .vib/kuberay/cypress/cypress/integration/kuberay_spec.js
  .vib/kuberay/cypress/cypress/support/commands.js
  .vib/kuberay/cypress/cypress/support/index.js
  .vib/kuberay/goss/goss.yaml
  .vib/kuberay/runtime-parameters.yaml
  .vib/kuberay/vib-publish.json
  .vib/kuberay/vib-verify.json
  bitnami/kuberay/.helmignore
  bitnami/kuberay/Chart.lock
  bitnami/kuberay/Chart.yaml
  bitnami/kuberay/README.md
  bitnami/kuberay/crds/ray.io_rayclusters.yaml
  bitnami/kuberay/crds/ray.io_rayjobs.yaml
  bitnami/kuberay/crds/ray.io_rayservices.yaml
  bitnami/kuberay/templates/NOTES.txt
  bitnami/kuberay/templates/_helpers.tpl
  bitnami/kuberay/templates/apiserver/clusterrolebinding.yaml
  bitnami/kuberay/templates/apiserver/clusterroles.yaml
  bitnami/kuberay/templates/apiserver/deployment.yaml
  bitnami/kuberay/templates/apiserver/hpa.yaml
  bitnami/kuberay/templates/apiserver/ingress-tls-secret.yaml
  bitnami/kuberay/templates/apiserver/ingress.yaml
  bitnami/kuberay/templates/apiserver/pdb.yaml
  bitnami/kuberay/templates/apiserver/role.yaml
  bitnami/kuberay/templates/apiserver/rolebinding.yaml
  bitnami/kuberay/templates/apiserver/service-account.yaml
  bitnami/kuberay/templates/apiserver/service.yaml
  bitnami/kuberay/templates/apiserver/servicemonitor.yaml
  bitnami/kuberay/templates/apiserver/vpa.yaml
  bitnami/kuberay/templates/cluster/raycluster.yaml
  bitnami/kuberay/templates/cluster/service-account.yaml
  bitnami/kuberay/templates/extra-list.yaml
  bitnami/kuberay/templates/operator/clusterrolebinding.yaml
  bitnami/kuberay/templates/operator/clusterroles.yaml
  bitnami/kuberay/templates/operator/deployment.yaml
  bitnami/kuberay/templates/operator/hpa.yaml
  bitnami/kuberay/templates/operator/ingress-tls-secret.yaml
  bitnami/kuberay/templates/operator/ingress.yaml
  bitnami/kuberay/templates/operator/pdb.yaml
  bitnami/kuberay/templates/operator/role.yaml
  bitnami/kuberay/templates/operator/rolebinding.yaml
  bitnami/kuberay/templates/operator/service-account.yaml
  bitnami/kuberay/templates/operator/service.yaml
  bitnami/kuberay/templates/operator/servicemonitor.yaml
  bitnami/kuberay/templates/operator/vpa.yaml
  bitnami/kuberay/values.yaml
Labels: verify, bitnami, kuberay

#21516 [bitnami/milvus] Fix milvus server cannot startup with SSL (#19838)
  bitnami/milvus/Chart.yaml
  bitnami/milvus/README.md
  bitnami/milvus/templates/_helpers.tpl
  bitnami/milvus/templates/init-job.yaml
  bitnami/milvus/templates/proxy/deployment.yaml
  bitnami/milvus/values.schema.json
  bitnami/milvus/values.yaml
Labels: verify, in-progress, milvus

#21567 [bitnami/nginx] Add securityContext to values schema
  bitnami/nginx/Chart.yaml
  bitnami/nginx/values.schema.json
Labels: verify, nginx, bitnami

#21544 [bitnami/milvus] Fix helm not being submitted when using commonAnnotations in indexNode (#21543)
  bitnami/milvus/Chart.yaml
  bitnami/milvus/templates/index-node/service.yaml
Labels: verify, in-progress, milvus

#21342 [bitnami/common] fix failOnNew implementation in common.secrets.passwords.manage
  bitnami/common/Chart.yaml
  bitnami/common/templates/_secrets.tpl
Labels: verify, in-progress

#21393 [bitnami/postgresql-ha] Replace deprecated pull secret partial
  bitnami/postgresql-ha/Chart.yaml
  bitnami/postgresql-ha/templates/_helpers.tpl
Labels: verify, in-progress, postgresql-ha

#21588 [bitnami/discourse] Add support for skipping to persist plugins
  bitnami/discourse/Chart.yaml
  bitnami/discourse/README.md
  bitnami/discourse/templates/deployment.yaml
  bitnami/discourse/values.yaml
Labels: verify, bitnami, discourse

#21318 Fix the issue [#21306] where DaemonSet fails to start due to missing getip.
  bitnami/nginx-ingress-controller/Chart.yaml
  bitnami/nginx-ingress-controller/templates/controller-daemonset.yaml
  bitnami/nginx-ingress-controller/templates/controller-deployment.yaml
Labels: verify, in-progress, nginx-ingress-controller

#21616 [bitnami/wordpress] Omit wp-config.php from data to persist if provided via secret
  bitnami/wordpress/Chart.yaml
  bitnami/wordpress/templates/deployment.yaml
Labels: verify, bitnami, wordpress

#21519 [bitnami/zookeeper] Allowing for customize dnsPolicy and dnsConfig for ZooKeeper
  bitnami/zookeeper/Chart.yaml
  bitnami/zookeeper/README.md
  bitnami/zookeeper/templates/statefulset.yaml
  bitnami/zookeeper/values.yaml
Labels: verify, in-progress, zookeeper

#21565 [bitnami/matomo] Allow configuring CronJob pods affinity
  bitnami/matomo/Chart.yaml
  bitnami/matomo/README.md
  bitnami/matomo/templates/cronjob.yaml
  bitnami/matomo/values.yaml
Labels: in-progress, matomo

#21287 [bitnami/opensearch] Make TLS secret keys configurable
  bitnami/opensearch/Chart.yaml
  bitnami/opensearch/README.md
  bitnami/opensearch/templates/_helpers.tpl
  bitnami/opensearch/templates/coordinating/statefulset.yaml
  bitnami/opensearch/templates/dashboards/deployment.yaml
  bitnami/opensearch/templates/data/statefulset.yaml
  bitnami/opensearch/templates/ingest/statefulset.yaml
  bitnami/opensearch/templates/master/statefulset.yaml
  bitnami/opensearch/templates/tls-secret.yaml
  bitnami/opensearch/values.yaml
Labels: verify, in-progress, opensearch

#21514 [bitnami/mongodb] remove securityContext.enabled from cronjob template
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/templates/backup/cronjob.yaml
Labels: verify, bitnami, mongodb

#21583 [bitnami/thanos] Add minReadySeconds to Thanos Receive
  bitnami/thanos/Chart.yaml
  bitnami/thanos/README.md
  bitnami/thanos/templates/receive/statefulset.yaml
  bitnami/thanos/values.yaml
Labels: verify, in-progress, thanos

#21621 [bitnami/rabbitmq] Add support for defining cluster name
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/README.md
  bitnami/rabbitmq/templates/statefulset.yaml
  bitnami/rabbitmq/values.yaml
Labels: verify, bitnami, rabbitmq

#21625 [bitnami/nginx] Allow to set service loadBalancerClass in nginx chart
  bitnami/nginx/Chart.yaml
  bitnami/nginx/README.md
  bitnami/nginx/templates/svc.yaml
  bitnami/nginx/values.yaml
Labels: verify, in-progress, nginx

#21402 [bitnami/kafka] Allowing for customize dnsPolicy and dnsConfig for Kafka
  bitnami/kafka/Chart.yaml
  bitnami/kafka/README.md
  bitnami/kafka/templates/controller-eligible/statefulset.yaml
  bitnami/kafka/values.yaml
Labels: in-progress, kafka

#21640 [bitnami/opensearch] fix: Use correct key for existing TLS secrets
  bitnami/opensearch/Chart.yaml
  bitnami/opensearch/templates/_helpers.tpl
Labels: verify, in-progress, opensearch

#21595 [bitnami/common] add params skipB64enc and skipQuote to common.secrets.passwords.manage
  bitnami/common/Chart.yaml
  bitnami/common/templates/_secrets.tpl
Labels: verify, in-progress, common

#21576 [bitnami/kube-prometheus] add alertmanagerConfigMatcherStrategy to alertmanager
  bitnami/kube-prometheus/Chart.yaml
  bitnami/kube-prometheus/README.md
  bitnami/kube-prometheus/templates/alertmanager/alertmanager.yaml
  bitnami/kube-prometheus/values.yaml
Labels: verify, in-progress, kube-prometheus

#21547 [bitnami/template] Update service.yaml
  template/CHART_NAME/templates/service.yaml
Labels: triage

#21643 Revert "Bump actions/download-artifact from 3.0.2 to 4.0.0"
  .github/workflows/cd-pipeline.yml
Labels: verify, bitnami

#21451 [bitnami/nginx] Set /app as safe directory when enabling gitSync
  bitnami/nginx/Chart.yaml
  bitnami/nginx/templates/deployment.yaml
Labels: verify, in-progress, nginx

#21653 [bitnami/common] Fix typo with new line in common.secrets.passwords.manage
  bitnami/common/Chart.yaml
  bitnami/common/templates/_secrets.tpl
Labels: verify, bitnami, common

#21586 Add loadBalancerClass configuration to Redis service
  bitnami/redis/Chart.yaml
  bitnami/redis/README.md
  bitnami/redis/templates/master/service.yaml
  bitnami/redis/templates/metrics-svc.yaml
  bitnami/redis/templates/replicas/service.yaml
  bitnami/redis/templates/sentinel/service.yaml
  bitnami/redis/values.yaml
Labels: verify, in-progress, redis

#21628 [bitnami/thanos] Add Configurability for runbookUrl Parameter
  bitnami/thanos/Chart.yaml
  bitnami/thanos/README.md
  bitnami/thanos/templates/alert-rule/absent_rules.yml
  bitnami/thanos/templates/alert-rule/compaction.yml
  bitnami/thanos/templates/alert-rule/query.yml
  bitnami/thanos/templates/alert-rule/receive.yml
  bitnami/thanos/templates/alert-rule/replicate.yml
  bitnami/thanos/templates/alert-rule/ruler.yml
  bitnami/thanos/templates/alert-rule/sidecar.yml
  bitnami/thanos/templates/alert-rule/store_gateway.yml
  bitnami/thanos/values.yaml
Labels: verify, in-progress, thanos

#21650 [bitnami/kafka] feat: :sparkles: Add missing probes
  bitnami/kafka/Chart.yaml
  bitnami/kafka/README.md
  bitnami/kafka/templates/metrics/deployment.yaml
  bitnami/kafka/values.yaml
Labels: verify, kafka, bitnami

#21649 [bitnami/cert-manager] feat: :sparkles: Add missing probes
  bitnami/cert-manager/Chart.yaml
  bitnami/cert-manager/README.md
  bitnami/cert-manager/templates/cainjector/deployment.yaml
  bitnami/cert-manager/templates/controller/deployment.yaml
  bitnami/cert-manager/values.yaml
Labels: verify, bitnami, cert-manager

#21681 [bitnami/ejbca] Upgrade MariaDB 11.2
  bitnami/ejbca/Chart.lock
  bitnami/ejbca/Chart.yaml
  bitnami/ejbca/README.md
Labels: verify, bitnami, ejbca

#21682 [bitnami/jasperreports] Upgrade MariaDB 11.2
  bitnami/jasperreports/Chart.lock
  bitnami/jasperreports/Chart.yaml
  bitnami/jasperreports/README.md
Labels: verify, bitnami, jasperreports

#21683 [bitnami/joomla] Upgrade MariaDB 11.2
  bitnami/joomla/Chart.lock
  bitnami/joomla/Chart.yaml
  bitnami/joomla/README.md
Labels: verify, bitnami, joomla

#21687 [bitnami/matomo] Upgrade MariaDB 11.2
  bitnami/matomo/Chart.lock
  bitnami/matomo/Chart.yaml
  bitnami/matomo/README.md
Labels: verify, bitnami, matomo

#21690 [bitnami/wordpress] Upgrade MariaDB 11.2
  bitnami/wordpress/Chart.lock
  bitnami/wordpress/Chart.yaml
  bitnami/wordpress/README.md
Labels: verify, bitnami, wordpress

#21691 [bitnami/opencart] Upgrade MariaDB 11.2
  bitnami/opencart/Chart.lock
  bitnami/opencart/Chart.yaml
  bitnami/opencart/README.md
Labels: verify, bitnami, opencart

#21692 [bitnami/osclass] Upgrade MariaDB 11.2
  bitnami/osclass/Chart.lock
  bitnami/osclass/Chart.yaml
  bitnami/osclass/README.md
Labels: verify, bitnami, osclass

#21693 [bitnami/redmine] Upgrade MariaDB 11.2
  bitnami/redmine/Chart.lock
  bitnami/redmine/Chart.yaml
  bitnami/redmine/README.md
Labels: verify, bitnami, redmine

#20476 [bitnami/kafka] Fix Kafka log/logs dir config
  .vib/kafka/goss/goss.yaml
  .vib/kafka/runtime-parameters.yaml
  bitnami/kafka/Chart.yaml
  bitnami/kafka/templates/_helpers.tpl
  bitnami/kafka/templates/broker/configmap.yaml
  bitnami/kafka/templates/controller-eligible/configmap.yaml
Labels: verify, kafka, bitnami

#21694 [bitnami/phpbb] Upgrade MariaDB 11.2
  bitnami/phpbb/Chart.lock
  bitnami/phpbb/Chart.yaml
  bitnami/phpbb/README.md
Labels: verify, bitnami, phpbb

#21680 [bitnami/drupal] Upgrade MariaDB 11.2
  bitnami/drupal/Chart.lock
  bitnami/drupal/Chart.yaml
  bitnami/drupal/README.md
Labels: verify, bitnami, drupal

#21696 [bitnami/prestashop] Upgrade MariaDB 11.2
  bitnami/prestashop/Chart.lock
  bitnami/prestashop/Chart.yaml
  bitnami/prestashop/README.md
Labels: verify, prestashop, bitnami

#21697 [bitnami/spring-cloud-dataflow] Upgrade MariaDB 11.2
  bitnami/spring-cloud-dataflow/Chart.lock
  bitnami/spring-cloud-dataflow/Chart.yaml
Labels: verify, bitnami, spring-cloud-dataflow

#21695 [bitnami/phpmyadmin] Upgrade MariaDB 11.2
  bitnami/phpmyadmin/Chart.lock
  bitnami/phpmyadmin/Chart.yaml
  bitnami/phpmyadmin/README.md
Labels: verify, bitnami, phpmyadmin

#21685 [bitnami/magento] Upgrade MariaDB 11.2
  bitnami/magento/Chart.lock
  bitnami/magento/Chart.yaml
Labels: verify, magento, bitnami

#21688 [bitnami/mediawiki] Upgrade MariaDB 11.2
  bitnami/mediawiki/Chart.lock
  bitnami/mediawiki/Chart.yaml
  bitnami/mediawiki/README.md
Labels: verify, bitnami, mediawiki

#21689 [bitnami/moodle] Upgrade MariaDB 11.2
  bitnami/moodle/Chart.lock
  bitnami/moodle/Chart.yaml
  bitnami/moodle/README.md
Labels: verify, moodle, bitnami

#21602 [bitnami/minio] Add nodeSelector to provisioning job
  bitnami/minio/Chart.yaml
  bitnami/minio/README.md
  bitnami/minio/templates/provisioning-job.yaml
  bitnami/minio/values.yaml
Labels: verify, in-progress, minio

#21705 [bitnami/mongodb] Pod security context doesn't apply to cronjobs
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/templates/backup/cronjob.yaml
Labels: verify, in-progress, mongodb

#21638 [bitnami/minio] Add namespaceOverride for Minio chart deployment
  bitnami/minio/Chart.yaml
  bitnami/minio/README.md
  bitnami/minio/templates/api-ingress.yaml
  bitnami/minio/templates/distributed/headless-svc.yaml
  bitnami/minio/templates/distributed/pdb.yaml
  bitnami/minio/templates/distributed/statefulset.yaml
  bitnami/minio/templates/ingress.yaml
  bitnami/minio/templates/networkpolicy.yaml
  bitnami/minio/templates/prometheusrule.yaml
  bitnami/minio/templates/provisioning-configmap.yaml
  bitnami/minio/templates/provisioning-job.yaml
  bitnami/minio/templates/pvc.yaml
  bitnami/minio/templates/secrets.yaml
  bitnami/minio/templates/service.yaml
  bitnami/minio/templates/serviceaccount.yaml
  bitnami/minio/templates/servicemonitor.yaml
  bitnami/minio/templates/standalone/deployment.yaml
  bitnami/minio/templates/tls-secrets.yaml
  bitnami/minio/values.yaml
Labels: verify, in-progress, minio

#21217 [bitnami/mlflow] Notificaton for non removed PVCs
  bitnami/mlflow/Chart.yaml
  bitnami/mlflow/README.md
Labels: verify, in-progress, mlflow

#21648 [bitnami/mongodb] ServiceBinding to consider existing secret while upgrading
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/templates/secrets.yaml
Labels: verify, bitnami, mongodb

#21490 bitnami/haproxy - loadBalancerSourceRanges should be list and not string
  bitnami/haproxy/Chart.yaml
  bitnami/haproxy/templates/service.yaml
Labels: verify, in-progress, haproxy

#21512 Allow Configuration of ServiceAccount for CronJob Pods
  bitnami/etcd/Chart.yaml
  bitnami/etcd/README.md
  bitnami/etcd/templates/cronjob.yaml
  bitnami/etcd/values.yaml
Labels: verify, in-progress, etcd

#21515 [bitnami/thanos]: Removing replicas in storegateway in sharded mode when autoscaling is enabled
  bitnami/thanos/Chart.yaml
  bitnami/thanos/templates/storegateway/statefulset-sharded.yaml
Labels: verify, in-progress, thanos

#21716 [bitnami/kong] Sync upstream CRDs
  bitnami/kong/Chart.yaml
  bitnami/kong/crds/custom-resource-definitions.yaml
  bitnami/kong/templates/ingress-controller-rbac.yaml
Labels: verify, bitnami, kong

#21704 bitnami/haproxy Add terminationGracePeriodSeconds
  bitnami/haproxy/Chart.yaml
  bitnami/haproxy/README.md
  bitnami/haproxy/templates/deployment.yaml
  bitnami/haproxy/values.yaml
Labels: verify, in-progress, haproxy

#21644 [bitnami/spring-cloud-dataflow] feat: :sparkles: Add missing health checks
  bitnami/spring-cloud-dataflow/Chart.yaml
  bitnami/spring-cloud-dataflow/README.md
  bitnami/spring-cloud-dataflow/templates/prometheus-proxy/deployment.yaml
  bitnami/spring-cloud-dataflow/values.yaml
Labels: verify, bitnami, spring-cloud-dataflow

#21743 [bitnami/kong] Configure securityContext in test deploy
  .vib/kong/runtime-parameters.yaml
Labels: verify, bitnami

#21717 [bitnami/mongodb] fix: Use correct values in cronjob.annotations
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/templates/backup/cronjob.yaml
Labels: verify, in-progress, mongodb

#21758 [bitnami/scdf] Add securityContext to init containers
  bitnami/spring-cloud-dataflow/Chart.yaml
  bitnami/spring-cloud-dataflow/README.md
  bitnami/spring-cloud-dataflow/templates/server/deployment.yaml
  bitnami/spring-cloud-dataflow/templates/skipper/deployment.yaml
  bitnami/spring-cloud-dataflow/values.yaml
Labels: verify, bitnami, spring-cloud-dataflow

#21766 [bitnami/mastodon] Update apache subchart
  bitnami/mastodon/Chart.lock
  bitnami/mastodon/Chart.yaml
  bitnami/mastodon/README.md
Labels: verify, bitnami, mastodon

#21767 [bitnami/apisix] Add securityContext to test deployment
  .vib/apisix/runtime-parameters.yaml
Labels: verify, bitnami, apisix

#21769 [bitnami/pinniped] Fix pinniped supervisor references
  .vib/pinniped/runtime-parameters.yaml
Labels: verify, bitnami

#21775 [bitnami/flink] Add securityContext to test job
  .vib/flink/runtime-parameters.yaml
Labels: verify, bitnami, flink

#21770 [bitnami/fluentd] Render extra volumes and volume mounts
  bitnami/fluentd/Chart.yaml
  bitnami/fluentd/templates/aggregator-statefulset.yaml
  bitnami/fluentd/templates/forwarder-daemonset.yaml
Labels: verify, in-progress, fluentd

#21782 [bitnami/pinniped] Configure impersonationProxy mode to run tests on clusters with PSA enabled
  .vib/pinniped/ginkgo/scripts/pinniped-auth.sh
  .vib/pinniped/runtime-parameters.yaml
Labels: verify, pinniped, bitnami

#21749 [bitnami/mysql] Add extraPodSpec support
  bitnami/mysql/Chart.yaml
  bitnami/mysql/README.md
  bitnami/mysql/templates/primary/statefulset.yaml
  bitnami/mysql/templates/secondary/statefulset.yaml
  bitnami/mysql/values.yaml
Labels: verify, in-progress, mysql

#21419 [bitnami/mongodb] set authentication database for backup job
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/templates/backup/cronjob.yaml
Labels: verify, in-progress, mongodb
