Repository bitnami/charts, pull requests merged in 2023-04, with the labels that each got.

#15929 [bitnami/supabase] Fix typo: Replace MongoDB with PostgreSQL
  bitnami/supabase/README.md
Labels: triage, supabase

#15816 [bitnami/cassandra] Add apiVersion and kind in volumeClaimTemplates
  bitnami/cassandra/Chart.yaml
  bitnami/cassandra/templates/statefulset.yaml
Labels: verify, in-progress, cassandra

#15077 [bitnami/wordpress] Template hostname usages to allow using variables
  bitnami/wordpress/Chart.yaml
  bitnami/wordpress/README.md
  bitnami/wordpress/templates/ingress.yaml
  bitnami/wordpress/values.yaml
Labels: verify, in-progress, wordpress

#15827 [bitnami/thanos] Fix dnsConfig in sharded thanos storegateway
  bitnami/thanos/Chart.yaml
  bitnami/thanos/templates/storegateway/statefulset-sharded.yaml
Labels: verify, in-progress, thanos

#15943 [bitnami/rabbitmq] Add missing version, kind to volumeClaimTemplates
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/templates/statefulset.yaml
Labels: verify, in-progress, rabbitmq

#15940 [bitnami/harbor] Update redis default user
  bitnami/harbor/Chart.yaml
  bitnami/harbor/templates/_helpers.tpl
Labels: verify, bitnami, harbor

#15953 [bitnami/charts] Use tag v0 for vmware-image-build-acion
  .github/workflows/cd-pipeline.yml
  .github/workflows/ci-pipeline.yml
Labels: verify, bitnami

#15934 [bitnami/rabbitmq] Updated values.yaml
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/values.yaml
Labels: verify, in-progress, rabbitmq

#15960 [bitnami/charts] Allow empty runtime-parameters
  .github/workflows/cd-pipeline.yml
  .github/workflows/ci-pipeline.yml
Labels: verify, bitnami

#15950 [bitnami/etcd] Use common.labels.matchLabels instead of common.labels.standard in ne…
  bitnami/etcd/Chart.yaml
  bitnami/etcd/templates/networkpolicy.yaml
Labels: in-progress, etcd

#14879 [bitnami/flink] Add Apache Flink chart
  .github/workflows/cd-pipeline.yml
  .vib/flink/cypress/cypress.json
  .vib/flink/cypress/cypress/integration/flink_spec.js
  .vib/flink/goss/goss.yaml
  .vib/flink/runtime-parameters.yaml
  .vib/flink/vib-publish.json
  .vib/flink/vib-verify.json
  bitnami/flink/.helmignore
  bitnami/flink/Chart.lock
  bitnami/flink/Chart.yaml
  bitnami/flink/README.md
  bitnami/flink/templates/NOTES.txt
  bitnami/flink/templates/_helpers.tpl
  bitnami/flink/templates/extra-list.yaml
  bitnami/flink/templates/jobmanager/deployment.yaml
  bitnami/flink/templates/jobmanager/service.yml
  bitnami/flink/templates/jobmanager/serviceaccount.yaml
  bitnami/flink/templates/taskmanager/deployment.yaml
  bitnami/flink/templates/taskmanager/service.yml
  bitnami/flink/templates/taskmanager/serviceaccount.yaml
  bitnami/flink/values.yaml
Labels: verify, bitnami, flink

#15966 [bitnami/charts] Fix charts path in CD pipeline
  .github/workflows/cd-pipeline.yml
Labels: verify, bitnami

#15939 [bitnami/metallb] add option to skip CRD install
  bitnami/metallb/Chart.yaml
  bitnami/metallb/README.md
  bitnami/metallb/templates/crds.yaml
  bitnami/metallb/values.yaml
Labels: verify, in-progress, metallb

#15549 [bitnami/mastodon] Better s3 tls and wss support cert manager take2
  bitnami/mastodon/Chart.yaml
  bitnami/mastodon/README.md
  bitnami/mastodon/templates/_helpers.tpl
  bitnami/mastodon/values.yaml
Labels: verify, in-progress, mastodon

#15956 [bitnami/harbor] Update ingress portal path to the last
  bitnami/harbor/Chart.yaml
  bitnami/harbor/templates/ingress/core-ingress.yaml
Labels: verify, in-progress, harbor

#15709 [bitnami/argo-cd] Fix issue with crds version #15637
  bitnami/argo-cd/Chart.yaml
  bitnami/argo-cd/crds/application.yaml
  bitnami/argo-cd/crds/applicationset.yaml
  bitnami/argo-cd/crds/extension.yaml
  bitnami/argo-cd/crds/project.yaml
Labels: verify, in-progress, argo-cd

#15980 [bitnami/clickhouse] Clickhouse chart fix labels for persistent volumes
  bitnami/clickhouse/Chart.yaml
  bitnami/clickhouse/templates/servicemonitor.yaml
  bitnami/clickhouse/templates/statefulset.yaml
Labels: verify, in-progress, clickhouse

#15737 [bitnami/redis] Add notes about RDB compatibility in upgrades
  bitnami/redis/README.md
Labels: verify, in-progress, redis

#15954 [bitnami/keycloak] Added templating for `externalDatabase.host`
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/templates/_helpers.tpl
Labels: verify, in-progress, keycloak

#15988 [bitnami/spring-cloud-dataflow] Fix typo in README.md
  bitnami/spring-cloud-dataflow/README.md
Labels: in-progress, spring-cloud-dataflow

#16006 [bitnami/influxdb] Expose admin bucket retention
  bitnami/influxdb/Chart.yaml
  bitnami/influxdb/README.md
  bitnami/influxdb/templates/deployment.yaml
  bitnami/influxdb/values.yaml
Labels: verify, in-progress, influxdb

#15970 [bitnami/kube-prometheus] Add topologySpreadConstraints to prometheus…
  bitnami/kube-prometheus/Chart.yaml
  bitnami/kube-prometheus/README.md
  bitnami/kube-prometheus/templates/prometheus/prometheus.yaml
  bitnami/kube-prometheus/values.yaml
Labels: verify, in-progress, kube-prometheus

#15999 [bitnami/argo-cd] Fix argocd.notifications helper reference
  bitnami/argo-cd/Chart.yaml
  bitnami/argo-cd/templates/notifications/servicemonitor.yaml
Labels: verify, bitnami, argo-cd

#16015 [bitnami/charts] Upgrade comments action
  .github/workflows/ci-pipeline.yml
Labels: verify, bitnami

#15995 [bitnami/fluentd] Fix `resourceNames` attribute in `ClusterRole` to use correct name of PSP
  bitnami/fluentd/Chart.yaml
  bitnami/fluentd/templates/forwarder-clusterrole.yaml
Labels: verify, in-progress, fluentd

#15981 [bitnami/metallb] Provide a flag for disabling BGP speakers
  bitnami/metallb/Chart.yaml
  bitnami/metallb/README.md
  bitnami/metallb/templates/rbac.yaml
  bitnami/metallb/templates/speaker/daemonset.yaml
  bitnami/metallb/templates/speaker/psp.yaml
  bitnami/metallb/templates/speaker/rbac.yaml
  bitnami/metallb/templates/speaker/secret.yaml
  bitnami/metallb/templates/speaker/service.yaml
  bitnami/metallb/templates/speaker/serviceaccount.yaml
  bitnami/metallb/templates/speaker/servicemonitor.yaml
  bitnami/metallb/values.yaml
Labels: verify, in-progress, metallb

#16029 [bitnami/flink] Fix vib "helm-publish" action
  .vib/flink/vib-publish.json
Labels: verify, bitnami, flink

#16010 [bitnami/elasticsearch] Add upgrading notes for version 19.6.0 to the README.md
  bitnami/elasticsearch/README.md
Labels: verify, bitnami, elasticsearch

#16021 Added possibility to have a Custom Secretname for the certificate
  bitnami/oauth2-proxy/Chart.yaml
  bitnami/oauth2-proxy/README.md
  bitnami/oauth2-proxy/templates/ingress.yaml
  bitnami/oauth2-proxy/templates/tls-secrets.yaml
  bitnami/oauth2-proxy/values.yaml
Labels: verify, in-progress, oauth2-proxy

#16016 [bitnami/apache] Allow setting deployment's revisionHistoryLimit
  bitnami/apache/Chart.yaml
  bitnami/apache/README.md
  bitnami/apache/templates/deployment.yaml
  bitnami/apache/values.yaml
Labels: verify, in-progress, apache

#16036 [bitnami/redis] upgrade redis-exporter
  bitnami/redis/Chart.yaml
  bitnami/redis/README.md
  bitnami/redis/values.yaml
Labels: verify, triage, redis

#15764 [bitnami/kube-prometheus]: make ServiceMonitors jobLabel configurable
  bitnami/kube-prometheus/Chart.yaml
  bitnami/kube-prometheus/README.md
  bitnami/kube-prometheus/templates/exporters/core-dns/service.yaml
  bitnami/kube-prometheus/templates/exporters/core-dns/servicemonitor.yaml
  bitnami/kube-prometheus/templates/exporters/kube-apiserver/servicemonitor.yaml
  bitnami/kube-prometheus/templates/exporters/kube-controller-manager/service.yaml
  bitnami/kube-prometheus/templates/exporters/kube-controller-manager/servicemonitor.yaml
  bitnami/kube-prometheus/templates/exporters/kube-proxy/service.yaml
  bitnami/kube-prometheus/templates/exporters/kube-proxy/servicemonitor.yaml
  bitnami/kube-prometheus/templates/exporters/kube-scheduler/service.yaml
  bitnami/kube-prometheus/templates/exporters/kube-scheduler/servicemonitor.yaml
  bitnami/kube-prometheus/templates/exporters/kubelet/servicemonitor.yaml
  bitnami/kube-prometheus/templates/prometheus-operator/service.yaml
  bitnami/kube-prometheus/templates/prometheus-operator/servicemonitor.yaml
  bitnami/kube-prometheus/templates/prometheus/service.yaml
  bitnami/kube-prometheus/templates/prometheus/servicemonitor.yaml
  bitnami/kube-prometheus/values.yaml
Labels: verify, in-progress, kube-prometheus

#16013 [bitnami/keycloak] Drop unnecessary secret mount in Keycloak container
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/templates/statefulset.yaml
Labels: verify, in-progress, keycloak

#16033 [bitnami/mariadb] Fix customRules type
  bitnami/mariadb/Chart.yaml
  bitnami/mariadb/README.md
  bitnami/mariadb/values.yaml
Labels: verify, mariadb, bitnami

#15993 [bitnami/wordpress] add terminationGracePeriodSeconds
  bitnami/wordpress/Chart.yaml
  bitnami/wordpress/README.md
  bitnami/wordpress/templates/deployment.yaml
  bitnami/wordpress/values.yaml
Labels: verify, in-progress, wordpress

#16035 [bitnami/external-dns] add infoblox.nameRegex parameter
  bitnami/external-dns/Chart.yaml
  bitnami/external-dns/README.md
  bitnami/external-dns/templates/dep-ds.yaml
  bitnami/external-dns/values.yaml
Labels: verify, in-progress, external-dns

#16043 [bitnami/matomo] Fix probe paths
  bitnami/matomo/Chart.yaml
  bitnami/matomo/README.md
  bitnami/matomo/values.yaml
Labels: verify, in-progress, matomo

#16023 [bitnami/etcd] Add support for dynamic snapshot dir in snapshotter cronjob
  bitnami/etcd/Chart.yaml
  bitnami/etcd/README.md
  bitnami/etcd/templates/cronjob.yaml
  bitnami/etcd/values.yaml
Labels: verify, in-progress, etcd

#15937 [bitnami/jasperreports] Add support for an existing secret
  bitnami/jasperreports/Chart.yaml
  bitnami/jasperreports/README.md
  bitnami/jasperreports/templates/NOTES.txt
  bitnami/jasperreports/templates/deployment.yaml
  bitnami/jasperreports/templates/secrets.yaml
  bitnami/jasperreports/values.yaml
Labels: verify, in-progress, jasperreports

#16000 [bitnami/thanos] Fix autoGenerated GRPC certs by using common CA
  bitnami/thanos/Chart.yaml
  bitnami/thanos/templates/grpc-tls-secrets.yaml
  bitnami/thanos/templates/query/deployment.yaml
  bitnami/thanos/templates/query/grpc-client-tls-secrets.yaml
  bitnami/thanos/templates/query/grpc-server-tls-secrets.yaml
  bitnami/thanos/templates/receive/grpc-server-tls-secrets.yaml
  bitnami/thanos/templates/storegateway/grpc-server-tls-secrets.yaml
Labels: verify, bitnami, thanos

#16055 [bitnami/nginx] Allow using percentages when configuring the pdb
  bitnami/nginx/Chart.yaml
  bitnami/nginx/README.md
  bitnami/nginx/values.schema.json
  bitnami/nginx/values.yaml
Labels: verify, nginx, bitnami

#16057 [bitnami/kafka] fix reversed certs in provisioning when using PEM certs
  bitnami/kafka/Chart.yaml
  bitnami/kafka/templates/kafka-provisioning.yaml
Labels: verify, in-progress, kafka

#16088 [bitnami/kube-prometheus] operator/alertmanager serviceMonitor extraParams
  bitnami/kube-prometheus/Chart.yaml
  bitnami/kube-prometheus/README.md
  bitnami/kube-prometheus/templates/alertmanager/servicemonitor.yaml
  bitnami/kube-prometheus/templates/prometheus-operator/servicemonitor.yaml
  bitnami/kube-prometheus/values.yaml
Labels: verify, in-progress, kube-prometheus

#16127 [bitnami/spark] Update config path
  bitnami/spark/Chart.yaml
  bitnami/spark/templates/statefulset-master.yaml
  bitnami/spark/templates/statefulset-worker.yaml
Labels: verify, bitnami, spark

#16032 [bitnami/kafka] Fix provisioning with bundle CA
  bitnami/kafka/Chart.yaml
  bitnami/kafka/templates/kafka-provisioning.yaml
  bitnami/kafka/values.yaml
Labels: verify, in-progress, kafka

#16087 [bitnami/kube-state-metrics] serviceMonitor extraParams
  bitnami/kube-state-metrics/Chart.yaml
  bitnami/kube-state-metrics/README.md
  bitnami/kube-state-metrics/templates/servicemonitor.yaml
  bitnami/kube-state-metrics/values.yaml
Labels: verify, in-progress, kube-state-metrics

#16138 [bitnami/kubeapps] Update to add missing image from Kubeapps 2.7.0 release.
  bitnami/kubeapps/Chart.yaml
  bitnami/kubeapps/README.md
  bitnami/kubeapps/values.yaml
Labels: verify, triage, kubeapps

#15766 [bitnami/kube-prometheus]: add prometheus config-reloader servicemonitor
  bitnami/kube-prometheus/Chart.yaml
  bitnami/kube-prometheus/README.md
  bitnami/kube-prometheus/templates/_helpers.tpl
  bitnami/kube-prometheus/templates/prometheus/config-reloader-service.yaml
  bitnami/kube-prometheus/templates/prometheus/config-reloader-servicemonitor.yaml
  bitnami/kube-prometheus/values.yaml
Labels: verify, in-progress, kube-prometheus

#16122 [bitnami/influxdb] Seperate unrelated parameters
  bitnami/influxdb/README.md
Labels: verify, in-progress, influxdb

#16165 [bitnami/opencart] Upgrade MariaDB to version 10.11
  bitnami/opencart/Chart.lock
  bitnami/opencart/Chart.yaml
  bitnami/opencart/README.md
Labels: verify, bitnami, opencart

#16162 [bitnami/wordpress] Upgrade MariaDB to version 10.11
  bitnami/wordpress/Chart.lock
  bitnami/wordpress/Chart.yaml
  bitnami/wordpress/README.md
Labels: verify, bitnami, wordpress

#16163 [bitnami/moodle] Upgrade MariaDB to version 10.11
  bitnami/moodle/Chart.lock
  bitnami/moodle/Chart.yaml
  bitnami/moodle/README.md
Labels: verify, moodle, bitnami

#16164 [bitnami/drupal] Upgrade MariaDB to version 10.11
  bitnami/drupal/Chart.lock
  bitnami/drupal/Chart.yaml
  bitnami/drupal/README.md
Labels: verify, bitnami, drupal

#16166 [bitnami/phpmyadmin] Upgrade MariaDB to version 10.11
  bitnami/phpmyadmin/Chart.lock
  bitnami/phpmyadmin/Chart.yaml
  bitnami/phpmyadmin/README.md
Labels: verify, bitnami, phpmyadmin

#16167 [bitnami/spring-cloud-dataflow] Upgrade MariaDB to version 10.11
  bitnami/spring-cloud-dataflow/Chart.lock
  bitnami/spring-cloud-dataflow/Chart.yaml
  bitnami/spring-cloud-dataflow/README.md
Labels: verify, bitnami, spring-cloud-dataflow

#16170 [bitnami/matomo] Upgrade MariaDB to version 10.11
  bitnami/matomo/Chart.lock
  bitnami/matomo/Chart.yaml
  bitnami/matomo/README.md
Labels: verify, bitnami, matomo

#16171 [bitnami/joomla] Upgrade MariaDB to version 10.11
  bitnami/joomla/Chart.lock
  bitnami/joomla/Chart.yaml
  bitnami/joomla/README.md
Labels: verify, bitnami, joomla

#16172 [bitnami/mediawiki] Upgrade MariaDB to version 10.11
  bitnami/mediawiki/Chart.lock
  bitnami/mediawiki/Chart.yaml
  bitnami/mediawiki/README.md
Labels: verify, bitnami, mediawiki

#16174 [bitnami/prestashop] Upgrade MariaDB to version 10.11
  bitnami/prestashop/Chart.lock
  bitnami/prestashop/Chart.yaml
  bitnami/prestashop/README.md
Labels: verify, prestashop, bitnami

#16175 [bitnami/jasperreports] Upgrade MariaDB to version 10.11
  bitnami/jasperreports/Chart.lock
  bitnami/jasperreports/Chart.yaml
  bitnami/jasperreports/README.md
Labels: verify, bitnami, jasperreports

#16168 [bitnami/magento] Upgrade MariaDB to version 10.11
  bitnami/magento/Chart.lock
  bitnami/magento/Chart.yaml
  bitnami/magento/README.md
Labels: verify, magento, bitnami

#16169 [bitnami/suitecrm] Upgrade MariaDB to version 10.11
  bitnami/suitecrm/Chart.lock
  bitnami/suitecrm/Chart.yaml
  bitnami/suitecrm/README.md
Labels: verify, bitnami, suitecrm

#16176 [bitnami/ejbca] Upgrade MariaDB to version 10.11
  bitnami/ejbca/Chart.lock
  bitnami/ejbca/Chart.yaml
  bitnami/ejbca/README.md
Labels: verify, bitnami, ejbca

#16173 [bitnami/osclass] Upgrade MariaDB to version 10.11
  bitnami/osclass/Chart.lock
  bitnami/osclass/Chart.yaml
  bitnami/osclass/README.md
Labels: verify, bitnami, osclass

#16179 [bitnami/redmine] Upgrade MariaDB to version 10.11
  bitnami/redmine/Chart.lock
  bitnami/redmine/Chart.yaml
  bitnami/redmine/README.md
Labels: verify, bitnami, redmine

#16178 [bitnami/phpbb] Upgrade MariaDB to version 10.11
  bitnami/phpbb/Chart.lock
  bitnami/phpbb/Chart.yaml
  bitnami/phpbb/README.md
Labels: verify, bitnami

#15768 [bitnami/kafka] Configure Kraft mode by default
  .vib/kafka/goss/goss.yaml
  .vib/kafka/runtime-parameters.yaml
  bitnami/kafka/Chart.lock
  bitnami/kafka/Chart.yaml
  bitnami/kafka/README.md
  bitnami/kafka/templates/scripts-configmap.yaml
  bitnami/kafka/values.yaml
Labels: verify, kafka, bitnami

#16146 [bitnami/kube-prometheus] Updating dep kube-state-metrics from 3.3.5 to 3.4.0
  bitnami/kube-prometheus/Chart.lock
  bitnami/kube-prometheus/Chart.yaml
Labels: verify, in-progress, kube-prometheus

#16192 [bitnami/spring-cloud-dataflow] Update dependencies
  bitnami/spring-cloud-dataflow/Chart.lock
  bitnami/spring-cloud-dataflow/Chart.yaml
  bitnami/spring-cloud-dataflow/README.md
  bitnami/spring-cloud-dataflow/values.yaml
Labels: verify, bitnami, spring-cloud-dataflow

#16191 [bitnami/schema-registry] Update dependencies
  bitnami/schema-registry/Chart.lock
  bitnami/schema-registry/Chart.yaml
  bitnami/schema-registry/README.md
  bitnami/schema-registry/values.yaml
Labels: verify, bitnami, schema-registry

#16152 [bitnami/contour] Added option to set leader-election-resource-name.
  bitnami/contour/Chart.yaml
  bitnami/contour/README.md
  bitnami/contour/templates/contour/deployment.yaml
  bitnami/contour/values.yaml
Labels: verify, in-progress, contour

#16199 redis chart: sort alphabetically hpa metrics, fixes #16198
  bitnami/redis/Chart.yaml
  bitnami/redis/templates/replicas/hpa.yaml
Labels: verify, in-progress, redis

#16211 [bitnami/several] Revert changes done by mistake in Chart.yaml repo
  bitnami/apache/Chart.lock
  bitnami/apache/Chart.yaml
  bitnami/clickhouse/Chart.lock
  bitnami/clickhouse/Chart.yaml
  bitnami/grafana-mimir/Chart.lock
  bitnami/grafana-mimir/Chart.yaml
  bitnami/mariadb-galera/Chart.lock
  bitnami/mariadb-galera/Chart.yaml
  bitnami/mariadb/Chart.lock
  bitnami/mariadb/Chart.yaml
  bitnami/minio/Chart.lock
  bitnami/minio/Chart.yaml
  bitnami/postgresql-ha/Chart.lock
  bitnami/postgresql-ha/Chart.yaml
  bitnami/postgresql/Chart.lock
  bitnami/postgresql/Chart.yaml
  bitnami/tomcat/Chart.lock
  bitnami/tomcat/Chart.yaml
  bitnami/zookeeper/Chart.lock
  bitnami/zookeeper/Chart.yaml
Labels: verify, bitnami

#16183 [bitnami/keycloak] Use `httpRelativePath` for ingress path and service monitor endpoints
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/README.md
  bitnami/keycloak/templates/_helpers.tpl
  bitnami/keycloak/templates/ingress.yaml
  bitnami/keycloak/templates/servicemonitor.yaml
  bitnami/keycloak/values.yaml
Labels: verify, in-progress, keycloak

#16214 [bitnami/argo-cd] Add helper for the redis image
  bitnami/argo-cd/Chart.yaml
  bitnami/argo-cd/templates/NOTES.txt
  bitnami/argo-cd/templates/_helpers.tpl
  bitnami/argo-cd/templates/application-controller/deployment.yaml
  bitnami/argo-cd/templates/repo-server/deployment.yaml
  bitnami/argo-cd/templates/server/deployment.yaml
Labels: verify, bitnami, argo-cd

#16116 [binami/solr] Solr ingress with template
  bitnami/solr/Chart.yaml
  bitnami/solr/templates/ingress.yaml
Labels: verify, in-progress, solr

#16249 [bitnami/postgresql] Use username as key in the Service Binding secret
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/templates/secrets.yaml
Labels: verify, postgresql, bitnami

#16250 [bitnami/mariadb] Use username as key in the Service Binding secret
  bitnami/mariadb/Chart.yaml
  bitnami/mariadb/templates/secrets.yaml
Labels: verify, mariadb, bitnami

#16251 [bitnami/mongodb] Use username as key in the Service Binding secret
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/templates/secrets.yaml
Labels: verify, bitnami, mongodb

#16252 [bitnami/kafka] Use username as key in the Service Binding secret
  bitnami/kafka/Chart.yaml
  bitnami/kafka/templates/jaas-secret.yaml
Labels: verify, kafka, bitnami

#16253 [bitnami/mysql] Use username as key in the Service Binding secret
  bitnami/mysql/Chart.yaml
  bitnami/mysql/templates/secrets.yaml
Labels: verify, bitnami, mysql

#16196 [bitnami/discourse] Add feature discourse.plugins
  bitnami/discourse/Chart.yaml
  bitnami/discourse/README.md
  bitnami/discourse/templates/deployment.yaml
  bitnami/discourse/values.yaml
Labels: verify, bitnami, discourse

#16245 [bitnami/clickhouse] Fix volumePermissions's command syntax and security context
  bitnami/clickhouse/Chart.yaml
  bitnami/clickhouse/templates/statefulset.yaml
Labels: verify, in-progress, clickhouse

#16204 [bitnami/nginx] Add resources for Add resources to Git-Sync. Otherwise hpa did not work
  bitnami/nginx/Chart.yaml
  bitnami/nginx/README.md
  bitnami/nginx/templates/deployment.yaml
  bitnami/nginx/values.yaml
Labels: verify, in-progress, nginx
