Repository bitnami/charts, pull requests merged in 2023-06, with the labels that each got.

#16986 [bitnami/charts] Fix issue moving cards from forks
  .github/workflows/pr-reviews.yml
Labels: verify, bitnami

#16962 [bitnami/minio] remove unnecessary password conditions in NOTES.txt
  bitnami/minio/Chart.yaml
  bitnami/minio/templates/NOTES.txt
  bitnami/minio/templates/_helpers.tpl
Labels: verify, in-progress, minio

#17003 [bitnami/elasticsearch] Add extra roles
  bitnami/elasticsearch/Chart.yaml
  bitnami/elasticsearch/README.md
  bitnami/elasticsearch/templates/data/statefulset.yaml
  bitnami/elasticsearch/templates/ingest/statefulset.yaml
  bitnami/elasticsearch/templates/master/statefulset.yaml
  bitnami/elasticsearch/values.yaml
Labels: verify, bitnami, elasticsearch

#17004 [bitnami/kube-prometheus] Allow setting global scrapeTimeout
  bitnami/kube-prometheus/Chart.yaml
  bitnami/kube-prometheus/README.md
  bitnami/kube-prometheus/templates/prometheus/prometheus.yaml
  bitnami/kube-prometheus/values.yaml
Labels: verify, bitnami, kube-prometheus

#17005 [bitnami/wavefront] Mark wavefront helm chart as deprecated
  bitnami/wavefront/Chart.yaml
  bitnami/wavefront/README.md
  bitnami/wavefront/templates/NOTES.txt
Labels: verify, bitnami, wavefront

#16948 [bitnami/kafka]Fix kafka.validateValues.tlsPasswords gives an error for provisioning even when provisioning.enabled is false
  bitnami/kafka/Chart.yaml
  bitnami/kafka/templates/_helpers.tpl
Labels: verify, in-progress, kafka

#17027 [bitnami/harbor] Remove Chartmuseum dependency
  bitnami/harbor/Chart.yaml
  bitnami/harbor/README.md
  bitnami/harbor/templates/_helpers.tpl
  bitnami/harbor/templates/chartmuseum/chartmuseum-cm-envvars.yaml
  bitnami/harbor/templates/chartmuseum/chartmuseum-dpl.yaml
  bitnami/harbor/templates/chartmuseum/chartmuseum-pvc.yaml
  bitnami/harbor/templates/chartmuseum/chartmuseum-secret.yaml
  bitnami/harbor/templates/chartmuseum/chartmuseum-svc.yaml
  bitnami/harbor/templates/core/core-cm-envvars.yaml
  bitnami/harbor/templates/internal/internal-crt-secret.yaml
  bitnami/harbor/templates/registry/registry-dpl.yaml
  bitnami/harbor/values.yaml
Labels: verify, bitnami, harbor

#16990 [bitnami/keycloak] Remove erroneous 'name' property from tls-secret
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/templates/tls-secret.yaml
Labels: triage, keycloak

#17037 [bitnami/wavefront] Remove Wavefront
  .vib/wavefront/ginkgo/go.mod
  .vib/wavefront/ginkgo/go.sum
  .vib/wavefront/ginkgo/integration_suite_test.go
  .vib/wavefront/ginkgo/wavefront.go
  .vib/wavefront/goss/goss.yaml
  .vib/wavefront/runtime-parameters.yaml
  .vib/wavefront/vib-action.config
  .vib/wavefront/vib-publish.json
  .vib/wavefront/vib-verify.json
  bitnami/wavefront/.helmignore
  bitnami/wavefront/Chart.lock
  bitnami/wavefront/Chart.yaml
  bitnami/wavefront/README.md
  bitnami/wavefront/templates/NOTES.txt
  bitnami/wavefront/templates/_helpers.tpl
  bitnami/wavefront/templates/api-token-secret.yaml
  bitnami/wavefront/templates/collector-cluster-role.yaml
  bitnami/wavefront/templates/collector-clusterrolebinding.yaml
  bitnami/wavefront/templates/collector-config.yaml
  bitnami/wavefront/templates/collector-daemonset.yaml
  bitnami/wavefront/templates/collector-deployment.yaml
  bitnami/wavefront/templates/collector-service-account.yaml
  bitnami/wavefront/templates/extra-list.yaml
  bitnami/wavefront/templates/podsecuritypolicy.yaml
  bitnami/wavefront/templates/project-pacific-rolebinding.yaml
  bitnami/wavefront/templates/proxy-deployment.yaml
  bitnami/wavefront/templates/proxy-preprocessor-config.yaml
  bitnami/wavefront/templates/proxy-service.yaml
  bitnami/wavefront/templates/tkgi-rolebinding.yaml
  bitnami/wavefront/values.yaml
Labels: verify, bitnami

#16596 [bitnami/argo-workflows] Fix liveness probe and templating of externalDatabase
  bitnami/argo-workflows/Chart.yaml
  bitnami/argo-workflows/templates/_helpers.tpl
  bitnami/argo-workflows/templates/controller/database-secret.yaml
  bitnami/argo-workflows/templates/controller/deployment.yaml
Labels: verify, in-progress, argo-workflows

#17013 [bitnami/vault] Fix: fluxcd fails to install vault
  bitnami/vault/Chart.yaml
  bitnami/vault/templates/server/statefulset.yaml
Labels: verify, in-progress, vault

#16992 [bitnami/metallb] Add missing rule to controller role
  bitnami/metallb/Chart.yaml
  bitnami/metallb/templates/controller/rbac.yaml
Labels: verify, in-progress, metallb

#17086 [bitnami/spring-cloud-dataflow] Bump rabbitmq dependency
  .vib/spring-cloud-dataflow/cypress/cypress/integration/spring_cloud_dataflow_spec.js
  bitnami/spring-cloud-dataflow/Chart.lock
  bitnami/spring-cloud-dataflow/Chart.yaml
Labels: verify, bitnami, spring-cloud-dataflow

#17096 [bitnami/mysql] Bump version
  bitnami/mysql/Chart.yaml
Labels: bitnami, mysql

#16898 [bitnami/thanos]: conditionals for compactor cronjob
  bitnami/thanos/Chart.yaml
  bitnami/thanos/templates/compactor/service.yaml
  bitnami/thanos/templates/compactor/servicemonitor.yaml
Labels: verify, in-progress, thanos

#17090 [bitnami/charts] Delete sync-labels.yml
  .github/workflows/sync-labels.yml
Labels: verify, bitnami

#16918 [bitnami/sonarqube] enable custom ingress labels
  bitnami/sonarqube/Chart.yaml
  bitnami/sonarqube/README.md
  bitnami/sonarqube/templates/ingress.yaml
  bitnami/sonarqube/values.yaml
Labels: stale, verify, in-progress, sonarqube

#17103 [bitnami/redis] Modify Sentinel liveness Probe timeout to not restart during tilt-mode
  bitnami/redis/Chart.yaml
  bitnami/redis/README.md
  bitnami/redis/values.yaml
Labels: verify, bitnami, redis

#16576 [bitnami/postgresql-ha] Don't render empty keys from templates
  bitnami/postgresql-ha/Chart.yaml
  bitnami/postgresql-ha/templates/pgpool/deployment.yaml
  bitnami/postgresql-ha/templates/postgresql/statefulset.yaml
Labels: verify, in-progress, postgresql-ha

#17095 [bitnami/vault] fix: break when using vault csiProvider
  bitnami/vault/Chart.yaml
  bitnami/vault/values.yaml
Labels: verify, in-progress, vault

#17019 [bitnami/grafana-tempo] Add external client to generate traces
  .vib/grafana-tempo/goss/goss.yaml
  .vib/grafana-tempo/runtime-parameters.yaml
Labels: verify, bitnami

#17120 [bitnami/argo-cd] Update subcharts (redis)
  bitnami/argo-cd/Chart.lock
  bitnami/argo-cd/Chart.yaml
Labels: verify, bitnami, argo-cd

#17119 [bitnami/several] Remove 'Community supported solution' section from READMEs
  bitnami/discourse/README.md
  bitnami/dokuwiki/README.md
  bitnami/drupal/README.md
  bitnami/ghost/README.md
  bitnami/jasperreports/README.md
  bitnami/joomla/README.md
  bitnami/magento/README.md
  bitnami/mediawiki/README.md
  bitnami/metallb/README.md
  bitnami/moodle/README.md
  bitnami/odoo/README.md
  bitnami/opencart/README.md
  bitnami/osclass/README.md
  bitnami/phpbb/README.md
  bitnami/phpmyadmin/README.md
  bitnami/prestashop/README.md
  bitnami/redmine/README.md
  bitnami/suitecrm/README.md
Labels: verify, bitnami

#17107 [bitnami/oauth2-proxy] Fix typo in helpers' function name
  bitnami/oauth2-proxy/Chart.yaml
  bitnami/oauth2-proxy/templates/_helpers.tpl
Labels: verify, bitnami, oauth2-proxy

#17001 [bitnami/etcd] Fix label selector for pdb
  bitnami/etcd/Chart.yaml
  bitnami/etcd/README.md
  bitnami/etcd/templates/pdb.yaml
  bitnami/etcd/templates/statefulset.yaml
Labels: verify, in-progress, etcd

#17088 [bitnami/aspnet-core] Support extraLabels for serviceAccount
  bitnami/aspnet-core/Chart.yaml
  bitnami/aspnet-core/README.md
  bitnami/aspnet-core/templates/serviceaccount.yaml
  bitnami/aspnet-core/values.yaml
Labels: verify, in-progress, aspnet-core

#17150 [bitnami/charts] Avoid assignment of cards in Build Maintenance column
  .github/workflows/moving-cards.yml
Labels: verify, bitnami

#17116 [MongoDB] Respecting the MONGODB_ROOT_USER environment variable
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/templates/replicaset/scripts-configmap.yaml
Labels: verify, in-progress, mongodb

#17162 [bitnami/rabbitmq] removed empty line added between password and cookie secret
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/templates/secrets.yaml
Labels: verify, in-progress, rabbitmq

#17102 [bitnami/supabase] Existing jwt secret is overwritten, although it should not be.
  bitnami/supabase/Chart.yaml
  bitnami/supabase/templates/jwt-init-job.yaml
Labels: verify, bitnami, supabase

#17175 [bitnami/redis] Add automountServiceAccountToken in pod specs
  bitnami/redis/Chart.yaml
  bitnami/redis/templates/master/application.yaml
  bitnami/redis/templates/replicas/statefulset.yaml
  bitnami/redis/templates/sentinel/statefulset.yaml
Labels: verify, in-progress, redis

#17144 [bitnami/postgresql-ha] pgPool Load Balanced Write Bugfix
  bitnami/postgresql-ha/Chart.yaml
  bitnami/postgresql-ha/templates/pgpool/deployment.yaml
Labels: verify, in-progress, postgresql-ha

#17148 [bitnami/kafka] Remove KAFKA_ENABLE_KRAFT duplicated keys
  bitnami/kafka/Chart.yaml
  bitnami/kafka/templates/statefulset.yaml
Labels: verify, in-progress, kafka

#17140 [bitnami/PostgreSQL] Update statefulset to inlcude verbose PVC reference
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/templates/primary/statefulset.yaml
Labels: verify, in-progress, postgresql

#17180 [bitnami/wavefront-prometheus-storage-adapter] Mark Wavefront Prometheus Adapter helm chart as deprecated
  bitnami/wavefront-prometheus-storage-adapter/Chart.yaml
  bitnami/wavefront-prometheus-storage-adapter/README.md
  bitnami/wavefront-prometheus-storage-adapter/templates/NOTES.txt
Labels: verify, bitnami, wavefront-prometheus-storage-adapter

#17171 [bitnami/thanos] Add labels for Thanos Compactor PVC
  bitnami/thanos/Chart.yaml
  bitnami/thanos/README.md
  bitnami/thanos/templates/compactor/pvc.yaml
  bitnami/thanos/values.yaml
Labels: verify, in-progress, thanos

#17185 [bitnami/apisix] Upgrade etcd dependency
  bitnami/apisix/Chart.lock
  bitnami/apisix/Chart.yaml
  bitnami/apisix/README.md
Labels: verify, bitnami, apisix

#17182 [bitnami/wavefront-prometheus-storage-adapter] Delete Wavefront Prometheus Adapter
  .vib/wavefront-prometheus-storage-adapter/ginkgo/go.mod
  .vib/wavefront-prometheus-storage-adapter/ginkgo/go.sum
  .vib/wavefront-prometheus-storage-adapter/ginkgo/integration_suite_test.go
  .vib/wavefront-prometheus-storage-adapter/ginkgo/wavefront_prometheus_storage_adapter_test.go
  .vib/wavefront-prometheus-storage-adapter/goss/goss.yaml
  .vib/wavefront-prometheus-storage-adapter/runtime-parameters.yaml
  .vib/wavefront-prometheus-storage-adapter/vib-publish.json
  .vib/wavefront-prometheus-storage-adapter/vib-verify.json
  bitnami/wavefront-prometheus-storage-adapter/Chart.lock
  bitnami/wavefront-prometheus-storage-adapter/Chart.yaml
  bitnami/wavefront-prometheus-storage-adapter/README.md
  bitnami/wavefront-prometheus-storage-adapter/templates/NOTES.txt
  bitnami/wavefront-prometheus-storage-adapter/templates/_helpers.tpl
  bitnami/wavefront-prometheus-storage-adapter/templates/deployment.yaml
  bitnami/wavefront-prometheus-storage-adapter/templates/extra-list.yaml
  bitnami/wavefront-prometheus-storage-adapter/templates/service.yaml
  bitnami/wavefront-prometheus-storage-adapter/values.yaml
Labels: verify, bitnami, wavefront-prometheus-storage-adapter

#17151 [bitnami/kube-state-metrics] Added example section for "extraArgs" section to help use argument in correct way
  bitnami/kube-state-metrics/Chart.yaml
  bitnami/kube-state-metrics/values.yaml
Labels: verify, in-progress, kube-state-metrics

#17188 [bitnami/charts] Remove references to build-maintainers GH team
  .github/workflows/.env
Labels: verify, bitnami

#17155 [bitnami/redis-cluster] Support `persistentVolumeClaimRetentionPolicy` for redis-cluster
  bitnami/redis-cluster/Chart.yaml
  bitnami/redis-cluster/README.md
  bitnami/redis-cluster/templates/redis-statefulset.yaml
  bitnami/redis-cluster/values.yaml
Labels: verify, in-progress, redis-cluster

#17278 [bitnami/metallb] Remove namespace field for cluster wide resources
  bitnami/metallb/Chart.yaml
  bitnami/metallb/templates/controller/rbac.yaml
  bitnami/metallb/templates/speaker/rbac.yaml
Labels: verify, bitnami, metallb

#17276 [bitnami/external-dns] Remove namespace field for cluster wide resources
  bitnami/external-dns/Chart.yaml
  bitnami/external-dns/templates/clusterrole.yaml
  bitnami/external-dns/templates/clusterrolebinding.yaml
  bitnami/external-dns/templates/psp-clusterrole.yaml
  bitnami/external-dns/templates/psp-clusterrolebinding.yaml
Labels: verify, bitnami, external-dns

#17275 [bitnami/fluent-bit] Remove namespace field for cluster wide resources
  bitnami/fluent-bit/Chart.yaml
  bitnami/fluent-bit/templates/clusterrole.yaml
  bitnami/fluent-bit/templates/clusterrolebinding.yaml
Labels: verify, bitnami, fluent-bit

#17274 [bitnami/fluentd] Remove namespace field for cluster wide resources
  bitnami/fluentd/Chart.yaml
  bitnami/fluentd/templates/forwarder-clusterrole.yaml
  bitnami/fluentd/templates/forwarder-clusterrolebinding.yaml
Labels: verify, bitnami, fluentd

#17273 [bitnami/flux] Remove namespace field for cluster wide resources
  bitnami/flux/Chart.yaml
  bitnami/flux/templates/helm-controller/clusterroles.yaml
  bitnami/flux/templates/image-automation-controller/clusterroles.yaml
  bitnami/flux/templates/image-reflector-controller/clusterroles.yaml
  bitnami/flux/templates/kustomize-controller/clusterroles.yaml
  bitnami/flux/templates/notification-controller/clusterroles.yaml
  bitnami/flux/templates/source-controller/clusterroles.yaml
Labels: verify, bitnami, flux

#17271 [bitnami/kiam] Remove namespace field for cluster wide resources
  bitnami/kiam/Chart.yaml
  bitnami/kiam/templates/agent/agent-psp-clusterrole.yaml
  bitnami/kiam/templates/agent/agent-psp-clusterrolebinding.yaml
  bitnami/kiam/templates/server/server-psp-clusterrole.yaml
  bitnami/kiam/templates/server/server-psp-clusterrolebinding.yaml
  bitnami/kiam/templates/server/server-read-clusterrole.yaml
  bitnami/kiam/templates/server/server-read-clusterrolebinding.yaml
  bitnami/kiam/templates/server/server-write-clusterrole.yaml
  bitnami/kiam/templates/server/server-write-clusterrolebinding.yaml
Labels: verify, bitnami, kiam

#17269 [bitnami/kube-prometheus] Remove namespace field for cluster wide resources
  bitnami/kube-prometheus/Chart.yaml
  bitnami/kube-prometheus/templates/alertmanager/psp-clusterrole.yaml
  bitnami/kube-prometheus/templates/alertmanager/psp-clusterrolebinding.yaml
  bitnami/kube-prometheus/templates/prometheus-operator/clusterrole.yaml
  bitnami/kube-prometheus/templates/prometheus-operator/clusterrolebinding.yaml
  bitnami/kube-prometheus/templates/prometheus-operator/psp-clusterrole.yaml
  bitnami/kube-prometheus/templates/prometheus-operator/psp-clusterrolebinding.yaml
  bitnami/kube-prometheus/templates/prometheus/clusterrole.yaml
  bitnami/kube-prometheus/templates/prometheus/clusterrolebinding.yaml
  bitnami/kube-prometheus/templates/prometheus/psp-clusterrole.yaml
  bitnami/kube-prometheus/templates/prometheus/psp-clusterrolebinding.yaml
Labels: verify, bitnami, kube-prometheus

#17268 [bitnami/kube-state-metrics] Remove namespace field for cluster wide resources
  bitnami/kube-state-metrics/Chart.yaml
  bitnami/kube-state-metrics/templates/clusterrole.yaml
  bitnami/kube-state-metrics/templates/clusterrolebinding.yaml
  bitnami/kube-state-metrics/templates/psp-clusterrole.yaml
  bitnami/kube-state-metrics/templates/psp-clusterrolebinding.yaml
Labels: verify, bitnami, kube-state-metrics

#17266 [bitnami/kubernetes-event-exporter] Remove namespace field for cluster wide resources
  bitnami/kubernetes-event-exporter/Chart.yaml
  bitnami/kubernetes-event-exporter/templates/clusterrole.yaml
  bitnami/kubernetes-event-exporter/templates/rbac.yaml
Labels: verify, bitnami, kubernetes-event-exporter

#17265 [bitnami/multus-cni] Remove namespace field for cluster wide resources
  bitnami/multus-cni/Chart.yaml
  bitnami/multus-cni/templates/clusterrole.yaml
  bitnami/multus-cni/templates/clusterrolebinding.yaml
Labels: verify, bitnami, multus-cni

#17264 [bitnami/nginx-ingress-controller] Remove namespace field for cluster wide resources
  bitnami/nginx-ingress-controller/Chart.yaml
  bitnami/nginx-ingress-controller/templates/clusterrole.yaml
  bitnami/nginx-ingress-controller/templates/clusterrolebinding.yaml
Labels: verify, bitnami, nginx-ingress-controller

#17263 [bitnami/node-exporter] Remove namespace field for cluster wide resources
  bitnami/node-exporter/Chart.yaml
  bitnami/node-exporter/templates/psp-clusterrole.yaml
  bitnami/node-exporter/templates/psp-clusterrolebinding.yaml
Labels: verify, bitnami, node-exporter

#17261 [bitnami/sealed-secrets] Remove namespace field for cluster wide resources
  bitnami/sealed-secrets/Chart.yaml
  bitnami/sealed-secrets/templates/clusterrole.yaml
  bitnami/sealed-secrets/templates/clusterrolebinding.yaml
  bitnami/sealed-secrets/templates/psp-clusterrole.yaml
  bitnami/sealed-secrets/templates/psp-clusterrolebinding.yaml
Labels: verify, bitnami, sealed-secrets

#17259 [bitnami/whereabouts] Remove namespace field for cluster wide resources
  bitnami/whereabouts/Chart.yaml
  bitnami/whereabouts/templates/clusterrole.yaml
  bitnami/whereabouts/templates/clusterrolebinding.yaml
Labels: verify, bitnami, whereabouts

#17258 [bitnami/argo-workflows] Remove namespace field for cluster wide resources
  bitnami/argo-workflows/Chart.yaml
  bitnami/argo-workflows/templates/controller/aggregate-cluster-roles.yaml
  bitnami/argo-workflows/templates/controller/clusterrolebinding.yaml
  bitnami/argo-workflows/templates/controller/controller-cluster-roles.yaml
  bitnami/argo-workflows/templates/server/cluster-role.yaml
  bitnami/argo-workflows/templates/server/clusterrolebinding.yaml
Labels: verify, argo-workflows, bitnami

#17256 [bitnami/concourse] Remove namespace field for cluster wide resources
  bitnami/concourse/Chart.yaml
  bitnami/concourse/templates/web/role.yaml
  bitnami/concourse/templates/worker/role.yaml
Labels: verify, bitnami, concourse

#17200 [bitnami/wavefront-hpa-adapter] Add deprecation notice
  .vib/wavefront-hpa-adapter/runtime-parameters.yaml
  bitnami/wavefront-hpa-adapter/Chart.yaml
  bitnami/wavefront-hpa-adapter/README.md
  bitnami/wavefront-hpa-adapter/templates/NOTES.txt
Labels: verify, bitnami, wavefront-hpa-adapter

#17306 worker_nodes_instance_count should be integer instead of string
  .vib/fluentd/vib-publish.json
  .vib/fluentd/vib-verify.json
  .vib/redis/vib-publish.json
  .vib/redis/vib-verify.json
Labels: verify, bitnami

#17307 [bitnami/wavefront-hpa-adapter] Deprecate Wavefront HPA Adapter
  .vib/wavefront-adapter-for-istio/vib-publish.json
  .vib/wavefront-adapter-for-istio/vib-verify.json
  .vib/wavefront-hpa-adapter/ginkgo/go.mod
  .vib/wavefront-hpa-adapter/ginkgo/go.sum
  .vib/wavefront-hpa-adapter/ginkgo/integration_suite_test.go
  .vib/wavefront-hpa-adapter/ginkgo/wavefront-hpa-adapter_test.go
  .vib/wavefront-hpa-adapter/runtime-parameters.yaml
  .vib/wavefront-hpa-adapter/vib-action.config
  .vib/wavefront-hpa-adapter/vib-publish.json
  .vib/wavefront-hpa-adapter/vib-verify.json
  bitnami/wavefront-hpa-adapter/Chart.lock
  bitnami/wavefront-hpa-adapter/Chart.yaml
  bitnami/wavefront-hpa-adapter/README.md
  bitnami/wavefront-hpa-adapter/templates/NOTES.txt
  bitnami/wavefront-hpa-adapter/templates/_helpers.tpl
  bitnami/wavefront-hpa-adapter/templates/custom-metrics-apiserver-auth-delegator-cluster-role-binding.yaml
  bitnami/wavefront-hpa-adapter/templates/custom-metrics-apiserver-auth-reader-role-binding.yaml
  bitnami/wavefront-hpa-adapter/templates/custom-metrics-apiserver-deployment.yaml
  bitnami/wavefront-hpa-adapter/templates/custom-metrics-apiserver-resource-reader-cluster-role-binding.yaml
  bitnami/wavefront-hpa-adapter/templates/custom-metrics-apiserver-service-account.yaml
  bitnami/wavefront-hpa-adapter/templates/custom-metrics-apiserver-service.yaml
  bitnami/wavefront-hpa-adapter/templates/custom-metrics-apiservice.yaml
  bitnami/wavefront-hpa-adapter/templates/custom-metrics-cluster-role.yaml
  bitnami/wavefront-hpa-adapter/templates/custom-metrics-configmap.yaml
  bitnami/wavefront-hpa-adapter/templates/custom-metrics-resource-reader-cluster-role.yaml
  bitnami/wavefront-hpa-adapter/templates/external-metrics-apiservice.yaml
  bitnami/wavefront-hpa-adapter/templates/external-metrics-cluster-role.yaml
  bitnami/wavefront-hpa-adapter/templates/extra-list.yaml
  bitnami/wavefront-hpa-adapter/templates/hpa-custom-metrics-cluster-role-binding.yaml
  bitnami/wavefront-hpa-adapter/templates/hpa-external-metrics-cluster-role-binding.yaml
  bitnami/wavefront-hpa-adapter/values.yaml
Labels: verify, bitnami

#17279 [bitnami/jupyterhub] Add jupyterhub proxy serviceAccount settings
  bitnami/jupyterhub/Chart.yaml
  bitnami/jupyterhub/README.md
  bitnami/jupyterhub/templates/_helpers.tpl
  bitnami/jupyterhub/templates/proxy/deployment.yaml
  bitnami/jupyterhub/templates/proxy/service-account.yaml
  bitnami/jupyterhub/values.yaml
Labels: verify, in-progress, jupyterhub

#17326 [bitnami/cert-manager] fix wrong ServiceAccount used for cainjector ClusterRoleBinding
  bitnami/cert-manager/Chart.yaml
  bitnami/cert-manager/templates/cainjector/rbac.yaml
Labels: verify, in-progress, cert-manager

#17325 [bitnami/influxdb] Add possibility to specify labels for ServiceMonitor
  bitnami/influxdb/Chart.yaml
  bitnami/influxdb/README.md
  bitnami/influxdb/templates/servicemonitor.yaml
Labels: verify, in-progress, influxdb

#17317 [bitnami/grafana-loki] Add the ability to set extra args for all containers
  bitnami/grafana-loki/Chart.yaml
  bitnami/grafana-loki/README.md
  bitnami/grafana-loki/templates/compactor/deployment.yaml
  bitnami/grafana-loki/templates/distributor/deployment.yaml
  bitnami/grafana-loki/templates/gateway/deployment.yaml
  bitnami/grafana-loki/templates/index-gateway/statefulset.yaml
  bitnami/grafana-loki/templates/ingester/statefulset.yaml
  bitnami/grafana-loki/templates/promtail/daemonset.yaml
  bitnami/grafana-loki/templates/querier/statefulset.yaml
  bitnami/grafana-loki/templates/query-frontend/deployment.yaml
  bitnami/grafana-loki/templates/query-scheduler/deployment.yaml
  bitnami/grafana-loki/templates/ruler/statefulset.yaml
  bitnami/grafana-loki/templates/table-manager/deployment.yaml
  bitnami/grafana-loki/values.yaml
Labels: verify, in-progress, grafana-loki

#16881 [bitnami/harbor] Add existingSecret to exporter
  bitnami/harbor/Chart.yaml
  bitnami/harbor/templates/exporter/exporter-dpl.yaml
Labels: verify, in-progress, harbor

#17111 [bitnami/thanos] Fix ruler config in README example
  bitnami/thanos/README.md
Labels: in-progress, thanos

#17355 [bitnami/redis-cluster] Issue #17098 - add commonLabels to the Pods
  bitnami/redis-cluster/Chart.yaml
  bitnami/redis-cluster/templates/redis-statefulset.yaml
Labels: verify, in-progress, redis-cluster

#17281 add attachMetadata option support for node_exporter's serviceMonitor
  bitnami/node-exporter/Chart.yaml
  bitnami/node-exporter/README.md
  bitnami/node-exporter/templates/servicemonitor.yaml
  bitnami/node-exporter/values.yaml
Labels: verify, in-progress, node-exporter

#17353 [bitnami/spark] Add extraVolumeClaimTemplates in master and worker StatefulSets
  bitnami/spark/Chart.yaml
  bitnami/spark/README.md
  bitnami/spark/templates/statefulset-master.yaml
  bitnami/spark/templates/statefulset-worker.yaml
  bitnami/spark/values.yaml
Labels: verify, in-progress, spark

#17110 [bitnami/clickhouse] allow to set custom configuration for users folder
  bitnami/clickhouse/Chart.yaml
  bitnami/clickhouse/README.md
  bitnami/clickhouse/templates/_helpers.tpl
  bitnami/clickhouse/templates/configmap-users-extra.yaml
  bitnami/clickhouse/templates/statefulset.yaml
  bitnami/clickhouse/values.yaml
Labels: verify, in-progress, clickhouse

#17377 [bitnami/nginx] Allow setting deployment's revisionHistoryLimit
  bitnami/nginx/Chart.yaml
  bitnami/nginx/README.md
  bitnami/nginx/templates/deployment.yaml
  bitnami/nginx/values.yaml
Labels: verify, in-progress, nginx

#17383 [bitnami/pinniped] Update cli version and increase the timeouts
  .vib/pinniped/ginkgo/pinniped_test.go
  .vib/pinniped/ginkgo/scripts/pinniped-auth.sh
Labels: verify, bitnami

#17289 [bitnami/apisix] Add the plugins list to the dashboard default config
  bitnami/apisix/Chart.yaml
  bitnami/apisix/values.yaml
Labels: verify, in-progress, apisix

#17302 [bitnami/postgresql] checksum only data part of the ConfigMap
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/templates/primary/statefulset.yaml
  bitnami/postgresql/templates/read/statefulset.yaml
Labels: verify, in-progress, postgresql

#17397 [bitnami/common] Update common.secrets.passwords.manage and common.secrets.lookup
  bitnami/common/Chart.yaml
  bitnami/common/templates/_secrets.tpl
Labels: verify, bitnami, common

#17401 [bitnami/spring-cloud-dataflow] Update Kafka version
  bitnami/spring-cloud-dataflow/Chart.lock
  bitnami/spring-cloud-dataflow/Chart.yaml
Labels: verify, bitnami, spring-cloud-dataflow

#17400 [bitnami/schema-registry] Update Kafka version
  bitnami/schema-registry/Chart.lock
  bitnami/schema-registry/Chart.yaml
Labels: verify, bitnami, schema-registry

#17029 [bitnami/schema-registry] remove storageClass references
  bitnami/schema-registry/Chart.yaml
  bitnami/schema-registry/README.md
  bitnami/schema-registry/values.yaml
Labels: verify, in-progress, schema-registry
