Repository bitnami/charts, pull requests merged in 2023-07, with the labels that each got.

#17421 [bitnami/charts] Automate license checks
  .github/workflows/license-headers.yml
  .licenserc.yaml
  CONTRIBUTING.md
  bitnami/clickhouse/templates/configmap-users-extra.yaml
  bitnami/jupyterhub/templates/proxy/service-account.yaml
Labels: verify, bitnami

#17033 [bitnami/common] Add scope for common.tplvalues.render
  bitnami/common/Chart.yaml
  bitnami/common/templates/_tplvalues.tpl
Labels: verify, in-progress, common

#17398 [bitnami/postgresql] Fix issues when using enablePostgresUser=false
  bitnami/postgresql/Chart.lock
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/README.md
  bitnami/postgresql/templates/NOTES.txt
  bitnami/postgresql/templates/_helpers.tpl
  bitnami/postgresql/templates/primary/statefulset.yaml
  bitnami/postgresql/templates/read/statefulset.yaml
  bitnami/postgresql/templates/secrets.yaml
Labels: verify, postgresql, bitnami

#17417 [bitnami/supabase] Remove duplicated targetPort in service templates
  bitnami/supabase/Chart.yaml
  bitnami/supabase/templates/auth/service.yaml
  bitnami/supabase/templates/meta/service.yaml
  bitnami/supabase/templates/realtime/service.yaml
  bitnami/supabase/templates/rest/service.yaml
  bitnami/supabase/templates/storage/service.yaml
  bitnami/supabase/templates/studio/service.yaml
Labels: verify, bitnami, supabase

#17473 [bitnami/postgresql] Fix postgres password if customUser is empty
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/templates/primary/statefulset.yaml
Labels: verify, postgresql, bitnami

#17474 [bitnami/redis] Remove worker nodes setting from VIB tests
  .vib/redis/vib-publish.json
  .vib/redis/vib-verify.json
Labels: verify, bitnami

#17481 [bitnami/kubeapps] Add missing 2.8.0 kubeapps-apis image.
  bitnami/kubeapps/Chart.yaml
  bitnami/kubeapps/README.md
  bitnami/kubeapps/values.yaml
Labels: verify, triage, kubeapps

#17428 [bitnami/kube-prometheus] Allows using wildcard as hostname for prometheus ingress
  bitnami/kube-prometheus/Chart.yaml
  bitnami/kube-prometheus/templates/alertmanager/ingress.yaml
  bitnami/kube-prometheus/templates/prometheus/ingress.yaml
Labels: verify, in-progress, kube-prometheus

#17466 [bitnami/redis] Add missing apiVersion and kind to redis volumeClaimTemplates
  bitnami/redis/Chart.yaml
  bitnami/redis/templates/master/application.yaml
  bitnami/redis/templates/replicas/statefulset.yaml
Labels: verify, in-progress, redis

#17461 [bitnami/postgresql] Fix multi-element array for primary.service.loadBalancerSourceRanges
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/templates/primary/svc.yaml
Labels: verify, in-progress, postgresql

#17469 [bitnami/grafana-mimir] Fix helm error when gateway.auth.existingSecret is set
  bitnami/grafana-mimir/Chart.yaml
  bitnami/grafana-mimir/templates/_helpers.tpl
Labels: verify, in-progress, grafana-mimir

#17464 [bitnami/charts] Fix permissions in license-headers workflow
  .github/workflows/license-headers.yml
Labels: verify, bitnami

#17418 [bitnami/magento] Update chown of the deployment
  .vib/magento/cypress/cypress.json
  .vib/magento/cypress/cypress/support/commands.js
  .vib/magento/runtime-parameters.yaml
  bitnami/magento/Chart.yaml
  bitnami/magento/templates/deployment.yaml
Labels: verify, magento, bitnami

#17502 [bitnami/postgresql] Fix postgres random password generation
  bitnami/postgresql/Chart.lock
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/templates/_helpers.tpl
  bitnami/postgresql/templates/secrets.yaml
Labels: verify, postgresql, bitnami

#17538 [bitnami/milvus] Bump kafka major version and update license header
  bitnami/milvus/Chart.lock
  bitnami/milvus/Chart.yaml
  bitnami/milvus/templates/attu/deployment.yaml
  bitnami/milvus/templates/attu/service.yaml
  bitnami/milvus/templates/configmap.yaml
  bitnami/milvus/templates/data-coordinator/configmap.yaml
  bitnami/milvus/templates/data-coordinator/deployment.yaml
  bitnami/milvus/templates/data-coordinator/extra-configmap.yaml
  bitnami/milvus/templates/data-coordinator/service.yaml
  bitnami/milvus/templates/data-coordinator/servicemonitor.yaml
  bitnami/milvus/templates/data-node/configmap.yaml
  bitnami/milvus/templates/data-node/deployment.yaml
  bitnami/milvus/templates/data-node/extra-configmap.yaml
  bitnami/milvus/templates/data-node/service.yaml
  bitnami/milvus/templates/data-node/servicemonitor.yaml
  bitnami/milvus/templates/extra-configmap.yaml
  bitnami/milvus/templates/extra-list.yaml
  bitnami/milvus/templates/index-coordinator/configmap.yaml
  bitnami/milvus/templates/index-coordinator/deployment.yaml
  bitnami/milvus/templates/index-coordinator/extra-configmap.yaml
  bitnami/milvus/templates/index-coordinator/service.yaml
  bitnami/milvus/templates/index-coordinator/servicemonitor.yaml
  bitnami/milvus/templates/index-node/configmap.yaml
  bitnami/milvus/templates/index-node/deployment.yaml
  bitnami/milvus/templates/index-node/extra-configmap.yaml
  bitnami/milvus/templates/index-node/service.yaml
  bitnami/milvus/templates/index-node/servicemonitor.yaml
  bitnami/milvus/templates/proxy/configmap.yaml
  bitnami/milvus/templates/proxy/deployment.yaml
  bitnami/milvus/templates/proxy/extra-configmap.yaml
  bitnami/milvus/templates/proxy/service.yaml
  bitnami/milvus/templates/proxy/servicemonitor.yaml
  bitnami/milvus/templates/query-coordinator/configmap.yaml
  bitnami/milvus/templates/query-coordinator/deployment.yaml
  bitnami/milvus/templates/query-coordinator/extra-configmap.yaml
  bitnami/milvus/templates/query-coordinator/service.yaml
  bitnami/milvus/templates/query-coordinator/servicemonitor.yaml
  bitnami/milvus/templates/query-node/configmap.yaml
  bitnami/milvus/templates/query-node/deployment.yaml
  bitnami/milvus/templates/query-node/extra-configmap.yaml
  bitnami/milvus/templates/query-node/service.yaml
  bitnami/milvus/templates/query-node/servicemonitor.yaml
  bitnami/milvus/templates/root-coordinator/configmap.yaml
  bitnami/milvus/templates/root-coordinator/deployment.yaml
  bitnami/milvus/templates/root-coordinator/extra-configmap.yaml
  bitnami/milvus/templates/root-coordinator/service.yaml
  bitnami/milvus/templates/root-coordinator/servicemonitor.yaml
Labels: verify, bitnami, milvus

#17542 [bitnami/charts] Run license check on modified files
  .github/workflows/license-headers.yml
Labels: verify, bitnami

#17551 [bitnami/rabbitmq-cluster-operator] update CRDs
  bitnami/rabbitmq-cluster-operator/Chart.yaml
  bitnami/rabbitmq-cluster-operator/crds/crd-rabbitmq-cluster.yaml
  bitnami/rabbitmq-cluster-operator/crds/crds-messaging-topology-operator.yaml
Labels: verify, in-progress, rabbitmq-cluster-operator

#17553 [bitnami/postgresql] Fix invalid indentation for replica metrics extraEnvVars
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/templates/read/statefulset.yaml
Labels: verify, in-progress, postgresql

#17524 [bitnami/oauth2-proxy] make google-group as list instead of string
  bitnami/oauth2-proxy/Chart.yaml
  bitnami/oauth2-proxy/README.md
  bitnami/oauth2-proxy/templates/deployment.yaml
  bitnami/oauth2-proxy/values.yaml
Labels: verify, in-progress, oauth2-proxy

#17567 [bitnami/sonarqube] Include service.annotations in template
  bitnami/sonarqube/Chart.yaml
  bitnami/sonarqube/templates/service.yaml
Labels: verify, in-progress, sonarqube

#17578 [bitnami/milvus] fix: :bug: Add emptyDir to init job /tmp
  bitnami/milvus/Chart.yaml
  bitnami/milvus/templates/init-job.yaml
Labels: verify, bitnami, milvus

#17583 [bitnami/apisix] Reorder chart dependencies
  bitnami/apisix/Chart.lock
  bitnami/apisix/Chart.yaml
Labels: verify, bitnami, apisix

#17493 [bitnami/redis] don't include `@` for unauthenticated URI
  bitnami/redis/Chart.yaml
  bitnami/redis/templates/secret.yaml
Labels: verify, in-progress, redis

#17537 [bitnami/rabbitmq] Updating the tls certs through values.yaml not restarting the pods
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/templates/ingress-tls-secrets.yaml
  bitnami/rabbitmq/templates/statefulset.yaml
  bitnami/rabbitmq/templates/tls-secrets.yaml
Labels: verify, in-progress, rabbitmq

#17290 [bitnami/minio] Allow Templates for Ingress Hostnames
  bitnami/minio/Chart.yaml
  bitnami/minio/templates/_helpers.tpl
Labels: verify, in-progress, minio

#17587 [bitnami/redis] add sampleLimit and targetLimit for redis chart
  bitnami/redis/Chart.yaml
  bitnami/redis/README.md
  bitnami/redis/templates/servicemonitor.yaml
  bitnami/redis/values.yaml
Labels: verify, in-progress, redis

#17539 [bitnami/rabbitmq-cluster-operator] Support toggle to disable rabbitmq messaging topology operator installation
  .vib/rabbitmq-cluster-operator/goss/goss.yaml
  .vib/rabbitmq-cluster-operator/runtime-parameters.yaml
  bitnami/rabbitmq-cluster-operator/Chart.yaml
  bitnami/rabbitmq-cluster-operator/README.md
  bitnami/rabbitmq-cluster-operator/templates/messaging-topology-operator/certificate.yaml
  bitnami/rabbitmq-cluster-operator/templates/messaging-topology-operator/clusterrole.yaml
  bitnami/rabbitmq-cluster-operator/templates/messaging-topology-operator/clusterrolebinding.yaml
  bitnami/rabbitmq-cluster-operator/templates/messaging-topology-operator/deployment.yaml
  bitnami/rabbitmq-cluster-operator/templates/messaging-topology-operator/metrics-service.yaml
  bitnami/rabbitmq-cluster-operator/templates/messaging-topology-operator/role.yaml
  bitnami/rabbitmq-cluster-operator/templates/messaging-topology-operator/rolebinding.yaml
  bitnami/rabbitmq-cluster-operator/templates/messaging-topology-operator/service-account.yaml
  bitnami/rabbitmq-cluster-operator/templates/messaging-topology-operator/servicemonitor.yaml
  bitnami/rabbitmq-cluster-operator/templates/messaging-topology-operator/validating-webhook-configuration.yaml
  bitnami/rabbitmq-cluster-operator/templates/messaging-topology-operator/webhook-service.yaml
  bitnami/rabbitmq-cluster-operator/values.yaml
Labels: verify, in-progress, rabbitmq-cluster-operator

#17728 [bitnami/airflow] Updates the git container version
  bitnami/airflow/Chart.yaml
  bitnami/airflow/README.md
  bitnami/airflow/values.yaml
Labels: verify, airflow, bitnami

#17729 [bitnami/pytorch] Fix git init container
  bitnami/pytorch/Chart.yaml
  bitnami/pytorch/README.md
  bitnami/pytorch/templates/deployment.yaml
  bitnami/pytorch/templates/statefulset.yaml
  bitnami/pytorch/values.yaml
Labels: verify, bitnami, pytorch

#17731 [bitnami/mxnet] Fix git init container
  bitnami/mxnet/Chart.yaml
  bitnami/mxnet/README.md
  bitnami/mxnet/templates/distributed/scheduler/deployment.yaml
  bitnami/mxnet/templates/distributed/server/statefulset.yaml
  bitnami/mxnet/templates/distributed/worker/statefulset.yaml
  bitnami/mxnet/templates/standalone/deployment.yaml
  bitnami/mxnet/values.yaml
Labels: verify, bitnami, mxnet

#17236 [bitnami/mongodb] Try to seed mongodb with pss-restricted
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/README.md
  bitnami/mongodb/values.yaml
Labels: verify, in-progress, mongodb

#17124 [bitnami/apache] Rewrite Ingress TLS logic
  bitnami/apache/Chart.yaml
  bitnami/apache/README.md
  bitnami/apache/templates/NOTES.txt
  bitnami/apache/templates/ingress.yaml
  bitnami/apache/values.yaml
Labels: verify, in-progress, apache

#17758 [bitnami/kube-prometheus] Bump Helm chart version
  bitnami/kube-prometheus/Chart.yaml
Labels: verify, bitnami, kube-prometheus

#17759 [bitnami/moodle] Delegate targetPort when no LB or ClusterIP set
  bitnami/moodle/Chart.yaml
  bitnami/moodle/templates/svc.yaml
Labels: verify, moodle, bitnami

#17761 chore: Rename GH action used to run readme generator
  .github/workflows/generate-chart-readme.yml
Labels: verify, bitnami

#17456 [bitnami/contour] allow to manipulate container securityContext fields for each container
  bitnami/contour/Chart.yaml
  bitnami/contour/README.md
  bitnami/contour/templates/envoy/daemonset.yaml
  bitnami/contour/templates/envoy/deployment.yaml
  bitnami/contour/values.yaml
Labels: verify, in-progress, contour

#17763 [bitnami/etcd] Add feature extraVolumeClaimTemplate
  bitnami/etcd/Chart.yaml
  bitnami/etcd/README.md
  bitnami/etcd/templates/statefulset.yaml
  bitnami/etcd/values.yaml
Labels: verify, in-progress, etcd

#17345 [bitnami/thanos] Allow template expressions in extraFlags
  bitnami/thanos/Chart.yaml
  bitnami/thanos/templates/bucketweb/deployment.yaml
  bitnami/thanos/templates/query-frontend/deployment.yaml
  bitnami/thanos/templates/query/deployment.yaml
  bitnami/thanos/templates/receive-distributor/deployment.yaml
  bitnami/thanos/templates/receive/statefulset.yaml
  bitnami/thanos/templates/ruler/statefulset.yaml
  bitnami/thanos/templates/storegateway/statefulset.yaml
Labels: verify, in-progress, thanos

#17780 [bitnami/postgresl] Remove the password in text of the statefulset
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/templates/_helpers.tpl
  bitnami/postgresql/templates/primary/statefulset.yaml
  bitnami/postgresql/templates/secrets.yaml
Labels: verify, postgresql, bitnami

#17509 [bitnami/opensearch] Add Opensearch chart
  .vib/opensearch/cypress/cypress.json
  .vib/opensearch/cypress/cypress/fixtures/documents.json
  .vib/opensearch/cypress/cypress/integration/opensearch_spec.js
  .vib/opensearch/cypress/cypress/support/utils.js
  .vib/opensearch/goss/goss.yaml
  .vib/opensearch/runtime-parameters.yaml
  .vib/opensearch/vib-publish.json
  .vib/opensearch/vib-verify.json
  bitnami/opensearch/.helmignore
  bitnami/opensearch/Chart.yaml
  bitnami/opensearch/README.md
  bitnami/opensearch/templates/NOTES.txt
  bitnami/opensearch/templates/_helpers.tpl
  bitnami/opensearch/templates/configmap.yaml
  bitnami/opensearch/templates/coordinating/hpa.yaml
  bitnami/opensearch/templates/coordinating/networkpolicy.yaml
  bitnami/opensearch/templates/coordinating/pdb.yaml
  bitnami/opensearch/templates/coordinating/serviceaccount.yaml
  bitnami/opensearch/templates/coordinating/statefulset.yaml
  bitnami/opensearch/templates/coordinating/svc-headless.yaml
  bitnami/opensearch/templates/coordinating/vpa.yaml
  bitnami/opensearch/templates/dashboards/deployment.yaml
  bitnami/opensearch/templates/dashboards/hpa.yaml
  bitnami/opensearch/templates/dashboards/networkpolicy.yaml
  bitnami/opensearch/templates/dashboards/pdb.yaml
  bitnami/opensearch/templates/dashboards/service.yaml
  bitnami/opensearch/templates/dashboards/serviceaccount.yaml
  bitnami/opensearch/templates/dashboards/tls-secret.yaml
  bitnami/opensearch/templates/dashboards/vpa.yaml
  bitnami/opensearch/templates/data/hpa.yaml
  bitnami/opensearch/templates/data/networkpolicy.yaml
  bitnami/opensearch/templates/data/pdb.yaml
  bitnami/opensearch/templates/data/serviceaccount.yaml
  bitnami/opensearch/templates/data/statefulset.yaml
  bitnami/opensearch/templates/data/svc-headless.yaml
  bitnami/opensearch/templates/data/vpa.yaml
  bitnami/opensearch/templates/extra-list.yaml
  bitnami/opensearch/templates/ingest/hpa.yaml
  bitnami/opensearch/templates/ingest/ingress.yaml
  bitnami/opensearch/templates/ingest/networkpolicy.yaml
  bitnami/opensearch/templates/ingest/pdb.yaml
  bitnami/opensearch/templates/ingest/service.yaml
  bitnami/opensearch/templates/ingest/serviceaccount.yaml
  bitnami/opensearch/templates/ingest/statefulset.yaml
  bitnami/opensearch/templates/ingest/svc-headless.yaml
  bitnami/opensearch/templates/ingest/vpa.yaml
  bitnami/opensearch/templates/ingress-tls-secrets.yaml
  bitnami/opensearch/templates/ingress.yaml
  bitnami/opensearch/templates/initialization-configmap.yaml
  bitnami/opensearch/templates/master/hpa.yaml
  bitnami/opensearch/templates/master/networkpolicy.yaml
  bitnami/opensearch/templates/master/pdb.yaml
  bitnami/opensearch/templates/master/serviceaccount.yaml
  bitnami/opensearch/templates/master/statefulset.yaml
  bitnami/opensearch/templates/master/svc-headless.yaml
  bitnami/opensearch/templates/master/vpa.yaml
  bitnami/opensearch/templates/secrets.yaml
  bitnami/opensearch/templates/service.yaml
  bitnami/opensearch/templates/tls-secret.yaml
  bitnami/opensearch/values.yaml
Labels: verify, bitnami, opensearch

#17778 [bitnami/redis-cluster] Get the external IP from -svc suffixed services
  bitnami/redis-cluster/Chart.yaml
  bitnami/redis-cluster/templates/NOTES.txt
Labels: verify, triage, redis-cluster

#17793 [bitnami/grafana-operator] fix host for ingress.rules if ingress is enabled
  bitnami/grafana-operator/Chart.yaml
  bitnami/grafana-operator/templates/grafana.yaml
Labels: verify, in-progress, grafana-operator

#17830 Update README.md
  bitnami/mysql/README.md
Labels: triage, mysql

#17849 [bitnami/thanos] Add support for custom receiver statfulset labels
  bitnami/thanos/Chart.yaml
  bitnami/thanos/README.md
  bitnami/thanos/templates/receive/statefulset.yaml
  bitnami/thanos/values.yaml
Labels: verify, in-progress, thanos

#17237 [bitnami/redis] Try to seed redis with pss-restricted
  bitnami/redis/Chart.yaml
  bitnami/redis/README.md
  bitnami/redis/values.yaml
Labels: verify, in-progress, redis

#17775 [bitnami/postgresql-ha] Fixed filename typo
  bitnami/postgresql-ha/Chart.yaml
  bitnami/postgresql-ha/templates/postgresql/witness-statefulset.yaml
Labels: verify, in-progress, postgresql-ha

#17388 [bitnami/postgresql] set some bits compatible with pss restricted
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/README.md
  bitnami/postgresql/values.yaml
Labels: verify, in-progress, postgresql

#17723 [bitnami/redis] Allow templatable values for `.Values.auth.existingSecretPasswordKey`
  bitnami/redis/Chart.yaml
  bitnami/redis/templates/_helpers.tpl
Labels: verify, in-progress, redis

#17946 [bitnami/cert-manager] Fix NOTES.txt typo
  bitnami/cert-manager/Chart.yaml
  bitnami/cert-manager/templates/NOTES.txt
Labels: verify, in-progress, cert-manager

#17291 [bitnami/influxdb] Set some additional pod security restrictions
  bitnami/influxdb/Chart.yaml
  bitnami/influxdb/README.md
  bitnami/influxdb/templates/cronjob-backup.yaml
  bitnami/influxdb/values.yaml
Labels: verify, in-progress, influxdb

#17943 [bitnami/clickhouse] Add shard label to pods
  bitnami/clickhouse/Chart.yaml
  bitnami/clickhouse/templates/statefulset.yaml
Labels: verify, bitnami, clickhouse

#17966 [bitnami/mastodon] Make Cypress tests retriable
  .vib/mastodon/cypress/cypress.json
  .vib/mastodon/cypress/cypress/integration/mastodon_spec.js
Labels: verify, bitnami

#17798 [bitnami/minio] Add TLS scheme support to ServiceMonitor
  bitnami/minio/Chart.yaml
  bitnami/minio/README.md
  bitnami/minio/templates/servicemonitor.yaml
  bitnami/minio/values.yaml
Labels: verify, in-progress, minio

#17990 [bitnami/external-dns] Revert pr 17989
  bitnami/external-dns/Chart.yaml
Labels: verify, bitnami, external-dns

#17387 [bitnami/postgresql-ha] set some bits compatible with pss restricted
  bitnami/postgresql-ha/Chart.yaml
  bitnami/postgresql-ha/README.md
  bitnami/postgresql-ha/values.yaml
Labels: verify, in-progress, postgresql-ha

#17963 [bitnami/harbor] Update test to make them work in airgapped environments
  .vib/harbor/cypress/cypress/fixtures/registries.json
  .vib/harbor/cypress/cypress/integration/harbor_spec.js
Labels: verify, harbor

#17506 [bitnami/external-dns] Add value for filtering by IngressClass
  bitnami/external-dns/Chart.yaml
  bitnami/external-dns/README.md
  bitnami/external-dns/templates/dep-ds.yaml
  bitnami/external-dns/values.yaml
Labels: on-hold, external-dns

#18010 [bitnami/kong] Adapt Kong tests to Air-gapped environments
  .vib/kong/cypress/cypress/fixtures/services.json
  .vib/kong/cypress/cypress/integration/kong_spec.js
Labels: verify, bitnami, kong

#17520 [bitnami/thanos] add dnsPolicy support in query deployment
  bitnami/thanos/Chart.yaml
  bitnami/thanos/README.md
  bitnami/thanos/templates/bucketweb/deployment.yaml
  bitnami/thanos/templates/compactor/_pod-template.tpl
  bitnami/thanos/templates/query-frontend/deployment.yaml
  bitnami/thanos/templates/query/deployment.yaml
  bitnami/thanos/templates/receive-distributor/deployment.yaml
  bitnami/thanos/templates/receive/statefulset.yaml
  bitnami/thanos/templates/ruler/statefulset.yaml
  bitnami/thanos/templates/storegateway/statefulset.yaml
  bitnami/thanos/values.yaml
Labels: verify, in-progress, thanos

#17950 [bitnami/influxdb] include namespace in port forward command
  bitnami/influxdb/Chart.yaml
  bitnami/influxdb/templates/NOTES.txt
Labels: verify, in-progress, influxdb

#17463 [bitnami/mongodb] ServiceBinding secrets for custom users
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/templates/secrets.yaml
Labels: verify, bitnami, mongodb

#18017 [bitnami/pinniped] Allow array for loadBalancerSourceRanges
  bitnami/pinniped/Chart.yaml
  bitnami/pinniped/templates/concierge/service-proxy.yaml
  bitnami/pinniped/templates/supervisor/service-api.yaml
  bitnami/pinniped/templates/supervisor/service.yaml
Labels: verify, in-progress, pinniped

#17711 [bitnami/postgresql] Remove multi-line conditional
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/templates/_helpers.tpl
Labels: verify, postgresql, bitnami

#17774 [bitnami/solr] Fix probes for Standalone mode
  bitnami/solr/Chart.yaml
  bitnami/solr/templates/statefulset.yaml
Labels: verify, bitnami, solr
