Repository bitnami/charts, pull requests merged in 2023-05, with the labels that each got.

#16264 [bitnami/spark] Revert change existingConfigmap
  bitnami/spark/Chart.yaml
  bitnami/spark/templates/statefulset-master.yaml
  bitnami/spark/templates/statefulset-worker.yaml
Labels: verify, bitnami, spark

#16082 [bitnami/rabbitmq] Fix high CPU usage while idle
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/templates/statefulset.yaml
Labels: verify, in-progress, rabbitmq

#16143 [bitnami/common] Fix typo in README.md to test chart publishing from GitHub
  bitnami/common/Chart.yaml
  bitnami/common/README.md
Labels: verify, bitnami, common

#16265 [bitnami/mariadb] Fix mariadb upgrade
  bitnami/mariadb/Chart.yaml
  bitnami/mariadb/templates/_helpers.tpl
  bitnami/mariadb/templates/secrets.yaml
Labels: verify, mariadb, bitnami

#16243 [bitnami/vault] feat: :tada: Add chart
  .github/workflows/cd-pipeline.yml
  .vib/vault/cypress/cypress.json
  .vib/vault/cypress/cypress/fixtures/operation.json
  .vib/vault/cypress/cypress/integration/vault_spec.js
  .vib/vault/cypress/cypress/support/commands.js
  .vib/vault/cypress/cypress/support/index.js
  .vib/vault/cypress/cypress/support/utils.js
  .vib/vault/goss/goss.yaml
  .vib/vault/runtime-parameters.yaml
  .vib/vault/vib-publish.json
  .vib/vault/vib-verify.json
  bitnami/vault/.helmignore
  bitnami/vault/Chart.lock
  bitnami/vault/Chart.yaml
  bitnami/vault/README.md
  bitnami/vault/templates/NOTES.txt
  bitnami/vault/templates/_helpers.tpl
  bitnami/vault/templates/csi-provider/clusterrole.yaml
  bitnami/vault/templates/csi-provider/configmap.yaml
  bitnami/vault/templates/csi-provider/daemonset.yaml
  bitnami/vault/templates/csi-provider/role.yaml
  bitnami/vault/templates/csi-provider/rolebinding.yaml
  bitnami/vault/templates/csi-provider/service-account.yaml
  bitnami/vault/templates/extra-list.yaml
  bitnami/vault/templates/injector/clusterrolebinding.yaml
  bitnami/vault/templates/injector/clusterroles.yaml
  bitnami/vault/templates/injector/deployment.yaml
  bitnami/vault/templates/injector/hpa.yaml
  bitnami/vault/templates/injector/mutating-webhook.yaml
  bitnami/vault/templates/injector/pdb.yaml
  bitnami/vault/templates/injector/role.yaml
  bitnami/vault/templates/injector/rolebinding.yaml
  bitnami/vault/templates/injector/service-account.yaml
  bitnami/vault/templates/injector/service.yaml
  bitnami/vault/templates/server/active-service.yaml
  bitnami/vault/templates/server/clusterrolebinding.yaml
  bitnami/vault/templates/server/configmap.yaml
  bitnami/vault/templates/server/ingress.yaml
  bitnami/vault/templates/server/pdb.yaml
  bitnami/vault/templates/server/rolebinding.yaml
  bitnami/vault/templates/server/roles.yaml
  bitnami/vault/templates/server/service-account.yaml
  bitnami/vault/templates/server/service-headless.yaml
  bitnami/vault/templates/server/service.yaml
  bitnami/vault/templates/server/servicemonitor.yaml
  bitnami/vault/templates/server/statefulset.yaml
  bitnami/vault/templates/server/tls-secret.yaml
  bitnami/vault/values.yaml
Labels: verify, bitnami, vault

#16352 [bitnami/fluent-bit] Add Fluent Bit OCI links
  bitnami/fluent-bit/Chart.lock
  bitnami/fluent-bit/Chart.yaml
  bitnami/fluent-bit/README.md
Labels: verify, bitnami, fluent-bit

#16158 [bitnami/keycloak]: adjust default service to ClusterAPI
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/README.md
  bitnami/keycloak/values.yaml
Labels: verify, in-progress, keycloak

#16373 [bitnami/rabbitmq-cluster-operator] Typo fix
  bitnami/rabbitmq-cluster-operator/README.md
Labels: in-progress, rabbitmq-cluster-operator

#15949 [bitnami/elasticsearch] add PodDisruptionBudget for all elasticsearch components
  bitnami/elasticsearch/Chart.yaml
  bitnami/elasticsearch/README.md
  bitnami/elasticsearch/templates/coordinating/pdb.yaml
  bitnami/elasticsearch/templates/data/pdb.yaml
  bitnami/elasticsearch/templates/ingest/pdb.yaml
  bitnami/elasticsearch/templates/master/pdb.yaml
  bitnami/elasticsearch/values.yaml
Labels: verify, in-progress, elasticsearch

#16381 [bitnami/fluent-bit] Include imagePullSecrets on deployment
  bitnami/fluent-bit/Chart.yaml
  bitnami/fluent-bit/templates/deployment.yaml
Labels: verify, bitnami, fluent-bit

#16263 [bitnami/kafka] Fix logic to prevent overwriting voter variable
  bitnami/kafka/Chart.yaml
  bitnami/kafka/templates/scripts-configmap.yaml
Labels: verify, in-progress, kafka

#16234 [bitnami/redis] Fix replica-announce-ip wrong number of arguments whe…
  bitnami/redis/Chart.yaml
  bitnami/redis/README.md
  bitnami/redis/templates/scripts-configmap.yaml
  bitnami/redis/values.yaml
Labels: verify, in-progress, redis

#16377 [bitnami/harbor] Add jfrog-artifactory as permitted proxy cache
  bitnami/harbor/Chart.yaml
  bitnami/harbor/templates/core/core-cm-envvars.yaml
Labels: verify, in-progress, harbor

#16375 [bitnami/keycloak] Fix keycloakConfigCli
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/templates/keycloak-config-cli-job.yaml
  bitnami/keycloak/values.yaml
Labels: verify, keycloak, bitnami

#16426 [bitnami/charts] Fix comments workflow to manage any comment from users
  .github/workflows/comments.yml
Labels: verify, bitnami

#16059 [bitnami/grafana-loki] apiVersion and kind on volumeClaimTemplates
  bitnami/grafana-loki/Chart.yaml
  bitnami/grafana-loki/templates/ingester/statefulset.yaml
  bitnami/grafana-loki/templates/querier/statefulset.yaml
Labels: verify, in-progress, grafana-loki

#16437 [bitnami/oauth2-proxy] Allow name override of redis subchart
  bitnami/oauth2-proxy/Chart.yaml
  bitnami/oauth2-proxy/templates/_helpers.tpl
Labels: verify, in-progress, oauth2-proxy

#16394 [bitnami/keycloak] Add dnsConfig to keycloak statefulset template
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/README.md
  bitnami/keycloak/templates/statefulset.yaml
  bitnami/keycloak/values.yaml
Labels: verify, in-progress, keycloak

#16431 [bitnami/supabase] fix: :bug: Replace supabase-storage image
  bitnami/supabase/Chart.yaml
  bitnami/supabase/README.md
  bitnami/supabase/values.yaml
Labels: verify, bitnami

#16276 [bitnami/kafka] set KAFKA_ENABLE_KRAFT=false if we don't use kraft
  bitnami/kafka/Chart.yaml
  bitnami/kafka/templates/statefulset.yaml
Labels: in-progress, kafka

#16561 [bitnami/grafana] Change the test temporaly
  .vib/grafana/goss/goss.yaml
Labels: verify, bitnami

#16568 [bitnami/external-dns] Fix securityContext example
  bitnami/external-dns/Chart.yaml
  bitnami/external-dns/values.yaml
Labels: verify, triage, external-dns

#16364 [bitnami/mastodon] Tootctl media management
  bitnami/mastodon/Chart.yaml
  bitnami/mastodon/README.md
  bitnami/mastodon/templates/_helpers.tpl
  bitnami/mastodon/templates/tootctlMediaManagement/configmap.yaml
  bitnami/mastodon/templates/tootctlMediaManagement/cronjob.yaml
  bitnami/mastodon/values.yaml
Labels: in-progress, mastodon

#16438 [bitnami/nats] add metrics port to network policy
  bitnami/nats/Chart.yaml
  bitnami/nats/templates/networkpolicy.yaml
Labels: verify, in-progress, nats

#16564 [bitnami/mongodb-sharded] allow mongodb to template existing secret
  bitnami/mongodb-sharded/Chart.yaml
  bitnami/mongodb-sharded/templates/_helpers.tpl
Labels: verify, in-progress, mongodb-sharded

#16582 [bitnami/mariadb] Creates random password for mariadb user
  bitnami/mariadb/Chart.yaml
  bitnami/mariadb/templates/secrets.yaml
Labels: verify, mariadb, bitnami

#16554 Enable qps/burst/maxeventageseconds in event exporter
  bitnami/kubernetes-event-exporter/Chart.yaml
  bitnami/kubernetes-event-exporter/README.md
  bitnami/kubernetes-event-exporter/values.yaml
Labels: verify, in-progress, kubernetes-event-exporter

#16360 [bitnami/grafana-operator] add ClusterRole list and watch verbs for namespaces
  bitnami/grafana-operator/Chart.yaml
  bitnami/grafana-operator/templates/rbac.yaml
Labels: verify, in-progress, grafana-operator

#16594 [bitnami/keycloak] Fix keycloak notes message when not using tls
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/templates/NOTES.txt
Labels: verify, keycloak, bitnami

#16556 [bitnami/kubeapps] Switch Readiness check to grpc. Fix home URL
  bitnami/kubeapps/Chart.yaml
  bitnami/kubeapps/templates/kubeappsapis/deployment.yaml
Labels: verify, in-progress, kubeapps

#16529 Remove duplicate in image pull secrets
  bitnami/common/Chart.yaml
  bitnami/common/templates/_images.tpl
Labels: verify, in-progress, common

#16398 [bitnami/mongodb] Handle mongodb-exporter arguments with chart values
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/README.md
  bitnami/mongodb/templates/_helpers.tpl
  bitnami/mongodb/templates/hidden/statefulset.yaml
  bitnami/mongodb/templates/replicaset/statefulset.yaml
  bitnami/mongodb/templates/standalone/dep-sts.yaml
  bitnami/mongodb/values.yaml
Labels: verify, in-progress, mongodb

#16620 [bitnami/sonarqube] Enable initContainers section in deployment.yaml for caCerts
  bitnami/sonarqube/Chart.yaml
  bitnami/sonarqube/templates/deployment.yaml
Labels: verify, in-progress, sonarqube

#16432 [bitnami/grafana-tempo] Avoid compactor restart
  bitnami/grafana-tempo/Chart.lock
  bitnami/grafana-tempo/Chart.yaml
  bitnami/grafana-tempo/README.md
  bitnami/grafana-tempo/values.yaml
Labels: verify, bitnami, grafana-tempo

#16641 [bitnami/fluent-bit] Remove default systemd input
  bitnami/fluent-bit/Chart.yaml
  bitnami/fluent-bit/values.yaml
Labels: verify, bitnami, fluent-bit

#16642 [bitnami/supabase] Fix ingress to point to correct svc
  bitnami/supabase/Chart.lock
  bitnami/supabase/Chart.yaml
  bitnami/supabase/templates/studio/ingress.yaml
Labels: verify, bitnami, supabase

#16643 [bitnami/supabase] Fix ingress name
  bitnami/supabase/Chart.yaml
  bitnami/supabase/templates/studio/ingress.yaml
Labels: verify, bitnami, supabase

#16407 [bitnami/minio] Use `mc quota` instead of old deprecated (removed) sy…
  bitnami/minio/Chart.yaml
  bitnami/minio/README.md
  bitnami/minio/templates/provisioning-job.yaml
  bitnami/minio/values.yaml
Labels: verify, in-progress, minio

#16650 [bitnami/contour-operator] deprecate
  bitnami/contour-operator/Chart.yaml
  bitnami/contour-operator/README.md
  bitnami/contour-operator/templates/NOTES.txt
Labels: verify, bitnami, contour-operator

#16614 [bitnami/zookeeper] Bugfix: Use the correct variable for logging Zookeeper hostname
  bitnami/zookeeper/Chart.yaml
  bitnami/zookeeper/templates/scripts-configmap.yaml
Labels: verify, in-progress, zookeeper

#16668 [bitnami/postgresql] Bump the version
  bitnami/postgresql/Chart.yaml
Labels: verify, postgresql, bitnami

#15543 [bitnami/prometheus] Add chart
  .github/workflows/cd-pipeline.yml
  .vib/prometheus/cypress/cypress.env.json
  .vib/prometheus/cypress/cypress.json
  .vib/prometheus/cypress/cypress/integration/prometheus_spec.js
  .vib/prometheus/goss/goss.yaml
  .vib/prometheus/runtime-parameters.yaml
  .vib/prometheus/vib-publish.json
  .vib/prometheus/vib-verify.json
  bitnami/prometheus/Chart.lock
  bitnami/prometheus/Chart.yaml
  bitnami/prometheus/README.md
  bitnami/prometheus/templates/NOTES.txt
  bitnami/prometheus/templates/_helpers.tpl
  bitnami/prometheus/templates/_scrape_config.tpl
  bitnami/prometheus/templates/alertmanager/configmap.yaml
  bitnami/prometheus/templates/alertmanager/ingress.yaml
  bitnami/prometheus/templates/alertmanager/pdb.yaml
  bitnami/prometheus/templates/alertmanager/service-account.yaml
  bitnami/prometheus/templates/alertmanager/service-headless.yaml
  bitnami/prometheus/templates/alertmanager/service.yaml
  bitnami/prometheus/templates/alertmanager/statefulset.yaml
  bitnami/prometheus/templates/extra-list.yaml
  bitnami/prometheus/templates/server/clusterrole.yaml
  bitnami/prometheus/templates/server/clusterrolebinding.yaml
  bitnami/prometheus/templates/server/configmap.yaml
  bitnami/prometheus/templates/server/deployment.yaml
  bitnami/prometheus/templates/server/ingress.yaml
  bitnami/prometheus/templates/server/pdb.yaml
  bitnami/prometheus/templates/server/pvc.yaml
  bitnami/prometheus/templates/server/service-account.yaml
  bitnami/prometheus/templates/server/service.yaml
  bitnami/prometheus/templates/server/thanos-ingress.yaml
  bitnami/prometheus/templates/server/thanos-service.yaml
  bitnami/prometheus/templates/tls-secret.yaml
  bitnami/prometheus/values.schema.json
  bitnami/prometheus/values.yaml
Labels: verify, bitnami, prometheus

#16678 [bitnami/redis] Fix PVC labeling for bitnami/redis Helm chart
  bitnami/redis/Chart.yaml
  bitnami/redis/templates/master/application.yaml
  bitnami/redis/templates/replicas/statefulset.yaml
Labels: verify, in-progress, redis

#16390 [bitnami/etcd] Fix `service.clusterIP` only works when `service.type` is `ClusterIP`
  bitnami/etcd/Chart.yaml
  bitnami/etcd/templates/svc.yaml
Labels: verify, in-progress

#16392 [bitnami/kafka] fix: set domain is ineffective when autoDiscovery #16237
  bitnami/kafka/Chart.yaml
  bitnami/kafka/templates/scripts-configmap.yaml
Labels: verify, in-progress, kafka

#16698 [bitnami/mongodb] Adding extraVolumeMounts to the Metrics container
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/README.md
  bitnami/mongodb/templates/hidden/statefulset.yaml
  bitnami/mongodb/templates/replicaset/statefulset.yaml
  bitnami/mongodb/templates/standalone/dep-sts.yaml
  bitnami/mongodb/values.yaml
Labels: verify, in-progress, mongodb

#16637 [bitnami/wordpress] Fix NFS permission
  bitnami/wordpress/Chart.yaml
  bitnami/wordpress/README.md
  bitnami/wordpress/values.yaml
Labels: verify, in-progress, wordpress

#16676 [bitnami/contour-operator] Deprecate contour operator
  .vib/contour-operator/ginkgo/contour_operator_test.go
  .vib/contour-operator/ginkgo/go.mod
  .vib/contour-operator/ginkgo/go.sum
  .vib/contour-operator/ginkgo/integration_suite_test.go
  .vib/contour-operator/runtime-parameters.yaml
  .vib/contour-operator/vib-publish.json
  .vib/contour-operator/vib-verify.json
  bitnami/contour-operator/.helmignore
  bitnami/contour-operator/Chart.lock
  bitnami/contour-operator/Chart.yaml
  bitnami/contour-operator/README.md
  bitnami/contour-operator/crds/crd-contour.yaml
  bitnami/contour-operator/crds/crd-contourconfiguration.yaml
  bitnami/contour-operator/crds/crd-contourdeployment.yaml
  bitnami/contour-operator/crds/crd-extensionservice.yaml
  bitnami/contour-operator/crds/crd-gateway.yaml
  bitnami/contour-operator/crds/crd-gatewayclass.yaml
  bitnami/contour-operator/crds/crd-httpproxy.yaml
  bitnami/contour-operator/crds/crd-httproute.yaml
  bitnami/contour-operator/crds/crd-tcproute.yaml
  bitnami/contour-operator/crds/crd-tlscertificatedelegation.yaml
  bitnami/contour-operator/crds/crd-tlsroute.yaml
  bitnami/contour-operator/crds/crd-udproute.yaml
  bitnami/contour-operator/templates/NOTES.txt
  bitnami/contour-operator/templates/_helpers.tpl
  bitnami/contour-operator/templates/auth-proxy-clusterrole.yaml
  bitnami/contour-operator/templates/auth-proxy-clusterrolebinding.yaml
  bitnami/contour-operator/templates/clusterrole.yaml
  bitnami/contour-operator/templates/clusterrolebinding.yaml
  bitnami/contour-operator/templates/contour-editor-role.yaml
  bitnami/contour-operator/templates/contour-viewer-role.yaml
  bitnami/contour-operator/templates/deployment.yaml
  bitnami/contour-operator/templates/extra-list.yaml
  bitnami/contour-operator/templates/leader-election-role.yaml
  bitnami/contour-operator/templates/leader-election-rolebinding.yaml
  bitnami/contour-operator/templates/metrics-clusterrole.yaml
  bitnami/contour-operator/templates/metrics-clusterrolebinding.yaml
  bitnami/contour-operator/templates/metrics-service.yaml
  bitnami/contour-operator/templates/service-account.yaml
  bitnami/contour-operator/templates/servicemonitor.yaml
  bitnami/contour-operator/values.yaml
Labels: verify, bitnami

#16112 [bitnami/thanos] Added support for query-url for Thanos ruler
  bitnami/thanos/Chart.yaml
  bitnami/thanos/README.md
  bitnami/thanos/templates/_helpers.tpl
  bitnami/thanos/templates/ruler/statefulset.yaml
  bitnami/thanos/values.yaml
Labels: verify, in-progress, thanos

#16129 [bitnami/postgresql-ha] Add synchronous replication mode
  bitnami/postgresql-ha/Chart.yaml
  bitnami/postgresql-ha/README.md
  bitnami/postgresql-ha/templates/postgresql/statefulset.yaml
  bitnami/postgresql-ha/values.yaml
Labels: verify, bitnami, postgresql-ha

#16728 [bitnami/fluent-bit] Update README.md
  bitnami/fluent-bit/README.md
Labels: verify, bitnami, fluent-bit

#16545 [bitnami/redis] add support for headless metrics service
  bitnami/redis/Chart.yaml
  bitnami/redis/README.md
  bitnami/redis/templates/metrics-svc.yaml
  bitnami/redis/templates/scripts-configmap.yaml
  bitnami/redis/values.yaml
Labels: verify, in-progress, redis

#16718 [bitnami/contour] add feature to deploy multi envoy by proxy chart
  bitnami/contour/Chart.yaml
  bitnami/contour/README.md
  bitnami/contour/templates/envoy/daemonset.yaml
  bitnami/contour/templates/envoy/deployment.yaml
  bitnami/contour/values.yaml
Labels: verify, in-progress, contour

#16849 [bitnami/mongodb] Ensuring the .Values.auth.rootUser is used everywhere
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/templates/NOTES.txt
  bitnami/mongodb/templates/replicaset/scripts-configmap.yaml
  bitnami/mongodb/templates/secrets.yaml
Labels: verify, in-progress

#16667 [bitnami/cassandra] Add Existing Claim for PVC
  bitnami/cassandra/Chart.yaml
  bitnami/cassandra/README.md
  bitnami/cassandra/templates/statefulset.yaml
  bitnami/cassandra/values.yaml
Labels: verify, in-progress, cassandra

#16860 [bitnami/external-dns] add missing clusterrole permissions for gateway api
  bitnami/external-dns/Chart.yaml
  bitnami/external-dns/templates/clusterrole.yaml
Labels: verify, in-progress, external-dns

#16651 [bitnami/contour] Sync CRDs with upstream
  bitnami/contour/Chart.yaml
  bitnami/contour/resources/contourconfiguration.yaml
  bitnami/contour/resources/contourdeployments.yaml
  bitnami/contour/resources/extensionservices.yaml
  bitnami/contour/resources/httpproxies.yaml
  bitnami/contour/resources/tlscertificatedeligations.yaml
Labels: verify, in-progress, contour

#16877 [bitnami/mongodb] Add apiVersion and kind in volumeClaimTemplates
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/templates/replicaset/statefulset.yaml
Labels: verify, in-progress, mongodb

#16894 [bitnami/grafana] Apply template to more variables
  bitnami/grafana/Chart.yaml
  bitnami/grafana/templates/datasources-secret.yaml
  bitnami/grafana/templates/deployment.yaml
Labels: in-progress, grafana

#16853 [bitnami/mongodb] Support specifying external master host to bootstra…
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/README.md
  bitnami/mongodb/templates/replicaset/scripts-configmap.yaml
  bitnami/mongodb/values.yaml
Labels: verify, in-progress, mongodb

#16879 [bitnami/flux] Update flux with valid CRDs versions
  .vib/flux/runtime-parameters.yaml
  bitnami/flux/Chart.yaml
  bitnami/flux/README.md
  bitnami/flux/crds/notification-controller/notification.toolkit.fluxcd.io_receivers.yaml
  bitnami/flux/crds/source-controller/source.toolkit.fluxcd.io_gitrepositories.yaml
  bitnami/flux/values.yaml
Labels: verify, bitnami, flux

#16889 [bitnami/contour] add grpcroutes to RBAC
  bitnami/contour/Chart.yaml
  bitnami/contour/templates/contour/rbac.yaml
Labels: verify, in-progress, contour

#16673 [bitnami/kube-prometheus] objectStorageConfig.secretName
  bitnami/kube-prometheus/Chart.yaml
  bitnami/kube-prometheus/README.md
  bitnami/kube-prometheus/templates/prometheus/prometheus.yaml
  bitnami/kube-prometheus/values.yaml
Labels: verify, bitnami, kube-prometheus

#16562 [bitnami/contour] Add prometheusRule to contour
  bitnami/contour/Chart.yaml
  bitnami/contour/README.md
  bitnami/contour/values.yaml
Labels: verify, triage, contour

#16670 [bitnami/mongodb] Avoid hostname validation with TLS enabled
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/templates/common-scripts-cm.yaml
Labels: verify, bitnami, mongodb

#16903 [bitnami/prometheus] Use FQDN for cluster.peers in alertmanager
  bitnami/prometheus/Chart.yaml
  bitnami/prometheus/templates/alertmanager/statefulset.yaml
  bitnami/prometheus/values.yaml
Labels: verify, bitnami, prometheus

#16908 [bitnami/charts] review and improve workflow permissions
  .github/workflows/assign-asset-label.yml
  .github/workflows/comments.yml
  .github/workflows/generate-chart-readme.yml
  .github/workflows/moving-cards.yml
  .github/workflows/pr-reviews.yml
  .github/workflows/sync-teams.yml
  .github/workflows/triage.yml
Labels: verify, bitnami

#16930 [bitnami/charts] Fix generate-chart-readme
  .github/workflows/generate-chart-readme.yml
Labels: verify, bitnami

#16745 [bitnami/minio] Fix policy provisioning for `setPolicies=true`
  bitnami/minio/Chart.yaml
  bitnami/minio/templates/provisioning-job.yaml
Labels: verify, in-progress, minio

#16905 [bitnami/kube-prometheus] Add Thanos service labels
  bitnami/kube-prometheus/Chart.yaml
  bitnami/kube-prometheus/README.md
  bitnami/kube-prometheus/templates/prometheus/thanos-service.yaml
  bitnami/kube-prometheus/values.yaml
Labels: verify, in-progress, kube-prometheus

#16950 [bitnami/kube-prometheus] Add chart upgrading notes related to CRDs
  bitnami/kube-prometheus/README.md
Labels: verify, bitnami, kube-prometheus

#16956 [bitnami/charts] Fix bug in assign-asset-label workflow
  .github/workflows/assign-asset-label.yml
Labels: verify, bitnami

#16895 [bitnami/kube-prometheus] fix issue due to crds update
  bitnami/kube-prometheus/Chart.yaml
  bitnami/kube-prometheus/README.md
  bitnami/kube-prometheus/crds/crd-thanosrulers .yaml
  bitnami/kube-prometheus/crds/crd-thanosrulers.yaml
  bitnami/kube-prometheus/templates/prometheus-operator/clusterrole.yaml
  bitnami/kube-prometheus/templates/prometheus/prometheus.yaml
  bitnami/kube-prometheus/values.yaml
Labels: verify, in-progress, kube-prometheus

#16425 [bitnami/postgresql-ha] typo: Fix values pgpool.usernames and pgpool.passwords
  bitnami/postgresql-ha/Chart.yaml
  bitnami/postgresql-ha/README.md
  bitnami/postgresql-ha/templates/pgpool/custom-users-secrets.yaml
  bitnami/postgresql-ha/templates/pgpool/deployment.yaml
  bitnami/postgresql-ha/values.yaml
Labels: verify, bitnami, postgresql-ha

#16976 Re add curl validation
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/templates/statefulset.yaml
Labels: verify, bitnami, rabbitmq
