Repository bitnami/charts, pull requests merged in 2024-12, with the labels that each got.

#30707 [bitnami/*] docs: :memo: Unify "Securing Traffic using TLS" section
  bitnami/airflow/README.md
  bitnami/apisix/README.md
  bitnami/appsmith/README.md
  bitnami/argo-cd/README.md
  bitnami/argo-workflows/README.md
  bitnami/cilium/README.md
  bitnami/clickhouse/README.md
  bitnami/consul/README.md
  bitnami/discourse/README.md
  bitnami/dremio/README.md
  bitnami/fluentd/README.md
  bitnami/harbor/README.md
  bitnami/keycloak/README.md
  bitnami/keydb/README.md
  bitnami/kibana/README.md
  bitnami/mariadb/README.md
  bitnami/mastodon/README.md
  bitnami/milvus/README.md
  bitnami/minio/README.md
  bitnami/mlflow/README.md
  bitnami/mongodb/README.md
  bitnami/mysql/README.md
  bitnami/neo4j/README.md
  bitnami/nginx/README.md
  bitnami/oauth2-proxy/README.md
  bitnami/opensearch/README.md
  bitnami/phpmyadmin/README.md
  bitnami/rabbitmq/README.md
  bitnami/schema-registry/README.md
  bitnami/scylladb/README.md
  bitnami/sealed-secrets/README.md
  bitnami/solr/README.md
  bitnami/sonarqube/README.md
  bitnami/thanos/README.md
  bitnami/vault/README.md
  bitnami/wordpress/README.md
  bitnami/zipkin/README.md
  template/CHART_NAME/README.md
Labels: verify, bitnami

#30720 [bitnami/postgresql] use adminPassword for metrics user when custom user is not set
  bitnami/postgresql/CHANGELOG.md
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/templates/read/statefulset.yaml
Labels: verify, triage, postgresql

#30800 [bitnami/mariadb] Fix typo in README
  bitnami/mariadb/README.md
  bitnami/mariadb/values.yaml
Labels: verify, mariadb, bitnami

#30689 [bitnami/valkey] Fix broken failover in sentinel setups
  bitnami/valkey/CHANGELOG.md
  bitnami/valkey/Chart.yaml
  bitnami/valkey/templates/scripts-configmap.yaml
Labels: verify, in-progress, valkey

#30836 [bitnami/airflow] bugfix: Fix Airflow HPA, VPA for Worker and Triggerer typo (#30834)
  bitnami/airflow/CHANGELOG.md
  bitnami/airflow/Chart.yaml
  bitnami/airflow/templates/triggerer/hpa.yaml
  bitnami/airflow/templates/worker/hpa.yaml
  bitnami/airflow/templates/worker/vpa.yaml
Labels: verify, in-progress, airflow

#30802 fix: azure secrets
  bitnami/mlflow/CHANGELOG.md
  bitnami/mlflow/Chart.yaml
  bitnami/mlflow/templates/tracking/deployment.yaml
Labels: verify, in-progress, mlflow

#30826 [bitnami/thanos] Allow for shards that are both time and hash partitioned.
  bitnami/thanos/CHANGELOG.md
  bitnami/thanos/Chart.yaml
  bitnami/thanos/README.md
  bitnami/thanos/templates/_helpers.tpl
  bitnami/thanos/templates/alert-rule/query.yml
  bitnami/thanos/templates/query/deployment.yaml
  bitnami/thanos/templates/storegateway/hpa-sharded.yaml
  bitnami/thanos/templates/storegateway/pdb-sharded.yaml
  bitnami/thanos/templates/storegateway/service-sharded.yaml
  bitnami/thanos/templates/storegateway/statefulset-sharded.yaml
  bitnami/thanos/values.yaml
Labels: verify, in-progress, thanos

#30520 [bitnami/redis] CA shouldn't be mandatory when TLS is enabled
  bitnami/redis/CHANGELOG.md
  bitnami/redis/Chart.yaml
  bitnami/redis/templates/_helpers.tpl
  bitnami/redis/templates/health-configmap.yaml
  bitnami/redis/templates/master/application.yaml
  bitnami/redis/templates/replicas/application.yaml
  bitnami/redis/templates/scripts-configmap.yaml
  bitnami/redis/templates/sentinel/statefulset.yaml
Labels: stale, verify, bitnami, redis

#30851 [bitnami/common] New helper to detect non-standard images
  bitnami/common/CHANGELOG.md
  bitnami/common/Chart.yaml
  bitnami/common/templates/_errors.tpl
Labels: verify, bitnami, common

#30857 [bitnami/apache] Detect non-standard images
  bitnami/apache/CHANGELOG.md
  bitnami/apache/Chart.lock
  bitnami/apache/Chart.yaml
  bitnami/apache/README.md
  bitnami/apache/templates/NOTES.txt
  bitnami/apache/values.yaml
Labels: verify, apache, bitnami

#30867 [bitnami/cert-manager] Detect non-standard images
  bitnami/cert-manager/CHANGELOG.md
  bitnami/cert-manager/Chart.lock
  bitnami/cert-manager/Chart.yaml
  bitnami/cert-manager/README.md
  bitnami/cert-manager/templates/NOTES.txt
  bitnami/cert-manager/values.yaml
Labels: verify, bitnami, cert-manager

#30865 [bitnami/aspnet-core] Detect non-standard images
  bitnami/aspnet-core/CHANGELOG.md
  bitnami/aspnet-core/Chart.lock
  bitnami/aspnet-core/Chart.yaml
  bitnami/aspnet-core/README.md
  bitnami/aspnet-core/templates/NOTES.txt
  bitnami/aspnet-core/values.yaml
Labels: verify, bitnami, aspnet-core

#30861 [bitnami/apisix] Detect non-standard images
  bitnami/apisix/CHANGELOG.md
  bitnami/apisix/Chart.lock
  bitnami/apisix/Chart.yaml
  bitnami/apisix/README.md
  bitnami/apisix/templates/NOTES.txt
  bitnami/apisix/values.yaml
Labels: verify, bitnami, apisix

#30863 [bitnami/appsmith] Detect non-standard images
  bitnami/appsmith/CHANGELOG.md
  bitnami/appsmith/Chart.lock
  bitnami/appsmith/Chart.yaml
  bitnami/appsmith/README.md
  bitnami/appsmith/templates/NOTES.txt
  bitnami/appsmith/values.yaml
Labels: verify, bitnami, appsmith

#30860 [bitnami/airflow] Detect non-standard images
  bitnami/airflow/CHANGELOG.md
  bitnami/airflow/Chart.yaml
  bitnami/airflow/README.md
  bitnami/airflow/templates/NOTES.txt
  bitnami/airflow/values.yaml
Labels: verify, airflow, bitnami

#30869 [bitnami/chainloop] Detect non-standard images
  bitnami/chainloop/CHANGELOG.md
  bitnami/chainloop/Chart.lock
  bitnami/chainloop/Chart.yaml
  bitnami/chainloop/README.md
  bitnami/chainloop/templates/NOTES.txt
  bitnami/chainloop/values.yaml
Labels: verify, bitnami, chainloop

#30864 [bitnami/argo-workflows] Detect non-standard images
  bitnami/argo-workflows/CHANGELOG.md
  bitnami/argo-workflows/Chart.lock
  bitnami/argo-workflows/Chart.yaml
  bitnami/argo-workflows/README.md
  bitnami/argo-workflows/templates/NOTES.txt
  bitnami/argo-workflows/values.yaml
Labels: verify, argo-workflows, bitnami

#30872 [bitnami/concourse] Detect non-standard images
  bitnami/concourse/CHANGELOG.md
  bitnami/concourse/Chart.lock
  bitnami/concourse/Chart.yaml
  bitnami/concourse/README.md
  bitnami/concourse/templates/NOTES.txt
  bitnami/concourse/values.yaml
Labels: verify, bitnami, concourse

#30870 [bitnami/cilium] Detect non-standard images
  bitnami/cilium/CHANGELOG.md
  bitnami/cilium/Chart.lock
  bitnami/cilium/Chart.yaml
  bitnami/cilium/README.md
  bitnami/cilium/templates/NOTES.txt
  bitnami/cilium/values.yaml
Labels: verify, bitnami, cilium

#30894 [bitnami/external-dns] Detect non-standard images
  bitnami/external-dns/CHANGELOG.md
  bitnami/external-dns/Chart.lock
  bitnami/external-dns/Chart.yaml
  bitnami/external-dns/README.md
  bitnami/external-dns/templates/NOTES.txt
  bitnami/external-dns/values.yaml
Labels: verify, bitnami, external-dns

#30892 [bitnami/flux] Detect non-standard images
  bitnami/flux/CHANGELOG.md
  bitnami/flux/Chart.lock
  bitnami/flux/Chart.yaml
  bitnami/flux/README.md
  bitnami/flux/templates/NOTES.txt
  bitnami/flux/values.yaml
Labels: verify, bitnami, flux

#30891 [bitnami/fluent-bit] Detect non-standard images
  bitnami/fluent-bit/CHANGELOG.md
  bitnami/fluent-bit/Chart.lock
  bitnami/fluent-bit/Chart.yaml
  bitnami/fluent-bit/README.md
  bitnami/fluent-bit/templates/NOTES.txt
  bitnami/fluent-bit/values.yaml
Labels: verify, bitnami, fluent-bit

#30887 [bitnami/grafana-mimir] Detect non-standard images
  bitnami/grafana-mimir/CHANGELOG.md
  bitnami/grafana-mimir/Chart.lock
  bitnami/grafana-mimir/Chart.yaml
  bitnami/grafana-mimir/README.md
  bitnami/grafana-mimir/templates/NOTES.txt
  bitnami/grafana-mimir/values.yaml
Labels: verify, bitnami, grafana-mimir

#30886 [bitnami/grafana-operator] Detect non-standard images
  bitnami/grafana-operator/CHANGELOG.md
  bitnami/grafana-operator/Chart.lock
  bitnami/grafana-operator/Chart.yaml
  bitnami/grafana-operator/README.md
  bitnami/grafana-operator/templates/NOTES.txt
  bitnami/grafana-operator/values.yaml
Labels: verify, bitnami, grafana-operator

#30881 [bitnami/jaeger] Detect non-standard images
  bitnami/jaeger/CHANGELOG.md
  bitnami/jaeger/Chart.lock
  bitnami/jaeger/Chart.yaml
  bitnami/jaeger/README.md
  bitnami/jaeger/templates/NOTES.txt
  bitnami/jaeger/values.yaml
Labels: verify, bitnami, jaeger

#30876 [bitnami/grafana-loki] Detect non-standard images
  bitnami/grafana-loki/CHANGELOG.md
  bitnami/grafana-loki/Chart.lock
  bitnami/grafana-loki/Chart.yaml
  bitnami/grafana-loki/README.md
  bitnami/grafana-loki/templates/NOTES.txt
  bitnami/grafana-loki/values.yaml
Labels: verify, bitnami, grafana-loki

#30874 [bitnami/contour] Detect non-standard images
  bitnami/contour/CHANGELOG.md
  bitnami/contour/Chart.lock
  bitnami/contour/Chart.yaml
  bitnami/contour/README.md
  bitnami/contour/templates/NOTES.txt
  bitnami/contour/values.yaml
Labels: verify, contour, bitnami

#30906 [bitnami/janusgraph] Detect non-standard images
  bitnami/janusgraph/CHANGELOG.md
  bitnami/janusgraph/Chart.lock
  bitnami/janusgraph/Chart.yaml
  bitnami/janusgraph/README.md
  bitnami/janusgraph/templates/NOTES.txt
  bitnami/janusgraph/values.yaml
Labels: verify, bitnami, janusgraph

#30897 [bitnami/dremio] Detect non-standard images
  bitnami/dremio/CHANGELOG.md
  bitnami/dremio/Chart.lock
  bitnami/dremio/Chart.yaml
  bitnami/dremio/README.md
  bitnami/dremio/templates/NOTES.txt
  bitnami/dremio/values.yaml
Labels: verify, bitnami, dremio

#30896 [bitnami/discourse] Detect non-standard images
  bitnami/discourse/CHANGELOG.md
  bitnami/discourse/Chart.lock
  bitnami/discourse/Chart.yaml
  bitnami/discourse/README.md
  bitnami/discourse/templates/NOTES.txt
  bitnami/discourse/values.yaml
Labels: verify, bitnami, discourse

#30895 [bitnami/etcd] Detect non-standard images
  bitnami/etcd/CHANGELOG.md
  bitnami/etcd/Chart.lock
  bitnami/etcd/Chart.yaml
  bitnami/etcd/README.md
  bitnami/etcd/templates/NOTES.txt
  bitnami/etcd/values.yaml
Labels: verify, bitnami, etcd

#30893 [bitnami/flink] Detect non-standard images
  bitnami/flink/CHANGELOG.md
  bitnami/flink/Chart.lock
  bitnami/flink/Chart.yaml
  bitnami/flink/README.md
  bitnami/flink/templates/NOTES.txt
  bitnami/flink/values.yaml
Labels: verify, bitnami, flink

#30885 [bitnami/grafana-tempo] Detect non-standard images
  bitnami/grafana-tempo/CHANGELOG.md
  bitnami/grafana-tempo/Chart.lock
  bitnami/grafana-tempo/Chart.yaml
  bitnami/grafana-tempo/README.md
  bitnami/grafana-tempo/templates/NOTES.txt
  bitnami/grafana-tempo/values.yaml
Labels: verify, bitnami, grafana-tempo

#30883 [bitnami/harbor] Detect non-standard images
  bitnami/harbor/CHANGELOG.md
  bitnami/harbor/Chart.lock
  bitnami/harbor/Chart.yaml
  bitnami/harbor/README.md
  bitnami/harbor/templates/NOTES.txt
  bitnami/harbor/values.yaml
Labels: verify, bitnami, harbor

#30882 [bitnami/influxdb] Detect non-standard images
  bitnami/influxdb/CHANGELOG.md
  bitnami/influxdb/Chart.lock
  bitnami/influxdb/Chart.yaml
  bitnami/influxdb/README.md
  bitnami/influxdb/templates/NOTES.txt
  bitnami/influxdb/values.yaml
Labels: verify, bitnami, influxdb

#30903 [bitnami/kafka] Detect non-standard images
  bitnami/kafka/CHANGELOG.md
  bitnami/kafka/Chart.lock
  bitnami/kafka/Chart.yaml
  bitnami/kafka/README.md
  bitnami/kafka/templates/NOTES.txt
  bitnami/kafka/values.yaml
Labels: verify, kafka, bitnami

#30879 [bitnami/ejbca] Detect non-standard images
  bitnami/ejbca/CHANGELOG.md
  bitnami/ejbca/Chart.lock
  bitnami/ejbca/Chart.yaml
  bitnami/ejbca/README.md
  bitnami/ejbca/templates/NOTES.txt
  bitnami/ejbca/values.yaml
Labels: verify, bitnami, ejbca

#30878 [bitnami/drupal] Detect non-standard images
  bitnami/drupal/CHANGELOG.md
  bitnami/drupal/Chart.lock
  bitnami/drupal/Chart.yaml
  bitnami/drupal/README.md
  bitnami/drupal/templates/NOTES.txt
  bitnami/drupal/values.yaml
Labels: verify, bitnami, drupal

#30877 [bitnami/fluentd] Detect non-standard images
  bitnami/fluentd/CHANGELOG.md
  bitnami/fluentd/Chart.lock
  bitnami/fluentd/Chart.yaml
  bitnami/fluentd/README.md
  bitnami/fluentd/templates/NOTES.txt
  bitnami/fluentd/values.yaml
Labels: verify, bitnami, fluentd

#30875 [bitnami/deepspeed] Detect non-standard images
  bitnami/deepspeed/CHANGELOG.md
  bitnami/deepspeed/Chart.lock
  bitnami/deepspeed/Chart.yaml
  bitnami/deepspeed/README.md
  bitnami/deepspeed/templates/NOTES.txt
  bitnami/deepspeed/values.yaml
Labels: verify, bitnami, deepspeed

#30905 [bitnami/jenkins] Detect non-standard images
  bitnami/jenkins/CHANGELOG.md
  bitnami/jenkins/Chart.lock
  bitnami/jenkins/Chart.yaml
  bitnami/jenkins/README.md
  bitnami/jenkins/templates/NOTES.txt
  bitnami/jenkins/values.yaml
Labels: verify, jenkins, bitnami

#30884 [bitnami/haproxy] Detect non-standard images
  bitnami/haproxy/CHANGELOG.md
  bitnami/haproxy/Chart.lock
  bitnami/haproxy/Chart.yaml
  bitnami/haproxy/README.md
  bitnami/haproxy/templates/NOTES.txt
  bitnami/haproxy/values.yaml
Labels: verify, bitnami, haproxy

#30880 [bitnami/elasticsearch] Detect non-standard images
  bitnami/elasticsearch/CHANGELOG.md
  bitnami/elasticsearch/Chart.lock
  bitnami/elasticsearch/Chart.yaml
  bitnami/elasticsearch/README.md
  bitnami/elasticsearch/templates/NOTES.txt
  bitnami/elasticsearch/values.yaml
Labels: verify, bitnami, elasticsearch

#30873 [bitnami/consul] Detect non-standard images
  bitnami/consul/CHANGELOG.md
  bitnami/consul/Chart.lock
  bitnami/consul/Chart.yaml
  bitnami/consul/README.md
  bitnami/consul/templates/NOTES.txt
  bitnami/consul/values.yaml
Labels: verify, bitnami, consul

#30871 [bitnami/clickhouse] Detect non-standard images
  bitnami/clickhouse/CHANGELOG.md
  bitnami/clickhouse/Chart.lock
  bitnami/clickhouse/Chart.yaml
  bitnami/clickhouse/README.md
  bitnami/clickhouse/templates/NOTES.txt
  bitnami/clickhouse/values.yaml
Labels: verify, bitnami, clickhouse

#30900 [bitnami/kiam] Detect non-standard images
  bitnami/kiam/CHANGELOG.md
  bitnami/kiam/Chart.lock
  bitnami/kiam/Chart.yaml
  bitnami/kiam/README.md
  bitnami/kiam/templates/NOTES.txt
  bitnami/kiam/values.yaml
Labels: verify, bitnami, kiam

#30907 [bitnami/nginx] Detect non-standard images
  bitnami/nginx/CHANGELOG.md
  bitnami/nginx/Chart.lock
  bitnami/nginx/Chart.yaml
  bitnami/nginx/README.md
  bitnami/nginx/templates/NOTES.txt
  bitnami/nginx/values.yaml
Labels: verify, nginx, bitnami

#30901 [bitnami/keydb] Detect non-standard images
  bitnami/keydb/CHANGELOG.md
  bitnami/keydb/Chart.lock
  bitnami/keydb/Chart.yaml
  bitnami/keydb/README.md
  bitnami/keydb/templates/NOTES.txt
  bitnami/keydb/values.yaml
Labels: verify, bitnami, keydb

#30890 [bitnami/ghost] Detect non-standard images
  bitnami/ghost/CHANGELOG.md
  bitnami/ghost/Chart.lock
  bitnami/ghost/Chart.yaml
  bitnami/ghost/README.md
  bitnami/ghost/templates/NOTES.txt
  bitnami/ghost/values.yaml
Labels: verify, bitnami, ghost

#30902 [bitnami/keycloak] Detect non-standard images
  bitnami/keycloak/CHANGELOG.md
  bitnami/keycloak/Chart.lock
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/README.md
  bitnami/keycloak/templates/NOTES.txt
  bitnami/keycloak/values.yaml
Labels: verify, keycloak, bitnami

#30904 [bitnami/jupyterhub] Detect non-standard images
  bitnami/jupyterhub/CHANGELOG.md
  bitnami/jupyterhub/Chart.lock
  bitnami/jupyterhub/Chart.yaml
  bitnami/jupyterhub/README.md
  bitnami/jupyterhub/templates/NOTES.txt
  bitnami/jupyterhub/values.yaml
Labels: verify, bitnami, jupyterhub

#30898 [bitnami/kong] Detect non-standard images
  bitnami/kong/CHANGELOG.md
  bitnami/kong/Chart.lock
  bitnami/kong/Chart.yaml
  bitnami/kong/README.md
  bitnami/kong/templates/NOTES.txt
  bitnami/kong/values.yaml
Labels: verify, bitnami, kong

#30909 [bitnami/jaeger] Fix typo in NOTES.txt
  bitnami/jaeger/CHANGELOG.md
  bitnami/jaeger/Chart.yaml
  bitnami/jaeger/templates/NOTES.txt
Labels: verify, bitnami, jaeger

#30913 [bitnami/kube-state-metrics] Detect non-standard images
  bitnami/kube-state-metrics/CHANGELOG.md
  bitnami/kube-state-metrics/Chart.lock
  bitnami/kube-state-metrics/Chart.yaml
  bitnami/kube-state-metrics/README.md
  bitnami/kube-state-metrics/templates/NOTES.txt
  bitnami/kube-state-metrics/values.yaml
Labels: verify, bitnami, kube-state-metrics

#30899 [bitnami/kibana] Detect non-standard images
  bitnami/kibana/CHANGELOG.md
  bitnami/kibana/Chart.lock
  bitnami/kibana/Chart.yaml
  bitnami/kibana/README.md
  bitnami/kibana/templates/NOTES.txt
  bitnami/kibana/values.yaml
Labels: verify, bitnami, kibana

#30912 [bitnami/kube-prometheus] Detect non-standard images
  bitnami/kube-prometheus/CHANGELOG.md
  bitnami/kube-prometheus/Chart.lock
  bitnami/kube-prometheus/Chart.yaml
  bitnami/kube-prometheus/README.md
  bitnami/kube-prometheus/templates/NOTES.txt
  bitnami/kube-prometheus/values.yaml
Labels: verify, bitnami, kube-prometheus

#30910 [bitnami/odoo] Detect non-standard images
  bitnami/odoo/CHANGELOG.md
  bitnami/odoo/Chart.lock
  bitnami/odoo/Chart.yaml
  bitnami/odoo/README.md
  bitnami/odoo/templates/NOTES.txt
  bitnami/odoo/values.yaml
Labels: verify, bitnami

#30915 [bitnami/zookeeper] Detect non-standard images
  bitnami/zookeeper/CHANGELOG.md
  bitnami/zookeeper/Chart.lock
  bitnami/zookeeper/Chart.yaml
  bitnami/zookeeper/README.md
  bitnami/zookeeper/templates/NOTES.txt
  bitnami/zookeeper/values.yaml
Labels: verify, bitnami, zookeeper

#30916 [bitnami/nats] Detect non-standard images
  bitnami/nats/CHANGELOG.md
  bitnami/nats/Chart.lock
  bitnami/nats/Chart.yaml
  bitnami/nats/README.md
  bitnami/nats/templates/NOTES.txt
  bitnami/nats/values.yaml
Labels: verify, bitnami, nats

#30917 [bitnami/neo4j] Detect non-standard images
  bitnami/neo4j/CHANGELOG.md
  bitnami/neo4j/Chart.lock
  bitnami/neo4j/Chart.yaml
  bitnami/neo4j/README.md
  bitnami/neo4j/templates/NOTES.txt
  bitnami/neo4j/values.yaml
Labels: verify, bitnami, neo4j

#30918 [bitnami/kuberay] Detect non-standard images
  bitnami/kuberay/CHANGELOG.md
  bitnami/kuberay/Chart.lock
  bitnami/kuberay/Chart.yaml
  bitnami/kuberay/README.md
  bitnami/kuberay/templates/NOTES.txt
  bitnami/kuberay/values.yaml
Labels: verify, bitnami, kuberay

#30919 [bitnami/logstash] Detect non-standard images
  bitnami/logstash/CHANGELOG.md
  bitnami/logstash/Chart.lock
  bitnami/logstash/Chart.yaml
  bitnami/logstash/README.md
  bitnami/logstash/templates/NOTES.txt
  bitnami/logstash/values.yaml
Labels: verify, bitnami, logstash

#30928 [bitnami/multus-cni] Detect non-standard images
  bitnami/multus-cni/CHANGELOG.md
  bitnami/multus-cni/Chart.lock
  bitnami/multus-cni/Chart.yaml
  bitnami/multus-cni/README.md
  bitnami/multus-cni/templates/NOTES.txt
  bitnami/multus-cni/values.yaml
Labels: verify, bitnami, multus-cni

#30922 [bitnami/memcached] Detect non-standard images
  bitnami/memcached/CHANGELOG.md
  bitnami/memcached/Chart.lock
  bitnami/memcached/Chart.yaml
  bitnami/memcached/README.md
  bitnami/memcached/templates/NOTES.txt
  bitnami/memcached/values.yaml
Labels: verify, bitnami, memcached

#30925 [bitnami/mlflow] Detect non-standard images
  bitnami/mlflow/CHANGELOG.md
  bitnami/mlflow/Chart.lock
  bitnami/mlflow/Chart.yaml
  bitnami/mlflow/README.md
  bitnami/mlflow/templates/NOTES.txt
  bitnami/mlflow/values.yaml
Labels: verify, bitnami, mlflow

#30938 [bitnami/prometheus] Detect non-standard images
  bitnami/prometheus/CHANGELOG.md
  bitnami/prometheus/Chart.lock
  bitnami/prometheus/Chart.yaml
  bitnami/prometheus/README.md
  bitnami/prometheus/templates/NOTES.txt
  bitnami/prometheus/values.yaml
Labels: verify, bitnami, prometheus

#30923 [bitnami/metallb] Detect non-standard images
  bitnami/metallb/CHANGELOG.md
  bitnami/metallb/Chart.lock
  bitnami/metallb/Chart.yaml
  bitnami/metallb/README.md
  bitnami/metallb/templates/NOTES.txt
Labels: verify, bitnami, metallb

#30930 [bitnami/kube-state-metrics] Fix typo in NOTES.txt
  bitnami/kube-state-metrics/CHANGELOG.md
  bitnami/kube-state-metrics/Chart.yaml
  bitnami/kube-state-metrics/templates/NOTES.txt
Labels: verify, bitnami, kube-state-metrics

#30931 [bitnami/nessie] Detect non-standard images
  bitnami/nessie/CHANGELOG.md
  bitnami/nessie/Chart.lock
  bitnami/nessie/Chart.yaml
  bitnami/nessie/README.md
  bitnami/nessie/templates/NOTES.txt
  bitnami/nessie/values.yaml
Labels: verify, bitnami, nessie

#30933 [bitnami/oauth2-proxy] Detect non-standard images
  bitnami/oauth2-proxy/CHANGELOG.md
  bitnami/oauth2-proxy/Chart.lock
  bitnami/oauth2-proxy/Chart.yaml
  bitnami/oauth2-proxy/README.md
  bitnami/oauth2-proxy/templates/NOTES.txt
  bitnami/oauth2-proxy/values.yaml
Labels: verify, bitnami, oauth2-proxy

#30935 [bitnami/pinniped] Detect non-standard images
  bitnami/pinniped/CHANGELOG.md
  bitnami/pinniped/Chart.lock
  bitnami/pinniped/Chart.yaml
  bitnami/pinniped/README.md
  bitnami/pinniped/templates/NOTES.txt
  bitnami/pinniped/values.yaml
Labels: verify, pinniped, bitnami

#30920 [bitnami/mariadb-galera] Detect non-standard images
  bitnami/mariadb-galera/CHANGELOG.md
  bitnami/mariadb-galera/Chart.lock
  bitnami/mariadb-galera/Chart.yaml
  bitnami/mariadb-galera/README.md
  bitnami/mariadb-galera/templates/NOTES.txt
  bitnami/mariadb-galera/values.yaml
Labels: verify, bitnami, mariadb-galera

#30926 [bitnami/mongodb] Detect non-standard images
  bitnami/mongodb/CHANGELOG.md
  bitnami/mongodb/Chart.lock
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/README.md
  bitnami/mongodb/templates/NOTES.txt
  bitnami/mongodb/values.yaml
Labels: verify, bitnami, mongodb

#30929 [bitnami/mysql] Detect non-standard images
  bitnami/mysql/CHANGELOG.md
  bitnami/mysql/Chart.lock
  bitnami/mysql/Chart.yaml
  bitnami/mysql/README.md
  bitnami/mysql/templates/NOTES.txt
  bitnami/mysql/values.yaml
Labels: verify, bitnami, mysql

#30932 [bitnami/node-exporter] Detect non-standard images
  bitnami/node-exporter/CHANGELOG.md
  bitnami/node-exporter/Chart.lock
  bitnami/node-exporter/Chart.yaml
  bitnami/node-exporter/README.md
  bitnami/node-exporter/templates/NOTES.txt
  bitnami/node-exporter/values.yaml
Labels: verify, bitnami, node-exporter

#30950 [bitnami/valkey] Detect non-standard images
  bitnami/valkey/CHANGELOG.md
  bitnami/valkey/Chart.lock
  bitnami/valkey/Chart.yaml
  bitnami/valkey/README.md
  bitnami/valkey/templates/NOTES.txt
  bitnami/valkey/values.yaml
Labels: verify, bitnami, valkey

#30951 [bitnami/valkey-cluster] Detect non-standard images
  bitnami/valkey-cluster/CHANGELOG.md
  bitnami/valkey-cluster/Chart.lock
  bitnami/valkey-cluster/Chart.yaml
  bitnami/valkey-cluster/README.md
  bitnami/valkey-cluster/templates/NOTES.txt
  bitnami/valkey-cluster/values.yaml
Labels: verify, bitnami, valkey-cluster

#30952 [bitnami/vault] Detect non-standard images
  bitnami/vault/CHANGELOG.md
  bitnami/vault/Chart.lock
  bitnami/vault/Chart.yaml
  bitnami/vault/README.md
  bitnami/vault/templates/NOTES.txt
  bitnami/vault/values.yaml
Labels: verify, bitnami, vault

#30955 [bitnami/kubernetes-event-exporter] Detect non-standard images
  bitnami/kubernetes-event-exporter/CHANGELOG.md
  bitnami/kubernetes-event-exporter/Chart.lock
  bitnami/kubernetes-event-exporter/Chart.yaml
  bitnami/kubernetes-event-exporter/README.md
  bitnami/kubernetes-event-exporter/templates/NOTES.txt
  bitnami/kubernetes-event-exporter/values.yaml
Labels: verify, bitnami, kubernetes-event-exporter

#30944 [bitnami/scylladb] Detect non-standard images
  bitnami/scylladb/CHANGELOG.md
  bitnami/scylladb/Chart.lock
  bitnami/scylladb/Chart.yaml
  bitnami/scylladb/README.md
  bitnami/scylladb/templates/NOTES.txt
  bitnami/scylladb/values.yaml
Labels: verify, bitnami, scylladb

#30941 [bitnami/rabbitmq-cluster-operator] Detect non-standard images
  bitnami/rabbitmq-cluster-operator/CHANGELOG.md
  bitnami/rabbitmq-cluster-operator/Chart.lock
  bitnami/rabbitmq-cluster-operator/Chart.yaml
  bitnami/rabbitmq-cluster-operator/README.md
  bitnami/rabbitmq-cluster-operator/templates/NOTES.txt
  bitnami/rabbitmq-cluster-operator/values.yaml
Labels: verify, bitnami, rabbitmq-cluster-operator

#30934 [bitnami/opensearch] Detect non-standard images
  bitnami/opensearch/CHANGELOG.md
  bitnami/opensearch/Chart.lock
  bitnami/opensearch/Chart.yaml
  bitnami/opensearch/README.md
  bitnami/opensearch/templates/NOTES.txt
  bitnami/opensearch/values.yaml
Labels: verify, bitnami, opensearch

#30927 [bitnami/mongodb-sharded] Detect non-standard images
  bitnami/mongodb-sharded/CHANGELOG.md
  bitnami/mongodb-sharded/Chart.lock
  bitnami/mongodb-sharded/Chart.yaml
  bitnami/mongodb-sharded/README.md
  bitnami/mongodb-sharded/templates/NOTES.txt
  bitnami/mongodb-sharded/values.yaml
Labels: verify, bitnami, mongodb-sharded

#30924 [bitnami/minio] Detect non-standard images
  bitnami/minio/CHANGELOG.md
  bitnami/minio/Chart.lock
  bitnami/minio/Chart.yaml
  bitnami/minio/README.md
  bitnami/minio/templates/NOTES.txt
  bitnami/minio/values.yaml
Labels: verify, bitnami, minio

#30957 [bitnami/matomo] Detect non-standard images
  bitnami/matomo/CHANGELOG.md
  bitnami/matomo/Chart.lock
  bitnami/matomo/Chart.yaml
  bitnami/matomo/README.md
  bitnami/matomo/templates/NOTES.txt
  bitnami/matomo/values.yaml
Labels: verify, bitnami, matomo

#30947 [bitnami/spark] Detect non-standard images
  bitnami/spark/CHANGELOG.md
  bitnami/spark/Chart.lock
  bitnami/spark/Chart.yaml
  bitnami/spark/README.md
  bitnami/spark/templates/NOTES.txt
  bitnami/spark/values.yaml
Labels: verify, bitnami, spark

#30959 [bitnami/milvus] Detect non-standard images
  bitnami/milvus/CHANGELOG.md
  bitnami/milvus/Chart.lock
  bitnami/milvus/Chart.yaml
  bitnami/milvus/README.md
  bitnami/milvus/templates/NOTES.txt
  bitnami/milvus/values.yaml
Labels: verify, bitnami, milvus

#30943 [bitnami/redis-cluster] Detect non-standard images
  bitnami/redis-cluster/CHANGELOG.md
  bitnami/redis-cluster/Chart.lock
  bitnami/redis-cluster/Chart.yaml
  bitnami/redis-cluster/README.md
  bitnami/redis-cluster/templates/NOTES.txt
  bitnami/redis-cluster/values.yaml
Labels: verify, bitnami, redis-cluster

#30954 [bitnami/wildfly] Detect non-standard images
  bitnami/wildfly/CHANGELOG.md
  bitnami/wildfly/Chart.lock
  bitnami/wildfly/Chart.yaml
  bitnami/wildfly/README.md
  bitnami/wildfly/templates/NOTES.txt
  bitnami/wildfly/values.yaml
Labels: verify, bitnami, wildfly

#30958 [bitnami/metrics-server] Detect non-standard images
  bitnami/metrics-server/CHANGELOG.md
  bitnami/metrics-server/Chart.lock
  bitnami/metrics-server/Chart.yaml
  bitnami/metrics-server/README.md
  bitnami/metrics-server/templates/NOTES.txt
  bitnami/metrics-server/values.yaml
Labels: verify, bitnami, metrics-server

#30936 [bitnami/postgresql] Detect non-standard images
  bitnami/postgresql/CHANGELOG.md
  bitnami/postgresql/Chart.lock
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/README.md
  bitnami/postgresql/templates/NOTES.txt
  bitnami/postgresql/values.yaml
Labels: verify, postgresql, bitnami

#30956 [bitnami/mariadb] Detect non-standard images
  bitnami/mariadb/CHANGELOG.md
  bitnami/mariadb/Chart.lock
  bitnami/mariadb/Chart.yaml
  bitnami/mariadb/README.md
  bitnami/mariadb/templates/NOTES.txt
  bitnami/mariadb/values.yaml
Labels: verify, mariadb, bitnami

#30949 [bitnami/tomcat] Detect non-standard images
  bitnami/tomcat/CHANGELOG.md
  bitnami/tomcat/Chart.lock
  bitnami/tomcat/Chart.yaml
  bitnami/tomcat/README.md
  bitnami/tomcat/templates/NOTES.txt
  bitnami/tomcat/values.yaml
Labels: verify, bitnami, tomcat

#30945 [bitnami/solr] Detect non-standard images
  bitnami/solr/CHANGELOG.md
  bitnami/solr/Chart.lock
  bitnami/solr/Chart.yaml
  bitnami/solr/README.md
  bitnami/solr/templates/NOTES.txt
  bitnami/solr/values.yaml
Labels: verify, bitnami, solr

#30948 [bitnami/thanos] Detect non-standard images
  bitnami/thanos/CHANGELOG.md
  bitnami/thanos/Chart.lock
  bitnami/thanos/Chart.yaml
  bitnami/thanos/README.md
  bitnami/thanos/templates/NOTES.txt
  bitnami/thanos/values.yaml
Labels: verify, bitnami, thanos

#30942 [bitnami/redis] Detect non-standard images
  bitnami/redis/CHANGELOG.md
  bitnami/redis/Chart.lock
  bitnami/redis/Chart.yaml
  bitnami/redis/README.md
  bitnami/redis/templates/NOTES.txt
  bitnami/redis/values.yaml
Labels: verify, bitnami, redis

#30940 [bitnami/rabbitmq] Detect non-standard images
  bitnami/rabbitmq/CHANGELOG.md
  bitnami/rabbitmq/Chart.lock
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/README.md
  bitnami/rabbitmq/templates/NOTES.txt
  bitnami/rabbitmq/values.yaml
Labels: verify, bitnami, rabbitmq

#30965 [bitnami/schema-registry] Detect non-standard images
  bitnami/schema-registry/CHANGELOG.md
  bitnami/schema-registry/Chart.lock
  bitnami/schema-registry/Chart.yaml
  bitnami/schema-registry/README.md
  bitnami/schema-registry/templates/NOTES.txt
  bitnami/schema-registry/values.yaml
Labels: verify, bitnami, schema-registry

#30937 [bitnami/postgresql-ha] Detect non-standard images
  bitnami/postgresql-ha/CHANGELOG.md
  bitnami/postgresql-ha/Chart.lock
  bitnami/postgresql-ha/Chart.yaml
  bitnami/postgresql-ha/README.md
  bitnami/postgresql-ha/templates/NOTES.txt
  bitnami/postgresql-ha/values.yaml
Labels: verify, bitnami, postgresql-ha

#30961 [bitnami/nginx-ingress-controller] Detect non-standard images
  bitnami/nginx-ingress-controller/CHANGELOG.md
  bitnami/nginx-ingress-controller/Chart.lock
  bitnami/nginx-ingress-controller/Chart.yaml
  bitnami/nginx-ingress-controller/README.md
  bitnami/nginx-ingress-controller/templates/NOTES.txt
  bitnami/nginx-ingress-controller/values.yaml
Labels: verify, bitnami, nginx-ingress-controller

#30962 [bitnami/parse] Detect non-standard images
  bitnami/parse/CHANGELOG.md
  bitnami/parse/Chart.lock
  bitnami/parse/Chart.yaml
  bitnami/parse/README.md
  bitnami/parse/templates/NOTES.txt
  bitnami/parse/values.yaml
Labels: verify, bitnami, parse

#30963 [bitnami/phpmyadmin] Detect non-standard images
  bitnami/phpmyadmin/CHANGELOG.md
  bitnami/phpmyadmin/Chart.lock
  bitnami/phpmyadmin/Chart.yaml
  bitnami/phpmyadmin/README.md
  bitnami/phpmyadmin/templates/NOTES.txt
  bitnami/phpmyadmin/values.yaml
Labels: verify, bitnami, phpmyadmin

#30964 [bitnami/redmine] Detect non-standard images
  bitnami/redmine/CHANGELOG.md
  bitnami/redmine/Chart.lock
  bitnami/redmine/Chart.yaml
  bitnami/redmine/README.md
  bitnami/redmine/templates/NOTES.txt
  bitnami/redmine/values.yaml
Labels: verify, bitnami, redmine

#30966 [bitnami/sealed-secrets] Detect non-standard images
  bitnami/sealed-secrets/CHANGELOG.md
  bitnami/sealed-secrets/Chart.lock
  bitnami/sealed-secrets/Chart.yaml
  bitnami/sealed-secrets/README.md
  bitnami/sealed-secrets/templates/NOTES.txt
  bitnami/sealed-secrets/values.yaml
Labels: verify, bitnami, sealed-secrets

#30968 [bitnami/spring-cloud-dataflow] Detect non-standard images
  bitnami/spring-cloud-dataflow/CHANGELOG.md
  bitnami/spring-cloud-dataflow/Chart.lock
  bitnami/spring-cloud-dataflow/Chart.yaml
  bitnami/spring-cloud-dataflow/README.md
  bitnami/spring-cloud-dataflow/templates/NOTES.txt
  bitnami/spring-cloud-dataflow/values.yaml
Labels: verify, bitnami, spring-cloud-dataflow

#30970 [bitnami/wordpress] Detect non-standard images
  bitnami/wordpress/CHANGELOG.md
  bitnami/wordpress/Chart.lock
  bitnami/wordpress/Chart.yaml
  bitnami/wordpress/README.md
  bitnami/wordpress/templates/NOTES.txt
  bitnami/wordpress/values.yaml
Labels: verify, bitnami, wordpress

#30969 [bitnami/tensorflow-resnet] Detect non-standard images
  bitnami/tensorflow-resnet/CHANGELOG.md
  bitnami/tensorflow-resnet/Chart.lock
  bitnami/tensorflow-resnet/Chart.yaml
  bitnami/tensorflow-resnet/README.md
  bitnami/tensorflow-resnet/templates/NOTES.txt
  bitnami/tensorflow-resnet/values.yaml
Labels: verify, bitnami, tensorflow-resnet

#30971 [bitnami/zipkin] Detect non-standard images
  bitnami/zipkin/CHANGELOG.md
  bitnami/zipkin/Chart.lock
  bitnami/zipkin/Chart.yaml
  bitnami/zipkin/README.md
  bitnami/zipkin/templates/NOTES.txt
  bitnami/zipkin/values.yaml
Labels: verify, bitnami, zipkin

#30960 [bitnami/moodle] Detect non-standard images
  bitnami/moodle/CHANGELOG.md
  bitnami/moodle/Chart.lock
  bitnami/moodle/Chart.yaml
  bitnami/moodle/README.md
  bitnami/moodle/templates/NOTES.txt
  bitnami/moodle/values.yaml
Labels: verify, bitnami

#30914 [bitnami/kubeapps] Detect non-standard images
  bitnami/kubeapps/CHANGELOG.md
  bitnami/kubeapps/Chart.lock
  bitnami/kubeapps/Chart.yaml
  bitnami/kubeapps/README.md
  bitnami/kubeapps/templates/NOTES.txt
  bitnami/kubeapps/values.yaml
Labels: verify, bitnami, kubeapps

#30921 [bitnami/mastodon] Detect non-standard images
  bitnami/mastodon/CHANGELOG.md
  bitnami/mastodon/Chart.lock
  bitnami/mastodon/Chart.yaml
  bitnami/mastodon/README.md
  bitnami/mastodon/templates/NOTES.txt
  bitnami/mastodon/values.yaml
Labels: verify, bitnami, mastodon

#30939 [bitnami/pytorch] Detect non-standard images
  bitnami/pytorch/CHANGELOG.md
  bitnami/pytorch/Chart.yaml
  bitnami/pytorch/README.md
  bitnami/pytorch/templates/NOTES.txt
  bitnami/pytorch/values.yaml
Labels: verify, bitnami, pytorch

#30973 [bitnami/metallb] Fix lack of global.security.allowInsecureImages option
  bitnami/metallb/CHANGELOG.md
  bitnami/metallb/Chart.yaml
  bitnami/metallb/README.md
  bitnami/metallb/values.yaml
Labels: verify, bitnami, metallb

#30815 [bitnami/etcd] keep snapshot-pvc
  bitnami/etcd/CHANGELOG.md
  bitnami/etcd/Chart.yaml
  bitnami/etcd/templates/snapshot-pvc.yaml
Labels: verify, in-progress, etcd

#30986 [bitnami/wildfly] Skip test on specific OS_FLAVOR
  .vib/wildfly/goss/goss.yaml
Labels: verify, bitnami

#30911 [bitnami/airflow] Fix LDAP configuration
  bitnami/airflow/CHANGELOG.md
  bitnami/airflow/Chart.yaml
  bitnami/airflow/templates/web/configmap.yaml
Labels: verify, in-progress, airflow

#31006 [bitnami/wildfly] Bump patch version to apply .vib tests changes
  .vib/wildfly/goss/goss.yaml
  bitnami/wildfly/CHANGELOG.md
  bitnami/wildfly/Chart.yaml
Labels: verify, bitnami, wildfly

#31007 Redis Readme: fix typo in value key name
  bitnami/redis/README.md
Labels: triage, redis

#30722 [bitnami/thanos] Add concurrency value to compactor
  bitnami/thanos/CHANGELOG.md
  bitnami/thanos/Chart.yaml
  bitnami/thanos/README.md
  bitnami/thanos/templates/compactor/_pod-template.tpl
  bitnami/thanos/values.yaml
Labels: verify, in-progress, thanos

#30709 [bitnami/vault] Parametize caBundle in mutatingwebhook
  bitnami/vault/CHANGELOG.md
  bitnami/vault/Chart.yaml
  bitnami/vault/README.md
  bitnami/vault/templates/injector/mutating-webhook.yaml
  bitnami/vault/values.yaml
Labels: verify, in-progress, vault

#30843 [bitnami/template] fix(template): hpa context and path to hpa settings
  template/CHART_NAME/templates/hpa.yaml
Labels: in-progress

#31014 [bitnami/scylladb] Fix existingConfiguration parameter for scylladb
  bitnami/scylladb/CHANGELOG.md
  bitnami/scylladb/Chart.yaml
  bitnami/scylladb/README.md
  bitnami/scylladb/templates/statefulset.yaml
  bitnami/scylladb/values.yaml
Labels: verify, bitnami, scylladb

#30718 [bitnami/minio]: Templating sleep sleep time so that it can be passed using values.yaml
  bitnami/minio/CHANGELOG.md
  bitnami/minio/Chart.yaml
  bitnami/minio/README.md
  bitnami/minio/templates/provisioning-job.yaml
  bitnami/minio/values.yaml
Labels: verify, in-progress, minio

#30993 [bitnami/postgresql-ha]Add Storage Class Configuration to Templates
  bitnami/postgresql-ha/CHANGELOG.md
  bitnami/postgresql-ha/Chart.yaml
  bitnami/postgresql-ha/templates/postgresql/statefulset.yaml
  bitnami/postgresql-ha/templates/postgresql/witness-statefulset.yaml
Labels: verify, in-progress, postgresql-ha

#30858 [bitnami/postgresql] Add Storage Class Configuration to Templates
  bitnami/postgresql/CHANGELOG.md
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/templates/primary/statefulset.yaml
  bitnami/postgresql/templates/read/statefulset.yaml
Labels: verify, in-progress, postgresql

#30810 [bitnami/nginx] fix nginx init containers with writable file system
  bitnami/nginx/CHANGELOG.md
  bitnami/nginx/Chart.yaml
  bitnami/nginx/templates/deployment.yaml
Labels: verify, in-progress, nginx

#30990 [bitnami/airflow] Fix wrong protocol for metrics network policy
  bitnami/airflow/CHANGELOG.md
  bitnami/airflow/Chart.yaml
  bitnami/airflow/templates/metrics/networkpolicy.yaml
Labels: verify, in-progress, airflow

#30368 [bitnami/keycloak] KEYCLOAK_HOSTNAME present even if KEYCLOAK_PROXY_HEADERS is set
  bitnami/keycloak/CHANGELOG.md
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/templates/configmap-env-vars.yaml
Labels: verify, in-progress, keycloak

#31035 [bitnami/zookeeper] Increase resources to avoid OOMKilled reason executing tests
  .vib/zookeeper/runtime-parameters.yaml
  bitnami/zookeeper/CHANGELOG.md
  bitnami/zookeeper/Chart.yaml
Labels: verify, bitnami, zookeeper

#31034 [bitname/redis] Add support for master and replicas resources to be annotated
  bitnami/redis/CHANGELOG.md
  bitnami/redis/Chart.yaml
  bitnami/redis/README.md
  bitnami/redis/templates/master/application.yaml
  bitnami/redis/templates/replicas/application.yaml
  bitnami/redis/values.yaml
Labels: verify, in-progress, redis

#31069 [bitnami/postgresql-ha] Fix typo in documentation
  bitnami/postgresql-ha/README.md
Labels: triage, postgresql-ha

#31020 [bitnami/valkey] fix: sentinel pdb
  bitnami/valkey/CHANGELOG.md
  bitnami/valkey/Chart.yaml
  bitnami/valkey/templates/primary/pdb.yaml
  bitnami/valkey/templates/replicas/pdb.yaml
  bitnami/valkey/templates/sentinel/pdb.yaml
Labels: verify, in-progress, valkey

#31065 [bitnami/matomo] add initContainers parameter to CronJob pods
  bitnami/matomo/CHANGELOG.md
  bitnami/matomo/Chart.yaml
  bitnami/matomo/README.md
  bitnami/matomo/templates/cronjob.yaml
  bitnami/matomo/values.yaml
Labels: verify, in-progress, matomo

#31090 [birtnami/janusgraph] chore(jmx-exporter): Upgrade image and change args
  bitnami/janusgraph/CHANGELOG.md
  bitnami/janusgraph/Chart.yaml
  bitnami/janusgraph/templates/deployment.yaml
  bitnami/janusgraph/values.yaml
Labels: verify, bitnami, janusgraph

#31102 [birtnami/dremio] chore(jmx-exporter): Upgrade image and change args
  bitnami/dremio/CHANGELOG.md
  bitnami/dremio/Chart.yaml
  bitnami/dremio/templates/coordinator/statefulset.yaml
  bitnami/dremio/templates/executor/statefulset.yaml
  bitnami/dremio/templates/master-coordinator/statefulset.yaml
  bitnami/dremio/values.yaml
Labels: verify, bitnami, dremio

#31104 [bitnami/tomcat] chore(jmx-exporter): Upgrade image and change args
  bitnami/tomcat/CHANGELOG.md
  bitnami/tomcat/Chart.yaml
  bitnami/tomcat/templates/_pod.tpl
  bitnami/tomcat/values.yaml
Labels: verify, bitnami, tomcat

#31088 [bitnami/fluent-bit] Fix typo daemonset.enable
  bitnami/fluent-bit/CHANGELOG.md
  bitnami/fluent-bit/Chart.yaml
  bitnami/fluent-bit/templates/hpa.yaml
  bitnami/fluent-bit/templates/pdb.yaml
  bitnami/fluent-bit/templates/vpa.yaml
Labels: verify, in-progress, fluent-bit

#31141 [bitnami/grafana-tempo] Update README.md
  bitnami/grafana-tempo/README.md
Labels: triage, grafana-tempo

#31122 [bitnami/harbor] Only set metric environment variables for exporter when enabled, set environment variables for jobservice when metrics are enabled to fix metric name
  bitnami/harbor/CHANGELOG.md
  bitnami/harbor/Chart.yaml
  bitnami/harbor/templates/exporter/exporter-cm-envvars.yaml
  bitnami/harbor/templates/jobservice/jobservice-cm-envvars.yaml
Labels: verify, in-progress, harbor

#31165 [bitnami/nessie]fix(runtime-parameters.yaml): Set long postgresql password
  .vib/nessie/runtime-parameters.yaml
  bitnami/nessie/CHANGELOG.md
  bitnami/nessie/Chart.yaml
Labels: verify, bitnami, nessie

#31175 [bitnami/jenkins] Fix initHookScriptsSecret
  bitnami/jenkins/CHANGELOG.md
  bitnami/jenkins/Chart.yaml
  bitnami/jenkins/templates/deployment.yaml
Labels: verify, jenkins, bitnami

#30636 [bitnami/keycloak] Update KEYCLOAK_ADMIN env variables deprecation
  bitnami/keycloak/CHANGELOG.md
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/README.md
  bitnami/keycloak/templates/configmap-env-vars.yaml
  bitnami/keycloak/templates/statefulset.yaml
Labels: verify, in-progress, keycloak

#31183 [bitnami/mastodon] Avoid mkdir issue when restarting
  bitnami/mastodon/CHANGELOG.md
  bitnami/mastodon/Chart.yaml
  bitnami/mastodon/templates/web/deployment.yaml
Labels: verify, bitnami, mastodon
