Repository bitnami/charts, pull requests merged in 2024-06, with the labels that each got.

#26553 [bitnami/kube-prometheus] Add imagePullPolicy to Prometheus and Alertmanager
  bitnami/kube-prometheus/CHANGELOG.md
  bitnami/kube-prometheus/Chart.yaml
  bitnami/kube-prometheus/README.md
  bitnami/kube-prometheus/templates/alertmanager/alertmanager.yaml
  bitnami/kube-prometheus/templates/prometheus/prometheus.yaml
  bitnami/kube-prometheus/values.yaml
Labels: verify, in-progress, kube-prometheus

#26501 [bitnami/kibana] Enable PodDisruptionBudgets
  bitnami/kibana/CHANGELOG.md
  bitnami/kibana/Chart.yaml
  bitnami/kibana/README.md
  bitnami/kibana/templates/pdb.yaml
  bitnami/kibana/values.yaml
Labels: verify, bitnami, kibana

#26410 [bitnami/appsmith] Enable PodDisruptionBudgets
  bitnami/appsmith/CHANGELOG.md
  bitnami/appsmith/Chart.lock
  bitnami/appsmith/Chart.yaml
  bitnami/appsmith/README.md
  bitnami/appsmith/templates/backend/pdb.yaml
  bitnami/appsmith/templates/client/pdb.yaml
  bitnami/appsmith/templates/rts/pdb.yaml
  bitnami/appsmith/values.yaml
Labels: verify, bitnami, appsmith

#26514 [bitnami/node-exporter] Enable PodDisruptionBudgets
  bitnami/node-exporter/CHANGELOG.md
  bitnami/node-exporter/Chart.yaml
  bitnami/node-exporter/README.md
  bitnami/node-exporter/templates/pdb.yaml
  bitnami/node-exporter/values.yaml
Labels: verify, bitnami, node-exporter

#26583 [bitnami/redis-cluster] Template podAnnotation values
  bitnami/redis-cluster/CHANGELOG.md
  bitnami/redis-cluster/Chart.yaml
  bitnami/redis-cluster/templates/redis-statefulset.yaml
Labels: verify, in-progress, redis-cluster

#26598 [bitnami/seaweedfs] Fix tests
  .vib/seaweedfs/ginkgo/seaweedfs_suite_test.go
  .vib/seaweedfs/ginkgo/seaweedfs_test.go
Labels: verify, bitnami

#26428 [bitnami/drupal] Enable PodDisruptionBudgets
  bitnami/drupal/CHANGELOG.md
  bitnami/drupal/Chart.lock
  bitnami/drupal/Chart.yaml
  bitnami/drupal/README.md
  bitnami/drupal/templates/pdb.yaml
  bitnami/drupal/values.yaml
Labels: verify, bitnami, drupal

#26429 [bitnami/flink] Enable PodDisruptionBudgets
  bitnami/flink/CHANGELOG.md
  bitnami/flink/Chart.yaml
  bitnami/flink/README.md
  bitnami/flink/templates/jobmanager/pdb.yaml
  bitnami/flink/templates/taskmanager/pdb.yaml
  bitnami/flink/values.yaml
Labels: verify, bitnami, flink

#26433 [bitnami/gitea] Enable PodDisruptionBudgets
  bitnami/gitea/CHANGELOG.md
  bitnami/gitea/Chart.yaml
  bitnami/gitea/README.md
  bitnami/gitea/templates/pdb.yaml
  bitnami/gitea/values.yaml
Labels: verify, bitnami, gitea

#26510 [bitnami/mediawiki] Enable PodDisruptionBudgets
  bitnami/mediawiki/CHANGELOG.md
  bitnami/mediawiki/Chart.yaml
  bitnami/mediawiki/README.md
  bitnami/mediawiki/templates/pdb.yaml
  bitnami/mediawiki/values.yaml
Labels: verify, bitnami, mediawiki

#26494 [bitnami/jaeger] Enable PodDisruptionBudgets
  bitnami/jaeger/CHANGELOG.md
  bitnami/jaeger/Chart.yaml
  bitnami/jaeger/README.md
  bitnami/jaeger/templates/agent/pdb.yaml
  bitnami/jaeger/templates/collector/pdb.yaml
  bitnami/jaeger/templates/query/pdb.yaml
  bitnami/jaeger/values.yaml
Labels: verify, bitnami, jaeger

#26600 [bitnami/grafana-loki] Remove unnecessary memcached image definitions
  bitnami/grafana-loki/CHANGELOG.md
  bitnami/grafana-loki/Chart.yaml
  bitnami/grafana-loki/README.md
  bitnami/grafana-loki/templates/NOTES.txt
  bitnami/grafana-loki/values.yaml
Labels: verify, bitnami, grafana-loki

#26562 chore: update template with missing common parameters
  template/CHART_NAME/templates/daemonset.yaml
  template/CHART_NAME/templates/deployment.yaml
  template/CHART_NAME/templates/hpa.yaml
  template/CHART_NAME/templates/networkpolicy.yaml
  template/CHART_NAME/templates/statefulset.yaml
  template/CHART_NAME/templates/vpa.yaml
  template/CHART_NAME/values.yaml
Labels: verify, bitnami

#26605 [bitnami/kubeapps] Use nginx for testing
  .vib/kubeapps/cypress/cypress/e2e/kubeapps.cy.js
  .vib/kubeapps/cypress/cypress/fixtures/releases.json
  .vib/kubeapps/runtime-parameters.yaml
Labels: verify, bitnami

#26603 [bitnami/grafana-loki] Don't enforce version label when it's not needed
  bitnami/grafana-loki/CHANGELOG.md
  bitnami/grafana-loki/Chart.yaml
  bitnami/grafana-loki/templates/compactor/deployment.yaml
  bitnami/grafana-loki/templates/compactor/pdb.yaml
  bitnami/grafana-loki/templates/compactor/pvc.yaml
  bitnami/grafana-loki/templates/compactor/service.yaml
  bitnami/grafana-loki/templates/compactor/servicemonitor.yaml
  bitnami/grafana-loki/templates/distributor/deployment.yaml
  bitnami/grafana-loki/templates/distributor/pdb.yaml
  bitnami/grafana-loki/templates/distributor/service.yaml
  bitnami/grafana-loki/templates/distributor/servicemonitor.yaml
  bitnami/grafana-loki/templates/index-gateway/pdb.yaml
  bitnami/grafana-loki/templates/index-gateway/service.yaml
  bitnami/grafana-loki/templates/index-gateway/servicemonitor.yaml
  bitnami/grafana-loki/templates/index-gateway/statefulset.yaml
  bitnami/grafana-loki/templates/ingester/pdb.yaml
  bitnami/grafana-loki/templates/ingester/service.yaml
  bitnami/grafana-loki/templates/ingester/servicemonitor.yaml
  bitnami/grafana-loki/templates/ingester/statefulset.yaml
  bitnami/grafana-loki/templates/querier/pdb.yaml
  bitnami/grafana-loki/templates/querier/service.yaml
  bitnami/grafana-loki/templates/querier/servicemonitor.yaml
  bitnami/grafana-loki/templates/querier/statefulset.yaml
  bitnami/grafana-loki/templates/query-frontend/deployment.yaml
  bitnami/grafana-loki/templates/query-frontend/headless-service.yaml
  bitnami/grafana-loki/templates/query-frontend/pdb.yaml
  bitnami/grafana-loki/templates/query-frontend/service.yaml
  bitnami/grafana-loki/templates/query-frontend/servicemonitor.yaml
  bitnami/grafana-loki/templates/query-scheduler/deployment.yaml
  bitnami/grafana-loki/templates/query-scheduler/pdb.yaml
  bitnami/grafana-loki/templates/query-scheduler/service.yaml
  bitnami/grafana-loki/templates/ruler/pdb.yaml
  bitnami/grafana-loki/templates/ruler/service.yaml
  bitnami/grafana-loki/templates/ruler/servicemonitor.yaml
  bitnami/grafana-loki/templates/ruler/statefulset.yaml
  bitnami/grafana-loki/templates/table-manager/deployment.yaml
  bitnami/grafana-loki/templates/table-manager/pdb.yaml
  bitnami/grafana-loki/templates/table-manager/service.yaml
  bitnami/grafana-loki/templates/table-manager/servicemonitor.yaml
Labels: verify, bitnami, grafana-loki

#26551 [bitnami/wordpress] Fix issue #26133
  bitnami/wordpress/CHANGELOG.md
  bitnami/wordpress/Chart.yaml
  bitnami/wordpress/templates/deployment.yaml
Labels: verify, in-progress, wordpress

#26607 [bitnami/mongodb] Remove UTF-8 chars
  bitnami/mongodb/CHANGELOG.md
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/values.yaml
Labels: verify, bitnami, mongodb

#26542 [bitnami/nessie] feat: :tada: Add chart
  .vib/nessie/cypress/cypress.config.js
  .vib/nessie/cypress/cypress/e2e/nessie.cy.js
  .vib/nessie/cypress/cypress/fixtures/tags.json
  .vib/nessie/cypress/cypress/support/e2e.js
  .vib/nessie/ginkgo/go.mod
  .vib/nessie/ginkgo/go.sum
  .vib/nessie/ginkgo/nessie_suite_test.go
  .vib/nessie/ginkgo/nessie_test.go
  .vib/nessie/goss/goss.yaml
  .vib/nessie/runtime-parameters.yaml
  .vib/nessie/vib-publish.json
  .vib/nessie/vib-verify.json
  bitnami/nessie/.helmignore
  bitnami/nessie/CHANGELOG.md
  bitnami/nessie/Chart.lock
  bitnami/nessie/Chart.yaml
  bitnami/nessie/README.md
  bitnami/nessie/templates/NOTES.txt
  bitnami/nessie/templates/_helpers.tpl
  bitnami/nessie/templates/configmap.yaml
  bitnami/nessie/templates/deployment.yaml
  bitnami/nessie/templates/externaldb-secrets.yaml
  bitnami/nessie/templates/extra-list.yaml
  bitnami/nessie/templates/hpa.yaml
  bitnami/nessie/templates/ingress-tls-secret.yaml
  bitnami/nessie/templates/ingress.yaml
  bitnami/nessie/templates/networkpolicy.yaml
  bitnami/nessie/templates/pdb.yaml
  bitnami/nessie/templates/pvc.yaml
  bitnami/nessie/templates/secret.yaml
  bitnami/nessie/templates/service-account.yaml
  bitnami/nessie/templates/service-management.yaml
  bitnami/nessie/templates/service.yaml
  bitnami/nessie/templates/servicemonitor.yaml
  bitnami/nessie/templates/vpa.yaml
  bitnami/nessie/values.yaml
Labels: verify, bitnami, nessie

#26472 [bitnami/mlflow] fix always image warning
  bitnami/mlflow/CHANGELOG.md
  bitnami/mlflow/Chart.yaml
  bitnami/mlflow/templates/NOTES.txt
Labels: verify, in-progress, mlflow

#26608 [bitnami/jupyterhub] Remove UTF-8 chars
  bitnami/jupyterhub/CHANGELOG.md
  bitnami/jupyterhub/Chart.yaml
  bitnami/jupyterhub/values.yaml
Labels: verify, bitnami, jupyterhub

#26620 [bitnami/apache] Bump chart version
  bitnami/apache/CHANGELOG.md
  bitnami/apache/Chart.yaml
Labels: verify, apache, bitnami

#26621 [bitnami/aspnet-core] Bump chart version
  bitnami/aspnet-core/CHANGELOG.md
  bitnami/aspnet-core/Chart.yaml
Labels: verify, bitnami, aspnet-core

#26622 [bitnami/cassandra] Bump chart version
  bitnami/cassandra/CHANGELOG.md
  bitnami/cassandra/Chart.yaml
Labels: verify, bitnami, cassandra

#26623 [bitnami/cert-manager] Bump chart version
  bitnami/cert-manager/CHANGELOG.md
  bitnami/cert-manager/Chart.yaml
Labels: verify, bitnami, cert-manager

#26624 [bitnami/consul] Bump chart version
  bitnami/consul/CHANGELOG.md
  bitnami/consul/Chart.yaml
Labels: verify, bitnami, consul

#26625 [bitnami/contour] Bump chart version
  bitnami/contour/CHANGELOG.md
  bitnami/contour/Chart.yaml
Labels: verify, contour, bitnami

#26626 [bitnami/deepspeed] Bump chart version
  bitnami/deepspeed/CHANGELOG.md
  bitnami/deepspeed/Chart.yaml
Labels: verify, bitnami, deepspeed

#26627 [bitnami/dokuwiki] Bump chart version
  bitnami/dokuwiki/CHANGELOG.md
  bitnami/dokuwiki/Chart.yaml
Labels: verify, bitnami, dokuwiki

#26628 [bitnami/etcd] Bump chart version
  bitnami/etcd/CHANGELOG.md
  bitnami/etcd/Chart.yaml
Labels: verify, bitnami, etcd

#26629 [bitnami/external-dns] Bump chart version
  bitnami/external-dns/CHANGELOG.md
  bitnami/external-dns/Chart.yaml
Labels: verify, bitnami, external-dns

#26630 [bitnami/flink] Bump chart version
  bitnami/flink/CHANGELOG.md
  bitnami/flink/Chart.yaml
Labels: verify, bitnami, flink

#26631 [bitnami/fluent-bit] Bump chart version
  bitnami/fluent-bit/CHANGELOG.md
  bitnami/fluent-bit/Chart.yaml
Labels: verify, bitnami, fluent-bit

#26632 [bitnami/flux] Bump chart version
  bitnami/flux/CHANGELOG.md
  bitnami/flux/Chart.yaml
Labels: verify, bitnami, flux

#26633 [bitnami/grafana] Bump chart version
  bitnami/grafana/CHANGELOG.md
  bitnami/grafana/Chart.yaml
Labels: verify, bitnami, grafana

#26634 [bitnami/grafana-operator] Bump chart version
  bitnami/grafana-operator/CHANGELOG.md
  bitnami/grafana-operator/Chart.yaml
Labels: verify, bitnami, grafana-operator

#26635 [bitnami/haproxy] Bump chart version
  bitnami/haproxy/CHANGELOG.md
  bitnami/haproxy/Chart.yaml
Labels: verify, bitnami, haproxy

#26636 [bitnami/influxdb] Bump chart version
  bitnami/influxdb/CHANGELOG.md
  bitnami/influxdb/Chart.yaml
Labels: verify, bitnami, influxdb

#26637 [bitnami/jenkins] Bump chart version
  bitnami/jenkins/CHANGELOG.md
  bitnami/jenkins/Chart.yaml
Labels: verify, jenkins, bitnami

#26638 [bitnami/kiam] Bump chart version
  bitnami/kiam/CHANGELOG.md
  bitnami/kiam/Chart.yaml
Labels: verify, bitnami, kiam

#26639 [bitnami/kibana] Bump chart version
  bitnami/kibana/CHANGELOG.md
  bitnami/kibana/Chart.yaml
Labels: verify, bitnami, kibana

#26640 [bitnami/kube-state-metrics] Bump chart version
  bitnami/kube-state-metrics/CHANGELOG.md
  bitnami/kube-state-metrics/Chart.yaml
Labels: verify, bitnami, kube-state-metrics

#26641 [bitnami/kuberay] Bump chart version
  bitnami/kuberay/CHANGELOG.md
  bitnami/kuberay/Chart.yaml
Labels: verify, bitnami, kuberay

#26642 [bitnami/kubernetes-event-exporter] Bump chart version
  bitnami/kubernetes-event-exporter/CHANGELOG.md
  bitnami/kubernetes-event-exporter/Chart.yaml
Labels: verify, bitnami, kubernetes-event-exporter

#26643 [bitnami/logstash] Bump chart version
  bitnami/logstash/CHANGELOG.md
  bitnami/logstash/Chart.yaml
Labels: verify, bitnami, logstash

#26644 [bitnami/mariadb] Bump chart version
  bitnami/mariadb/CHANGELOG.md
  bitnami/mariadb/Chart.yaml
Labels: verify, mariadb, bitnami

#26645 [bitnami/mariadb-galera] Bump chart version
  bitnami/mariadb-galera/CHANGELOG.md
  bitnami/mariadb-galera/Chart.yaml
Labels: verify, bitnami, mariadb-galera

#26646 [bitnami/memcached] Bump chart version
  bitnami/memcached/CHANGELOG.md
  bitnami/memcached/Chart.yaml
Labels: verify, bitnami, memcached

#26647 [bitnami/metallb] Bump chart version
  bitnami/metallb/CHANGELOG.md
  bitnami/metallb/Chart.yaml
Labels: verify, bitnami, metallb

#26648 [bitnami/metrics-server] Bump chart version
  bitnami/metrics-server/CHANGELOG.md
  bitnami/metrics-server/Chart.yaml
Labels: verify, bitnami, metrics-server

#26649 [bitnami/minio] Bump chart version
  bitnami/minio/CHANGELOG.md
  bitnami/minio/Chart.yaml
Labels: verify, bitnami, minio

#26650 [bitnami/mongodb] Bump chart version
  bitnami/mongodb/CHANGELOG.md
  bitnami/mongodb/Chart.yaml
Labels: verify, bitnami, mongodb

#26651 [bitnami/mongodb-sharded] Bump chart version
  bitnami/mongodb-sharded/CHANGELOG.md
  bitnami/mongodb-sharded/Chart.yaml
Labels: verify, bitnami, mongodb-sharded

#26652 [bitnami/multus-cni] Bump chart version
  bitnami/multus-cni/CHANGELOG.md
  bitnami/multus-cni/Chart.yaml
Labels: verify, bitnami, multus-cni

#26653 [bitnami/mysql] Bump chart version
  bitnami/mysql/CHANGELOG.md
  bitnami/mysql/Chart.yaml
Labels: verify, bitnami, mysql

#26654 [bitnami/nats] Bump chart version
  bitnami/nats/CHANGELOG.md
  bitnami/nats/Chart.yaml
Labels: verify, bitnami, nats

#26655 [bitnami/nginx] Bump chart version
  bitnami/nginx/CHANGELOG.md
  bitnami/nginx/Chart.yaml
Labels: verify, nginx, bitnami

#26656 [bitnami/nginx-ingress-controller] Bump chart version
  bitnami/nginx-ingress-controller/CHANGELOG.md
  bitnami/nginx-ingress-controller/Chart.yaml
Labels: verify, bitnami, nginx-ingress-controller

#26657 [bitnami/node-exporter] Bump chart version
  bitnami/node-exporter/CHANGELOG.md
  bitnami/node-exporter/Chart.yaml
Labels: verify, bitnami, node-exporter

#26658 [bitnami/opensearch] Bump chart version
  bitnami/opensearch/CHANGELOG.md
  bitnami/opensearch/Chart.yaml
Labels: verify, bitnami, opensearch

#26659 [bitnami/pinniped] Bump chart version
  bitnami/pinniped/CHANGELOG.md
  bitnami/pinniped/Chart.yaml
Labels: verify, pinniped, bitnami

#26660 [bitnami/postgresql] Bump chart version
  bitnami/postgresql/CHANGELOG.md
  bitnami/postgresql/Chart.yaml
Labels: verify, postgresql, bitnami

#26662 [bitnami/prometheus] Bump chart version
  bitnami/prometheus/CHANGELOG.md
  bitnami/prometheus/Chart.yaml
Labels: verify, bitnami, prometheus

#26663 [bitnami/pytorch] Bump chart version
  bitnami/pytorch/CHANGELOG.md
  bitnami/pytorch/Chart.yaml
Labels: verify, bitnami, pytorch

#26664 [bitnami/rabbitmq] Bump chart version
  bitnami/rabbitmq/CHANGELOG.md
  bitnami/rabbitmq/Chart.yaml
Labels: verify, bitnami, rabbitmq

#26665 [bitnami/rabbitmq-cluster-operator] Bump chart version
  bitnami/rabbitmq-cluster-operator/CHANGELOG.md
  bitnami/rabbitmq-cluster-operator/Chart.yaml
Labels: verify, bitnami, rabbitmq-cluster-operator

#26666 [bitnami/redis] Bump chart version
  bitnami/redis/CHANGELOG.md
  bitnami/redis/Chart.yaml
Labels: verify, bitnami, redis

#26667 [bitnami/redis-cluster] Bump chart version
  bitnami/redis-cluster/CHANGELOG.md
  bitnami/redis-cluster/Chart.yaml
Labels: verify, bitnami, redis-cluster

#26669 [bitnami/spark] Bump chart version
  bitnami/spark/CHANGELOG.md
  bitnami/spark/Chart.yaml
Labels: verify, bitnami, spark

#26670 [bitnami/tensorflow-resnet] Bump chart version
  bitnami/tensorflow-resnet/CHANGELOG.md
  bitnami/tensorflow-resnet/Chart.yaml
Labels: verify, bitnami, tensorflow-resnet

#26671 [bitnami/tomcat] Bump chart version
  bitnami/tomcat/CHANGELOG.md
  bitnami/tomcat/Chart.yaml
Labels: verify, bitnami, tomcat

#26672 [bitnami/vault] Bump chart version
  bitnami/vault/CHANGELOG.md
  bitnami/vault/Chart.yaml
Labels: verify, bitnami, vault

#26673 [bitnami/whereabouts] Bump chart version
  bitnami/whereabouts/CHANGELOG.md
  bitnami/whereabouts/Chart.yaml
Labels: verify, bitnami, whereabouts

#26675 [bitnami/zookeeper] Bump chart version
  bitnami/zookeeper/CHANGELOG.md
  bitnami/zookeeper/Chart.yaml
Labels: verify, bitnami, zookeeper

#26617 [bitnami/phpbb] Fix typo in deployment.yaml template
  bitnami/phpbb/CHANGELOG.md
  bitnami/phpbb/Chart.yaml
  bitnami/phpbb/templates/deployment.yaml
Labels: verify, in-progress, phpbb

#26616 [bitnami/phpmyadmin] Fix typo in deployment.yaml template
  bitnami/phpmyadmin/CHANGELOG.md
  bitnami/phpmyadmin/Chart.yaml
  bitnami/phpmyadmin/templates/deployment.yaml
Labels: verify, in-progress, phpmyadmin

#26677 [bitnami/jupyterjub] Increase the timeout in login test
  .vib/jupyterhub/cypress/cypress/support/commands.js
Labels: verify, bitnami

#26505 [bitnami/kubeapps] Enable PodDisruptionBudgets
  bitnami/kubeapps/CHANGELOG.md
  bitnami/kubeapps/Chart.yaml
  bitnami/kubeapps/README.md
  bitnami/kubeapps/templates/apprepository/pdb.yaml
  bitnami/kubeapps/templates/dashboard/pdb.yaml
  bitnami/kubeapps/templates/frontend/pdb.yaml
  bitnami/kubeapps/templates/kubeappsapis/pdb.yaml
  bitnami/kubeapps/values.yaml
Labels: verify, bitnami, kubeapps

#26615 [bitnami/mediawiki] Fix typo in deployment.yaml template
  bitnami/mediawiki/CHANGELOG.md
  bitnami/mediawiki/Chart.yaml
  bitnami/mediawiki/templates/deployment.yaml
Labels: verify, triage, mediawiki

#25965 [bitnami/mlflow] feat: Allow database dialects of external database to be configured
  bitnami/mlflow/CHANGELOG.md
  bitnami/mlflow/Chart.yaml
  bitnami/mlflow/README.md
  bitnami/mlflow/templates/_helpers.tpl
  bitnami/mlflow/values.schema.json
  bitnami/mlflow/values.yaml
Labels: verify, in-progress, mlflow

#26526 [bitnami/mlflow] Fix missing '-' option in the liveness execution command
  bitnami/mlflow/CHANGELOG.md
  bitnami/mlflow/Chart.yaml
  bitnami/mlflow/templates/tracking/deployment.yaml
Labels: verify, in-progress, mlflow

#26679 [bitnami/drupal] Fix typo in deployment.yaml template
  bitnami/drupal/CHANGELOG.md
  bitnami/drupal/Chart.yaml
  bitnami/drupal/templates/deployment.yaml
Labels: verify, triage, drupal

#26678 [bitnami/dokuwiki] Fix typo in deployment.yaml template
  bitnami/dokuwiki/CHANGELOG.md
  bitnami/dokuwiki/Chart.yaml
  bitnami/dokuwiki/templates/deployment.yaml
Labels: verify, triage, dokuwiki

#26712 [bitnami/nessie] fix: :bug: Set correct README.md metadata
  bitnami/nessie/CHANGELOG.md
  bitnami/nessie/Chart.yaml
  bitnami/nessie/README.md
Labels: verify, bitnami, nessie

#26680 [bitnami/opencart] Fix typo in deployment.yaml template
  bitnami/opencart/CHANGELOG.md
  bitnami/opencart/Chart.yaml
  bitnami/opencart/templates/deployment.yaml
Labels: verify, triage, opencart

#26710 [bitnami/jupyterhub] Enable PodDisruptionBudgets
  bitnami/jupyterhub/CHANGELOG.md
  bitnami/jupyterhub/Chart.yaml
  bitnami/jupyterhub/README.md
  bitnami/jupyterhub/templates/hub/pdb.yaml
  bitnami/jupyterhub/templates/proxy/pdb.yaml
  bitnami/jupyterhub/values.yaml
Labels: verify, bitnami, jupyterhub

#26708 [bitnami/solr] Enable PodDisruptionBudgets
  bitnami/solr/CHANGELOG.md
  bitnami/solr/Chart.yaml
  bitnami/solr/README.md
  bitnami/solr/templates/pdb.yaml
  bitnami/solr/values.yaml
Labels: verify, bitnami, solr

#26758 [bitnami/common] Capabilities to return latest apiVersion if kubeVersion is undefined
  bitnami/common/CHANGELOG.md
  bitnami/common/Chart.yaml
  bitnami/common/templates/_capabilities.tpl
Labels: verify, bitnami, common

#26601 [bitnami/rabbitmq-cluster-operator] Remove operator metrics endpoint …
  bitnami/rabbitmq-cluster-operator/CHANGELOG.md
  bitnami/rabbitmq-cluster-operator/Chart.yaml
  bitnami/rabbitmq-cluster-operator/templates/cluster-operator/servicemonitor.yaml
Labels: verify, in-progress, rabbitmq-cluster-operator

#26810 [bitnami/wordpress] Bump chart version
  bitnami/wordpress/Chart.yaml
Labels: verify, bitnami, wordpress

#26809 [bitnami/valkey] Bump chart version
  bitnami/valkey/CHANGELOG.md
  bitnami/valkey/Chart.yaml
Labels: verify, bitnami, valkey

#26808 [bitnami/thanos] Bump chart version
  bitnami/thanos/CHANGELOG.md
  bitnami/thanos/Chart.yaml
Labels: verify, bitnami, thanos

#26807 [bitnami/supabase] Bump chart version
  bitnami/supabase/CHANGELOG.md
  bitnami/supabase/Chart.yaml
Labels: verify, bitnami, supabase

#26806 [bitnami/spring-cloud-dataflow] Bump chart version
  bitnami/spring-cloud-dataflow/CHANGELOG.md
  bitnami/spring-cloud-dataflow/Chart.yaml
Labels: verify, bitnami, spring-cloud-dataflow

#26805 [bitnami/sonarqube] Bump chart version
  bitnami/sonarqube/Chart.yaml
Labels: verify, bitnami, sonarqube

#26804 [bitnami/solr] Bump chart version
  bitnami/solr/Chart.yaml
Labels: verify, bitnami, solr

#26803 [bitnami/seaweedfs] Bump chart version
  bitnami/seaweedfs/CHANGELOG.md
  bitnami/seaweedfs/Chart.yaml
Labels: verify, bitnami, seaweedfs

#26802 [bitnami/scylladb] Bump chart version
  bitnami/scylladb/CHANGELOG.md
  bitnami/scylladb/Chart.yaml
Labels: verify, bitnami, scylladb

#26800 [bitnami/redmine] Bump chart version
  bitnami/redmine/Chart.yaml
Labels: verify, bitnami, redmine

#26799 [bitnami/kube-prometheus] Bump chart version
  bitnami/kube-prometheus/Chart.yaml
Labels: verify, bitnami, kube-prometheus

#26797 [bitnami/phpmyadmin] Bump chart version
  bitnami/phpmyadmin/CHANGELOG.md
  bitnami/phpmyadmin/Chart.yaml
Labels: verify, bitnami, phpmyadmin

#26796 [bitnami/phpbb] Bump chart version
  bitnami/phpbb/CHANGELOG.md
  bitnami/phpbb/Chart.yaml
Labels: verify, bitnami, phpbb

#26794 [bitnami/opencart] Bump chart version
  bitnami/opencart/CHANGELOG.md
  bitnami/opencart/Chart.yaml
Labels: verify, bitnami, opencart

#26793 [bitnami/odoo] Bump chart version
  bitnami/odoo/CHANGELOG.md
  bitnami/odoo/Chart.yaml
Labels: verify, odoo, bitnami

#26791 [bitnami/moodle] Bump chart version
  bitnami/moodle/CHANGELOG.md
  bitnami/moodle/Chart.yaml
Labels: verify, moodle, bitnami

#26790 [bitnami/mlflow] Bump chart version
  bitnami/mlflow/CHANGELOG.md
  bitnami/mlflow/Chart.yaml
Labels: verify, bitnami, mlflow

#26789 [bitnami/milvus] Bump chart version
  bitnami/milvus/CHANGELOG.md
  bitnami/milvus/Chart.yaml
Labels: verify, bitnami, milvus

#26788 [bitnami/mediawiki] Bump chart version
  bitnami/mediawiki/CHANGELOG.md
  bitnami/mediawiki/Chart.yaml
Labels: verify, bitnami, mediawiki

#26787 [bitnami/matomo] Bump chart version
  bitnami/matomo/CHANGELOG.md
  bitnami/matomo/Chart.yaml
Labels: verify, bitnami, matomo

#26786 [bitnami/mastodon] Bump chart version
  bitnami/mastodon/CHANGELOG.md
  bitnami/mastodon/Chart.yaml
Labels: verify, bitnami, mastodon

#26785 [bitnami/magento] Bump chart version
  bitnami/magento/CHANGELOG.md
  bitnami/magento/Chart.yaml
Labels: verify, magento, bitnami

#26784 [bitnami/kubeapps] Bump chart version
  bitnami/kubeapps/CHANGELOG.md
  bitnami/kubeapps/Chart.yaml
Labels: verify, bitnami, kubeapps

#26783 [bitnami/kong] Bump chart version
  bitnami/kong/CHANGELOG.md
  bitnami/kong/Chart.yaml
Labels: verify, bitnami, kong

#26782 [bitnami/keycloak] Bump chart version
  bitnami/keycloak/CHANGELOG.md
  bitnami/keycloak/Chart.yaml
Labels: verify, keycloak, bitnami

#26781 [bitnami/kafka] Bump chart version
  bitnami/kafka/CHANGELOG.md
  bitnami/kafka/Chart.yaml
Labels: verify, kafka, bitnami

#26780 [bitnami/jupyterhub] Bump chart version
  bitnami/jupyterhub/CHANGELOG.md
  bitnami/jupyterhub/Chart.yaml
Labels: verify, bitnami, jupyterhub

#26778 [bitnami/janusgraph] Bump chart version
  bitnami/janusgraph/CHANGELOG.md
  bitnami/janusgraph/Chart.yaml
Labels: verify, bitnami, janusgraph

#26777 [bitnami/jaeger] Bump chart version
  bitnami/jaeger/CHANGELOG.md
  bitnami/jaeger/Chart.yaml
Labels: verify, bitnami, jaeger

#26775 [bitnami/grafana-tempo] Bump chart version
  bitnami/grafana-tempo/CHANGELOG.md
  bitnami/grafana-tempo/Chart.yaml
Labels: verify, bitnami, grafana-tempo

#26774 [bitnami/grafana-mimir] Bump chart version
  bitnami/grafana-mimir/CHANGELOG.md
  bitnami/grafana-mimir/Chart.yaml
Labels: verify, bitnami, grafana-mimir

#26773 [bitnami/grafana-loki] Bump chart version
  bitnami/grafana-loki/CHANGELOG.md
  bitnami/grafana-loki/Chart.yaml
Labels: verify, bitnami, grafana-loki

#26772 [bitnami/gitea] Bump chart version
  bitnami/gitea/CHANGELOG.md
  bitnami/gitea/Chart.yaml
Labels: verify, bitnami, gitea

#26771 [bitnami/ghost] Bump chart version
  bitnami/ghost/CHANGELOG.md
  bitnami/ghost/Chart.yaml
Labels: verify, bitnami, ghost

#26770 [bitnami/elasticsearch] Bump chart version
  bitnami/elasticsearch/CHANGELOG.md
  bitnami/elasticsearch/Chart.yaml
Labels: verify, bitnami, elasticsearch

#26767 [bitnami/discourse] Bump chart version
  bitnami/discourse/CHANGELOG.md
  bitnami/discourse/Chart.yaml
Labels: verify, bitnami, discourse

#26766 [bitnami/concourse] Bump chart version
  bitnami/concourse/CHANGELOG.md
  bitnami/concourse/Chart.yaml
Labels: verify, bitnami, concourse

#26765 [bitnami/clickhouse] Bump chart version
  bitnami/clickhouse/CHANGELOG.md
  bitnami/clickhouse/Chart.yaml
Labels: verify, bitnami, clickhouse

#26764 [bitnami/argo-workflows] Bump chart version
  bitnami/argo-workflows/CHANGELOG.md
  bitnami/argo-workflows/Chart.yaml
Labels: verify, argo-workflows, bitnami

#26763 [bitnami/argo-cd] Bump chart version
  bitnami/argo-cd/CHANGELOG.md
  bitnami/argo-cd/Chart.yaml
Labels: verify, bitnami, argo-cd

#26762 [bitnami/appsmith] Bump chart version
  bitnami/appsmith/CHANGELOG.md
  bitnami/appsmith/Chart.yaml
Labels: verify, bitnami, appsmith

#26761 [bitnami/apisix] Bump chart version
  bitnami/apisix/CHANGELOG.md
  bitnami/apisix/Chart.yaml
Labels: verify, bitnami, apisix

#26760 [bitnami/airflow] Bump chart version
  bitnami/airflow/CHANGELOG.md
  bitnami/airflow/Chart.yaml
Labels: verify, airflow, bitnami

#26696 [bitnami/haproxy] Enable PodDisruptionBudgets
  bitnami/haproxy/CHANGELOG.md
  bitnami/haproxy/Chart.yaml
  bitnami/haproxy/README.md
  bitnami/haproxy/templates/pdb.yaml
  bitnami/haproxy/values.yaml
Labels: verify, bitnami, haproxy

#26690 [bitnami/contour] Enable PodDisruptionBudgets
  bitnami/contour/CHANGELOG.md
  bitnami/contour/Chart.yaml
  bitnami/contour/README.md
  bitnami/contour/templates/contour/poddisruptionbudget.yaml
  bitnami/contour/templates/default-backend/poddisruptionbudget.yaml
  bitnami/contour/templates/envoy/poddisruptionbudget.yaml
  bitnami/contour/values.yaml
Labels: verify, contour, bitnami

#26704 [bitnami/metrics-server] Align PodDisruptionBudgets with templates
  bitnami/metrics-server/CHANGELOG.md
  bitnami/metrics-server/Chart.yaml
  bitnami/metrics-server/templates/pdb.yaml
Labels: verify, bitnami, metrics-server

#26687 [bitnami/cassandra] Enable PodDisruptionBudgets
  bitnami/cassandra/CHANGELOG.md
  bitnami/cassandra/Chart.yaml
  bitnami/cassandra/README.md
  bitnami/cassandra/templates/pdb.yaml
  bitnami/cassandra/values.yaml
Labels: verify, bitnami, cassandra

#26705 [bitnami/minio] Align PodDisruptionBudgets with templates
  bitnami/minio/CHANGELOG.md
  bitnami/minio/Chart.yaml
  bitnami/minio/README.md
  bitnami/minio/templates/pdb.yaml
  bitnami/minio/values.yaml
Labels: verify, bitnami, minio

#26694 [bitnami/flux] Align PodDisruptionBudgets with templates
  bitnami/flux/CHANGELOG.md
  bitnami/flux/Chart.yaml
  bitnami/flux/README.md
  bitnami/flux/templates/helm-controller/pdb.yaml
  bitnami/flux/templates/image-automation-controller/pdb.yaml
  bitnami/flux/templates/image-reflector-controller/pdb.yaml
  bitnami/flux/templates/kustomize-controller/pdb.yaml
  bitnami/flux/templates/notification-controller/pdb.yaml
  bitnami/flux/templates/source-controller/pdb.yaml
  bitnami/flux/values.yaml
Labels: verify, bitnami, flux

#26709 [bitnami/thanos] Enable PodDisruptionBudgets
  bitnami/thanos/CHANGELOG.md
  bitnami/thanos/Chart.yaml
  bitnami/thanos/README.md
  bitnami/thanos/templates/bucketweb/pdb.yaml
  bitnami/thanos/templates/query-frontend/pdb.yaml
  bitnami/thanos/templates/query/pdb.yaml
  bitnami/thanos/templates/receive-distributor/pdb.yaml
  bitnami/thanos/templates/receive/pdb.yaml
  bitnami/thanos/templates/ruler/pdb.yaml
  bitnami/thanos/templates/storegateway/pdb-sharded.yaml
  bitnami/thanos/templates/storegateway/pdb.yaml
  bitnami/thanos/values.yaml
Labels: verify, bitnami, thanos

#26706 [bitnami/mlflow] Align PodDisruptionBudgets with templates
  bitnami/mlflow/CHANGELOG.md
  bitnami/mlflow/Chart.yaml
  bitnami/mlflow/README.md
  bitnami/mlflow/templates/tracking/pdb.yaml
  bitnami/mlflow/values.yaml
Labels: verify, bitnami, mlflow

#26595 [bitnami/argo-workflows] Enable PodDisruptionBudgets
  bitnami/argo-workflows/CHANGELOG.md
  bitnami/argo-workflows/Chart.yaml
  bitnami/argo-workflows/README.md
  bitnami/argo-workflows/templates/controller/pdb.yaml
  bitnami/argo-workflows/templates/server/pdb.yaml
  bitnami/argo-workflows/values.yaml
Labels: verify, argo-workflows, bitnami

#26869 [bitnami/jupyterhub] Improve jupyter hub testing instability
  .vib/jupyterhub/cypress/cypress.config.js
  .vib/jupyterhub/cypress/cypress/e2e/jupyterhub.cy.js
  .vib/jupyterhub/cypress/cypress/support/commands.js
Labels: verify, bitnami

#26866 [bitnami/thanos] Bump chart version
  bitnami/thanos/CHANGELOG.md
  bitnami/thanos/Chart.yaml
Labels: verify, bitnami, thanos

#26865 [bitnami/supabase] Bump chart version
  bitnami/supabase/CHANGELOG.md
  bitnami/supabase/Chart.lock
  bitnami/supabase/Chart.yaml
Labels: verify, bitnami, supabase

#26864 [bitnami/spring-cloud-dataflow] Bump chart version
  bitnami/spring-cloud-dataflow/CHANGELOG.md
  bitnami/spring-cloud-dataflow/Chart.lock
  bitnami/spring-cloud-dataflow/Chart.yaml
Labels: verify, bitnami, spring-cloud-dataflow

#26863 [bitnami/sonarqube] Bump chart version
  bitnami/sonarqube/CHANGELOG.md
  bitnami/sonarqube/Chart.lock
  bitnami/sonarqube/Chart.yaml
Labels: verify, bitnami, sonarqube

#26862 [bitnami/solr] Bump chart version
  bitnami/solr/CHANGELOG.md
  bitnami/solr/Chart.lock
  bitnami/solr/Chart.yaml
Labels: verify, bitnami, solr

#26861 [bitnami/seaweedfs] Bump chart version
  bitnami/seaweedfs/CHANGELOG.md
  bitnami/seaweedfs/Chart.yaml
Labels: verify, bitnami, seaweedfs

#26860 [bitnami/scylladb] Bump chart version
  bitnami/scylladb/CHANGELOG.md
  bitnami/scylladb/Chart.yaml
Labels: verify, bitnami, scylladb

#26858 [bitnami/redmine] Bump chart version
  bitnami/redmine/CHANGELOG.md
  bitnami/redmine/Chart.lock
  bitnami/redmine/Chart.yaml
Labels: verify, bitnami, redmine

#26857 [bitnami/kube-prometheus] Bump chart version
  bitnami/kube-prometheus/CHANGELOG.md
  bitnami/kube-prometheus/Chart.yaml
Labels: verify, bitnami, kube-prometheus
