Repository bitnami/charts, pull requests merged in 2024-11, with the labels that each got.

#30133 [bitnami/postgresql] metrics.collectors applies to read replicas
  bitnami/postgresql/CHANGELOG.md
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/templates/read/statefulset.yaml
Labels: verify, in-progress, postgresql

#30171 [bitnami/mastodon] Mastodon initjob always tries to create admin on upgrade
  bitnami/mastodon/CHANGELOG.md
  bitnami/mastodon/Chart.yaml
  bitnami/mastodon/templates/init-job/init-job-configmap.yaml
Labels: triage, mastodon

#30159 [bitnami/airflow] Add support to run Dag Processor in standalone mode
  .vib/airflow/runtime-parameters.yaml
  bitnami/airflow/CHANGELOG.md
  bitnami/airflow/Chart.yaml
  bitnami/airflow/README.md
  bitnami/airflow/templates/_helpers.tpl
  bitnami/airflow/templates/dag-processor/deployment.yaml
  bitnami/airflow/templates/dag-processor/networkpolicy.yaml
  bitnami/airflow/templates/dag-processor/poddisruptionbudget.yaml
  bitnami/airflow/templates/scheduler/deployment.yaml
  bitnami/airflow/values.yaml
Labels: verify, airflow, bitnami

#30135 [bitnami/minio] fix secret creation check
  bitnami/minio/CHANGELOG.md
  bitnami/minio/Chart.yaml
  bitnami/minio/templates/_helpers.tpl
Labels: verify, triage, minio

#30090 [bitnami/valkey] Fix default kukbectl.command when sentinel.service.createPrimary is true
  bitnami/valkey/CHANGELOG.md
  bitnami/valkey/Chart.yaml
  bitnami/valkey/README.md
  bitnami/valkey/values.yaml
Labels: verify, in-progress, valkey

#29875 [github-actions] Add test to check images warning list
  .github/workflows/ci-pipeline.yml
Labels: stale, verify, bitnami

#29962 [bitnami/mysql] Drop unused `getValueFromSecret` local helper
  bitnami/mysql/CHANGELOG.md
  bitnami/mysql/Chart.yaml
  bitnami/mysql/templates/_helpers.tpl
Labels: stale, verify, in-progress, mysql

#29956 [bitnami/milvus] Fixed bug/typo in datanode networkpolicy.yaml to allow all egress raffic
  bitnami/milvus/CHANGELOG.md
  bitnami/milvus/Chart.yaml
  bitnami/milvus/templates/data-node/networkpolicy.yaml
Labels: stale, verify, in-progress, milvus

#29862 [bitnami/mlflow] Make mlflow host part of values
  bitnami/mlflow/CHANGELOG.md
  bitnami/mlflow/Chart.yaml
  bitnami/mlflow/README.md
  bitnami/mlflow/templates/tracking/deployment.yaml
  bitnami/mlflow/values.yaml
Labels: verify, in-progress, mlflow

#29998 [bitnami/keycloak] Added providers to the list of writable dirs
  bitnami/keycloak/CHANGELOG.md
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/templates/statefulset.yaml
Labels: stale, verify, in-progress, keycloak

#30077 [bitnami/etcd]: Fix Defrag "bug" and prevent CronJob templates ambiguity
  bitnami/etcd/CHANGELOG.md
  bitnami/etcd/Chart.yaml
  bitnami/etcd/README.md
  bitnami/etcd/templates/cronjob-defrag.yaml
  bitnami/etcd/templates/cronjob-snapshotter.yaml
  bitnami/etcd/values.yaml
Labels: verify, in-progress, etcd

#30011 [bitnami/external-dns] add support for multiple rfc2136 zones
  bitnami/external-dns/CHANGELOG.md
  bitnami/external-dns/Chart.yaml
  bitnami/external-dns/README.md
  bitnami/external-dns/templates/deployment.yaml
  bitnami/external-dns/values.yaml
Labels: verify, in-progress, external-dns

#29921 [bitnami/zookeeper] Make the ZOO_SERVERS environment variable configurable
  bitnami/zookeeper/CHANGELOG.md
  bitnami/zookeeper/Chart.yaml
  bitnami/zookeeper/README.md
  bitnami/zookeeper/templates/statefulset.yaml
  bitnami/zookeeper/values.yaml
Labels: verify, in-progress, zookeeper

#29828 [bitnami/external-dns] Add targetLabels option to ServiceMonitor
  bitnami/external-dns/CHANGELOG.md
  bitnami/external-dns/Chart.yaml
  bitnami/external-dns/README.md
  bitnami/external-dns/templates/servicemonitor.yaml
  bitnami/external-dns/values.yaml
Labels: verify, in-progress, external-dns

#30211 [bitnami/airflow] Add support for Triggerer
  .vib/airflow/runtime-parameters.yaml
  bitnami/airflow/CHANGELOG.md
  bitnami/airflow/Chart.yaml
  bitnami/airflow/README.md
  bitnami/airflow/templates/_helpers.tpl
  bitnami/airflow/templates/triggerer/hpa.yaml
  bitnami/airflow/templates/triggerer/networkpolicy.yaml
  bitnami/airflow/templates/triggerer/poddisruptionbudget.yaml
  bitnami/airflow/templates/triggerer/service.yaml
  bitnami/airflow/templates/triggerer/statefulset.yaml
  bitnami/airflow/templates/triggerer/vpa.yaml
  bitnami/airflow/values.yaml
Labels: verify, airflow, bitnami

#29857 [bitnami/postgresql-ha] Fix pgpool deployment init container security context
  bitnami/postgresql-ha/CHANGELOG.md
  bitnami/postgresql-ha/Chart.yaml
  bitnami/postgresql-ha/templates/pgpool/deployment.yaml
  bitnami/postgresql-ha/templates/postgresql/statefulset.yaml
  bitnami/postgresql-ha/templates/postgresql/witness-statefulset.yaml
Labels: verify, in-progress, postgresql-ha

#30216 [bitnami/airflow] bugfix: pod template
  bitnami/airflow/CHANGELOG.md
  bitnami/airflow/Chart.yaml
  bitnami/airflow/templates/config/configmap.yaml
Labels: verify, airflow, bitnami

#30220 [bitnami/airflow] Standardize autoscaling
  bitnami/airflow/CHANGELOG.md
  bitnami/airflow/Chart.yaml
  bitnami/airflow/README.md
  bitnami/airflow/templates/dag-processor/deployment.yaml
  bitnami/airflow/templates/dag-processor/hpa.yaml
  bitnami/airflow/templates/dag-processor/vpa.yaml
  bitnami/airflow/templates/scheduler/deployment.yaml
  bitnami/airflow/templates/scheduler/hpa.yaml
  bitnami/airflow/templates/scheduler/vpa.yaml
  bitnami/airflow/templates/web/deployment.yaml
  bitnami/airflow/templates/web/hpa.yaml
  bitnami/airflow/templates/web/vpa.yaml
  bitnami/airflow/templates/worker/horizontalpodautoscaler.yaml
  bitnami/airflow/templates/worker/hpa.yaml
  bitnami/airflow/templates/worker/statefulset.yaml
  bitnami/airflow/templates/worker/vpa.yaml
  bitnami/airflow/values.yaml
Labels: verify, airflow, bitnami

#30224 [bitnami/airflow] Support adding SSH keys to load DAGs/plugins from private repos
  bitnami/airflow/CHANGELOG.md
  bitnami/airflow/Chart.yaml
  bitnami/airflow/README.md
  bitnami/airflow/templates/_helpers.tpl
  bitnami/airflow/templates/_init_containers_sidecars.tpl
  bitnami/airflow/templates/config/configmap.yaml
  bitnami/airflow/templates/config/secret-ssh.yaml
  bitnami/airflow/templates/dag-processor/deployment.yaml
  bitnami/airflow/templates/scheduler/deployment.yaml
  bitnami/airflow/templates/triggerer/statefulset.yaml
  bitnami/airflow/templates/web/deployment.yaml
  bitnami/airflow/templates/worker/statefulset.yaml
  bitnami/airflow/values.yaml
Labels: verify, airflow, bitnami

#30166 [bitnami/contour] Add Gateway API CRDs
  bitnami/contour/CHANGELOG.md
  bitnami/contour/Chart.yaml
  bitnami/contour/README.md
  bitnami/contour/templates/crds/gateway-api-crds.yaml
  bitnami/contour/values.yaml
Labels: verify, in-progress, contour

#30192 [bitnami/etcd]: Fix volume indentation for defrag cronjob
  bitnami/etcd/CHANGELOG.md
  bitnami/etcd/Chart.yaml
  bitnami/etcd/templates/cronjob-defrag.yaml
Labels: verify, in-progress, etcd

#30227 [bitnami/*] ci: :construction_worker: Update get-chart to ignore local subcharts
  .github/workflows/cd-pipeline.yml
  .github/workflows/ci-pipeline.yml
Labels: verify, bitnami

#30187 [bitnami/minio] Fix invalid sts template in distributed mode
  bitnami/minio/CHANGELOG.md
  bitnami/minio/Chart.yaml
  bitnami/minio/templates/distributed/statefulset.yaml
Labels: verify, in-progress, minio

#30238 [bitnami/airflow] docs: :memo: Add "Prometheus metrics" section
  bitnami/airflow/README.md
Labels: verify, airflow, bitnami

#30235 [bitnami/seaweedfs] Mount security.toml regardless security enhancements are enabled
  bitnami/seaweedfs/CHANGELOG.md
  bitnami/seaweedfs/Chart.lock
  bitnami/seaweedfs/Chart.yaml
  bitnami/seaweedfs/templates/filer/statefulset.yaml
  bitnami/seaweedfs/templates/master/statefulset.yaml
  bitnami/seaweedfs/templates/s3/deployment.yaml
  bitnami/seaweedfs/templates/security-configmap.yaml
  bitnami/seaweedfs/templates/volume/statefulset.yaml
  bitnami/seaweedfs/templates/webadv/deployment.yaml
Labels: verify, bitnami, seaweedfs

#30194 [bitnami/mastodon][bitnami/prometheus] Fix README.md files typos
  bitnami/mastodon/README.md
  bitnami/prometheus/README.md
Labels: in-progress

#30243 [bitnami/common] feat: :sparkles: Add honorProvidedValues in common.secrets.manage
  bitnami/common/CHANGELOG.md
  bitnami/common/Chart.yaml
  bitnami/common/templates/_secrets.tpl
Labels: verify, bitnami, common

#30294 [bitnami/seaweedfs] Support configuring max number of volumes per disk
  bitnami/seaweedfs/CHANGELOG.md
  bitnami/seaweedfs/Chart.yaml
  bitnami/seaweedfs/README.md
  bitnami/seaweedfs/templates/volume/statefulset.yaml
  bitnami/seaweedfs/values.yaml
Labels: verify, bitnami, seaweedfs

#30240 [bitnami/grafana-operator]: Add podAnnotations for Grafana pod
  bitnami/grafana-operator/CHANGELOG.md
  bitnami/grafana-operator/Chart.yaml
  bitnami/grafana-operator/README.md
  bitnami/grafana-operator/templates/grafana.yaml
  bitnami/grafana-operator/values.yaml
Labels: verify, in-progress, grafana-operator

#30246 [bitnami/airflow] feat: add init container to wait for db migrations
  bitnami/airflow/CHANGELOG.md
  bitnami/airflow/Chart.yaml
  bitnami/airflow/README.md
  bitnami/airflow/templates/_init_containers_sidecars.tpl
  bitnami/airflow/templates/dag-processor/deployment.yaml
  bitnami/airflow/templates/scheduler/deployment.yaml
  bitnami/airflow/templates/triggerer/statefulset.yaml
  bitnami/airflow/templates/worker/statefulset.yaml
  bitnami/airflow/values.yaml
Labels: verify, airflow, bitnami

#30315 [bitnami/seaweedfs] Support configuring volume size limit on Master
  bitnami/seaweedfs/CHANGELOG.md
  bitnami/seaweedfs/Chart.yaml
  bitnami/seaweedfs/README.md
  bitnami/seaweedfs/templates/master/statefulset.yaml
  bitnami/seaweedfs/values.yaml
Labels: verify, bitnami, seaweedfs

#30300 [bitnami/mariadb] fix!: :bug: :sparkles: :boom: Set correct serviceName and add Password Update Job
  bitnami/mariadb/CHANGELOG.md
  bitnami/mariadb/Chart.lock
  bitnami/mariadb/Chart.yaml
  bitnami/mariadb/README.md
  bitnami/mariadb/templates/_helpers.tpl
  bitnami/mariadb/templates/headless-svc.yaml
  bitnami/mariadb/templates/networkpolicy.yaml
  bitnami/mariadb/templates/primary/configmap.yaml
  bitnami/mariadb/templates/primary/initialization-configmap.yaml
  bitnami/mariadb/templates/primary/pdb.yaml
  bitnami/mariadb/templates/primary/statefulset.yaml
  bitnami/mariadb/templates/primary/svc.yaml
  bitnami/mariadb/templates/prometheusrules.yaml
  bitnami/mariadb/templates/role.yaml
  bitnami/mariadb/templates/rolebinding.yaml
  bitnami/mariadb/templates/secondary/configmap.yaml
  bitnami/mariadb/templates/secondary/pdb.yaml
  bitnami/mariadb/templates/secondary/statefulset.yaml
  bitnami/mariadb/templates/secondary/svc.yaml
  bitnami/mariadb/templates/secrets.yaml
  bitnami/mariadb/templates/serviceaccount.yaml
  bitnami/mariadb/templates/servicemonitor.yaml
  bitnami/mariadb/templates/update-password/job.yaml
  bitnami/mariadb/templates/update-password/new-secret.yaml
  bitnami/mariadb/templates/update-password/previous-secret.yaml
  bitnami/mariadb/values.yaml
Labels: verify, mariadb, bitnami

#30318 [bitnami/whereabouts] Unify seLinuxOptions default value
  bitnami/whereabouts/CHANGELOG.md
  bitnami/whereabouts/Chart.yaml
  bitnami/whereabouts/README.md
  bitnami/whereabouts/values.yaml
Labels: verify, bitnami, whereabouts

#30330 [bitnami/prometheus] Unify seLinuxOptions default value
  bitnami/prometheus/CHANGELOG.md
  bitnami/prometheus/Chart.yaml
  bitnami/prometheus/README.md
  bitnami/prometheus/values.yaml
Labels: verify, bitnami, prometheus

#30333 [bitnami/phpmyadmin] Unify seLinuxOptions default value
  bitnami/phpmyadmin/CHANGELOG.md
  bitnami/phpmyadmin/Chart.yaml
  bitnami/phpmyadmin/README.md
  bitnami/phpmyadmin/values.yaml
Labels: verify, bitnami, phpmyadmin

#30334 [bitnami/pinniped] Unify seLinuxOptions default value
  bitnami/pinniped/CHANGELOG.md
  bitnami/pinniped/Chart.yaml
  bitnami/pinniped/README.md
  bitnami/pinniped/values.yaml
Labels: verify, pinniped, bitnami

#30337 [bitnami/nginx] Unify seLinuxOptions default value
  bitnami/nginx/CHANGELOG.md
  bitnami/nginx/Chart.yaml
  bitnami/nginx/README.md
  bitnami/nginx/values.yaml
Labels: verify, nginx, bitnami

#30347 [bitnami/jaeger] Unify seLinuxOptions default value
  bitnami/jaeger/CHANGELOG.md
  bitnami/jaeger/Chart.yaml
  bitnami/jaeger/README.md
  bitnami/jaeger/values.yaml
Labels: verify, bitnami, jaeger

#30328 [bitnami/redis-cluster] Unify seLinuxOptions default value
  bitnami/redis-cluster/CHANGELOG.md
  bitnami/redis-cluster/Chart.yaml
  bitnami/redis-cluster/README.md
  bitnami/redis-cluster/values.yaml
Labels: verify, bitnami, redis-cluster

#30345 [bitnami/ejbca] Unify seLinuxOptions default value
  bitnami/ejbca/CHANGELOG.md
  bitnami/ejbca/Chart.yaml
  bitnami/ejbca/README.md
  bitnami/ejbca/values.yaml
Labels: verify, bitnami, ejbca

#30326 [bitnami/spark] Unify seLinuxOptions default value
  bitnami/spark/CHANGELOG.md
  bitnami/spark/Chart.yaml
  bitnami/spark/README.md
  bitnami/spark/values.yaml
Labels: verify, bitnami

#30346 [bitnami/ghost] Unify seLinuxOptions default value
  bitnami/ghost/CHANGELOG.md
  bitnami/ghost/Chart.yaml
  bitnami/ghost/README.md
  bitnami/ghost/values.yaml
Labels: verify, bitnami, ghost

#30327 [bitnami/rabbitmq] Unify seLinuxOptions default value
  bitnami/rabbitmq/CHANGELOG.md
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/README.md
  bitnami/rabbitmq/values.yaml
Labels: verify, bitnami, rabbitmq

#30344 [bitnami/mastodon] Unify seLinuxOptions default value
  bitnami/mastodon/CHANGELOG.md
  bitnami/mastodon/Chart.yaml
  bitnami/mastodon/README.md
  bitnami/mastodon/values.yaml
Labels: verify, bitnami, mastodon

#30348 [bitnami/concourse] Unify seLinuxOptions default value
  bitnami/concourse/CHANGELOG.md
  bitnami/concourse/Chart.yaml
  bitnami/concourse/README.md
  bitnami/concourse/values.yaml
Labels: verify, bitnami, concourse

#30343 [bitnami/kubeapps] Unify seLinuxOptions default value
  bitnami/kubeapps/CHANGELOG.md
  bitnami/kubeapps/Chart.yaml
  bitnami/kubeapps/README.md
  bitnami/kubeapps/values.yaml
Labels: verify, bitnami, kubeapps

#30323 [bitnami/vault] Unify seLinuxOptions default value
  bitnami/vault/CHANGELOG.md
  bitnami/vault/Chart.yaml
  bitnami/vault/README.md
  bitnami/vault/values.yaml
Labels: verify, bitnami, vault

#30336 [bitnami/opensearch] Unify seLinuxOptions default value
  bitnami/opensearch/CHANGELOG.md
  bitnami/opensearch/Chart.yaml
  bitnami/opensearch/README.md
  bitnami/opensearch/values.yaml
Labels: verify, bitnami, opensearch

#30341 [bitnami/nessie] Unify seLinuxOptions default value
  bitnami/nessie/CHANGELOG.md
  bitnami/nessie/Chart.yaml
  bitnami/nessie/README.md
  bitnami/nessie/values.yaml
Labels: verify, bitnami, nessie

#30340 [bitnami/nats] Unify seLinuxOptions default value
  bitnami/nats/CHANGELOG.md
  bitnami/nats/Chart.yaml
  bitnami/nats/README.md
  bitnami/nats/values.yaml
Labels: verify, bitnami, nats

#30339 [bitnami/metallb] Unify seLinuxOptions default value
  bitnami/metallb/CHANGELOG.md
  bitnami/metallb/Chart.yaml
  bitnami/metallb/README.md
  bitnami/metallb/values.yaml
Labels: verify, bitnami, metallb

#30332 [bitnami/rabbitmq-cluster-operator] Unify seLinuxOptions default value
  bitnami/rabbitmq-cluster-operator/CHANGELOG.md
  bitnami/rabbitmq-cluster-operator/Chart.yaml
  bitnami/rabbitmq-cluster-operator/README.md
  bitnami/rabbitmq-cluster-operator/values.yaml
Labels: verify, bitnami, rabbitmq-cluster-operator

#30329 [bitnami/redmine] Unify seLinuxOptions default value
  bitnami/redmine/CHANGELOG.md
  bitnami/redmine/Chart.yaml
  bitnami/redmine/README.md
  bitnami/redmine/values.yaml
Labels: verify, bitnami, redmine

#30325 [bitnami/sonarqube] Unify seLinuxOptions default value
  bitnami/sonarqube/CHANGELOG.md
  bitnami/sonarqube/Chart.yaml
  bitnami/sonarqube/README.md
  bitnami/sonarqube/values.yaml
Labels: verify, bitnami, sonarqube

#30322 [bitnami/valkey-cluster] Unify seLinuxOptions default value
  bitnami/valkey-cluster/CHANGELOG.md
  bitnami/valkey-cluster/Chart.yaml
  bitnami/valkey-cluster/README.md
  bitnami/valkey-cluster/values.yaml
Labels: verify, bitnami, valkey-cluster

#30321 [bitnami/tensorflow-resnet] Unify seLinuxOptions default value
  bitnami/tensorflow-resnet/CHANGELOG.md
  bitnami/tensorflow-resnet/Chart.yaml
  bitnami/tensorflow-resnet/README.md
  bitnami/tensorflow-resnet/values.yaml
Labels: verify, bitnami, tensorflow-resnet

#30316 [bitnami/cilium] Fix typos with clusterName and certificates
  bitnami/cilium/CHANGELOG.md
  bitnami/cilium/Chart.yaml
  bitnami/cilium/templates/hubble-relay/configmap.yaml
Labels: verify, bitnami, cilium

#30394 Revert "Bump actions/download-artifact from 3.0.2 to 4.1.8"
  .github/workflows/cd-pipeline.yml
Labels: verify, bitnami

#30397 [bitnami/kube-prometheus] Add dummy values.yaml to CRDs subchart
  bitnami/kube-prometheus/CHANGELOG.md
  bitnami/kube-prometheus/Chart.yaml
  bitnami/kube-prometheus/charts/kube-prometheus-crds/values.yaml
Labels: verify, bitnami, kube-prometheus

#30393 [bitnami/nats] Expose `publishNotReadyAddresses` on headless service
  bitnami/nats/CHANGELOG.md
  bitnami/nats/Chart.yaml
  bitnami/nats/README.md
  bitnami/nats/templates/headless-svc.yaml
  bitnami/nats/values.yaml
Labels: verify, in-progress, nats

#30403 [github-actions] Add support for legacy .tgz index branch
  .github/workflows/cd-pipeline.yml
Labels: verify, bitnami

#30359 [bitnami/spring-cloud-dataflow] chore!: :arrow_up: :boom: Bump MariaDB subchart to 20
  bitnami/spring-cloud-dataflow/CHANGELOG.md
  bitnami/spring-cloud-dataflow/Chart.lock
  bitnami/spring-cloud-dataflow/Chart.yaml
  bitnami/spring-cloud-dataflow/README.md
Labels: verify, bitnami, spring-cloud-dataflow

#30241 [bitnami/milvus] docs: :memo: Add "Update credentials" section
  bitnami/milvus/README.md
Labels: verify, bitnami, milvus

#30354 [bitnami/matomo] chore!: :arrow_up: :boom: Bump MariaDB subchart to 20
  bitnami/matomo/CHANGELOG.md
  bitnami/matomo/Chart.lock
  bitnami/matomo/Chart.yaml
  bitnami/matomo/README.md
  bitnami/matomo/values.yaml
Labels: verify, bitnami, matomo

#30352 [bitnami/drupal] chore!: :arrow_up: :boom: Bump MariaDB subchart to 20
  bitnami/drupal/CHANGELOG.md
  bitnami/drupal/Chart.lock
  bitnami/drupal/Chart.yaml
  bitnami/drupal/README.md
  bitnami/drupal/values.yaml
Labels: verify, bitnami, drupal

#30355 [bitnami/moodle] chore!: :arrow_up: :boom: Bump MariaDB subchart to 20
  bitnami/moodle/CHANGELOG.md
  bitnami/moodle/Chart.lock
  bitnami/moodle/Chart.yaml
  bitnami/moodle/README.md
  bitnami/moodle/templates/ingress.yaml
  bitnami/moodle/values.yaml
Labels: verify, moodle, bitnami

#30357 [bitnami/redmine] chore!: :arrow_up: :boom: Bump MariaDB subchart to 20
  bitnami/redmine/CHANGELOG.md
  bitnami/redmine/Chart.lock
  bitnami/redmine/Chart.yaml
  bitnami/redmine/README.md
  bitnami/redmine/values.yaml
Labels: verify, bitnami, redmine

#30351 [bitnami/mysql] fix!: :bug: :sparkles: :boom: Set correct serviceName and add Password Update Job
  bitnami/mysql/CHANGELOG.md
  bitnami/mysql/Chart.lock
  bitnami/mysql/Chart.yaml
  bitnami/mysql/README.md
  bitnami/mysql/templates/_helpers.tpl
  bitnami/mysql/templates/metrics-svc.yaml
  bitnami/mysql/templates/networkpolicy.yaml
  bitnami/mysql/templates/primary/configmap.yaml
  bitnami/mysql/templates/primary/initialization-configmap.yaml
  bitnami/mysql/templates/primary/pdb.yaml
  bitnami/mysql/templates/primary/startdb-configmap.yaml
  bitnami/mysql/templates/primary/statefulset.yaml
  bitnami/mysql/templates/primary/svc-headless.yaml
  bitnami/mysql/templates/primary/svc.yaml
  bitnami/mysql/templates/prometheusrule.yaml
  bitnami/mysql/templates/role.yaml
  bitnami/mysql/templates/rolebinding.yaml
  bitnami/mysql/templates/secondary/configmap.yaml
  bitnami/mysql/templates/secondary/pdb.yaml
  bitnami/mysql/templates/secondary/statefulset.yaml
  bitnami/mysql/templates/secondary/svc-headless.yaml
  bitnami/mysql/templates/secondary/svc.yaml
  bitnami/mysql/templates/secrets.yaml
  bitnami/mysql/templates/serviceaccount.yaml
  bitnami/mysql/templates/servicemonitor.yaml
  bitnami/mysql/templates/update-password/job.yaml
  bitnami/mysql/templates/update-password/new-secret.yaml
  bitnami/mysql/templates/update-password/previous-secret.yaml
  bitnami/mysql/values.yaml
Labels: verify, bitnami, mysql

#30360 [bitnami/wordpress] chore!: :arrow_up: :boom: Bump MariaDB subchart to 20
  bitnami/wordpress/CHANGELOG.md
  bitnami/wordpress/Chart.lock
  bitnami/wordpress/Chart.yaml
  bitnami/wordpress/README.md
  bitnami/wordpress/values.yaml
Labels: verify, bitnami, wordpress

#30303 [bitnami/keycloak] Fix metrics ports and servicemonitor
  bitnami/keycloak/CHANGELOG.md
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/README.md
  bitnami/keycloak/templates/NOTES.txt
  bitnami/keycloak/templates/metrics-service.yaml
  bitnami/keycloak/templates/servicemonitor.yaml
  bitnami/keycloak/values.yaml
Labels: verify, in-progress, keycloak

#30358 [bitnami/seaweedfs] chore!: :arrow_up: :boom: Bump MariaDB subchart to 20
  bitnami/seaweedfs/CHANGELOG.md
  bitnami/seaweedfs/Chart.lock
  bitnami/seaweedfs/Chart.yaml
  bitnami/seaweedfs/README.md
  bitnami/seaweedfs/values.yaml
Labels: verify, bitnami, seaweedfs

#30353 [bitnami/ejbca] chore!: :arrow_up: :boom: Bump MariaDB subchart to 20
  bitnami/ejbca/CHANGELOG.md
  bitnami/ejbca/Chart.lock
  bitnami/ejbca/Chart.yaml
  bitnami/ejbca/README.md
  bitnami/ejbca/values.yaml
Labels: verify, bitnami, ejbca

#30427 [bitnami/kafka] Add upgrade notes for version 31.0.0
  bitnami/kafka/README.md
Labels: verify, solved, kafka, bitnami

#30428 [bitnami/milvus] Update kafka subchart to 31.0.0
  bitnami/milvus/CHANGELOG.md
  bitnami/milvus/Chart.lock
  bitnami/milvus/Chart.yaml
  bitnami/milvus/README.md
Labels: verify, bitnami, milvus

#30426 [bitnami/spring-cloud-dataflow] Update kafka subchart to 31.0.0
  bitnami/spring-cloud-dataflow/CHANGELOG.md
  bitnami/spring-cloud-dataflow/Chart.lock
  bitnami/spring-cloud-dataflow/Chart.yaml
  bitnami/spring-cloud-dataflow/README.md
Labels: verify, bitnami, spring-cloud-dataflow

#30425 [bitnami/schema-registry] Update kafka subchart to 31.0.0
  bitnami/schema-registry/CHANGELOG.md
  bitnami/schema-registry/Chart.lock
  bitnami/schema-registry/Chart.yaml
  bitnami/schema-registry/README.md
Labels: verify, bitnami, schema-registry

#30429 [bitnami/ghost] chore!: :arrow_up: :boom: Bump MySQL subchart to 12
  bitnami/ghost/CHANGELOG.md
  bitnami/ghost/Chart.lock
  bitnami/ghost/Chart.yaml
  bitnami/ghost/README.md
  bitnami/ghost/templates/ingress.yaml
  bitnami/ghost/values.yaml
Labels: verify, bitnami, ghost

#30430 [bitnami/argo-workflows] chore!: :arrow_up: :boom: Bump MySQL subchart to 12
  bitnami/argo-workflows/CHANGELOG.md
  bitnami/argo-workflows/Chart.lock
  bitnami/argo-workflows/Chart.yaml
  bitnami/argo-workflows/README.md
  bitnami/argo-workflows/templates/server/ingress.yaml
  bitnami/argo-workflows/values.yaml
Labels: verify, argo-workflows, bitnami

#30417 [bitnami/airflow] Add support for setting a SQL connection string with existing databases
  bitnami/airflow/CHANGELOG.md
  bitnami/airflow/Chart.lock
  bitnami/airflow/Chart.yaml
  bitnami/airflow/README.md
  bitnami/airflow/templates/_helpers.tpl
  bitnami/airflow/templates/_init_containers_sidecars.tpl
  bitnami/airflow/templates/config/secret-external-db.yaml
  bitnami/airflow/templates/metrics/deployment.yaml
  bitnami/airflow/values.yaml
Labels: verify, airflow, bitnami

#30421 [bitnami/mongodb] allow setting the timezone for backup cronjob
  bitnami/mongodb/CHANGELOG.md
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/README.md
  bitnami/mongodb/templates/backup/cronjob.yaml
  bitnami/mongodb/values.yaml
Labels: verify, in-progress, mongodb

#30443 [bitnami/apisix, kong, matomo] test: :white_check_mark: Replace bitnami endpoints with google
  .vib/apisix/cypress/cypress/fixtures/service.json
  .vib/kong/cypress/cypress/fixtures/services.json
  .vib/matomo/cypress/cypress/fixtures/websites.json
Labels: verify, bitnami

#30391 [bitnami/argo-cd] Fix repo-server PDB label selector
  bitnami/argo-cd/CHANGELOG.md
  bitnami/argo-cd/Chart.yaml
  bitnami/argo-cd/templates/repo-server/pdb.yaml
Labels: verify, in-progress, argo-cd

#30452 [bitnami/redis] feat: :sparkles: Allow updating credentials via values.yaml
  bitnami/redis/CHANGELOG.md
  bitnami/redis/Chart.yaml
  bitnami/redis/README.md
  bitnami/redis/templates/_helpers.tpl
Labels: verify, bitnami, redis

#30440 [bitnami/airflow] Add support to setup db on k8s job
  bitnami/airflow/CHANGELOG.md
  bitnami/airflow/Chart.yaml
  bitnami/airflow/README.md
  bitnami/airflow/templates/_init_containers_sidecars.tpl
  bitnami/airflow/templates/setup-db-job.yaml
  bitnami/airflow/templates/web/deployment.yaml
  bitnami/airflow/values.yaml
Labels: verify, airflow, bitnami, skip-score

#30413 [bitnami/kube-prometheus] Fix update-crds CI job
  .github/workflows/ci-pipeline.yml
  bitnami/kube-prometheus/CHANGELOG.md
  bitnami/kube-prometheus/Chart.yaml
  bitnami/kube-prometheus/hack/update_crds.sh
Labels: verify, in-progress, kube-prometheus

#29626 [bitnami/mlflow] Adding missing Azure Storage configuration in the Helm Chart
  bitnami/mlflow/CHANGELOG.md
  bitnami/mlflow/Chart.yaml
  bitnami/mlflow/README.md
  bitnami/mlflow/templates/_helpers.tpl
  bitnami/mlflow/templates/tracking/deployment.yaml
  bitnami/mlflow/values.yaml
Labels: verify, in-progress, mlflow

#30402 [github-actions] Update index.yaml to use OCI charts references
  .github/workflows/cd-pipeline.yml
  .github/workflows/index-update.yml
  .github/workflows/push-tag.yml
Labels: verify, bitnami

#30492 [bitnami/airflow] Improve Goss tests
  .vib/airflow/goss/goss.yaml
  .vib/airflow/runtime-parameters.yaml
  bitnami/airflow/CHANGELOG.md
  bitnami/airflow/Chart.yaml
Labels: verify, airflow, bitnami

#30495 [bitnami/seaweedfs] feat: add support for customizing PVC retention policies
  bitnami/seaweedfs/CHANGELOG.md
  bitnami/seaweedfs/Chart.yaml
  bitnami/seaweedfs/README.md
  bitnami/seaweedfs/templates/master/statefulset.yaml
  bitnami/seaweedfs/templates/volume/statefulset.yaml
  bitnami/seaweedfs/values.yaml
Labels: verify, bitnami, seaweedfs

#30496 [bitnami/airflow] feat: add support for custom local settings
  bitnami/airflow/CHANGELOG.md
  bitnami/airflow/Chart.yaml
  bitnami/airflow/README.md
  bitnami/airflow/templates/_init_containers_sidecars.tpl
  bitnami/airflow/templates/config/configmap.yaml
  bitnami/airflow/templates/dag-processor/deployment.yaml
  bitnami/airflow/templates/scheduler/deployment.yaml
  bitnami/airflow/templates/setup-db-job.yaml
  bitnami/airflow/templates/triggerer/statefulset.yaml
  bitnami/airflow/templates/web/configmap.yaml
  bitnami/airflow/templates/web/deployment.yaml
  bitnami/airflow/templates/worker/statefulset.yaml
  bitnami/airflow/values.yaml
Labels: verify, airflow, bitnami

#30515 [bitnami/external-dns] feat: add support to namespaceOverride and simplify name helpers
  bitnami/external-dns/CHANGELOG.md
  bitnami/external-dns/Chart.yaml
  bitnami/external-dns/README.md
  bitnami/external-dns/templates/NOTES.txt
  bitnami/external-dns/templates/_helpers.tpl
  bitnami/external-dns/templates/clusterrolebinding.yaml
  bitnami/external-dns/templates/configmap.yaml
  bitnami/external-dns/templates/deployment.yaml
  bitnami/external-dns/templates/pdb.yaml
  bitnami/external-dns/templates/podmonitor.yaml
  bitnami/external-dns/templates/psp-clusterrolebinding.yaml
  bitnami/external-dns/templates/psp.yaml
  bitnami/external-dns/templates/role.yaml
  bitnami/external-dns/templates/rolebindings.yaml
  bitnami/external-dns/templates/secret.yaml
  bitnami/external-dns/templates/service.yaml
  bitnami/external-dns/templates/serviceaccount.yaml
  bitnami/external-dns/templates/servicemonitor.yaml
  bitnami/external-dns/templates/tls-secret.yaml
  bitnami/external-dns/values.yaml
Labels: verify, bitnami, external-dns

#30525 [bitnami/airflow] Add support for extending default configuration
  .vib/airflow/goss/goss.yaml
  .vib/airflow/runtime-parameters.yaml
  bitnami/airflow/CHANGELOG.md
  bitnami/airflow/Chart.yaml
  bitnami/airflow/README.md
  bitnami/airflow/templates/config/configmap-pod-template.yaml
  bitnami/airflow/templates/config/configmap.yaml
  bitnami/airflow/values.yaml
Labels: verify, airflow, bitnami

#30541 [bitnami/*] docs: fix copy-paste typos with wrong references to Airflow
  bitnami/discourse/README.md
  bitnami/keycloak/values.yaml
  bitnami/postgresql-ha/README.md
  bitnami/postgresql-ha/values.yaml
  bitnami/schema-registry/README.md
  bitnami/schema-registry/values.yaml
  bitnami/sealed-secrets/values.yaml
Labels: verify, bitnami

#30590 [bitnami/janusgraph] Remove subchart image from values.yaml
  bitnami/janusgraph/CHANGELOG.md
  bitnami/janusgraph/Chart.yaml
  bitnami/janusgraph/README.md
  bitnami/janusgraph/templates/NOTES.txt
  bitnami/janusgraph/values.yaml
Labels: verify, bitnami, janusgraph

#30584 [bitnami/kong] Use postgresql 17 for Kong
  bitnami/kong/CHANGELOG.md
  bitnami/kong/Chart.lock
  bitnami/kong/Chart.yaml
  bitnami/kong/README.md
  bitnami/kong/templates/NOTES.txt
  bitnami/kong/values.yaml
Labels: verify, bitnami, kong

#30586 [bitnami/clickhouse] Remove subchart image from values.yaml
  bitnami/clickhouse/CHANGELOG.md
  bitnami/clickhouse/Chart.yaml
  bitnami/clickhouse/README.md
  bitnami/clickhouse/templates/NOTES.txt
  bitnami/clickhouse/values.yaml
Labels: verify, bitnami, clickhouse

#30615 [bitnami/rabbitmq] feat: :sparkles: Allow password updates
  bitnami/rabbitmq/CHANGELOG.md
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/README.md
  bitnami/rabbitmq/templates/secrets.yaml
  bitnami/rabbitmq/templates/statefulset.yaml
  bitnami/rabbitmq/values.yaml
Labels: verify, bitnami, rabbitmq

#30470 [bitnami/redis-cluster] feat: Set custom terminationGracePeriodSeconds for redis
  bitnami/redis-cluster/CHANGELOG.md
  bitnami/redis-cluster/Chart.yaml
  bitnami/redis-cluster/README.md
  bitnami/redis-cluster/templates/redis-statefulset.yaml
  bitnami/redis-cluster/values.yaml
Labels: verify, in-progress, redis-cluster

#30624 [bitnami/airflow] Support extra customizations at setup-db job
  bitnami/airflow/CHANGELOG.md
  bitnami/airflow/Chart.yaml
  bitnami/airflow/README.md
  bitnami/airflow/templates/setup-db-job.yaml
  bitnami/airflow/values.yaml
Labels: verify, airflow, bitnami

#30625 [bitnami/common] Fix VPA apiVersion
  bitnami/common/CHANGELOG.md
  bitnami/common/Chart.yaml
  bitnami/common/templates/_capabilities.tpl
Labels: verify, bitnami, common

#30628 [bitnami/common] Fix appVersion
  bitnami/common/Chart.yaml
Labels: verify, bitnami, common

#30629 [bitnami/mariadb] feat: :sparkles: Add TLS support
  bitnami/mariadb/CHANGELOG.md
  bitnami/mariadb/Chart.yaml
  bitnami/mariadb/README.md
  bitnami/mariadb/templates/_helpers.tpl
  bitnami/mariadb/templates/ca-cert.yaml
  bitnami/mariadb/templates/cert.yaml
  bitnami/mariadb/templates/primary/statefulset.yaml
  bitnami/mariadb/templates/secondary/statefulset.yaml
  bitnami/mariadb/templates/tls-secret.yaml
  bitnami/mariadb/values.yaml
Labels: verify, mariadb, bitnami

#30639 [bitnami/common]: bump patch version
  bitnami/common/CHANGELOG.md
  bitnami/common/Chart.yaml
Labels: verify, bitnami, common

#30641 [bitnami/mariadb] fix: :bug: Set correct TLS mountPath
  bitnami/mariadb/CHANGELOG.md
  bitnami/mariadb/Chart.yaml
  bitnami/mariadb/templates/primary/statefulset.yaml
  bitnami/mariadb/templates/secondary/statefulset.yaml
Labels: verify, mariadb, bitnami

#30646 [bitnami/airflow] bugfix: extra volume/mounts should apply to setup-db job and wait-for-db init-container
  bitnami/airflow/CHANGELOG.md
  bitnami/airflow/Chart.yaml
  bitnami/airflow/templates/_init_containers_sidecars.tpl
  bitnami/airflow/templates/setup-db-job.yaml
Labels: verify, airflow, bitnami

#30595 [bitnam/influxdb] gcloud backups, replace gsutil
  bitnami/influxdb/CHANGELOG.md
  bitnami/influxdb/Chart.yaml
  bitnami/influxdb/templates/configmap-backup.yaml
Labels: verify, in-progress, influxdb

#30651 [bitnami/milvus] feat: update chart deps
  bitnami/milvus/CHANGELOG.md
  bitnami/milvus/Chart.lock
  bitnami/milvus/Chart.yaml
Labels: verify, bitnami, milvus

#30666 [bitnami/*] docs: :memo: Add "Prometheus metrics" (batch 3)
  bitnami/influxdb/README.md
  bitnami/janusgraph/README.md
  bitnami/jupyterhub/README.md
  bitnami/kafka/README.md
  bitnami/keycloak/README.md
  bitnami/keydb/README.md
  bitnami/kiam/README.md
  bitnami/kibana/README.md
  bitnami/kong/README.md
  bitnami/kuberay/README.md
  bitnami/kubernetes-event-exporter/README.md
Labels: verify, bitnami

#30309 [bitnami/oauth2-proxy] add useApplicationDefaultCredentials google
  bitnami/oauth2-proxy/CHANGELOG.md
  bitnami/oauth2-proxy/Chart.yaml
  bitnami/oauth2-proxy/README.md
  bitnami/oauth2-proxy/templates/deployment.yaml
  bitnami/oauth2-proxy/values.yaml
Labels: verify, in-progress, oauth2-proxy

#30674 [bitnami/*] docs: :memo: Add "Prometheus metrics" (batch 5)
  bitnami/nats/README.md
  bitnami/nessie/README.md
  bitnami/nginx-ingress-controller/README.md
  bitnami/nginx/README.md
  bitnami/opensearch/README.md
  bitnami/phpmyadmin/README.md
  bitnami/postgresql-ha/README.md
  bitnami/postgresql/README.md
  bitnami/rabbitmq-cluster-operator/README.md
  bitnami/rabbitmq/README.md
  bitnami/redis-cluster/README.md
  bitnami/redis/README.md
Labels: verify, bitnami

#30675 [bitnami/*] docs: :memo: Add "Prometheus metrics" (batch 6)
  bitnami/mariadb-galera/README.md
  bitnami/mariadb/README.md
  bitnami/minio/README.md
  bitnami/mlflow/README.md
  bitnami/mysql/README.md
  bitnami/scylladb/README.md
  bitnami/sealed-secrets/README.md
  bitnami/seaweedfs/README.md
  bitnami/solr/README.md
  bitnami/sonarqube/README.md
  bitnami/spark/README.md
  bitnami/spring-cloud-dataflow/README.md
  bitnami/tensorflow-resnet/README.md
  bitnami/thanos/README.md
  bitnami/tomcat/README.md
  bitnami/valkey-cluster/README.md
  bitnami/valkey/README.md
  bitnami/vault/README.md
  bitnami/wordpress/README.md
  bitnami/zipkin/README.md
  bitnami/zookeeper/README.md
Labels: verify, bitnami

#30682 [bitnami/apisix] feat: :sparkles: :memo: Allow password update via values.yaml
  bitnami/apisix/CHANGELOG.md
  bitnami/apisix/Chart.lock
  bitnami/apisix/Chart.yaml
  bitnami/apisix/README.md
  bitnami/apisix/templates/dashboard/secret.yaml
Labels: verify, bitnami, apisix

#30684 [bitnami/janusgraph] chore: :bulb: :memo: :rotating_light: Rename prometheus "@section" to avoid linter problems
  bitnami/janusgraph/CHANGELOG.md
  bitnami/janusgraph/Chart.yaml
  bitnami/janusgraph/README.md
  bitnami/janusgraph/values.yaml
Labels: verify, bitnami, janusgraph

#30683 [bitnami/dremio] chore: :bulb: :memo: :rotating_light: Rename prometheus "@section" to avoid linter problems
  bitnami/dremio/CHANGELOG.md
  bitnami/dremio/Chart.yaml
  bitnami/dremio/values.yaml
Labels: verify, bitnami, dremio

#30685 [bitnami/*] docs: :memo: Add "Update Credentials" (batch 1)
  bitnami/airflow/README.md
  bitnami/appsmith/README.md
  bitnami/cassandra/README.md
  bitnami/clickhouse/README.md
  bitnami/concourse/README.md
  bitnami/discourse/README.md
  bitnami/drupal/README.md
  bitnami/ejbca/README.md
  bitnami/elasticsearch/README.md
  bitnami/etcd/README.md
Labels: verify, bitnami

#30659 [bitnami/influxdb] Feature - Add CA bundle option to influxdb backup job
  bitnami/influxdb/CHANGELOG.md
  bitnami/influxdb/Chart.yaml
  bitnami/influxdb/README.md
  bitnami/influxdb/templates/cronjob-backup.yaml
  bitnami/influxdb/values.yaml
Labels: verify, in-progress, influxdb

#30453 [bitnami/sealed-secrets] Fix namespace in PodDisruptionBudget
  bitnami/sealed-secrets/CHANGELOG.md
  bitnami/sealed-secrets/Chart.yaml
  bitnami/sealed-secrets/templates/pdb.yaml
Labels: verify, in-progress, sealed-secrets

#30687 [bitnami/*] docs: :memo: Add "Update Credentials" (batch 2)
  bitnami/ghost/README.md
  bitnami/gitea/README.md
  bitnami/grafana/README.md
  bitnami/influxdb/README.md
  bitnami/jenkins/README.md
  bitnami/jupyterhub/README.md
  bitnami/kafka/README.md
  bitnami/keycloak/README.md
  bitnami/kibana/README.md
  bitnami/mariadb-galera/README.md
  bitnami/mastodon/README.md
  bitnami/matomo/README.md
  bitnami/memcached/README.md
  bitnami/minio/README.md
Labels: verify, bitnami

#30445 [bitnami/rabbitmq-cluster-operator] Fix msg topology operator PodDisruptionBudget
  bitnami/rabbitmq-cluster-operator/CHANGELOG.md
  bitnami/rabbitmq-cluster-operator/Chart.yaml
  bitnami/rabbitmq-cluster-operator/templates/messaging-topology-operator/pdb.yaml
Labels: stale, verify, in-progress, rabbitmq-cluster-operator

#30690 [bitnami/valkey] feat: :sparkles: :memo: Allow password update via values.yaml
  bitnami/valkey/CHANGELOG.md
  bitnami/valkey/Chart.lock
  bitnami/valkey/Chart.yaml
  bitnami/valkey/README.md
  bitnami/valkey/templates/secret.yaml
Labels: verify, bitnami, valkey

#30691 [bitnami/keydb] feat: :sparkles: :memo: Allow password update via values.yaml
  bitnami/keydb/CHANGELOG.md
  bitnami/keydb/Chart.lock
  bitnami/keydb/Chart.yaml
  bitnami/keydb/README.md
  bitnami/keydb/templates/secret.yaml
Labels: verify, bitnami, keydb
