Repository bitnami/charts, pull requests merged in 2024-01, with the labels that each got.

#21816 [bitnami/tensorflow-resnet] Add security context to 'seed' container
  bitnami/tensorflow-resnet/Chart.yaml
  bitnami/tensorflow-resnet/templates/deployment.yaml
Labels: verify, bitnami, tensorflow-resnet

#21819 [bitnami/mongodb-sharded] Init retry configuration
  bitnami/mongodb-sharded/Chart.yaml
  bitnami/mongodb-sharded/README.md
  bitnami/mongodb-sharded/templates/config-server/config-server-statefulset.yaml
  bitnami/mongodb-sharded/templates/mongos/mongos-dep-sts.yaml
  bitnami/mongodb-sharded/templates/shard/shard-arbiter-statefulset.yaml
  bitnami/mongodb-sharded/templates/shard/shard-data-statefulset.yaml
  bitnami/mongodb-sharded/values.yaml
Labels: verify, bitnami, mongodb-sharded

#21784 [bitnami/jupyterhub] add missing service api tokens to hub's secret
  bitnami/jupyterhub/Chart.yaml
  bitnami/jupyterhub/README.md
  bitnami/jupyterhub/templates/_helpers.tpl
  bitnami/jupyterhub/templates/hub/secret.yaml
  bitnami/jupyterhub/values.yaml
Labels: verify, in-progress, jupyterhub

#21830 [bitnami/redis] Use correct context to retrieve node ports for sentinel service
  bitnami/redis/Chart.yaml
  bitnami/redis/templates/sentinel/node-services.yaml
Labels: verify, bitnami, redis

#21853 [bitnami/kafka] Enable securityContext for autoDiscovery pods
  .vib/kafka/runtime-parameters.yaml
Labels: verify, bitnami

#21851 [bitnami/mongodb] Added possibility to configure persistence volume name and claim name
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/README.md
  bitnami/mongodb/templates/standalone/dep-sts.yaml
  bitnami/mongodb/values.yaml
Labels: verify, in-progress, mongodb

#21812 [bitnami/postgresql-ha] Fix Double Metrics
  bitnami/postgresql-ha/Chart.yaml
  bitnami/postgresql-ha/README.md
  bitnami/postgresql-ha/templates/postgresql/metrics-service.yaml
  bitnami/postgresql-ha/values.yaml
Labels: verify, in-progress, postgresql-ha

#21475 update hpa.yaml
  bitnami/mlflow/Chart.yaml
  bitnami/mlflow/templates/tracking/hpa.yaml
Labels: verify, in-progress, mlflow

#21768 [bitnami/fluentd] Init container to install additional gems
  bitnami/fluentd/Chart.yaml
  bitnami/fluentd/README.md
  bitnami/fluentd/templates/aggregator-statefulset.yaml
  bitnami/fluentd/templates/forwarder-daemonset.yaml
  bitnami/fluentd/values.yaml
Labels: verify, in-progress, fluentd

#21809 [bitnami/external-dns] add pihole support
  bitnami/external-dns/Chart.yaml
  bitnami/external-dns/README.md
  bitnami/external-dns/templates/_helpers.tpl
  bitnami/external-dns/templates/dep-ds.yaml
  bitnami/external-dns/templates/secret.yaml
  bitnami/external-dns/values.yaml
Labels: verify, in-progress, external-dns

#20950 [bitnami/minio] Allow provisioning unversioned buckets
  bitnami/minio/Chart.yaml
  bitnami/minio/templates/provisioning-job.yaml
  bitnami/minio/values.yaml
Labels: verify, in-progress, minio

#21850 [bitnami/aspnet-core] Update sample application version from 7.x to 8.x
  bitnami/aspnet-core/Chart.yaml
  bitnami/aspnet-core/README.md
  bitnami/aspnet-core/values.yaml
Labels: verify, in-progress, aspnet-core

#21720 [bitnami/minio]Fixed metrics.serviceMonitor.namespace configuration does not take effect
  bitnami/minio/Chart.yaml
  bitnami/minio/templates/servicemonitor.yaml
Labels: stale, verify, in-progress, minio

#21884 [bitnami/spring-cloud-dataflow] Enable securityContext for initContainers
  .vib/spring-cloud-dataflow/runtime-parameters.yaml
Labels: verify, bitnami, spring-cloud-dataflow

#21898 [bitnami/keycloak] Fix the spelling error of KC_LOG_LEVEL, correct it to the correct KEYCLOAK_LOG_LEVEL
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/templates/configmap-env-vars.yaml
Labels: verify, in-progress, keycloak

#21906 [bitnami/nginx-ingress-controller] feat: :sparkles: Add seccompProfile to containerSecurityContext
  bitnami/nginx-ingress-controller/Chart.yaml
  bitnami/nginx-ingress-controller/README.md
  bitnami/nginx-ingress-controller/values.yaml
Labels: verify, in-progress, bitnami, nginx-ingress-controller

#21882 [bitnami/nginx] Add support for adding custom args to Prometheus exporter
  bitnami/nginx/Chart.yaml
  bitnami/nginx/README.md
  bitnami/nginx/templates/deployment.yaml
  bitnami/nginx/values.yaml
Labels: verify, nginx, bitnami

#21903 [bitnami/fluentd] bugfix: render additional init containers only if not empty
  bitnami/fluentd/Chart.yaml
  bitnami/fluentd/templates/aggregator-statefulset.yaml
  bitnami/fluentd/templates/forwarder-daemonset.yaml
Labels: verify, in-progress, fluentd

#21719 [bitnami/kube-state-metrics] Add leases to kubeResources
  bitnami/kube-state-metrics/Chart.yaml
  bitnami/kube-state-metrics/README.md
  bitnami/kube-state-metrics/templates/clusterrole.yaml
  bitnami/kube-state-metrics/values.yaml
Labels: verify, in-progress, kube-state-metrics

#21912 [bitnami/redmine] feat: :sparkles: Add seccompProfile to containerSecurityContext
  .vib/redmine/goss/goss.yaml
  bitnami/redmine/Chart.yaml
  bitnami/redmine/README.md
  bitnami/redmine/values.yaml
Labels: verify, in-progress, bitnami, redmine

#21900 [bitnami/kiam] feat: :sparkles: Add seccompProfile to containerSecurityContext
  bitnami/kiam/Chart.yaml
  bitnami/kiam/README.md
  bitnami/kiam/values.yaml
Labels: verify, bitnami, kiam

#21642 [bitnami/argo-cd] feat: :sparkles: Add missing health probes
  bitnami/argo-cd/Chart.yaml
  bitnami/argo-cd/README.md
  bitnami/argo-cd/templates/notifications/bots/slack/deployment.yaml
  bitnami/argo-cd/templates/notifications/bots/slack/service.yaml
  bitnami/argo-cd/templates/notifications/deployment.yaml
  bitnami/argo-cd/values.yaml
Labels: verify, bitnami, argo-cd

#21909 [bitnami/whereabouts] feat: :sparkles: Add seccompProfile to containerSecurityContext
  bitnami/whereabouts/Chart.yaml
  bitnami/whereabouts/README.md
  bitnami/whereabouts/values.yaml
Labels: verify, in-progress, bitnami, whereabouts

#21907 [bitnami/concourse] feat: :sparkles: Add seccompProfile to containerSecurityContext
  bitnami/concourse/Chart.yaml
  bitnami/concourse/README.md
  bitnami/concourse/values.yaml
Labels: verify, in-progress, bitnami, concourse

#21489 [bitnami/kubernetes-event-exporter] Avoid unnecessary pod restart on each helm chart version
  bitnami/kubernetes-event-exporter/Chart.yaml
  bitnami/kubernetes-event-exporter/templates/deployment.yaml
Labels: stale, verify, in-progress, kubernetes-event-exporter

#21917 [bitnami/aspnet-core] feat: :sparkles: Add seccompProfile to containerSecurityContext
  bitnami/aspnet-core/Chart.yaml
  bitnami/aspnet-core/README.md
  bitnami/aspnet-core/values.yaml
Labels: verify, in-progress, bitnami, aspnet-core

#21916 [bitnami/metallb] feat: :sparkles: Add seccompProfile to containerSecurityContext
  bitnami/metallb/Chart.yaml
  bitnami/metallb/README.md
  bitnami/metallb/values.yaml
Labels: verify, in-progress, bitnami, metallb

#21908 [bitnami/odoo] feat: :sparkles: Add seccompProfile to containerSecurityContext
  .vib/odoo/goss/goss.yaml
  bitnami/odoo/Chart.yaml
  bitnami/odoo/README.md
  bitnami/odoo/values.yaml
Labels: verify, in-progress, odoo, bitnami

#21905 [bitnami/multus-cni] feat: :sparkles: Add seccompProfile to containerSecurityContext
  bitnami/multus-cni/Chart.yaml
  bitnami/multus-cni/README.md
  bitnami/multus-cni/values.yaml
Labels: verify, in-progress, bitnami, multus-cni

#21904 [bitnami/elasticsearch] feat: :sparkles: Add seccompProfile to containerSecurityContext
  bitnami/elasticsearch/Chart.yaml
  bitnami/elasticsearch/README.md
  bitnami/elasticsearch/values.yaml
Labels: verify, in-progress, bitnami, elasticsearch

#21910 [bitnami/fluentd] feat: :sparkles: Add seccompProfile to containerSecurityContext
  bitnami/fluentd/Chart.yaml
  bitnami/fluentd/README.md
  bitnami/fluentd/values.yaml
Labels: verify, in-progress, bitnami, fluentd

#21915 [bitnami/discourse] feat: :sparkles: Add seccompProfile to containerSecurityContext
  .vib/discourse/goss/goss.yaml
  bitnami/discourse/Chart.yaml
  bitnami/discourse/README.md
  bitnami/discourse/values.yaml
Labels: verify, in-progress, bitnami, discourse

#21914 [bitnami/grafana-loki] feat: :sparkles: Add seccompProfile to containerSecurityContext
  bitnami/grafana-loki/Chart.yaml
  bitnami/grafana-loki/README.md
  bitnami/grafana-loki/values.yaml
Labels: verify, in-progress, bitnami, grafana-loki

#21984 [bitnami/zookeeper] Update probes to use new healthcheck.sh
  bitnami/zookeeper/Chart.yaml
  bitnami/zookeeper/templates/statefulset.yaml
Labels: verify, bitnami, zookeeper

#20563 [bitnami/postgres-ha] feat: add logical backup to pg data
  bitnami/postgresql-ha/Chart.yaml
  bitnami/postgresql-ha/README.md
  bitnami/postgresql-ha/templates/backup/cronjob.yaml
  bitnami/postgresql-ha/templates/backup/pvc.yaml
  bitnami/postgresql-ha/values.yaml
Labels: verify, in-progress, postgresql-ha

#21954 [bitnami/nginx-ingress-controller] Fix GeoIP2 download feature
  bitnami/nginx-ingress-controller/Chart.yaml
  bitnami/nginx-ingress-controller/templates/controller-daemonset.yaml
  bitnami/nginx-ingress-controller/templates/controller-deployment.yaml
Labels: verify, bitnami, nginx-ingress-controller

#22017 [bitnami/rabbitmq] Fix rendering of vm_memory_high_watermark param
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/values.yaml
Labels: verify, bitnami, rabbitmq

#21937 [bitnami/keycloak] Add revisionHistoryLimit variable for statefulset
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/README.md
  bitnami/keycloak/templates/statefulset.yaml
  bitnami/keycloak/values.yaml
Labels: verify, in-progress, keycloak

#22019 [bitnami/mariadb-galera] fix: :lock: Do not use the default service account
  bitnami/mariadb-galera/Chart.yaml
  bitnami/mariadb-galera/README.md
  bitnami/mariadb-galera/values.yaml
Labels: verify, bitnami, mariadb-galera

#22041 [bitnami/gitea] fix: :lock: Do not automount the service account token unless necessary
  bitnami/gitea/Chart.yaml
  bitnami/gitea/README.md
  bitnami/gitea/values.yaml
Labels: verify, bitnami, gitea

#22013 [bitnami/fluentd] fix: :lock: Do not use the default service account
  bitnami/fluentd/Chart.yaml
  bitnami/fluentd/README.md
  bitnami/fluentd/values.yaml
Labels: verify, bitnami, fluentd

#21989 [bitnami/appsmith] fix: :lock: Do not mount service account token
  bitnami/appsmith/Chart.yaml
  bitnami/appsmith/README.md
  bitnami/appsmith/values.yaml
Labels: verify, bitnami, appsmith

#21988 [bitnami/airflow] fix: :lock: Do not use the default service account
  bitnami/airflow/Chart.yaml
  bitnami/airflow/README.md
  bitnami/airflow/values.yaml
Labels: verify, in-progress, airflow, bitnami

#22036 [bitnami/cassandra] fix: :lock: Do not automount the service account token unless necessary
  bitnami/cassandra/Chart.yaml
  bitnami/cassandra/README.md
  bitnami/cassandra/values.yaml
Labels: verify, bitnami, cassandra

#22063 [bitnami/spark] fix: :lock: Do not automount the service account token unless necessary
  bitnami/spark/Chart.yaml
  bitnami/spark/README.md
  bitnami/spark/values.yaml
Labels: verify, bitnami, spark

#22053 [bitnami/minio] fix: :lock: Do not automount the service account token unless necessary
  bitnami/minio/Chart.yaml
  bitnami/minio/README.md
  bitnami/minio/values.yaml
Labels: verify, bitnami, minio

#22052 [bitnami/mastodon] fix: :lock: Do not automount the service account token unless necessary
  bitnami/mastodon/Chart.yaml
  bitnami/mastodon/README.md
  bitnami/mastodon/values.yaml
Labels: verify, bitnami, mastodon

#22049 [bitnami/kibana] fix: :lock: Do not automount the service account token unless necessary
  bitnami/kibana/Chart.yaml
  bitnami/kibana/README.md
  bitnami/kibana/values.yaml
Labels: verify, bitnami, kibana

#22046 [bitnami/jaeger] fix: :lock: Do not automount the service account token unless necessary
  bitnami/jaeger/Chart.yaml
  bitnami/jaeger/README.md
  bitnami/jaeger/values.yaml
Labels: verify, bitnami, jaeger

#22044 [bitnami/haproxy] fix: :lock: Do not automount the service account token unless necessary
  bitnami/haproxy/Chart.yaml
  bitnami/haproxy/README.md
  bitnami/haproxy/values.yaml
Labels: verify, bitnami, haproxy

#22040 [bitnami/ghost] fix: :lock: Do not automount the service account token unless necessary
  bitnami/ghost/Chart.yaml
  bitnami/ghost/README.md
  bitnami/ghost/values.yaml
Labels: verify, bitnami, ghost

#22034 [bitnami/zookeeper] fix: :lock: Do not use the default service account
  bitnami/zookeeper/Chart.yaml
  bitnami/zookeeper/README.md
  bitnami/zookeeper/values.yaml
Labels: verify, bitnami, zookeeper

#22018 [bitnami/kafka] fix: :lock: Do not use the default service account
  bitnami/kafka/Chart.yaml
  bitnami/kafka/README.md
  bitnami/kafka/templates/_helpers.tpl
  bitnami/kafka/values.yaml
Labels: verify, kafka, bitnami

#22064 [bitnami/supabase] fix: :lock: Do not automount the service account token unless necessary
  bitnami/supabase/Chart.yaml
  bitnami/supabase/README.md
  bitnami/supabase/templates/_helpers.tpl
  bitnami/supabase/templates/jwt-init-job.yaml
  bitnami/supabase/values.yaml
Labels: verify, bitnami, supabase

#22004 [bitnami/rabbitmq-cluster-operator] Set default SecurityContext readOnlyRootFilesystem to true
  bitnami/rabbitmq-cluster-operator/Chart.yaml
  bitnami/rabbitmq-cluster-operator/README.md
  bitnami/rabbitmq-cluster-operator/values.yaml
Labels: verify, in-progress, rabbitmq-cluster-operator

#22061 [bitnami/schema-registry] fix: :lock: Do not automount the service account token unless necessary
  bitnami/schema-registry/Chart.yaml
  bitnami/schema-registry/README.md
  bitnami/schema-registry/values.yaml
Labels: verify, bitnami, schema-registry

#22055 [bitnami/mysql] fix: :lock: Do not automount the service account token unless necessary
  bitnami/mysql/Chart.yaml
  bitnami/mysql/README.md
  bitnami/mysql/values.yaml
Labels: verify, bitnami, mysql

#22038 [bitnami/drupal] fix: :lock: Do not automount the service account token unless necessary
  bitnami/drupal/Chart.yaml
  bitnami/drupal/README.md
  bitnami/drupal/values.yaml
Labels: verify, bitnami, drupal

#22030 [bitnami/solr] fix: :lock: Do not use the default service account
  bitnami/solr/Chart.yaml
  bitnami/solr/README.md
  bitnami/solr/values.yaml
Labels: verify, bitnami, solr

#22029 [bitnami/redis-cluster] fix: :lock: Do not use the default service account
  bitnami/redis-cluster/Chart.yaml
  bitnami/redis-cluster/README.md
  bitnami/redis-cluster/values.yaml
Labels: verify, bitnami, redis-cluster

#22027 [bitnami/postgresql-ha] fix: :lock: Do not use the default service account
  bitnami/postgresql-ha/Chart.yaml
  bitnami/postgresql-ha/README.md
  bitnami/postgresql-ha/values.yaml
Labels: verify, bitnami, postgresql-ha

#22008 [bitnami/etcd] fix: :lock: Do not use the default service account
  bitnami/etcd/Chart.yaml
  bitnami/etcd/README.md
  bitnami/etcd/values.yaml
Labels: verify, bitnami, etcd

#22007 [bitnami/elasticsearch] fix: :lock: Do not use the default service account
  bitnami/elasticsearch/Chart.yaml
  bitnami/elasticsearch/README.md
  bitnami/elasticsearch/templates/_helpers.tpl
  bitnami/elasticsearch/templates/metrics/deployment.yaml
  bitnami/elasticsearch/templates/metrics/serviceaccount.yaml
  bitnami/elasticsearch/values.yaml
Labels: verify, bitnami, elasticsearch

#21992 [bitnami/discourse] fix: :lock: Do not use the default service account
  bitnami/discourse/Chart.yaml
  bitnami/discourse/README.md
  bitnami/discourse/values.yaml
Labels: verify, in-progress, bitnami, discourse

#22043 [bitnami/grafana-mimir] fix: :lock: Do not automount the service account token unless necessary
  bitnami/grafana-mimir/Chart.yaml
  bitnami/grafana-mimir/README.md
  bitnami/grafana-mimir/values.yaml
Labels: verify, bitnami, grafana-mimir

#22037 [bitnami/clickhouse] fix: :lock: Do not automount the service account token unless necessary
  bitnami/clickhouse/Chart.yaml
  bitnami/clickhouse/README.md
  bitnami/clickhouse/values.yaml
Labels: verify, bitnami, clickhouse

#22035 [bitnami/aspnet-core] fix: :lock: Do not automount the service account token unless necessary
  bitnami/aspnet-core/Chart.yaml
  bitnami/aspnet-core/README.md
  bitnami/aspnet-core/values.yaml
Labels: verify, bitnami, aspnet-core

#22031 [bitnami/thanos] fix: :lock: Do not use the default service account
  bitnami/thanos/Chart.yaml
  bitnami/thanos/README.md
  bitnami/thanos/values.yaml
Labels: verify, bitnami, thanos

#22060 [bitnami/prometheus] fix: :lock: Do not automount the service account token unless necessary
  bitnami/prometheus/Chart.yaml
  bitnami/prometheus/README.md
  bitnami/prometheus/values.yaml
Labels: verify, bitnami, prometheus

#22059 [bitnami/parse] fix: :lock: Do not automount the service account token unless necessary
  bitnami/parse/Chart.yaml
  bitnami/parse/README.md
  bitnami/parse/values.yaml
Labels: verify, bitnami, parse

#22057 [bitnami/oauth2-proxy] fix: :lock: Do not automount the service account token unless necessary
  bitnami/oauth2-proxy/Chart.yaml
  bitnami/oauth2-proxy/README.md
  bitnami/oauth2-proxy/values.yaml
Labels: verify, bitnami, oauth2-proxy

#22050 [bitnami/kube-prometheus] fix: :lock: Do not automount the service account token unless necessary
  bitnami/kube-prometheus/Chart.yaml
  bitnami/kube-prometheus/README.md
  bitnami/kube-prometheus/values.yaml
Labels: verify, bitnami, kube-prometheus

#22022 [bitnami/mlflow] fix: :lock: Do not use the default service account
  bitnami/mlflow/Chart.yaml
  bitnami/mlflow/README.md
  bitnami/mlflow/values.yaml
Labels: verify, bitnami, mlflow

#21990 [bitnami/argo-workflows] fix: :lock: Do not use the default service account
  bitnami/argo-workflows/Chart.yaml
  bitnami/argo-workflows/README.md
  bitnami/argo-workflows/values.yaml
Labels: verify, in-progress, argo-workflows, bitnami

#22021 [bitnami/milvus] fix: :lock: Do not use the default service account
  bitnami/milvus/Chart.yaml
  bitnami/milvus/README.md
  bitnami/milvus/values.yaml
Labels: verify, bitnami, milvus

#22062 [bitnami/sonarqube] fix: :lock: Do not automount the service account token unless necessary
  bitnami/sonarqube/Chart.yaml
  bitnami/sonarqube/README.md
  bitnami/sonarqube/values.yaml
Labels: verify, bitnami, sonarqube

#22056 [bitnami/node-exporter] fix: :lock: Do not automount the service account token unless necessary
  bitnami/node-exporter/Chart.yaml
  bitnami/node-exporter/README.md
  bitnami/node-exporter/values.yaml
Labels: verify, bitnami, node-exporter

#22047 [bitnami/jupyterhub] fix: :lock: Do not automount the service account token unless necessary
  bitnami/jupyterhub/Chart.yaml
  bitnami/jupyterhub/README.md
  bitnami/jupyterhub/values.yaml
Labels: verify, bitnami, jupyterhub

#22032 [bitnami/wordpress] fix: :lock: Do not use the default service account
  bitnami/wordpress/Chart.yaml
  bitnami/wordpress/README.md
  bitnami/wordpress/values.yaml
Labels: verify, bitnami, wordpress

#22024 [bitnami/nginx] fix: :lock: Do not use the default service account
  bitnami/nginx/Chart.yaml
  bitnami/nginx/README.md
  bitnami/nginx/values.yaml
Labels: verify, nginx, bitnami

#22014 [bitnami/grafana-loki] fix: :lock: Do not use the default service account
  bitnami/grafana-loki/Chart.yaml
  bitnami/grafana-loki/README.md
  bitnami/grafana-loki/values.yaml
Labels: verify, bitnami, grafana-loki

#22054 [bitnami/mongodb] fix: :lock: Do not automount the service account token unless necessary
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/README.md
  bitnami/mongodb/templates/hidden/statefulset.yaml
  bitnami/mongodb/templates/replicaset/statefulset.yaml
  bitnami/mongodb/values.yaml
Labels: verify, bitnami, mongodb

#22051 [bitnami/logstash] fix: :lock: Do not automount the service account token unless necessary
  bitnami/logstash/Chart.yaml
  bitnami/logstash/README.md
  bitnami/logstash/values.yaml
Labels: verify, bitnami, logstash

#22045 [bitnami/influxdb] fix: :lock: Do not automount the service account token unless necessary
  bitnami/influxdb/Chart.yaml
  bitnami/influxdb/README.md
  bitnami/influxdb/values.yaml
Labels: verify, bitnami, influxdb

#22028 [bitnami/redis] fix: :lock: Do not use the default service account
  .vib/redis/goss/goss.yaml
  .vib/redis/runtime-parameters.yaml
  bitnami/redis/Chart.yaml
  bitnami/redis/README.md
  bitnami/redis/values.yaml
Labels: verify, bitnami, redis

#21893 [bitnami/opensearch] Remove mention of Kibana subhcart from README.md
  bitnami/opensearch/Chart.yaml
  bitnami/opensearch/README.md
  bitnami/opensearch/templates/_helpers.tpl
Labels: verify, in-progress, opensearch

#21986 [bitnami/apisix] fix: :lock: Do not mount service account token unless necessary
  bitnami/apisix/Chart.yaml
  bitnami/apisix/README.md
  bitnami/apisix/values.yaml
Labels: verify, in-progress, bitnami, apisix

#21991 [bitnami/deepspeed] fix: :lock: Do not use the default service account
  .vib/deepspeed/runtime-parameters.yaml
  bitnami/deepspeed/Chart.yaml
  bitnami/deepspeed/README.md
  bitnami/deepspeed/values.yaml
Labels: verify, bitnami, deepspeed

#22206 [bitnami/supabase] Update supabase storage image
  bitnami/supabase/Chart.yaml
  bitnami/supabase/values.yaml
Labels: verify, bitnami, supabase

#22190 [bitnami/sonarqube] fix: :lock: Improve podSecurityContext and containerSecurityContext with essential security fields
  bitnami/sonarqube/Chart.yaml
  bitnami/sonarqube/README.md
  bitnami/sonarqube/values.yaml
Labels: verify, in-progress, bitnami

#22117 [bitnami/flink] fix: :lock: Improve podSecurityContext and containerSecurityContext with essential security fields
  bitnami/flink/Chart.yaml
  bitnami/flink/README.md
  bitnami/flink/values.yaml
Labels: verify, bitnami, flink

#22126 [bitnami/grafana-operator] fix: :lock: Improve podSecurityContext and containerSecurityContext with essential security fields
  bitnami/grafana-operator/Chart.yaml
  bitnami/grafana-operator/README.md
  bitnami/grafana-operator/values.yaml
Labels: verify, bitnami, grafana-operator

#22115 [bitnami/etcd] fix: :lock: Improve podSecurityContext and containerSecurityContext with essential security fields
  bitnami/etcd/Chart.yaml
  bitnami/etcd/README.md
  bitnami/etcd/values.yaml
Labels: verify, bitnami, etcd

#22112 [bitnami/drupal] fix: :lock: Improve podSecurityContext and containerSecurityContext with essential security fields
  bitnami/drupal/Chart.yaml
  bitnami/drupal/README.md
  bitnami/drupal/values.yaml
Labels: verify, bitnami, drupal

#22200 [bitnami/wordpress] fix: :lock: Improve podSecurityContext and containerSecurityContext with essential security fields
  bitnami/wordpress/Chart.yaml
  bitnami/wordpress/README.md
  bitnami/wordpress/values.yaml
Labels: verify, in-progress, bitnami

#22198 [bitnami/whereabouts] fix: :lock: Improve podSecurityContext and containerSecurityContext with essential security fields
  bitnami/whereabouts/Chart.yaml
  bitnami/whereabouts/README.md
  bitnami/whereabouts/values.yaml
Labels: verify, in-progress, bitnami

#22197 [bitnami/vault] fix: :lock: Improve podSecurityContext and containerSecurityContext with essential security fields
  bitnami/vault/Chart.yaml
  bitnami/vault/README.md
  bitnami/vault/values.yaml
Labels: verify, in-progress, bitnami

#22154 [bitnami/metallb] fix: :lock: Improve podSecurityContext and containerSecurityContext with essential security fields
  bitnami/metallb/Chart.yaml
  bitnami/metallb/README.md
  bitnami/metallb/values.yaml
Labels: verify, in-progress, bitnami, metallb

#22144 [bitnami/kuberay] fix: :lock: Improve podSecurityContext and containerSecurityContext with essential security fields
  bitnami/kuberay/Chart.yaml
  bitnami/kuberay/README.md
  bitnami/kuberay/values.yaml
Labels: verify, in-progress, bitnami, kuberay

#22140 [bitnami/kong] fix: :lock: Improve podSecurityContext and containerSecurityContext with essential security fields
  bitnami/kong/Chart.yaml
  bitnami/kong/README.md
  bitnami/kong/values.yaml
Labels: verify, in-progress, bitnami, kong

#22124 [bitnami/grafana-loki] fix: :lock: Improve podSecurityContext and containerSecurityContext with essential security fields
  bitnami/grafana-loki/Chart.yaml
  bitnami/grafana-loki/README.md
  bitnami/grafana-loki/values.yaml
Labels: verify, bitnami, grafana-loki

#22122 [bitnami/gitea] fix: :lock: Improve podSecurityContext and containerSecurityContext with essential security fields
  bitnami/gitea/Chart.yaml
  bitnami/gitea/README.md
  bitnami/gitea/values.yaml
Labels: verify, bitnami, gitea

#22109 [bitnami/deepspeed] fix: :lock: Improve podSecurityContext and containerSecurityContext with essential security fields
  bitnami/deepspeed/Chart.yaml
  bitnami/deepspeed/README.md
  bitnami/deepspeed/values.yaml
Labels: verify, bitnami, deepspeed

#22101 [bitnami/argo-workflows] fix: :lock: Improve podSecurityContext and containerSecurityContext with essential security fields
  bitnami/argo-workflows/Chart.yaml
  bitnami/argo-workflows/README.md
  bitnami/argo-workflows/values.yaml
Labels: verify, argo-workflows, bitnami

#21891 [bitnami/rabbitmq] Add auth.existingSecret to support external sealed secrets
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/README.md
  bitnami/rabbitmq/templates/_helpers.tpl
  bitnami/rabbitmq/templates/secrets.yaml
  bitnami/rabbitmq/templates/statefulset.yaml
  bitnami/rabbitmq/values.yaml
Labels: verify, in-progress, rabbitmq

#22201 [bitnami/zookeeper] fix: :lock: Improve podSecurityContext and containerSecurityContext with essential security fields
  bitnami/zookeeper/Chart.yaml
  bitnami/zookeeper/README.md
  bitnami/zookeeper/values.yaml
Labels: verify, in-progress, bitnami

#22193 [bitnami/supabase] fix: :lock: Improve podSecurityContext and containerSecurityContext with essential security fields
  bitnami/supabase/Chart.yaml
  bitnami/supabase/README.md
  bitnami/supabase/values.yaml
Labels: verify, in-progress, bitnami, supabase

#22186 [bitnami/redmine] fix: :lock: Improve podSecurityContext and containerSecurityContext with essential security fields
  bitnami/redmine/Chart.yaml
  bitnami/redmine/README.md
  bitnami/redmine/values.yaml
Labels: verify, in-progress, bitnami

#22174 [bitnami/phpbb] fix: :lock: Improve podSecurityContext and containerSecurityContext with essential security fields
  bitnami/phpbb/Chart.yaml
  bitnami/phpbb/README.md
  bitnami/phpbb/values.yaml
Labels: verify, in-progress, bitnami

#22171 [bitnami/opensearch] fix: :lock: Improve podSecurityContext and containerSecurityContext with essential security fields
  bitnami/opensearch/Chart.yaml
  bitnami/opensearch/README.md
  bitnami/opensearch/values.yaml
Labels: verify, in-progress, bitnami

#22161 [bitnami/moodle] fix: :lock: Improve podSecurityContext and containerSecurityContext with essential security fields
  bitnami/moodle/Chart.yaml
  bitnami/moodle/README.md
  bitnami/moodle/values.yaml
Labels: verify, in-progress, bitnami

#22156 [bitnami/milvus] fix: :lock: Improve podSecurityContext and containerSecurityContext with essential security fields
  bitnami/milvus/Chart.yaml
  bitnami/milvus/README.md
  bitnami/milvus/values.yaml
Labels: verify, in-progress, bitnami, milvus

#22153 [bitnami/memcached] fix: :lock: Improve podSecurityContext and containerSecurityContext with essential security fields
  bitnami/memcached/Chart.yaml
  bitnami/memcached/README.md
  bitnami/memcached/values.yaml
Labels: verify, in-progress, bitnami, memcached

#22147 [bitnami/magento] fix: :lock: Improve podSecurityContext and containerSecurityContext with essential security fields
  bitnami/magento/Chart.yaml
  bitnami/magento/README.md
  bitnami/magento/values.yaml
Labels: verify, in-progress, magento, bitnami

#22118 [bitnami/fluent-bit] fix: :lock: Improve podSecurityContext and containerSecurityContext with essential security fields
  bitnami/fluent-bit/Chart.yaml
  bitnami/fluent-bit/README.md
  bitnami/fluent-bit/values.yaml
Labels: verify, bitnami, fluent-bit

#22106 [bitnami/concourse] fix: :lock: Improve podSecurityContext and containerSecurityContext with essential security fields
  bitnami/concourse/Chart.yaml
  bitnami/concourse/README.md
  bitnami/concourse/values.yaml
Labels: verify, bitnami, concourse

#22096 [bitnami/airflow] fix: :lock: Improve podSecurityContext and containerSecurityContext with essential security fields
  bitnami/airflow/Chart.yaml
  bitnami/airflow/README.md
  bitnami/airflow/values.yaml
Labels: verify, airflow, bitnami

#22150 [bitnami/mastodon] fix: :lock: Improve podSecurityContext and containerSecurityContext with essential security fields
  bitnami/mastodon/Chart.yaml
  bitnami/mastodon/README.md
  bitnami/mastodon/values.yaml
Labels: verify, in-progress, bitnami, mastodon

#22179 [bitnami/prestashop] fix: :lock: Improve podSecurityContext and containerSecurityContext with essential security fields
  bitnami/prestashop/Chart.yaml
  bitnami/prestashop/README.md
  bitnami/prestashop/values.yaml
Labels: verify, in-progress, prestashop, bitnami

#22178 [bitnami/postgresql-ha] fix: :lock: Improve podSecurityContext and containerSecurityContext with essential security fields
  bitnami/postgresql-ha/Chart.yaml
  bitnami/postgresql-ha/README.md
  bitnami/postgresql-ha/values.yaml
Labels: verify, in-progress, bitnami

#22173 [bitnami/parse] fix: :lock: Improve podSecurityContext and containerSecurityContext with essential security fields
  bitnami/parse/Chart.yaml
  bitnami/parse/README.md
  bitnami/parse/values.yaml
Labels: verify, in-progress, bitnami

#22162 [bitnami/multus-cni] fix: :lock: Improve podSecurityContext and containerSecurityContext with essential security fields
  bitnami/multus-cni/Chart.yaml
  bitnami/multus-cni/README.md
  bitnami/multus-cni/values.yaml
Labels: verify, in-progress, bitnami

#22160 [bitnami/mongodb-sharded] fix: :lock: Improve podSecurityContext and containerSecurityContext with essential security fields
  bitnami/mongodb-sharded/Chart.yaml
  bitnami/mongodb-sharded/README.md
  bitnami/mongodb-sharded/values.yaml
Labels: verify, in-progress, bitnami

#22158 [bitnami/mlflow] fix: :lock: Improve podSecurityContext and containerSecurityContext with essential security fields
  bitnami/mlflow/Chart.yaml
  bitnami/mlflow/README.md
  bitnami/mlflow/values.yaml
Labels: verify, in-progress, bitnami

#22151 [bitnami/matomo] fix: :lock: Improve podSecurityContext and containerSecurityContext with essential security fields
  bitnami/matomo/Chart.yaml
  bitnami/matomo/README.md
  bitnami/matomo/values.yaml
Labels: verify, in-progress, matomo

#22139 [bitnami/kibana] fix: :lock: Improve podSecurityContext and containerSecurityContext with essential security fields
  bitnami/kibana/Chart.yaml
  bitnami/kibana/README.md
  bitnami/kibana/values.yaml
Labels: verify, in-progress, bitnami, kibana

#22138 [bitnami/kiam] fix: :lock: Improve podSecurityContext and containerSecurityContext with essential security fields
  bitnami/kiam/Chart.yaml
  bitnami/kiam/README.md
  bitnami/kiam/values.yaml
Labels: verify, in-progress, bitnami, kiam

#22119 [bitnami/fluentd] fix: :lock: Improve podSecurityContext and containerSecurityContext with essential security fields
  bitnami/fluentd/Chart.yaml
  bitnami/fluentd/README.md
  bitnami/fluentd/values.yaml
Labels: verify, bitnami, fluentd

#22107 [bitnami/consul] fix: :lock: Improve podSecurityContext and containerSecurityContext with essential security fields
  bitnami/consul/Chart.yaml
  bitnami/consul/README.md
  bitnami/consul/values.yaml
Labels: verify, bitnami, consul

#22104 [bitnami/cert-manager] fix: :lock: Improve podSecurityContext and containerSecurityContext with essential security fields
  bitnami/cert-manager/Chart.yaml
  bitnami/cert-manager/README.md
  bitnami/cert-manager/values.yaml
Labels: verify, bitnami, cert-manager

#22103 [bitnami/cassandra] fix: :lock: Improve podSecurityContext and containerSecurityContext with essential security fields
  bitnami/cassandra/Chart.yaml
  bitnami/cassandra/README.md
  bitnami/cassandra/values.yaml
Labels: verify, bitnami, cassandra

#22224 [bitnami/apisix] feat: :lock: Allow limit access to secrets by namespace
  bitnami/apisix/Chart.yaml
  bitnami/apisix/README.md
  bitnami/apisix/templates/NOTES.txt
  bitnami/apisix/templates/ingress-controller/clusterroles.yaml
  bitnami/apisix/templates/ingress-controller/secret-namespaced-rbac.yaml
  bitnami/apisix/values.yaml
Labels: verify, bitnami, apisix

#22196 [bitnami/tomcat] fix: :lock: Improve podSecurityContext and containerSecurityContext with essential security fields
  bitnami/tomcat/Chart.yaml
  bitnami/tomcat/README.md
  bitnami/tomcat/values.yaml
Labels: verify, in-progress, bitnami

#22155 [bitnami/metrics-server] fix: :lock: Improve podSecurityContext and containerSecurityContext with essential security fields
  bitnami/metrics-server/Chart.yaml
  bitnami/metrics-server/README.md
  bitnami/metrics-server/values.yaml
Labels: verify, in-progress, bitnami, metrics-server

#22170 [bitnami/opencart] fix: :lock: Improve podSecurityContext and containerSecurityContext with essential security fields
  bitnami/opencart/Chart.yaml
  bitnami/opencart/README.md
  bitnami/opencart/values.yaml
Labels: verify, in-progress, bitnami

#22165 [bitnami/nginx] fix: :lock: Improve podSecurityContext and containerSecurityContext with essential security fields
  bitnami/nginx/Chart.yaml
  bitnami/nginx/README.md
  bitnami/nginx/values.yaml
Labels: verify, in-progress, nginx, bitnami

#22113 [bitnami/ejbca] fix: :lock: Improve podSecurityContext and containerSecurityContext with essential security fields
  bitnami/ejbca/Chart.yaml
  bitnami/ejbca/README.md
  bitnami/ejbca/values.yaml
Labels: verify, bitnami, ejbca

#22099 [bitnami/appsmith] fix: :lock: Improve podSecurityContext and containerSecurityContext with essential security fields
  bitnami/appsmith/Chart.yaml
  bitnami/appsmith/README.md
  bitnami/appsmith/values.yaml
Labels: verify, bitnami, appsmith

#22130 [bitnami/influxdb] fix: :lock: Improve podSecurityContext and containerSecurityContext with essential security fields
  bitnami/influxdb/Chart.yaml
  bitnami/influxdb/README.md
  bitnami/influxdb/values.yaml
Labels: verify, in-progress, bitnami, influxdb

#22128 [bitnami/haproxy] fix: :lock: Improve podSecurityContext and containerSecurityContext with essential security fields
  bitnami/haproxy/Chart.yaml
  bitnami/haproxy/README.md
  bitnami/haproxy/values.yaml
Labels: verify, bitnami, haproxy

#22127 [bitnami/grafana-tempo] fix: :lock: Improve podSecurityContext and containerSecurityContext with essential security fields
  bitnami/grafana-tempo/Chart.yaml
  bitnami/grafana-tempo/README.md
  bitnami/grafana-tempo/values.yaml
Labels: verify, bitnami, grafana-tempo

#22111 [bitnami/dokuwiki] fix: :lock: Improve podSecurityContext and containerSecurityContext with essential security fields
  bitnami/dokuwiki/Chart.yaml
  bitnami/dokuwiki/README.md
  bitnami/dokuwiki/values.yaml
Labels: verify, bitnami, dokuwiki

#22191 [bitnami/spark] fix: :lock: Improve podSecurityContext and containerSecurityContext with essential security fields
  bitnami/spark/Chart.yaml
  bitnami/spark/README.md
  bitnami/spark/values.yaml
Labels: verify, in-progress, bitnami

#22164 [bitnami/nats] fix: :lock: Improve podSecurityContext and containerSecurityContext with essential security fields
  bitnami/nats/Chart.yaml
  bitnami/nats/README.md
  bitnami/nats/values.yaml
Labels: verify, in-progress, bitnami

#22114 [bitnami/elasticsearch] fix: :lock: Improve podSecurityContext and containerSecurityContext with essential security fields
  bitnami/elasticsearch/Chart.yaml
  bitnami/elasticsearch/README.md
  bitnami/elasticsearch/values.yaml
Labels: verify, bitnami, elasticsearch

#22110 [bitnami/discourse] fix: :lock: Improve podSecurityContext and containerSecurityContext with essential security fields
  bitnami/discourse/Chart.yaml
  bitnami/discourse/README.md
  bitnami/discourse/values.yaml
Labels: verify, bitnami, discourse

#22187 [bitnami/schema-registry] fix: :lock: Improve podSecurityContext and containerSecurityContext with essential security fields
  bitnami/schema-registry/Chart.yaml
  bitnami/schema-registry/README.md
  bitnami/schema-registry/values.yaml
Labels: verify, in-progress, bitnami

#22157 [bitnami/minio] fix: :lock: Improve podSecurityContext and containerSecurityContext with essential security fields
  bitnami/minio/Chart.yaml
  bitnami/minio/README.md
  bitnami/minio/values.yaml
Labels: verify, in-progress, bitnami

#22146 [bitnami/logstash] fix: :lock: Improve podSecurityContext and containerSecurityContext with essential security fields
  bitnami/logstash/Chart.yaml
  bitnami/logstash/README.md
  bitnami/logstash/values.yaml
Labels: verify, in-progress, bitnami, logstash

#22135 [bitnami/jupyterhub] fix: :lock: Improve podSecurityContext and containerSecurityContext with essential security fields
  bitnami/jupyterhub/Chart.yaml
  bitnami/jupyterhub/README.md
  bitnami/jupyterhub/values.yaml
Labels: verify, in-progress, bitnami, jupyterhub
