Repository bitnami/charts, pull requests merged in 2024-04, with the labels that each got.

#24751 [bitnami/mongodb] Fix invalid secret pointer in MongoDB ServiceAccount
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/templates/serviceaccount.yaml
Labels: verify, in-progress, mongodb

#24730 bitnami/redis: allow to set containerSecurityContext on kubectl container to fix issue e.g. with OpenShift
  bitnami/redis/Chart.yaml
  bitnami/redis/README.md
  bitnami/redis/templates/sentinel/statefulset.yaml
  bitnami/redis/values.yaml
Labels: verify, in-progress, redis

#24625 [bitnami/postgresql] Allow customizing primary persistence volume/claim
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/README.md
  bitnami/postgresql/templates/primary/statefulset.yaml
  bitnami/postgresql/values.yaml
Labels: verify, in-progress, postgresql

#24707 [bitnami/kube-prometheus] Add missing cluster roles
  bitnami/kube-prometheus/Chart.yaml
  bitnami/kube-prometheus/templates/prometheus-operator/clusterrole.yaml
Labels: verify, in-progress, kube-prometheus

#24684 [bitnami/kube-prometheus]: update deprecated node-exporter args
  bitnami/kube-prometheus/Chart.yaml
  bitnami/kube-prometheus/values.yaml
Labels: verify, in-progress, kube-prometheus

#24759 chore: Add security improvements, openshift & resource presets to chart template
  template/CHART_NAME/templates/daemonset.yaml
  template/CHART_NAME/templates/deployment.yaml
  template/CHART_NAME/templates/networkpolicy.yaml
  template/CHART_NAME/templates/statefulset.yaml
  template/CHART_NAME/values.yaml
Labels: verify, bitnami

#24544 [bitnami/keycloak] Avoid initContainer execution with 3rd party Keycloak images
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/README.md
  bitnami/keycloak/templates/statefulset.yaml
  bitnami/keycloak/values.yaml
Labels: verify, in-progress, keycloak

#24716 [bitnami/tomcat] feat!: :lock: :boom: Improve security defaults
  bitnami/tomcat/Chart.lock
  bitnami/tomcat/Chart.yaml
  bitnami/tomcat/README.md
  bitnami/tomcat/templates/_pod.tpl
  bitnami/tomcat/templates/networkpolicy.yaml
  bitnami/tomcat/values.yaml
Labels: verify, bitnami, tomcat

#24687 [bitnami/schema-registry] feat!: :lock: :boom: Improve security defaults
  bitnami/schema-registry/Chart.lock
  bitnami/schema-registry/Chart.yaml
  bitnami/schema-registry/README.md
  bitnami/schema-registry/values.yaml
Labels: verify, bitnami, schema-registry

#24685 [bitnami/mlflow] feat!: :lock: :boom: Improve security defaults
  .vib/mlflow/vib-verify.json
  bitnami/mlflow/Chart.lock
  bitnami/mlflow/Chart.yaml
  bitnami/mlflow/README.md
  bitnami/mlflow/values.yaml
Labels: verify, bitnami, mlflow

#24669 [bitnami/solr] feat!: :lock: :boom: Improve security defaults
  bitnami/solr/Chart.lock
  bitnami/solr/Chart.yaml
  bitnami/solr/README.md
  bitnami/solr/templates/metrics-deployment.yaml
  bitnami/solr/templates/statefulset.yaml
  bitnami/solr/values.yaml
Labels: verify, bitnami, solr

#24647 [bitnami/grafana-operator] feat!: :lock: :boom: Improve security defaults
  bitnami/grafana-operator/Chart.yaml
  bitnami/grafana-operator/README.md
  bitnami/grafana-operator/values.yaml
Labels: verify, bitnami, grafana-operator

#24541 [bitnami/concourse] feat!: :lock: :boom: Improve security defaults
  .vib/concourse/goss/web/goss.yaml
  .vib/concourse/goss/worker/goss.yaml
  .vib/concourse/runtime-parameters.yaml
  bitnami/concourse/Chart.lock
  bitnami/concourse/Chart.yaml
  bitnami/concourse/README.md
  bitnami/concourse/templates/web/deployment.yaml
  bitnami/concourse/templates/worker/deployment.yaml
  bitnami/concourse/templates/worker/statefulset.yaml
  bitnami/concourse/values.yaml
Labels: verify, bitnami, concourse

#24654 [bitnami/jenkins] feat!: :lock: :boom: Improve security defaults
  bitnami/jenkins/Chart.yaml
  bitnami/jenkins/README.md
  bitnami/jenkins/templates/role.yaml
  bitnami/jenkins/values.yaml
Labels: verify, jenkins, bitnami

#24391 [bitnami/kafka] Register targetPod in global context
  bitnami/kafka/Chart.yaml
  bitnami/kafka/README.md
  bitnami/kafka/templates/broker/svc-external-access.yaml
  bitnami/kafka/templates/controller-eligible/svc-external-access.yaml
Labels: verify, kafka, bitnami

#24569 [bitnami/keycloak] Apply the openshift-compatibility fix also to the init-pod of Keycloak
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/templates/statefulset.yaml
Labels: verify, in-progress, keycloak

#24763 bitnami/kibana - Adapt the securityContext also for the init container
  bitnami/kibana/Chart.yaml
  bitnami/kibana/templates/deployment.yaml
Labels: verify, in-progress, kibana

#24675 [bitnami/node-exporter] fix: :bug: Set seLinuxOptions to {}
  bitnami/node-exporter/Chart.yaml
  bitnami/node-exporter/README.md
  bitnami/node-exporter/values.yaml
Labels: verify, bitnami, node-exporter

#24768 [bitnami/mastodon] feat!: :lock: :boom: Improve security defaults
  bitnami/mastodon/Chart.lock
  bitnami/mastodon/Chart.yaml
  bitnami/mastodon/README.md
  bitnami/mastodon/values.yaml
Labels: verify, bitnami, mastodon

#24686 [bitnami/oauth2-proxy] feat!: :lock: :boom: Improve security defaults
  bitnami/oauth2-proxy/Chart.lock
  bitnami/oauth2-proxy/Chart.yaml
  bitnami/oauth2-proxy/README.md
  bitnami/oauth2-proxy/values.yaml
Labels: verify, bitnami, oauth2-proxy

#24750 [bitnami/rabbitmq] Fix invalid secret pointer in RabbitMQ ServiceAccount
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/templates/serviceaccount.yaml
Labels: verify, in-progress, rabbitmq

#24648 [bitnami/harbor] feat!: :lock: :boom: Improve security defaults
  bitnami/harbor/Chart.lock
  bitnami/harbor/Chart.yaml
  bitnami/harbor/README.md
  bitnami/harbor/templates/nginx/deployment.yaml
  bitnami/harbor/templates/nginx/networkpolicy.yaml
  bitnami/harbor/values.yaml
Labels: verify, bitnami, harbor

#24715 [bitnami/thanos] feat!: :lock: :boom: Improve security defaults
  bitnami/thanos/Chart.lock
  bitnami/thanos/Chart.yaml
  bitnami/thanos/README.md
  bitnami/thanos/values.yaml
Labels: verify, bitnami, thanos

#24774 [bitnami/phpbb] feat!: :lock: :boom: Improve security defaults
  bitnami/phpbb/Chart.lock
  bitnami/phpbb/Chart.yaml
  bitnami/phpbb/README.md
  bitnami/phpbb/templates/deployment.yaml
  bitnami/phpbb/templates/networkpolicy-backend-ingress.yaml
  bitnami/phpbb/templates/networkpolicy-egress.yaml
  bitnami/phpbb/templates/networkpolicy-ingress.yaml
  bitnami/phpbb/templates/networkpolicy.yaml
  bitnami/phpbb/values.yaml
Labels: verify, bitnami, phpbb

#24667 [bitnami/postgresql] fix: :bug: Always mount data directory
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/templates/primary/statefulset.yaml
  bitnami/postgresql/templates/read/statefulset.yaml
Labels: verify, postgresql, bitnami

#24690 [bitnami/zookeeper] Add revisionHistoryLimit variable for statefulset
  bitnami/zookeeper/Chart.yaml
  bitnami/zookeeper/README.md
  bitnami/zookeeper/templates/statefulset.yaml
  bitnami/zookeeper/values.yaml
Labels: verify, in-progress, zookeeper

#24688 [bitnami/sonarqube] feat!: :lock: :boom: Improve security defaults
  .vib/sonarqube/vib-verify.json
  bitnami/sonarqube/Chart.lock
  bitnami/sonarqube/Chart.yaml
  bitnami/sonarqube/README.md
  bitnami/sonarqube/templates/deployment.yaml
  bitnami/sonarqube/values.yaml
Labels: verify, bitnami, sonarqube

#24674 [bitnami/kube-prometheus] feat!: :lock: :boom: Improve security defaults
  bitnami/kube-prometheus/Chart.lock
  bitnami/kube-prometheus/Chart.yaml
  bitnami/kube-prometheus/README.md
  bitnami/kube-prometheus/values.yaml
Labels: verify, bitnami

#24646 [bitnami/gitea] feat!: :lock: :boom: Improve security defaults
  bitnami/gitea/Chart.lock
  bitnami/gitea/Chart.yaml
  bitnami/gitea/README.md
  bitnami/gitea/templates/deployment.yaml
  bitnami/gitea/templates/networkpolicy.yaml
  bitnami/gitea/values.yaml
Labels: verify, bitnami, gitea

#24828 [bitnami/phpbb] Update MariaDB to branch 11.3
  bitnami/phpbb/Chart.lock
  bitnami/phpbb/Chart.yaml
  bitnami/phpbb/README.md
Labels: verify, bitnami, phpbb

#24829 [bitnami/phpmyadmin] Update MariaDB to branch 11.3
  bitnami/phpmyadmin/Chart.lock
  bitnami/phpmyadmin/Chart.yaml
  bitnami/phpmyadmin/README.md
Labels: verify, bitnami, phpmyadmin

#24835 [bitnami/elasticsearch] fix: :bug: Remove / from copy-default-plugins
  bitnami/elasticsearch/Chart.yaml
  bitnami/elasticsearch/templates/data/statefulset.yaml
  bitnami/elasticsearch/templates/ingest/statefulset.yaml
  bitnami/elasticsearch/templates/master/statefulset.yaml
Labels: verify, bitnami, elasticsearch

#24819 [bitnami/ejbca] Update MariaDB to branch 11.3
  bitnami/ejbca/Chart.lock
  bitnami/ejbca/Chart.yaml
  bitnami/ejbca/README.md
Labels: verify, bitnami, ejbca

#24456 [bitnami/thanos] fix: use https for queryURL when ingress is tls
  bitnami/thanos/Chart.yaml
  bitnami/thanos/templates/_helpers.tpl
  bitnami/thanos/templates/query/deployment.yaml
Labels: verify, in-progress, thanos

#24831 [bitnami/wordpress] Update MariaDB to branch 11.3
  bitnami/wordpress/Chart.lock
  bitnami/wordpress/Chart.yaml
  bitnami/wordpress/README.md
Labels: verify, bitnami, wordpress

#24773 [bitnami/opencart] feat!: :lock: :boom: Improve security defaults
  bitnami/opencart/Chart.lock
  bitnami/opencart/Chart.yaml
  bitnami/opencart/README.md
  bitnami/opencart/templates/deployment.yaml
  bitnami/opencart/templates/networkpolicy-backend-ingress.yaml
  bitnami/opencart/templates/networkpolicy-egress.yaml
  bitnami/opencart/templates/networkpolicy-ingress.yaml
  bitnami/opencart/templates/networkpolicy.yaml
  bitnami/opencart/values.yaml
Labels: verify, bitnami, opencart

#24655 [bitnami/thanos]Fix: Make prometheus rules reliable with release name
  bitnami/thanos/Chart.yaml
  bitnami/thanos/templates/alert-rule/absent_rules.yml
  bitnami/thanos/templates/alert-rule/compaction.yml
  bitnami/thanos/templates/alert-rule/query.yml
  bitnami/thanos/templates/alert-rule/receive.yml
  bitnami/thanos/templates/alert-rule/replicate.yml
  bitnami/thanos/templates/alert-rule/ruler.yml
Labels: verify, in-progress, thanos

#24466 [bitnami/nats] Fix readiness probe endpoint (#24360)
  bitnami/nats/Chart.yaml
  bitnami/nats/templates/deployment.yaml
Labels: verify, in-progress, nats

#24719 [bitnami/wildfly] feat!: :lock: :boom: Improve security defaults
  .vib/wildfly/goss/goss.yaml
  .vib/wildfly/vib-verify.json
  bitnami/wildfly/Chart.lock
  bitnami/wildfly/Chart.yaml
  bitnami/wildfly/README.md
  bitnami/wildfly/templates/_helpers.tpl
  bitnami/wildfly/templates/deployment.yaml
  bitnami/wildfly/templates/serviceaccount.yaml
  bitnami/wildfly/values.yaml
Labels: verify, bitnami, wildfly

#24714 [bitnami/spring-cloud-dataflow] feat!: :lock: :boom: Improve security defaults
  bitnami/spring-cloud-dataflow/Chart.lock
  bitnami/spring-cloud-dataflow/Chart.yaml
  bitnami/spring-cloud-dataflow/README.md
  bitnami/spring-cloud-dataflow/templates/server/configmap.yaml
  bitnami/spring-cloud-dataflow/templates/skipper/configmap.yaml
  bitnami/spring-cloud-dataflow/values.yaml
Labels: verify, bitnami, spring-cloud-dataflow

#24769 [bitnami/drupal] feat!: :lock: :boom: Improve security defaults
  bitnami/drupal/Chart.lock
  bitnami/drupal/Chart.yaml
  bitnami/drupal/README.md
  bitnami/drupal/templates/deployment.yaml
  bitnami/drupal/templates/networkpolicy-backend-ingress.yaml
  bitnami/drupal/templates/networkpolicy-egress.yaml
  bitnami/drupal/templates/networkpolicy-ingress.yaml
  bitnami/drupal/templates/networkpolicy.yaml
  bitnami/drupal/values.yaml
Labels: verify, bitnami, drupal

#24771 [bitnami/mediawiki] feat!: :lock: :boom: Improve security defaults
  bitnami/mediawiki/Chart.lock
  bitnami/mediawiki/Chart.yaml
  bitnami/mediawiki/README.md
  bitnami/mediawiki/templates/deployment.yaml
  bitnami/mediawiki/templates/networkpolicy-backend-ingress.yaml
  bitnami/mediawiki/templates/networkpolicy-egress.yaml
  bitnami/mediawiki/templates/networkpolicy-ingress.yaml
  bitnami/mediawiki/templates/networkpolicy.yaml
  bitnami/mediawiki/templates/svc.yaml
  bitnami/mediawiki/values.yaml
Labels: verify, bitnami, mediawiki

#24833 [bitnami/moodle] feat!: :lock: :boom: Improve security defaults
  bitnami/moodle/Chart.lock
  bitnami/moodle/Chart.yaml
  bitnami/moodle/README.md
  bitnami/moodle/templates/deployment.yaml
  bitnami/moodle/templates/networkpolicy-backend-ingress.yaml
  bitnami/moodle/templates/networkpolicy-egress.yaml
  bitnami/moodle/templates/networkpolicy-ingress.yaml
  bitnami/moodle/templates/networkpolicy.yaml
  bitnami/moodle/values.yaml
Labels: verify, moodle, bitnami

#24839 [bitnami/rabbitmq-cluster-operator] feat: add revisionHistoryLimit
  bitnami/rabbitmq-cluster-operator/Chart.yaml
  bitnami/rabbitmq-cluster-operator/README.md
  bitnami/rabbitmq-cluster-operator/templates/cluster-operator/deployment.yaml
  bitnami/rabbitmq-cluster-operator/templates/messaging-topology-operator/deployment.yaml
  bitnami/rabbitmq-cluster-operator/values.yaml
Labels: verify, in-progress, rabbitmq-cluster-operator

#24821 [bitnami/joomla] feat!: :lock: :boom: Improve security defaults
  bitnami/joomla/Chart.lock
  bitnami/joomla/Chart.yaml
  bitnami/joomla/README.md
  bitnami/joomla/templates/deployment.yaml
  bitnami/joomla/templates/networkpolicy-backend-ingress.yaml
  bitnami/joomla/templates/networkpolicy-egress.yaml
  bitnami/joomla/templates/networkpolicy-ingress.yaml
  bitnami/joomla/templates/networkpolicy.yaml
  bitnami/joomla/values.yaml
Labels: verify, bitnami, joomla

#24847 [bitnami/grafana-mimir] Increase test timeout
  .vib/grafana-mimir/goss/goss.yaml
Labels: verify, bitnami

#24851 [bitnami/sonarqube] fix base dir preparation
  bitnami/sonarqube/Chart.yaml
  bitnami/sonarqube/README.md
  bitnami/sonarqube/templates/deployment.yaml
  bitnami/sonarqube/values.yaml
Labels: verify, bitnami, sonarqube

#24671 [bitnami/keycloak] feat!: :lock: :boom: Improve security defaults
  bitnami/keycloak/Chart.lock
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/README.md
  bitnami/keycloak/values.yaml
Labels: verify, keycloak, bitnami

#24852 [bitnami/*] Readme typos
  bitnami/apache/README.md
  bitnami/apache/values.yaml
  bitnami/appsmith/README.md
  bitnami/appsmith/values.yaml
  bitnami/consul/README.md
  bitnami/consul/values.yaml
  bitnami/dokuwiki/README.md
  bitnami/dokuwiki/values.yaml
  bitnami/drupal/README.md
  bitnami/drupal/values.yaml
  bitnami/ejbca/README.md
  bitnami/ejbca/values.yaml
  bitnami/kibana/README.md
  bitnami/kibana/values.yaml
  bitnami/kube-prometheus/README.md
  bitnami/kube-prometheus/values.yaml
  bitnami/logstash/README.md
  bitnami/logstash/values.yaml
  bitnami/magento/README.md
  bitnami/magento/values.yaml
  bitnami/mastodon/README.md
  bitnami/mastodon/values.yaml
  bitnami/mediawiki/README.md
  bitnami/mlflow/README.md
  bitnami/mlflow/values.yaml
  bitnami/moodle/README.md
  bitnami/moodle/values.yaml
  bitnami/nats/README.md
  bitnami/nats/values.yaml
  bitnami/opencart/README.md
  bitnami/opencart/values.yaml
  bitnami/opensearch/README.md
  bitnami/opensearch/values.yaml
  bitnami/parse/README.md
  bitnami/parse/values.yaml
  bitnami/phpbb/README.md
  bitnami/phpbb/values.yaml
  bitnami/phpmyadmin/README.md
  bitnami/phpmyadmin/values.yaml
  bitnami/prometheus/README.md
  bitnami/prometheus/values.yaml
  bitnami/pytorch/README.md
  bitnami/pytorch/values.yaml
  bitnami/solr/README.md
  bitnami/solr/values.yaml
  bitnami/spring-cloud-dataflow/README.md
  bitnami/spring-cloud-dataflow/values.yaml
  bitnami/supabase/README.md
  bitnami/supabase/values.yaml
  bitnami/wordpress/README.md
Labels: verify, bitnami

#24854 [bitnami/argo-workflows] Fix WordPress typo
  bitnami/argo-workflows/Chart.yaml
  bitnami/argo-workflows/README.md
  bitnami/argo-workflows/values.yaml
Labels: verify, argo-workflows, bitnami

#24657 [bitnami/clickhouse] feat!: :lock: :boom: Improve security defaults
  .vib/clickhouse/vib-verify.json
  bitnami/clickhouse/Chart.lock
  bitnami/clickhouse/Chart.yaml
  bitnami/clickhouse/README.md
  bitnami/clickhouse/values.yaml
Labels: verify, bitnami, clickhouse

#24760 [bitnami/aspnet-core] feat!: :lock: :boom: Improve security defaults
  .vib/aspnet-core/goss/goss.yaml
  .vib/aspnet-core/runtime-parameters.yaml
  bitnami/aspnet-core/Chart.lock
  bitnami/aspnet-core/Chart.yaml
  bitnami/aspnet-core/README.md
  bitnami/aspnet-core/templates/NOTES.txt
  bitnami/aspnet-core/templates/_helpers.tpl
  bitnami/aspnet-core/templates/deployment.yaml
  bitnami/aspnet-core/templates/health-ingress.yaml
  bitnami/aspnet-core/templates/hpa.yaml
  bitnami/aspnet-core/templates/ingress.yaml
  bitnami/aspnet-core/templates/networkpolicy.yaml
  bitnami/aspnet-core/templates/pdb.yaml
  bitnami/aspnet-core/templates/serviceaccount.yaml
  bitnami/aspnet-core/templates/svc.yaml
  bitnami/aspnet-core/values.yaml
Labels: verify, bitnami, aspnet-core

#24656 [bitnami/jupyterhub] feat!: :lock: :boom: Improve security defaults
  .vib/jupyterhub/vib-action.config
  .vib/jupyterhub/vib-verify.json
  bitnami/jupyterhub/Chart.lock
  bitnami/jupyterhub/Chart.yaml
  bitnami/jupyterhub/README.md
  bitnami/jupyterhub/templates/NOTES.txt
  bitnami/jupyterhub/templates/_helpers.tpl
  bitnami/jupyterhub/templates/hub/configmap.yaml
  bitnami/jupyterhub/templates/hub/deployment.yaml
  bitnami/jupyterhub/templates/hub/networkpolicy.yaml
  bitnami/jupyterhub/templates/hub/service.yaml
  bitnami/jupyterhub/templates/image-puller/daemonset.yaml
  bitnami/jupyterhub/templates/image-puller/networkpolicy.yaml
  bitnami/jupyterhub/templates/proxy/deployment.yaml
  bitnami/jupyterhub/templates/proxy/networkpolicy.yaml
  bitnami/jupyterhub/templates/proxy/service-api.yaml
  bitnami/jupyterhub/templates/proxy/service-metrics.yaml
  bitnami/jupyterhub/templates/proxy/service-public.yaml
  bitnami/jupyterhub/templates/singleuser/networkpolicy.yaml
  bitnami/jupyterhub/values.yaml
Labels: verify, bitnami, jupyterhub

#24766 [bitnami/dokuwiki] feat!: :lock: :boom: Improve security defaults
  bitnami/dokuwiki/Chart.lock
  bitnami/dokuwiki/Chart.yaml
  bitnami/dokuwiki/README.md
  bitnami/dokuwiki/templates/deployment.yaml
  bitnami/dokuwiki/templates/networkpolicy.yaml
  bitnami/dokuwiki/values.yaml
Labels: verify, bitnami, dokuwiki

#24830 [bitnami/redmine] feat!: :lock: :boom: Improve security defaults
  bitnami/redmine/Chart.lock
  bitnami/redmine/Chart.yaml
  bitnami/redmine/README.md
  bitnami/redmine/templates/deployment.yaml
  bitnami/redmine/templates/networkpolicy-backend-ingress.yaml
  bitnami/redmine/templates/networkpolicy-egress.yaml
  bitnami/redmine/templates/networkpolicy-ingress.yaml
  bitnami/redmine/templates/networkpolicy.yaml
  bitnami/redmine/values.yaml
Labels: verify, bitnami, redmine

#24748 [bitnami/spring-cloud-dataflow] feat: manage tls cert via existing secret
  bitnami/spring-cloud-dataflow/Chart.yaml
  bitnami/spring-cloud-dataflow/README.md
  bitnami/spring-cloud-dataflow/templates/server/tls-secret.yaml
  bitnami/spring-cloud-dataflow/values.yaml
Labels: verify, in-progress, spring-cloud-dataflow

#24785 [bitnami/ghost] feat!: :lock: :boom: Improve security defaults
  bitnami/ghost/Chart.lock
  bitnami/ghost/Chart.yaml
  bitnami/ghost/README.md
  bitnami/ghost/templates/deployment.yaml
  bitnami/ghost/templates/networkpolicy-backend-ingress.yaml
  bitnami/ghost/templates/networkpolicy-egress.yaml
  bitnami/ghost/templates/networkpolicy-ingress.yaml
  bitnami/ghost/templates/networkpolicy.yaml
  bitnami/ghost/values.yaml
Labels: verify, bitnami, ghost

#24749 [bitnami/grafana] Fix invalid secret pointer in Grafana ServiceAccount
  bitnami/grafana/Chart.yaml
  bitnami/grafana/templates/serviceaccount.yaml
Labels: verify, in-progress, grafana

#24867 [bitnami/wordpress] fix: :bug: Create htaccess folder when using custom configmap
  bitnami/wordpress/Chart.yaml
  bitnami/wordpress/templates/deployment.yaml
Labels: verify, bitnami, wordpress

#24876 [bitnami/matomo] Improve Cypress stability and update resources
  .vib/matomo/cypress/cypress/e2e/matomo.cy.js
  .vib/matomo/cypress/cypress/support/commands.js
  .vib/matomo/vib-verify.json
  bitnami/matomo/Chart.yaml
  bitnami/matomo/README.md
  bitnami/matomo/values.yaml
Labels: verify, bitnami, matomo

#24787 [bitnami/discourse] feat!: :lock: :boom: Improve security defaults
  .vib/discourse/vib-verify.json
  bitnami/discourse/Chart.lock
  bitnami/discourse/Chart.yaml
  bitnami/discourse/README.md
  bitnami/discourse/templates/deployment.yaml
  bitnami/discourse/templates/networkpolicy-backend-ingress.yaml
  bitnami/discourse/templates/networkpolicy-egress.yaml
  bitnami/discourse/templates/networkpolicy-ingress.yaml
  bitnami/discourse/templates/networkpolicy.yaml
  bitnami/discourse/values.yaml
Labels: verify, bitnami, discourse

#24636 [bitnami/schema-registry] bugfix #24545
  bitnami/schema-registry/Chart.yaml
  bitnami/schema-registry/templates/statefulset.yaml
Labels: verify, in-progress, schema-registry

#24809 [bitnami/kubeapps] feat!: :lock: :boom: Improve security defaults
  bitnami/kubeapps/Chart.lock
  bitnami/kubeapps/Chart.yaml
  bitnami/kubeapps/README.md
  bitnami/kubeapps/templates/apprepository/deployment.yaml
  bitnami/kubeapps/templates/apprepository/networkpolicy.yaml
  bitnami/kubeapps/templates/apprepository/rbac.yaml
  bitnami/kubeapps/templates/apprepository/serviceaccount.yaml
  bitnami/kubeapps/templates/dashboard/configmap.yaml
  bitnami/kubeapps/templates/dashboard/deployment.yaml
  bitnami/kubeapps/templates/dashboard/networkpolicy.yaml
  bitnami/kubeapps/templates/dashboard/service.yaml
  bitnami/kubeapps/templates/frontend/configmap.yaml
  bitnami/kubeapps/templates/frontend/deployment.yaml
  bitnami/kubeapps/templates/frontend/networkpolicy.yaml
  bitnami/kubeapps/templates/frontend/oauth2-secret.yaml
  bitnami/kubeapps/templates/frontend/service.yaml
  bitnami/kubeapps/templates/ingress-api.yaml
  bitnami/kubeapps/templates/ingress.yaml
  bitnami/kubeapps/templates/kubeappsapis/configmap.yaml
  bitnami/kubeapps/templates/kubeappsapis/deployment.yaml
  bitnami/kubeapps/templates/kubeappsapis/networkpolicy.yaml
  bitnami/kubeapps/templates/kubeappsapis/rbac_fluxv2.yaml
  bitnami/kubeapps/templates/kubeappsapis/service.yaml
  bitnami/kubeapps/templates/kubeappsapis/serviceaccount.yaml
  bitnami/kubeapps/templates/shared/config.yaml
  bitnami/kubeapps/templates/tls-secrets.yaml
  bitnami/kubeapps/values.yaml
Labels: verify, bitnami, kubeapps

#24371 [bitnami/nginx] feat!: 🔒 💥 Improve security defaults
  .vib/nginx/runtime-parameters.yaml
  bitnami/nginx/Chart.yaml
  bitnami/nginx/README.md
  bitnami/nginx/templates/deployment.yaml
  bitnami/nginx/templates/ingress-tls-secret.yaml
  bitnami/nginx/templates/tls-secret.yaml
  bitnami/nginx/values.yaml
Labels: verify, nginx, bitnami

#24822 [bitnami/magento] feat!: :lock: :boom: Improve security defaults
  .vib/magento/cypress/cypress/e2e/magento.cy.js
  .vib/magento/vib-action.config
  bitnami/magento/Chart.lock
  bitnami/magento/Chart.yaml
  bitnami/magento/README.md
  bitnami/magento/templates/_helpers.tpl
  bitnami/magento/templates/deployment.yaml
  bitnami/magento/templates/networkpolicy-backend-ingress.yaml
  bitnami/magento/templates/networkpolicy-egress.yaml
  bitnami/magento/templates/networkpolicy-ingress.yaml
  bitnami/magento/templates/networkpolicy.yaml
  bitnami/magento/values.yaml
Labels: verify, magento, bitnami

#24775 [bitnami/phpmyadmin] feat!: :lock: :boom: Improve security defaults
  .vib/phpmyadmin/cypress/cypress/support/commands.js
  bitnami/phpmyadmin/Chart.yaml
  bitnami/phpmyadmin/README.md
  bitnami/phpmyadmin/templates/deployment.yaml
  bitnami/phpmyadmin/templates/networkpolicy-backend-ingress.yaml
  bitnami/phpmyadmin/templates/networkpolicy-egress.yaml
  bitnami/phpmyadmin/templates/networkpolicy-ingress.yaml
  bitnami/phpmyadmin/templates/networkpolicy.yaml
  bitnami/phpmyadmin/values.yaml
Labels: verify, bitnami, phpmyadmin

#23866 [bitnami/grafana-loki] Disable memcached in grafana-loki
  bitnami/grafana-loki/Chart.yaml
  bitnami/grafana-loki/README.md
  bitnami/grafana-loki/templates/NOTES.txt
  bitnami/grafana-loki/values.yaml
Labels: verify, in-progress, grafana-loki

#24649 [bitnami/jaeger] feat!: :lock: :boom: Improve security defaults
  .vib/jaeger/runtime-parameters.yaml
  .vib/jaeger/vib-action.config
  .vib/jaeger/vib-verify.json
  bitnami/jaeger/Chart.lock
  bitnami/jaeger/Chart.yaml
  bitnami/jaeger/README.md
  bitnami/jaeger/templates/agent/deployment.yaml
  bitnami/jaeger/templates/collector/deployment.yaml
  bitnami/jaeger/templates/migrate-job.yaml
  bitnami/jaeger/templates/query/deployment.yaml
  bitnami/jaeger/values.yaml
Labels: verify, bitnami, jaeger

#24834 bitnami/Harbor multipartcopythresholdsize
  bitnami/harbor/Chart.yaml
  bitnami/harbor/README.md
  bitnami/harbor/templates/registry/registry-cm.yaml
  bitnami/harbor/values.yaml
Labels: verify, in-progress, harbor

#24937 [bitnami/kafka] fix: :bug: Add missing controller port in networkpolicy
  bitnami/kafka/Chart.yaml
  bitnami/kafka/templates/networkpolicy.yaml
Labels: verify, kafka, bitnami

#24682 [bitnami/matomo]: wrong persistence property used
  bitnami/matomo/Chart.yaml
  bitnami/matomo/README.md
  bitnami/matomo/values.yaml
Labels: verify, in-progress, matomo

#24813 [bitnami/solr] fix: add missing parentheses
  bitnami/solr/Chart.yaml
  bitnami/solr/templates/prometheusrule.yaml
  bitnami/solr/templates/servicemonitor.yaml
Labels: verify, in-progress, solr

#24945 [bitnami/mediawiki] Fix a deploy issue with fluxcd-2.2.3
  bitnami/mediawiki/Chart.yaml
  bitnami/mediawiki/templates/deployment.yaml
Labels: verify, triage, mediawiki

#24850 [bitnami/odoo] feat!: :lock: :boom: Improve security defaults
  .vib/odoo/cypress/cypress/e2e/odoo.cy.js
  .vib/odoo/cypress/cypress/support/commands.js
  .vib/odoo/vib-verify.json
  bitnami/odoo/Chart.lock
  bitnami/odoo/Chart.yaml
  bitnami/odoo/README.md
  bitnami/odoo/templates/deployment.yaml
  bitnami/odoo/templates/networkpolicy-backend-ingress.yaml
  bitnami/odoo/templates/networkpolicy-egress.yaml
  bitnami/odoo/templates/networkpolicy-ingress.yaml
  bitnami/odoo/templates/networkpolicy.yaml
  bitnami/odoo/values.yaml
Labels: verify, odoo, bitnami

#24866 [bitnami/rabbitmq] Fix misleading memoryHighWatermark.value description in values
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/README.md
  bitnami/rabbitmq/templates/_helpers.tpl
  bitnami/rabbitmq/values.yaml
Labels: verify, in-progress, rabbitmq

#24721 [bitnami/supabase] feat!: :lock: :boom: Improve security defaults
  .vib/supabase/vib-action.config
  bitnami/supabase/Chart.lock
  bitnami/supabase/Chart.yaml
  bitnami/supabase/README.md
  bitnami/supabase/templates/auth/deployment.yaml
  bitnami/supabase/templates/auth/networkpolicy.yaml
  bitnami/supabase/templates/jwt-init-job.yaml
  bitnami/supabase/templates/jwt-job-networkpolicy.yaml
  bitnami/supabase/templates/meta/deployment.yaml
  bitnami/supabase/templates/meta/networkpolicy.yaml
  bitnami/supabase/templates/realtime/deployment.yaml
  bitnami/supabase/templates/realtime/networkpolicy.yaml
  bitnami/supabase/templates/rest/deployment.yaml
  bitnami/supabase/templates/rest/networkpolicy.yaml
  bitnami/supabase/templates/storage/deployment.yaml
  bitnami/supabase/templates/storage/networkpolicy.yaml
  bitnami/supabase/templates/studio/deployment.yaml
  bitnami/supabase/templates/studio/networkpolicy.yaml
  bitnami/supabase/values.yaml
Labels: verify, bitnami, supabase

#24869 [bitnami/grafana-loki] Persistence parameters for Index Gateway
  bitnami/grafana-loki/Chart.yaml
  bitnami/grafana-loki/README.md
  bitnami/grafana-loki/templates/index-gateway/statefulset.yaml
  bitnami/grafana-loki/values.yaml
Labels: verify, in-progress, grafana-loki

#25032 [bitnami/matomo]: wrong resources condition for metrics
  bitnami/matomo/Chart.yaml
  bitnami/matomo/templates/deployment.yaml
Labels: triage, matomo

#25027 [bitnami/kube-prometheus] Support --enable-feature argument in Alertmanager
  bitnami/kube-prometheus/Chart.yaml
  bitnami/kube-prometheus/README.md
  bitnami/kube-prometheus/templates/alertmanager/alertmanager.yaml
  bitnami/kube-prometheus/values.yaml
Labels: verify, in-progress, kube-prometheus

#25019 [bitnami/redis] Improve restart behavior in sentinel mode
  bitnami/redis/Chart.yaml
  bitnami/redis/templates/scripts-configmap.yaml
  bitnami/redis/templates/sentinel/statefulset.yaml
Labels: in-progress, redis

#25034 [bitnami/wordpress] Preserve default PHP config from container build
  bitnami/wordpress/Chart.yaml
  bitnami/wordpress/templates/deployment.yaml
Labels: verify, bitnami, wordpress

#25033 [bitnami/wordpress] fix: :bug: Set readOnlyRootFilesystem=true in metrics container
  bitnami/wordpress/Chart.yaml
  bitnami/wordpress/README.md
  bitnami/wordpress/values.yaml
Labels: verify, bitnami, wordpress

#25037 [bitnami/prometheus] Don't create NetworkPolicy for AlertManager if AlertManager is disabled
  bitnami/prometheus/Chart.yaml
  bitnami/prometheus/templates/alertmanager/networkpolicy.yaml
Labels: verify, in-progress, prometheus

#25040 [bitnami/nginx] fix: correct ternary when tls is enabled
  bitnami/nginx/Chart.yaml
  bitnami/nginx/templates/deployment.yaml
Labels: verify, in-progress, nginx

#25036 [bitnami/grafana-loki] Don't create NetworkPolicy for ruler if ruler is disabled
  bitnami/grafana-loki/Chart.yaml
  bitnami/grafana-loki/templates/ruler/networkpolicy.yaml
Labels: verify, in-progress, grafana-loki

#25047 [bitnami/cert-manager] fix: :bug: :lock: Expose missing ports in deployment spec
  bitnami/cert-manager/Chart.yaml
  bitnami/cert-manager/README.md
  bitnami/cert-manager/templates/cainjector/networkpolicy.yaml
  bitnami/cert-manager/templates/controller/deployment.yaml
  bitnami/cert-manager/templates/controller/networkpolicy.yaml
  bitnami/cert-manager/templates/controller/service.yaml
  bitnami/cert-manager/templates/webhook/deployment.yaml
  bitnami/cert-manager/templates/webhook/networkpolicy.yaml
  bitnami/cert-manager/templates/webhook/service.yaml
  bitnami/cert-manager/values.yaml
Labels: verify, bitnami, cert-manager

#25039 [bitnami/consul] fix: :bug: Set readOnlyRootFilesystem=true in metrics container
  bitnami/consul/Chart.yaml
  bitnami/consul/README.md
  bitnami/consul/values.yaml
Labels: verify, bitnami, consul

#25041 [bitnami/apisix] fix: :bug: :lock: Do not expose http-metrics unless metrics.enabled=true
  bitnami/apisix/Chart.yaml
  bitnami/apisix/templates/control-plane/dep-ds.yaml
  bitnami/apisix/templates/data-plane/dep-ds.yaml
Labels: verify, bitnami, apisix

#25045 [bitnami/cassandra] fix: :bug: :lock: Do not expose tls internode port unless encryption is set
  bitnami/cassandra/Chart.yaml
  bitnami/cassandra/templates/service.yaml
  bitnami/cassandra/templates/statefulset.yaml
Labels: verify, bitnami, cassandra

#25048 [bitnami/clickhouse] fix: :bug: :lock: Add shard label to avoid Compute Unit collision
  bitnami/clickhouse/Chart.yaml
  bitnami/clickhouse/templates/service-headless.yaml
  bitnami/clickhouse/templates/statefulset.yaml
Labels: verify, bitnami, clickhouse

#24786 [bitnami/solr] Add revisionHistoryLimit variable for statefulset
  bitnami/solr/Chart.yaml
  bitnami/solr/README.md
  bitnami/solr/templates/statefulset.yaml
  bitnami/solr/values.yaml
Labels: verify, in-progress, solr

#25063 [bitnami/flink] Update extraDeploy for Openshift tests
  .vib/flink/runtime-parameters.yaml
Labels: verify, bitnami, flink

#24860 [bitnami/contour] Move envoy customReadinessProbe template to envoy container
  bitnami/contour/Chart.yaml
  bitnami/contour/templates/envoy/daemonset.yaml
  bitnami/contour/templates/envoy/deployment.yaml
Labels: verify, in-progress, contour

#25066 [bitnami/consul] fix: :bug: :lock: Expose missing ports in deployment spec
  bitnami/consul/Chart.yaml
  bitnami/consul/README.md
  bitnami/consul/templates/consul-headless-service.yaml
  bitnami/consul/templates/statefulset.yaml
  bitnami/consul/values.yaml
Labels: verify, bitnami, consul

#25095 [bitnami/rabbitmq] Add upgrade notes for version 3.13.x
  bitnami/rabbitmq/README.md
Labels: verify, bitnami, rabbitmq

#25072 [bitnami/ejbca] fix: :bug: :lock: Expose missing ports in deployment spec
  bitnami/ejbca/Chart.lock
  bitnami/ejbca/Chart.yaml
  bitnami/ejbca/templates/deployment.yaml
Labels: verify, bitnami, ejbca

#25042 [bitnami/appsmith] fix: :bug: :lock: Add ambassador container to appsmith-backend to contact appsmith-rts
  bitnami/appsmith/Chart.lock
  bitnami/appsmith/Chart.yaml
  bitnami/appsmith/README.md
  bitnami/appsmith/templates/_helpers.tpl
  bitnami/appsmith/templates/backend/deployment.yaml
  bitnami/appsmith/templates/backend/redirect-configmap.yaml
  bitnami/appsmith/templates/backend/service.yaml
  bitnami/appsmith/templates/client/deployment.yaml
  bitnami/appsmith/values.yaml
Labels: verify, bitnami, appsmith

#25096 [bitnami/spring-cloud-dataflow] Bump rabbitmq subchart
  bitnami/spring-cloud-dataflow/Chart.lock
  bitnami/spring-cloud-dataflow/Chart.yaml
  bitnami/spring-cloud-dataflow/README.md
Labels: verify, bitnami, spring-cloud-dataflow

#25022 [bitnami/postgresql-ha] Add templating for pgpool secrets
  bitnami/postgresql-ha/Chart.yaml
  bitnami/postgresql-ha/templates/_helpers.tpl
  bitnami/postgresql-ha/templates/postgresql/statefulset.yaml
  bitnami/postgresql-ha/templates/postgresql/witness-statefulset.yaml
Labels: verify, in-progress, postgresql-ha

#25046 [bitnami/argo-cd]: fixing creation of service monitors
  bitnami/argo-cd/Chart.yaml
  bitnami/argo-cd/templates/application-controller/prometheus-rule.yaml
  bitnami/argo-cd/templates/application-controller/servicemonitor.yaml
  bitnami/argo-cd/templates/applicationset/servicemonitor.yaml
  bitnami/argo-cd/templates/dex/servicemonitor.yaml
  bitnami/argo-cd/templates/notifications/servicemonitor.yaml
  bitnami/argo-cd/templates/repo-server/servicemonitor.yaml
  bitnami/argo-cd/templates/server/servicemonitor.yaml
Labels: verify, in-progress, argo-cd

#25105 [bitnami/argo-cd] Increase controller resource presets
  bitnami/argo-cd/Chart.yaml
  bitnami/argo-cd/README.md
  bitnami/argo-cd/values.yaml
Labels: verify, bitnami, argo-cd

#25112 [bitnami/phpmyadmin] Use localhost in tests template
  .vib/phpmyadmin/cypress/cypress.config.js
Labels: verify, bitnami

#25103 [bitnami/thanos] Enable Ingress only when component is enabled
  bitnami/thanos/Chart.yaml
  bitnami/thanos/templates/bucketweb/ingress.yaml
  bitnami/thanos/templates/compactor/ingress.yaml
  bitnami/thanos/templates/query-frontend/ingress.yaml
  bitnami/thanos/templates/query/ingress.yaml
  bitnami/thanos/templates/ruler/ingress.yaml
  bitnami/thanos/templates/storegateway/ingress.yaml
Labels: verify, in-progress, thanos

#25128 [bitnami/solr] Adds note to solr chart for the HDFS module removal
  bitnami/solr/README.md
Labels: verify, bitnami, solr

#25059 [bitnami/nginx] Fix ternary on probe port name selection
  bitnami/nginx/Chart.yaml
  bitnami/nginx/templates/deployment.yaml
Labels: verify, in-progress, nginx

#24930 [bitnami/metallb] fix: :bug: Set proper webhook service name in CRD
  bitnami/metallb/Chart.yaml
  bitnami/metallb/templates/crds/crds.yaml
Labels: verify, bitnami, metallb

#25137 [bitnami/cassandra] Set Java VM memory in testing
  .vib/cassandra/runtime-parameters.yaml
Labels: verify, bitnami

#25077 [bitnami/grafana-loki] fix: :bug: :lock: Expose missing ports in deployment spec
  bitnami/grafana-loki/Chart.yaml
  bitnami/grafana-loki/README.md
  bitnami/grafana-loki/templates/compactor/deployment.yaml
  bitnami/grafana-loki/templates/compactor/service.yaml
  bitnami/grafana-loki/templates/promtail/daemonset.yaml
  bitnami/grafana-loki/templates/promtail/networkpolicy.yaml
  bitnami/grafana-loki/templates/promtail/service.yaml
  bitnami/grafana-loki/values.yaml
Labels: verify, bitnami, grafana-loki

#25133 [bitnami/kafka] :lady_beetle: Fix password replace for >10 users
  bitnami/kafka/Chart.yaml
  bitnami/kafka/templates/scripts-configmap.yaml
Labels: verify, in-progress, kafka

#25144 [bitnami/airflow] Fix nil pointer evaluating when using dags.existingConfigmap"
  bitnami/airflow/Chart.lock
  bitnami/airflow/Chart.yaml
  bitnami/airflow/templates/_helpers.tpl
Labels: verify, airflow, bitnami

#25130 [bitnami/mysql] feat: :sparkles: Add support for mysqlx port
  bitnami/mysql/Chart.yaml
  bitnami/mysql/README.md
  bitnami/mysql/templates/networkpolicy.yaml
  bitnami/mysql/templates/primary/statefulset.yaml
  bitnami/mysql/templates/primary/svc-headless.yaml
  bitnami/mysql/templates/primary/svc.yaml
  bitnami/mysql/templates/secondary/statefulset.yaml
  bitnami/mysql/templates/secondary/svc-headless.yaml
  bitnami/mysql/templates/secondary/svc.yaml
  bitnami/mysql/values.yaml
Labels: verify, bitnami, mysql

#25075 [bitnami/flux] fix: :bug: :lock: Add missing notification controller ports
  bitnami/flux/Chart.yaml
  bitnami/flux/README.md
  bitnami/flux/templates/notification-controller/deployment.yaml
  bitnami/flux/templates/notification-controller/networkpolicy.yaml
  bitnami/flux/templates/notification-controller/service-receiver.yaml
  bitnami/flux/templates/notification-controller/service-webhook.yaml
  bitnami/flux/values.yaml
Labels: verify, bitnami, flux

#25153 [bitnami/cassandra] fix: :bug: Honor memory limits in jvm heap sizes
  .vib/cassandra/runtime-parameters.yaml
  bitnami/cassandra/Chart.yaml
  bitnami/cassandra/templates/NOTES.txt
  bitnami/cassandra/templates/_helpers.tpl
  bitnami/cassandra/templates/statefulset.yaml
Labels: verify, bitnami, cassandra

#24708 bitnami/external-dns Add support for OCI IAM instance principle and workload identity
  bitnami/external-dns/Chart.yaml
  bitnami/external-dns/README.md
  bitnami/external-dns/templates/_helpers.tpl
  bitnami/external-dns/templates/dep-ds.yaml
  bitnami/external-dns/templates/secret.yaml
  bitnami/external-dns/values.yaml
Labels: verify, in-progress, external-dns

#25017 [bitnami/jenkins] Add agentListener port to networkPolicy ingress
  bitnami/jenkins/Chart.yaml
  bitnami/jenkins/templates/networkpolicy.yaml
Labels: verify, in-progress, jenkins

#25152 [bitnami/grafana-operator] fix: :bug: Honor allowExternalEgress in networkPolicy
  bitnami/grafana-operator/Chart.yaml
  bitnami/grafana-operator/templates/networkpolicy.yaml
Labels: verify, bitnami, grafana-operator

#25140 [bitnami/wildfly] fix: :bug: :lock: Expose missing ports in deployment spec
  bitnami/wildfly/Chart.yaml
  bitnami/wildfly/README.md
  bitnami/wildfly/templates/deployment.yaml
  bitnami/wildfly/values.yaml
Labels: verify, bitnami, wildfly

#25135 [bitnami/rabbitmq] fix: :bug: :lock: Expose missing ports in deployment spec
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/templates/statefulset.yaml
  bitnami/rabbitmq/values.yaml
Labels: verify, bitnami, rabbitmq

#25131 [bitnami/mariadb] fix: :bug: Add symlinks to stdout/stderr
  bitnami/mariadb/Chart.yaml
  bitnami/mariadb/templates/primary/statefulset.yaml
  bitnami/mariadb/templates/secondary/statefulset.yaml
Labels: verify, mariadb, bitnami

#25113 [bitnami/kube-state-metrics] fix: :bug: :lock: Expose missing ports in deployment spec
  bitnami/kube-state-metrics/Chart.yaml
  bitnami/kube-state-metrics/templates/deployment.yaml
Labels: verify, bitnami, kube-state-metrics

#25110 [bitnami/keycloak] fix: :bug: :lock: Expose missing ports in deployment spec and fix headless service
  bitnami/keycloak/Chart.lock
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/templates/headless-service.yaml
  bitnami/keycloak/templates/statefulset.yaml
Labels: verify, keycloak, bitnami

#25097 [bitnami/grafana-tempo] fix: :bug: :lock: Expose missing ports in deployment spec
  bitnami/grafana-tempo/Chart.yaml
  bitnami/grafana-tempo/README.md
  bitnami/grafana-tempo/templates/compactor/deployment.yaml
  bitnami/grafana-tempo/templates/compactor/service.yaml
  bitnami/grafana-tempo/templates/query-frontend/deployment.yaml
  bitnami/grafana-tempo/values.yaml
Labels: verify, bitnami, grafana-tempo

#24932 [bitnami/discourse] fix: :bug: Remove incorrect CHMOD capability
  bitnami/discourse/Chart.yaml
  bitnami/discourse/README.md
  bitnami/discourse/values.yaml
Labels: verify, bitnami, discourse

#25172 [bitnami/seaweedfs] Amend README instructions for using CertManager to generate mTLS certs
  bitnami/seaweedfs/README.md
Labels: verify, bitnami, seaweedfs

#25023 [bitnami/consul] Updated consul chart to address empty dir missing for consul data
  bitnami/consul/Chart.yaml
  bitnami/consul/templates/statefulset.yaml
Labels: verify, in-progress, consul

#24311 [bitnami/wordpress] Add secondary ingress to Wordpress for /wp-admin
  bitnami/wordpress/Chart.yaml
  bitnami/wordpress/README.md
  bitnami/wordpress/templates/ingress-secondary.yaml
  bitnami/wordpress/values.schema.json
  bitnami/wordpress/values.yaml
Labels: verify, in-progress, wordpress

#25214 [bitnami/airflow] Version bump to realese #25138
  bitnami/airflow/Chart.yaml
Labels: verify, airflow, bitnami

#25156 [bitnami/jaeger] fix: :bug: :lock: Expose missing ports in deployment spec
  bitnami/jaeger/Chart.lock
  bitnami/jaeger/Chart.yaml
  bitnami/jaeger/README.md
  bitnami/jaeger/templates/agent/deployment.yaml
  bitnami/jaeger/templates/agent/service.yml
  bitnami/jaeger/templates/collector/deployment.yaml
  bitnami/jaeger/templates/query/deployment.yaml
  bitnami/jaeger/values.yaml
Labels: verify, bitnami, jaeger

#25078 [bitnami/grafana-operator] fix: :bug: :lock: Expose missing ports in deployment spec
  bitnami/grafana-operator/Chart.yaml
  bitnami/grafana-operator/README.md
  bitnami/grafana-operator/templates/deployment.yaml
  bitnami/grafana-operator/values.yaml
Labels: verify, bitnami, grafana-operator

#25215 [bitnami/solr] fix: add missing metrics port to networkpolicy (cont)
  bitnami/solr/Chart.yaml
Labels: verify, bitnami, solr

#24933 [bitnami/redmine] fix: :bug: Remove incorrect CHMOD capability
  bitnami/redmine/Chart.yaml
  bitnami/redmine/README.md
  bitnami/redmine/values.yaml
Labels: verify, bitnami, redmine

#25189 [bitnami/thanos] Allow disabling mTLS for GRPC
  bitnami/thanos/Chart.yaml
  bitnami/thanos/README.md
  bitnami/thanos/templates/query/deployment.yaml
  bitnami/thanos/templates/receive/statefulset.yaml
  bitnami/thanos/templates/storegateway/statefulset-sharded.yaml
  bitnami/thanos/templates/storegateway/statefulset.yaml
  bitnami/thanos/values.yaml
Labels: verify, in-progress, thanos

#25219 [bitnami/airflow] Fix clone of initial repositories
  bitnami/airflow/Chart.yaml
  bitnami/airflow/templates/_git_helpers.tpl
Labels: verify, airflow, bitnami

#25069 [bitnami/contour] fix: :bug: :lock: Expose missing ports in deployment spec
  bitnami/contour/Chart.yaml
  bitnami/contour/README.md
  bitnami/contour/templates/envoy/daemonset.yaml
  bitnami/contour/templates/envoy/deployment.yaml
  bitnami/contour/values.yaml
Labels: verify, contour, bitnami

#25109 [bitnami/minio] Be able to define custom secretKeys instead of root-user and root-password
  bitnami/minio/Chart.yaml
  bitnami/minio/README.md
  bitnami/minio/templates/NOTES.txt
  bitnami/minio/templates/_helpers.tpl
  bitnami/minio/templates/distributed/statefulset.yaml
  bitnami/minio/templates/provisioning-job.yaml
  bitnami/minio/templates/standalone/deployment.yaml
  bitnami/minio/values.yaml
Labels: verify, in-progress, minio

#25241 [bitnami/concourse] Increase goss create-pipeline-trigger-job test timeouts
  .vib/concourse/goss/web/goss.yaml
Labels: verify, bitnami

#25091 [bitnami/nginx] Define by default a https container port now TLS is enabled
  bitnami/nginx/Chart.yaml
  bitnami/nginx/README.md
  bitnami/nginx/values.yaml
Labels: verify, nginx, bitnami

#25169 [bitnami/flink] Ensure data port is set in configuration
  bitnami/flink/Chart.yaml
  bitnami/flink/templates/taskmanager/statefulset.yaml
Labels: verify, bitnami, flink

#25222 [bitnami/keycloak] fix: :bug: Remove unusable infinispan container port
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/README.md
  bitnami/keycloak/templates/networkpolicy.yaml
  bitnami/keycloak/templates/statefulset.yaml
  bitnami/keycloak/values.yaml
Labels: verify, keycloak, bitnami

#25300 [bitnami/elasticsearch] Recover Upgrading tag in the README
  bitnami/elasticsearch/README.md
Labels: verify, bitnami, elasticsearch

#25299 [bitnami/mastodon] Update dependencies of the chart
  bitnami/mastodon/Chart.lock
  bitnami/mastodon/Chart.yaml
  bitnami/mastodon/README.md
Labels: verify, bitnami, mastodon

#25304 [bitnami/postgresql-ha] Bump chart version
  bitnami/postgresql-ha/Chart.yaml
Labels: verify, bitnami, postgresql-ha

#25303 [bitnami/cassandra] Fix ServiceMonitor namespace
  bitnami/cassandra/Chart.yaml
  bitnami/cassandra/templates/servicemonitor.yaml
Labels: verify, bitnami, cassandra

#25281 [bitnami/spring-cloud-dataflow] Remove Skipper ConfigMap and Secrets when Skipper is disabled
  bitnami/spring-cloud-dataflow/Chart.yaml
  bitnami/spring-cloud-dataflow/templates/skipper/configmap.yaml
  bitnami/spring-cloud-dataflow/templates/skipper/externaldb-secret.yaml
Labels: verify, in-progress, spring-cloud-dataflow

#25224 [bitnami/cert-manager] fix: webhook networkpolicy
  bitnami/cert-manager/Chart.yaml
  bitnami/cert-manager/templates/webhook/networkpolicy.yaml
Labels: verify, in-progress, cert-manager

#25177 [bitnami/contour] Fix list configmaps forbidden when contour's version is above 1.28
  bitnami/contour/Chart.yaml
  bitnami/contour/templates/contour/rbac.yaml
Labels: in-progress, contour

#25188 [bitnami/thanos] Fix compaction prometheusRule template
  bitnami/thanos/Chart.yaml
  bitnami/thanos/templates/alert-rule/compaction.yml
Labels: verify, in-progress, thanos

#25301 [bitnami/minio] Permission denied at startup with multiple drives per node
  bitnami/minio/Chart.yaml
  bitnami/minio/templates/distributed/statefulset.yaml
Labels: verify, bitnami, minio

#25310 [bitnami/metallb] Upgrade to version 0.14.5
  bitnami/metallb/Chart.yaml
  bitnami/metallb/README.md
  bitnami/metallb/templates/controller/deployment.yaml
  bitnami/metallb/templates/controller/rbac.yaml
  bitnami/metallb/templates/controller/webhooks.yaml
  bitnami/metallb/templates/crds/crds.yaml
  bitnami/metallb/templates/speaker/rbac.yaml
  bitnami/metallb/values.yaml
Labels: verify, bitnami, metallb

#25298 [bitnami/magento] Update dependencies of the chart
  bitnami/magento/Chart.lock
  bitnami/magento/Chart.yaml
  bitnami/magento/README.md
Labels: verify, magento, bitnami
