Repository bitnami/charts, pull requests merged in 2024-09, with the labels that each got.

#29098 [bitnami/kafka] update readme with new architecture for externalAccess services
  bitnami/kafka/README.md
Labels: verify, in-progress, kafka

#29166 [bitnami/postgresql-ha] test: :white_check_mark: Improve ginkgo test reliability
  .vib/postgresql-ha/ginkgo/postgresql_test.go
  bitnami/postgresql-ha/CHANGELOG.md
  bitnami/postgresql-ha/Chart.yaml
Labels: verify, bitnami, postgresql-ha

#28989 [bitnami/harbor] fix: secret envvars and their documentation
  bitnami/harbor/CHANGELOG.md
  bitnami/harbor/Chart.yaml
  bitnami/harbor/templates/core/core-secret-envvars.yaml
  bitnami/harbor/templates/jobservice/jobservice-secret-envvars.yaml
  bitnami/harbor/templates/registry/registry-secret.yaml
  bitnami/harbor/templates/trivy/trivy-secret-envvars.yaml
  bitnami/harbor/values.yaml
Labels: verify, in-progress, harbor

#29172 [bitnami/cassandra] feat: :sparkles: Allow setting initdb scripts in values
  bitnami/cassandra/CHANGELOG.md
  bitnami/cassandra/Chart.yaml
  bitnami/cassandra/README.md
  bitnami/cassandra/templates/initdb-configmap.yaml
  bitnami/cassandra/templates/statefulset.yaml
  bitnami/cassandra/values.yaml
Labels: verify, bitnami, cassandra

#29177 [bitnami/cassandra] test: :white_check_mark: Improve ginkgo testing reliability
  .vib/cassandra/ginkgo/cassandra_test.go
  bitnami/cassandra/CHANGELOG.md
  bitnami/cassandra/Chart.yaml
Labels: verify, bitnami, cassandra

#29170 [bitnami/apisix] Added multi-auth plugin to the plugins list
  bitnami/apisix/CHANGELOG.md
  bitnami/apisix/Chart.yaml
  bitnami/apisix/values.yaml
Labels: verify, in-progress, apisix

#28877 [bitnami/argo-cd] Missing namespace in ArgoCD known-hosts cm
  bitnami/argo-cd/CHANGELOG.md
  bitnami/argo-cd/Chart.yaml
  bitnami/argo-cd/templates/known-hosts-cm.yaml
Labels: stale, verify, in-progress, argo-cd

#29189 [bitnami/elasticsearch:21.3.10] Unable to copy tls certificates when sysctlImage is disabled
  bitnami/elasticsearch/CHANGELOG.md
  bitnami/elasticsearch/Chart.yaml
  bitnami/elasticsearch/templates/coordinating/statefulset.yaml
  bitnami/elasticsearch/templates/data/statefulset.yaml
  bitnami/elasticsearch/templates/ingest/statefulset.yaml
  bitnami/elasticsearch/templates/master/statefulset.yaml
Labels: verify, in-progress, elasticsearch

#29182 [bitnami/matomo] add serviceAccountName parameter to CronJob pods
  bitnami/matomo/CHANGELOG.md
  bitnami/matomo/Chart.yaml
  bitnami/matomo/README.md
  bitnami/matomo/templates/cronjob.yaml
  bitnami/matomo/values.yaml
Labels: verify, in-progress, matomo

#29191 [bitnami/cilium] Add init-container on Relay to wait for Hubble Peers
  bitnami/cilium/CHANGELOG.md
  bitnami/cilium/Chart.yaml
  bitnami/cilium/README.md
  bitnami/cilium/templates/hubble-relay/_init_containers.tpl
  bitnami/cilium/templates/hubble-relay/deployment.yaml
  bitnami/cilium/values.yaml
Labels: verify, bitnami, cilium

#29106 [bitnami/redis] update values.schema.json
  bitnami/redis/CHANGELOG.md
  bitnami/redis/Chart.yaml
  bitnami/redis/values.schema.json
Labels: verify, in-progress, redis

#29207 [bitnami/cilium] Add init-container on UI to wait for Hubble Relay
  bitnami/cilium/CHANGELOG.md
  bitnami/cilium/Chart.yaml
  bitnami/cilium/README.md
  bitnami/cilium/templates/hubble-relay/deployment.yaml
  bitnami/cilium/templates/hubble-ui/_init_containers.tpl
  bitnami/cilium/templates/hubble-ui/deployment.yaml
  bitnami/cilium/values.yaml
Labels: verify, bitnami, cilium

#29200 [bitnami/thanos] Added apiVersion and kind to volumeClaimTemplates
  bitnami/thanos/CHANGELOG.md
  bitnami/thanos/Chart.yaml
  bitnami/thanos/templates/receive/statefulset.yaml
  bitnami/thanos/templates/ruler/statefulset.yaml
  bitnami/thanos/templates/storegateway/statefulset-sharded.yaml
  bitnami/thanos/templates/storegateway/statefulset.yaml
Labels: in-progress, thanos

#29121 [bitnami/redis] label slave pod using sentinel masterService
  bitnami/redis/CHANGELOG.md
  bitnami/redis/Chart.yaml
  bitnami/redis/templates/scripts-configmap.yaml
  bitnami/redis/templates/sentinel/statefulset.yaml
Labels: verify, in-progress, redis

#29213 [bitnami/clickhouse] Improve Ginkgo test
  .vib/clickhouse/ginkgo/clickhouse_suite_test.go
  .vib/clickhouse/ginkgo/clickhouse_test.go
  bitnami/clickhouse/CHANGELOG.md
  bitnami/clickhouse/Chart.yaml
Labels: verify, bitnami, clickhouse

#29199 [bitnami/zipkin] feat: :tada: Add chart
  .vib/zipkin/cypress/cypress.config.js
  .vib/zipkin/cypress/cypress/e2e/zipkin.cy.js
  .vib/zipkin/cypress/cypress/fixtures/services.json
  .vib/zipkin/cypress/cypress/support/e2e.js
  .vib/zipkin/goss/goss.yaml
  .vib/zipkin/runtime-parameters.yaml
  .vib/zipkin/vib-publish.json
  .vib/zipkin/vib-verify.json
  bitnami/zipkin/.helmignore
  bitnami/zipkin/CHANGELOG.md
  bitnami/zipkin/Chart.lock
  bitnami/zipkin/Chart.yaml
  bitnami/zipkin/README.md
  bitnami/zipkin/templates/NOTES.txt
  bitnami/zipkin/templates/_helpers.tpl
  bitnami/zipkin/templates/_init_containers.tpl
  bitnami/zipkin/templates/ca-cert.yaml
  bitnami/zipkin/templates/cert.yaml
  bitnami/zipkin/templates/configmap.yaml
  bitnami/zipkin/templates/deployment.yaml
  bitnami/zipkin/templates/externaldb-secrets.yaml
  bitnami/zipkin/templates/extra-list.yaml
  bitnami/zipkin/templates/hpa.yaml
  bitnami/zipkin/templates/ingress-tls-secret.yaml
  bitnami/zipkin/templates/ingress.yaml
  bitnami/zipkin/templates/networkpolicy.yaml
  bitnami/zipkin/templates/pdb.yaml
  bitnami/zipkin/templates/secrets.yaml
  bitnami/zipkin/templates/service-account.yaml
  bitnami/zipkin/templates/service.yaml
  bitnami/zipkin/templates/servicemonitor.yaml
  bitnami/zipkin/templates/tls-secret.yaml
  bitnami/zipkin/templates/vpa.yaml
  bitnami/zipkin/values.yaml
Labels: verify, bitnami

#29268 [bitnami/cilium] Rollout restart Cilium sub-components for better VIB reliability
  .vib/cilium/runtime-parameters.yaml
  bitnami/cilium/CHANGELOG.md
  bitnami/cilium/Chart.yaml
  bitnami/cilium/templates/NOTES.txt
Labels: verify, bitnami, cilium

#29151 [bitnami/haproxy] add missing template for tls-secrets
  bitnami/haproxy/CHANGELOG.md
  bitnami/haproxy/Chart.yaml
  bitnami/haproxy/templates/ingress.yaml
  bitnami/haproxy/templates/tls-secrets.yaml
Labels: verify, in-progress, haproxy

#29120 [bitnami/postgresql-ha] bugfix: conditions to set POSTGRES_POSTGRES_PASSWORD
  bitnami/postgresql-ha/CHANGELOG.md
  bitnami/postgresql-ha/Chart.yaml
  bitnami/postgresql-ha/templates/postgresql/statefulset.yaml
  bitnami/postgresql-ha/templates/postgresql/witness-statefulset.yaml
Labels: verify, bitnami, postgresql-ha

#29278 [bitnami/zipkin] test: :white_check_mark: Move verification to serial
  .vib/zipkin/vib-action.config
  bitnami/zipkin/CHANGELOG.md
  bitnami/zipkin/Chart.yaml
Labels: verify, bitnami, zipkin

#28938 [bitnami/mlflow] Add support for Google Cloud Storage as artifact store
  bitnami/mlflow/CHANGELOG.md
  bitnami/mlflow/Chart.yaml
  bitnami/mlflow/README.md
  bitnami/mlflow/templates/_helpers.tpl
  bitnami/mlflow/templates/tracking/deployment.yaml
  bitnami/mlflow/values.yaml
Labels: verify, in-progress, mlflow

#29267 [bitnami/grafana-mimir] removing quotes from gw secrets #29214
  bitnami/grafana-mimir/CHANGELOG.md
  bitnami/grafana-mimir/Chart.yaml
  bitnami/grafana-mimir/templates/gateway/secret.yaml
Labels: verify, in-progress, grafana-mimir

#29289 [bitnami/zookeeper] fix: add apiVersion and kind to volumeClaimTemplates
  bitnami/zookeeper/CHANGELOG.md
  bitnami/zookeeper/Chart.yaml
  bitnami/zookeeper/templates/statefulset.yaml
Labels: verify, in-progress, zookeeper

#29290 [bitnami/prometheus] fix: add apiVersion and kind to volumeClaimTemplates
  bitnami/prometheus/CHANGELOG.md
  bitnami/prometheus/Chart.yaml
  bitnami/prometheus/templates/alertmanager/statefulset.yaml
Labels: verify, in-progress, prometheus

#29298 [bitnami/keydb] Adds metrics port to NetworkPolicy
  bitnami/keydb/CHANGELOG.md
  bitnami/keydb/Chart.yaml
  bitnami/keydb/templates/master/networkpolicy.yaml
  bitnami/keydb/templates/replica/networkpolicy.yaml
Labels: verify, in-progress, keydb

#29193 [bitnami/elasticsearch] Use containerSecurityContext on the copy-tls-verificates initContainer
  bitnami/elasticsearch/CHANGELOG.md
  bitnami/elasticsearch/Chart.yaml
  bitnami/elasticsearch/templates/coordinating/statefulset.yaml
  bitnami/elasticsearch/templates/data/statefulset.yaml
  bitnami/elasticsearch/templates/ingest/statefulset.yaml
  bitnami/elasticsearch/templates/master/statefulset.yaml
Labels: verify, in-progress, elasticsearch

#29195 [bitnami/redis] Support extraEnvVars on volume-permissions for dynamic subfolders
  bitnami/redis/CHANGELOG.md
  bitnami/redis/Chart.yaml
  bitnami/redis/README.md
  bitnami/redis/templates/master/application.yaml
  bitnami/redis/templates/replicas/application.yaml
  bitnami/redis/templates/sentinel/statefulset.yaml
  bitnami/redis/values.yaml
Labels: verify, in-progress, redis

#29304 [bitnami/clickhouse] fix: Add missing version, kind to volumeClaimTemplates
  bitnami/clickhouse/CHANGELOG.md
  bitnami/clickhouse/Chart.yaml
  bitnami/clickhouse/templates/statefulset.yaml
Labels: verify, in-progress, clickhouse

#29270 [bitnami/minio]: fix missing `metrics.enabled` docs.
  bitnami/minio/CHANGELOG.md
  bitnami/minio/Chart.yaml
  bitnami/minio/README.md
  bitnami/minio/templates/servicemonitor.yaml
  bitnami/minio/values.yaml
Labels: verify, in-progress, minio

#29301 [bitnami/keycloak] Specify which keys must the secret have for jks in values.yaml comments
  bitnami/keycloak/CHANGELOG.md
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/values.yaml
Labels: verify, in-progress, keycloak

#29307 [bitnami/opensearch] feat: :sparkles: Add metrics
  .vib/opensearch/goss/goss.yaml
  .vib/opensearch/runtime-parameters.yaml
  bitnami/opensearch/CHANGELOG.md
  bitnami/opensearch/Chart.yaml
  bitnami/opensearch/README.md
  bitnami/opensearch/templates/coordinating/metrics-svc.yaml
  bitnami/opensearch/templates/coordinating/servicemonitor.yaml
  bitnami/opensearch/templates/data/metrics-svc.yaml
  bitnami/opensearch/templates/data/servicemonitor.yaml
  bitnami/opensearch/templates/ingest/metrics-svc.yaml
  bitnami/opensearch/templates/ingest/servicemonitor.yaml
  bitnami/opensearch/templates/master/metrics-svc.yaml
  bitnami/opensearch/templates/master/servicemonitor.yaml
  bitnami/opensearch/values.yaml
Labels: verify, bitnami, opensearch

#29216 bitnami/seaweedfs external postgres database support
  bitnami/seaweedfs/CHANGELOG.md
  bitnami/seaweedfs/Chart.yaml
  bitnami/seaweedfs/README.md
  bitnami/seaweedfs/templates/_helpers.tpl
  bitnami/seaweedfs/templates/externaldb-secrets.yaml
  bitnami/seaweedfs/templates/filer/statefulset.yaml
  bitnami/seaweedfs/values.yaml
Labels: verify, in-progress, seaweedfs

#29326 [bitnami/zipkin] Upgrade Cassandra to 12.x.x (appVersion 5.0.0)
  bitnami/zipkin/CHANGELOG.md
  bitnami/zipkin/Chart.lock
  bitnami/zipkin/Chart.yaml
  bitnami/zipkin/README.md
Labels: verify, bitnami, zipkin

#29334 [bitnami/mariadb] Update README.md (typo fix)
  bitnami/mariadb/README.md
Labels: triage, mariadb

#29335 [bitnami/mariadb-galera] Update README.md (typo fix)
  bitnami/mariadb-galera/README.md
Labels: triage, mariadb-galera

#29333 [bitnami/valkey] Fix 404 in docs link
  bitnami/valkey/CHANGELOG.md
  bitnami/valkey/Chart.yaml
  bitnami/valkey/values.yaml
Labels: triage, valkey

#29145 [bitnami/mongodb-sharded] Changed to use namespaceOverride value when defining primaryhost in configsvr
  bitnami/mongodb-sharded/CHANGELOG.md
  bitnami/mongodb-sharded/Chart.yaml
  bitnami/mongodb-sharded/templates/_helpers.tpl
Labels: verify, in-progress, mongodb-sharded

#29347 [bitnami/rabbitmq] Allow rendering resources values
  bitnami/rabbitmq/CHANGELOG.md
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/templates/statefulset.yaml
Labels: verify, solved, rabbitmq

#29277 [bitnami/logstash] fix #29129 missing protocol in networkPolicy
  bitnami/logstash/CHANGELOG.md
  bitnami/logstash/Chart.yaml
  bitnami/logstash/templates/networkpolicy.yaml
Labels: verify, in-progress, logstash

#29345 [bitnami/memcached] Allow rendering resources values
  bitnami/memcached/CHANGELOG.md
  bitnami/memcached/Chart.yaml
  bitnami/memcached/templates/deployment.yaml
  bitnami/memcached/templates/statefulset.yaml
Labels: verify, in-progress, memcached

#29359 [bitnami/pytorch] fix: add apiVersion and kind to volumeClaimTemplates
  bitnami/pytorch/CHANGELOG.md
  bitnami/pytorch/Chart.yaml
  bitnami/pytorch/templates/statefulset.yaml
Labels: verify, in-progress, pytorch

#29356 [bitnami/solr] fix: add apiVersion and kind to volumeClaimTemplates
  bitnami/solr/CHANGELOG.md
  bitnami/solr/Chart.yaml
  bitnami/solr/templates/statefulset.yaml
Labels: verify, in-progress, solr

#29355 [bitnami/tomcat] fix: add apiVersion and kind to volumeClaimTemplates
  bitnami/tomcat/CHANGELOG.md
  bitnami/tomcat/Chart.yaml
  bitnami/tomcat/templates/statefulset.yaml
Labels: verify, in-progress, tomcat

#29276 [bitnami/nginx] Release 18.1.12 - bugfix prometheusrules label collision
  bitnami/nginx/CHANGELOG.md
  bitnami/nginx/Chart.yaml
  bitnami/nginx/templates/prometheusrules.yaml
Labels: verify, in-progress, nginx

#29360 [bitnami/opensearch] fix: add apiVersion and kind to volumeClaimTemplates
  bitnami/opensearch/CHANGELOG.md
  bitnami/opensearch/Chart.yaml
  bitnami/opensearch/templates/data/statefulset.yaml
  bitnami/opensearch/templates/master/statefulset.yaml
Labels: verify, in-progress, opensearch

#29344 [bitnami/grafana-tempo] Allow rendering resources values
  bitnami/grafana-tempo/CHANGELOG.md
  bitnami/grafana-tempo/Chart.yaml
  bitnami/grafana-tempo/templates/compactor/deployment.yaml
  bitnami/grafana-tempo/templates/distributor/deployment.yaml
  bitnami/grafana-tempo/templates/ingester/statefulset.yaml
  bitnami/grafana-tempo/templates/metrics-generator/deployment.yaml
  bitnami/grafana-tempo/templates/querier/deployment.yaml
  bitnami/grafana-tempo/templates/query-frontend/deployment.yaml
  bitnami/grafana-tempo/templates/vulture/deployment.yaml
Labels: verify, in-progress, grafana-tempo

#29346 [bitnami/mongodb] Allow rendering resources values
  bitnami/mongodb/CHANGELOG.md
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/templates/arbiter/statefulset.yaml
  bitnami/mongodb/templates/backup/cronjob.yaml
  bitnami/mongodb/templates/hidden/statefulset.yaml
  bitnami/mongodb/templates/replicaset/statefulset.yaml
  bitnami/mongodb/templates/standalone/dep-sts.yaml
Labels: verify, in-progress, mongodb

#27596 [bitnami/gitea] Update externaldb-secret logic
  bitnami/gitea/CHANGELOG.md
  bitnami/gitea/Chart.yaml
  bitnami/gitea/templates/externaldb-secrets.yaml
Labels: verify, in-progress, gitea

#29358 [bitnami/redis-cluster] fix: add apiVersion and kind to volumeClaimTemplates
  bitnami/redis-cluster/CHANGELOG.md
  bitnami/redis-cluster/Chart.yaml
  bitnami/redis-cluster/templates/redis-statefulset.yaml
Labels: verify, in-progress, redis-cluster

#29357 [bitnami/seaweedfs] fix: add apiVersion and kind to volumeClaimTemplates
  bitnami/seaweedfs/CHANGELOG.md
  bitnami/seaweedfs/Chart.yaml
  bitnami/seaweedfs/templates/master/statefulset.yaml
  bitnami/seaweedfs/templates/volume/statefulset.yaml
Labels: verify, in-progress, seaweedfs

#29361 [bitnami/neo4j] fix: add apiVersion and kind to volumeClaimTemplates
  bitnami/neo4j/CHANGELOG.md
  bitnami/neo4j/Chart.yaml
  bitnami/neo4j/templates/statefulset.yaml
Labels: verify, in-progress, neo4j

#29362 [bitnami/elasticsearch] fix: add apiVersion and kind to volumeClaimTemplates
  bitnami/elasticsearch/CHANGELOG.md
  bitnami/elasticsearch/Chart.yaml
  bitnami/elasticsearch/templates/data/statefulset.yaml
  bitnami/elasticsearch/templates/master/statefulset.yaml
Labels: verify, in-progress, elasticsearch

#28891 [bitnami/rabbitmq] Breaking out RabbitMQ metrics endpoints to configure separately
  bitnami/rabbitmq/CHANGELOG.md
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/README.md
  bitnami/rabbitmq/templates/NOTES.txt
  bitnami/rabbitmq/templates/servicemonitor.yaml
  bitnami/rabbitmq/values.yaml
Labels: verify, in-progress, rabbitmq

#28945 [bitnami/common] Add option to remove empty seLinuxOptions from securityContext in non OpenShift environment
  bitnami/common/CHANGELOG.md
  bitnami/common/Chart.yaml
  bitnami/common/templates/_compatibility.tpl
  template/CHART_NAME/values.yaml
Labels: verify, in-progress, common

#29386 [bitnami/argo-cd] Fix duplicate `selector:` in applicationset deployment
  bitnami/argo-cd/CHANGELOG.md
  bitnami/argo-cd/Chart.yaml
  bitnami/argo-cd/templates/applicationset/deployment.yaml
Labels: verify, in-progress, argo-cd

#29022 [bitnami/kube-prometheus] Add extraEnv values for thanos sidecar
  bitnami/kube-prometheus/CHANGELOG.md
  bitnami/kube-prometheus/Chart.yaml
  bitnami/kube-prometheus/README.md
  bitnami/kube-prometheus/templates/prometheus/prometheus.yaml
  bitnami/kube-prometheus/values.yaml
Labels: verify, in-progress, kube-prometheus

#29085 [bitnami/apisix] Allow IngressClass to be created conditionally
  bitnami/apisix/CHANGELOG.md
  bitnami/apisix/Chart.yaml
  bitnami/apisix/README.md
  bitnami/apisix/templates/ingress-controller/ingress-class.yaml
  bitnami/apisix/values.yaml
Labels: stale, verify, in-progress, apisix

#29274 [bitnami/kafka] feature: NetworkPolicy review
  bitnami/kafka/CHANGELOG.md
  bitnami/kafka/Chart.yaml
  bitnami/kafka/README.md
  bitnami/kafka/templates/networkpolicy.yaml
  bitnami/kafka/values.yaml
Labels: verify, kafka, bitnami

#29383 [bitnami/janusgraph] Update version of Cassandra's chart
  bitnami/janusgraph/CHANGELOG.md
  bitnami/janusgraph/Chart.lock
  bitnami/janusgraph/Chart.yaml
  bitnami/janusgraph/README.md
  bitnami/janusgraph/values.yaml
Labels: verify, bitnami, janusgraph

#29376 [bitnami/redis] Use common password manager to handle password
  bitnami/redis/CHANGELOG.md
  bitnami/redis/Chart.yaml
  bitnami/redis/templates/_helpers.tpl
Labels: verify, in-progress, redis

#29397 [bitnami/keycloak] Fix app-volume-dir mount path
  bitnami/keycloak/CHANGELOG.md
  bitnami/keycloak/Chart.lock
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/templates/statefulset.yaml
Labels: verify, keycloak, bitnami

#29201 [bitnami/postgresql] collect metrics as postgres user
  bitnami/postgresql/CHANGELOG.md
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/templates/primary/statefulset.yaml
Labels: in-progress, postgresql

#29409 [bitnami/kube-prometheus] Fix typo in README.md
  bitnami/kube-prometheus/README.md
Labels: triage, kube-prometheus

#29410 [bitnami/grafana-operator] Remove duplicated text in README.md
  bitnami/grafana-operator/README.md
Labels: triage, grafana-operator

#29400 [bitnami/seaweedfs] Add support for PostgreSQL as alternative db
  bitnami/seaweedfs/CHANGELOG.md
  bitnami/seaweedfs/Chart.lock
  bitnami/seaweedfs/Chart.yaml
  bitnami/seaweedfs/README.md
  bitnami/seaweedfs/templates/NOTES.txt
  bitnami/seaweedfs/templates/_helpers.tpl
  bitnami/seaweedfs/templates/filer/statefulset.yaml
  bitnami/seaweedfs/templates/job.yaml
  bitnami/seaweedfs/values.yaml
Labels: verify, bitnami, seaweedfs

#29374 [bitnami/external-dns] Fixed oci workload identity secret creation
  bitnami/external-dns/CHANGELOG.md
  bitnami/external-dns/Chart.yaml
  bitnami/external-dns/templates/_helpers.tpl
Labels: verify, in-progress, external-dns

#29439 [bitnami/magento] Add deprecation note
  bitnami/magento/CHANGELOG.md
  bitnami/magento/Chart.yaml
  bitnami/magento/README.md
  bitnami/magento/templates/NOTES.txt
Labels: verify, magento, bitnami

#29379 [bitnami/nats] Fix single replica Jetstream
  bitnami/nats/CHANGELOG.md
  bitnami/nats/Chart.yaml
  bitnami/nats/values.yaml
Labels: verify, in-progress, nats

#29438 [bitnami/magento] Deprecate chart
  .vib/magento/cypress/cypress.config.js
  .vib/magento/cypress/cypress/e2e/magento.cy.js
  .vib/magento/cypress/cypress/fixtures/customers.json
  .vib/magento/cypress/cypress/fixtures/discounts.json
  .vib/magento/cypress/cypress/fixtures/images/image.png
  .vib/magento/cypress/cypress/fixtures/pages.json
  .vib/magento/cypress/cypress/fixtures/products.json
  .vib/magento/cypress/cypress/support/commands.js
  .vib/magento/cypress/cypress/support/e2e.js
  .vib/magento/cypress/cypress/support/utils.js
  .vib/magento/goss/goss.yaml
  .vib/magento/runtime-parameters.yaml
  .vib/magento/vib-action.config
  .vib/magento/vib-publish.json
  .vib/magento/vib-verify.json
  bitnami/magento/.helmignore
  bitnami/magento/CHANGELOG.md
  bitnami/magento/Chart.lock
  bitnami/magento/Chart.yaml
  bitnami/magento/README.md
  bitnami/magento/templates/NOTES.txt
  bitnami/magento/templates/_certificates.tpl
  bitnami/magento/templates/_helpers.tpl
  bitnami/magento/templates/deployment.yaml
  bitnami/magento/templates/externaldb-secrets.yaml
  bitnami/magento/templates/extra-list.yaml
  bitnami/magento/templates/hpa.yaml
  bitnami/magento/templates/ingress.yaml
  bitnami/magento/templates/metrics-svc.yaml
  bitnami/magento/templates/networkpolicy.yaml
  bitnami/magento/templates/pdb.yaml
  bitnami/magento/templates/pv.yaml
  bitnami/magento/templates/pvc.yaml
  bitnami/magento/templates/secrets.yaml
  bitnami/magento/templates/serviceaccount.yaml
  bitnami/magento/templates/svc.yaml
  bitnami/magento/templates/tls-secrets.yaml
  bitnami/magento/values.yaml
Labels: verify, bitnami

#29462 [bitnami/nats] Improve Ginkgo tests
  .vib/nats/ginkgo/nats_test.go
  bitnami/nats/CHANGELOG.md
  bitnami/nats/Chart.yaml
Labels: verify, bitnami

#29464 [bitnami/consul] test: :white_check_mark: Improve reliability of ginkgo tests
  .vib/consul/ginkgo/consul_test.go
  bitnami/consul/CHANGELOG.md
  bitnami/consul/Chart.yaml
Labels: verify, bitnami, consul

#29465 [bitnami/elasticsearch] test: :white_check_mark: Improve reliability of ginkgo tests
  .vib/elasticsearch/ginkgo/elasticsearch_test.go
  bitnami/elasticsearch/CHANGELOG.md
  bitnami/elasticsearch/Chart.yaml
Labels: verify, bitnami, elasticsearch

#29466 [bitnami/kafka] test: :white_check_mark: Improve reliability of ginkgo tests
  .vib/kafka/ginkgo/kafka_test.go
  bitnami/kafka/CHANGELOG.md
  bitnami/kafka/Chart.yaml
Labels: verify, kafka, bitnami

#29467 [bitnami/mariadb] test: :white_check_mark: Improve reliability of ginkgo tests
  .vib/mariadb/ginkgo/mariadb_test.go
  bitnami/mariadb/CHANGELOG.md
  bitnami/mariadb/Chart.yaml
Labels: verify, mariadb, bitnami

#29470 [bitnami/mysql] test: :white_check_mark: Improve reliability of ginkgo tests
  .vib/mysql/ginkgo/mysql_test.go
  bitnami/mysql/CHANGELOG.md
  bitnami/mysql/Chart.yaml
Labels: verify, bitnami, mysql

#29475 [bitnami/zookeeper] test: :white_check_mark: Improve reliability of ginkgo tests
  .vib/zookeeper/ginkgo/zookeeper_test.go
  bitnami/zookeeper/CHANGELOG.md
  bitnami/zookeeper/Chart.yaml
Labels: verify, bitnami, zookeeper

#29473 [bitnami/seaweedfs] test: :white_check_mark: Improve reliability of ginkgo tests
  .vib/seaweedfs/ginkgo/seaweedfs_test.go
  bitnami/seaweedfs/CHANGELOG.md
  bitnami/seaweedfs/Chart.yaml
Labels: verify, bitnami, seaweedfs

#29476 [bitnami/etcd] test: :white_check_mark: Improve reliability of ginkgo tests
  .vib/etcd/ginkgo/etcd_test.go
  bitnami/etcd/CHANGELOG.md
  bitnami/etcd/Chart.yaml
Labels: verify, bitnami, etcd

#29472 [bitnami/postgresql] test: :white_check_mark: Improve reliability of ginkgo tests
  .vib/postgresql/ginkgo/postgresql_test.go
  bitnami/postgresql/CHANGELOG.md
  bitnami/postgresql/Chart.yaml
Labels: verify, postgresql, bitnami

#29471 [bitnami/opensearch] test: :white_check_mark: Improve reliability of ginkgo tests
  .vib/opensearch/ginkgo/opensearch_test.go
  bitnami/opensearch/CHANGELOG.md
  bitnami/opensearch/Chart.yaml
Labels: verify, bitnami, opensearch

#29463 [bitnami/solr] test: :white_check_mark: Improve reliability of ginkgo tests
  .vib/solr/ginkgo/solr_suite_test.go
  .vib/solr/ginkgo/solr_test.go
  bitnami/solr/CHANGELOG.md
  bitnami/solr/Chart.yaml
Labels: verify, bitnami, solr

#29478 [bitnami/minio] fix: :bug: Add sleep to avoid race condition in provisioning
  bitnami/minio/CHANGELOG.md
  bitnami/minio/Chart.yaml
  bitnami/minio/templates/provisioning-job.yaml
Labels: verify, bitnami, minio

#29489 [bitnami/apache] Update templates to have conditionals for HPA
  bitnami/apache/CHANGELOG.md
  bitnami/apache/Chart.yaml
  bitnami/apache/README.md
  bitnami/apache/templates/deployment.yaml
  bitnami/apache/templates/hpa.yaml
Labels: verify, in-progress, apache

#29497 [bitnami/postgresql-ha] Update extendedConf related documentation
  bitnami/postgresql-ha/CHANGELOG.md
  bitnami/postgresql-ha/Chart.yaml
  bitnami/postgresql-ha/README.md
  bitnami/postgresql-ha/values.yaml
Labels: verify, bitnami, postgresql-ha

#29442 [bitnami/ghost] Remove duplicated empty password check `common.validations.values.mysql.passwords`
  bitnami/ghost/CHANGELOG.md
  bitnami/ghost/Chart.yaml
  bitnami/ghost/templates/NOTES.txt
Labels: verify, in-progress, ghost

#29441 [bitnami/kong] Remove duplicated empty password check `common.validations.values.cassandra.passwords`
  bitnami/kong/CHANGELOG.md
  bitnami/kong/Chart.yaml
  bitnami/kong/templates/NOTES.txt
Labels: verify, in-progress, kong

#29494 [bitnami/harbor] Fix REGISTRY_HTTP_SECRET encoding when declared on an existing secret
  bitnami/harbor/CHANGELOG.md
  bitnami/harbor/Chart.yaml
  bitnami/harbor/templates/registry/registry-secret.yaml
Labels: verify, in-progress, harbor

#29491 [bitnami/nginx] stream server blocks
  bitnami/nginx/CHANGELOG.md
  bitnami/nginx/Chart.yaml
  bitnami/nginx/README.md
  bitnami/nginx/templates/_helpers.tpl
  bitnami/nginx/templates/deployment.yaml
  bitnami/nginx/templates/stream-server-block-configmap.yaml
  bitnami/nginx/values.schema.json
  bitnami/nginx/values.yaml
Labels: verify, in-progress, nginx

#29548 [bitnami/opensearch] Replace links to open.co with opensearch.org
  bitnami/opensearch/README.md
Labels: triage, opensearch

#29557 Update values.yaml
  bitnami/kafka/CHANGELOG.md
  bitnami/kafka/Chart.yaml
  bitnami/kafka/README.md
  bitnami/kafka/values.yaml
Labels: verify, triage, kafka

#29550 [bitnami/apisix] Allow setting externalIPs for services
  bitnami/apisix/CHANGELOG.md
  bitnami/apisix/Chart.yaml
  bitnami/apisix/README.md
  bitnami/apisix/templates/control-plane/service.yaml
  bitnami/apisix/templates/dashboard/service.yaml
  bitnami/apisix/templates/data-plane/service.yaml
  bitnami/apisix/templates/ingress-controller/service.yaml
  bitnami/apisix/values.yaml
Labels: verify, in-progress, apisix

#29440 [bitnami/zookeeper] Drop unused `getValueFromSecret` local helper
  bitnami/zookeeper/CHANGELOG.md
  bitnami/zookeeper/Chart.yaml
  bitnami/zookeeper/templates/_helpers.tpl
Labels: verify, in-progress, zookeeper

#29572 [bitnami/spring-cloud-dataflow] feat!: :arrow_up: :boom: Bump RabbitMQ to 4.x.x
  bitnami/spring-cloud-dataflow/CHANGELOG.md
  bitnami/spring-cloud-dataflow/Chart.lock
  bitnami/spring-cloud-dataflow/Chart.yaml
  bitnami/spring-cloud-dataflow/README.md
Labels: verify, bitnami, spring-cloud-dataflow

#29553 [bitnami/grafana-operator] Enable env in grafana
  bitnami/grafana-operator/CHANGELOG.md
  bitnami/grafana-operator/Chart.yaml
  bitnami/grafana-operator/README.md
  bitnami/grafana-operator/templates/grafana.yaml
  bitnami/grafana-operator/values.yaml
Labels: verify, in-progress, grafana-operator

#29578 [bitnami/rabbitmq-cluster-operator] Add PodDistruptionBidget (PBDs)
  bitnami/rabbitmq-cluster-operator/CHANGELOG.md
  bitnami/rabbitmq-cluster-operator/Chart.yaml
  bitnami/rabbitmq-cluster-operator/README.md
  bitnami/rabbitmq-cluster-operator/templates/cluster-operator/pdb.yaml
  bitnami/rabbitmq-cluster-operator/templates/messaging-topology-operator/pdb.yaml
  bitnami/rabbitmq-cluster-operator/values.yaml
Labels: verify, in-progress, rabbitmq-cluster-operator

#29586 [bitnami/opensearch] Fix plugins installation
  bitnami/opensearch/CHANGELOG.md
  bitnami/opensearch/Chart.yaml
  bitnami/opensearch/templates/_helpers.tpl
  bitnami/opensearch/templates/coordinating/statefulset.yaml
  bitnami/opensearch/templates/dashboards/deployment.yaml
  bitnami/opensearch/templates/data/statefulset.yaml
  bitnami/opensearch/templates/ingest/statefulset.yaml
  bitnami/opensearch/templates/master/statefulset.yaml
Labels: verify, bitnami, opensearch

#29595 [bitnami/redis] - fix additionalEndpoints in servicemonitor
  bitnami/redis/CHANGELOG.md
  bitnami/redis/Chart.yaml
  bitnami/redis/templates/servicemonitor.yaml
  bitnami/redis/values.yaml
Labels: verify, in-progress, redis

#29589 [bitnami/valkey-cluster] the redis_url for redis_exporter should use rediss/redis scheme, not valkeys/valkey.
  bitnami/valkey-cluster/CHANGELOG.md
  bitnami/valkey-cluster/Chart.yaml
  bitnami/valkey-cluster/templates/valkey-statefulset.yaml
Labels: verify, in-progress, valkey-cluster

#29560 [bitnami/cassandra] Use common password manager to handle passwords
  bitnami/cassandra/CHANGELOG.md
  bitnami/cassandra/Chart.yaml
  bitnami/cassandra/templates/_helpers.tpl
  bitnami/cassandra/templates/cassandra-secret.yaml
Labels: verify, in-progress, cassandra

#29559 [bitnami/minio] Use common password manager to handle credentials
  bitnami/minio/CHANGELOG.md
  bitnami/minio/Chart.yaml
  bitnami/minio/templates/_helpers.tpl
  bitnami/minio/templates/secrets.yaml
Labels: verify, in-progress, minio

#29568 [bitnami/discourse] Move plugins installation to init-container
  bitnami/discourse/CHANGELOG.md
  bitnami/discourse/Chart.yaml
  bitnami/discourse/templates/deployment.yaml
Labels: verify, bitnami, discourse

#29624 [bitnami/opensearch] Plugin installation as non-root user
  bitnami/opensearch/CHANGELOG.md
  bitnami/opensearch/Chart.yaml
  bitnami/opensearch/templates/_helpers.tpl
Labels: verify, bitnami, opensearch

#29620 [bitnami/argo-workflows] Update Workflow RBAC to Use Recommended `workflowtaskresults` CRD
  bitnami/argo-workflows/CHANGELOG.md
  bitnami/argo-workflows/Chart.yaml
  bitnami/argo-workflows/templates/controller/workflow-role.yaml
Labels: verify, in-progress, argo-workflows

#29570 [bitnami/memcached] Add optional emptyDir medium configuration
  bitnami/memcached/CHANGELOG.md
  bitnami/memcached/Chart.yaml
  bitnami/memcached/README.md
  bitnami/memcached/templates/deployment.yaml
  bitnami/memcached/templates/statefulset.yaml
  bitnami/memcached/values.yaml
Labels: verify, in-progress, memcached

#29599 [bitnami/mongodb-sharded] Fix uncapacity to disable persistence
  bitnami/mongodb-sharded/CHANGELOG.md
  bitnami/mongodb-sharded/Chart.yaml
  bitnami/mongodb-sharded/templates/config-server/config-server-statefulset.yaml
  bitnami/mongodb-sharded/templates/shard/shard-data-statefulset.yaml
Labels: verify, in-progress, mongodb-sharded
