Repository bitnami/charts, pull requests merged in 2024-02, with the labels that each got.

#22753 [bitnami/sonarqube] Fix updateStrategy.type option comment in default values
  bitnami/sonarqube/Chart.yaml
  bitnami/sonarqube/README.md
  bitnami/sonarqube/values.yaml
Labels: verify, in-progress, sonarqube

#22994 [bitnami/mongodb] Add securityContext to init tls container
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/README.md
  bitnami/mongodb/templates/standalone/dep-sts.yaml
  bitnami/mongodb/values.yaml
Labels: verify, in-progress, mongodb

#22955 [bitnami/redis] fix: :bug: Add allowExternalEgress to avoid breaking istio and fix metrics port
  bitnami/redis/Chart.yaml
  bitnami/redis/README.md
  bitnami/redis/templates/master/application.yaml
  bitnami/redis/templates/networkpolicy.yaml
  bitnami/redis/templates/replicas/application.yaml
  bitnami/redis/templates/sentinel/statefulset.yaml
  bitnami/redis/values.yaml
Labels: verify, bitnami, redis

#22980 [bitnami/solr] fix: :bug: Add allowExternalEgress to avoid breaking istio
  bitnami/solr/Chart.yaml
  bitnami/solr/README.md
  bitnami/solr/templates/networkpolicy.yaml
  bitnami/solr/values.yaml
Labels: verify, bitnami, solr

#22982 [bitnami/whereabouts] fix: :bug: Add allowExternalEgress to avoid breaking istio
  bitnami/whereabouts/Chart.yaml
  bitnami/whereabouts/README.md
  bitnami/whereabouts/templates/networkpolicy.yaml
  bitnami/whereabouts/values.yaml
Labels: verify, bitnami, whereabouts

#22979 [bitnami/zookeeper] fix: :bug: Add allowExternalEgress to avoid breaking istio
  bitnami/zookeeper/Chart.yaml
  bitnami/zookeeper/README.md
  bitnami/zookeeper/templates/networkpolicy.yaml
  bitnami/zookeeper/values.yaml
Labels: verify, bitnami, zookeeper

#22971 [bitnami/schema-registry] fix: :bug: Add allowExternalEgress to avoid breaking istio
  bitnami/schema-registry/Chart.yaml
  bitnami/schema-registry/README.md
  bitnami/schema-registry/templates/networkpolicy.yaml
  bitnami/schema-registry/values.yaml
Labels: verify, bitnami, schema-registry

#22969 [bitnami/spark] fix: :bug: Add allowExternalEgress to avoid breaking istio
  bitnami/spark/Chart.yaml
  bitnami/spark/README.md
  bitnami/spark/templates/networkpolicy-master.yaml
  bitnami/spark/templates/networkpolicy-worker.yaml
  bitnami/spark/values.yaml
Labels: verify, bitnami, spark

#22965 [bitnami/prometheus] fix: :bug: Add allowExternalEgress to avoid breaking istio
  bitnami/prometheus/Chart.yaml
  bitnami/prometheus/README.md
  bitnami/prometheus/templates/alertmanager/networkpolicy.yaml
  bitnami/prometheus/templates/server/networkpolicy.yaml
  bitnami/prometheus/values.yaml
Labels: verify, bitnami, prometheus

#22960 [bitnami/nginx-ingress-controller] fix: :bug: Add allowExternalEgress to avoid breaking istio
  bitnami/nginx-ingress-controller/Chart.yaml
  bitnami/nginx-ingress-controller/README.md
  bitnami/nginx-ingress-controller/templates/controller-networkpolicy.yaml
  bitnami/nginx-ingress-controller/templates/default-backend-networkpolicy.yaml
  bitnami/nginx-ingress-controller/values.yaml
Labels: verify, bitnami, nginx-ingress-controller

#22871 [bitnami/oauth2-proxy] feat: :lock: Enable networkPolicy
  bitnami/oauth2-proxy/Chart.yaml
  bitnami/oauth2-proxy/README.md
  bitnami/oauth2-proxy/templates/networkpolicy.yaml
  bitnami/oauth2-proxy/values.yaml
Labels: verify, bitnami, oauth2-proxy

#22870 [bitnami/opensearch] feat: :lock: Enable networkPolicy
  bitnami/opensearch/Chart.yaml
  bitnami/opensearch/README.md
  bitnami/opensearch/templates/coordinating/networkpolicy.yaml
  bitnami/opensearch/templates/dashboards/networkpolicy.yaml
  bitnami/opensearch/templates/data/networkpolicy.yaml
  bitnami/opensearch/templates/ingest/networkpolicy.yaml
  bitnami/opensearch/templates/master/networkpolicy.yaml
  bitnami/opensearch/values.yaml
Labels: verify, bitnami, opensearch

#22835 [bitnami/parse] feat: :lock: Enable networkPolicy
  bitnami/parse/Chart.yaml
  bitnami/parse/README.md
  bitnami/parse/templates/_helpers.tpl
  bitnami/parse/templates/dashboard-deployment.yaml
  bitnami/parse/templates/dashboard-networkpolicy.yaml
  bitnami/parse/templates/dashboard-svc.yaml
  bitnami/parse/templates/ingress.yaml
  bitnami/parse/templates/server-deployment.yaml
  bitnami/parse/templates/server-networkpolicy.yaml
  bitnami/parse/values.yaml
Labels: verify, bitnami, parse

#22964 [bitnami/postgresql-ha] feat: :sparkles: Add allowExternalEgress
  bitnami/postgresql-ha/Chart.yaml
  bitnami/postgresql-ha/README.md
  bitnami/postgresql-ha/templates/pgpool/networkpolicy.yaml
  bitnami/postgresql-ha/templates/postgresql/networkpolicy.yaml
  bitnami/postgresql-ha/values.yaml
Labels: verify, bitnami, postgresql-ha

#22924 [bitnami/rabbitmq] Fix variable naming in helpers template file
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/templates/_helpers.tpl
Labels: verify, in-progress, rabbitmq

#22873 [bitnami/node-exporter] feat: :lock: Enable networkPolicy
  bitnami/node-exporter/Chart.yaml
  bitnami/node-exporter/README.md
  bitnami/node-exporter/templates/networkpolicy.yaml
  bitnami/node-exporter/values.yaml
Labels: verify, bitnami, node-exporter

#23020 [bitnami/redis] Add single quotes in goss test to avoid history search substitution
  .vib/redis/goss/goss.yaml
Labels: verify, bitnami

#23019 [bitnami/mysql] feat: :lock: Enable networkPolicy
  bitnami/mysql/Chart.yaml
  bitnami/mysql/README.md
  bitnami/mysql/templates/networkpolicy.yaml
  bitnami/mysql/templates/primary/statefulset.yaml
  bitnami/mysql/templates/secondary/statefulset.yaml
  bitnami/mysql/values.yaml
Labels: verify, bitnami, mysql

#22878 [bitnami/mongodb-sharded] feat: :lock: Enable networkPolicy
  bitnami/mongodb-sharded/Chart.yaml
  bitnami/mongodb-sharded/README.md
  bitnami/mongodb-sharded/templates/networkpolicy.yaml
  bitnami/mongodb-sharded/values.yaml
Labels: verify, bitnami, mongodb-sharded

#23022 [bitnami/mongodb] backup cronjob respects global.imagePullSecrets and image.pullPolicy
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/templates/backup/cronjob.yaml
Labels: verify, in-progress, mongodb

#22217 [bitnami/mastodon] fix indentation of extraVolumes
  bitnami/mastodon/Chart.yaml
  bitnami/mastodon/templates/sidekiq/deployment.yaml
  bitnami/mastodon/templates/streaming/deployment.yaml
  bitnami/mastodon/templates/web/deployment.yaml
Labels: verify, triage, mastodon

#23025 [bitnami/memcached] feat: :lock: Enable networkPolicy
  bitnami/memcached/Chart.yaml
  bitnami/memcached/README.md
  bitnami/memcached/templates/networkpolicy.yaml
  bitnami/memcached/values.yaml
Labels: verify, bitnami, memcached

#23023 [bitnami/metrics-server] feat: :lock: Enable networkPolicy
  bitnami/metrics-server/Chart.yaml
  bitnami/metrics-server/README.md
  bitnami/metrics-server/templates/networkpolicy.yaml
  bitnami/metrics-server/values.yaml
Labels: verify, bitnami, metrics-server

#23074 [bitnami/logstash] feat: :lock: Enable networkPolicy
  bitnami/logstash/Chart.yaml
  bitnami/logstash/README.md
  bitnami/logstash/templates/networkpolicy.yaml
  bitnami/logstash/values.yaml
Labels: verify, bitnami, logstash

#22981 [bitnami/vault] fix: :bug: Add allowExternalEgress to avoid breaking istio
  bitnami/vault/Chart.yaml
  bitnami/vault/README.md
  bitnami/vault/templates/csi-provider/networkpolicy.yaml
  bitnami/vault/templates/injector/networkpolicy.yaml
  bitnami/vault/templates/server/networkpolicy.yaml
  bitnami/vault/values.yaml
Labels: verify, bitnami, vault

#22686 [bitnami/harbor] add ability to set serviceAccountName
  bitnami/harbor/Chart.yaml
  bitnami/harbor/README.md
  bitnami/harbor/templates/core/core-dpl.yaml
  bitnami/harbor/templates/jobservice/jobservice-dpl.yaml
  bitnami/harbor/templates/nginx/deployment.yaml
  bitnami/harbor/templates/portal/portal-dpl.yaml
  bitnami/harbor/templates/registry/registry-dpl.yaml
  bitnami/harbor/templates/trivy/trivy-sts.yaml
  bitnami/harbor/values.yaml
Labels: verify, in-progress, harbor

#23033 [bitnami/appsmith] fix: :bug: Add allowExternalEgress to avoid breaking istio
  bitnami/appsmith/Chart.yaml
  bitnami/appsmith/README.md
  bitnami/appsmith/templates/backend/networkpolicy.yaml
  bitnami/appsmith/templates/client/networkpolicy.yaml
  bitnami/appsmith/templates/rts/networkpolicy.yaml
  bitnami/appsmith/values.yaml
Labels: verify, bitnami, appsmith

#23179 [bitnami/nginx] fix: :bug: Use conditional value for https in networkpolicy
  bitnami/nginx/Chart.yaml
  bitnami/nginx/templates/networkpolicy.yaml
Labels: verify, nginx, bitnami

#23031 [bitnami/clickhouse] fix: :bug: Add allowExternalEgress to avoid breaking istio
  bitnami/clickhouse/Chart.yaml
  bitnami/clickhouse/README.md
  bitnami/clickhouse/templates/networkpolicy.yaml
  bitnami/clickhouse/values.yaml
Labels: verify, bitnami, clickhouse

#23077 [bitnami/kube-state-metrics] feat: :lock: Enable networkPolicy
  bitnami/kube-state-metrics/Chart.yaml
  bitnami/kube-state-metrics/README.md
  bitnami/kube-state-metrics/templates/deployment.yaml
  bitnami/kube-state-metrics/templates/networkpolicy.yaml
  bitnami/kube-state-metrics/values.yaml
Labels: verify, bitnami, kube-state-metrics

#23076 [bitnami/kuberay] feat: :lock: Enable networkPolicy
  bitnami/kuberay/Chart.yaml
  bitnami/kuberay/README.md
  bitnami/kuberay/templates/apiserver/networkpolicy.yaml
  bitnami/kuberay/templates/operator/networkpolicy.yaml
  bitnami/kuberay/values.yaml
Labels: verify, bitnami, kuberay

#23075 [bitnami/kubernetes-event-exporter] feat: :lock: Enable networkPolicy
  bitnami/kubernetes-event-exporter/Chart.yaml
  bitnami/kubernetes-event-exporter/README.md
  bitnami/kubernetes-event-exporter/templates/networkpolicy.yaml
  bitnami/kubernetes-event-exporter/values.yaml
Labels: verify, bitnami, kubernetes-event-exporter

#23029 [bitnami/kube-state-metrics] Add leases to kubeResources
  bitnami/kube-state-metrics/Chart.yaml
  bitnami/kube-state-metrics/templates/deployment.yaml
Labels: verify, in-progress, kube-state-metrics

#23202 [bitnami/jaeger] feat: :lock: Enable networkPolicy
  bitnami/jaeger/Chart.yaml
  bitnami/jaeger/README.md
  bitnami/jaeger/templates/agent/networkpolicy.yaml
  bitnami/jaeger/templates/collector/networkpolicy.yaml
  bitnami/jaeger/templates/migrate-networkpolicy.yaml
  bitnami/jaeger/templates/query/networkpolicy.yaml
  bitnami/jaeger/values.yaml
Labels: verify, bitnami, jaeger

#22557 [bitnami/rabbitmq] fix: make toBytes handle numbers with a decimal dot
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/templates/_helpers.tpl
Labels: verify, in-progress, rabbitmq

#22920 [bitnami/minio] feat: :lock: Enable networkPolicy
  bitnami/minio/Chart.yaml
  bitnami/minio/README.md
  bitnami/minio/templates/networkpolicy.yaml
  bitnami/minio/values.yaml
Labels: verify, bitnami, minio

#23206 [bitnami/haproxy] feat: :lock: Enable networkPolicy
  bitnami/haproxy/Chart.yaml
  bitnami/haproxy/README.md
  bitnami/haproxy/templates/networkpolicy.yaml
  bitnami/haproxy/values.yaml
Labels: verify, bitnami, haproxy

#23054 [bitnami/mariadb] feat!: :lock: :boom: Enable networkPolicy
  bitnami/mariadb/Chart.yaml
  bitnami/mariadb/README.md
  bitnami/mariadb/templates/networkpolicy-egress.yaml
  bitnami/mariadb/templates/networkpolicy.yaml
  bitnami/mariadb/templates/primary/configmap.yaml
  bitnami/mariadb/templates/primary/networkpolicy-ingress.yaml
  bitnami/mariadb/templates/primary/statefulset.yaml
  bitnami/mariadb/templates/secondary/configmap.yaml
  bitnami/mariadb/templates/secondary/networkpolicy-ingress.yaml
  bitnami/mariadb/templates/secondary/statefulset.yaml
  bitnami/mariadb/values.yaml
Labels: verify, mariadb, bitnami

#22972 [bitnami/rabbitmq] fix: :bug: Add allowExternalEgress to avoid breaking istio
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/README.md
  bitnami/rabbitmq/templates/networkpolicy.yaml
  bitnami/rabbitmq/values.yaml
Labels: verify, bitnami, rabbitmq

#22976 [bitnami/sonarqube] fix: :bug: Add allowExternalEgress to avoid breaking istio
  bitnami/sonarqube/Chart.yaml
  bitnami/sonarqube/README.md
  bitnami/sonarqube/templates/networkpolicy.yaml
  bitnami/sonarqube/values.yaml
Labels: verify, bitnami, sonarqube

#23203 [bitnami/influxdb] feat: :lock: Enable networkPolicy
  bitnami/influxdb/Chart.yaml
  bitnami/influxdb/README.md
  bitnami/influxdb/templates/configmap-backup.yaml
  bitnami/influxdb/templates/configmap-initdb-scripts.yaml
  bitnami/influxdb/templates/configmap.yaml
  bitnami/influxdb/templates/cronjob-backup.yaml
  bitnami/influxdb/templates/deployment.yaml
  bitnami/influxdb/templates/ingress.yaml
  bitnami/influxdb/templates/networkpolicy.yaml
  bitnami/influxdb/templates/psp-role.yaml
  bitnami/influxdb/templates/psp-rolebinding.yaml
  bitnami/influxdb/templates/psp.yaml
  bitnami/influxdb/templates/pvc-backup.yaml
  bitnami/influxdb/templates/pvc.yaml
  bitnami/influxdb/templates/secrets-backup.yaml
  bitnami/influxdb/templates/secrets.yaml
  bitnami/influxdb/templates/service-collectd.yaml
  bitnami/influxdb/templates/service-metrics.yaml
  bitnami/influxdb/templates/service.yaml
  bitnami/influxdb/templates/serviceaccount.yaml
  bitnami/influxdb/values.yaml
Labels: verify, bitnami, influxdb

#23201 [bitnami/charts] Remove SRP report
  .github/workflows/srp-report.yml
Labels: verify, bitnami

#22797 [bitnami/postgresql-ha] Allow the security context of the volume permissions init container to be disabled
  bitnami/postgresql-ha/Chart.yaml
  bitnami/postgresql-ha/README.md
  bitnami/postgresql-ha/templates/postgresql/statefulset.yaml
  bitnami/postgresql-ha/values.yaml
Labels: verify, in-progress, postgresql-ha

#22923 [bitnami/milvus] feat: :lock: Enable networkPolicy
  bitnami/milvus/Chart.yaml
  bitnami/milvus/README.md
  bitnami/milvus/templates/attu/networkpolicy.yaml
  bitnami/milvus/templates/data-coordinator/networkpolicy.yaml
  bitnami/milvus/templates/data-node/networkpolicy.yaml
  bitnami/milvus/templates/index-coordinator/networkpolicy.yaml
  bitnami/milvus/templates/index-node/networkpolicy.yaml
  bitnami/milvus/templates/init-job-networkpolicy.yaml
  bitnami/milvus/templates/init-job.yaml
  bitnami/milvus/templates/proxy/networkpolicy.yaml
  bitnami/milvus/templates/query-coordinator/networkpolicy.yaml
  bitnami/milvus/templates/query-node/networkpolicy.yaml
  bitnami/milvus/templates/root-coordinator/networkpolicy.yaml
  bitnami/milvus/values.yaml
Labels: verify, bitnami, milvus

#23184 [bitnami/kong] feat: :lock: Enable networkPolicy
  bitnami/kong/Chart.yaml
  bitnami/kong/README.md
  bitnami/kong/templates/migrate-job-networkpolicy.yaml
  bitnami/kong/templates/networkpolicy.yaml
  bitnami/kong/values.yaml
Labels: verify, bitnami, kong

#23209 [bitnami/grafana-operator] feat: :lock: Enable networkPolicy
  bitnami/grafana-operator/Chart.yaml
  bitnami/grafana-operator/README.md
  bitnami/grafana-operator/templates/networkpolicy.yaml
  bitnami/grafana-operator/values.yaml
Labels: verify, bitnami, grafana-operator

#22547 [bitnami/wildfly] feat: :lock: Enable networkPolicy
  bitnami/wildfly/Chart.yaml
  bitnami/wildfly/README.md
  bitnami/wildfly/templates/networkpolicy.yaml
  bitnami/wildfly/values.yaml
Labels: verify, bitnami, wildfly

#23284 [bitnami/flink] feat: :lock: Enable networkPolicy
  bitnami/flink/Chart.yaml
  bitnami/flink/README.md
  bitnami/flink/templates/jobmanager/networkpolicy.yaml
  bitnami/flink/templates/taskmanager/networkpolicy.yaml
  bitnami/flink/values.yaml
Labels: verify, bitnami, flink

#23264 [bitnami/flux] feat: :lock: Enable networkPolicy
  bitnami/flux/Chart.yaml
  bitnami/flux/README.md
  bitnami/flux/templates/helm-controller/networkpolicy.yaml
  bitnami/flux/templates/image-automation-controller/networkpolicy.yaml
  bitnami/flux/templates/image-reflector-controller/networkpolicy.yaml
  bitnami/flux/templates/kustomize-controller/networkpolicy.yaml
  bitnami/flux/templates/notification-controller/networkpolicy.yaml
  bitnami/flux/templates/source-controller/networkpolicy.yaml
  bitnami/flux/values.yaml
Labels: verify, bitnami, flux

#23050 [bitnami/mastodon] feat: :lock: Enable networkPolicy
  bitnami/mastodon/Chart.yaml
  bitnami/mastodon/README.md
  bitnami/mastodon/templates/init-job/networkpolicy.yaml
  bitnami/mastodon/templates/sidekiq/networkpolicy.yaml
  bitnami/mastodon/templates/streaming/networkpolicy.yaml
  bitnami/mastodon/templates/tootctlMediaManagement/networkpolicy.yaml
  bitnami/mastodon/templates/web/networkpolicy.yaml
  bitnami/mastodon/values.yaml
Labels: verify, bitnami, mastodon

#23286 [bitnami/etcd] feat: :lock: Enable networkPolicy
  bitnami/etcd/Chart.yaml
  bitnami/etcd/README.md
  bitnami/etcd/templates/networkpolicy.yaml
  bitnami/etcd/values.yaml
Labels: verify, bitnami, etcd

#23285 [bitnami/external-dns] feat: :lock: Enable networkPolicy
  bitnami/external-dns/Chart.yaml
  bitnami/external-dns/README.md
  bitnami/external-dns/templates/networkpolicy.yaml
  bitnami/external-dns/values.yaml
Labels: verify, bitnami, external-dns

#23220 [bitnami/nginx-ingress-controller] fix: :bug: Add missing tcp and udp exposes to NetworkPolicy
  bitnami/nginx-ingress-controller/Chart.yaml
  bitnami/nginx-ingress-controller/README.md
  bitnami/nginx-ingress-controller/templates/controller-networkpolicy.yaml
  bitnami/nginx-ingress-controller/values.yaml
Labels: verify, bitnami, nginx-ingress-controller

#23329 [bitnami/contour] feat: :lock: Enable networkPolicy
  bitnami/contour/Chart.yaml
  bitnami/contour/README.md
  bitnami/contour/templates/certgen/networkpolicy.yaml
  bitnami/contour/templates/contour/networkpolicy.yaml
  bitnami/contour/templates/default-backend/networkpolicy.yaml
  bitnami/contour/templates/envoy/networkpolicy.yaml
  bitnami/contour/values.yaml
Labels: verify, contour, bitnami

#23331 [bitnami/consul] feat: :lock: Enable networkPolicy
  bitnami/consul/Chart.yaml
  bitnami/consul/README.md
  bitnami/consul/templates/networkpolicy.yaml
  bitnami/consul/values.yaml
Labels: verify, bitnami, consul

#23272 [bitnami/fluentd] feat: :lock: Enable networkPolicy
  bitnami/fluentd/Chart.yaml
  bitnami/fluentd/README.md
  bitnami/fluentd/templates/aggregator-networkpolicy.yaml
  bitnami/fluentd/templates/forwarder-networkpolicy.yaml
  bitnami/fluentd/values.yaml
Labels: verify, bitnami, fluentd

#22995 [bitnami/redis-cluster] feat: Allow templating on existingSecret param
  bitnami/redis-cluster/Chart.yaml
  bitnami/redis-cluster/templates/_helpers.tpl
Labels: verify, in-progress, redis-cluster

#23334 [bitnami/concourse] feat: :lock: Enable networkPolicy
  bitnami/concourse/Chart.yaml
  bitnami/concourse/README.md
  bitnami/concourse/templates/config/secret-external-db.yaml
  bitnami/concourse/templates/web/configmap.yaml
  bitnami/concourse/templates/web/deployment.yaml
  bitnami/concourse/templates/web/gateway-service.yaml
  bitnami/concourse/templates/web/ingress.yaml
  bitnami/concourse/templates/web/networkpolicy.yaml
  bitnami/concourse/templates/web/podsecuritypolicy.yaml
  bitnami/concourse/templates/web/rolebinding.yaml
  bitnami/concourse/templates/web/secret.yaml
  bitnami/concourse/templates/web/service-account.yaml
  bitnami/concourse/templates/web/service.yaml
  bitnami/concourse/templates/web/tls-secrets.yaml
  bitnami/concourse/templates/worker/deployment.yaml
  bitnami/concourse/templates/worker/horizontalpodautoscaler.yaml
  bitnami/concourse/templates/worker/networkpolicy.yaml
  bitnami/concourse/templates/worker/poddisruptionbudget.yaml
  bitnami/concourse/templates/worker/podsecuritypolicy.yaml
  bitnami/concourse/templates/worker/rolebinding.yaml
  bitnami/concourse/templates/worker/secret.yaml
  bitnami/concourse/templates/worker/service-account.yaml
  bitnami/concourse/templates/worker/service.yaml
  bitnami/concourse/templates/worker/statefulset.yaml
  bitnami/concourse/values.yaml
Labels: verify, bitnami, concourse

#23330 [bitnami/jupyterhub] Fix securityContext in Openshift clusters
  bitnami/jupyterhub/Chart.yaml
  bitnami/jupyterhub/values.yaml
Labels: verify, bitnami, jupyterhub

#23335 [bitnami/cassandra] feat: :lock: Enable networkPolicy
  bitnami/cassandra/Chart.yaml
  bitnami/cassandra/README.md
  bitnami/cassandra/templates/NOTES.txt
  bitnami/cassandra/templates/_helpers.tpl
  bitnami/cassandra/templates/cassandra-secret.yaml
  bitnami/cassandra/templates/headless-svc.yaml
  bitnami/cassandra/templates/metrics-configmap.yaml
  bitnami/cassandra/templates/networkpolicy.yaml
  bitnami/cassandra/templates/pdb.yaml
  bitnami/cassandra/templates/service.yaml
  bitnami/cassandra/templates/serviceaccount.yaml
  bitnami/cassandra/templates/servicemonitor.yaml
  bitnami/cassandra/templates/statefulset.yaml
  bitnami/cassandra/templates/tls-secret.yaml
  bitnami/cassandra/values.yaml
Labels: verify, bitnami, cassandra

#23282 [bitnami/fluent-bit] feat: :lock: Enable networkPolicy
  bitnami/fluent-bit/Chart.yaml
  bitnami/fluent-bit/README.md
  bitnami/fluent-bit/templates/networkpolicy.yaml
  bitnami/fluent-bit/values.yaml
Labels: verify, bitnami, fluent-bit

#23254 [bitnami/grafana-mimir] feat: :lock: Enable networkPolicy
  bitnami/grafana-mimir/Chart.yaml
  bitnami/grafana-mimir/README.md
  bitnami/grafana-mimir/templates/alertmanager/networkpolicy.yaml
  bitnami/grafana-mimir/templates/compactor/networkpolicy.yaml
  bitnami/grafana-mimir/templates/distributor/networkpolicy.yaml
  bitnami/grafana-mimir/templates/gateway/networkpolicy.yaml
  bitnami/grafana-mimir/templates/ingester/networkpolicy.yaml
  bitnami/grafana-mimir/templates/overrides-exporter/networkpolicy.yaml
  bitnami/grafana-mimir/templates/querier/networkpolicy.yaml
  bitnami/grafana-mimir/templates/query-frontend/networkpolicy.yaml
  bitnami/grafana-mimir/templates/query-scheduler/networkpolicy.yaml
  bitnami/grafana-mimir/templates/ruler/networkpolicy.yaml
  bitnami/grafana-mimir/templates/store-gateway/networkpolicy.yaml
  bitnami/grafana-mimir/values.yaml
Labels: verify, bitnami, grafana-mimir

#23186 [bitnami/kibana] feat: :lock: Enable networkPolicy
  bitnami/kibana/Chart.yaml
  bitnami/kibana/README.md
  bitnami/kibana/templates/networkpolicy.yaml
  bitnami/kibana/values.yaml
Labels: verify, bitnami, kibana

#23355 [bitnami/moodle] Bump chart version
  bitnami/moodle/Chart.yaml
Labels: verify, moodle, bitnami

#23343 [bitnami/argo-workflows] feat: :lock: Enable networkPolicy
  bitnami/argo-workflows/Chart.yaml
  bitnami/argo-workflows/README.md
  bitnami/argo-workflows/templates/controller/networkpolicy.yaml
  bitnami/argo-workflows/templates/server/networkpolicy.yaml
  bitnami/argo-workflows/values.yaml
Labels: verify, argo-workflows, bitnami

#23328 [bitnami/postgresql] fix: :bug: Set correct references in network policy
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/README.md
  bitnami/postgresql/templates/primary/networkpolicy.yaml
  bitnami/postgresql/templates/read/networkpolicy.yaml
  bitnami/postgresql/values.yaml
Labels: verify, postgresql, bitnami

#23261 [bitnami/grafana-loki] feat: :lock: Enable networkPolicy and fix containerSecurityContext
  bitnami/grafana-loki/Chart.yaml
  bitnami/grafana-loki/README.md
  bitnami/grafana-loki/templates/compactor/networkpolicy.yaml
  bitnami/grafana-loki/templates/distributor/networkpolicy.yaml
  bitnami/grafana-loki/templates/gateway/networkpolicy.yaml
  bitnami/grafana-loki/templates/index-gateway/networkpolicy.yaml
  bitnami/grafana-loki/templates/ingester/networkpolicy.yaml
  bitnami/grafana-loki/templates/promtail/networkpolicy.yaml
  bitnami/grafana-loki/templates/querier/networkpolicy.yaml
  bitnami/grafana-loki/templates/query-frontend/networkpolicy.yaml
  bitnami/grafana-loki/templates/query-scheduler/networkpolicy.yaml
  bitnami/grafana-loki/templates/ruler/networkpolicy.yaml
  bitnami/grafana-loki/templates/table-manager/networkpolicy.yaml
  bitnami/grafana-loki/values.yaml
Labels: verify, bitnami, grafana-loki

#23205 [bitnami/harbor] feat: :lock: Enable networkPolicy
  bitnami/harbor/Chart.yaml
  bitnami/harbor/README.md
  bitnami/harbor/templates/core/core-cm-envvars.yaml
  bitnami/harbor/templates/core/core-cm.yaml
  bitnami/harbor/templates/core/core-config-override-secret.yaml
  bitnami/harbor/templates/core/core-dpl.yaml
  bitnami/harbor/templates/core/core-networkpolicy.yaml
  bitnami/harbor/templates/core/core-secret-envvars.yaml
  bitnami/harbor/templates/core/core-secret.yaml
  bitnami/harbor/templates/core/core-svc.yaml
  bitnami/harbor/templates/exporter/exporter-cm-envvars.yaml
  bitnami/harbor/templates/exporter/exporter-dpl.yaml
  bitnami/harbor/templates/exporter/exporter-networkpolicy.yaml
  bitnami/harbor/templates/exporter/exporter-secret-envvars.yaml
  bitnami/harbor/templates/exporter/exporter-svc.yaml
  bitnami/harbor/templates/ingress/core-ingress.yaml
  bitnami/harbor/templates/ingress/tls-secret.yaml
  bitnami/harbor/templates/internal/internal-crt-secret.yaml
  bitnami/harbor/templates/jobservice/jobservice-cm-envvars.yaml
  bitnami/harbor/templates/jobservice/jobservice-config-secret.yaml
  bitnami/harbor/templates/jobservice/jobservice-dpl.yaml
  bitnami/harbor/templates/jobservice/jobservice-networkpolicy.yaml
  bitnami/harbor/templates/jobservice/jobservice-pvc.yaml
  bitnami/harbor/templates/jobservice/jobservice-secret-envvars.yaml
  bitnami/harbor/templates/jobservice/jobservice-secrets.yaml
  bitnami/harbor/templates/jobservice/jobservice-svc.yaml
  bitnami/harbor/templates/nginx/configmap-http.yaml
  bitnami/harbor/templates/nginx/configmap-https.yaml
  bitnami/harbor/templates/nginx/deployment.yaml
  bitnami/harbor/templates/nginx/networkpolicy.yaml
  bitnami/harbor/templates/nginx/service.yaml
  bitnami/harbor/templates/nginx/tls-secret.yaml
  bitnami/harbor/templates/portal/portal-cm.yaml
  bitnami/harbor/templates/portal/portal-dpl.yaml
  bitnami/harbor/templates/portal/portal-networkpolicy.yaml
  bitnami/harbor/templates/portal/portal-svc.yaml
  bitnami/harbor/templates/registry/registry-cm.yaml
  bitnami/harbor/templates/registry/registry-ctl-cm-envvars.yaml
  bitnami/harbor/templates/registry/registry-dpl.yaml
  bitnami/harbor/templates/registry/registry-networkpolicy.yaml
  bitnami/harbor/templates/registry/registry-pvc.yaml
  bitnami/harbor/templates/registry/registry-secret.yaml
  bitnami/harbor/templates/registry/registry-svc.yaml
  bitnami/harbor/templates/trivy/trivy-cm-envvars.yaml
  bitnami/harbor/templates/trivy/trivy-networkpolicy.yaml
  bitnami/harbor/templates/trivy/trivy-secret-envvars.yaml
  bitnami/harbor/templates/trivy/trivy-sts.yaml
  bitnami/harbor/templates/trivy/trivy-svc.yaml
  bitnami/harbor/values.yaml
Labels: verify, bitnami, harbor

#23400 [bitnami/charts] CSP_API_TOKEN for CI pipelines
  .github/workflows/ci-pipeline.yml
Labels: verify, bitnami

#23213 [bitnami/matomo] Bugfix: missing volumeMounts for custom certificates in CronJob
  bitnami/matomo/Chart.yaml
  bitnami/matomo/templates/cronjob.yaml
Labels: verify, in-progress, matomo

#23402 [bitnami/jasperreports] Mark JasperReports chart as deprecated
  bitnami/jasperreports/Chart.yaml
Labels: verify, bitnami, jasperreports

#23404 [bitnami/jasperreports] Remove JasperReports
  .vib/jasperreports/cypress/cypress.json
  .vib/jasperreports/cypress/cypress/fixtures/WorkingReport.jrxml
  .vib/jasperreports/cypress/cypress/fixtures/reports.json
  .vib/jasperreports/cypress/cypress/integration/jasperreports_spec.js
  .vib/jasperreports/cypress/cypress/support/commands.js
  .vib/jasperreports/cypress/cypress/support/index.js
  .vib/jasperreports/cypress/cypress/support/utils.js
  .vib/jasperreports/goss/goss.yaml
  .vib/jasperreports/runtime-parameters.yaml
  .vib/jasperreports/vib-publish.json
  .vib/jasperreports/vib-verify.json
  bitnami/jasperreports/.helmignore
  bitnami/jasperreports/Chart.lock
  bitnami/jasperreports/README.md
  bitnami/jasperreports/templates/NOTES.txt
  bitnami/jasperreports/templates/_helpers.tpl
  bitnami/jasperreports/templates/deployment.yaml
  bitnami/jasperreports/templates/externaldb-secrets.yaml
  bitnami/jasperreports/templates/extra-list.yaml
  bitnami/jasperreports/templates/ingress.yaml
  bitnami/jasperreports/templates/networkpolicy-backend-ingress.yaml
  bitnami/jasperreports/templates/networkpolicy-egress.yaml
  bitnami/jasperreports/templates/networkpolicy-ingress.yaml
  bitnami/jasperreports/templates/pvc.yaml
  bitnami/jasperreports/templates/secrets.yaml
  bitnami/jasperreports/templates/serviceaccount.yaml
  bitnami/jasperreports/templates/svc.yaml
  bitnami/jasperreports/templates/tls-secrets.yaml
  bitnami/jasperreports/values.yaml
Labels: verify, bitnami

#22826 [bitnami/cert-manager] fix: :bug: Add kube-apiserver ports
  bitnami/cert-manager/Chart.yaml
  bitnami/cert-manager/README.md
  bitnami/cert-manager/templates/controller/networkpolicy.yaml
  bitnami/cert-manager/templates/webhook/networkpolicy.yaml
  bitnami/cert-manager/values.yaml
Labels: verify, bitnami, cert-manager

#23410 [bitnami/common] feat: :sparkles: Add support for resource presets
  bitnami/common/Chart.yaml
  bitnami/common/templates/_resources.tpl
  bitnami/common/templates/_warnings.tpl
Labels: verify, bitnami, common

#22809 [bitnami/redis] - add missing fields in service/pod monitor
  bitnami/redis/Chart.yaml
  bitnami/redis/README.md
  bitnami/redis/templates/podmonitor.yaml
  bitnami/redis/templates/servicemonitor.yaml
  bitnami/redis/values.yaml
Labels: verify, in-progress, redis

#23365 [bitnami/apisix] feat: :lock: Enable networkPolicy
  bitnami/apisix/Chart.yaml
  bitnami/apisix/README.md
  bitnami/apisix/templates/control-plane/networkpolicy.yaml
  bitnami/apisix/templates/dashboard/networkpolicy.yaml
  bitnami/apisix/templates/data-plane/networkpolicy.yaml
  bitnami/apisix/templates/ingress-controller/networkpolicy.yaml
  bitnami/apisix/values.yaml
Labels: verify, bitnami, apisix

#23288 [bitnami/elasticsearch] feat: :lock: Enable networkPolicy
  bitnami/elasticsearch/Chart.yaml
  bitnami/elasticsearch/README.md
  bitnami/elasticsearch/templates/coordinating/networkpolicy.yaml
  bitnami/elasticsearch/templates/data/networkpolicy.yaml
  bitnami/elasticsearch/templates/ingest/networkpolicy.yaml
  bitnami/elasticsearch/templates/master/networkpolicy.yaml
  bitnami/elasticsearch/templates/metrics/deployment.yaml
  bitnami/elasticsearch/templates/metrics/networkpolicy.yaml
  bitnami/elasticsearch/values.yaml
Labels: verify, bitnami, elasticsearch

#23192 [bitnami/jenkins] feat: :lock: Enable networkPolicy
  bitnami/jenkins/Chart.yaml
  bitnami/jenkins/README.md
  bitnami/jenkins/templates/networkpolicy.yaml
  bitnami/jenkins/values.yaml
Labels: verify, jenkins, bitnami

#23187 [bitnami/kiam] feat: :lock: Enable networkPolicy
  bitnami/kiam/Chart.yaml
  bitnami/kiam/README.md
  bitnami/kiam/templates/agent/agent-networkpolicy.yaml
  bitnami/kiam/templates/server/server-networkpolicy.yaml
  bitnami/kiam/values.yaml
Labels: verify, bitnami, kiam

#22877 [bitnami/multus-cni] feat: :lock: Enable networkPolicy
  bitnami/multus-cni/Chart.yaml
  bitnami/multus-cni/README.md
  bitnami/multus-cni/templates/networkpolicy.yaml
  bitnami/multus-cni/values.yaml
Labels: verify, bitnami, multus-cni

#22893 [bitnami/mlflow] feat: :lock: Enable networkPolicy
  bitnami/mlflow/Chart.yaml
  bitnami/mlflow/README.md
  bitnami/mlflow/templates/run/networkpolicy.yaml
  bitnami/mlflow/templates/tracking/networkpolicy.yaml
  bitnami/mlflow/values.yaml
Labels: verify, bitnami, mlflow

#23414 [bitnami/aspnet-core] feat: :lock: Allow running in PSA baseline mode
  bitnami/aspnet-core/Chart.yaml
  bitnami/aspnet-core/README.md
  bitnami/aspnet-core/values.yaml
Labels: verify, bitnami, aspnet-core

#23425 [bitnami/common] fix: :children_crossing: Improve resource warning message
  bitnami/common/Chart.yaml
  bitnami/common/templates/_warnings.tpl
Labels: verify, bitnami

#23016 [bitnami/schema-registry] fix: :bug: Flatten broker list when externalKafka is enabled
  bitnami/schema-registry/Chart.yaml
  bitnami/schema-registry/templates/_helpers.tpl
Labels: verify, bitnami, schema-registry

#23018 [bitnami/nats] feat: :lock: Enable networkPolicy
  bitnami/nats/Chart.yaml
  bitnami/nats/README.md
  bitnami/nats/templates/networkpolicy.yaml
  bitnami/nats/templates/statefulset.yaml
  bitnami/nats/values.yaml
Labels: verify, bitnami, nats

#23035 [bitnami/airflow] fix: :bug: Add allowExternalEgress to avoid breaking istio
  bitnami/airflow/Chart.yaml
  bitnami/airflow/README.md
  bitnami/airflow/templates/metrics/networkpolicy.yaml
  bitnami/airflow/templates/scheduler/networkpolicy.yaml
  bitnami/airflow/templates/web/networkpolicy.yaml
  bitnami/airflow/templates/worker/networkpolicy.yaml
  bitnami/airflow/values.yaml
Labels: verify, airflow, bitnami

#23299 [bitnami/deepspeed] feat: :lock: Enable networkPolicy
  bitnami/deepspeed/Chart.yaml
  bitnami/deepspeed/README.md
  bitnami/deepspeed/templates/client/networkpolicy.yaml
  bitnami/deepspeed/templates/worker/networkpolicy.yaml
  bitnami/deepspeed/values.yaml
Labels: verify, bitnami, deepspeed

#23409 [bitnami/rabbitmq-cluster-operator] fix: :bug: Add allowExternalEgress to avoid breaking istio
  bitnami/rabbitmq-cluster-operator/Chart.yaml
  bitnami/rabbitmq-cluster-operator/README.md
  bitnami/rabbitmq-cluster-operator/templates/cluster-operator/networkpolicy.yaml
  bitnami/rabbitmq-cluster-operator/templates/messaging-topology-operator/networkpolicy.yaml
  bitnami/rabbitmq-cluster-operator/values.yaml
Labels: verify, bitnami, rabbitmq-cluster-operator

#23208 [bitnami/grafana-tempo] feat: :lock: Enable networkPolicy
  bitnami/grafana-tempo/Chart.yaml
  bitnami/grafana-tempo/README.md
  bitnami/grafana-tempo/templates/compactor/networkpolicy.yaml
  bitnami/grafana-tempo/templates/distributor/networkpolicy.yaml
  bitnami/grafana-tempo/templates/ingester/networkpolicy.yaml
  bitnami/grafana-tempo/templates/metrics-generator/networkpolicy.yaml
  bitnami/grafana-tempo/templates/querier/networkpolicy.yaml
  bitnami/grafana-tempo/templates/query-frontend/networkpolicy.yaml
  bitnami/grafana-tempo/templates/vulture/networkpolicy.yaml
  bitnami/grafana-tempo/values.yaml
Labels: verify, bitnami, grafana-tempo

#23423 [bitnami/osclass] Mark Osclass chart as deprecated
  bitnami/osclass/Chart.yaml
  bitnami/osclass/README.md
  bitnami/osclass/templates/NOTES.txt
Labels: verify, bitnami, osclass

#23344 [bitnami/postgresql-ha] Fix: Add missing version, kind to volumeClaimTemplates
  bitnami/postgresql-ha/Chart.yaml
  bitnami/postgresql-ha/templates/postgresql/statefulset.yaml
  bitnami/postgresql-ha/templates/postgresql/witness-statefulset.yaml
Labels: verify, in-progress, postgresql-ha

#23182 [bitnami/kube-prometheus] feat: :lock: Enable networkPolicy
  bitnami/kube-prometheus/Chart.yaml
  bitnami/kube-prometheus/README.md
  bitnami/kube-prometheus/templates/alertmanager/networkpolicy.yaml
  bitnami/kube-prometheus/templates/blackbox-exporter/networkpolicy.yaml
  bitnami/kube-prometheus/templates/prometheus-operator/networkpolicy.yaml
  bitnami/kube-prometheus/templates/prometheus/networkpolicy.yaml
  bitnami/kube-prometheus/templates/prometheus/prometheus.yaml
  bitnami/kube-prometheus/values.yaml
Labels: verify, bitnami, kube-prometheus

#23413 [bitnami/airflow] feat: :sparkles: :lock: Add resource preset support
  bitnami/airflow/Chart.lock
  bitnami/airflow/Chart.yaml
  bitnami/airflow/README.md
  bitnami/airflow/templates/NOTES.txt
  bitnami/airflow/templates/_git_helpers.tpl
  bitnami/airflow/templates/config/configmap.yaml
  bitnami/airflow/templates/metrics/deployment.yaml
  bitnami/airflow/templates/scheduler/deployment.yaml
  bitnami/airflow/templates/web/deployment.yaml
  bitnami/airflow/templates/worker/statefulset.yaml
  bitnami/airflow/values.yaml
Labels: verify, bitnami

#23426 [bitnami/rabbitmq-cluster-operator] fix: 🐛 Add RabbitMQ port to NetworkPolicy for Topology Operator
  bitnami/rabbitmq-cluster-operator/Chart.yaml
  bitnami/rabbitmq-cluster-operator/templates/messaging-topology-operator/networkpolicy.yaml
Labels: verify, triage, rabbitmq-cluster-operator

#23389 [bitnami/apisix] Allow disabling tls for dashboard and ingressController properly
  bitnami/apisix/Chart.yaml
  bitnami/apisix/templates/dashboard/deployment.yaml
  bitnami/apisix/templates/ingress-controller/service.yaml
Labels: verify, in-progress, apisix

#23412 [bitnami/spring-cloud-dataflow] Fixing disabling skipper networkPolicy creation
  bitnami/spring-cloud-dataflow/Chart.yaml
  bitnami/spring-cloud-dataflow/templates/skipper/networkpolicy.yaml
Labels: verify, in-progress, spring-cloud-dataflow

#23529 [bitnami/vault] feat: :sparkles: :lock: Add resource preset support
  bitnami/vault/Chart.lock
  bitnami/vault/Chart.yaml
  bitnami/vault/README.md
  bitnami/vault/templates/NOTES.txt
  bitnami/vault/templates/csi-provider/daemonset.yaml
  bitnami/vault/templates/injector/deployment.yaml
  bitnami/vault/templates/server/statefulset.yaml
  bitnami/vault/values.yaml
Labels: verify, bitnami, vault

#23528 [bitnami/tomcat] feat: :sparkles: :lock: Add resource preset support
  bitnami/tomcat/Chart.lock
  bitnami/tomcat/Chart.yaml
  bitnami/tomcat/README.md
  bitnami/tomcat/templates/NOTES.txt
  bitnami/tomcat/templates/_pod.tpl
  bitnami/tomcat/values.yaml
Labels: verify, bitnami, tomcat

#23525 [bitnami/supabase] feat: :sparkles: :lock: Add resource preset support
  bitnami/supabase/Chart.lock
  bitnami/supabase/Chart.yaml
  bitnami/supabase/README.md
  bitnami/supabase/templates/NOTES.txt
  bitnami/supabase/templates/auth/deployment.yaml
  bitnami/supabase/templates/jwt-init-job.yaml
  bitnami/supabase/templates/meta/deployment.yaml
  bitnami/supabase/templates/realtime/deployment.yaml
  bitnami/supabase/templates/rest/deployment.yaml
  bitnami/supabase/templates/storage/deployment.yaml
  bitnami/supabase/templates/studio/deployment.yaml
  bitnami/supabase/values.yaml
Labels: verify, bitnami, supabase

#23523 [bitnami/spark] feat: :sparkles: :lock: Add resource preset support
  bitnami/spark/Chart.lock
  bitnami/spark/Chart.yaml
  bitnami/spark/README.md
  bitnami/spark/templates/NOTES.txt
  bitnami/spark/templates/statefulset-master.yaml
  bitnami/spark/templates/statefulset-worker.yaml
  bitnami/spark/values.yaml
Labels: verify, bitnami, spark

#23515 [bitnami/rabbitmq-cluster-operator] feat: :sparkles: :lock: Add resource preset support
  bitnami/rabbitmq-cluster-operator/Chart.lock
  bitnami/rabbitmq-cluster-operator/Chart.yaml
  bitnami/rabbitmq-cluster-operator/README.md
  bitnami/rabbitmq-cluster-operator/templates/NOTES.txt
  bitnami/rabbitmq-cluster-operator/templates/cluster-operator/deployment.yaml
  bitnami/rabbitmq-cluster-operator/templates/messaging-topology-operator/deployment.yaml
  bitnami/rabbitmq-cluster-operator/values.yaml
Labels: verify, bitnami, rabbitmq-cluster-operator

#23512 [bitnami/prometheus] feat: :sparkles: :lock: Add resource preset support
  bitnami/prometheus/Chart.lock
  bitnami/prometheus/Chart.yaml
  bitnami/prometheus/README.md
  bitnami/prometheus/templates/NOTES.txt
  bitnami/prometheus/templates/alertmanager/statefulset.yaml
  bitnami/prometheus/templates/server/deployment.yaml
  bitnami/prometheus/values.yaml
Labels: verify, bitnami, prometheus

#23509 [bitnami/postgresql] feat: :sparkles: :lock: Add resource preset support
  bitnami/postgresql/Chart.lock
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/README.md
  bitnami/postgresql/templates/NOTES.txt
  bitnami/postgresql/templates/primary/statefulset.yaml
  bitnami/postgresql/templates/read/statefulset.yaml
  bitnami/postgresql/values.yaml
Labels: verify, postgresql, bitnami

#23505 [bitnami/parse] feat: :sparkles: :lock: Add resource preset support
  bitnami/parse/Chart.lock
  bitnami/parse/Chart.yaml
  bitnami/parse/README.md
  bitnami/parse/templates/NOTES.txt
  bitnami/parse/templates/dashboard-deployment.yaml
  bitnami/parse/templates/server-deployment.yaml
  bitnami/parse/values.yaml
Labels: verify, bitnami, parse

#23491 [bitnami/mongodb] feat: :sparkles: :lock: Add resource preset support
  bitnami/mongodb/Chart.lock
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/README.md
  bitnami/mongodb/templates/NOTES.txt
  bitnami/mongodb/templates/arbiter/statefulset.yaml
  bitnami/mongodb/templates/backup/cronjob.yaml
  bitnami/mongodb/templates/hidden/statefulset.yaml
  bitnami/mongodb/templates/replicaset/statefulset.yaml
  bitnami/mongodb/templates/standalone/dep-sts.yaml
  bitnami/mongodb/values.yaml
Labels: verify, bitnami, mongodb

#23490 [bitnami/mlflow] feat: :sparkles: :lock: Add resource preset support
  bitnami/mlflow/Chart.lock
  bitnami/mlflow/Chart.yaml
  bitnami/mlflow/README.md
  bitnami/mlflow/templates/NOTES.txt
  bitnami/mlflow/templates/_helpers.tpl
  bitnami/mlflow/templates/run/dep-job.yaml
  bitnami/mlflow/templates/tracking/deployment.yaml
  bitnami/mlflow/values.yaml
Labels: verify, bitnami, mlflow

#23487 [bitnami/metrics-server] feat: :sparkles: :lock: Add resource preset support
  bitnami/metrics-server/Chart.lock
  bitnami/metrics-server/Chart.yaml
  bitnami/metrics-server/README.md
  bitnami/metrics-server/templates/NOTES.txt
  bitnami/metrics-server/templates/deployment.yaml
  bitnami/metrics-server/values.yaml
Labels: verify, bitnami, metrics-server

#23486 [bitnami/metallb] feat: :sparkles: :lock: Add resource preset support
  bitnami/metallb/Chart.lock
  bitnami/metallb/Chart.yaml
  bitnami/metallb/README.md
  bitnami/metallb/templates/NOTES.txt
  bitnami/metallb/templates/controller/deployment.yaml
  bitnami/metallb/templates/speaker/daemonset.yaml
  bitnami/metallb/values.yaml
Labels: verify, bitnami, metallb

#23481 [bitnami/mariadb-galera] feat: :sparkles: :lock: Add resource preset support
  bitnami/mariadb-galera/Chart.lock
  bitnami/mariadb-galera/Chart.yaml
  bitnami/mariadb-galera/README.md
  bitnami/mariadb-galera/templates/NOTES.txt
  bitnami/mariadb-galera/templates/statefulset.yaml
  bitnami/mariadb-galera/values.yaml
Labels: verify, bitnami, mariadb-galera

#23476 [bitnami/kuberay] feat: :sparkles: :lock: Add resource preset support
  bitnami/kuberay/Chart.lock
  bitnami/kuberay/Chart.yaml
  bitnami/kuberay/README.md
  bitnami/kuberay/templates/NOTES.txt
  bitnami/kuberay/templates/apiserver/deployment.yaml
  bitnami/kuberay/templates/cluster/raycluster.yaml
  bitnami/kuberay/templates/operator/deployment.yaml
  bitnami/kuberay/values.yaml
Labels: verify, bitnami, kuberay

#23465 [bitnami/jenkins] feat: :sparkles: :lock: Add resource preset support
  bitnami/jenkins/Chart.lock
  bitnami/jenkins/Chart.yaml
  bitnami/jenkins/README.md
  bitnami/jenkins/templates/NOTES.txt
  bitnami/jenkins/templates/deployment.yaml
  bitnami/jenkins/values.yaml
Labels: verify, jenkins, bitnami

#23452 [bitnami/ghost] feat: :sparkles: :lock: Add resource preset support
  bitnami/ghost/Chart.lock
  bitnami/ghost/Chart.yaml
  bitnami/ghost/README.md
  bitnami/ghost/templates/NOTES.txt
  bitnami/ghost/templates/deployment.yaml
  bitnami/ghost/values.yaml
Labels: verify, bitnami, ghost

#23447 [bitnami/external-dns] feat: :sparkles: :lock: Add resource preset support
  bitnami/external-dns/Chart.lock
  bitnami/external-dns/Chart.yaml
  bitnami/external-dns/README.md
  bitnami/external-dns/templates/NOTES.txt
  bitnami/external-dns/templates/dep-ds.yaml
  bitnami/external-dns/values.yaml
Labels: verify, bitnami, external-dns

#23544 [bitnami/common] feat: :sparkles: Add ephemeral-storage to resources preset
  bitnami/common/Chart.yaml
  bitnami/common/templates/_resources.tpl
Labels: verify, bitnami, common

#23526 [bitnami/tensorflow-resnet] feat: :sparkles: :lock: Add resource preset support
  bitnami/tensorflow-resnet/Chart.lock
  bitnami/tensorflow-resnet/Chart.yaml
  bitnami/tensorflow-resnet/README.md
  bitnami/tensorflow-resnet/templates/NOTES.txt
  bitnami/tensorflow-resnet/templates/deployment.yaml
  bitnami/tensorflow-resnet/values.yaml
Labels: verify, bitnami, tensorflow-resnet

#23519 [bitnami/schema-registry] feat: :sparkles: :lock: Add resource preset support
  bitnami/schema-registry/Chart.lock
  bitnami/schema-registry/Chart.yaml
  bitnami/schema-registry/README.md
  bitnami/schema-registry/templates/NOTES.txt
  bitnami/schema-registry/templates/statefulset.yaml
  bitnami/schema-registry/values.yaml
Labels: verify, bitnami, schema-registry

#23514 [bitnami/rabbitmq] feat: :sparkles: :lock: Add resource preset support
  bitnami/rabbitmq/Chart.lock
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/README.md
  bitnami/rabbitmq/templates/NOTES.txt
  bitnami/rabbitmq/templates/statefulset.yaml
  bitnami/rabbitmq/values.yaml
Labels: verify, bitnami, rabbitmq

#23482 [bitnami/mastodon] feat: :sparkles: :lock: Add resource preset support
  bitnami/mastodon/Chart.lock
  bitnami/mastodon/Chart.yaml
  bitnami/mastodon/README.md
  bitnami/mastodon/templates/NOTES.txt
  bitnami/mastodon/templates/init-job/init-job.yaml
  bitnami/mastodon/templates/sidekiq/deployment.yaml
  bitnami/mastodon/templates/streaming/deployment.yaml
  bitnami/mastodon/templates/web/deployment.yaml
  bitnami/mastodon/values.yaml
Labels: verify, bitnami, mastodon

#23474 [bitnami/kube-state-metrics] feat: :sparkles: :lock: Add resource preset support
  bitnami/kube-state-metrics/Chart.lock
  bitnami/kube-state-metrics/Chart.yaml
  bitnami/kube-state-metrics/README.md
  bitnami/kube-state-metrics/templates/NOTES.txt
  bitnami/kube-state-metrics/templates/deployment.yaml
  bitnami/kube-state-metrics/values.yaml
Labels: verify, bitnami, kube-state-metrics

#23438 [bitnami/consul] feat: :sparkles: :lock: Add resource preset support
  bitnami/consul/Chart.lock
  bitnami/consul/Chart.yaml
  bitnami/consul/README.md
  bitnami/consul/templates/NOTES.txt
  bitnami/consul/templates/statefulset.yaml
  bitnami/consul/values.yaml
Labels: verify, bitnami, consul

#23431 [bitnami/argo-cd] feat: :sparkles: :lock: Add resource preset support
  bitnami/argo-cd/Chart.lock
  bitnami/argo-cd/Chart.yaml
  bitnami/argo-cd/README.md
  bitnami/argo-cd/templates/NOTES.txt
  bitnami/argo-cd/templates/application-controller/deployment.yaml
  bitnami/argo-cd/templates/applicationset/deployment.yaml
  bitnami/argo-cd/templates/dex/deployment.yaml
  bitnami/argo-cd/templates/notifications/bots/slack/deployment.yaml
  bitnami/argo-cd/templates/notifications/deployment.yaml
  bitnami/argo-cd/templates/repo-server/deployment.yaml
  bitnami/argo-cd/templates/server/deployment.yaml
  bitnami/argo-cd/values.yaml
Labels: verify, bitnami, argo-cd

#23433 [bitnami/aspnet-core] feat: :sparkles: :lock: Add resource preset support
  bitnami/aspnet-core/Chart.lock
  bitnami/aspnet-core/Chart.yaml
  bitnami/aspnet-core/README.md
  bitnami/aspnet-core/templates/NOTES.txt
  bitnami/aspnet-core/templates/deployment.yaml
  bitnami/aspnet-core/values.yaml
Labels: verify, bitnami, aspnet-core

#23475 [bitnami/kubeapps] feat: :sparkles: :lock: Add resource preset support
  bitnami/kubeapps/Chart.lock
  bitnami/kubeapps/Chart.yaml
  bitnami/kubeapps/README.md
  bitnami/kubeapps/templates/NOTES.txt
  bitnami/kubeapps/templates/apprepository/deployment.yaml
  bitnami/kubeapps/templates/dashboard/deployment.yaml
  bitnami/kubeapps/templates/frontend/deployment.yaml
  bitnami/kubeapps/templates/kubeappsapis/deployment.yaml
  bitnami/kubeapps/values.yaml
Labels: verify, bitnami, kubeapps

#23460 [bitnami/kafka] Add useHelmHooks value to allow install with --wait
  bitnami/kafka/Chart.yaml
  bitnami/kafka/README.md
  bitnami/kafka/templates/provisioning/job.yaml
  bitnami/kafka/values.yaml
Labels: verify, in-progress, kafka

#23432 [bitnami/argo-workflows] feat: :sparkles: :lock: Add resource preset support
  bitnami/argo-workflows/Chart.lock
  bitnami/argo-workflows/Chart.yaml
  bitnami/argo-workflows/README.md
  bitnami/argo-workflows/templates/NOTES.txt
  bitnami/argo-workflows/templates/controller/deployment.yaml
  bitnami/argo-workflows/templates/server/deployment.yaml
  bitnami/argo-workflows/values.yaml
Labels: verify, argo-workflows, bitnami

#23531 [bitnami/wildfly] feat: :sparkles: :lock: Add resource preset support
  bitnami/wildfly/Chart.lock
  bitnami/wildfly/Chart.yaml
  bitnami/wildfly/README.md
  bitnami/wildfly/templates/NOTES.txt
  bitnami/wildfly/templates/deployment.yaml
  bitnami/wildfly/values.yaml
Labels: verify, bitnami, wildfly

#23530 [bitnami/whereabouts] feat: :sparkles: :lock: Add resource preset support
  bitnami/whereabouts/Chart.lock
  bitnami/whereabouts/Chart.yaml
  bitnami/whereabouts/README.md
  bitnami/whereabouts/templates/NOTES.txt
  bitnami/whereabouts/templates/daemonset.yaml
  bitnami/whereabouts/values.yaml
Labels: verify, bitnami, whereabouts

#23521 [bitnami/solr] feat: :sparkles: :lock: Add resource preset support
  bitnami/solr/Chart.lock
  bitnami/solr/Chart.yaml
  bitnami/solr/README.md
  bitnami/solr/templates/NOTES.txt
  bitnami/solr/templates/metrics-deployment.yaml
  bitnami/solr/templates/statefulset.yaml
  bitnami/solr/values.yaml
Labels: verify, bitnami, solr

#23492 [bitnami/mongodb-sharded] feat: :sparkles: :lock: Add resource preset support
  bitnami/mongodb-sharded/Chart.lock
  bitnami/mongodb-sharded/Chart.yaml
  bitnami/mongodb-sharded/README.md
  bitnami/mongodb-sharded/templates/NOTES.txt
  bitnami/mongodb-sharded/templates/config-server/config-server-statefulset.yaml
  bitnami/mongodb-sharded/templates/mongos/mongos-dep-sts.yaml
  bitnami/mongodb-sharded/templates/shard/shard-arbiter-statefulset.yaml
  bitnami/mongodb-sharded/templates/shard/shard-data-statefulset.yaml
  bitnami/mongodb-sharded/values.yaml
Labels: verify, bitnami, mongodb-sharded

#23553 bitnami/jasperreports] Remove main folder
  bitnami/jasperreports/Chart.yaml
Labels: verify, bitnami

#23392 [bitnami/postgresql] Do not create a NetworkPolicy for "read" instance when "standalone"
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/templates/read/networkpolicy.yaml
Labels: verify, in-progress, postgresql

#23498 [bitnami/nginx-ingress-controller] feat: :sparkles: :lock: Add resource preset support
  bitnami/nginx-ingress-controller/Chart.lock
  bitnami/nginx-ingress-controller/Chart.yaml
  bitnami/nginx-ingress-controller/README.md
  bitnami/nginx-ingress-controller/templates/NOTES.txt
  bitnami/nginx-ingress-controller/templates/controller-daemonset.yaml
  bitnami/nginx-ingress-controller/templates/controller-deployment.yaml
  bitnami/nginx-ingress-controller/templates/default-backend-deployment.yaml
  bitnami/nginx-ingress-controller/values.yaml
Labels: verify, bitnami, nginx-ingress-controller

#23488 [bitnami/milvus] feat: :sparkles: :lock: Add resource preset support
  bitnami/milvus/Chart.lock
  bitnami/milvus/Chart.yaml
  bitnami/milvus/README.md
  bitnami/milvus/templates/NOTES.txt
  bitnami/milvus/templates/attu/deployment.yaml
  bitnami/milvus/templates/data-coordinator/deployment.yaml
  bitnami/milvus/templates/data-node/deployment.yaml
  bitnami/milvus/templates/index-coordinator/deployment.yaml
  bitnami/milvus/templates/index-node/deployment.yaml
  bitnami/milvus/templates/init-job.yaml
  bitnami/milvus/templates/proxy/deployment.yaml
  bitnami/milvus/templates/query-coordinator/deployment.yaml
  bitnami/milvus/templates/query-node/deployment.yaml
  bitnami/milvus/templates/root-coordinator/deployment.yaml
  bitnami/milvus/values.yaml
Labels: verify, bitnami, milvus

#23472 [bitnami/kong] feat: :sparkles: :lock: Add resource preset support
  bitnami/kong/Chart.lock
  bitnami/kong/Chart.yaml
  bitnami/kong/README.md
  bitnami/kong/templates/NOTES.txt
  bitnami/kong/templates/dep-ds.yaml
  bitnami/kong/templates/migrate-job.yaml
  bitnami/kong/values.yaml
Labels: verify, bitnami, kong

#23467 [bitnami/jupyterhub] feat: :sparkles: :lock: Add resource preset support
  bitnami/jupyterhub/Chart.lock
  bitnami/jupyterhub/Chart.yaml
  bitnami/jupyterhub/README.md
  bitnami/jupyterhub/templates/NOTES.txt
  bitnami/jupyterhub/templates/_helpers.tpl
  bitnami/jupyterhub/templates/hub/deployment.yaml
  bitnami/jupyterhub/templates/image-puller/daemonset.yaml
  bitnami/jupyterhub/templates/proxy/deployment.yaml
  bitnami/jupyterhub/values.yaml
Labels: verify, bitnami, jupyterhub

#23461 [bitnami/harbor] feat: :sparkles: :lock: Add resource preset support
  bitnami/harbor/Chart.lock
  bitnami/harbor/Chart.yaml
  bitnami/harbor/README.md
  bitnami/harbor/templates/NOTES.txt
  bitnami/harbor/templates/core/core-dpl.yaml
  bitnami/harbor/templates/exporter/exporter-dpl.yaml
  bitnami/harbor/templates/jobservice/jobservice-dpl.yaml
  bitnami/harbor/templates/nginx/deployment.yaml
  bitnami/harbor/templates/portal/portal-dpl.yaml
  bitnami/harbor/templates/registry/registry-dpl.yaml
  bitnami/harbor/templates/trivy/trivy-sts.yaml
  bitnami/harbor/values.yaml
Labels: verify, bitnami, harbor

#23459 [bitnami/haproxy] feat: :sparkles: :lock: Add resource preset support
  bitnami/haproxy/Chart.yaml
  bitnami/haproxy/README.md
  bitnami/haproxy/templates/NOTES.txt
  bitnami/haproxy/templates/deployment.yaml
  bitnami/haproxy/values.yaml
Labels: verify, bitnami, haproxy

#23457 [bitnami/grafana-operator] feat: :sparkles: :lock: Add resource preset support
  bitnami/grafana-operator/Chart.lock
  bitnami/grafana-operator/Chart.yaml
  bitnami/grafana-operator/README.md
  bitnami/grafana-operator/templates/NOTES.txt
  bitnami/grafana-operator/templates/deployment.yaml
  bitnami/grafana-operator/templates/grafana.yaml
  bitnami/grafana-operator/values.yaml
Labels: verify, bitnami, grafana-operator

#23448 [bitnami/flink] feat: :sparkles: :lock: Add resource preset support
  bitnami/flink/Chart.lock
  bitnami/flink/Chart.yaml
  bitnami/flink/README.md
  bitnami/flink/templates/NOTES.txt
  bitnami/flink/templates/jobmanager/deployment.yaml
  bitnami/flink/templates/taskmanager/deployment.yaml
  bitnami/flink/values.yaml
Labels: verify, bitnami, flink

#23444 [bitnami/ejbca] feat: :sparkles: :lock: Add resource preset support
  bitnami/ejbca/Chart.lock
  bitnami/ejbca/Chart.yaml
  bitnami/ejbca/README.md
  bitnami/ejbca/templates/NOTES.txt
  bitnami/ejbca/templates/deployment.yaml
  bitnami/ejbca/values.yaml
Labels: verify, bitnami, ejbca

#23441 [bitnami/discourse] feat: :sparkles: :lock: Add resource preset support
  bitnami/discourse/Chart.yaml
  bitnami/discourse/README.md
  bitnami/discourse/templates/NOTES.txt
  bitnami/discourse/templates/deployment.yaml
  bitnami/discourse/values.yaml
Labels: verify, bitnami, discourse

#23436 [bitnami/clickhouse] feat: :sparkles: :lock: Add resource preset support
  bitnami/clickhouse/Chart.lock
  bitnami/clickhouse/Chart.yaml
  bitnami/clickhouse/README.md
  bitnami/clickhouse/templates/NOTES.txt
  bitnami/clickhouse/templates/statefulset.yaml
  bitnami/clickhouse/values.yaml
Labels: verify, bitnami, clickhouse

#23435 [bitnami/cert-manager] feat: :sparkles: :lock: Add resource preset support
  bitnami/cert-manager/Chart.lock
  bitnami/cert-manager/Chart.yaml
  bitnami/cert-manager/README.md
  bitnami/cert-manager/templates/NOTES.txt
  bitnami/cert-manager/templates/cainjector/deployment.yaml
  bitnami/cert-manager/templates/controller/deployment.yaml
  bitnami/cert-manager/templates/webhook/deployment.yaml
  bitnami/cert-manager/values.yaml
Labels: verify, bitnami, cert-manager

#23559 [bitnami/osclass] Mark Osclass chart as deprecated
  bitnami/osclass/Chart.yaml
  bitnami/osclass/README.md
Labels: verify, bitnami, osclass

#23524 [bitnami/spring-cloud-dataflow] feat: :sparkles: :lock: Add resource preset support
  bitnami/spring-cloud-dataflow/Chart.lock
  bitnami/spring-cloud-dataflow/Chart.yaml
  bitnami/spring-cloud-dataflow/README.md
  bitnami/spring-cloud-dataflow/templates/NOTES.txt
  bitnami/spring-cloud-dataflow/templates/prometheus-proxy/deployment.yaml
  bitnami/spring-cloud-dataflow/templates/server/configmap.yaml
  bitnami/spring-cloud-dataflow/templates/server/deployment.yaml
  bitnami/spring-cloud-dataflow/templates/skipper/deployment.yaml
  bitnami/spring-cloud-dataflow/values.yaml
Labels: verify, bitnami, spring-cloud-dataflow

#23443 [bitnami/drupal] feat: :sparkles: :lock: Add resource preset support
  bitnami/drupal/Chart.lock
  bitnami/drupal/Chart.yaml
  bitnami/drupal/README.md
  bitnami/drupal/templates/NOTES.txt
  bitnami/drupal/templates/deployment.yaml
  bitnami/drupal/values.yaml
Labels: verify, bitnami, drupal

#23446 [bitnami/etcd] feat: :sparkles: :lock: Add resource preset support
  bitnami/etcd/Chart.lock
  bitnami/etcd/Chart.yaml
  bitnami/etcd/README.md
  bitnami/etcd/templates/NOTES.txt
  bitnami/etcd/templates/cronjob.yaml
  bitnami/etcd/values.yaml
Labels: verify, bitnami, etcd

#23462 [bitnami/influxdb] feat: :sparkles: :lock: Add resource preset support
  bitnami/influxdb/Chart.lock
  bitnami/influxdb/Chart.yaml
  bitnami/influxdb/README.md
  bitnami/influxdb/templates/NOTES.txt
  bitnami/influxdb/templates/deployment.yaml
  bitnami/influxdb/values.yaml
Labels: verify, bitnami, influxdb

#23466 [bitnami/joomla] feat: :sparkles: :lock: Add resource preset support
  bitnami/joomla/Chart.lock
  bitnami/joomla/Chart.yaml
  bitnami/joomla/README.md
  bitnami/joomla/templates/NOTES.txt
  bitnami/joomla/templates/deployment.yaml
  bitnami/joomla/values.yaml
Labels: verify, bitnami, joomla

#23477 [bitnami/kubernetes-event-exporter] feat: :sparkles: :lock: Add resource preset support
  bitnami/kubernetes-event-exporter/Chart.lock
  bitnami/kubernetes-event-exporter/Chart.yaml
  bitnami/kubernetes-event-exporter/README.md
  bitnami/kubernetes-event-exporter/templates/NOTES.txt
  bitnami/kubernetes-event-exporter/templates/deployment.yaml
  bitnami/kubernetes-event-exporter/values.yaml
Labels: verify, bitnami, kubernetes-event-exporter
