Repository bitnami/charts, pull requests merged in 2024-05, with the labels that each got.

#25428 [bitnami/keycloak] Fix default values for keycloak db secret keys
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/templates/_helpers.tpl
Labels: verify, in-progress, keycloak

#25487 [bitnami/thanos] correct storegateway statefulset-sharded cache config args
  bitnami/thanos/Chart.yaml
  bitnami/thanos/templates/storegateway/statefulset-sharded.yaml
Labels: verify, in-progress, thanos

#25501 [bitnami/metallb] Fixes for FRR mode
  bitnami/metallb/Chart.yaml
  bitnami/metallb/templates/speaker/daemonset.yaml
Labels: verify, bitnami, metallb

#25515 [bitnami/jaeger] Rollback runtime-parameters to use jaegertracing/example-hotrod
  .vib/jaeger/runtime-parameters.yaml
Labels: verify, bitnami

#25430 [bitnami/node-exporter] Update PSP annotation to dynamic value
  bitnami/node-exporter/Chart.yaml
  bitnami/node-exporter/README.md
  bitnami/node-exporter/templates/psp.yaml
  bitnami/node-exporter/values.yaml
Labels: verify, in-progress, node-exporter

#25542 CI: Add GH action to ensure no unprintable characters
  .github/workflows/ci-pipeline.yml
Labels: verify, bitnami

#25543 [bitnami/grafana-mimir] Remove unicode characters
  bitnami/grafana-mimir/Chart.yaml
  bitnami/grafana-mimir/values.yaml
Labels: verify, bitnami, grafana-mimir

#25547 [bitnami/prometheus] Remove unicode characters
  bitnami/prometheus/Chart.yaml
  bitnami/prometheus/values.yaml
Labels: verify, bitnami, prometheus

#25546 [bitnami/postgresql] Remove unicode characters
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/values.yaml
Labels: verify, postgresql, bitnami

#25544 [bitnami/keycloak] Remove unicode characters
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/README.md
  bitnami/keycloak/values.yaml
Labels: verify, keycloak, bitnami

#25548 [bitnami/rabbitmq] Remove unicode characters
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/values.yaml
Labels: verify, bitnami, rabbitmq

#25549 [bitnami/sonarqube] Remove unicode characters
  bitnami/sonarqube/Chart.yaml
  bitnami/sonarqube/README.md
  bitnami/sonarqube/values.yaml
Labels: verify, bitnami, sonarqube

#25538 [bitnami/kafka] Allow loadBalancerClass to be customized for the kafka chart
  bitnami/kafka/Chart.yaml
  bitnami/kafka/README.md
  bitnami/kafka/templates/broker/svc-external-access.yaml
  bitnami/kafka/templates/controller-eligible/svc-external-access.yaml
  bitnami/kafka/templates/svc.yaml
  bitnami/kafka/values.yaml
Labels: verify, in-progress, kafka

#25330 [bitnami/grafana-operator] Add additional labels to pods in the grafana deployment
  bitnami/grafana-operator/Chart.yaml
  bitnami/grafana-operator/README.md
  bitnami/grafana-operator/templates/grafana.yaml
  bitnami/grafana-operator/values.yaml
Labels: verify, in-progress, grafana-operator

#25524 [bitnami/contour] Adding missing named port for shutdown-manager container
  bitnami/contour/Chart.yaml
  bitnami/contour/templates/envoy/deployment.yaml
Labels: verify, in-progress, contour

#25561 [bitnami/argo-cd] Add automountserviceAccount for notifications
  bitnami/argo-cd/Chart.yaml
  bitnami/argo-cd/README.md
  bitnami/argo-cd/templates/notifications/deployment.yaml
  bitnami/argo-cd/values.yaml
Labels: verify, bitnami, argo-cd

#25496 [bitnami/vault] Add support for vault oracle plugin persistence storage
  bitnami/vault/Chart.yaml
  bitnami/vault/README.md
  bitnami/vault/templates/server/statefulset.yaml
  bitnami/vault/values.yaml
Labels: verify, in-progress, vault

#25559 [bitnami/kafka] change probe path for kafka-exporter to /healthz
  bitnami/kafka/Chart.yaml
  bitnami/kafka/templates/metrics/deployment.yaml
Labels: verify, in-progress, kafka

#24549 [bitnami/redis] Add support for dedicated values for sentinel master service
  bitnami/redis/Chart.yaml
  bitnami/redis/README.md
  bitnami/redis/templates/_helpers.tpl
  bitnami/redis/templates/configmap.yaml
  bitnami/redis/templates/role.yaml
  bitnami/redis/templates/scripts-configmap.yaml
  bitnami/redis/templates/sentinel/service.yaml
  bitnami/redis/templates/sentinel/statefulset.yaml
  bitnami/redis/values.yaml
Labels: verify, in-progress, redis

#25573 [bitnami/mlflow] Set timeout for Goss http tests
  .vib/mlflow/goss/goss.yaml
Labels: verify, bitnami

#24653 [bitnami/sealed-secrets] fix: 🐛 ServiceMonitor endpoint
  bitnami/sealed-secrets/Chart.yaml
  bitnami/sealed-secrets/README.md
  bitnami/sealed-secrets/templates/deployment.yaml
  bitnami/sealed-secrets/templates/metrics-svc.yaml
  bitnami/sealed-secrets/templates/service.yaml
  bitnami/sealed-secrets/templates/servicemonitor.yaml
  bitnami/sealed-secrets/values.yaml
Labels: verify, in-progress, sealed-secrets

#25545 [bitnami/matomo] Remove unicode characters
  .vib/matomo/cypress/cypress.config.js
  .vib/matomo/cypress/cypress/e2e/matomo.cy.js
  .vib/matomo/cypress/cypress/support/commands.js
  bitnami/matomo/Chart.yaml
  bitnami/matomo/values.yaml
Labels: verify, bitnami, matomo

#25574 [bitnami/etcd] Properly get ROOT_PASSWORD when providing an existing secret
  bitnami/etcd/Chart.yaml
  bitnami/etcd/templates/NOTES.txt
Labels: verify, bitnami, etcd

#25552 bitnami/rabbitmq-cluster-operator: rename http-webhook port to https-webhook
  bitnami/rabbitmq-cluster-operator/Chart.yaml
  bitnami/rabbitmq-cluster-operator/templates/messaging-topology-operator/deployment.yaml
  bitnami/rabbitmq-cluster-operator/templates/messaging-topology-operator/webhook-service.yaml
Labels: verify, in-progress, rabbitmq-cluster-operator

#25565 [bitnami/haproxy] Add externalIPs (#25564)
  bitnami/haproxy/Chart.yaml
  bitnami/haproxy/README.md
  bitnami/haproxy/templates/service.yaml
  bitnami/haproxy/values.yaml
Labels: verify, in-progress, haproxy

#25443 [bitnami/nginx] deployment fail because of OpenShift restricted-v2 issue 25425
  bitnami/nginx/Chart.yaml
  bitnami/nginx/templates/deployment.yaml
Labels: verify, in-progress, nginx

#25383 [bitnami/matomo] Added the ability to specify a nodeSelector and taints for cronjob
  bitnami/matomo/Chart.yaml
  bitnami/matomo/README.md
  bitnami/matomo/templates/cronjob.yaml
  bitnami/matomo/values.yaml
Labels: verify, in-progress, matomo

#25575 [bitnami/external-dns] Add aws.zoneMatchParent option
  bitnami/external-dns/Chart.yaml
  bitnami/external-dns/README.md
  bitnami/external-dns/templates/dep-ds.yaml
  bitnami/external-dns/values.yaml
Labels: verify, in-progress, external-dns

#25566 [bitnami/argo-cd] Chart modification to activate external Redis
  bitnami/argo-cd/Chart.yaml
  bitnami/argo-cd/README.md
  bitnami/argo-cd/templates/application-controller/deployment.yaml
  bitnami/argo-cd/templates/application-controller/networkpolicy.yaml
  bitnami/argo-cd/templates/applicationset/networkpolicy.yaml
  bitnami/argo-cd/templates/repo-server/deployment.yaml
  bitnami/argo-cd/templates/repo-server/networkpolicy.yaml
  bitnami/argo-cd/templates/server/deployment.yaml
  bitnami/argo-cd/templates/server/networkpolicy.yaml
  bitnami/argo-cd/values.yaml
Labels: verify, in-progress, argo-cd

#25579 [bitnami/redis] Add option to change port name in master service
  bitnami/redis/Chart.yaml
  bitnami/redis/README.md
  bitnami/redis/templates/master/service.yaml
  bitnami/redis/values.yaml
Labels: verify, in-progress, redis

#25519 [bitnami/mongodb] Network policy review
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/README.md
  bitnami/mongodb/templates/networkpolicy.yaml
  bitnami/mongodb/values.yaml
Labels: verify, bitnami, mongodb

#25578 [bitnami/mariadb-galera] Use renderSecurityContext in initContainer
  bitnami/mariadb-galera/Chart.yaml
  bitnami/mariadb-galera/templates/statefulset.yaml
Labels: verify, bitnami, mariadb-galera

#25629 [bitnami/vault] Enabling Vault run in one single namespace
  bitnami/vault/Chart.yaml
  bitnami/vault/README.md
  bitnami/vault/templates/injector/mutating-webhook.yaml
  bitnami/vault/values.yaml
Labels: verify, in-progress, vault

#25462 [bitnami/minio] Add support for provisioning policies condition
  bitnami/minio/Chart.yaml
  bitnami/minio/templates/provisioning-configmap.yaml
  bitnami/minio/values.yaml
Labels: verify, bitnami, minio

#25637 [bitnami/clickhouse] Correct description of keeper section
  bitnami/clickhouse/README.md
Labels: verify, in-progress, clickhouse

#25664 [bitnami/postgresql] add backup.cronjob.tolerations options
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/README.md
  bitnami/postgresql/templates/backup/cronjob.yaml
  bitnami/postgresql/values.yaml
Labels: verify, in-progress, postgresql

#25643 [bitnami/valkey] Add new valkey chart
  .vib/valkey/ginkgo/go.mod
  .vib/valkey/ginkgo/go.sum
  .vib/valkey/ginkgo/valkey_suite_test.go
  .vib/valkey/ginkgo/valkey_test.go
  .vib/valkey/goss/goss.yaml
  .vib/valkey/runtime-parameters.yaml
  .vib/valkey/vib-publish.json
  .vib/valkey/vib-verify.json
  bitnami/valkey/.helmignore
  bitnami/valkey/Chart.lock
  bitnami/valkey/Chart.yaml
  bitnami/valkey/README.md
  bitnami/valkey/templates/NOTES.txt
  bitnami/valkey/templates/_helpers.tpl
  bitnami/valkey/templates/configmap.yaml
  bitnami/valkey/templates/extra-list.yaml
  bitnami/valkey/templates/headless-svc.yaml
  bitnami/valkey/templates/health-configmap.yaml
  bitnami/valkey/templates/master/application.yaml
  bitnami/valkey/templates/master/psp.yaml
  bitnami/valkey/templates/master/pvc.yaml
  bitnami/valkey/templates/master/service.yaml
  bitnami/valkey/templates/master/serviceaccount.yaml
  bitnami/valkey/templates/metrics-svc.yaml
  bitnami/valkey/templates/networkpolicy.yaml
  bitnami/valkey/templates/pdb.yaml
  bitnami/valkey/templates/podmonitor.yaml
  bitnami/valkey/templates/prometheusrule.yaml
  bitnami/valkey/templates/replicas/application.yaml
  bitnami/valkey/templates/replicas/hpa.yaml
  bitnami/valkey/templates/replicas/service.yaml
  bitnami/valkey/templates/replicas/serviceaccount.yaml
  bitnami/valkey/templates/replicas/vpa.yaml
  bitnami/valkey/templates/role.yaml
  bitnami/valkey/templates/rolebinding.yaml
  bitnami/valkey/templates/scripts-configmap.yaml
  bitnami/valkey/templates/secret-svcbind.yaml
  bitnami/valkey/templates/secret.yaml
  bitnami/valkey/templates/sentinel/hpa.yaml
  bitnami/valkey/templates/sentinel/node-services.yaml
  bitnami/valkey/templates/sentinel/ports-configmap.yaml
  bitnami/valkey/templates/sentinel/service.yaml
  bitnami/valkey/templates/sentinel/statefulset.yaml
  bitnami/valkey/templates/sentinel/vpa.yaml
  bitnami/valkey/templates/serviceaccount.yaml
  bitnami/valkey/templates/servicemonitor.yaml
  bitnami/valkey/templates/tls-secret.yaml
  bitnami/valkey/values.schema.json
  bitnami/valkey/values.yaml
Labels: verify, bitnami, valkey

#25467 [bitnami/grafana-operator] Fixes the indentation for the auth subsections within config section.
  bitnami/grafana-operator/Chart.yaml
  bitnami/grafana-operator/values.yaml
Labels: verify, in-progress, grafana-operator

#25534 [bitnami/postgresql] Allow backup pod to use DNS
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/templates/backup/networkpolicy.yaml
Labels: verify, in-progress, postgresql

#25569 [bitnami/postgresql] Allow loadBalancerClass to be customized
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/README.md
  bitnami/postgresql/templates/primary/svc.yaml
  bitnami/postgresql/templates/read/svc.yaml
  bitnami/postgresql/values.yaml
Labels: verify, in-progress, postgresql

#25603 bitnami/external-dns: Templatize Domain Filters/Exclusions
  bitnami/external-dns/Chart.yaml
  bitnami/external-dns/templates/dep-ds.yaml
Labels: verify, in-progress, external-dns

#25697 [bitnami/dokuwiki] Fix php session mgmt
  bitnami/dokuwiki/Chart.yaml
  bitnami/dokuwiki/templates/deployment.yaml
Labels: verify, bitnami, dokuwiki

#25699 [bitnami/metallb] Typo fix in speaker RBAC
  bitnami/metallb/Chart.yaml
  bitnami/metallb/templates/speaker/rbac.yaml
Labels: verify, bitnami, metallb

#25681 [bitnami/keycloak] Add HPA Behavior when scaling up and down
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/README.md
  bitnami/keycloak/templates/hpa.yaml
  bitnami/keycloak/values.yaml
Labels: verify, in-progress, keycloak

#25726 [bitnami/opensearch] Fix dashboards persistence
  bitnami/opensearch/Chart.yaml
  bitnami/opensearch/templates/_helpers.tpl
Labels: verify, bitnami, opensearch

#25684 [bitnami/gitea] Add new customizable environment variables - ENABLE OPENID SIGNIN/SIGNUP
  bitnami/gitea/Chart.yaml
  bitnami/gitea/README.md
  bitnami/gitea/templates/deployment.yaml
  bitnami/gitea/values.yaml
Labels: verify, in-progress, gitea

#25864 [bitnami/argo-workflows] PDB review
  bitnami/argo-workflows/Chart.yaml
  bitnami/argo-workflows/templates/controller/pdb.yaml
  bitnami/argo-workflows/templates/server/pdb.yaml
Labels: verify, argo-workflows, bitnami

#25712 Reduce index branch size by squashing all commits
  .github/workflows/archive-full-index.yaml
  .github/workflows/cd-pipeline.yml
  .github/workflows/sync-chart-index.yaml
Labels: verify, bitnami

#25867 [bitnami/cassandra] PDB review
  bitnami/cassandra/Chart.yaml
  bitnami/cassandra/templates/pdb.yaml
Labels: verify, bitnami, cassandra

#25884 Undo workflow movement in #25712
  .github/workflows/archive-full-index.yaml
  .github/workflows/sync-chart-index.yaml
Labels: verify, bitnami

#25862 [bitnami/apache] PDB review
  bitnami/apache/Chart.yaml
  bitnami/apache/templates/pdb.yaml
Labels: verify, apache, bitnami

#25886 [bitnami/mariadb] Use different liveness/readiness probes
  bitnami/mariadb/Chart.yaml
  bitnami/mariadb/templates/primary/statefulset.yaml
  bitnami/mariadb/templates/secondary/statefulset.yaml
Labels: verify, mariadb, bitnami

#25855 [bitnami/grafana-tempo] Allow disabling enableServiceLinks
  bitnami/grafana-tempo/Chart.yaml
  bitnami/grafana-tempo/README.md
  bitnami/grafana-tempo/templates/compactor/deployment.yaml
  bitnami/grafana-tempo/templates/distributor/deployment.yaml
  bitnami/grafana-tempo/templates/ingester/statefulset.yaml
  bitnami/grafana-tempo/templates/metrics-generator/deployment.yaml
  bitnami/grafana-tempo/templates/querier/deployment.yaml
  bitnami/grafana-tempo/templates/query-frontend/deployment.yaml
  bitnami/grafana-tempo/templates/vulture/deployment.yaml
  bitnami/grafana-tempo/values.yaml
Labels: verify, in-progress, grafana-tempo

#25878 [bitnami/prometheus] Updated prometheus server local cluster address
  bitnami/prometheus/Chart.yaml
  bitnami/prometheus/templates/NOTES.txt
Labels: verify, in-progress, prometheus

#25856 bitnami/kafka Fix for sed in kafka-init.sh
  bitnami/kafka/Chart.yaml
  bitnami/kafka/templates/scripts-configmap.yaml
Labels: verify, in-progress, kafka

#25881 [bitnami/contour] PDB review
  bitnami/contour/Chart.yaml
  bitnami/contour/README.md
  bitnami/contour/templates/contour/poddisruptionbudget.yaml
  bitnami/contour/templates/default-backend/poddisruptionbudget.yaml
  bitnami/contour/templates/envoy/poddisruptionbudget.yaml
  bitnami/contour/values.yaml
Labels: verify, contour, bitnami

#25893 [bitnami/mysql] Use different liveness/readiness probes
  bitnami/mysql/Chart.yaml
  bitnami/mysql/templates/primary/statefulset.yaml
  bitnami/mysql/templates/secondary/statefulset.yaml
Labels: verify, bitnami, mysql

#25896 [bitnami/etcd] PDB review
  bitnami/etcd/Chart.yaml
  bitnami/etcd/templates/pdb.yaml
Labels: verify, bitnami, etcd

#25911 [bitnami/template] PodDisruptionBudget template more permissive
  template/CHART_NAME/templates/pdb.yaml
Labels: verify, bitnami

#25888 Reduce index branch size by squashing all commits
  .github/workflows/cd-pipeline.yml
Labels: verify, bitnami

#25905 [bitnami/template] Fix unclosed quotes
  template/CHART_NAME/templates/statefulset.yaml
Labels: verify, in-progress

#25920 [bitnami/template] Remove unneeded `{{- end }}`
  template/CHART_NAME/templates/statefulset.yaml
Labels: triage

#25924 [bitnami/apache] Reverts #25862
  bitnami/apache/Chart.yaml
  bitnami/apache/templates/pdb.yaml
Labels: verify, apache, bitnami

#25910 [bitnami/elasticsearch] fixed secContext for initContainer for openshift
  bitnami/elasticsearch/Chart.yaml
  bitnami/elasticsearch/templates/coordinating/statefulset.yaml
  bitnami/elasticsearch/templates/data/statefulset.yaml
  bitnami/elasticsearch/templates/ingest/statefulset.yaml
  bitnami/elasticsearch/templates/master/statefulset.yaml
Labels: verify, in-progress, elasticsearch

#25929 [bitnami/moodle] Use different liveness/readiness probes
  bitnami/moodle/Chart.lock
  bitnami/moodle/Chart.yaml
  bitnami/moodle/README.md
  bitnami/moodle/templates/deployment.yaml
  bitnami/moodle/values.yaml
Labels: verify, moodle, bitnami

#25897 [bitnami/wordpress] Use different liveness/readiness probes
  bitnami/wordpress/Chart.lock
  bitnami/wordpress/Chart.yaml
  bitnami/wordpress/values.yaml
Labels: verify, bitnami, wordpress

#25922 [bitnami/joomla] Use different liveness/readiness probes
  bitnami/joomla/Chart.lock
  bitnami/joomla/Chart.yaml
  bitnami/joomla/templates/deployment.yaml
Labels: verify, bitnami, joomla

#25932 [bitnami/phpbb] Use different liveness/readiness probes
  bitnami/phpbb/Chart.yaml
  bitnami/phpbb/templates/deployment.yaml
Labels: verify, bitnami, phpbb

#25899 [bitnami/mediawiki] Use different liveness/readiness probes
  bitnami/mediawiki/Chart.lock
  bitnami/mediawiki/Chart.yaml
  bitnami/mediawiki/README.md
  bitnami/mediawiki/values.yaml
Labels: verify, bitnami, mediawiki

#25904 [bitnami/grafana-loki] Network policy review
  bitnami/grafana-loki/Chart.yaml
  bitnami/grafana-loki/README.md
  bitnami/grafana-loki/templates/compactor/networkpolicy.yaml
  bitnami/grafana-loki/templates/distributor/networkpolicy.yaml
  bitnami/grafana-loki/templates/gateway/networkpolicy.yaml
  bitnami/grafana-loki/templates/index-gateway/networkpolicy.yaml
  bitnami/grafana-loki/templates/ingester/networkpolicy.yaml
  bitnami/grafana-loki/templates/promtail/networkpolicy.yaml
  bitnami/grafana-loki/templates/querier/networkpolicy.yaml
  bitnami/grafana-loki/templates/query-frontend/networkpolicy.yaml
  bitnami/grafana-loki/templates/query-scheduler/networkpolicy.yaml
  bitnami/grafana-loki/templates/ruler/networkpolicy.yaml
  bitnami/grafana-loki/templates/table-manager/networkpolicy.yaml
  bitnami/grafana-loki/values.yaml
Labels: verify, in-progress, grafana-loki

#25918 [bitnami/ghost] Use different liveness/readiness probes
  bitnami/ghost/Chart.yaml
  bitnami/ghost/templates/deployment.yaml
Labels: verify, bitnami, ghost

#25953 [bitnami/kube-prometheus] PDB review
  bitnami/kube-prometheus/Chart.yaml
  bitnami/kube-prometheus/README.md
  bitnami/kube-prometheus/templates/blackbox-exporter/pdb.yaml
  bitnami/kube-prometheus/templates/prometheus-operator/pdb.yaml
  bitnami/kube-prometheus/values.yaml
Labels: verify, bitnami, kube-prometheus

#25914 [bitnami/drupal] Use different liveness/readiness probes
  bitnami/drupal/Chart.lock
  bitnami/drupal/Chart.yaml
  bitnami/drupal/README.md
  bitnami/drupal/templates/deployment.yaml
  bitnami/drupal/values.yaml
Labels: verify, bitnami, drupal

#25852 [bitnami/haproxy] Add enableServiceLinks (#25851)
  bitnami/haproxy/Chart.yaml
  bitnami/haproxy/README.md
  bitnami/haproxy/templates/deployment.yaml
  bitnami/haproxy/values.yaml
Labels: verify, in-progress, haproxy

#25941 [bitnami/etcd] Fix inconsistent between readme and code for etcd
  bitnami/etcd/README.md
Labels: verify, in-progress, etcd

#25917 [bitnami/etcd] Revert #25896
  bitnami/etcd/Chart.yaml
  bitnami/etcd/templates/pdb.yaml
Labels: verify, bitnami, etcd

#25935 [bitnami/grafana-mimir] PDB review
  bitnami/grafana-mimir/Chart.yaml
  bitnami/grafana-mimir/templates/alertmanager/pdb.yaml
  bitnami/grafana-mimir/templates/compactor/pdb.yaml
  bitnami/grafana-mimir/templates/distributor/pdb.yaml
  bitnami/grafana-mimir/templates/gateway/pdb.yaml
  bitnami/grafana-mimir/templates/ingester/pdb.yaml
  bitnami/grafana-mimir/templates/overrides-exporter/pdb.yaml
  bitnami/grafana-mimir/templates/querier/pdb.yaml
  bitnami/grafana-mimir/templates/query-frontend/pdb.yaml
  bitnami/grafana-mimir/templates/query-scheduler/pdb.yaml
  bitnami/grafana-mimir/templates/ruler/pdb.yaml
  bitnami/grafana-mimir/templates/store-gateway/pdb.yaml
Labels: verify, bitnami, grafana-mimir

#25955 [bitnami/redmine] Use different liveness/readiness probes
  bitnami/redmine/Chart.lock
  bitnami/redmine/Chart.yaml
  bitnami/redmine/README.md
  bitnami/redmine/templates/deployment.yaml
  bitnami/redmine/values.yaml
Labels: verify, bitnami, redmine

#25906 [bitnami/memcached] Network policy review
  bitnami/memcached/Chart.yaml
  bitnami/memcached/README.md
  bitnami/memcached/templates/networkpolicy.yaml
  bitnami/memcached/values.yaml
Labels: verify, in-progress, memcached

#25907 [bitnami/grafana-tempo] Network policy review
  bitnami/grafana-tempo/Chart.yaml
  bitnami/grafana-tempo/README.md
  bitnami/grafana-tempo/templates/compactor/networkpolicy.yaml
  bitnami/grafana-tempo/templates/distributor/networkpolicy.yaml
  bitnami/grafana-tempo/templates/ingester/networkpolicy.yaml
  bitnami/grafana-tempo/templates/metrics-generator/networkpolicy.yaml
  bitnami/grafana-tempo/templates/querier/networkpolicy.yaml
  bitnami/grafana-tempo/templates/query-frontend/networkpolicy.yaml
  bitnami/grafana-tempo/templates/vulture/networkpolicy.yaml
  bitnami/grafana-tempo/values.yaml
Labels: verify, in-progress, grafana-tempo

#25971 [bitnami/airflow] Use different liveness/readiness probes
  bitnami/airflow/Chart.lock
  bitnami/airflow/Chart.yaml
  bitnami/airflow/README.md
  bitnami/airflow/templates/scheduler/deployment.yaml
  bitnami/airflow/templates/web/deployment.yaml
  bitnami/airflow/templates/worker/statefulset.yaml
  bitnami/airflow/values.yaml
Labels: verify, airflow, bitnami

#25982 [bitnami/metrics-server] PDB review
  bitnami/metrics-server/Chart.yaml
  bitnami/metrics-server/README.md
  bitnami/metrics-server/templates/pdb.yaml
  bitnami/metrics-server/values.yaml
Labels: verify, bitnami, metrics-server

#25986 [bitnami/minio] PDB review
  bitnami/minio/Chart.yaml
  bitnami/minio/README.md
  bitnami/minio/templates/pdb.yaml
  bitnami/minio/values.yaml
Labels: verify, bitnami, minio

#25981 [bitnami/memcached] PDB review
  bitnami/memcached/Chart.yaml
  bitnami/memcached/README.md
  bitnami/memcached/templates/pdb.yaml
  bitnami/memcached/values.yaml
Labels: verify, bitnami, memcached

#25975 [bitnami/prestashop] Use different liveness/readiness probes
  bitnami/prestashop/Chart.lock
  bitnami/prestashop/Chart.yaml
  bitnami/prestashop/README.md
  bitnami/prestashop/templates/deployment.yaml
  bitnami/prestashop/values.yaml
Labels: verify, prestashop, bitnami

#25989 [bitnami/sonarqube] Use different liveness/readiness probes
  bitnami/sonarqube/Chart.lock
  bitnami/sonarqube/Chart.yaml
  bitnami/sonarqube/templates/deployment.yaml
Labels: verify, bitnami, sonarqube

#25974 [bitnami/phpmyadmin] Use different liveness/readiness probes
  bitnami/phpmyadmin/Chart.lock
  bitnami/phpmyadmin/Chart.yaml
  bitnami/phpmyadmin/README.md
  bitnami/phpmyadmin/values.yaml
Labels: verify, bitnami, phpmyadmin

#25976 [bitnami/matomo] Use different liveness/readiness probes
  bitnami/matomo/Chart.lock
  bitnami/matomo/Chart.yaml
  bitnami/matomo/README.md
  bitnami/matomo/templates/deployment.yaml
  bitnami/matomo/values.yaml
Labels: verify, bitnami, matomo

#25990 [bitnami/fluent-bit] Use different liveness/readiness probes
  bitnami/fluent-bit/Chart.yaml
  bitnami/fluent-bit/templates/daemonset.yaml
  bitnami/fluent-bit/templates/deployment.yaml
Labels: verify, bitnami, fluent-bit

#25988 [bitnami/ejbca] Use different liveness/readiness probes
  bitnami/ejbca/Chart.lock
  bitnami/ejbca/Chart.yaml
  bitnami/ejbca/templates/deployment.yaml
Labels: verify, bitnami, ejbca

#25108 [bitnami/jenkins] Stabilize Jenkins by adding a replicaCount
  bitnami/jenkins/Chart.yaml
  bitnami/jenkins/README.md
  bitnami/jenkins/templates/deployment.yaml
  bitnami/jenkins/values.yaml
Labels: verify, in-progress, jenkins

#25898 [bitnami/memcached] Allow disabling enableServiceLinks
  bitnami/memcached/Chart.yaml
  bitnami/memcached/README.md
  bitnami/memcached/templates/deployment.yaml
  bitnami/memcached/templates/statefulset.yaml
  bitnami/memcached/values.yaml
Labels: verify, in-progress, memcached

#25973 [bitnami/opencart] Use different liveness/readiness probes
  bitnami/opencart/Chart.lock
  bitnami/opencart/Chart.yaml
  bitnami/opencart/README.md
  bitnami/opencart/templates/deployment.yaml
  bitnami/opencart/values.yaml
Labels: verify, bitnami, opencart

#25996 [bitnami/keycloak] Update README.md
  bitnami/keycloak/README.md
Labels: in-progress, keycloak

#26116 [bitnami/dokuwiki] Use different liveness/readiness probes
  bitnami/dokuwiki/Chart.yaml
  bitnami/dokuwiki/templates/deployment.yaml
Labels: verify, bitnami, dokuwiki

#25901 [bitnami/redis-cluster] Possibility to add labels to redis-cluster pvc
  bitnami/redis-cluster/Chart.yaml
  bitnami/redis-cluster/README.md
  bitnami/redis-cluster/templates/redis-statefulset.yaml
  bitnami/redis-cluster/values.yaml
Labels: verify, in-progress, redis-cluster

#26117 [bitnami/aspnet-core] Use different liveness/readiness probes
  bitnami/aspnet-core/Chart.yaml
  bitnami/aspnet-core/templates/deployment.yaml
Labels: verify, bitnami, aspnet-core

#25972 [bitnami/odoo] Use different liveness/readiness probes
  bitnami/odoo/Chart.lock
  bitnami/odoo/Chart.yaml
  bitnami/odoo/README.md
  bitnami/odoo/templates/deployment.yaml
  bitnami/odoo/values.yaml
Labels: verify, odoo, bitnami

#25936 [bitnami/janusgraph] PDB review
  bitnami/janusgraph/Chart.yaml
  bitnami/janusgraph/README.md
  bitnami/janusgraph/templates/pdb.yaml
  bitnami/janusgraph/values.yaml
Labels: verify, bitnami, janusgraph

#26119 [bitnami/discourse] Use different liveness/readiness probes
  bitnami/discourse/Chart.lock
  bitnami/discourse/Chart.yaml
  bitnami/discourse/templates/deployment.yaml
Labels: verify, bitnami, discourse

#26120 [bitnami/mongodb] Fix volumePermissions rendering
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/templates/_helpers.tpl
Labels: verify, bitnami, mongodb

#25683 [bitnami/postgresql-ha] add backup.cronjob.tolerations options
  bitnami/postgresql-ha/Chart.yaml
  bitnami/postgresql-ha/README.md
  bitnami/postgresql-ha/templates/backup/cronjob.yaml
  bitnami/postgresql-ha/values.yaml
Labels: verify, in-progress, postgresql-ha

#25952 [bitnami/common] feat: :sparkles: Show warning when original images are replaced
  bitnami/common/Chart.yaml
  bitnami/common/templates/_warnings.tpl
Labels: verify, bitnami, common

#26128 [bitnami/kibana] Use different liveness/readiness probes
  bitnami/kibana/Chart.yaml
  bitnami/kibana/templates/deployment.yaml
Labels: verify, bitnami, kibana

#26127 [bitnami/logstash] Use different liveness/readiness probes
  bitnami/logstash/Chart.yaml
  bitnami/logstash/templates/sts.yaml
Labels: verify, bitnami, logstash

#26131 [bitnami/parse] Use different liveness/readiness probes
  bitnami/parse/Chart.lock
  bitnami/parse/Chart.yaml
  bitnami/parse/templates/dashboard-deployment.yaml
  bitnami/parse/templates/server-deployment.yaml
Labels: verify, bitnami, parse

#26130 [bitnami/opensearch] Use different liveness/readiness probes
  bitnami/opensearch/Chart.yaml
  bitnami/opensearch/templates/dashboards/deployment.yaml
Labels: verify, bitnami, opensearch

#26129 [bitnami/elasticsearch] Use different liveness/readiness probes
  bitnami/elasticsearch/Chart.yaml
  bitnami/elasticsearch/templates/metrics/deployment.yaml
Labels: verify, bitnami, elasticsearch

#26122 [bitnami/wildfly] Use different liveness/readiness probes
  bitnami/wildfly/Chart.yaml
  bitnami/wildfly/values.yaml
Labels: verify, bitnami, wildfly

#26135 [bitnami/spark] Use different liveness/readiness probes
  bitnami/spark/Chart.yaml
  bitnami/spark/templates/statefulset-master.yaml
  bitnami/spark/templates/statefulset-worker.yaml
Labels: verify, bitnami, spark

#26134 [bitnami/kafka] Use different liveness/readiness probes
  bitnami/kafka/Chart.lock
  bitnami/kafka/Chart.yaml
  bitnami/kafka/templates/broker/statefulset.yaml
  bitnami/kafka/templates/controller-eligible/statefulset.yaml
  bitnami/kafka/templates/metrics/deployment.yaml
Labels: verify, kafka, bitnami

#26132 [bitnami/kong] Use different liveness/readiness probes
  bitnami/kong/Chart.lock
  bitnami/kong/Chart.yaml
  bitnami/kong/templates/dep-ds.yaml
Labels: verify, bitnami, kong

#26151 [bitnami/grafana] Update README with the latest major version
  bitnami/grafana/README.md
Labels: verify, bitnami, grafana

#26121 [bitnami/deepspeed] Use different liveness/readiness probes
  bitnami/deepspeed/Chart.yaml
  bitnami/deepspeed/templates/client/client-dep-job.yaml
  bitnami/deepspeed/templates/worker/worker-statefulset.yaml
Labels: verify, bitnami, deepspeed

#26158 [bitnami/nats] PDB review
  bitnami/nats/CHANGELOG.md
  bitnami/nats/Chart.yaml
  bitnami/nats/README.md
  bitnami/nats/values.yaml
Labels: verify, bitnami, nats

#25933 [bitnami/external-dns] PDB review
  bitnami/external-dns/Chart.yaml
  bitnami/external-dns/README.md
  bitnami/external-dns/templates/pdb.yaml
  bitnami/external-dns/values.yaml
Labels: verify, bitnami, external-dns

#26156 [bitnami/mongodb-sharded] PDB review
  bitnami/mongodb-sharded/CHANGELOG.md
  bitnami/mongodb-sharded/Chart.yaml
  bitnami/mongodb-sharded/README.md
  bitnami/mongodb-sharded/templates/config-server/config-server-poddisruptionbudget.yaml
  bitnami/mongodb-sharded/templates/mongos/mongos-poddisruptionbudget.yaml
  bitnami/mongodb-sharded/templates/shard/shard-data-poddisruptionbudget.yaml
  bitnami/mongodb-sharded/values.yaml
Labels: verify, bitnami, mongodb-sharded

#26163 [bitnami/*] ci: :construction_worker: Allow updating changelog when using a fork
  .github/workflows/ci-pipeline.yml
Labels: verify, bitnami

#26167 [bitnami/*] ci: :construction_worker: :ambulance: Skip changelog inside the markdown-linter
  .github/workflows/markdown-linter.yml
  .markdownlintignore
Labels: verify, bitnami

#26166 [bitnami/pytorch] Use different liveness/readiness probes
  bitnami/pytorch/CHANGELOG.md
  bitnami/pytorch/Chart.lock
  bitnami/pytorch/Chart.yaml
  bitnami/pytorch/README.md
  bitnami/pytorch/templates/deployment.yaml
  bitnami/pytorch/templates/statefulset.yaml
  bitnami/pytorch/values.yaml
Labels: verify, bitnami, pytorch

#26178 [bitnami/node-exporter] Use different liveness/readiness probes
  bitnami/node-exporter/CHANGELOG.md
  bitnami/node-exporter/Chart.lock
  bitnami/node-exporter/Chart.yaml
  bitnami/node-exporter/templates/daemonset.yaml
  bitnami/node-exporter/templates/deployment.yaml
Labels: verify, bitnami, node-exporter

#26192 [bitnami/deepspeed] feat: :sparkles: :lock: Add warning when original images are replaced
  bitnami/deepspeed/CHANGELOG.md
  bitnami/deepspeed/Chart.lock
  bitnami/deepspeed/Chart.yaml
  bitnami/deepspeed/templates/NOTES.txt
Labels: verify, bitnami, deepspeed

#26193 [bitnami/discourse] feat: :sparkles: :lock: Add warning when original images are replaced
  bitnami/discourse/CHANGELOG.md
  bitnami/discourse/Chart.lock
  bitnami/discourse/Chart.yaml
  bitnami/discourse/templates/NOTES.txt
Labels: verify, bitnami, discourse

#26198 [bitnami/etcd] feat: :sparkles: :lock: Add warning when original images are replaced
  bitnami/etcd/CHANGELOG.md
  bitnami/etcd/Chart.lock
  bitnami/etcd/Chart.yaml
  bitnami/etcd/templates/NOTES.txt
Labels: verify, bitnami, etcd

#26205 [bitnami/fluentd] feat: :sparkles: :lock: Add warning when original images are replaced
  bitnami/fluentd/CHANGELOG.md
  bitnami/fluentd/Chart.lock
  bitnami/fluentd/Chart.yaml
  bitnami/fluentd/templates/NOTES.txt
Labels: verify, bitnami, fluentd

#26208 [bitnami/gitea] feat: :sparkles: :lock: Add warning when original images are replaced
  bitnami/gitea/CHANGELOG.md
  bitnami/gitea/Chart.lock
  bitnami/gitea/Chart.yaml
  bitnami/gitea/templates/NOTES.txt
Labels: verify, bitnami, gitea

#26211 [bitnami/grafana-mimir] feat: :sparkles: :lock: Add warning when original images are replaced
  bitnami/grafana-mimir/CHANGELOG.md
  bitnami/grafana-mimir/Chart.lock
  bitnami/grafana-mimir/Chart.yaml
  bitnami/grafana-mimir/templates/NOTES.txt
Labels: verify, bitnami, grafana-mimir

#26213 [bitnami/grafana-tempo] feat: :sparkles: :lock: Add warning when original images are replaced
  bitnami/grafana-tempo/CHANGELOG.md
  bitnami/grafana-tempo/Chart.lock
  bitnami/grafana-tempo/Chart.yaml
  bitnami/grafana-tempo/templates/NOTES.txt
Labels: verify, bitnami, grafana-tempo

#26228 [bitnami/kong] feat: :sparkles: :lock: Add warning when original images are replaced
  bitnami/kong/CHANGELOG.md
  bitnami/kong/Chart.lock
  bitnami/kong/Chart.yaml
  bitnami/kong/templates/NOTES.txt
Labels: verify, bitnami, kong

#26238 [bitnami/mastodon] feat: :sparkles: :lock: Add warning when original images are replaced
  bitnami/mastodon/CHANGELOG.md
  bitnami/mastodon/Chart.lock
  bitnami/mastodon/Chart.yaml
  bitnami/mastodon/templates/NOTES.txt
Labels: verify, bitnami, mastodon

#26252 [bitnami/nats] feat: :sparkles: :lock: Add warning when original images are replaced
  bitnami/nats/CHANGELOG.md
  bitnami/nats/Chart.lock
  bitnami/nats/Chart.yaml
  bitnami/nats/templates/NOTES.txt
Labels: verify, bitnami, nats

#26267 [bitnami/prometheus] feat: :sparkles: :lock: Add warning when original images are replaced
  bitnami/prometheus/CHANGELOG.md
  bitnami/prometheus/Chart.lock
  bitnami/prometheus/Chart.yaml
  bitnami/prometheus/templates/NOTES.txt
Labels: verify, bitnami, prometheus

#26271 [bitnami/redis] feat: :sparkles: :lock: Add warning when original images are replaced
  bitnami/redis/CHANGELOG.md
  bitnami/redis/Chart.lock
  bitnami/redis/Chart.yaml
  bitnami/redis/templates/NOTES.txt
Labels: verify, bitnami, redis

#26268 [bitnami/pytorch] feat: :sparkles: :lock: Add warning when original images are replaced
  bitnami/pytorch/CHANGELOG.md
  bitnami/pytorch/Chart.yaml
  bitnami/pytorch/templates/NOTES.txt
Labels: verify, bitnami, pytorch

#26281 [bitnami/supabase] feat: :sparkles: :lock: Add warning when original images are replaced
  bitnami/supabase/CHANGELOG.md
  bitnami/supabase/Chart.lock
  bitnami/supabase/Chart.yaml
  bitnami/supabase/templates/NOTES.txt
Labels: verify, bitnami, supabase

#26279 [bitnami/spark] feat: :sparkles: :lock: Add warning when original images are replaced
  bitnami/spark/CHANGELOG.md
  bitnami/spark/Chart.lock
  bitnami/spark/Chart.yaml
  bitnami/spark/templates/NOTES.txt
Labels: verify, auto-merge, bitnami, spark

#26264 [bitnami/postgresql] feat: :sparkles: :lock: Add warning when original images are replaced
  bitnami/postgresql/CHANGELOG.md
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/templates/NOTES.txt
Labels: verify, auto-merge, postgresql, bitnami

#26290 [bitnami/zookeeper] feat: :sparkles: :lock: Add warning when original images are replaced
  bitnami/zookeeper/CHANGELOG.md
  bitnami/zookeeper/Chart.lock
  bitnami/zookeeper/Chart.yaml
  bitnami/zookeeper/templates/NOTES.txt
Labels: verify, auto-merge, bitnami, zookeeper

#26288 [bitnami/wildfly] feat: :sparkles: :lock: Add warning when original images are replaced
  bitnami/wildfly/CHANGELOG.md
  bitnami/wildfly/Chart.lock
  bitnami/wildfly/Chart.yaml
  bitnami/wildfly/templates/NOTES.txt
Labels: verify, auto-merge, bitnami, wildfly

#26287 [bitnami/whereabouts] feat: :sparkles: :lock: Add warning when original images are replaced
  bitnami/whereabouts/CHANGELOG.md
  bitnami/whereabouts/Chart.lock
  bitnami/whereabouts/Chart.yaml
  bitnami/whereabouts/templates/NOTES.txt
Labels: verify, auto-merge, bitnami, whereabouts

#26286 [bitnami/vault] feat: :sparkles: :lock: Add warning when original images are replaced
  bitnami/vault/CHANGELOG.md
  bitnami/vault/Chart.yaml
  bitnami/vault/templates/NOTES.txt
Labels: verify, auto-merge, bitnami, vault

#26284 [bitnami/tomcat] feat: :sparkles: :lock: Add warning when original images are replaced
  bitnami/tomcat/CHANGELOG.md
  bitnami/tomcat/Chart.lock
  bitnami/tomcat/Chart.yaml
  bitnami/tomcat/templates/NOTES.txt
Labels: verify, auto-merge, bitnami, tomcat

#26283 [bitnami/thanos] feat: :sparkles: :lock: Add warning when original images are replaced
  bitnami/thanos/CHANGELOG.md
  bitnami/thanos/Chart.lock
  bitnami/thanos/Chart.yaml
  bitnami/thanos/templates/NOTES.txt
Labels: verify, auto-merge, bitnami, thanos

#26282 [bitnami/tensorflow-resnet] feat: :sparkles: :lock: Add warning when original images are replaced
  bitnami/tensorflow-resnet/CHANGELOG.md
  bitnami/tensorflow-resnet/Chart.lock
  bitnami/tensorflow-resnet/Chart.yaml
  bitnami/tensorflow-resnet/templates/NOTES.txt
Labels: verify, auto-merge, bitnami, tensorflow-resnet

#26280 [bitnami/spring-cloud-dataflow] feat: :sparkles: :lock: Add warning when original images are replaced
  bitnami/spring-cloud-dataflow/CHANGELOG.md
  bitnami/spring-cloud-dataflow/Chart.lock
  bitnami/spring-cloud-dataflow/Chart.yaml
  bitnami/spring-cloud-dataflow/templates/NOTES.txt
Labels: verify, auto-merge, bitnami, spring-cloud-dataflow

#26278 [bitnami/sonarqube] feat: :sparkles: :lock: Add warning when original images are replaced
  bitnami/sonarqube/CHANGELOG.md
  bitnami/sonarqube/Chart.lock
  bitnami/sonarqube/Chart.yaml
  bitnami/sonarqube/templates/NOTES.txt
Labels: verify, auto-merge, bitnami, sonarqube

#26277 [bitnami/solr] feat: :sparkles: :lock: Add warning when original images are replaced
  bitnami/solr/CHANGELOG.md
  bitnami/solr/Chart.lock
  bitnami/solr/Chart.yaml
  bitnami/solr/templates/NOTES.txt
Labels: verify, auto-merge, bitnami, solr

#26276 [bitnami/seaweedfs] feat: :sparkles: :lock: Add warning when original images are replaced
  bitnami/seaweedfs/CHANGELOG.md
  bitnami/seaweedfs/Chart.lock
  bitnami/seaweedfs/Chart.yaml
  bitnami/seaweedfs/templates/NOTES.txt
Labels: verify, auto-merge, bitnami, seaweedfs

#26275 [bitnami/sealed-secrets] feat: :sparkles: :lock: Add warning when original images are replaced
  bitnami/sealed-secrets/CHANGELOG.md
  bitnami/sealed-secrets/Chart.lock
  bitnami/sealed-secrets/Chart.yaml
  bitnami/sealed-secrets/templates/NOTES.txt
Labels: verify, auto-merge, bitnami, sealed-secrets

#26273 [bitnami/redmine] feat: :sparkles: :lock: Add warning when original images are replaced
  bitnami/redmine/CHANGELOG.md
  bitnami/redmine/Chart.lock
  bitnami/redmine/Chart.yaml
  bitnami/redmine/templates/NOTES.txt
Labels: verify, auto-merge, bitnami, redmine
