Repository bitnami/charts, pull requests merged in 2024-07, with the labels that each got.

#27506 [bitnami/contour] allow customizing lifecycle hooks for envoy containers
  bitnami/contour/CHANGELOG.md
  bitnami/contour/Chart.yaml
  bitnami/contour/README.md
  bitnami/contour/templates/envoy/deployment.yaml
  bitnami/contour/values.yaml
Labels: verify, in-progress, contour

#27610 [bitnami/kafka] fix: Mount kafka_jaas.conf in controller statefulset for kraft migration
  bitnami/kafka/CHANGELOG.md
  bitnami/kafka/Chart.yaml
  bitnami/kafka/templates/controller-eligible/statefulset.yaml
Labels: verify, in-progress, kafka

#27586 postgres exporter monitor all databases
  bitnami/postgresql/CHANGELOG.md
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/templates/primary/statefulset.yaml
  bitnami/postgresql/templates/read/statefulset.yaml
Labels: verify, in-progress, postgresql

#27616 [bitnami/neo4j] Add chart
  .vib/neo4j/cypress/cypress.config.js
  .vib/neo4j/cypress/cypress/e2e/neo4j.cy.js
  .vib/neo4j/cypress/cypress/fixtures/users.json
  .vib/neo4j/cypress/cypress/support/commands.js
  .vib/neo4j/cypress/cypress/support/e2e.js
  .vib/neo4j/cypress/cypress/support/utils.js
  .vib/neo4j/goss/goss.yaml
  .vib/neo4j/runtime-parameters.yaml
  .vib/neo4j/vib-publish.json
  .vib/neo4j/vib-verify.json
  bitnami/neo4j/.helmignore
  bitnami/neo4j/CHANGELOG.md
  bitnami/neo4j/Chart.lock
  bitnami/neo4j/Chart.yaml
  bitnami/neo4j/README.md
  bitnami/neo4j/templates/NOTES.txt
  bitnami/neo4j/templates/_helpers.tpl
  bitnami/neo4j/templates/configmap.yaml
  bitnami/neo4j/templates/extra-list.yaml
  bitnami/neo4j/templates/ingress-tls-secret.yaml
  bitnami/neo4j/templates/ingress.yaml
  bitnami/neo4j/templates/networkpolicy.yaml
  bitnami/neo4j/templates/pdb.yaml
  bitnami/neo4j/templates/rbac/role.yaml
  bitnami/neo4j/templates/rbac/rolebinding.yaml
  bitnami/neo4j/templates/rbac/service-account.yaml
  bitnami/neo4j/templates/secret.yaml
  bitnami/neo4j/templates/service.yaml
  bitnami/neo4j/templates/statefulset.yaml
  bitnami/neo4j/templates/tls-secret.yaml
  bitnami/neo4j/templates/vpa.yaml
  bitnami/neo4j/values.yaml
Labels: new-product, verify, bitnami, neo4j

#27580 [bitnami/supabase] Do not render any resources for disabled components
  bitnami/supabase/CHANGELOG.md
  bitnami/supabase/Chart.yaml
  bitnami/supabase/templates/auth/networkpolicy.yaml
  bitnami/supabase/templates/auth/service.yaml
  bitnami/supabase/templates/meta/networkpolicy.yaml
  bitnami/supabase/templates/meta/service.yaml
  bitnami/supabase/templates/realtime/networkpolicy.yaml
  bitnami/supabase/templates/realtime/secret.yaml
  bitnami/supabase/templates/realtime/service.yaml
  bitnami/supabase/templates/rest/networkpolicy.yaml
  bitnami/supabase/templates/rest/service.yaml
  bitnami/supabase/templates/storage/networkpolicy.yaml
  bitnami/supabase/templates/storage/pvc.yaml
  bitnami/supabase/templates/storage/service.yaml
  bitnami/supabase/templates/studio/ingress.yaml
  bitnami/supabase/templates/studio/networkpolicy.yaml
  bitnami/supabase/templates/studio/service.yaml
  bitnami/supabase/templates/studio/tls-secret.yaml
Labels: verify, in-progress, supabase

#27768 [bitnami/neo4j] Update README appname
  bitnami/neo4j/CHANGELOG.md
  bitnami/neo4j/Chart.yaml
  bitnami/neo4j/README.md
Labels: verify, bitnami, neo4j

#27626 [bitnami/minio]: Fix the condition end line to use containerPorts
  bitnami/minio/CHANGELOG.md
  bitnami/minio/Chart.yaml
  bitnami/minio/templates/distributed/statefulset.yaml
Labels: verify, in-progress, minio

#27615 [bitnami/argo-cd] Use correct port in NetworkPolicy of Repo Server
  bitnami/argo-cd/CHANGELOG.md
  bitnami/argo-cd/Chart.yaml
  bitnami/argo-cd/templates/repo-server/networkpolicy.yaml
Labels: verify, in-progress, argo-cd

#27748 [bitnami/apache] Uses `common.compatibility.renderSecurityContext` template to render `containerSecurityContext` values in container specs
  bitnami/apache/CHANGELOG.md
  bitnami/apache/Chart.yaml
  bitnami/apache/templates/deployment.yaml
Labels: verify, in-progress, apache

#27614 [bitnami/argo-cd] Render PDBs and NetworkPolicies only if apps are enabled as well
  bitnami/argo-cd/CHANGELOG.md
  bitnami/argo-cd/Chart.yaml
  bitnami/argo-cd/templates/applicationset/networkpolicy.yaml
  bitnami/argo-cd/templates/applicationset/pdb.yaml
  bitnami/argo-cd/templates/applicationset/role.yaml
  bitnami/argo-cd/templates/dex/pdb.yaml
  bitnami/argo-cd/templates/notifications/pdb.yaml
  bitnami/argo-cd/templates/repo-server/pdb.yaml
  bitnami/argo-cd/templates/server/pdb.yaml
Labels: verify, in-progress, argo-cd

#27821 bitnami/keycloak Diversity: Allow Keycloak admin realm to be changed/configurable
  bitnami/keycloak/CHANGELOG.md
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/README.md
  bitnami/keycloak/templates/NOTES.txt
  bitnami/keycloak/templates/statefulset.yaml
  bitnami/keycloak/values.yaml
Labels: verify, in-progress, keycloak

#27829 [bitnami/grafana-tempo] Fix: bind correctly containerPorts (grpc and gossip-ring ports)
  bitnami/grafana-tempo/CHANGELOG.md
  bitnami/grafana-tempo/Chart.yaml
  bitnami/grafana-tempo/values.yaml
Labels: verify, in-progress, grafana-tempo

#27158 [bitnami/external-dns] add default pihole.password value
  bitnami/external-dns/CHANGELOG.md
  bitnami/external-dns/Chart.yaml
  bitnami/external-dns/README.md
  bitnami/external-dns/values.yaml
Labels: verify, in-progress, external-dns

#27197 [bitnami/keycloak] Add custom certs to system truststore
  bitnami/keycloak/CHANGELOG.md
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/README.md
  bitnami/keycloak/templates/configmap-env-vars.yaml
  bitnami/keycloak/templates/statefulset.yaml
  bitnami/keycloak/values.yaml
Labels: verify, in-progress, keycloak

#27824 [bitnami/discourse] Fix pgrep on livenessProbe typo
  bitnami/discourse/CHANGELOG.md
  bitnami/discourse/Chart.yaml
  bitnami/discourse/templates/deployment.yaml
Labels: verify, in-progress, discourse

#27441 [bitnami/apisix] Updated jsonschema to allow string values for fields passed to tpl
  bitnami/apisix/CHANGELOG.md
  bitnami/apisix/Chart.yaml
  bitnami/apisix/values.schema.json
Labels: verify, in-progress, apisix

#27253 [bitnami/argo-cd] fix: Use the right port name for livenessProbe.
  bitnami/argo-cd/CHANGELOG.md
  bitnami/argo-cd/Chart.yaml
  bitnami/argo-cd/templates/applicationset/deployment.yaml
Labels: verify, in-progress, argo-cd

#27562 [bitnami/kafka] Fix jmx-exporter scrape path
  bitnami/kafka/CHANGELOG.md
  bitnami/kafka/Chart.yaml
  bitnami/kafka/templates/metrics/jmx-servicemonitor.yaml
  bitnami/kafka/values.yaml
Labels: verify, in-progress, kafka

#27567 [github-ci] Kubescape action improvements
  .github/workflows/ci-pipeline.yml
Labels: verify, bitnami

#27737 [bitnami/valkey-cluster] Add valkey cluster chart
  .vib/valkey-cluster/ginkgo/go.mod
  .vib/valkey-cluster/ginkgo/go.sum
  .vib/valkey-cluster/ginkgo/valkey_suite_test.go
  .vib/valkey-cluster/ginkgo/valkey_test.go
  .vib/valkey-cluster/goss/goss.yaml
  .vib/valkey-cluster/runtime-parameters.yaml
  .vib/valkey-cluster/vib-publish.json
  .vib/valkey-cluster/vib-verify.json
  bitnami/valkey-cluster/.helmignore
  bitnami/valkey-cluster/CHANGELOG.md
  bitnami/valkey-cluster/Chart.lock
  bitnami/valkey-cluster/Chart.yaml
  bitnami/valkey-cluster/README.md
  bitnami/valkey-cluster/img/valkey-cluster-topology.png
  bitnami/valkey-cluster/img/valkey-topology.png
  bitnami/valkey-cluster/templates/NOTES.txt
  bitnami/valkey-cluster/templates/_helpers.tpl
  bitnami/valkey-cluster/templates/configmap.yaml
  bitnami/valkey-cluster/templates/extra-list.yaml
  bitnami/valkey-cluster/templates/headless-svc.yaml
  bitnami/valkey-cluster/templates/metrics-prometheus.yaml
  bitnami/valkey-cluster/templates/metrics-svc.yaml
  bitnami/valkey-cluster/templates/networkpolicy.yaml
  bitnami/valkey-cluster/templates/poddisruptionbudget.yaml
  bitnami/valkey-cluster/templates/prometheusrule.yaml
  bitnami/valkey-cluster/templates/scripts-configmap.yaml
  bitnami/valkey-cluster/templates/secret.yaml
  bitnami/valkey-cluster/templates/svc-cluster-external-access.yaml
  bitnami/valkey-cluster/templates/tls-secret.yaml
  bitnami/valkey-cluster/templates/update-cluster.yaml
  bitnami/valkey-cluster/templates/valkey-role.yaml
  bitnami/valkey-cluster/templates/valkey-rolebinding.yaml
  bitnami/valkey-cluster/templates/valkey-serviceaccount.yaml
  bitnami/valkey-cluster/templates/valkey-statefulset.yaml
  bitnami/valkey-cluster/templates/valkey-svc.yaml
  bitnami/valkey-cluster/values.yaml
Labels: new-product, verify, solved, bitnami, valkey-cluster

#27834 [bitnami/rabbitmq-cluster-operator]: Adding permissions on controller…
  bitnami/rabbitmq-cluster-operator/CHANGELOG.md
  bitnami/rabbitmq-cluster-operator/Chart.yaml
  bitnami/rabbitmq-cluster-operator/templates/messaging-topology-operator/clusterrole.yaml
Labels: verify, in-progress, rabbitmq-cluster-operator

#27550 [bitnami/keycloak] Add support for minReadySeconds
  bitnami/keycloak/CHANGELOG.md
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/README.md
  bitnami/keycloak/templates/statefulset.yaml
  bitnami/keycloak/values.yaml
Labels: verify, in-progress, keycloak

#27067 [bitnami/harbor] Add service account for Harbor resources
  bitnami/harbor/CHANGELOG.md
  bitnami/harbor/Chart.yaml
  bitnami/harbor/README.md
  bitnami/harbor/templates/_helpers.tpl
  bitnami/harbor/templates/core/core-dpl.yaml
  bitnami/harbor/templates/core/core-service-account.yaml
  bitnami/harbor/templates/exporter/exporter-dpl.yaml
  bitnami/harbor/templates/exporter/exporter-service-account.yaml
  bitnami/harbor/templates/jobservice/jobservice-dpl.yaml
  bitnami/harbor/templates/jobservice/jobservice-service-account.yaml
  bitnami/harbor/templates/nginx/deployment.yaml
  bitnami/harbor/templates/nginx/service-account.yaml
  bitnami/harbor/templates/portal/portal-dpl.yaml
  bitnami/harbor/templates/portal/portal-service-account.yaml
  bitnami/harbor/templates/registry/registry-dpl.yaml
  bitnami/harbor/templates/registry/registry-service-account.yaml
  bitnami/harbor/templates/trivy/trivy-service-account.yaml
  bitnami/harbor/templates/trivy/trivy-sts.yaml
  bitnami/harbor/values.yaml
Labels: verify, in-progress, harbor

#27523 [bitnami/mysql] Modify mysql liveness/startup probes to check output
  bitnami/mysql/CHANGELOG.md
  bitnami/mysql/Chart.yaml
  bitnami/mysql/templates/primary/statefulset.yaml
  bitnami/mysql/templates/secondary/statefulset.yaml
Labels: verify, bitnami, mysql

#27734 Postgres exporter URI fix
  bitnami/postgresql/CHANGELOG.md
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/templates/primary/statefulset.yaml
  bitnami/postgresql/templates/read/statefulset.yaml
Labels: verify, in-progress, postgresql

#27853 [bitnami/rabbitmq] Replace extraPorts with extraPortsHeadless in headless service
  bitnami/rabbitmq/CHANGELOG.md
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/README.md
  bitnami/rabbitmq/templates/svc-headless.yaml
  bitnami/rabbitmq/values.yaml
Labels: verify, bitnami, rabbitmq

#27857 [bitnami/supabase] chore: :arrow_up: Update supabase-storage to 1.6.8
  bitnami/supabase/CHANGELOG.md
  bitnami/supabase/Chart.lock
  bitnami/supabase/Chart.yaml
  bitnami/supabase/templates/storage/deployment.yaml
  bitnami/supabase/values.yaml
Labels: verify, bitnami, supabase

#27839 [bitnami/apisix] Correct service port name in control plane ingress
  bitnami/apisix/CHANGELOG.md
  bitnami/apisix/Chart.yaml
  bitnami/apisix/templates/control-plane/ingress.yaml
Labels: verify, in-progress, apisix

#27766 [bitnami/external-dns] Added extra arguments for Traefik new/legacy resource support
  bitnami/external-dns/CHANGELOG.md
  bitnami/external-dns/Chart.yaml
  bitnami/external-dns/README.md
  bitnami/external-dns/templates/deployment.yaml
  bitnami/external-dns/values.yaml
Labels: verify, in-progress, external-dns

#27608 bitnami/sealed-secrets: add loadbalancerclass
  bitnami/sealed-secrets/CHANGELOG.md
  bitnami/sealed-secrets/Chart.yaml
  bitnami/sealed-secrets/README.md
  bitnami/sealed-secrets/templates/service.yaml
  bitnami/sealed-secrets/values.yaml
Labels: verify, in-progress, sealed-secrets

#27505 [bitnami/external-dns] docs: update registry doc url
  bitnami/external-dns/CHANGELOG.md
  bitnami/external-dns/Chart.yaml
  bitnami/external-dns/values.yaml
Labels: stale, verify, triage, external-dns

#27881 [bitnami/zookeeper] Reenable VIB kubescape action
  .vib/zookeeper/vib-verify.json
Labels: verify, bitnami

#27867 [bitnami/keycloak] fix conditions for KC_HOSTNAME_URL
  bitnami/keycloak/CHANGELOG.md
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/templates/statefulset.yaml
Labels: verify, in-progress, keycloak

#27851 [bitnami/harbor] Fix typo in exporter secretKeyRef
  bitnami/harbor/CHANGELOG.md
  bitnami/harbor/Chart.yaml
  bitnami/harbor/templates/exporter/exporter-dpl.yaml
Labels: verify, bitnami, harbor

#27895 [bitnami/zookeeper] Bump patch version
  bitnami/zookeeper/CHANGELOG.md
  bitnami/zookeeper/Chart.yaml
Labels: verify, bitnami, zookeeper

#27866 [bitnami/elasticsearch] add persistentVolumeClaimRetentionPolicy to statefulset for master and data
  bitnami/elasticsearch/CHANGELOG.md
  bitnami/elasticsearch/Chart.yaml
  bitnami/elasticsearch/README.md
  bitnami/elasticsearch/templates/data/statefulset.yaml
  bitnami/elasticsearch/templates/master/statefulset.yaml
  bitnami/elasticsearch/values.yaml
Labels: verify, in-progress, elasticsearch

#27627 [bitnami/postgresql] Move comments inside conditionals
  bitnami/postgresql/CHANGELOG.md
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/templates/primary/statefulset.yaml
Labels: verify, in-progress, postgresql

#27902 [bitnami/common] Increase ephemeral-storage default limits
  bitnami/common/CHANGELOG.md
  bitnami/common/Chart.yaml
  bitnami/common/templates/_resources.tpl
Labels: verify, bitnami, common

#27938 [bitnami/matomo] Fix customCAs usage
  bitnami/matomo/CHANGELOG.md
  bitnami/matomo/Chart.yaml
  bitnami/matomo/templates/_helpers.tpl
Labels: verify, bitnami, matomo

#27940 [bitnami/joomla] chore!: :arrow_up: :boom: Update mariadb to 11.4
  bitnami/joomla/CHANGELOG.md
  bitnami/joomla/Chart.lock
  bitnami/joomla/Chart.yaml
  bitnami/joomla/README.md
Labels: verify, bitnami, joomla

#27939 [bitnami/opencart] chore!: :arrow_up: :boom: Update mariadb to 11.4
  bitnami/opencart/CHANGELOG.md
  bitnami/opencart/Chart.lock
  bitnami/opencart/Chart.yaml
  bitnami/opencart/README.md
Labels: verify, bitnami, opencart

#27934 [bitnami/phpmyadmin] chore!: :arrow_up: :boom: Update mariadb to 11.4
  bitnami/phpmyadmin/CHANGELOG.md
  bitnami/phpmyadmin/Chart.lock
  bitnami/phpmyadmin/Chart.yaml
  bitnami/phpmyadmin/README.md
Labels: verify, bitnami, phpmyadmin

#27929 [bitnami/phpbb] chore!: :arrow_up: :boom: Update mariadb to 11.4
  bitnami/phpbb/CHANGELOG.md
  bitnami/phpbb/Chart.lock
  bitnami/phpbb/Chart.yaml
  bitnami/phpbb/README.md
Labels: verify, bitnami, phpbb

#27927 [bitnami/drupal] chore!: :arrow_up: :boom: Update mariadb to 11.4
  bitnami/drupal/CHANGELOG.md
  bitnami/drupal/Chart.lock
  bitnami/drupal/Chart.yaml
  bitnami/drupal/README.md
Labels: verify, bitnami, drupal

#27753 [bitnami/harbor] initContainer for certificate vol
  bitnami/harbor/CHANGELOG.md
  bitnami/harbor/Chart.yaml
  bitnami/harbor/README.md
  bitnami/harbor/templates/core/core-dpl.yaml
  bitnami/harbor/templates/exporter/exporter-dpl.yaml
  bitnami/harbor/templates/jobservice/jobservice-dpl.yaml
  bitnami/harbor/templates/portal/portal-dpl.yaml
  bitnami/harbor/templates/registry/registry-dpl.yaml
  bitnami/harbor/templates/trivy/trivy-sts.yaml
  bitnami/harbor/values.yaml
Labels: verify, in-progress, harbor

#27941 [bitnami/mediawiki] chore!: :arrow_up: :boom: Update mariadb to 11.4
  bitnami/mediawiki/CHANGELOG.md
  bitnami/mediawiki/Chart.lock
  bitnami/mediawiki/Chart.yaml
  bitnami/mediawiki/README.md
Labels: verify, bitnami, mediawiki

#27937 [bitnami/seaweedfs] chore!: :arrow_up: :boom: Update mariadb to 11.4
  bitnami/seaweedfs/CHANGELOG.md
  bitnami/seaweedfs/Chart.lock
  bitnami/seaweedfs/Chart.yaml
  bitnami/seaweedfs/README.md
Labels: verify, bitnami, seaweedfs

#27936 [bitnami/redmine] chore!: :arrow_up: :boom: Update mariadb to 11.4
  bitnami/redmine/CHANGELOG.md
  bitnami/redmine/Chart.lock
  bitnami/redmine/Chart.yaml
  bitnami/redmine/README.md
Labels: verify, bitnami, redmine

#27933 [bitnami/prestashop] chore!: :arrow_up: :boom: Update mariadb to 11.4
  bitnami/prestashop/CHANGELOG.md
  bitnami/prestashop/Chart.lock
  bitnami/prestashop/Chart.yaml
  bitnami/prestashop/README.md
Labels: verify, prestashop, bitnami

#27928 [bitnami/magento] chore!: :arrow_up: :boom: Update mariadb to 11.4
  bitnami/magento/CHANGELOG.md
  bitnami/magento/Chart.lock
  bitnami/magento/Chart.yaml
  bitnami/magento/README.md
Labels: verify, magento, bitnami

#27925 [bitnami/moodle] chore!: :arrow_up: :boom: Update mariadb to 11.4
  bitnami/moodle/CHANGELOG.md
  bitnami/moodle/Chart.lock
  bitnami/moodle/Chart.yaml
  bitnami/moodle/README.md
Labels: verify, moodle, bitnami

#27930 [bitnami/wordpress] chore!: :arrow_up: :boom: Update mariadb to 11.4
  bitnami/wordpress/CHANGELOG.md
  bitnami/wordpress/Chart.lock
  bitnami/wordpress/Chart.yaml
  bitnami/wordpress/README.md
Labels: verify, bitnami, wordpress

#27943 [bitnami/matomo] chore!: :arrow_up: :boom: Update mariadb to 11.4
  bitnami/matomo/CHANGELOG.md
  bitnami/matomo/Chart.lock
  bitnami/matomo/Chart.yaml
  bitnami/matomo/README.md
Labels: verify, bitnami, matomo

#27587 [bitnami/cilium] Fix Cilium Envoy configuration
  bitnami/cilium/CHANGELOG.md
  bitnami/cilium/Chart.yaml
  bitnami/cilium/templates/configmap.yaml
Labels: verify, bitnami, cilium, skip-score

#27955 [bitnami/harbor] Remove duplicated security context
  bitnami/harbor/CHANGELOG.md
  bitnami/harbor/Chart.yaml
  bitnami/harbor/templates/portal/portal-dpl.yaml
Labels: verify, in-progress, harbor, skip-score

#27980 [bitnami/gitea] Include goss-wait test to improve test results
  .vib/gitea/goss/goss-wait.yaml
  .vib/gitea/vib-verify.json
  bitnami/gitea/CHANGELOG.md
  bitnami/gitea/Chart.yaml
Labels: verify, bitnami, gitea

#27976 [github-actions] kubescape score: untar subcharts for score match
  .github/workflows/ci-pipeline.yml
Labels: verify, bitnami

#27455 [bitnami/kafka] fix jmx-servicemonitor by using JMX Exporter's default metrics path
  bitnami/kafka/CHANGELOG.md
  bitnami/kafka/Chart.yaml
  bitnami/kafka/README.md
  bitnami/kafka/templates/metrics/jmx-servicemonitor.yaml
  bitnami/kafka/values.yaml
Labels: verify, in-progress, kafka

#27953 [bitnami/mongodb] Fix autoDiscovery initContainer template
  bitnami/mongodb/CHANGELOG.md
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/templates/_helpers.tpl
Labels: verify, in-progress, mongodb

#27912 bitnami/keycloak Safer variable set of KC_HOSTNAME_URL
  bitnami/keycloak/CHANGELOG.md
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/templates/statefulset.yaml
Labels: verify, in-progress, keycloak

#27983 [bitnami/argo-cd] Fix issue when using imagePullSecrets
  bitnami/argo-cd/CHANGELOG.md
  bitnami/argo-cd/Chart.lock
  bitnami/argo-cd/Chart.yaml
  bitnami/argo-cd/templates/application-controller/_pod.tpl
Labels: verify, bitnami, argo-cd

#28112 [github-action] Fix kubescape score step for common chart
  .github/workflows/ci-pipeline.yml
Labels: verify, bitnami

#27931 [bitnami/spring-cloud-dataflow] chore!: :arrow_up: :boom: Update mariadb to 11.4
  bitnami/spring-cloud-dataflow/CHANGELOG.md
  bitnami/spring-cloud-dataflow/Chart.lock
  bitnami/spring-cloud-dataflow/Chart.yaml
  bitnami/spring-cloud-dataflow/README.md
Labels: verify, bitnami, spring-cloud-dataflow

#27947 [bitnami/apisix] wait container: support self-generated certificates at etcd
  bitnami/apisix/CHANGELOG.md
  bitnami/apisix/Chart.yaml
  bitnami/apisix/templates/_helpers.tpl
Labels: verify, in-progress, apisix

#24863 [bitnami/common] [bitnami/wordpress] Use global.storageClass for fallback, not override
  bitnami/common/CHANGELOG.md
  bitnami/common/Chart.yaml
  bitnami/common/templates/_storage.tpl
Labels: verify, in-progress, common

#27985 [bitnami/apisix] Correct type at loadBalancerSourceRanges
  bitnami/apisix/CHANGELOG.md
  bitnami/apisix/Chart.yaml
  bitnami/apisix/templates/control-plane/service.yaml
  bitnami/apisix/templates/dashboard/service.yaml
  bitnami/apisix/templates/data-plane/service.yaml
  bitnami/apisix/templates/ingress-controller/service.yaml
Labels: verify, in-progress, apisix

#28002 [bitnami/cassandra] Global StorageClass as default value
  bitnami/cassandra/CHANGELOG.md
  bitnami/cassandra/Chart.lock
  bitnami/cassandra/Chart.yaml
  bitnami/cassandra/README.md
  bitnami/cassandra/values.yaml
Labels: verify, bitnami, cassandra

#28018 [bitnami/flink] Global StorageClass as default value
  bitnami/flink/CHANGELOG.md
  bitnami/flink/Chart.lock
  bitnami/flink/Chart.yaml
  bitnami/flink/README.md
  bitnami/flink/values.yaml
Labels: verify, bitnami, flink

#28108 [bitnami/whereabouts] Global StorageClass as default value
  bitnami/whereabouts/CHANGELOG.md
  bitnami/whereabouts/Chart.lock
  bitnami/whereabouts/Chart.yaml
  bitnami/whereabouts/README.md
  bitnami/whereabouts/values.yaml
Labels: verify, bitnami, whereabouts

#28104 [bitnami/tomcat] Global StorageClass as default value
  bitnami/tomcat/CHANGELOG.md
  bitnami/tomcat/Chart.lock
  bitnami/tomcat/Chart.yaml
  bitnami/tomcat/README.md
  bitnami/tomcat/values.yaml
Labels: verify, bitnami, tomcat

#28093 [bitnami/scylladb] Global StorageClass as default value
  bitnami/scylladb/CHANGELOG.md
  bitnami/scylladb/Chart.lock
  bitnami/scylladb/Chart.yaml
  bitnami/scylladb/README.md
  bitnami/scylladb/values.yaml
Labels: verify, bitnami, scylladb

#28097 [bitnami/sonarqube] Global StorageClass as default value
  bitnami/sonarqube/CHANGELOG.md
  bitnami/sonarqube/Chart.lock
  bitnami/sonarqube/Chart.yaml
  bitnami/sonarqube/README.md
  bitnami/sonarqube/values.yaml
Labels: verify, bitnami, sonarqube

#28101 [bitnami/supabase] Global StorageClass as default value
  bitnami/supabase/CHANGELOG.md
  bitnami/supabase/Chart.lock
  bitnami/supabase/Chart.yaml
  bitnami/supabase/README.md
  bitnami/supabase/values.yaml
Labels: verify, bitnami, supabase

#28079 [bitnami/phpbb] Global StorageClass as default value
  bitnami/phpbb/CHANGELOG.md
  bitnami/phpbb/Chart.lock
  bitnami/phpbb/Chart.yaml
  bitnami/phpbb/README.md
  bitnami/phpbb/values.yaml
Labels: verify, bitnami, phpbb

#28049 [bitnami/magento] Global StorageClass as default value
  bitnami/magento/CHANGELOG.md
  bitnami/magento/Chart.lock
  bitnami/magento/Chart.yaml
  bitnami/magento/README.md
  bitnami/magento/values.yaml
Labels: verify, magento, bitnami

#28076 [bitnami/opensearch] Global StorageClass as default value
  bitnami/opensearch/CHANGELOG.md
  bitnami/opensearch/Chart.lock
  bitnami/opensearch/Chart.yaml
  bitnami/opensearch/README.md
  bitnami/opensearch/values.yaml
Labels: verify, bitnami, opensearch

#28048 [bitnami/logstash] Global StorageClass as default value
  bitnami/logstash/CHANGELOG.md
  bitnami/logstash/Chart.lock
  bitnami/logstash/Chart.yaml
  bitnami/logstash/README.md
  bitnami/logstash/values.yaml
Labels: verify, bitnami, logstash

#28105 [bitnami/valkey] Global StorageClass as default value
  bitnami/valkey/CHANGELOG.md
  bitnami/valkey/Chart.lock
  bitnami/valkey/Chart.yaml
  bitnami/valkey/README.md
  bitnami/valkey/values.yaml
Labels: verify, bitnami, valkey

#28020 [bitnami/fluentd] Global StorageClass as default value
  bitnami/fluentd/CHANGELOG.md
  bitnami/fluentd/Chart.lock
  bitnami/fluentd/Chart.yaml
  bitnami/fluentd/README.md
  bitnami/fluentd/values.yaml
Labels: verify, bitnami, fluentd

#28019 [bitnami/fluent-bit] Global StorageClass as default value
  bitnami/fluent-bit/CHANGELOG.md
  bitnami/fluent-bit/Chart.lock
  bitnami/fluent-bit/Chart.yaml
  bitnami/fluent-bit/README.md
  bitnami/fluent-bit/values.yaml
Labels: verify, bitnami, fluent-bit

#28016 [bitnami/etcd] Global StorageClass as default value
  bitnami/etcd/CHANGELOG.md
  bitnami/etcd/Chart.lock
  bitnami/etcd/Chart.yaml
  bitnami/etcd/README.md
  bitnami/etcd/values.yaml
Labels: verify, bitnami, etcd

#28086 [bitnami/pytorch] Global StorageClass as default value
  bitnami/pytorch/CHANGELOG.md
  bitnami/pytorch/Chart.lock
  bitnami/pytorch/Chart.yaml
  bitnami/pytorch/README.md
  bitnami/pytorch/values.yaml
Labels: verify, bitnami, pytorch

#28013 [bitnami/drupal] Global StorageClass as default value
  bitnami/drupal/CHANGELOG.md
  bitnami/drupal/Chart.lock
  bitnami/drupal/Chart.yaml
  bitnami/drupal/README.md
  bitnami/drupal/values.yaml
Labels: verify, bitnami, drupal

#28011 [bitnami/dokuwiki] Global StorageClass as default value
  bitnami/dokuwiki/CHANGELOG.md
  bitnami/dokuwiki/Chart.lock
  bitnami/dokuwiki/Chart.yaml
  bitnami/dokuwiki/README.md
  bitnami/dokuwiki/values.yaml
Labels: verify, bitnami, dokuwiki

#28010 [bitnami/discourse] Global StorageClass as default value
  bitnami/discourse/CHANGELOG.md
  bitnami/discourse/Chart.lock
  bitnami/discourse/Chart.yaml
  bitnami/discourse/README.md
  bitnami/discourse/values.yaml
Labels: verify, bitnami, discourse

#28007 [bitnami/consul] Global StorageClass as default value
  bitnami/consul/CHANGELOG.md
  bitnami/consul/Chart.lock
  bitnami/consul/Chart.yaml
  bitnami/consul/README.md
  bitnami/consul/values.yaml
Labels: verify, bitnami, consul

#28006 [bitnami/concourse] Global StorageClass as default value
  bitnami/concourse/CHANGELOG.md
  bitnami/concourse/Chart.lock
  bitnami/concourse/Chart.yaml
  bitnami/concourse/README.md
  bitnami/concourse/values.yaml
Labels: verify, bitnami, concourse

#28005 [bitnami/clickhouse] Global StorageClass as default value
  bitnami/clickhouse/CHANGELOG.md
  bitnami/clickhouse/Chart.lock
  bitnami/clickhouse/Chart.yaml
  bitnami/clickhouse/README.md
  bitnami/clickhouse/values.yaml
Labels: verify, bitnami, clickhouse

#27995 [bitnami/airflow] Global StorageClass as default value
  bitnami/airflow/CHANGELOG.md
  bitnami/airflow/Chart.lock
  bitnami/airflow/Chart.yaml
  bitnami/airflow/README.md
  bitnami/airflow/values.yaml
Labels: verify, airflow, bitnami

#28115 [bitnami/matomo] Fix wrong initContainers[0].imagePullSecrets value
  bitnami/matomo/CHANGELOG.md
  bitnami/matomo/Chart.lock
  bitnami/matomo/Chart.yaml
  bitnami/matomo/templates/_helpers.tpl
  bitnami/matomo/templates/cronjob.yaml
  bitnami/matomo/templates/deployment.yaml
Labels: verify, bitnami, matomo

#27998 [bitnami/appsmith] Global StorageClass as default value
  bitnami/appsmith/CHANGELOG.md
  bitnami/appsmith/Chart.lock
  bitnami/appsmith/Chart.yaml
  bitnami/appsmith/README.md
  bitnami/appsmith/values.yaml
Labels: verify, bitnami, appsmith

#28083 [bitnami/postgresql-ha] Global StorageClass as default value
  bitnami/postgresql-ha/CHANGELOG.md
  bitnami/postgresql-ha/Chart.lock
  bitnami/postgresql-ha/Chart.yaml
  bitnami/postgresql-ha/README.md
  bitnami/postgresql-ha/values.yaml
Labels: verify, bitnami, postgresql-ha

#28054 [bitnami/mediawiki] Global StorageClass as default value
  bitnami/mediawiki/CHANGELOG.md
  bitnami/mediawiki/Chart.lock
  bitnami/mediawiki/Chart.yaml
  bitnami/mediawiki/README.md
  bitnami/mediawiki/values.yaml
Labels: verify, bitnami, mediawiki

#27997 [bitnami/apisix] Global StorageClass as default value
  bitnami/apisix/CHANGELOG.md
  bitnami/apisix/Chart.lock
  bitnami/apisix/Chart.yaml
  bitnami/apisix/README.md
  bitnami/apisix/values.yaml
Labels: verify, bitnami, apisix

#28024 [bitnami/grafana] Global StorageClass as default value
  bitnami/grafana/CHANGELOG.md
  bitnami/grafana/Chart.lock
  bitnami/grafana/Chart.yaml
  bitnami/grafana/README.md
  bitnami/grafana/values.yaml
Labels: verify, bitnami, grafana

#28029 [bitnami/haproxy] Global StorageClass as default value
  bitnami/haproxy/CHANGELOG.md
  bitnami/haproxy/Chart.lock
  bitnami/haproxy/Chart.yaml
  bitnami/haproxy/README.md
  bitnami/haproxy/values.yaml
Labels: verify, bitnami, haproxy

#28041 [bitnami/kibana] Global StorageClass as default value
  bitnami/kibana/CHANGELOG.md
  bitnami/kibana/Chart.lock
  bitnami/kibana/Chart.yaml
  bitnami/kibana/README.md
  bitnami/kibana/values.yaml
Labels: verify, bitnami, kibana

#28043 [bitnami/kube-prometheus] Global StorageClass as default value
  bitnami/kube-prometheus/CHANGELOG.md
  bitnami/kube-prometheus/Chart.lock
  bitnami/kube-prometheus/Chart.yaml
  bitnami/kube-prometheus/README.md
  bitnami/kube-prometheus/values.yaml
Labels: verify, bitnami, kube-prometheus

#28046 [bitnami/kuberay] Global StorageClass as default value
  bitnami/kuberay/CHANGELOG.md
  bitnami/kuberay/Chart.lock
  bitnami/kuberay/Chart.yaml
  bitnami/kuberay/README.md
  bitnami/kuberay/values.yaml
Labels: verify, bitnami, kuberay

#28056 [bitnami/metallb] Global StorageClass as default value
  bitnami/metallb/CHANGELOG.md
  bitnami/metallb/Chart.lock
  bitnami/metallb/Chart.yaml
Labels: verify, bitnami, metallb

#28062 [bitnami/mongodb-sharded] Global StorageClass as default value
  bitnami/mongodb-sharded/CHANGELOG.md
  bitnami/mongodb-sharded/Chart.lock
  bitnami/mongodb-sharded/Chart.yaml
  bitnami/mongodb-sharded/README.md
  bitnami/mongodb-sharded/values.yaml
Labels: verify, bitnami, mongodb-sharded

#28070 [bitnami/nginx] Global StorageClass as default value
  bitnami/nginx/CHANGELOG.md
  bitnami/nginx/Chart.lock
  bitnami/nginx/Chart.yaml
Labels: verify, nginx, bitnami

#28080 [bitnami/phpmyadmin] Global StorageClass as default value
  bitnami/phpmyadmin/CHANGELOG.md
  bitnami/phpmyadmin/Chart.lock
  bitnami/phpmyadmin/Chart.yaml
  bitnami/phpmyadmin/README.md
  bitnami/phpmyadmin/values.yaml
Labels: verify, bitnami, phpmyadmin

#28082 [bitnami/postgresql] Global StorageClass as default value
  bitnami/postgresql/CHANGELOG.md
  bitnami/postgresql/Chart.lock
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/README.md
  bitnami/postgresql/values.yaml
Labels: verify, postgresql, bitnami

#28084 [bitnami/prestashop] Global StorageClass as default value
  bitnami/prestashop/CHANGELOG.md
  bitnami/prestashop/Chart.lock
  bitnami/prestashop/Chart.yaml
  bitnami/prestashop/README.md
  bitnami/prestashop/values.yaml
Labels: verify, prestashop, bitnami

#28090 [bitnami/redis-cluster] Global StorageClass as default value
  bitnami/redis-cluster/CHANGELOG.md
  bitnami/redis-cluster/Chart.lock
  bitnami/redis-cluster/Chart.yaml
  bitnami/redis-cluster/README.md
  bitnami/redis-cluster/values.yaml
Labels: verify, bitnami, redis-cluster

#28092 [bitnami/schema-registry] Global StorageClass as default value
  bitnami/schema-registry/CHANGELOG.md
  bitnami/schema-registry/Chart.lock
  bitnami/schema-registry/Chart.yaml
  bitnami/schema-registry/README.md
  bitnami/schema-registry/values.yaml
Labels: verify, bitnami, schema-registry

#27979 [github-actions] CD pipeline: Use OCI url in index.yaml
  .github/workflows/cd-pipeline.yml
Labels: verify, bitnami

#28111 [bitnami/zookeeper] Global StorageClass as default value
  bitnami/zookeeper/CHANGELOG.md
  bitnami/zookeeper/Chart.lock
  bitnami/zookeeper/Chart.yaml
  bitnami/zookeeper/README.md
  bitnami/zookeeper/values.yaml
Labels: verify, bitnami, zookeeper

#28117 [github-actions] Fix CD pipeline typo
  .github/workflows/cd-pipeline.yml
Labels: verify, bitnami

#28068 [bitnami/neo4j] Global StorageClass as default value
  bitnami/neo4j/CHANGELOG.md
  bitnami/neo4j/Chart.lock
  bitnami/neo4j/Chart.yaml
  bitnami/neo4j/README.md
  bitnami/neo4j/values.yaml
Labels: verify, bitnami

#27977 [bitnami/harbor] Dont set redis DB if Sentinel is enabled
  bitnami/harbor/CHANGELOG.md
  bitnami/harbor/Chart.yaml
  bitnami/harbor/templates/registry/registry-cm.yaml
Labels: verify, in-progress, harbor

#28089 [bitnami/redis] Global StorageClass as default value
  bitnami/redis/CHANGELOG.md
  bitnami/redis/Chart.lock
  bitnami/redis/Chart.yaml
  bitnami/redis/README.md
  bitnami/redis/values.yaml
Labels: verify, bitnami, redis

#28081 [bitnami/pinniped] Global StorageClass as default value
  bitnami/pinniped/CHANGELOG.md
  bitnami/pinniped/Chart.lock
  bitnami/pinniped/Chart.yaml
  bitnami/pinniped/README.md
  bitnami/pinniped/values.yaml
Labels: verify, pinniped, bitnami

#28122 [github-actions] Reverts OCI index
  .github/workflows/cd-pipeline.yml
Labels: verify, bitnami

#28109 [bitnami/wildfly] Global StorageClass as default value
  bitnami/wildfly/CHANGELOG.md
  bitnami/wildfly/Chart.lock
  bitnami/wildfly/Chart.yaml
  bitnami/wildfly/README.md
  bitnami/wildfly/values.yaml
Labels: verify, bitnami, wildfly

#28120 [bitnami/jupyterhub] Fix for jupyterhub.storage.class helper
  bitnami/jupyterhub/CHANGELOG.md
  bitnami/jupyterhub/Chart.yaml
  bitnami/jupyterhub/templates/_helpers.tpl
Labels: verify, bitnami, jupyterhub

#28119 [bitnami/cassandra] Fix for cassandra.commitstorage.class helper
  bitnami/cassandra/CHANGELOG.md
  bitnami/cassandra/Chart.yaml
  bitnami/cassandra/templates/_helpers.tpl
Labels: verify, bitnami, cassandra

#28055 [bitnami/memcached] Global StorageClass as default value
  bitnami/memcached/CHANGELOG.md
  bitnami/memcached/Chart.lock
  bitnami/memcached/Chart.yaml
  bitnami/memcached/README.md
  bitnami/memcached/values.yaml
Labels: verify, bitnami, memcached

#28118 [bitnami/minio] Fix provisioning in non-tty environment
  bitnami/minio/CHANGELOG.md
  bitnami/minio/Chart.yaml
  bitnami/minio/templates/provisioning-job.yaml
Labels: triage, minio

#27990 [bitnami/rabbitmq] make queue_master_locator configurable
  bitnami/rabbitmq/CHANGELOG.md
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/README.md
  bitnami/rabbitmq/values.yaml
Labels: verify, in-progress, rabbitmq

#28131 [bitnami/mlflow] Update deps
  bitnami/mlflow/CHANGELOG.md
  bitnami/mlflow/Chart.lock
  bitnami/mlflow/Chart.yaml
Labels: verify, bitnami, mlflow

#27830 [bitnami/grafana-tempo] Change OTLP HTTP port 55681 to 4318
  bitnami/grafana-tempo/CHANGELOG.md
  bitnami/grafana-tempo/Chart.yaml
  bitnami/grafana-tempo/templates/compactor/networkpolicy.yaml
  bitnami/grafana-tempo/templates/distributor/deployment.yaml
  bitnami/grafana-tempo/templates/distributor/networkpolicy.yaml
  bitnami/grafana-tempo/templates/distributor/service.yaml
  bitnami/grafana-tempo/templates/ingester/networkpolicy.yaml
  bitnami/grafana-tempo/templates/metrics-generator/networkpolicy.yaml
  bitnami/grafana-tempo/templates/querier/networkpolicy.yaml
  bitnami/grafana-tempo/templates/query-frontend/networkpolicy.yaml
  bitnami/grafana-tempo/templates/vulture/networkpolicy.yaml
  bitnami/grafana-tempo/values.yaml
Labels: verify, in-progress, grafana-tempo

#27890 [bitnami/keycloak] Add support for proxy-headers
  bitnami/keycloak/CHANGELOG.md
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/README.md
  bitnami/keycloak/templates/_helpers.tpl
  bitnami/keycloak/templates/configmap-env-vars.yaml
  bitnami/keycloak/templates/statefulset.yaml
  bitnami/keycloak/values.yaml
Labels: verify, in-progress, keycloak

#26462 [bitnami/mlflow] fix issue 26397 - allow MLFLOW_S3_ENDPOINT without minio
  bitnami/mlflow/CHANGELOG.md
  bitnami/mlflow/Chart.yaml
  bitnami/mlflow/README.md
  bitnami/mlflow/templates/tracking/deployment.yaml
  bitnami/mlflow/values.yaml
Labels: verify, in-progress, mlflow

#28139 [bitnami/cilium] Fix TLS cert for Hubble Relay
  bitnami/cilium/CHANGELOG.md
  bitnami/cilium/Chart.yaml
  bitnami/cilium/templates/hubble-ui/deployment.yaml
  bitnami/cilium/templates/tls-secret.yaml
Labels: verify, bitnami, cilium

#28106 [bitnami/valkey-cluster] Global StorageClass as default value
  bitnami/valkey-cluster/CHANGELOG.md
  bitnami/valkey-cluster/Chart.lock
  bitnami/valkey-cluster/Chart.yaml
  bitnami/valkey-cluster/README.md
  bitnami/valkey-cluster/values.yaml
Labels: verify, bitnami, valkey-cluster

#28103 [bitnami/thanos] Global StorageClass as default value
  bitnami/thanos/CHANGELOG.md
  bitnami/thanos/Chart.lock
  bitnami/thanos/Chart.yaml
  bitnami/thanos/README.md
  bitnami/thanos/values.yaml
Labels: verify, bitnami, thanos

#28096 [bitnami/solr] Global StorageClass as default value
  bitnami/solr/CHANGELOG.md
  bitnami/solr/Chart.lock
  bitnami/solr/Chart.yaml
  bitnami/solr/README.md
  bitnami/solr/values.yaml
Labels: verify, bitnami, solr

#28095 [bitnami/seaweedfs] Global StorageClass as default value
  bitnami/seaweedfs/CHANGELOG.md
  bitnami/seaweedfs/Chart.lock
  bitnami/seaweedfs/Chart.yaml
  bitnami/seaweedfs/README.md
  bitnami/seaweedfs/values.yaml
Labels: verify, bitnami, seaweedfs

#28091 [bitnami/redmine] Global StorageClass as default value
  bitnami/redmine/CHANGELOG.md
  bitnami/redmine/Chart.lock
  bitnami/redmine/Chart.yaml
  bitnami/redmine/README.md
  bitnami/redmine/values.yaml
Labels: verify, bitnami, redmine

#28085 [bitnami/prometheus] Global StorageClass as default value
  bitnami/prometheus/CHANGELOG.md
  bitnami/prometheus/Chart.lock
  bitnami/prometheus/Chart.yaml
  bitnami/prometheus/README.md
  bitnami/prometheus/values.yaml
Labels: verify, bitnami, prometheus

#28073 [bitnami/oauth2-proxy] Global StorageClass as default value
  bitnami/oauth2-proxy/CHANGELOG.md
  bitnami/oauth2-proxy/Chart.lock
  bitnami/oauth2-proxy/Chart.yaml
  bitnami/oauth2-proxy/README.md
  bitnami/oauth2-proxy/values.yaml
Labels: verify, bitnami, oauth2-proxy

#28069 [bitnami/nessie] Global StorageClass as default value
  bitnami/nessie/CHANGELOG.md
  bitnami/nessie/Chart.lock
  bitnami/nessie/Chart.yaml
  bitnami/nessie/README.md
  bitnami/nessie/values.yaml
Labels: verify, bitnami, nessie

#28061 [bitnami/mongodb] Global StorageClass as default value
  bitnami/mongodb/CHANGELOG.md
  bitnami/mongodb/Chart.lock
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/README.md
  bitnami/mongodb/values.yaml
Labels: verify, bitnami, mongodb

#28050 [bitnami/mariadb] Global StorageClass as default value
  bitnami/mariadb/CHANGELOG.md
  bitnami/mariadb/Chart.lock
  bitnami/mariadb/Chart.yaml
  bitnami/mariadb/README.md
  bitnami/mariadb/values.yaml
Labels: verify, mariadb, bitnami

#28039 [bitnami/keycloak] Global StorageClass as default value
  bitnami/keycloak/CHANGELOG.md
  bitnami/keycloak/Chart.lock
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/README.md
  bitnami/keycloak/values.yaml
Labels: verify, keycloak, bitnami

#27982 [bitnami/discourse] fix: :bug: Remove incorrect CHMOD capability
  bitnami/discourse/CHANGELOG.md
  bitnami/discourse/Chart.yaml
  bitnami/discourse/README.md
  bitnami/discourse/values.yaml
Labels: verify, in-progress, discourse

#28036 [bitnami/joomla] Global StorageClass as default value
  bitnami/joomla/CHANGELOG.md
  bitnami/joomla/Chart.lock
  bitnami/joomla/Chart.yaml
  bitnami/joomla/README.md
  bitnami/joomla/values.yaml
Labels: verify, bitnami, joomla

#28038 [bitnami/kafka] Global StorageClass as default value
  bitnami/kafka/CHANGELOG.md
  bitnami/kafka/Chart.lock
  bitnami/kafka/Chart.yaml
  bitnami/kafka/README.md
  bitnami/kafka/values.yaml
Labels: verify, kafka, bitnami

#28033 [bitnami/janusgraph] Global StorageClass as default value
  bitnami/janusgraph/CHANGELOG.md
  bitnami/janusgraph/Chart.lock
  bitnami/janusgraph/Chart.yaml
  bitnami/janusgraph/README.md
  bitnami/janusgraph/values.yaml
Labels: verify, bitnami, janusgraph

#28025 [bitnami/grafana-loki] Global StorageClass as default value
  bitnami/grafana-loki/CHANGELOG.md
  bitnami/grafana-loki/Chart.lock
  bitnami/grafana-loki/Chart.yaml
  bitnami/grafana-loki/README.md
  bitnami/grafana-loki/values.yaml
Labels: verify, bitnami, grafana-loki

#28023 [bitnami/gitea] Global StorageClass as default value
  bitnami/gitea/CHANGELOG.md
  bitnami/gitea/Chart.lock
  bitnami/gitea/Chart.yaml
  bitnami/gitea/README.md
  bitnami/gitea/values.yaml
Labels: verify, bitnami, gitea

#28015 [bitnami/elasticsearch] Global StorageClass as default value
  bitnami/elasticsearch/CHANGELOG.md
  bitnami/elasticsearch/Chart.lock
  bitnami/elasticsearch/Chart.yaml
  bitnami/elasticsearch/README.md
  bitnami/elasticsearch/values.yaml
Labels: verify, bitnami, elasticsearch

#28014 [bitnami/ejbca] Global StorageClass as default value
  bitnami/ejbca/CHANGELOG.md
  bitnami/ejbca/Chart.lock
  bitnami/ejbca/Chart.yaml
  bitnami/ejbca/README.md
  bitnami/ejbca/values.yaml
Labels: verify, bitnami, ejbca

#28009 [bitnami/deepspeed] Global StorageClass as default value
  bitnami/deepspeed/CHANGELOG.md
  bitnami/deepspeed/Chart.lock
  bitnami/deepspeed/Chart.yaml
  bitnami/deepspeed/README.md
  bitnami/deepspeed/values.yaml
Labels: verify, bitnami, deepspeed

#28110 [bitnami/wordpress] Global StorageClass as default value
  bitnami/wordpress/CHANGELOG.md
  bitnami/wordpress/Chart.yaml
  bitnami/wordpress/README.md
  bitnami/wordpress/values.yaml
Labels: verify, bitnami, wordpress

#28000 [bitnami/argo-workflows] Global StorageClass as default value
  bitnami/argo-workflows/CHANGELOG.md
  bitnami/argo-workflows/Chart.lock
  bitnami/argo-workflows/Chart.yaml
  bitnami/argo-workflows/README.md
  bitnami/argo-workflows/values.yaml
Labels: verify, argo-workflows, bitnami

#27999 [bitnami/argo-cd] Global StorageClass as default value
  bitnami/argo-cd/CHANGELOG.md
  bitnami/argo-cd/Chart.lock
  bitnami/argo-cd/Chart.yaml
  bitnami/argo-cd/README.md
  bitnami/argo-cd/values.yaml
Labels: verify, bitnami, argo-cd

#28004 [bitnami/cilium] Global StorageClass as default value
  bitnami/cilium/CHANGELOG.md
  bitnami/cilium/Chart.lock
  bitnami/cilium/Chart.yaml
  bitnami/cilium/README.md
  bitnami/cilium/values.yaml
Labels: verify, bitnami, cilium
