Repository bitnami/charts, pull requests merged in 2024-03, with the labels that each got.

#23961 [bitnami/jenkins] fix: :bug: Allow empty resources in jenkins agent
  bitnami/jenkins/Chart.yaml
  bitnami/jenkins/templates/_helpers.tpl
  bitnami/jenkins/templates/casc-cm.yaml
Labels: verify, jenkins, bitnami

#23999 [bitnami/nats] Improve Ginkgo tests to make tests more stable
  .vib/nats/ginkgo/nats_test.go
Labels: verify, bitnami

#24007 [bitnami/ejbca] Update dependencies
  bitnami/ejbca/Chart.lock
  bitnami/ejbca/Chart.yaml
  bitnami/ejbca/README.md
Labels: verify, bitnami, ejbca

#23996 [bitnami/vault] feat: :sparkles: :lock: Add runAsGroup
  bitnami/vault/Chart.yaml
  bitnami/vault/README.md
  bitnami/vault/values.yaml
Labels: verify, bitnami, vault

#23995 [bitnami/thanos] feat: :sparkles: :lock: Add runAsGroup
  bitnami/thanos/Chart.yaml
  bitnami/thanos/README.md
  bitnami/thanos/values.yaml
Labels: verify, bitnami, thanos

#23985 [bitnami/grafana] feat: :sparkles: :lock: Add readOnlyRootFilesystem support
  bitnami/grafana/Chart.yaml
  bitnami/grafana/README.md
  bitnami/grafana/templates/deployment.yaml
  bitnami/grafana/values.yaml
Labels: verify, bitnami, grafana

#24027 [bitnami/keycloak] Update bundled PostgreSQL
  bitnami/keycloak/Chart.lock
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/README.md
Labels: verify, keycloak, bitnami

#24028 [bitnami/harbor] Update bundled PostgreSQL
  bitnami/harbor/Chart.lock
  bitnami/harbor/Chart.yaml
  bitnami/harbor/README.md
Labels: verify, bitnami, harbor

#24029 [bitnami/redmine] Update bundled PostgreSQL and MariaDB
  bitnami/redmine/Chart.lock
  bitnami/redmine/Chart.yaml
  bitnami/redmine/README.md
Labels: verify, bitnami, redmine

#24030 [bitnami/wordpress] Update bundled MariaDB
  bitnami/wordpress/Chart.lock
  bitnami/wordpress/Chart.yaml
  bitnami/wordpress/README.md
Labels: verify, bitnami, wordpress

#24031 [bitnami/milvus] Update bundled MinIO
  bitnami/milvus/Chart.lock
  bitnami/milvus/Chart.yaml
  bitnami/milvus/README.md
Labels: verify, bitnami, milvus

#24033 [bitnami/argo-workflows] Adds a delay before starting the test
  .vib/argo-workflows/cypress/cypress/e2e/argo_workflows.cy.js
Labels: verify, argo-workflows, bitnami

#23972 [bitnami/redis] Fix ordering of annotations
  bitnami/redis/Chart.yaml
  bitnami/redis/templates/headless-svc.yaml
Labels: verify, in-progress, redis

#24034 [bitnami/airflow] Update bundled PostgreSQL
  bitnami/airflow/Chart.lock
  bitnami/airflow/Chart.yaml
  bitnami/airflow/README.md
Labels: verify, airflow, bitnami

#23993 [bitnami/spark] feat: :sparkles: :lock: Add readOnlyRootFilesystem support
  bitnami/spark/Chart.yaml
  bitnami/spark/README.md
  bitnami/spark/templates/statefulset-master.yaml
  bitnami/spark/templates/statefulset-worker.yaml
  bitnami/spark/values.yaml
Labels: verify, bitnami, spark

#23987 [bitnami/rabbitmq-cluster-operator] fix: correct network policy port for metrics
  bitnami/rabbitmq-cluster-operator/Chart.yaml
  bitnami/rabbitmq-cluster-operator/templates/cluster-operator/networkpolicy.yaml
  bitnami/rabbitmq-cluster-operator/templates/messaging-topology-operator/networkpolicy.yaml
Labels: verify, in-progress, rabbitmq-cluster-operator

#23986 [bitnami/fluent-bit] feat: add missing parser files definitions
  bitnami/fluent-bit/Chart.yaml
  bitnami/fluent-bit/values.yaml
Labels: verify, in-progress, fluent-bit

#24043 [bitnami/jupyterhub] Update bundled PostgreSQL
  bitnami/jupyterhub/Chart.lock
  bitnami/jupyterhub/Chart.yaml
  bitnami/jupyterhub/README.md
Labels: verify, bitnami, jupyterhub

#24044 [bitnami/argcd-workflow] Bumps cypress start delay
  .vib/argo-workflows/cypress/cypress/e2e/argo_workflows.cy.js
Labels: verify, bitnami

#24040 [bitnami/common] feat: :sparkles: :lock: Add compatibility support for securityContext in Openshift restricted-v1 SCC
  bitnami/common/Chart.yaml
  bitnami/common/templates/_compatibility.tpl
Labels: verify, bitnami, common

#24025 [bitnami/fluentd]Update NetworkPolicy for aggregator to include the aggregator port
  bitnami/fluentd/Chart.yaml
  bitnami/fluentd/templates/aggregator-networkpolicy.yaml
Labels: verify, in-progress, fluentd

#23909 [bitnami/opensearch] Fix values for OPENSEARCH_NODE_ROLES
  bitnami/opensearch/Chart.yaml
  bitnami/opensearch/templates/coordinating/statefulset.yaml
  bitnami/opensearch/templates/data/statefulset.yaml
  bitnami/opensearch/templates/ingest/statefulset.yaml
  bitnami/opensearch/templates/master/statefulset.yaml
Labels: verify, bitnami, opensearch

#24056 [bitnami/contour] fix: :bug: Add missing if/end statement to resources section
  bitnami/contour/Chart.yaml
  bitnami/contour/templates/envoy/daemonset.yaml
  bitnami/contour/templates/envoy/deployment.yaml
Labels: verify, contour, bitnami

#24059 [bitnami/apache] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/apache/Chart.lock
  bitnami/apache/Chart.yaml
  bitnami/apache/README.md
  bitnami/apache/templates/deployment.yaml
  bitnami/apache/values.yaml
Labels: verify, apache, bitnami

#23904 [bitnami/flink] Taskmanager to use a statefulset
  bitnami/flink/Chart.yaml
  bitnami/flink/README.md
  bitnami/flink/templates/taskmanager/headless-service.yml
  bitnami/flink/templates/taskmanager/statefulset.yaml
  bitnami/flink/values.yaml
Labels: verify, bitnami, flink

#24103 [bitnami/elasticsearch] Bump chart version again
  bitnami/elasticsearch/Chart.yaml
Labels: verify, bitnami, elasticsearch

#23994 [bitnami/spring-cloud-dataflow] feat: :sparkles: :lock: Add readOnlyRootFilesystem support
  bitnami/spring-cloud-dataflow/Chart.yaml
  bitnami/spring-cloud-dataflow/README.md
  bitnami/spring-cloud-dataflow/templates/prometheus-proxy/deployment.yaml
  bitnami/spring-cloud-dataflow/templates/server/deployment.yaml
  bitnami/spring-cloud-dataflow/templates/skipper/deployment.yaml
  bitnami/spring-cloud-dataflow/values.yaml
Labels: verify, bitnami, spring-cloud-dataflow

#24055 [bitnami/grafana] fix: :bug: Change mount-point of providers to conf.default
  bitnami/grafana/Chart.yaml
  bitnami/grafana/templates/deployment.yaml
Labels: verify, bitnami, grafana

#24069 [bitnami/clickhouse] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/clickhouse/Chart.lock
  bitnami/clickhouse/Chart.yaml
  bitnami/clickhouse/README.md
  bitnami/clickhouse/templates/statefulset.yaml
  bitnami/clickhouse/values.yaml
Labels: verify, bitnami, clickhouse

#24149 [bitnami/redis] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/redis/Chart.lock
  bitnami/redis/Chart.yaml
  bitnami/redis/README.md
  bitnami/redis/templates/master/application.yaml
  bitnami/redis/templates/replicas/application.yaml
  bitnami/redis/templates/sentinel/statefulset.yaml
  bitnami/redis/values.yaml
Labels: verify, bitnami, redis

#24157 [bitnami/spring-cloud-dataflow] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/spring-cloud-dataflow/Chart.lock
  bitnami/spring-cloud-dataflow/Chart.yaml
  bitnami/spring-cloud-dataflow/README.md
  bitnami/spring-cloud-dataflow/templates/prometheus-proxy/deployment.yaml
  bitnami/spring-cloud-dataflow/templates/server/deployment.yaml
  bitnami/spring-cloud-dataflow/templates/skipper/deployment.yaml
  bitnami/spring-cloud-dataflow/values.yaml
Labels: verify, bitnami, spring-cloud-dataflow

#24156 [bitnami/spark] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/spark/Chart.lock
  bitnami/spark/Chart.yaml
  bitnami/spark/README.md
  bitnami/spark/templates/statefulset-master.yaml
  bitnami/spark/templates/statefulset-worker.yaml
  bitnami/spark/values.yaml
Labels: verify, bitnami, spark

#24118 [bitnami/memcached] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/memcached/Chart.lock
  bitnami/memcached/Chart.yaml
  bitnami/memcached/README.md
  bitnami/memcached/templates/deployment.yaml
  bitnami/memcached/templates/statefulset.yaml
  bitnami/memcached/values.yaml
Labels: verify, bitnami, memcached

#24101 [bitnami/keycloak] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/keycloak/Chart.lock
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/README.md
  bitnami/keycloak/templates/keycloak-config-cli-job.yaml
  bitnami/keycloak/templates/statefulset.yaml
  bitnami/keycloak/values.yaml
Labels: verify, keycloak, bitnami

#24084 [bitnami/flux] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/flux/Chart.lock
  bitnami/flux/Chart.yaml
  bitnami/flux/README.md
  bitnami/flux/templates/helm-controller/deployment.yaml
  bitnami/flux/templates/image-automation-controller/deployment.yaml
  bitnami/flux/templates/image-reflector-controller/deployment.yaml
  bitnami/flux/templates/kustomize-controller/deployment.yaml
  bitnami/flux/templates/notification-controller/deployment.yaml
  bitnami/flux/templates/source-controller/deployment.yaml
  bitnami/flux/values.yaml
Labels: verify, bitnami, flux

#24141 [bitnami/postgresql] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/postgresql/Chart.lock
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/README.md
  bitnami/postgresql/templates/backup/cronjob.yaml
  bitnami/postgresql/templates/primary/statefulset.yaml
  bitnami/postgresql/templates/read/statefulset.yaml
  bitnami/postgresql/values.yaml
Labels: verify, postgresql, bitnami

#24113 [bitnami/mariadb] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/mariadb/Chart.lock
  bitnami/mariadb/Chart.yaml
  bitnami/mariadb/README.md
  bitnami/mariadb/templates/primary/statefulset.yaml
  bitnami/mariadb/templates/secondary/statefulset.yaml
  bitnami/mariadb/values.yaml
Labels: verify, mariadb, bitnami

#24173 [bitnami/argo-worflows] Increase timeout to debug cypress test
  .vib/argo-workflows/cypress/cypress/e2e/argo_workflows.cy.js
Labels: verify, bitnami

#24176 [bitnami/argo-workflows] Restore delay to a normal value
  .vib/argo-workflows/cypress/cypress/e2e/argo_workflows.cy.js
Labels: verify, bitnami

#23843 [bitnami/tensorflow-resnet] feat: :sparkles: :lock: Add readOnlyRootFilesystem support
  bitnami/tensorflow-resnet/Chart.yaml
  bitnami/tensorflow-resnet/README.md
  bitnami/tensorflow-resnet/templates/deployment.yaml
  bitnami/tensorflow-resnet/values.yaml
Labels: verify, bitnami, tensorflow-resnet

#23990 [bitnami/prometheus] feat: :sparkles: :lock: Add readOnlyRootFilesystem support
  bitnami/prometheus/Chart.yaml
  bitnami/prometheus/README.md
  bitnami/prometheus/templates/alertmanager/statefulset.yaml
  bitnami/prometheus/templates/server/deployment.yaml
  bitnami/prometheus/values.yaml
Labels: verify, bitnami, prometheus

#23992 [bitnami/sealed-secrets] feat: :sparkles: :lock: Add runAsGroup
  bitnami/sealed-secrets/Chart.yaml
  bitnami/sealed-secrets/README.md
  bitnami/sealed-secrets/templates/deployment.yaml
  bitnami/sealed-secrets/values.yaml
Labels: verify, bitnami, sealed-secrets

#24178 [bitnami/argcd-workflow] Moves delay to the end
  .vib/argo-workflows/cypress/cypress/e2e/argo_workflows.cy.js
Labels: verify, bitnami

#24170 [bitnami/flux] feat: :sparkles: :lock: Add runAsGroup
  bitnami/flux/Chart.yaml
  bitnami/flux/README.md
  bitnami/flux/values.yaml
Labels: verify, bitnami, flux

#24168 [bitnami/zookeeper] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/zookeeper/Chart.lock
  bitnami/zookeeper/Chart.yaml
  bitnami/zookeeper/README.md
  bitnami/zookeeper/templates/statefulset.yaml
  bitnami/zookeeper/values.yaml
Labels: verify, bitnami, zookeeper

#24165 [bitnami/whereabouts] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/whereabouts/Chart.lock
  bitnami/whereabouts/Chart.yaml
  bitnami/whereabouts/README.md
  bitnami/whereabouts/templates/daemonset.yaml
  bitnami/whereabouts/values.yaml
Labels: verify, bitnami, whereabouts

#24163 [bitnami/vault] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/vault/Chart.lock
  bitnami/vault/Chart.yaml
  bitnami/vault/README.md
  bitnami/vault/templates/csi-provider/daemonset.yaml
  bitnami/vault/templates/injector/deployment.yaml
  bitnami/vault/templates/server/statefulset.yaml
  bitnami/vault/values.yaml
Labels: verify, bitnami, vault

#24158 [bitnami/supabase] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/supabase/Chart.lock
  bitnami/supabase/Chart.yaml
  bitnami/supabase/README.md
  bitnami/supabase/templates/_helpers.tpl
  bitnami/supabase/templates/auth/deployment.yaml
  bitnami/supabase/templates/jwt-init-job.yaml
  bitnami/supabase/templates/meta/deployment.yaml
  bitnami/supabase/templates/realtime/deployment.yaml
  bitnami/supabase/templates/rest/deployment.yaml
  bitnami/supabase/templates/storage/deployment.yaml
  bitnami/supabase/templates/studio/deployment.yaml
  bitnami/supabase/values.yaml
Labels: verify, bitnami, supabase

#24151 [bitnami/redmine] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/redmine/Chart.yaml
  bitnami/redmine/README.md
  bitnami/redmine/templates/cronjob.yaml
  bitnami/redmine/templates/deployment.yaml
  bitnami/redmine/values.yaml
Labels: verify, bitnami, redmine

#24145 [bitnami/pytorch] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/pytorch/Chart.lock
  bitnami/pytorch/Chart.yaml
  bitnami/pytorch/README.md
  bitnami/pytorch/templates/_helpers.tpl
  bitnami/pytorch/templates/deployment.yaml
  bitnami/pytorch/templates/statefulset.yaml
  bitnami/pytorch/values.yaml
Labels: verify, bitnami, pytorch

#24128 [bitnami/mysql] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/mysql/Chart.lock
  bitnami/mysql/Chart.yaml
  bitnami/mysql/README.md
  bitnami/mysql/templates/primary/statefulset.yaml
  bitnami/mysql/templates/secondary/statefulset.yaml
  bitnami/mysql/values.yaml
Labels: verify, bitnami, mysql

#24126 [bitnami/moodle] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/moodle/Chart.lock
  bitnami/moodle/Chart.yaml
  bitnami/moodle/README.md
  bitnami/moodle/templates/deployment.yaml
  bitnami/moodle/values.yaml
Labels: verify, moodle, bitnami

#24116 [bitnami/matomo] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/matomo/Chart.lock
  bitnami/matomo/Chart.yaml
  bitnami/matomo/README.md
  bitnami/matomo/templates/cronjob.yaml
  bitnami/matomo/templates/deployment.yaml
  bitnami/matomo/values.yaml
Labels: verify, bitnami, matomo

#24102 [bitnami/kiam] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/kiam/Chart.lock
  bitnami/kiam/Chart.yaml
  bitnami/kiam/README.md
  bitnami/kiam/templates/agent/agent-daemonset.yaml
  bitnami/kiam/templates/server/server-daemonset.yaml
  bitnami/kiam/templates/server/server-deployment.yaml
  bitnami/kiam/values.yaml
Labels: verify, bitnami, kiam

#24099 [bitnami/jupyterhub] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/jupyterhub/Chart.lock
  bitnami/jupyterhub/Chart.yaml
  bitnami/jupyterhub/README.md
  bitnami/jupyterhub/templates/hub/deployment.yaml
  bitnami/jupyterhub/templates/image-puller/daemonset.yaml
  bitnami/jupyterhub/templates/proxy/deployment.yaml
  bitnami/jupyterhub/values.yaml
Labels: verify, bitnami, jupyterhub

#24094 [bitnami/influxdb] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/influxdb/Chart.lock
  bitnami/influxdb/Chart.yaml
  bitnami/influxdb/README.md
  bitnami/influxdb/templates/cronjob-backup.yaml
  bitnami/influxdb/templates/deployment.yaml
  bitnami/influxdb/values.yaml
Labels: verify, bitnami, influxdb

#24091 [bitnami/grafana-tempo] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/grafana-tempo/Chart.lock
  bitnami/grafana-tempo/Chart.yaml
  bitnami/grafana-tempo/README.md
  bitnami/grafana-tempo/templates/compactor/deployment.yaml
  bitnami/grafana-tempo/templates/distributor/deployment.yaml
  bitnami/grafana-tempo/templates/ingester/statefulset.yaml
  bitnami/grafana-tempo/templates/metrics-generator/deployment.yaml
  bitnami/grafana-tempo/templates/querier/deployment.yaml
  bitnami/grafana-tempo/templates/query-frontend/deployment.yaml
  bitnami/grafana-tempo/templates/vulture/deployment.yaml
  bitnami/grafana-tempo/values.yaml
Labels: verify, bitnami, grafana-tempo

#24083 [bitnami/fluentd] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/fluentd/Chart.lock
  bitnami/fluentd/Chart.yaml
  bitnami/fluentd/README.md
  bitnami/fluentd/templates/aggregator-statefulset.yaml
  bitnami/fluentd/templates/forwarder-daemonset.yaml
  bitnami/fluentd/values.yaml
Labels: verify, bitnami, fluentd

#24080 [bitnami/external-dns] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/external-dns/Chart.lock
  bitnami/external-dns/Chart.yaml
  bitnami/external-dns/README.md
  bitnami/external-dns/templates/dep-ds.yaml
  bitnami/external-dns/values.yaml
Labels: verify, bitnami, external-dns

#24105 [bitnami/kong] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/kong/Chart.lock
  bitnami/kong/Chart.yaml
  bitnami/kong/README.md
  bitnami/kong/templates/dep-ds.yaml
  bitnami/kong/templates/migrate-job.yaml
  bitnami/kong/values.yaml
Labels: verify, bitnami, kong

#24067 [bitnami/cassandra] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/cassandra/Chart.lock
  bitnami/cassandra/Chart.yaml
  bitnami/cassandra/README.md
  bitnami/cassandra/templates/statefulset.yaml
  bitnami/cassandra/values.yaml
Labels: verify, bitnami, cassandra

#23887 [bitnami/postgresql-ha] feat: :sparkles: :lock: Add readOnlyRootFilesystem support
  bitnami/postgresql-ha/Chart.yaml
  bitnami/postgresql-ha/README.md
  bitnami/postgresql-ha/templates/backup/cronjob.yaml
  bitnami/postgresql-ha/templates/pgpool/deployment.yaml
  bitnami/postgresql-ha/templates/postgresql/statefulset.yaml
  bitnami/postgresql-ha/templates/postgresql/witness-statefulset.yaml
  bitnami/postgresql-ha/values.yaml
Labels: verify, bitnami, postgresql-ha

#23941 [bitnami/kibana] feat: :sparkles: :lock: Add readOnlyRootFilesystem support
  .vib/kibana/goss/goss.yaml
  bitnami/kibana/Chart.yaml
  bitnami/kibana/README.md
  bitnami/kibana/templates/deployment.yaml
  bitnami/kibana/values.yaml
Labels: verify, bitnami, kibana

#24154 [bitnami/solr] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/solr/Chart.lock
  bitnami/solr/Chart.yaml
  bitnami/solr/README.md
  bitnami/solr/templates/metrics-deployment.yaml
  bitnami/solr/templates/statefulset.yaml
  bitnami/solr/values.yaml
Labels: verify, bitnami, solr

#24132 [bitnami/node-exporter] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/node-exporter/Chart.lock
  bitnami/node-exporter/Chart.yaml
  bitnami/node-exporter/README.md
  bitnami/node-exporter/templates/daemonset.yaml
  bitnami/node-exporter/values.yaml
Labels: verify, bitnami, node-exporter

#24122 [bitnami/minio] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/minio/Chart.yaml
  bitnami/minio/README.md
  bitnami/minio/templates/distributed/statefulset.yaml
  bitnami/minio/templates/provisioning-job.yaml
  bitnami/minio/templates/standalone/deployment.yaml
  bitnami/minio/values.yaml
Labels: verify, bitnami, minio

#24062 [bitnami/appsmith] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/appsmith/Chart.lock
  bitnami/appsmith/Chart.yaml
  bitnami/appsmith/README.md
  bitnami/appsmith/templates/_helpers.tpl
  bitnami/appsmith/templates/backend/deployment.yaml
  bitnami/appsmith/templates/client/deployment.yaml
  bitnami/appsmith/templates/rts/deployment.yaml
  bitnami/appsmith/values.yaml
Labels: verify, bitnami, appsmith

#24075 [bitnami/dokuwiki] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/dokuwiki/Chart.lock
  bitnami/dokuwiki/Chart.yaml
  bitnami/dokuwiki/README.md
  bitnami/dokuwiki/templates/deployment.yaml
  bitnami/dokuwiki/values.yaml
Labels: verify, bitnami, dokuwiki

#24060 [bitnami/airflow] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/airflow/Chart.lock
  bitnami/airflow/Chart.yaml
  bitnami/airflow/README.md
  bitnami/airflow/templates/_git_helpers.tpl
  bitnami/airflow/templates/_helpers.tpl
  bitnami/airflow/templates/config/configmap.yaml
  bitnami/airflow/templates/metrics/deployment.yaml
  bitnami/airflow/templates/scheduler/deployment.yaml
  bitnami/airflow/templates/web/deployment.yaml
  bitnami/airflow/templates/worker/statefulset.yaml
  bitnami/airflow/values.yaml
Labels: verify, airflow, bitnami

#24064 [bitnami/argo-cd] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/argo-cd/Chart.lock
  bitnami/argo-cd/Chart.yaml
  bitnami/argo-cd/README.md
  bitnami/argo-cd/templates/application-controller/deployment.yaml
  bitnami/argo-cd/templates/applicationset/deployment.yaml
  bitnami/argo-cd/templates/dex/deployment.yaml
  bitnami/argo-cd/templates/notifications/bots/slack/deployment.yaml
  bitnami/argo-cd/templates/notifications/deployment.yaml
  bitnami/argo-cd/templates/repo-server/deployment.yaml
  bitnami/argo-cd/templates/server/deployment.yaml
  bitnami/argo-cd/values.yaml
Labels: verify, bitnami, argo-cd

#24065 [bitnami/argo-workflows] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/argo-workflows/Chart.lock
  bitnami/argo-workflows/Chart.yaml
  bitnami/argo-workflows/README.md
  bitnami/argo-workflows/templates/controller/deployment.yaml
  bitnami/argo-workflows/templates/server/deployment.yaml
  bitnami/argo-workflows/values.yaml
Labels: verify, argo-workflows, bitnami

#24068 [bitnami/cert-manager] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/cert-manager/Chart.lock
  bitnami/cert-manager/Chart.yaml
  bitnami/cert-manager/README.md
  bitnami/cert-manager/templates/cainjector/deployment.yaml
  bitnami/cert-manager/templates/controller/deployment.yaml
  bitnami/cert-manager/templates/webhook/deployment.yaml
  bitnami/cert-manager/values.yaml
Labels: verify, bitnami, cert-manager

#24070 [bitnami/concourse] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/concourse/Chart.lock
  bitnami/concourse/Chart.yaml
  bitnami/concourse/README.md
  bitnami/concourse/templates/web/deployment.yaml
  bitnami/concourse/templates/worker/deployment.yaml
  bitnami/concourse/templates/worker/statefulset.yaml
  bitnami/concourse/values.yaml
Labels: verify, bitnami, concourse

#24071 [bitnami/consul] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/consul/Chart.lock
  bitnami/consul/Chart.yaml
  bitnami/consul/README.md
  bitnami/consul/templates/statefulset.yaml
  bitnami/consul/values.yaml
Labels: verify, bitnami, consul

#24077 [bitnami/ejbca] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/ejbca/Chart.lock
  bitnami/ejbca/Chart.yaml
  bitnami/ejbca/README.md
  bitnami/ejbca/templates/deployment.yaml
  bitnami/ejbca/values.yaml
Labels: verify, bitnami, ejbca

#24082 [bitnami/fluent-bit] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/fluent-bit/Chart.lock
  bitnami/fluent-bit/Chart.yaml
  bitnami/fluent-bit/README.md
  bitnami/fluent-bit/templates/daemonset.yaml
  bitnami/fluent-bit/templates/deployment.yaml
  bitnami/fluent-bit/values.yaml
Labels: verify, bitnami, fluent-bit

#24085 [bitnami/ghost] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/ghost/Chart.lock
  bitnami/ghost/Chart.yaml
  bitnami/ghost/README.md
  bitnami/ghost/templates/deployment.yaml
  bitnami/ghost/values.yaml
Labels: verify, bitnami, ghost

#24092 [bitnami/haproxy] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/haproxy/Chart.lock
  bitnami/haproxy/Chart.yaml
  bitnami/haproxy/README.md
  bitnami/haproxy/templates/deployment.yaml
  bitnami/haproxy/values.yaml
Labels: verify, bitnami, haproxy

#24109 [bitnami/kuberay] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/kuberay/Chart.lock
  bitnami/kuberay/Chart.yaml
  bitnami/kuberay/README.md
  bitnami/kuberay/templates/apiserver/deployment.yaml
  bitnami/kuberay/templates/cluster/raycluster.yaml
  bitnami/kuberay/templates/operator/deployment.yaml
  bitnami/kuberay/values.yaml
Labels: verify, bitnami, kuberay

#24125 [bitnami/mongodb-sharded] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/mongodb-sharded/Chart.lock
  bitnami/mongodb-sharded/Chart.yaml
  bitnami/mongodb-sharded/README.md
  bitnami/mongodb-sharded/templates/config-server/config-server-statefulset.yaml
  bitnami/mongodb-sharded/templates/mongos/mongos-dep-sts.yaml
  bitnami/mongodb-sharded/templates/shard/shard-arbiter-statefulset.yaml
  bitnami/mongodb-sharded/templates/shard/shard-data-statefulset.yaml
  bitnami/mongodb-sharded/values.yaml
Labels: verify, bitnami, mongodb-sharded

#24127 [bitnami/multus-cni] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/multus-cni/Chart.lock
  bitnami/multus-cni/Chart.yaml
  bitnami/multus-cni/README.md
  bitnami/multus-cni/templates/daemonset.yaml
  bitnami/multus-cni/values.yaml
Labels: verify, bitnami, multus-cni

#24133 [bitnami/oauth2-proxy] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/oauth2-proxy/Chart.lock
  bitnami/oauth2-proxy/Chart.yaml
  bitnami/oauth2-proxy/README.md
  bitnami/oauth2-proxy/templates/deployment.yaml
  bitnami/oauth2-proxy/values.yaml
Labels: verify, bitnami, oauth2-proxy

#24134 [bitnami/odoo] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/odoo/Chart.yaml
  bitnami/odoo/README.md
  bitnami/odoo/templates/deployment.yaml
  bitnami/odoo/values.yaml
Labels: verify, odoo, bitnami

#24135 [bitnami/opencart] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/opencart/Chart.lock
  bitnami/opencart/Chart.yaml
  bitnami/opencart/README.md
  bitnami/opencart/templates/deployment.yaml
  bitnami/opencart/values.yaml
Labels: verify, bitnami, opencart

#24138 [bitnami/phpbb] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/phpbb/Chart.lock
  bitnami/phpbb/Chart.yaml
  bitnami/phpbb/README.md
  bitnami/phpbb/templates/deployment.yaml
  bitnami/phpbb/values.yaml
Labels: verify, bitnami, phpbb

#24140 [bitnami/pinniped] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/pinniped/Chart.lock
  bitnami/pinniped/Chart.yaml
  bitnami/pinniped/README.md
  bitnami/pinniped/templates/concierge/deployment.yaml
  bitnami/pinniped/templates/supervisor/deployment.yaml
  bitnami/pinniped/values.yaml
Labels: verify, pinniped, bitnami

#24143 [bitnami/prestashop] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/prestashop/Chart.lock
  bitnami/prestashop/Chart.yaml
  bitnami/prestashop/README.md
  bitnami/prestashop/templates/deployment.yaml
  bitnami/prestashop/values.yaml
Labels: verify, prestashop, bitnami

#24147 [bitnami/rabbitmq-cluster-operator] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/rabbitmq-cluster-operator/Chart.lock
  bitnami/rabbitmq-cluster-operator/Chart.yaml
  bitnami/rabbitmq-cluster-operator/README.md
  bitnami/rabbitmq-cluster-operator/templates/cluster-operator/deployment.yaml
  bitnami/rabbitmq-cluster-operator/templates/messaging-topology-operator/deployment.yaml
  bitnami/rabbitmq-cluster-operator/values.yaml
Labels: verify, bitnami, rabbitmq-cluster-operator

#24150 [bitnami/redis-cluster] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/redis-cluster/Chart.lock
  bitnami/redis-cluster/Chart.yaml
  bitnami/redis-cluster/README.md
  bitnami/redis-cluster/templates/redis-statefulset.yaml
  bitnami/redis-cluster/templates/update-cluster.yaml
  bitnami/redis-cluster/values.yaml
Labels: verify, bitnami, redis-cluster

#24152 [bitnami/schema-registry] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/schema-registry/Chart.lock
  bitnami/schema-registry/Chart.yaml
  bitnami/schema-registry/README.md
  bitnami/schema-registry/templates/statefulset.yaml
  bitnami/schema-registry/values.yaml
Labels: verify, bitnami, schema-registry

#24162 [bitnami/tomcat] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/tomcat/Chart.lock
  bitnami/tomcat/Chart.yaml
  bitnami/tomcat/README.md
  bitnami/tomcat/templates/_pod.tpl
  bitnami/tomcat/values.yaml
Labels: verify, bitnami, tomcat

#24166 [bitnami/wildfly] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/wildfly/Chart.lock
  bitnami/wildfly/Chart.yaml
  bitnami/wildfly/README.md
  bitnami/wildfly/templates/deployment.yaml
  bitnami/wildfly/values.yaml
Labels: verify, bitnami, wildfly

#24161 [bitnami/thanos] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/thanos/Chart.lock
  bitnami/thanos/Chart.yaml
  bitnami/thanos/README.md
  bitnami/thanos/templates/bucketweb/deployment.yaml
  bitnami/thanos/templates/compactor/_pod-template.tpl
  bitnami/thanos/templates/query-frontend/deployment.yaml
  bitnami/thanos/templates/query/deployment.yaml
  bitnami/thanos/templates/receive-distributor/deployment.yaml
  bitnami/thanos/templates/receive/statefulset.yaml
  bitnami/thanos/templates/ruler/statefulset.yaml
  bitnami/thanos/templates/storegateway/statefulset-sharded.yaml
  bitnami/thanos/templates/storegateway/statefulset.yaml
  bitnami/thanos/values.yaml
Labels: verify, bitnami, thanos

#24074 [bitnami/discourse] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/discourse/Chart.lock
  bitnami/discourse/Chart.yaml
  bitnami/discourse/README.md
  bitnami/discourse/templates/deployment.yaml
  bitnami/discourse/values.yaml
Labels: verify, bitnami, discourse

#24079 [bitnami/etcd] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/etcd/Chart.lock
  bitnami/etcd/Chart.yaml
  bitnami/etcd/README.md
  bitnami/etcd/templates/cronjob.yaml
  bitnami/etcd/templates/statefulset.yaml
  bitnami/etcd/values.yaml
Labels: verify, bitnami, etcd

#24107 [bitnami/kube-state-metrics] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/kube-state-metrics/Chart.lock
  bitnami/kube-state-metrics/Chart.yaml
  bitnami/kube-state-metrics/README.md
  bitnami/kube-state-metrics/templates/deployment.yaml
  bitnami/kube-state-metrics/values.yaml
Labels: verify, bitnami, kube-state-metrics

#24108 [bitnami/kubeapps] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/kubeapps/Chart.lock
  bitnami/kubeapps/Chart.yaml
  bitnami/kubeapps/README.md
  bitnami/kubeapps/templates/apprepository/apprepositories.yaml
  bitnami/kubeapps/templates/apprepository/deployment.yaml
  bitnami/kubeapps/templates/dashboard/deployment.yaml
  bitnami/kubeapps/templates/frontend/deployment.yaml
  bitnami/kubeapps/templates/kubeappsapis/deployment.yaml
  bitnami/kubeapps/values.yaml
Labels: verify, bitnami, kubeapps

#24110 [bitnami/kubernetes-event-exporter] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/kubernetes-event-exporter/Chart.lock
  bitnami/kubernetes-event-exporter/Chart.yaml
  bitnami/kubernetes-event-exporter/README.md
  bitnami/kubernetes-event-exporter/templates/deployment.yaml
  bitnami/kubernetes-event-exporter/values.yaml
Labels: verify, bitnami, kubernetes-event-exporter

#24112 [bitnami/magento] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/magento/Chart.lock
  bitnami/magento/Chart.yaml
  bitnami/magento/README.md
  bitnami/magento/templates/deployment.yaml
  bitnami/magento/values.yaml
Labels: verify, magento, bitnami

#24114 [bitnami/mariadb-galera] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/mariadb-galera/Chart.lock
  bitnami/mariadb-galera/Chart.yaml
  bitnami/mariadb-galera/README.md
  bitnami/mariadb-galera/templates/statefulset.yaml
  bitnami/mariadb-galera/values.yaml
Labels: verify, bitnami, mariadb-galera

#24115 [bitnami/mastodon] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/mastodon/Chart.lock
  bitnami/mastodon/Chart.yaml
  bitnami/mastodon/README.md
  bitnami/mastodon/templates/_helpers.tpl
  bitnami/mastodon/templates/init-job/init-job.yaml
  bitnami/mastodon/templates/sidekiq/deployment.yaml
  bitnami/mastodon/templates/streaming/deployment.yaml
  bitnami/mastodon/templates/web/deployment.yaml
  bitnami/mastodon/values.yaml
Labels: verify, bitnami, mastodon

#24117 [bitnami/mediawiki] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/mediawiki/Chart.lock
  bitnami/mediawiki/Chart.yaml
  bitnami/mediawiki/README.md
  bitnami/mediawiki/templates/deployment.yaml
  bitnami/mediawiki/values.yaml
Labels: verify, bitnami, mediawiki

#24119 [bitnami/metallb] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/metallb/Chart.lock
  bitnami/metallb/Chart.yaml
  bitnami/metallb/README.md
  bitnami/metallb/templates/controller/deployment.yaml
  bitnami/metallb/templates/speaker/daemonset.yaml
  bitnami/metallb/values.yaml
Labels: verify, bitnami, metallb

#24120 [bitnami/metrics-server] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/metrics-server/Chart.lock
  bitnami/metrics-server/Chart.yaml
  bitnami/metrics-server/README.md
  bitnami/metrics-server/templates/deployment.yaml
  bitnami/metrics-server/values.yaml
Labels: verify, bitnami, metrics-server

#24124 [bitnami/mongodb] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/mongodb/Chart.lock
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/README.md
  bitnami/mongodb/templates/arbiter/statefulset.yaml
  bitnami/mongodb/templates/backup/cronjob.yaml
  bitnami/mongodb/templates/hidden/statefulset.yaml
  bitnami/mongodb/templates/replicaset/statefulset.yaml
  bitnami/mongodb/templates/standalone/dep-sts.yaml
  bitnami/mongodb/values.yaml
Labels: verify, bitnami, mongodb

#24155 [bitnami/sonarqube] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/sonarqube/Chart.lock
  bitnami/sonarqube/Chart.yaml
  bitnami/sonarqube/README.md
  bitnami/sonarqube/templates/deployment.yaml
  bitnami/sonarqube/values.yaml
Labels: verify, bitnami, sonarqube

#24182 [bitnami/argo-workflows] Removes long delay in testing
  .vib/argo-workflows/cypress/cypress/e2e/argo_workflows.cy.js
Labels: verify, bitnami

#24061 [bitnami/apisix] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/apisix/Chart.lock
  bitnami/apisix/Chart.yaml
  bitnami/apisix/README.md
  bitnami/apisix/templates/_helpers.tpl
  bitnami/apisix/templates/control-plane/dep-ds.yaml
  bitnami/apisix/templates/dashboard/deployment.yaml
  bitnami/apisix/templates/data-plane/dep-ds.yaml
  bitnami/apisix/templates/ingress-controller/deployment.yaml
  bitnami/apisix/values.yaml
Labels: verify, bitnami, apisix

#24073 [bitnami/deepspeed] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/deepspeed/Chart.lock
  bitnami/deepspeed/Chart.yaml
  bitnami/deepspeed/README.md
  bitnami/deepspeed/templates/_helpers.tpl
  bitnami/deepspeed/templates/client/client-dep-job.yaml
  bitnami/deepspeed/templates/worker/worker-statefulset.yaml
  bitnami/deepspeed/values.yaml
Labels: verify, bitnami, deepspeed

#23944 [bitnami/keycloak] feat: :sparkles: :lock: Add readOnlyRootFilesystem support
  .vib/keycloak/goss/goss.yaml
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/README.md
  bitnami/keycloak/templates/keycloak-config-cli-job.yaml
  bitnami/keycloak/templates/statefulset.yaml
  bitnami/keycloak/values.yaml
Labels: verify, keycloak, bitnami

#24100 [bitnami/kafka] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/kafka/Chart.lock
  bitnami/kafka/Chart.yaml
  bitnami/kafka/README.md
  bitnami/kafka/templates/_helpers.tpl
  bitnami/kafka/templates/broker/statefulset.yaml
  bitnami/kafka/templates/controller-eligible/statefulset.yaml
  bitnami/kafka/templates/metrics/deployment.yaml
  bitnami/kafka/templates/provisioning/job.yaml
  bitnami/kafka/values.yaml
Labels: verify, kafka, bitnami

#24087 [bitnami/grafana] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/grafana/Chart.lock
  bitnami/grafana/Chart.yaml
  bitnami/grafana/README.md
  bitnami/grafana/templates/deployment.yaml
  bitnami/grafana/values.yaml
Labels: verify, bitnami, grafana

#24136 [bitnami/opensearch] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/opensearch/Chart.lock
  bitnami/opensearch/Chart.yaml
  bitnami/opensearch/README.md
  bitnami/opensearch/templates/_helpers.tpl
  bitnami/opensearch/templates/coordinating/statefulset.yaml
  bitnami/opensearch/templates/dashboards/deployment.yaml
  bitnami/opensearch/templates/data/statefulset.yaml
  bitnami/opensearch/templates/ingest/statefulset.yaml
  bitnami/opensearch/templates/master/statefulset.yaml
  bitnami/opensearch/values.yaml
Labels: verify, bitnami, opensearch

#24131 [bitnami/nginx-ingress-controller] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/nginx-ingress-controller/Chart.lock
  bitnami/nginx-ingress-controller/Chart.yaml
  bitnami/nginx-ingress-controller/README.md
  bitnami/nginx-ingress-controller/templates/controller-daemonset.yaml
  bitnami/nginx-ingress-controller/templates/controller-deployment.yaml
  bitnami/nginx-ingress-controller/templates/default-backend-deployment.yaml
  bitnami/nginx-ingress-controller/values.yaml
Labels: verify, bitnami, nginx-ingress-controller

#24146 [bitnami/rabbitmq] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/rabbitmq/Chart.lock
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/README.md
  bitnami/rabbitmq/templates/statefulset.yaml
  bitnami/rabbitmq/values.yaml
Labels: verify, bitnami, rabbitmq

#24153 [bitnami/sealed-secrets] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/sealed-secrets/Chart.lock
  bitnami/sealed-secrets/Chart.yaml
  bitnami/sealed-secrets/README.md
  bitnami/sealed-secrets/templates/deployment.yaml
  bitnami/sealed-secrets/values.yaml
Labels: verify, bitnami, sealed-secrets

#24078 [bitnami/elasticsearch] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/elasticsearch/Chart.lock
  bitnami/elasticsearch/Chart.yaml
  bitnami/elasticsearch/README.md
  bitnami/elasticsearch/templates/coordinating/statefulset.yaml
  bitnami/elasticsearch/templates/data/statefulset.yaml
  bitnami/elasticsearch/templates/ingest/statefulset.yaml
  bitnami/elasticsearch/templates/master/statefulset.yaml
  bitnami/elasticsearch/templates/metrics/deployment.yaml
  bitnami/elasticsearch/values.yaml
Labels: verify, bitnami, elasticsearch

#24095 [bitnami/jaeger] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/jaeger/Chart.lock
  bitnami/jaeger/Chart.yaml
  bitnami/jaeger/README.md
  bitnami/jaeger/templates/_helpers.tpl
  bitnami/jaeger/templates/agent/deployment.yaml
  bitnami/jaeger/templates/collector/deployment.yaml
  bitnami/jaeger/templates/migrate-job.yaml
  bitnami/jaeger/templates/query/deployment.yaml
  bitnami/jaeger/values.yaml
Labels: verify, bitnami, jaeger

#24167 [bitnami/wordpress] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/wordpress/Chart.lock
  bitnami/wordpress/Chart.yaml
  bitnami/wordpress/README.md
  bitnami/wordpress/templates/deployment.yaml
  bitnami/wordpress/values.yaml
Labels: verify, bitnami, wordpress

#24088 [bitnami/grafana-loki] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/grafana-loki/Chart.lock
  bitnami/grafana-loki/Chart.yaml
  bitnami/grafana-loki/README.md
  bitnami/grafana-loki/templates/compactor/deployment.yaml
  bitnami/grafana-loki/templates/distributor/deployment.yaml
  bitnami/grafana-loki/templates/gateway/deployment.yaml
  bitnami/grafana-loki/templates/index-gateway/statefulset.yaml
  bitnami/grafana-loki/templates/ingester/statefulset.yaml
  bitnami/grafana-loki/templates/promtail/daemonset.yaml
  bitnami/grafana-loki/templates/querier/statefulset.yaml
  bitnami/grafana-loki/templates/query-frontend/deployment.yaml
  bitnami/grafana-loki/templates/query-scheduler/deployment.yaml
  bitnami/grafana-loki/templates/ruler/statefulset.yaml
  bitnami/grafana-loki/templates/table-manager/deployment.yaml
  bitnami/grafana-loki/values.yaml
Labels: verify, bitnami, grafana-loki

#24130 [bitnami/nginx] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/nginx/Chart.lock
  bitnami/nginx/Chart.yaml
  bitnami/nginx/README.md
  bitnami/nginx/templates/deployment.yaml
  bitnami/nginx/values.yaml
Labels: verify, nginx, bitnami

#24142 [bitnami/postgresql-ha] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/postgresql-ha/Chart.lock
  bitnami/postgresql-ha/Chart.yaml
  bitnami/postgresql-ha/README.md
  bitnami/postgresql-ha/templates/backup/cronjob.yaml
  bitnami/postgresql-ha/templates/pgpool/deployment.yaml
  bitnami/postgresql-ha/templates/postgresql/statefulset.yaml
  bitnami/postgresql-ha/templates/postgresql/witness-statefulset.yaml
  bitnami/postgresql-ha/values.yaml
Labels: verify, bitnami

#24098 [bitnami/joomla] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/joomla/Chart.lock
  bitnami/joomla/Chart.yaml
  bitnami/joomla/README.md
  bitnami/joomla/templates/deployment.yaml
  bitnami/joomla/values.yaml
Labels: verify, bitnami, joomla

#24081 [bitnami/flink] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/flink/Chart.lock
  bitnami/flink/Chart.yaml
  bitnami/flink/README.md
  bitnami/flink/templates/jobmanager/deployment.yaml
  bitnami/flink/templates/taskmanager/statefulset.yaml
  bitnami/flink/values.yaml
Labels: verify, bitnami, flink

#24104 [bitnami/kibana] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/kibana/Chart.lock
  bitnami/kibana/Chart.yaml
  bitnami/kibana/README.md
  bitnami/kibana/templates/deployment.yaml
  bitnami/kibana/values.yaml
Labels: verify, bitnami, kibana

#24121 [bitnami/milvus] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/milvus/Chart.lock
  bitnami/milvus/Chart.yaml
  bitnami/milvus/README.md
  bitnami/milvus/templates/_helpers.tpl
  bitnami/milvus/templates/attu/deployment.yaml
  bitnami/milvus/templates/data-coordinator/deployment.yaml
  bitnami/milvus/templates/data-node/deployment.yaml
  bitnami/milvus/templates/index-coordinator/deployment.yaml
  bitnami/milvus/templates/index-node/deployment.yaml
  bitnami/milvus/templates/init-job.yaml
  bitnami/milvus/templates/proxy/deployment.yaml
  bitnami/milvus/templates/query-coordinator/deployment.yaml
  bitnami/milvus/templates/query-node/deployment.yaml
  bitnami/milvus/templates/root-coordinator/deployment.yaml
  bitnami/milvus/values.yaml
Labels: verify, bitnami, milvus

#24032 [bitnami/apache] feat: :sparkles: :lock: Add readOnlyRootFilesystem support
  bitnami/apache/Chart.yaml
  bitnami/apache/README.md
  bitnami/apache/templates/deployment.yaml
  bitnami/apache/values.yaml
Labels: verify, apache, bitnami

#24066 [bitnami/aspnet-core] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/aspnet-core/Chart.lock
  bitnami/aspnet-core/Chart.yaml
  bitnami/aspnet-core/README.md
  bitnami/aspnet-core/templates/deployment.yaml
  bitnami/aspnet-core/values.yaml
Labels: verify, bitnami, aspnet-core

#24191 [bitnami/argo-workflows] Adds delay in testing
  .vib/argo-workflows/cypress/cypress/e2e/argo_workflows.cy.js
Labels: verify, bitnami

#23786 [bitnami/memcached] feat: :sparkles: :lock: Add readOnlyRootFilesystem support
  bitnami/memcached/Chart.yaml
  bitnami/memcached/README.md
  bitnami/memcached/templates/deployment.yaml
  bitnami/memcached/templates/statefulset.yaml
  bitnami/memcached/values.yaml
Labels: verify, bitnami, memcached

#24041 [bitnami/nginx] feat: :sparkles: :lock: Add readOnlyRootFilesystem support
  .vib/nginx/goss/goss.yaml
  bitnami/nginx/Chart.yaml
  bitnami/nginx/README.md
  bitnami/nginx/templates/deployment.yaml
  bitnami/nginx/values.yaml
Labels: verify, nginx, bitnami

#23779 [bitnami/elasticsearch] feat: :sparkles: :lock: Add readOnlyRootFilesystem support
  bitnami/elasticsearch/Chart.yaml
  bitnami/elasticsearch/README.md
  bitnami/elasticsearch/templates/coordinating/statefulset.yaml
  bitnami/elasticsearch/templates/data/statefulset.yaml
  bitnami/elasticsearch/templates/ingest/statefulset.yaml
  bitnami/elasticsearch/templates/master/statefulset.yaml
  bitnami/elasticsearch/templates/metrics/deployment.yaml
  bitnami/elasticsearch/values.yaml
Labels: verify, bitnami, elasticsearch

#24186 [bitnami/dokuwiki] Fix podSecurityContext and volumePermissions logic
  bitnami/dokuwiki/Chart.yaml
  bitnami/dokuwiki/README.md
  bitnami/dokuwiki/templates/deployment.yaml
  bitnami/dokuwiki/values.yaml
Labels: verify, bitnami, dokuwiki

#24096 [bitnami/jenkins] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/jenkins/Chart.lock
  bitnami/jenkins/Chart.yaml
  bitnami/jenkins/README.md
  bitnami/jenkins/templates/casc-cm.yaml
  bitnami/jenkins/templates/deployment.yaml
  bitnami/jenkins/values.yaml
Labels: verify, jenkins, bitnami

#24193 [bitnami/flux] Update runtime-params to support Openshift testing
  .vib/flux/runtime-parameters.yaml
Labels: verify, bitnami

#24241 [bitnami/argo-workflow] Increase delay
  .vib/argo-workflows/cypress/cypress/e2e/argo_workflows.cy.js
Labels: verify, bitnami

#24249 [bitnami/argo-workflows] Removes delay
  .vib/argo-workflows/cypress/cypress/e2e/argo_workflows.cy.js
Labels: verify, bitnami

#23968 [bitnami/mastodon] feat: :sparkles: :lock: Add readOnlyRootFilesystem support
  bitnami/mastodon/Chart.yaml
  bitnami/mastodon/README.md
  bitnami/mastodon/templates/_helpers.tpl
  bitnami/mastodon/templates/init-job/init-job.yaml
  bitnami/mastodon/templates/sidekiq/deployment.yaml
  bitnami/mastodon/templates/streaming/deployment.yaml
  bitnami/mastodon/templates/tootctlMediaManagement/cronjob.yaml
  bitnami/mastodon/templates/web/deployment.yaml
  bitnami/mastodon/values.yaml
Labels: verify, bitnami, mastodon

#24005 [bitnami/elasticsearch] Fix elasticsearch shared initContainers rendering
  bitnami/elasticsearch/Chart.yaml
  bitnami/elasticsearch/templates/coordinating/statefulset.yaml
  bitnami/elasticsearch/templates/data/statefulset.yaml
  bitnami/elasticsearch/templates/ingest/statefulset.yaml
  bitnami/elasticsearch/templates/master/statefulset.yaml
Labels: verify, in-progress, elasticsearch

#24198 [bitnami/flink] feat: :sparkles: :lock: Add support for readOnlyRootFilesystem
  bitnami/flink/Chart.yaml
  bitnami/flink/README.md
  bitnami/flink/templates/jobmanager/deployment.yaml
  bitnami/flink/templates/taskmanager/statefulset.yaml
  bitnami/flink/values.yaml
Labels: verify, bitnami, flink

#24268 [bitnami/common] feat: :sparkles: Remove empty seLinuxOptions in adapted Openshift rendered security context
  bitnami/common/Chart.yaml
  bitnami/common/templates/_compatibility.tpl
Labels: verify, bitnami, common

#24254 [bitnami/apache] feat: :sparkles: :lock: Add networkPolicy
  bitnami/apache/Chart.yaml
  bitnami/apache/README.md
  bitnami/apache/templates/networkpolicy.yaml
  bitnami/apache/values.yaml
Labels: verify, apache, bitnami

#24253 [bitnami/grafana] feat: :lock: Enable networkPolicy
  bitnami/grafana/Chart.yaml
  bitnami/grafana/README.md
  bitnami/grafana/templates/networkpolicy.yaml
  bitnami/grafana/values.yaml
Labels: verify, bitnami, grafana

#24269 [bitnami/cert-manager] feat: :sparkles: :lock: Add missing network-policy in cainjector
  bitnami/cert-manager/Chart.yaml
  bitnami/cert-manager/README.md
  bitnami/cert-manager/templates/cainjector/networkpolicy.yaml
  bitnami/cert-manager/values.yaml
Labels: verify, bitnami, cert-manager

#24129 [bitnami/nats] feat: :sparkles: :lock: Add automatic adaptation for Openshift restricted-v2 SCC
  bitnami/nats/Chart.yaml
  bitnami/nats/README.md
  bitnami/nats/templates/deployment.yaml
  bitnami/nats/templates/statefulset.yaml
  bitnami/nats/values.yaml
Labels: verify, bitnami, nats

#24256 [bitnami/redis] Fix typo in usePasswordFiles variable name
  bitnami/redis/Chart.yaml
  bitnami/redis/templates/NOTES.txt
  bitnami/redis/templates/secret.yaml
Labels: verify, in-progress, redis

#24280 [bitnami/argo-workflows] Update bundled PostgreSQL
  bitnami/argo-workflows/Chart.lock
  bitnami/argo-workflows/Chart.yaml
  bitnami/argo-workflows/README.md
Labels: verify, argo-workflows, bitnami

#24169 [bitnami/grafana-tempo] Refactor grafana-tempo cache configuration
  .vib/grafana-tempo/goss/goss.yaml
  bitnami/grafana-tempo/Chart.yaml
  bitnami/grafana-tempo/values.yaml
Labels: verify, in-progress, grafana-tempo

#21913 [bitname/redis] Redis sentinel master service
  bitnami/redis/Chart.yaml
  bitnami/redis/README.md
  bitnami/redis/templates/_helpers.tpl
  bitnami/redis/templates/configmap.yaml
  bitnami/redis/templates/role.yaml
  bitnami/redis/templates/scripts-configmap.yaml
  bitnami/redis/templates/sentinel/service.yaml
  bitnami/redis/templates/sentinel/statefulset.yaml
  bitnami/redis/values.yaml
Labels: verify, in-progress, redis

#24097 [bitnami/keycloak] Add support for annotations on statefulset
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/README.md
  bitnami/keycloak/templates/statefulset.yaml
  bitnami/keycloak/values.yaml
Labels: verify, in-progress, keycloak
