Repository bitnami/charts, pull requests merged in 2024-08, with the labels that each got.

#28334 [bitnami/haproxy] Support deployment annotations
  bitnami/haproxy/CHANGELOG.md
  bitnami/haproxy/Chart.yaml
  bitnami/haproxy/README.md
  bitnami/haproxy/templates/deployment.yaml
  bitnami/haproxy/values.yaml
Labels: verify, in-progress, haproxy

#28598 [bitnami/mariadb-galera] fix: ginkgo tests
  .vib/common-tests/ginkgo-utils/k8s.go
  .vib/mariadb-galera/ginkgo/mariadb_suite_test.go
  .vib/mariadb-galera/ginkgo/mariadb_test.go
  bitnami/mariadb-galera/CHANGELOG.md
  bitnami/mariadb-galera/Chart.yaml
Labels: verify, bitnami, mariadb-galera

#27763 [bitnami/logstash] Add extra inputs and ports to pod and svc
  .vib/logstash/runtime-parameters.yaml
  bitnami/logstash/CHANGELOG.md
  bitnami/logstash/Chart.yaml
  bitnami/logstash/README.md
  bitnami/logstash/templates/configuration-cm.yaml
  bitnami/logstash/templates/sts.yaml
  bitnami/logstash/templates/svc.yaml
  bitnami/logstash/values.yaml
Labels: verify, in-progress, logstash

#28604 bitnami/kafka Add extraListeners to kafka.listeners in _helpers.tpl
  bitnami/kafka/CHANGELOG.md
  bitnami/kafka/Chart.yaml
  bitnami/kafka/templates/_helpers.tpl
Labels: verify, in-progress, kafka

#28380 [bitnami/redis-cluster] Add configurable appProtocol for metrics service port
  bitnami/redis-cluster/CHANGELOG.md
  bitnami/redis-cluster/Chart.yaml
  bitnami/redis-cluster/README.md
  bitnami/redis-cluster/templates/metrics-svc.yaml
  bitnami/redis-cluster/values.yaml
Labels: verify, in-progress, redis-cluster

#28606 [bitnami/thanos] add ruler custom data path
  bitnami/thanos/CHANGELOG.md
  bitnami/thanos/Chart.yaml
  bitnami/thanos/README.md
  bitnami/thanos/templates/ruler/statefulset.yaml
  bitnami/thanos/values.yaml
Labels: verify, in-progress, thanos

#28634 [bitnami/joomla] Add deprecation notice
  bitnami/joomla/CHANGELOG.md
  bitnami/joomla/Chart.yaml
  bitnami/joomla/README.md
  bitnami/joomla/templates/NOTES.txt
Labels: verify, bitnami, joomla

#28658 [bitnami/mediawiki] Remove Dokuwiki references
  bitnami/mediawiki/CHANGELOG.md
  bitnami/mediawiki/Chart.yaml
  bitnami/mediawiki/README.md
  bitnami/mediawiki/values.yaml
Labels: verify, bitnami, mediawiki

#28660 [bitnami/dokuwiki] Add deprecation notice
  bitnami/dokuwiki/CHANGELOG.md
  bitnami/dokuwiki/Chart.yaml
  bitnami/dokuwiki/README.md
  bitnami/dokuwiki/templates/NOTES.txt
Labels: verify, bitnami, dokuwiki

#28662 [bitnami/dokuwiki] Deprecate dokuwiki
  .vib/dokuwiki/cypress/cypress.config.js
  .vib/dokuwiki/cypress/cypress/e2e/dokuwiki.cy.js
  .vib/dokuwiki/cypress/cypress/fixtures/pages.json
  .vib/dokuwiki/cypress/cypress/support/commands.js
  .vib/dokuwiki/cypress/cypress/support/e2e.js
  .vib/dokuwiki/cypress/cypress/support/utils.js
  .vib/dokuwiki/goss/goss.yaml
  .vib/dokuwiki/runtime-parameters.yaml
  .vib/dokuwiki/vib-publish.json
  .vib/dokuwiki/vib-verify.json
  bitnami/dokuwiki/.helmignore
  bitnami/dokuwiki/CHANGELOG.md
  bitnami/dokuwiki/Chart.lock
  bitnami/dokuwiki/Chart.yaml
  bitnami/dokuwiki/README.md
  bitnami/dokuwiki/templates/NOTES.txt
  bitnami/dokuwiki/templates/_helpers.tpl
  bitnami/dokuwiki/templates/deployment.yaml
  bitnami/dokuwiki/templates/dokuwiki-pvc.yaml
  bitnami/dokuwiki/templates/extra-list.yaml
  bitnami/dokuwiki/templates/ingress.yaml
  bitnami/dokuwiki/templates/networkpolicy.yaml
  bitnami/dokuwiki/templates/pdb.yaml
  bitnami/dokuwiki/templates/postinit-configmap.yaml
  bitnami/dokuwiki/templates/secrets.yaml
  bitnami/dokuwiki/templates/serviceaccount.yaml
  bitnami/dokuwiki/templates/svc.yaml
  bitnami/dokuwiki/templates/tls-secrets.yaml
  bitnami/dokuwiki/values.yaml
Labels: verify, bitnami

#28665 [bitnami/opencart] chore: :memo: :wastebasket: Add deprecation notice
  bitnami/opencart/CHANGELOG.md
  bitnami/opencart/Chart.yaml
  bitnami/opencart/README.md
  bitnami/opencart/templates/NOTES.txt
Labels: verify, bitnami, opencart

#28661 [bitnami/matomo] Remove dokuwiki reference
  bitnami/matomo/CHANGELOG.md
  bitnami/matomo/Chart.yaml
  bitnami/matomo/values.yaml
Labels: verify, bitnami, matomo

#28670 [bitnami/logstash] fix: :bug: Add missing ports in networkpolicy
  bitnami/logstash/CHANGELOG.md
  bitnami/logstash/Chart.yaml
  bitnami/logstash/templates/networkpolicy.yaml
Labels: verify, bitnami, logstash

#28668 [bitnami/joomla] Remove helm chart
  .vib/joomla/cypress/cypress.config.js
  .vib/joomla/cypress/cypress/e2e/joomla.cy.js
  .vib/joomla/cypress/cypress/fixtures/articles.json
  .vib/joomla/cypress/cypress/fixtures/images/post_image.png
  .vib/joomla/cypress/cypress/support/commands.js
  .vib/joomla/cypress/cypress/support/e2e.js
  .vib/joomla/cypress/cypress/support/utils.js
  .vib/joomla/goss/goss.yaml
  .vib/joomla/runtime-parameters.yaml
  .vib/joomla/vib-publish.json
  .vib/joomla/vib-verify.json
  bitnami/joomla/.helmignore
  bitnami/joomla/CHANGELOG.md
  bitnami/joomla/Chart.lock
  bitnami/joomla/Chart.yaml
  bitnami/joomla/README.md
  bitnami/joomla/templates/NOTES.txt
  bitnami/joomla/templates/_helpers.tpl
  bitnami/joomla/templates/deployment.yaml
  bitnami/joomla/templates/externaldb-secrets.yaml
  bitnami/joomla/templates/extra-list.yaml
  bitnami/joomla/templates/ingress.yaml
  bitnami/joomla/templates/joomla-pvc.yaml
  bitnami/joomla/templates/networkpolicy.yaml
  bitnami/joomla/templates/pdb.yaml
  bitnami/joomla/templates/secrets.yaml
  bitnami/joomla/templates/serviceaccount.yaml
  bitnami/joomla/templates/svc.yaml
  bitnami/joomla/templates/tls-secrets.yaml
  bitnami/joomla/values.schema.json
  bitnami/joomla/values.yaml
Labels: verify, bitnami

#28672 [bitnami/schema-registry] Update chart dependency (kafka)
  bitnami/schema-registry/CHANGELOG.md
  bitnami/schema-registry/Chart.lock
  bitnami/schema-registry/Chart.yaml
  bitnami/schema-registry/README.md
Labels: verify, bitnami

#28673 [bitnami/kafka] Upgrade notes
  bitnami/kafka/README.md
Labels: verify, kafka, bitnami

#28581 [bitnami/common] Allow handling of new secrets after initial installation
  bitnami/common/CHANGELOG.md
  bitnami/common/Chart.yaml
  bitnami/common/templates/_secrets.tpl
Labels: verify, in-progress, common

#28674 [bitnami/milvus] Update chart dependency (kafka)
  bitnami/milvus/CHANGELOG.md
  bitnami/milvus/Chart.lock
  bitnami/milvus/Chart.yaml
  bitnami/milvus/README.md
  bitnami/milvus/values.yaml
Labels: verify, bitnami, milvus

#28675 [bitnami/spring-cloud-dataflow] Update chart dependency (kafka)
  bitnami/spring-cloud-dataflow/CHANGELOG.md
  bitnami/spring-cloud-dataflow/Chart.lock
  bitnami/spring-cloud-dataflow/Chart.yaml
  bitnami/spring-cloud-dataflow/README.md
  bitnami/spring-cloud-dataflow/templates/server/configmap.yaml
  bitnami/spring-cloud-dataflow/templates/server/externaldb-secret.yaml
  bitnami/spring-cloud-dataflow/templates/skipper/externaldb-secret.yaml
  bitnami/spring-cloud-dataflow/values.yaml
Labels: verify, bitnami, spring-cloud-dataflow

#28671 [bitnami/flux] Use nginx instead of dokuwiki for testing
  .vib/flux/goss/goss.yaml
  .vib/flux/runtime-parameters.yaml
  bitnami/flux/CHANGELOG.md
  bitnami/flux/Chart.yaml
Labels: verify, bitnami, flux

#28648 [bitnami/wordpress] Add the possibility to set `smtpFromEmail` and `smtpFromName`
  bitnami/wordpress/CHANGELOG.md
  bitnami/wordpress/Chart.yaml
  bitnami/wordpress/README.md
  bitnami/wordpress/templates/deployment.yaml
  bitnami/wordpress/values.yaml
Labels: verify, in-progress, wordpress

#28550 [bitnami/keycloak] Preserve data on writable dirs
  bitnami/keycloak/CHANGELOG.md
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/templates/statefulset.yaml
Labels: verify, keycloak, bitnami

#28684 [bitnami/phpbb] Add deprecation notice
  bitnami/phpbb/CHANGELOG.md
  bitnami/phpbb/Chart.yaml
  bitnami/phpbb/README.md
  bitnami/phpbb/templates/NOTES.txt
Labels: verify, bitnami, phpbb

#28686 [bitnami/mediawiki] Add deprecation notice
  bitnami/mediawiki/CHANGELOG.md
  bitnami/mediawiki/Chart.yaml
  bitnami/mediawiki/README.md
  bitnami/mediawiki/templates/NOTES.txt
Labels: verify, bitnami, mediawiki

#28676 [bitnami/opencart] chore: :fire: :wastebasket: Deprecate application
  .vib/opencart/cypress/cypress.config.js
  .vib/opencart/cypress/cypress/e2e/opencart.cy.js
  .vib/opencart/cypress/cypress/fixtures/customers.json
  .vib/opencart/cypress/cypress/fixtures/products.json
  .vib/opencart/cypress/cypress/support/commands.js
  .vib/opencart/cypress/cypress/support/e2e.js
  .vib/opencart/cypress/cypress/support/utils.js
  .vib/opencart/goss/goss.yaml
  .vib/opencart/runtime-parameters.yaml
  .vib/opencart/vib-publish.json
  .vib/opencart/vib-verify.json
  bitnami/opencart/.helmignore
  bitnami/opencart/CHANGELOG.md
  bitnami/opencart/Chart.lock
  bitnami/opencart/Chart.yaml
  bitnami/opencart/README.md
  bitnami/opencart/templates/NOTES.txt
  bitnami/opencart/templates/_helpers.tpl
  bitnami/opencart/templates/deployment.yaml
  bitnami/opencart/templates/externaldb-secrets.yaml
  bitnami/opencart/templates/extra-list.yaml
  bitnami/opencart/templates/ingress.yaml
  bitnami/opencart/templates/networkpolicy.yaml
  bitnami/opencart/templates/pdb.yaml
  bitnami/opencart/templates/pv.yaml
  bitnami/opencart/templates/pvc.yaml
  bitnami/opencart/templates/secrets.yaml
  bitnami/opencart/templates/serviceaccount.yaml
  bitnami/opencart/templates/svc.yaml
  bitnami/opencart/templates/tls-secrets.yaml
  bitnami/opencart/values.yaml
Labels: verify, bitnami

#28688 [bitnami/phpbb] Remove chart
  .vib/phpbb/cypress/cypress.config.js
  .vib/phpbb/cypress/cypress/e2e/phpbb.cy.js
  .vib/phpbb/cypress/cypress/fixtures/images/post_image.png
  .vib/phpbb/cypress/cypress/fixtures/topics.json
  .vib/phpbb/cypress/cypress/support/commands.js
  .vib/phpbb/cypress/cypress/support/e2e.js
  .vib/phpbb/cypress/cypress/support/utils.js
  .vib/phpbb/goss/goss.yaml
  .vib/phpbb/runtime-parameters.yaml
  .vib/phpbb/vib-publish.json
  .vib/phpbb/vib-verify.json
  bitnami/phpbb/.helmignore
  bitnami/phpbb/CHANGELOG.md
  bitnami/phpbb/Chart.lock
  bitnami/phpbb/Chart.yaml
  bitnami/phpbb/README.md
  bitnami/phpbb/templates/NOTES.txt
  bitnami/phpbb/templates/_helpers.tpl
  bitnami/phpbb/templates/deployment.yaml
  bitnami/phpbb/templates/externaldb-secrets.yaml
  bitnami/phpbb/templates/extra-list.yaml
  bitnami/phpbb/templates/ingress.yaml
  bitnami/phpbb/templates/networkpolicy.yaml
  bitnami/phpbb/templates/pdb.yaml
  bitnami/phpbb/templates/phpbb-pvc.yaml
  bitnami/phpbb/templates/secrets.yaml
  bitnami/phpbb/templates/serviceaccount.yaml
  bitnami/phpbb/templates/svc.yaml
  bitnami/phpbb/templates/tls-secrets.yaml
  bitnami/phpbb/values.yaml
Labels: verify, bitnami

#28689 [bitnami/mediawiki] Deprecate MediaWiki
  .vib/mediawiki/cypress/cypress.config.js
  .vib/mediawiki/cypress/cypress/e2e/mediawiki.cy.js
  .vib/mediawiki/cypress/cypress/fixtures/images/test_image.jpeg
  .vib/mediawiki/cypress/cypress/fixtures/pages.json
  .vib/mediawiki/cypress/cypress/support/commands.js
  .vib/mediawiki/cypress/cypress/support/e2e.js
  .vib/mediawiki/cypress/cypress/support/utils.js
  .vib/mediawiki/goss/goss.yaml
  .vib/mediawiki/runtime-parameters.yaml
  .vib/mediawiki/vib-publish.json
  .vib/mediawiki/vib-verify.json
  bitnami/mediawiki/.helmignore
  bitnami/mediawiki/CHANGELOG.md
  bitnami/mediawiki/Chart.lock
  bitnami/mediawiki/Chart.yaml
  bitnami/mediawiki/README.md
  bitnami/mediawiki/templates/NOTES.txt
  bitnami/mediawiki/templates/_helpers.tpl
  bitnami/mediawiki/templates/deployment.yaml
  bitnami/mediawiki/templates/externaldb-secrets.yaml
  bitnami/mediawiki/templates/extra-list.yaml
  bitnami/mediawiki/templates/ingress.yaml
  bitnami/mediawiki/templates/mediawiki-pvc.yaml
  bitnami/mediawiki/templates/metrics-svc.yaml
  bitnami/mediawiki/templates/networkpolicy.yaml
  bitnami/mediawiki/templates/pdb.yaml
  bitnami/mediawiki/templates/secrets.yaml
  bitnami/mediawiki/templates/serviceaccount.yaml
  bitnami/mediawiki/templates/servicemonitor.yaml
  bitnami/mediawiki/templates/svc.yaml
  bitnami/mediawiki/templates/tls-secrets.yaml
  bitnami/mediawiki/values.yaml
Labels: verify, bitnami

#28611 [bitnami/keycloak] use hostname v2 options
  bitnami/keycloak/CHANGELOG.md
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/README.md
  bitnami/keycloak/templates/configmap-env-vars.yaml
  bitnami/keycloak/templates/statefulset.yaml
  bitnami/keycloak/values.yaml
Labels: verify, in-progress, keycloak

#28694 [bitnami/prestashop] Deprecate chart
  .vib/prestashop/cypress/cypress.config.js
  .vib/prestashop/cypress/cypress/e2e/prestashop.cy.js
  .vib/prestashop/cypress/cypress/fixtures/customers.json
  .vib/prestashop/cypress/cypress/support/commands.js
  .vib/prestashop/cypress/cypress/support/e2e.js
  .vib/prestashop/cypress/cypress/support/utils.js
  .vib/prestashop/goss/goss.yaml
  .vib/prestashop/runtime-parameters.yaml
  .vib/prestashop/vib-publish.json
  .vib/prestashop/vib-verify.json
  bitnami/prestashop/.helmignore
  bitnami/prestashop/CHANGELOG.md
  bitnami/prestashop/Chart.lock
  bitnami/prestashop/Chart.yaml
  bitnami/prestashop/README.md
  bitnami/prestashop/templates/NOTES.txt
  bitnami/prestashop/templates/_helpers.tpl
  bitnami/prestashop/templates/deployment.yaml
  bitnami/prestashop/templates/externaldb-secrets.yaml
  bitnami/prestashop/templates/extra-list.yaml
  bitnami/prestashop/templates/ingress.yaml
  bitnami/prestashop/templates/networkpolicy.yaml
  bitnami/prestashop/templates/pdb.yaml
  bitnami/prestashop/templates/pv.yaml
  bitnami/prestashop/templates/pvc.yaml
  bitnami/prestashop/templates/secrets.yaml
  bitnami/prestashop/templates/serviceaccount.yaml
  bitnami/prestashop/templates/svc.yaml
  bitnami/prestashop/templates/tls-secrets.yaml
  bitnami/prestashop/values.yaml
Labels: verify, bitnami

#28685 [bitnami/mongodb] fix(NOTES.txt): Missing messages
  bitnami/mongodb/CHANGELOG.md
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/templates/NOTES.txt
Labels: verify, bitnami, mongodb

#28693 [bitnami/mysql] Include database in service binding secret when using root user
  bitnami/mysql/CHANGELOG.md
  bitnami/mysql/Chart.yaml
  bitnami/mysql/templates/secrets.yaml
Labels: verify, in-progress, mysql

#27564 [btinami/schema-registry] Fix typo in README: envVars -> extraEnvVars.
  bitnami/schema-registry/README.md
Labels: stale, verify, in-progress, schema-registry

#27900 [bitnami/rabbitmq] Fix rabbitmq pods not being restarted after changing init scripts
  bitnami/rabbitmq/CHANGELOG.md
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/templates/statefulset.yaml
Labels: verify, in-progress, rabbitmq

#28764 [bitnami/common] Fallback to chart appVersion in common.images.image
  bitnami/common/CHANGELOG.md
  bitnami/common/Chart.yaml
  bitnami/common/templates/_images.tpl
Labels: verify, in-progress, common

#28137 [bitnami/solr] Add revisionHistoryLimit variable for metrics-deployment
  bitnami/solr/CHANGELOG.md
  bitnami/solr/Chart.yaml
  bitnami/solr/README.md
  bitnami/solr/templates/metrics-deployment.yaml
  bitnami/solr/values.yaml
Labels: verify, in-progress, solr

#27921 [bitnami/kafka] Add support IMDSv2 for getting brokerRackAwareness data
  bitnami/kafka/CHANGELOG.md
  bitnami/kafka/Chart.yaml
  bitnami/kafka/templates/scripts-configmap.yaml
Labels: verify, in-progress, kafka

#28532 bitnami/prometheus- Disable server configmap when existingConfigMap is provided
  bitnami/prometheus/CHANGELOG.md
  bitnami/prometheus/Chart.yaml
  bitnami/prometheus/templates/server/configmap.yaml
Labels: verify, in-progress, prometheus

#28705 [bitnami/rabbitmq-cluster-operator] Fix msg topology operator podmonitor
  bitnami/rabbitmq-cluster-operator/CHANGELOG.md
  bitnami/rabbitmq-cluster-operator/Chart.yaml
  bitnami/rabbitmq-cluster-operator/templates/messaging-topology-operator/podmonitor.yaml
Labels: verify, in-progress, rabbitmq-cluster-operator

#28474 [bitnami/harbor] fix: core-secret-envvars.yaml now handles variables individually
  bitnami/harbor/CHANGELOG.md
  bitnami/harbor/Chart.yaml
  bitnami/harbor/templates/_helpers.tpl
  bitnami/harbor/templates/core/core-secret-envvars.yaml
  bitnami/harbor/values.yaml
Labels: verify, in-progress, harbor

#28793 [bitnami/thanos] add receive distributor termination grace period
  bitnami/thanos/CHANGELOG.md
  bitnami/thanos/Chart.yaml
  bitnami/thanos/README.md
  bitnami/thanos/templates/receive-distributor/deployment.yaml
  bitnami/thanos/values.yaml
Labels: verify, in-progress, thanos

#28797 [bitnami/fluentd] update README.md
  bitnami/fluentd/README.md
Labels: verify, in-progress, fluentd

#27100 New chart: Chainloop
  .vib/chainloop/ginkgo/chainloop_suite_test.go
  .vib/chainloop/ginkgo/chainloop_test.go
  .vib/chainloop/ginkgo/go.mod
  .vib/chainloop/ginkgo/go.sum
  .vib/chainloop/runtime-parameters.yaml
  .vib/chainloop/vib-publish.json
  .vib/chainloop/vib-verify.json
  bitnami/chainloop/.helmignore
  bitnami/chainloop/CHANGELOG.md
  bitnami/chainloop/Chart.lock
  bitnami/chainloop/Chart.yaml
  bitnami/chainloop/README.md
  bitnami/chainloop/templates/NOTES.txt
  bitnami/chainloop/templates/_helpers.tpl
  bitnami/chainloop/templates/cas/configmap.yaml
  bitnami/chainloop/templates/cas/deployment.yaml
  bitnami/chainloop/templates/cas/hpa.yaml
  bitnami/chainloop/templates/cas/ingress-grpc.yaml
  bitnami/chainloop/templates/cas/ingress.yaml
  bitnami/chainloop/templates/cas/networkpolicy.yaml
  bitnami/chainloop/templates/cas/pdb.yaml
  bitnami/chainloop/templates/cas/secret-config.yaml
  bitnami/chainloop/templates/cas/secret-customcas.yaml
  bitnami/chainloop/templates/cas/secret-gcp-secret-manager.yaml
  bitnami/chainloop/templates/cas/secret-jwt-public-key.yaml
  bitnami/chainloop/templates/cas/service-account.yaml
  bitnami/chainloop/templates/cas/service-grpc.yaml
  bitnami/chainloop/templates/cas/service-http.yaml
  bitnami/chainloop/templates/cas/vpa.yaml
  bitnami/chainloop/templates/controlplane/configmap.yaml
  bitnami/chainloop/templates/controlplane/deployment.yaml
  bitnami/chainloop/templates/controlplane/hpa.yaml
  bitnami/chainloop/templates/controlplane/ingress-grpc.yaml
  bitnami/chainloop/templates/controlplane/ingress.yaml
  bitnami/chainloop/templates/controlplane/networkpolicy.yaml
  bitnami/chainloop/templates/controlplane/pdb.yaml
  bitnami/chainloop/templates/controlplane/secret-config.yaml
  bitnami/chainloop/templates/controlplane/secret-customcas.yaml
  bitnami/chainloop/templates/controlplane/secret-ejbca-ca.yaml
  bitnami/chainloop/templates/controlplane/secret-file-ca.yaml
  bitnami/chainloop/templates/controlplane/secret-gcp-secret-manager.yaml
  bitnami/chainloop/templates/controlplane/secret-jwt-cas-private-key.yaml
  bitnami/chainloop/templates/controlplane/service-account.yaml
  bitnami/chainloop/templates/controlplane/service-grpc.yaml
  bitnami/chainloop/templates/controlplane/service-http.yaml
  bitnami/chainloop/templates/controlplane/vpa.yaml
  bitnami/chainloop/templates/dex/deployment.yaml
  bitnami/chainloop/templates/dex/metrics-svc.yaml
  bitnami/chainloop/templates/dex/networkpolicy.yaml
  bitnami/chainloop/templates/dex/pdb.yaml
  bitnami/chainloop/templates/dex/role.yaml
  bitnami/chainloop/templates/dex/rolebinding.yaml
  bitnami/chainloop/templates/dex/secret.yaml
  bitnami/chainloop/templates/dex/service-account.yaml
  bitnami/chainloop/templates/dex/service.yaml
  bitnami/chainloop/templates/dex/servicemonitor.yaml
  bitnami/chainloop/templates/extra-list.yaml
  bitnami/chainloop/values.yaml
Labels: new-product, verify, chainloop

#28804 [bitnami/pinniped] fix: :bug: Add missing rbac resources
  bitnami/pinniped/CHANGELOG.md
  bitnami/pinniped/Chart.yaml
  bitnami/pinniped/templates/supervisor/rbac.yaml
Labels: verify, pinniped, bitnami

#28805 [bitnami/chainloop] Add TL;DR
  bitnami/chainloop/CHANGELOG.md
  bitnami/chainloop/Chart.yaml
  bitnami/chainloop/README.md
Labels: verify, bitnami, chainloop

#28814 [bitnami/redis-cluster] fix: Use rollout restart in ginkgo tests
  .vib/redis-cluster/ginkgo/redis_suite_test.go
  .vib/redis-cluster/ginkgo/redis_test.go
  bitnami/redis-cluster/CHANGELOG.md
  bitnami/redis-cluster/Chart.yaml
Labels: verify, bitnami, redis-cluster

#28813 [bitnami/redis] fix: Use rollout restart in ginkgo tests
  .vib/redis/ginkgo/redis_suite_test.go
  .vib/redis/ginkgo/redis_test.go
  bitnami/redis/CHANGELOG.md
  bitnami/redis/Chart.yaml
Labels: verify, bitnami, redis

#28782 Remove template variables from values file
  bitnami/redis-cluster/CHANGELOG.md
  bitnami/redis-cluster/Chart.yaml
  bitnami/redis-cluster/values.yaml
Labels: verify, in-progress, redis-cluster

#28780 [bitnami/grafana-operator] Add missing CRD + RBAC
  bitnami/grafana-operator/CHANGELOG.md
  bitnami/grafana-operator/Chart.yaml
  bitnami/grafana-operator/crds/grafananotificationpolicies.integreatly.org.yaml
  bitnami/grafana-operator/templates/rbac-namespace.yaml
  bitnami/grafana-operator/templates/rbac.yaml
Labels: verify, in-progress, grafana-operator

#28825 [bitnami/nats] metrics exporter probe configuration
  bitnami/nats/CHANGELOG.md
  bitnami/nats/Chart.yaml
  bitnami/nats/README.md
  bitnami/nats/templates/deployment.yaml
  bitnami/nats/templates/statefulset.yaml
  bitnami/nats/values.yaml
Labels: verify, in-progress, nats

#28838 [bitnami/keycloak] move hostname variables to config map to allow override
  bitnami/keycloak/CHANGELOG.md
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/templates/configmap-env-vars.yaml
  bitnami/keycloak/templates/statefulset.yaml
Labels: verify, in-progress, keycloak

#28848 [bitnami/redis] Update README after major update
  bitnami/redis/README.md
Labels: verify, bitnami, redis

#28851 [bitnami/argo-cd] Update dependencies
  bitnami/argo-cd/CHANGELOG.md
  bitnami/argo-cd/Chart.lock
  bitnami/argo-cd/Chart.yaml
  bitnami/argo-cd/README.md
Labels: verify, bitnami, argo-cd

#28854 [bitnami/kubeapps] Update dependencies
  bitnami/kubeapps/CHANGELOG.md
  bitnami/kubeapps/Chart.lock
  bitnami/kubeapps/Chart.yaml
  bitnami/kubeapps/README.md
Labels: verify, bitnami, kubeapps

#28849 [bitnami/airflow] Update dependencies
  bitnami/airflow/CHANGELOG.md
  bitnami/airflow/Chart.lock
  bitnami/airflow/Chart.yaml
  bitnami/airflow/README.md
Labels: verify, airflow, bitnami

#28852 [bitnami/discourse] Update dependencies
  bitnami/discourse/CHANGELOG.md
  bitnami/discourse/Chart.lock
  bitnami/discourse/Chart.yaml
  bitnami/discourse/README.md
Labels: verify, bitnami, discourse

#28853 [bitnami/harbor] Update dependencies
  bitnami/harbor/CHANGELOG.md
  bitnami/harbor/Chart.lock
  bitnami/harbor/Chart.yaml
  bitnami/harbor/README.md
Labels: verify, bitnami, harbor

#28856 [bitnami/oauth2-proxy] Update dependencies
  bitnami/oauth2-proxy/CHANGELOG.md
  bitnami/oauth2-proxy/Chart.lock
  bitnami/oauth2-proxy/Chart.yaml
  bitnami/oauth2-proxy/README.md
Labels: verify, bitnami, oauth2-proxy

#28855 [bitnami/mastodon] Update dependencies
  bitnami/mastodon/CHANGELOG.md
  bitnami/mastodon/Chart.lock
  bitnami/mastodon/Chart.yaml
  bitnami/mastodon/README.md
Labels: verify, bitnami, mastodon

#28850 [bitnami/appsmith] Update dependencies
  bitnami/appsmith/CHANGELOG.md
  bitnami/appsmith/Chart.lock
  bitnami/appsmith/Chart.yaml
  bitnami/appsmith/README.md
Labels: verify, bitnami, appsmith

#28741 [bitnami/nginx] Support for Non-Bitnami Nginx Images in nginx Helm Chart
  bitnami/nginx/CHANGELOG.md
  bitnami/nginx/Chart.yaml
  bitnami/nginx/templates/deployment.yaml
Labels: in-progress, nginx

#27434 [bitnami/external-dns] Fix crd.create=true
  bitnami/external-dns/CHANGELOG.md
  bitnami/external-dns/Chart.yaml
  bitnami/external-dns/templates/crds/crd.yaml
Labels: verify, in-progress, external-dns

#28869 [bitnami/pinniped] chore: :arrow_up: Bump common subchart
  bitnami/pinniped/CHANGELOG.md
  bitnami/pinniped/Chart.lock
  bitnami/pinniped/Chart.yaml
Labels: verify, pinniped, bitnami

#28868 [bitnami/apache] fix CrashLoopBackOff when using cloneHtdocsFromGit
  bitnami/apache/CHANGELOG.md
  bitnami/apache/Chart.yaml
  bitnami/apache/templates/deployment.yaml
Labels: verify, in-progress, apache

#28914 [bitnami/argo-cd] Add missing verbs to ApplicationSet role
  bitnami/argo-cd/CHANGELOG.md
  bitnami/argo-cd/Chart.yaml
  bitnami/argo-cd/templates/applicationset/role.yaml
Labels: verify, in-progress, argo-cd

#28923 [bitnami/chainloop] Major version 1.0.0: Use development mode by default
  .vib/chainloop/runtime-parameters.yaml
  bitnami/chainloop/CHANGELOG.md
  bitnami/chainloop/Chart.yaml
  bitnami/chainloop/README.md
  bitnami/chainloop/templates/NOTES.txt
  bitnami/chainloop/values.yaml
Labels: verify, bitnami, chainloop

#28885 [bitnami/valkey-cluster] Fix env-vars for metrics container
  bitnami/valkey-cluster/CHANGELOG.md
  bitnami/valkey-cluster/Chart.yaml
  bitnami/valkey-cluster/templates/valkey-statefulset.yaml
Labels: verify, bitnami, valkey-cluster

#28884 [bitnami/valkey] Fix env-vars for metrics container
  bitnami/valkey/CHANGELOG.md
  bitnami/valkey/Chart.yaml
  bitnami/valkey/templates/master/application.yaml
  bitnami/valkey/templates/replicas/application.yaml
  bitnami/valkey/templates/sentinel/statefulset.yaml
Labels: verify, bitnami, valkey

#28924 [bitnami/kibana] Increase wait for DOM content in Cypress test
  .vib/kibana/cypress/cypress/e2e/kibana.cy.js
  bitnami/kibana/CHANGELOG.md
  bitnami/kibana/Chart.yaml
Labels: verify, bitnami, kibana

#28747 [bitnami/thanos] Update index cache config for sharded store gateway
  bitnami/thanos/CHANGELOG.md
  bitnami/thanos/Chart.yaml
  bitnami/thanos/templates/storegateway/statefulset-sharded.yaml
Labels: verify, in-progress, thanos

#28820 [bitnami/postgresql-ha] README tweaks
  bitnami/postgresql-ha/README.md
Labels: in-progress, postgresql-ha

#28861 [bitnami/grafana-operator] Add some pod scheduling directives
  bitnami/grafana-operator/CHANGELOG.md
  bitnami/grafana-operator/Chart.lock
  bitnami/grafana-operator/Chart.yaml
  bitnami/grafana-operator/README.md
  bitnami/grafana-operator/templates/deployment.yaml
  bitnami/grafana-operator/templates/grafana-pdb.yaml
  bitnami/grafana-operator/templates/grafana.yaml
  bitnami/grafana-operator/templates/pdb.yaml
  bitnami/grafana-operator/values.yaml
Labels: verify, in-progress, grafana-operator

#28883 [bitnami/mongodb] Fix logic to add custom annotations to external-access service
  bitnami/mongodb/CHANGELOG.md
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/templates/replicaset/external-access-svc.yaml
Labels: verify, bitnami, mongodb

#28936 [bitnami/argo-cd] test: :white_check_mark: Improve resilience of cypress test
  .vib/argo-cd/cypress/cypress/e2e/argo_cd.cy.js
  bitnami/argo-cd/CHANGELOG.md
  bitnami/argo-cd/Chart.yaml
Labels: verify, bitnami, argo-cd

#28937 [bitnami/mongodb-sharded]Ginkgo tests: Use rollout instead of scale down
  .vib/mongodb-sharded/ginkgo/mongodb_suite_test.go
  .vib/mongodb-sharded/ginkgo/mongodb_test.go
  bitnami/mongodb-sharded/CHANGELOG.md
  bitnami/mongodb-sharded/Chart.yaml
Labels: verify, bitnami

#28955 [bitnami/mlflow] Update externalS3.host example
  bitnami/mlflow/CHANGELOG.md
  bitnami/mlflow/Chart.yaml
  bitnami/mlflow/README.md
  bitnami/mlflow/values.yaml
Labels: verify, in-progress, mlflow

#28974 [bitnami/wordpress] Fix php session mgmt
  bitnami/wordpress/CHANGELOG.md
  bitnami/wordpress/Chart.yaml
  bitnami/wordpress/templates/deployment.yaml
Labels: verify, in-progress, wordpress

#28737 [bitnami/argo-cd] fix: Add namespace to service account's bindings
  bitnami/argo-cd/CHANGELOG.md
  bitnami/argo-cd/Chart.yaml
  bitnami/argo-cd/templates/application-controller/clusterrolebinding.yaml
  bitnami/argo-cd/templates/application-controller/rolebinding.yaml
  bitnami/argo-cd/templates/applicationset/clusterrolebinding.yaml
  bitnami/argo-cd/templates/applicationset/rolebinding.yaml
  bitnami/argo-cd/templates/dex/rolebinding.yaml
  bitnami/argo-cd/templates/notifications/clusterrolebinding.yaml
  bitnami/argo-cd/templates/notifications/rolebinding.yaml
  bitnami/argo-cd/templates/repo-server/clusterrolebinding.yaml
  bitnami/argo-cd/templates/repo-server/rolebinding.yaml
  bitnami/argo-cd/templates/server/clusterrolebinding.yaml
  bitnami/argo-cd/templates/server/rolebinding.yaml
Labels: verify, bitnami, argo-cd, skip-score

#28976 bugfix: update template
  template/CHART_NAME/values.yaml
Labels: verify, bitnami

#28618 bitnami/kafka Fix pem auth with custom encrypted private key
  bitnami/kafka/CHANGELOG.md
  bitnami/kafka/Chart.yaml
  bitnami/kafka/templates/scripts-configmap.yaml
  bitnami/kafka/values.yaml
Labels: verify, in-progress, kafka

#28919 [bitnami/nginx-ingress-controller] Allow loadBalancerClass to be customized for the nginx-ingress-controller chart
  bitnami/nginx-ingress-controller/CHANGELOG.md
  bitnami/nginx-ingress-controller/Chart.yaml
  bitnami/nginx-ingress-controller/README.md
  bitnami/nginx-ingress-controller/templates/controller-service.yaml
  bitnami/nginx-ingress-controller/values.yaml
Labels: verify, in-progress, nginx-ingress-controller

#28841 [bitnami/juypterhub] postgres image missing when postgres is disabled (fluxCD/argoCD)
  bitnami/jupyterhub/CHANGELOG.md
  bitnami/jupyterhub/Chart.yaml
  bitnami/jupyterhub/README.md
  bitnami/jupyterhub/templates/hub/deployment.yaml
Labels: verify, in-progress, jupyterhub

#28801 [bitnami/rabbitmq-cluster-operator] Add AdmissionWebhookConfig toggle
  bitnami/rabbitmq-cluster-operator/CHANGELOG.md
  bitnami/rabbitmq-cluster-operator/Chart.yaml
  bitnami/rabbitmq-cluster-operator/README.md
  bitnami/rabbitmq-cluster-operator/templates/messaging-topology-operator/validating-webhook-configuration.yaml
  bitnami/rabbitmq-cluster-operator/values.yaml
Labels: verify, in-progress, rabbitmq-cluster-operator

#28831 [bitnami/postgresql] eval. certificatesSecret as template
  bitnami/postgresql/CHANGELOG.md
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/templates/_helpers.tpl
Labels: verify, in-progress, postgresql

#28992 [bitnami/airflow] add resources to loaddags initcontainer try 2
  bitnami/airflow/CHANGELOG.md
  bitnami/airflow/Chart.yaml
  bitnami/airflow/templates/_helpers.tpl
Labels: verify, in-progress, airflow

#29008 [bitnami/keycloak] Use database user secret key from PostgreSQL chart
  bitnami/keycloak/CHANGELOG.md
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/README.md
  bitnami/keycloak/templates/_helpers.tpl
  bitnami/keycloak/values.yaml
Labels: verify, in-progress, keycloak

#29020 [bitnami/keycloak] fix: :bug: Add emptyDir at /bitnami to allow init scripts
  bitnami/keycloak/CHANGELOG.md
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/templates/statefulset.yaml
Labels: verify, keycloak, bitnami

#29021 [bitnami/mariadb] Fix deprecation warnings in checks
  bitnami/mariadb/CHANGELOG.md
  bitnami/mariadb/Chart.yaml
  bitnami/mariadb/templates/primary/statefulset.yaml
  bitnami/mariadb/templates/secondary/statefulset.yaml
Labels: verify, in-progress, mariadb

#28969 add custom relabel config while thanos storegateway hash shard
  bitnami/thanos/CHANGELOG.md
  bitnami/thanos/Chart.yaml
  bitnami/thanos/README.md
  bitnami/thanos/templates/storegateway/statefulset-sharded.yaml
  bitnami/thanos/values.yaml
Labels: verify, in-progress, thanos

#29032 [bitnami/jupyterhub] Fix indents of singleuser extra volumes & mounts for #24458
  bitnami/jupyterhub/CHANGELOG.md
  bitnami/jupyterhub/Chart.yaml
  bitnami/jupyterhub/values.yaml
Labels: verify, in-progress, jupyterhub

#29025 New chart: KeyDB
  .vib/keydb/ginkgo/go.mod
  .vib/keydb/ginkgo/go.sum
  .vib/keydb/ginkgo/keydb_suite_test.go
  .vib/keydb/ginkgo/keydb_test.go
  .vib/keydb/goss/goss.yaml
  .vib/keydb/runtime-parameters.yaml
  .vib/keydb/vib-publish.json
  .vib/keydb/vib-verify.json
  bitnami/keydb/.helmignore
  bitnami/keydb/CHANGELOG.md
  bitnami/keydb/Chart.lock
  bitnami/keydb/Chart.yaml
  bitnami/keydb/README.md
  bitnami/keydb/templates/NOTES.txt
  bitnami/keydb/templates/_helpers.tpl
  bitnami/keydb/templates/ca-cert.yaml
  bitnami/keydb/templates/extra-list.yaml
  bitnami/keydb/templates/health-configmap.yaml
  bitnami/keydb/templates/master/cert.yaml
  bitnami/keydb/templates/master/configmap.yaml
  bitnami/keydb/templates/master/headless-service.yaml
  bitnami/keydb/templates/master/networkpolicy.yaml
  bitnami/keydb/templates/master/pdb.yaml
  bitnami/keydb/templates/master/service.yaml
  bitnami/keydb/templates/master/statefulset.yaml
  bitnami/keydb/templates/master/vpa.yaml
  bitnami/keydb/templates/metrics-svc.yaml
  bitnami/keydb/templates/prometheusrule.yaml
  bitnami/keydb/templates/replica/cert.yaml
  bitnami/keydb/templates/replica/configmap.yaml
  bitnami/keydb/templates/replica/headless-service.yaml
  bitnami/keydb/templates/replica/hpa.yaml
  bitnami/keydb/templates/replica/networkpolicy.yaml
  bitnami/keydb/templates/replica/pdb.yaml
  bitnami/keydb/templates/replica/service.yaml
  bitnami/keydb/templates/replica/statefulset.yaml
  bitnami/keydb/templates/replica/vpa.yaml
  bitnami/keydb/templates/secret.yaml
  bitnami/keydb/templates/service-account.yaml
  bitnami/keydb/templates/servicemonitor.yaml
  bitnami/keydb/templates/tls-secret.yaml
  bitnami/keydb/values.yaml
Labels: new-product, verify, bitnami, keydb

#29082 [bitnami/rabbitmq] Improve Ginkgo test
  .vib/rabbitmq/ginkgo/rabbitmq_test.go
  bitnami/rabbitmq/CHANGELOG.md
  bitnami/rabbitmq/Chart.yaml
Labels: verify, bitnami, rabbitmq

#29086 [bitnami/cilium] fix: :bug: Use namespace to avoid collisions in hubble UI RBAC objects
  bitnami/cilium/CHANGELOG.md
  bitnami/cilium/Chart.yaml
  bitnami/cilium/templates/_helpers.tpl
  bitnami/cilium/templates/hubble-ui/rbac.yaml
Labels: verify, bitnami, cilium

#29080 [bitnami/valkey-cluster] test: :white_check_mark: Improve ginkgo tests reliability
  .vib/valkey-cluster/ginkgo/valkey_test.go
  bitnami/valkey-cluster/CHANGELOG.md
  bitnami/valkey-cluster/Chart.yaml
Labels: verify, bitnami, valkey-cluster

#29083 [bitnami/elasticsearch] fix: Remove hardcoded image for copy-tls-certificates
  bitnami/elasticsearch/CHANGELOG.md
  bitnami/elasticsearch/Chart.yaml
  bitnami/elasticsearch/README.md
  bitnami/elasticsearch/templates/NOTES.txt
  bitnami/elasticsearch/templates/_helpers.tpl
  bitnami/elasticsearch/templates/coordinating/statefulset.yaml
  bitnami/elasticsearch/templates/data/statefulset.yaml
  bitnami/elasticsearch/templates/ingest/statefulset.yaml
  bitnami/elasticsearch/templates/master/statefulset.yaml
  bitnami/elasticsearch/values.yaml
Labels: verify, bitnami, elasticsearch

#29088 [bitnami/keydb] ci: simplify goss tests
  .vib/keydb/goss/goss.yaml
  bitnami/keydb/CHANGELOG.md
  bitnami/keydb/Chart.yaml
Labels: verify, bitnami, keydb

#29038 [bitnami/mongodb] add securityContext via helper to initContainter dns-check
  bitnami/mongodb/CHANGELOG.md
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/templates/_helpers.tpl
Labels: verify, in-progress, mongodb

#29099 [bitnami/supabase] Add deprecation notice
  bitnami/supabase/CHANGELOG.md
  bitnami/supabase/Chart.yaml
  bitnami/supabase/README.md
  bitnami/supabase/templates/NOTES.txt
Labels: verify, bitnami, supabase

#29104 [bitnami/cilium] test: :white_check_mark: Improve resiliency of goss test
  .vib/cilium/goss/goss-wait.yaml
  .vib/cilium/vib-verify.json
  bitnami/cilium/CHANGELOG.md
  bitnami/cilium/Chart.yaml
Labels: verify, bitnami, cilium

#29105 [bitnami/elasticsearch]fix: Bump version
  bitnami/elasticsearch/CHANGELOG.md
  bitnami/elasticsearch/Chart.yaml
Labels: verify, bitnami, elasticsearch

#29108 [bitnami/cilium] test: :white_check_mark: Add a wait before goss test
  .vib/cilium/goss/goss-wait.yaml
  bitnami/cilium/CHANGELOG.md
  bitnami/cilium/Chart.yaml
Labels: verify, bitnami, cilium

#29126 [bitnami/cassandra] Update readme to fix typo
  bitnami/cassandra/README.md
Labels: triage, cassandra
