Repository bitnami/charts, pull requests merged in 2024-10, with the labels that each got.

#29564 [bitnami/drupal] templates/ingress.yaml: fix wrong www.www tls name
  bitnami/drupal/CHANGELOG.md
  bitnami/drupal/Chart.yaml
  bitnami/drupal/templates/ingress.yaml
Labels: verify, in-progress, drupal

#29621 [bitnami/nginx-ingress-controller] Specify resources for nginx ingress controller deployment init container
  bitnami/nginx-ingress-controller/CHANGELOG.md
  bitnami/nginx-ingress-controller/Chart.yaml
  bitnami/nginx-ingress-controller/templates/controller-deployment.yaml
Labels: verify, in-progress, nginx-ingress-controller

#29562 [bitnami/wordpress] templates/ingress.yaml: fix wrong www.www tls name
  bitnami/wordpress/CHANGELOG.md
  bitnami/wordpress/Chart.yaml
  bitnami/wordpress/templates/ingress.yaml
Labels: verify, in-progress, wordpress

#29591 [bitnami/spark] Fix extraEgress being applied from master instead of worker
  bitnami/spark/CHANGELOG.md
  bitnami/spark/Chart.yaml
  bitnami/spark/templates/networkpolicy-worker.yaml
Labels: verify, in-progress, spark

#29563 [bitnami/nginx] templates/ingress.yaml: fix wrong www.www tls name
  bitnami/nginx/CHANGELOG.md
  bitnami/nginx/Chart.yaml
  bitnami/nginx/templates/ingress.yaml
Labels: verify, in-progress, nginx

#29665 [bitnami/vault] Fix documentation in README.md
  bitnami/vault/CHANGELOG.md
  bitnami/vault/Chart.yaml
  bitnami/vault/README.md
  bitnami/vault/values.yaml
Labels: in-progress, vault

#29668 [bitnami/common] Add common.tplvalues.merge-overwrite helper
  bitnami/common/CHANGELOG.md
  bitnami/common/Chart.yaml
  bitnami/common/templates/_tplvalues.tpl
Labels: verify, in-progress, common

#29742 [bitnami/odoo] feat!: :arrow_up: :boom: Bump PostgreSQL to 17.x
  bitnami/odoo/CHANGELOG.md
  bitnami/odoo/Chart.lock
  bitnami/odoo/Chart.yaml
  bitnami/odoo/README.md
Labels: verify, odoo, bitnami

#29745 [bitnami/sonarqube] feat!: :arrow_up: :boom: Bump PostgreSQL to 17.x
  bitnami/sonarqube/CHANGELOG.md
  bitnami/sonarqube/Chart.lock
  bitnami/sonarqube/Chart.yaml
  bitnami/sonarqube/README.md
Labels: verify, bitnami, sonarqube

#29744 [bitnami/seaweedfs] feat!: :arrow_up: :boom: Bump PostgreSQL to 17.x
  bitnami/seaweedfs/CHANGELOG.md
  bitnami/seaweedfs/Chart.lock
  bitnami/seaweedfs/Chart.yaml
  bitnami/seaweedfs/README.md
Labels: verify, bitnami, seaweedfs

#29743 [bitnami/redmine] feat!: :arrow_up: :boom: Bump PostgreSQL to 17.x
  bitnami/redmine/CHANGELOG.md
  bitnami/redmine/Chart.lock
  bitnami/redmine/Chart.yaml
  bitnami/redmine/README.md
Labels: verify, bitnami, redmine

#29740 [bitnami/mlflow] feat!: :arrow_up: :boom: Bump PostgreSQL to 17.x
  bitnami/mlflow/CHANGELOG.md
  bitnami/mlflow/Chart.lock
  bitnami/mlflow/Chart.yaml
  bitnami/mlflow/README.md
Labels: verify, bitnami, mlflow

#29730 [bitnami/concourse] feat!: :arrow_up: :boom: Bump PostgreSQL to 17.x
  bitnami/concourse/CHANGELOG.md
  bitnami/concourse/Chart.lock
  bitnami/concourse/Chart.yaml
  bitnami/concourse/README.md
Labels: verify, bitnami, concourse

#29727 [bitnami/airflow] feat!: :arrow_up: :boom: Bump PostgreSQL to 17.x
  bitnami/airflow/CHANGELOG.md
  bitnami/airflow/Chart.lock
  bitnami/airflow/Chart.yaml
  bitnami/airflow/README.md
Labels: verify, airflow, bitnami

#29729 [bitnami/chainloop] feat!: :arrow_up: :boom: Bump PostgreSQL to 17.x
  bitnami/chainloop/CHANGELOG.md
  bitnami/chainloop/Chart.lock
  bitnami/chainloop/Chart.yaml
  bitnami/chainloop/README.md
Labels: verify, bitnami, chainloop

#29733 [bitnami/harbor] feat!: :arrow_up: :boom: Bump PostgreSQL to 17.x
  bitnami/harbor/CHANGELOG.md
  bitnami/harbor/Chart.lock
  bitnami/harbor/Chart.yaml
  bitnami/harbor/README.md
Labels: verify, bitnami, harbor

#29732 [bitnami/gitea] feat!: :arrow_up: :boom: Bump PostgreSQL to 17.x
  bitnami/gitea/CHANGELOG.md
  bitnami/gitea/Chart.lock
  bitnami/gitea/Chart.yaml
  bitnami/gitea/README.md
Labels: verify, bitnami, gitea

#29731 [bitnami/discourse] feat!: :arrow_up: :boom: Bump PostgreSQL to 17.x
  bitnami/discourse/CHANGELOG.md
  bitnami/discourse/Chart.lock
  bitnami/discourse/Chart.yaml
  bitnami/discourse/README.md
Labels: verify, bitnami, discourse

#29738 [bitnami/kubeapps] feat!: :arrow_up: :boom: Bump PostgreSQL to 17.x
  bitnami/kubeapps/CHANGELOG.md
  bitnami/kubeapps/Chart.lock
  bitnami/kubeapps/Chart.yaml
  bitnami/kubeapps/README.md
Labels: verify, bitnami, kubeapps

#29736 [bitnami/kong] feat!: :arrow_up: :boom: Bump PostgreSQL to 17.x
  bitnami/kong/CHANGELOG.md
  bitnami/kong/Chart.lock
  bitnami/kong/Chart.yaml
  bitnami/kong/README.md
Labels: verify, bitnami, kong

#29735 [bitnami/keycloak] feat!: :arrow_up: :boom: Bump PostgreSQL to 17.x
  bitnami/keycloak/CHANGELOG.md
  bitnami/keycloak/Chart.lock
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/README.md
Labels: verify, keycloak, bitnami

#29734 [bitnami/jupyterhub] feat!: :arrow_up: :boom: Bump PostgreSQL to 17.x
  bitnami/jupyterhub/CHANGELOG.md
  bitnami/jupyterhub/Chart.lock
  bitnami/jupyterhub/Chart.yaml
  bitnami/jupyterhub/README.md
Labels: verify, bitnami, jupyterhub

#29741 [bitnami/nessie] feat!: :arrow_up: :boom: Bump PostgreSQL to 17.x
  bitnami/nessie/CHANGELOG.md
  bitnami/nessie/Chart.lock
  bitnami/nessie/Chart.yaml
  bitnami/nessie/README.md
Labels: verify, bitnami, nessie

#29728 [bitnami/argo-workflows] feat!: :arrow_up: :boom: Bump PostgreSQL to 17.x
  bitnami/argo-workflows/CHANGELOG.md
  bitnami/argo-workflows/Chart.lock
  bitnami/argo-workflows/Chart.yaml
  bitnami/argo-workflows/README.md
Labels: verify, argo-workflows, bitnami

#29739 [bitnami/mastodon] feat!: :arrow_up: :boom: Bump PostgreSQL to 17.x
  bitnami/mastodon/CHANGELOG.md
  bitnami/mastodon/Chart.lock
  bitnami/mastodon/Chart.yaml
  bitnami/mastodon/README.md
Labels: verify, bitnami, mastodon

#29645 [bitnami/opensearch] Fix typo in dashboards.fullname helper
  bitnami/opensearch/CHANGELOG.md
  bitnami/opensearch/Chart.yaml
  bitnami/opensearch/templates/_helpers.tpl
Labels: verify, in-progress, opensearch

#29667 [actions] CI pipeline: Check hardcoded images
  .github/workflows/ci-pipeline.yml
Labels: verify, bitnami

#29783 [bitnami/grafana-operator] Fixed envFrom examples
  bitnami/grafana-operator/CHANGELOG.md
  bitnami/grafana-operator/Chart.yaml
  bitnami/grafana-operator/values.yaml
Labels: verify, in-progress, grafana-operator

#29782 [bitnami/kafka] Update default value of `heapOpts` to fit Kafka pod RAM limit while utilize its increase (#29670)
  bitnami/kafka/CHANGELOG.md
  bitnami/kafka/Chart.yaml
  bitnami/kafka/README.md
  bitnami/kafka/values.yaml
Labels: verify, in-progress, kafka

#29763 [bitnami/thanos] Revert #29673
  bitnami/thanos/CHANGELOG.md
  bitnami/thanos/Chart.yaml
  bitnami/thanos/templates/receive/statefulset.yaml
  bitnami/thanos/templates/ruler/statefulset.yaml
  bitnami/thanos/templates/storegateway/statefulset.yaml
Labels: verify, bitnami, thanos

#29804 [bitnami/kubernetes-event-exporter] Add to leader election RoleBinding
  bitnami/kubernetes-event-exporter/CHANGELOG.md
  bitnami/kubernetes-event-exporter/Chart.yaml
  bitnami/kubernetes-event-exporter/templates/rbac-leader-election.yaml
Labels: verify, in-progress, kubernetes-event-exporter

#29812 [bitnami/mongodb] Update README
  bitnami/mongodb-sharded/README.md
  bitnami/mongodb/README.md
Labels: verify, bitnami

#29808 [bitnami/parse] Update MongoDB chart to 16.0.0
  bitnami/parse/CHANGELOG.md
  bitnami/parse/Chart.lock
  bitnami/parse/Chart.yaml
  bitnami/parse/README.md
  bitnami/parse/values.yaml
Labels: verify, bitnami, parse

#29805 [bitnami/appsmith] Update MongoDB chart to 16.0.0
  bitnami/appsmith/CHANGELOG.md
  bitnami/appsmith/Chart.lock
  bitnami/appsmith/Chart.yaml
  bitnami/appsmith/README.md
  bitnami/appsmith/values.yaml
Labels: verify, bitnami, appsmith

#29817 [bitnami/contour]: Fix invalid extraVolumeMounts
  bitnami/contour/CHANGELOG.md
  bitnami/contour/Chart.yaml
  bitnami/contour/templates/default-backend/deployment.yaml
Labels: verify, in-progress, contour

#29724 [bitnami/argo-cd] fix: provide a functional validation function for validation
  bitnami/argo-cd/CHANGELOG.md
  bitnami/argo-cd/Chart.yaml
  bitnami/argo-cd/templates/_helpers.tpl
Labels: verify, in-progress, argo-cd

#29725 [bitnami/redis] add extraPodSpec
  bitnami/redis/CHANGELOG.md
  bitnami/redis/Chart.yaml
  bitnami/redis/README.md
  bitnami/redis/templates/master/application.yaml
  bitnami/redis/templates/replicas/application.yaml
  bitnami/redis/templates/sentinel/statefulset.yaml
  bitnami/redis/values.yaml
Labels: verify, in-progress, redis

#29683 [bitnami/zookeeper] Rename metrics port and expose scheme, and tlsConfig for Istio compatibility
  bitnami/zookeeper/CHANGELOG.md
  bitnami/zookeeper/Chart.yaml
  bitnami/zookeeper/README.md
  bitnami/zookeeper/templates/metrics-svc.yaml
  bitnami/zookeeper/templates/servicemonitor.yaml
  bitnami/zookeeper/values.yaml
Labels: verify, in-progress, zookeeper

#29841 [bitnami/mariadb] add default binlog expiry configuration of 30 days
  bitnami/mariadb/CHANGELOG.md
  bitnami/mariadb/Chart.yaml
  bitnami/mariadb/values.yaml
Labels: verify, in-progress, mariadb

#29819 [bitnami/wildfly] fix annotations merging for management ingress
  bitnami/wildfly/CHANGELOG.md
  bitnami/wildfly/Chart.yaml
  bitnami/wildfly/templates/management-ingress.yaml
Labels: verify, in-progress, wildfly

#29818 [bitnami/contour] Expose NodePort for the metrics port in the Envoy service
  bitnami/contour/CHANGELOG.md
  bitnami/contour/Chart.yaml
  bitnami/contour/README.md
  bitnami/contour/templates/service_helpers.yaml
  bitnami/contour/values.yaml
Labels: verify, in-progress, contour

#29824 [bitnami/mongodb] Fixed awk script to extract in order to be more st…
  bitnami/mongodb/CHANGELOG.md
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/templates/replicaset/scripts-configmap.yaml
Labels: verify, in-progress, mongodb

#29811 [bitnami/jenkins] Fix: InitScripts, InitHookScripts
  bitnami/jenkins/CHANGELOG.md
  bitnami/jenkins/Chart.yaml
  bitnami/jenkins/templates/_helpers.tpl
  bitnami/jenkins/templates/deployment.yaml
  bitnami/jenkins/templates/init-hook-scripts-configmap.yaml
  bitnami/jenkins/templates/init-script-configmap.yaml
Labels: verify, in-progress, jenkins

#29870 [github-actions] Fix issue with hardcoded-images check
  .github/workflows/ci-pipeline.yml
Labels: verify, bitnami

#29479 [bitnami/common] Add the ability to specify namespaces for affinity
  bitnami/common/CHANGELOG.md
  bitnami/common/Chart.yaml
  bitnami/common/templates/_affinities.tpl
Labels: verify, in-progress, common

#29432 [bitnami/common] Drop unused custom empty password validators
  bitnami/common/CHANGELOG.md
  bitnami/common/Chart.yaml
  bitnami/common/templates/validations/_cassandra.tpl
  bitnami/common/templates/validations/_mongodb.tpl
  bitnami/common/templates/validations/_mysql.tpl
  bitnami/common/templates/validations/_postgresql.tpl
  bitnami/common/templates/validations/_redis.tpl
Labels: verify, in-progress, triage, common

#29871 [bitnami/nginx] Remove duplicated (and wrong) image in verification
  bitnami/nginx/CHANGELOG.md
  bitnami/nginx/Chart.yaml
  bitnami/nginx/templates/NOTES.txt
Labels: verify, nginx, bitnami

#29872 [bitnami/sealed-secrets] Fix combination of additionalNamespaces, rbac.clusterRole=false and rbac.namespacedRoles=true
  bitnami/sealed-secrets/CHANGELOG.md
  bitnami/sealed-secrets/Chart.yaml
  bitnami/sealed-secrets/templates/role.yaml
  bitnami/sealed-secrets/templates/rolebinding.yaml
Labels: verify, in-progress, sealed-secrets

#29556 [bitnami/contour] fixed wrong envoy-service-name arg value in contour when envoy service name is changed
  bitnami/contour/CHANGELOG.md
  bitnami/contour/Chart.yaml
  bitnami/contour/README.md
  bitnami/contour/templates/contour/deployment.yaml
  bitnami/contour/values.yaml
Labels: verify, in-progress, contour

#29873 [bitnami/etcd]: Allow overriding of snapshot command
  bitnami/etcd/CHANGELOG.md
  bitnami/etcd/Chart.yaml
  bitnami/etcd/README.md
  bitnami/etcd/templates/cronjob.yaml
  bitnami/etcd/values.yaml
Labels: verify, in-progress, etcd

#29874 [bitnami/discourse]: (bugfix) fix mount path on install-plugins init-container
  bitnami/discourse/CHANGELOG.md
  bitnami/discourse/Chart.yaml
  bitnami/discourse/templates/deployment.yaml
Labels: verify, bitnami, discourse

#29879 [bitnami/rabbitmq] Use common password/secrets manager to handle credentials
  bitnami/rabbitmq/CHANGELOG.md
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/templates/_helpers.tpl
  bitnami/rabbitmq/templates/secrets.yaml
  bitnami/rabbitmq/values.yaml
Labels: verify, in-progress, rabbitmq

#29849 [bitnami/thanos] Add customAutoScaling flag
  bitnami/thanos/CHANGELOG.md
  bitnami/thanos/Chart.yaml
  bitnami/thanos/README.md
  bitnami/thanos/templates/query/hpa.yaml
  bitnami/thanos/values.yaml
Labels: verify, in-progress, thanos

#29878 [grafana-loki] Fix loki config results_cache type embedded-cache
  bitnami/grafana-loki/CHANGELOG.md
  bitnami/grafana-loki/Chart.yaml
  bitnami/grafana-loki/values.yaml
Labels: verify, in-progress, grafana-loki

#29898 [bitnami/redis] Fix preExecCmds parameter
  bitnami/redis/CHANGELOG.md
  bitnami/redis/Chart.yaml
  bitnami/redis/templates/scripts-configmap.yaml
Labels: verify, bitnami, redis

#29911 [bitnami/apache] Remove wrong entries from image verification
  bitnami/apache/CHANGELOG.md
  bitnami/apache/Chart.yaml
  bitnami/apache/templates/NOTES.txt
Labels: verify, apache, bitnami

#29916 [bitnami/pytorch] Remove wrong entries from image verification
  bitnami/pytorch/CHANGELOG.md
  bitnami/pytorch/Chart.yaml
  bitnami/pytorch/templates/NOTES.txt
Labels: verify, bitnami, pytorch

#29895 [bitnami/etcd] fix etcd cronjob volume
  bitnami/etcd/CHANGELOG.md
  bitnami/etcd/Chart.yaml
  bitnami/etcd/templates/cronjob.yaml
Labels: verify, in-progress, etcd

#29865 [bitnami/postgresql-ha] Fix authentication and add configuration options to backup cronjob
  bitnami/postgresql-ha/CHANGELOG.md
  bitnami/postgresql-ha/Chart.yaml
  bitnami/postgresql-ha/README.md
  bitnami/postgresql-ha/templates/_helpers.tpl
  bitnami/postgresql-ha/templates/backup/cronjob.yaml
  bitnami/postgresql-ha/values.yaml
Labels: verify, in-progress, postgresql-ha

#29900 [bitnami/mastodon] feat!: :sparkles: :boom: :recycle: Bump appVersion to 4.3 and refactor init containers
  .vib/mastodon/cypress/cypress/support/commands.js
  bitnami/mastodon/CHANGELOG.md
  bitnami/mastodon/Chart.yaml
  bitnami/mastodon/README.md
  bitnami/mastodon/templates/NOTES.txt
  bitnami/mastodon/templates/_helpers.tpl
  bitnami/mastodon/templates/default-secret.yaml
  bitnami/mastodon/templates/init-job/init-job-configmap.yaml
  bitnami/mastodon/templates/init-job/init-job.yaml
  bitnami/mastodon/templates/sidekiq/deployment.yaml
  bitnami/mastodon/templates/streaming/deployment.yaml
  bitnami/mastodon/templates/web/deployment.yaml
  bitnami/mastodon/values.yaml
Labels: verify, bitnami, mastodon

#29912 [bitnami/aspnet-core] Remove wrong entries from image verification
  bitnami/aspnet-core/CHANGELOG.md
  bitnami/aspnet-core/Chart.yaml
  bitnami/aspnet-core/templates/NOTES.txt
Labels: verify, bitnami, aspnet-core

#29897 [bitnami/minio] Support selector for `volumeClaimTemplates`
  bitnami/minio/CHANGELOG.md
  bitnami/minio/Chart.yaml
  bitnami/minio/README.md
  bitnami/minio/templates/distributed/statefulset.yaml
  bitnami/minio/values.yaml
Labels: verify, in-progress, minio

#29939 [bitnami/clickhouse] Allow change ClickHouse cluster name
  bitnami/clickhouse/CHANGELOG.md
  bitnami/clickhouse/Chart.yaml
  bitnami/clickhouse/README.md
  bitnami/clickhouse/values.yaml
Labels: verify, in-progress, clickhouse

#29914 [bitnami/janusgraph] Remove wrong entries from image verification
  bitnami/janusgraph/CHANGELOG.md
  bitnami/janusgraph/Chart.yaml
  bitnami/janusgraph/templates/NOTES.txt
Labels: verify, bitnami, janusgraph

#29915 [bitnami/neo4j] Remove wrong entries from image verification
  bitnami/neo4j/CHANGELOG.md
  bitnami/neo4j/Chart.yaml
  bitnami/neo4j/templates/NOTES.txt
Labels: verify, bitnami, neo4j

#29913 [bitnami/chainloop] Remove wrong entries from image verification
  bitnami/chainloop/CHANGELOG.md
  bitnami/chainloop/Chart.yaml
  bitnami/chainloop/templates/NOTES.txt
Labels: verify, bitnami, chainloop

#30008 [bitnami/deepspeed] Improve Goss tests reliability
  .vib/deepspeed/goss/goss.yaml
  bitnami/deepspeed/CHANGELOG.md
  bitnami/deepspeed/Chart.yaml
Labels: verify, bitnami

#29963 [bitnami/template] Use common password manager for password secret template
  template/CHART_NAME/templates/secret.yaml
Labels: verify, in-progress

#29890 [bitnami/contour]: Fix invalid volume indentation
  bitnami/contour/CHANGELOG.md
  bitnami/contour/Chart.yaml
  bitnami/contour/templates/default-backend/deployment.yaml
Labels: verify, in-progress, contour

#29993 [bitnami/nginx-ingress-controller] Add TCP/UDP ports name prefix param
  bitnami/nginx-ingress-controller/CHANGELOG.md
  bitnami/nginx-ingress-controller/Chart.yaml
  bitnami/nginx-ingress-controller/README.md
  bitnami/nginx-ingress-controller/templates/controller-service.yaml
  bitnami/nginx-ingress-controller/values.yaml
Labels: verify, in-progress, nginx-ingress-controller

#30026 [bitnami/discourse] include discourse.extraEnvVars in the "install-plugins" init-container
  bitnami/discourse/CHANGELOG.md
  bitnami/discourse/Chart.yaml
  bitnami/discourse/templates/deployment.yaml
Labels: triage, discourse

#29967 [bitnami/etcd]: Automatic etcd defragmentation
  bitnami/etcd/CHANGELOG.md
  bitnami/etcd/Chart.yaml
  bitnami/etcd/README.md
  bitnami/etcd/templates/NOTES.txt
  bitnami/etcd/templates/cronjob-defrag.yaml
  bitnami/etcd/values.yaml
Labels: verify, in-progress, etcd

#30016 [bitnami/consul] Change Configmap Template
  bitnami/consul/CHANGELOG.md
  bitnami/consul/Chart.yaml
  bitnami/consul/templates/configmap.yaml
Labels: verify, in-progress, consul

#30031 [bitnami/fluentd] Major release 7.x.x
  bitnami/fluentd/CHANGELOG.md
  bitnami/fluentd/Chart.yaml
  bitnami/fluentd/README.md
  bitnami/fluentd/templates/NOTES.txt
  bitnami/fluentd/templates/_helpers.tpl
  bitnami/fluentd/templates/aggregator-statefulset.yaml
  bitnami/fluentd/templates/forwarder-daemonset.yaml
  bitnami/fluentd/values.yaml
Labels: verify, bitnami, fluentd

#30034 [bitnami/spring-cloud-dataflow] fix: :bug: Add missing /.m2 emptyDir
  bitnami/spring-cloud-dataflow/CHANGELOG.md
  bitnami/spring-cloud-dataflow/Chart.yaml
  bitnami/spring-cloud-dataflow/templates/server/deployment.yaml
Labels: verify, bitnami, spring-cloud-dataflow

#30025 [bitnami/valkey-cluster] Update all the references from to master/slave to primary/replica
  bitnami/valkey-cluster/CHANGELOG.md
  bitnami/valkey-cluster/Chart.yaml
  bitnami/valkey-cluster/README.md
  bitnami/valkey-cluster/templates/configmap.yaml
  bitnami/valkey-cluster/templates/update-cluster.yaml
  bitnami/valkey-cluster/values.yaml
Labels: verify, bitnami, valkey-cluster

#30028 [bitnami/postgresql-ha] Fix pgpool default readinessProbe
  bitnami/postgresql-ha/CHANGELOG.md
  bitnami/postgresql-ha/Chart.yaml
  bitnami/postgresql-ha/templates/_helpers.tpl
  bitnami/postgresql-ha/templates/pgpool/deployment.yaml
Labels: verify, in-progress, postgresql-ha

#30052 [bitnami/etcd]: Fix podLabels bug
  bitnami/etcd/CHANGELOG.md
  bitnami/etcd/Chart.yaml
  bitnami/etcd/templates/cronjob-defrag.yaml
Labels: verify, in-progress, etcd

#30060 fixed doc string for mlflow container security context; fixes #30059
  bitnami/mlflow/CHANGELOG.md
  bitnami/mlflow/Chart.yaml
  bitnami/mlflow/README.md
  bitnami/mlflow/values.yaml
Labels: verify, in-progress, mlflow

#29856 [bitnami/thanos] Add compactor dataDir setting
  bitnami/thanos/CHANGELOG.md
  bitnami/thanos/Chart.yaml
  bitnami/thanos/README.md
  bitnami/thanos/templates/compactor/_pod-template.tpl
  bitnami/thanos/values.yaml
Labels: verify, in-progress, thanos

#29266 [bitnami/external-dns] chore: :wrench: :construction_worker: Re-enable CRD automation
  bitnami/external-dns/CHANGELOG.md
  bitnami/external-dns/Chart.yaml
  bitnami/external-dns/templates/crds/crd.yaml
Labels: stale, verify, bitnami, external-dns

#29584 [bitnami/mongodb] fix: initial primary host variable for arbiter and hidden replicas
  bitnami/mongodb/CHANGELOG.md
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/README.md
  bitnami/mongodb/templates/_helpers.tpl
  bitnami/mongodb/templates/arbiter/statefulset.yaml
  bitnami/mongodb/templates/hidden/headless-svc.yaml
  bitnami/mongodb/templates/hidden/statefulset.yaml
  bitnami/mongodb/templates/replicaset/statefulset.yaml
  bitnami/mongodb/values.yaml
Labels: verify, in-progress, mongodb

#30109 [bitnami/solr] chore: Increase ginkgo test timeout
  .vib/solr/ginkgo/solr_suite_test.go
  bitnami/solr/CHANGELOG.md
  bitnami/solr/Chart.yaml
Labels: verify, bitnami, solr

#30114 [bitnami/external-dns] fix: secret not getting created when pihole password value is set
  bitnami/external-dns/CHANGELOG.md
  bitnami/external-dns/Chart.yaml
  bitnami/external-dns/templates/_helpers.tpl
Labels: verify, in-progress, external-dns

#30079 [bitnami/rabbitmq] Allow missing memory limit when memoryHighWatermark is absolute
  bitnami/rabbitmq/CHANGELOG.md
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/templates/_helpers.tpl
  bitnami/rabbitmq/values.yaml
Labels: verify, in-progress, rabbitmq

#28681 [bitnami/external-dns] Allow rfc2136-zone to specify multiple zones
  bitnami/external-dns/CHANGELOG.md
  bitnami/external-dns/Chart.yaml
  bitnami/external-dns/templates/deployment.yaml
  bitnami/external-dns/values.yaml
Labels: verify, in-progress, external-dns

#30112 [bitnami/grafana-loki] Fix conditional on ruler PDB creation
  bitnami/grafana-loki/CHANGELOG.md
  bitnami/grafana-loki/Chart.yaml
  bitnami/grafana-loki/templates/ruler/pdb.yaml
Labels: verify, in-progress, grafana-loki

#30126 [bitnami/deepspeed] chore: increase client memory
  .vib/deepspeed/runtime-parameters.yaml
  bitnami/deepspeed/CHANGELOG.md
  bitnami/deepspeed/Chart.yaml
Labels: verify, bitnami, deepspeed

#30091 [bitnami/valkey] Fix sentinel.service.createprimary config to sentinel.service.createPrimary to work
  bitnami/valkey/CHANGELOG.md
  bitnami/valkey/Chart.yaml
  bitnami/valkey/README.md
  bitnami/valkey/values.yaml
Labels: verify, in-progress, valkey

#30127 [bitnami/kube-prometheus] Fix spec for thanos sidecar if no extraEnv is provided
  bitnami/kube-prometheus/CHANGELOG.md
  bitnami/kube-prometheus/Chart.yaml
  bitnami/kube-prometheus/templates/prometheus/prometheus.yaml
Labels: verify, in-progress, kube-prometheus

#30080 [bitnami/tomcat] Make existing secret key names choosable. Allow tomcat username to be set from secret
  bitnami/tomcat/CHANGELOG.md
  bitnami/tomcat/Chart.yaml
  bitnami/tomcat/README.md
  bitnami/tomcat/templates/_helpers.tpl
  bitnami/tomcat/templates/_pod.tpl
  bitnami/tomcat/templates/secrets.yaml
  bitnami/tomcat/values.yaml
Labels: verify, in-progress, tomcat

#30115 [bitnami/mongodb] Fix render values of resources on init container
  bitnami/mongodb/CHANGELOG.md
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/templates/_helpers.tpl
Labels: verify, in-progress, mongodb

#30113 [bitnami/postgresql] Added support for `namespaceOverride`
  bitnami/postgresql/CHANGELOG.md
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/README.md
  bitnami/postgresql/templates/NOTES.txt
  bitnami/postgresql/templates/backup/cronjob.yaml
  bitnami/postgresql/templates/backup/pvc.yaml
  bitnami/postgresql/templates/primary/configmap.yaml
  bitnami/postgresql/templates/primary/extended-configmap.yaml
  bitnami/postgresql/templates/primary/initialization-configmap.yaml
  bitnami/postgresql/templates/primary/metrics-configmap.yaml
  bitnami/postgresql/templates/primary/metrics-svc.yaml
  bitnami/postgresql/templates/primary/pdb.yaml
  bitnami/postgresql/templates/primary/preinitialization-configmap.yaml
  bitnami/postgresql/templates/primary/servicemonitor.yaml
  bitnami/postgresql/templates/primary/statefulset.yaml
  bitnami/postgresql/templates/primary/svc-headless.yaml
  bitnami/postgresql/templates/primary/svc.yaml
  bitnami/postgresql/templates/prometheusrule.yaml
  bitnami/postgresql/templates/psp.yaml
  bitnami/postgresql/templates/read/extended-configmap.yaml
  bitnami/postgresql/templates/read/metrics-configmap.yaml
  bitnami/postgresql/templates/read/metrics-svc.yaml
  bitnami/postgresql/templates/read/pdb.yaml
  bitnami/postgresql/templates/read/servicemonitor.yaml
  bitnami/postgresql/templates/read/statefulset.yaml
  bitnami/postgresql/templates/read/svc-headless.yaml
  bitnami/postgresql/templates/read/svc.yaml
  bitnami/postgresql/templates/role.yaml
  bitnami/postgresql/templates/rolebinding.yaml
  bitnami/postgresql/templates/secrets.yaml
  bitnami/postgresql/templates/serviceaccount.yaml
  bitnami/postgresql/templates/tls-secrets.yaml
  bitnami/postgresql/values.yaml
Labels: verify, in-progress, postgresql

#30131 [bitnami/kibana] set base host to 0.0.0.0
  bitnami/kibana/CHANGELOG.md
  bitnami/kibana/Chart.yaml
  bitnami/kibana/templates/configmap.yaml
  bitnami/kibana/values.yaml
Labels: verify, in-progress, kibana

#30137 [bitnami/airflow] Use a single Airflow image
  .vib/airflow/cypress/cypress/e2e/airflow.cy.js
  .vib/airflow/cypress/cypress/fixtures/DAGs.json
  .vib/airflow/runtime-parameters.yaml
  bitnami/airflow/CHANGELOG.md
  bitnami/airflow/Chart.yaml
  bitnami/airflow/README.md
  bitnami/airflow/files/dags/README.md
  bitnami/airflow/templates/NOTES.txt
  bitnami/airflow/templates/_git_helpers.tpl
  bitnami/airflow/templates/_helpers.tpl
  bitnami/airflow/templates/_init_containers_sidecars.tpl
  bitnami/airflow/templates/config/configmap.yaml
  bitnami/airflow/templates/config/secret-external-db.yaml
  bitnami/airflow/templates/config/secret-external-redis.yaml
  bitnami/airflow/templates/config/secret-ldap.yaml
  bitnami/airflow/templates/config/secret.yaml
  bitnami/airflow/templates/metrics/deployment.yaml
  bitnami/airflow/templates/metrics/service.yaml
  bitnami/airflow/templates/metrics/servicemonitor.yaml
  bitnami/airflow/templates/rbac/role.yaml
  bitnami/airflow/templates/rbac/rolebinding.yaml
  bitnami/airflow/templates/rbac/serviceaccount.yaml
  bitnami/airflow/templates/scheduler/deployment.yaml
  bitnami/airflow/templates/scheduler/networkpolicy.yaml
  bitnami/airflow/templates/scheduler/poddisruptionbudget.yaml
  bitnami/airflow/templates/scheduler/service-headless.yaml
  bitnami/airflow/templates/web/deployment.yaml
  bitnami/airflow/templates/web/ingress.yaml
  bitnami/airflow/templates/web/networkpolicy.yaml
  bitnami/airflow/templates/web/poddisruptionbudget.yaml
  bitnami/airflow/templates/web/service.yaml
  bitnami/airflow/templates/web/tls-secrets.yaml
  bitnami/airflow/templates/worker/horizontalpodautoscaler.yaml
  bitnami/airflow/templates/worker/networkpolicy.yaml
  bitnami/airflow/templates/worker/poddisruptionbudget.yaml
  bitnami/airflow/templates/worker/service-headless.yaml
  bitnami/airflow/templates/worker/statefulset.yaml
  bitnami/airflow/values.yaml
Labels: verify, airflow, bitnami

#30155 [bitnami/airflow] Split init containers
  bitnami/airflow/CHANGELOG.md
  bitnami/airflow/Chart.yaml
  bitnami/airflow/templates/_init_containers_sidecars.tpl
  bitnami/airflow/templates/scheduler/deployment.yaml
  bitnami/airflow/templates/web/deployment.yaml
  bitnami/airflow/templates/worker/statefulset.yaml
  bitnami/airflow/values.yaml
Labels: verify, airflow, bitnami
