Repository bitnami/charts, pull requests merged in 2025-06, with the labels that each got.

#34090 [bitnami/mlflow] feat: major version due to Minio major bump
  bitnami/mlflow/CHANGELOG.md
  bitnami/mlflow/Chart.lock
  bitnami/mlflow/Chart.yaml
  bitnami/mlflow/README.md
  bitnami/mlflow/values.yaml
Labels: verify, bitnami, mlflow

#34088 [bitnami/mastodon] feat: major version due to Minio major bump
  bitnami/mastodon/CHANGELOG.md
  bitnami/mastodon/Chart.lock
  bitnami/mastodon/Chart.yaml
  bitnami/mastodon/README.md
  bitnami/mastodon/values.yaml
Labels: verify, bitnami, mastodon

#34087 [bitnami/grafana-mimir] feat: major version due to Minio major bump
  bitnami/grafana-mimir/CHANGELOG.md
  bitnami/grafana-mimir/Chart.lock
  bitnami/grafana-mimir/Chart.yaml
  bitnami/grafana-mimir/README.md
  bitnami/grafana-mimir/values.yaml
Labels: verify, bitnami, grafana-mimir

#34086 [bitnami/dremio] feat: major version due to Minio major bump
  bitnami/dremio/CHANGELOG.md
  bitnami/dremio/Chart.lock
  bitnami/dremio/Chart.yaml
  bitnami/dremio/README.md
  bitnami/dremio/values.yaml
Labels: verify, bitnami, dremio

#34111 [bitnami/harbor] feat: add upstream features
  bitnami/harbor/CHANGELOG.md
  bitnami/harbor/Chart.yaml
  bitnami/harbor/README.md
  bitnami/harbor/templates/registry/registry-cm.yaml
  bitnami/harbor/values.yaml
Labels: verify, bitnami, harbor

#33803 [bitnami/mongodb] generate-tls-certs init container should respect tls securityContext
  bitnami/mongodb/CHANGELOG.md
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/templates/arbiter/statefulset.yaml
  bitnami/mongodb/templates/backup/cronjob.yaml
  bitnami/mongodb/templates/hidden/statefulset.yaml
Labels: verify, in-progress, mongodb

#34227 [bitnami/harbor] bugfix: amend ConfigMap & Secret references
  bitnami/harbor/CHANGELOG.md
  bitnami/harbor/Chart.yaml
  bitnami/harbor/templates/exporter/exporter-dpl.yaml
Labels: verify, bitnami, harbor

#34225 [bitnami/clickhouse] Add CHOWN capability to volume-permissions init container
  bitnami/clickhouse/CHANGELOG.md
  bitnami/clickhouse/Chart.yaml
  bitnami/clickhouse/README.md
  bitnami/clickhouse/values.yaml
Labels: verify, in-progress, clickhouse

#34108 [bitnami/redis] Service Monitor support tlsConfig
  bitnami/redis/CHANGELOG.md
  bitnami/redis/Chart.yaml
  bitnami/redis/README.md
  bitnami/redis/templates/podmonitor.yaml
  bitnami/redis/templates/servicemonitor.yaml
  bitnami/redis/values.schema.json
  bitnami/redis/values.yaml
Labels: verify, in-progress, redis

#34232 [bitnami/minio-operator] Fix image descriptions
  bitnami/minio-operator/README.md
  bitnami/minio-operator/values.yaml
Labels: verify, bitnami, minio-operator

#33752 [bitnami/dremio] Fix _init_containers.tpl incorrect variable
  bitnami/dremio/CHANGELOG.md
  bitnami/dremio/Chart.yaml
  bitnami/dremio/templates/_init_containers.tpl
Labels: verify, dremio

#34245 [bitnami/schema-registry] Remove duplicate @param entries from chart
  bitnami/schema-registry/CHANGELOG.md
  bitnami/schema-registry/Chart.yaml
  bitnami/schema-registry/README.md
  bitnami/schema-registry/values.yaml
Labels: verify, triage, schema-registry

#33894 [bitnami/kube-prometheus] add thanos ruler CR
  bitnami/kube-prometheus/CHANGELOG.md
  bitnami/kube-prometheus/Chart.yaml
  bitnami/kube-prometheus/README.md
  bitnami/kube-prometheus/templates/NOTES.txt
  bitnami/kube-prometheus/templates/_helpers.tpl
  bitnami/kube-prometheus/templates/prometheus/ingress-tls-secret.yaml
  bitnami/kube-prometheus/templates/thanos-ruler/ingress.yaml
  bitnami/kube-prometheus/templates/thanos-ruler/networkpolicy.yaml
  bitnami/kube-prometheus/templates/thanos-ruler/pdb.yaml
  bitnami/kube-prometheus/templates/thanos-ruler/secret-alertmanager-config.yaml
  bitnami/kube-prometheus/templates/thanos-ruler/secret-objectstorage-config.yaml
  bitnami/kube-prometheus/templates/thanos-ruler/secret-query-config.yaml
  bitnami/kube-prometheus/templates/thanos-ruler/secrets-tls.yaml
  bitnami/kube-prometheus/templates/thanos-ruler/service-headless.yaml
  bitnami/kube-prometheus/templates/thanos-ruler/service.yaml
  bitnami/kube-prometheus/templates/thanos-ruler/serviceaccount.yaml
  bitnami/kube-prometheus/templates/thanos-ruler/servicemonitor.yaml
  bitnami/kube-prometheus/templates/thanos-ruler/thanosruler.yaml
  bitnami/kube-prometheus/values.yaml
Labels: verify, in-progress, kube-prometheus

#34269 [bitnami/thanos] Disable MinIO Console
  bitnami/thanos/CHANGELOG.md
  bitnami/thanos/Chart.yaml
  bitnami/thanos/README.md
  bitnami/thanos/values.yaml
Labels: verify, bitnami, thanos

#34265 [bitnami/dremio] Disable MinIO Console
  bitnami/dremio/CHANGELOG.md
  bitnami/dremio/Chart.yaml
  bitnami/dremio/README.md
  bitnami/dremio/values.yaml
Labels: verify, bitnami, dremio

#34266 [bitnami/mastodon] Disable MinIO Console
  bitnami/mastodon/CHANGELOG.md
  bitnami/mastodon/Chart.yaml
  bitnami/mastodon/README.md
  bitnami/mastodon/values.yaml
Labels: verify, bitnami, mastodon

#33960 Remove Spring Cloud
  .vib/spring-cloud-dataflow/cypress/cypress.config.js
  .vib/spring-cloud-dataflow/cypress/cypress/e2e/spring_cloud_dataflow.cy.js
  .vib/spring-cloud-dataflow/cypress/cypress/fixtures/imports.json
  .vib/spring-cloud-dataflow/cypress/cypress/fixtures/streams.json
  .vib/spring-cloud-dataflow/cypress/cypress/fixtures/task-to-import.json
  .vib/spring-cloud-dataflow/cypress/cypress/support/commands.js
  .vib/spring-cloud-dataflow/cypress/cypress/support/e2e.js
  .vib/spring-cloud-dataflow/cypress/cypress/support/utils.js
  .vib/spring-cloud-dataflow/goss/goss.yaml
  .vib/spring-cloud-dataflow/runtime-parameters.yaml
  .vib/spring-cloud-dataflow/vib-publish.json
  .vib/spring-cloud-dataflow/vib-verify.json
  bitnami/spring-cloud-dataflow/.helmignore
  bitnami/spring-cloud-dataflow/CHANGELOG.md
  bitnami/spring-cloud-dataflow/Chart.lock
  bitnami/spring-cloud-dataflow/Chart.yaml
  bitnami/spring-cloud-dataflow/README.md
  bitnami/spring-cloud-dataflow/templates/NOTES.txt
  bitnami/spring-cloud-dataflow/templates/_helpers.tpl
  bitnami/spring-cloud-dataflow/templates/externalrabbitmq-secrets.yaml
  bitnami/spring-cloud-dataflow/templates/extra-list.yaml
  bitnami/spring-cloud-dataflow/templates/prometheus-proxy/deployment.yaml
  bitnami/spring-cloud-dataflow/templates/prometheus-proxy/hpa.yaml
  bitnami/spring-cloud-dataflow/templates/prometheus-proxy/networkpolicy.yaml
  bitnami/spring-cloud-dataflow/templates/prometheus-proxy/pdb.yaml
  bitnami/spring-cloud-dataflow/templates/prometheus-proxy/service.yaml
  bitnami/spring-cloud-dataflow/templates/prometheus-proxy/servicemonitor-metrics.yaml
  bitnami/spring-cloud-dataflow/templates/role.yaml
  bitnami/spring-cloud-dataflow/templates/rolebinding.yaml
  bitnami/spring-cloud-dataflow/templates/scripts-configmap.yaml
  bitnami/spring-cloud-dataflow/templates/server/configmap.yaml
  bitnami/spring-cloud-dataflow/templates/server/deployment.yaml
  bitnami/spring-cloud-dataflow/templates/server/externaldb-secret.yaml
  bitnami/spring-cloud-dataflow/templates/server/hpa.yaml
  bitnami/spring-cloud-dataflow/templates/server/ingress.yaml
  bitnami/spring-cloud-dataflow/templates/server/networkpolicy.yaml
  bitnami/spring-cloud-dataflow/templates/server/pdb.yaml
  bitnami/spring-cloud-dataflow/templates/server/service.yaml
  bitnami/spring-cloud-dataflow/templates/server/tls-secret.yaml
  bitnami/spring-cloud-dataflow/templates/serviceaccount.yaml
  bitnami/spring-cloud-dataflow/templates/skipper/configmap.yaml
  bitnami/spring-cloud-dataflow/templates/skipper/deployment.yaml
  bitnami/spring-cloud-dataflow/templates/skipper/externaldb-secret.yaml
  bitnami/spring-cloud-dataflow/templates/skipper/hpa.yaml
  bitnami/spring-cloud-dataflow/templates/skipper/networkpolicy.yaml
  bitnami/spring-cloud-dataflow/templates/skipper/pdb.yaml
  bitnami/spring-cloud-dataflow/templates/skipper/service.yaml
  bitnami/spring-cloud-dataflow/values.schema.json
  bitnami/spring-cloud-dataflow/values.yaml
Labels: verify, bitnami

#34290 [bitnami/grafana-alloy] Adapt tests for Openshift
  .vib/grafana-alloy/goss/goss.yaml
Labels: verify, bitnami

#34057 [bitnami/postgresql] Fix incorrect value paths in password update job documentation
  bitnami/postgresql/README.md
Labels: verify, solved, postgresql

#33957 [bitnami/redis] Redis Helm Chart probes are failing
  bitnami/redis/CHANGELOG.md
  bitnami/redis/Chart.yaml
  bitnami/redis/templates/master/application.yaml
  bitnami/redis/templates/replicas/application.yaml
  bitnami/redis/templates/sentinel/statefulset.yaml
Labels: verify, solved, redis

#34305 [bitnami/grafana-alloy] Avoid ConfigMap creation if existing one
  bitnami/grafana-alloy/CHANGELOG.md
  bitnami/grafana-alloy/Chart.yaml
  bitnami/grafana-alloy/README.md
  bitnami/grafana-alloy/templates/configmap.yaml
  bitnami/grafana-alloy/values.yaml
Labels: verify, solved, bitnami, grafana-alloy

#34346 [bitnami/grafana-alloy] Replace configmap with secret for configuration
  bitnami/grafana-alloy/CHANGELOG.md
  bitnami/grafana-alloy/Chart.yaml
  bitnami/grafana-alloy/README.md
  bitnami/grafana-alloy/templates/_helpers.tpl
  bitnami/grafana-alloy/templates/application.yaml
  bitnami/grafana-alloy/templates/secret.yaml
  bitnami/grafana-alloy/values.yaml
Labels: verify, bitnami, grafana-alloy

#34289 [bitnami/grafana-alloy] Allow tpl ingress hostname
  bitnami/grafana-alloy/CHANGELOG.md
  bitnami/grafana-alloy/Chart.yaml
  bitnami/grafana-alloy/templates/ingress.yaml
Labels: verify, in-progress, grafana-alloy

#34311 [bitnami/minio] fix: chown in the volume-permissions will only work if the CHOWN capability is added
  bitnami/minio/CHANGELOG.md
  bitnami/minio/Chart.yaml
  bitnami/minio/README.md
  bitnami/minio/values.yaml
Labels: verify, in-progress, minio

#34344 feat: update chart template with some of the latest standards
  template/CHART_NAME/templates/NOTES.txt
  template/CHART_NAME/templates/_helpers.tpl
  template/CHART_NAME/templates/_init_containers.tpl
  template/CHART_NAME/templates/daemonset.yaml
  template/CHART_NAME/templates/deployment.yaml
  template/CHART_NAME/templates/networkpolicy.yaml
  template/CHART_NAME/templates/statefulset.yaml
  template/CHART_NAME/values.yaml
Labels: verify, bitnami

#34372 [bitnami/common] bugfix: common.capabilities.vpa.apiVersion context
  bitnami/common/CHANGELOG.md
  bitnami/common/Chart.yaml
  bitnami/common/templates/_capabilities.tpl
Labels: verify, bitnami, common

#34381 [bitnami/victoriametrics] bugfix: common.capabilities.vpa.apiVersion context
  bitnami/victoriametrics/CHANGELOG.md
  bitnami/victoriametrics/Chart.lock
  bitnami/victoriametrics/Chart.yaml
  bitnami/victoriametrics/templates/vmagent/vpa.yaml
  bitnami/victoriametrics/templates/vmalert/vpa.yaml
  bitnami/victoriametrics/templates/vmauth/vpa.yaml
  bitnami/victoriametrics/templates/vminsert/vpa.yaml
  bitnami/victoriametrics/templates/vmselect/vpa.yaml
  bitnami/victoriametrics/templates/vmstorage/vpa.yaml
Labels: verify, bitnami, victoriametrics

#34380 [bitnami/dremio] bugfix: common.capabilities.vpa.apiVersion context
  bitnami/dremio/CHANGELOG.md
  bitnami/dremio/Chart.lock
  bitnami/dremio/Chart.yaml
  bitnami/dremio/templates/coordinator/vpa.yaml
  bitnami/dremio/templates/executor/vpa.yaml
  bitnami/dremio/templates/master-coordinator/vpa.yaml
Labels: verify, bitnami, dremio

#34511 fix(ci-pipeline): Add comment with errors only when MAX_RUNS_ATTEMPTS is reached
  .github/workflows/ci-pipeline.yml
  .github/workflows/retry-failed-releases.yml
Labels: verify, bitnami

#34541 [bitnami/grafana] Templated Rendering of Grafana Datasource SecretName
  bitnami/grafana/CHANGELOG.md
  bitnami/grafana/Chart.yaml
  bitnami/grafana/templates/deployment.yaml
  bitnami/grafana/templates/serviceaccount.yaml
Labels: verify, in-progress, grafana

#34581 [bitnami/airflow] Configure correct section for api/web secret_key
  bitnami/airflow/CHANGELOG.md
  bitnami/airflow/Chart.yaml
  bitnami/airflow/templates/_helpers.tpl
Labels: verify, airflow, bitnami

#34297 [template] move apiVersion on first element (or kind to second)
  template/CHART_NAME/templates/clusterrolebinding.yaml
  template/CHART_NAME/templates/networkpolicy.yaml
  template/CHART_NAME/templates/pvc.yaml
  template/CHART_NAME/templates/role.yaml
Labels: in-progress

#34508 [bitnami/phpmyadmin] Add support for overriding service.targetPort in phpMyAdmin chart
  bitnami/phpmyadmin/CHANGELOG.md
  bitnami/phpmyadmin/Chart.yaml
  bitnami/phpmyadmin/README.md
  bitnami/phpmyadmin/templates/service.yaml
  bitnami/phpmyadmin/values.yaml
Labels: verify, in-progress, phpmyadmin

#34584 [bitnami/nessie]fix(serviceMonitor): Amend selector
  bitnami/nessie/CHANGELOG.md
  bitnami/nessie/Chart.yaml
  bitnami/nessie/templates/service-management.yaml
  bitnami/nessie/templates/servicemonitor.yaml
Labels: verify, bitnami, nessie

#34439 [bitnami/mongodb-sharded] predictable port number for metrics
  bitnami/mongodb-sharded/CHANGELOG.md
  bitnami/mongodb-sharded/Chart.yaml
  bitnami/mongodb-sharded/README.md
  bitnami/mongodb-sharded/templates/mongos/mongos-service.yaml
  bitnami/mongodb-sharded/values.yaml
Labels: verify, in-progress, mongodb-sharded

#34560 [bitnami/airflow] Move venv to emptydir volume
  bitnami/airflow/CHANGELOG.md
  bitnami/airflow/Chart.lock
  bitnami/airflow/Chart.yaml
  bitnami/airflow/README.md
  bitnami/airflow/templates/_init_containers_sidecars.tpl
  bitnami/airflow/templates/config/configmap-pod-template.yaml
  bitnami/airflow/templates/dag-processor/deployment.yaml
  bitnami/airflow/templates/scheduler/deployment.yaml
  bitnami/airflow/templates/triggerer/statefulset.yaml
  bitnami/airflow/templates/web/deployment.yaml
  bitnami/airflow/templates/worker/statefulset.yaml
  bitnami/airflow/values.yaml
Labels: verify, airflow, bitnami

#32857 [bitnami/postgresql-ha] PGPOOL_POSTGRES_PASSWORD mapping from postgres-password
  bitnami/postgresql-ha/CHANGELOG.md
  bitnami/postgresql-ha/Chart.yaml
  bitnami/postgresql-ha/templates/pgpool/deployment.yaml
Labels: verify, in-progress, postgresql-ha

#34617 [bitnami/argo-cd] Update dependencies
  bitnami/argo-cd/CHANGELOG.md
  bitnami/argo-cd/Chart.lock
  bitnami/argo-cd/Chart.yaml
Labels: verify, bitnami, argo-cd

#34616 [bitnami/rabbitmq] Update dependencies
  bitnami/rabbitmq/CHANGELOG.md
  bitnami/rabbitmq/Chart.lock
  bitnami/rabbitmq/Chart.yaml
Labels: verify, bitnami, rabbitmq

#34629 [bitnami/mlflow] Create flask-server-secret-key when upgrading
  bitnami/mlflow/CHANGELOG.md
  bitnami/mlflow/Chart.lock
  bitnami/mlflow/Chart.yaml
  bitnami/mlflow/templates/tracking/auth-secret.yaml
Labels: verify, bitnami, mlflow

#34631 [bitnami/moodle] Upgrade MariaDB 11.8
  bitnami/moodle/CHANGELOG.md
  bitnami/moodle/Chart.lock
  bitnami/moodle/Chart.yaml
  bitnami/moodle/README.md
Labels: verify, moodle, bitnami

#34633 [bitnami/redmine] Upgrade MariaDB 11.8
  bitnami/redmine/CHANGELOG.md
  bitnami/redmine/Chart.lock
  bitnami/redmine/Chart.yaml
  bitnami/redmine/README.md
Labels: verify, bitnami, redmine

#34632 [bitnami/drupal] Upgrade MariaDB 11.8
  bitnami/drupal/CHANGELOG.md
  bitnami/drupal/Chart.lock
  bitnami/drupal/Chart.yaml
  bitnami/drupal/README.md
Labels: verify, bitnami, drupal

#34636 [bitnami/phpmyadmin] Upgrade MariaDB 11.8
  bitnami/phpmyadmin/CHANGELOG.md
  bitnami/phpmyadmin/Chart.lock
  bitnami/phpmyadmin/Chart.yaml
  bitnami/phpmyadmin/README.md
Labels: verify, bitnami, phpmyadmin

#34637 [bitnami/seaweedfs] Upgrade MariaDB 11.8
  bitnami/seaweedfs/CHANGELOG.md
  bitnami/seaweedfs/Chart.lock
  bitnami/seaweedfs/Chart.yaml
  bitnami/seaweedfs/README.md
Labels: verify, bitnami, seaweedfs

#34635 [bitnami/ejbca] Upgrade MariaDB 11.8
  bitnami/ejbca/CHANGELOG.md
  bitnami/ejbca/Chart.lock
  bitnami/ejbca/Chart.yaml
  bitnami/ejbca/README.md
Labels: verify, bitnami, ejbca

#34641 [bitnami/valkey] Fix key on condition to create PodDisruptionBudget
  bitnami/valkey/CHANGELOG.md
  bitnami/valkey/Chart.yaml
  bitnami/valkey/templates/primary/pdb.yaml
Labels: verify, in-progress, valkey

#34580 [bitnami/minio] Adapt Console Deployment's PodSecurityContext for OpenShift
  bitnami/minio/CHANGELOG.md
  bitnami/minio/Chart.lock
  bitnami/minio/Chart.yaml
  bitnami/minio/templates/console/deployment.yaml
Labels: verify, in-progress, minio

#34651 [bitnami/nginx] Update dependencies
  bitnami/nginx/CHANGELOG.md
  bitnami/nginx/Chart.lock
  bitnami/nginx/Chart.yaml
Labels: verify, nginx, bitnami

#34650 [bitnami/postgresql] Update dependencies
  bitnami/postgresql/CHANGELOG.md
  bitnami/postgresql/Chart.lock
  bitnami/postgresql/Chart.yaml
Labels: verify, postgresql, bitnami

#33981 [bitnami/mastodon] fix: correct indentation for extraEnvVars in tootctlMediaManagement cronjob definition
  bitnami/mastodon/CHANGELOG.md
  bitnami/mastodon/Chart.yaml
  bitnami/mastodon/templates/tootctlMediaManagement/cronjob.yaml
Labels: verify, in-progress, mastodon

#34689 [bitnami/kafka] Add kraftVersion value to set static/dynamic quorum
  bitnami/kafka/CHANGELOG.md
  bitnami/kafka/Chart.yaml
  bitnami/kafka/README.md
  bitnami/kafka/templates/_helpers.tpl
  bitnami/kafka/values.yaml
Labels: verify, bitnami

#34359 [bitnami/kafka] Add ClusterIP and loadBalancerNames check for using external access hosts list
  bitnami/kafka/CHANGELOG.md
  bitnami/kafka/Chart.yaml
  bitnami/kafka/templates/_init_containers.tpl
Labels: verify, in-progress, kafka
