Repository bitnami/charts, pull requests merged in 2025-03, with the labels that each got.

#32208 [bitnami/redis]: only use auth.usePasswordFiles if auth.enabled is set
  bitnami/redis/CHANGELOG.md
  bitnami/redis/Chart.yaml
  bitnami/redis/templates/NOTES.txt
  bitnami/redis/templates/master/application.yaml
Labels: verify, in-progress, redis

#32203 [bitnami]/valkey update _helpers.tpl to be in line with Valkey-Cluster.
  bitnami/valkey/CHANGELOG.md
  bitnami/valkey/Chart.yaml
  bitnami/valkey/templates/_helpers.tpl
Labels: verify, in-progress, valkey

#32190 [bitnami/redis] feat: Add external access service for redis sentinel
  bitnami/redis/CHANGELOG.md
  bitnami/redis/Chart.yaml
  bitnami/redis/README.md
  bitnami/redis/templates/configmap.yaml
  bitnami/redis/templates/scripts-configmap.yaml
  bitnami/redis/templates/sentinel/statefulset.yaml
  bitnami/redis/templates/svc-external.yaml
  bitnami/redis/values.yaml
Labels: verify, in-progress, redis

#32234 [bitnami/seaweedfs] Add support for `s3.allowEmptyFolder`
  bitnami/seaweedfs/CHANGELOG.md
  bitnami/seaweedfs/Chart.yaml
  bitnami/seaweedfs/README.md
  bitnami/seaweedfs/templates/s3/deployment.yaml
  bitnami/seaweedfs/values.yaml
Labels: verify, in-progress, seaweedfs

#32240 [bitnami/thanos] feature: allow configuring labels for query ingress
  bitnami/thanos/CHANGELOG.md
  bitnami/thanos/Chart.yaml
  bitnami/thanos/README.md
  bitnami/thanos/templates/query/ingress.yaml
  bitnami/thanos/values.yaml
Labels: verify, in-progress, thanos

#32235 [bitnami/airflow] feat: timeouts for probes
  .vib/airflow/goss/goss.yaml
  .vib/airflow/runtime-parameters.yaml
  bitnami/airflow/CHANGELOG.md
  bitnami/airflow/Chart.yaml
  bitnami/airflow/templates/dag-processor/deployment.yaml
  bitnami/airflow/templates/scheduler/deployment.yaml
  bitnami/airflow/templates/triggerer/statefulset.yaml
  bitnami/airflow/values.yaml
Labels: verify, airflow, bitnami

#32236 fix: change svc target port in servicemonitor
  bitnami/keydb/CHANGELOG.md
  bitnami/keydb/Chart.yaml
  bitnami/keydb/templates/servicemonitor.yaml
Labels: verify, in-progress, keydb

#32258 [bitnami/etcd] bugfix: probes to use healthcheck when TLS client-to-server authentication
  bitnami/etcd/CHANGELOG.md
  bitnami/etcd/Chart.yaml
  bitnami/etcd/templates/statefulset.yaml
Labels: verify, bitnami, etcd

#32260 [bitnami/valkey] Fix usePasswordFile typo in metrics container
  bitnami/valkey/CHANGELOG.md
  bitnami/valkey/Chart.yaml
  bitnami/valkey/templates/primary/application.yaml
  bitnami/valkey/templates/replicas/application.yaml
  bitnami/valkey/templates/sentinel/statefulset.yaml
Labels: verify, bitnami, valkey

#32253 [bitnami/redis] Disable all usages of usePasswordFiles if auth.enabled is unset
  bitnami/redis/CHANGELOG.md
  bitnami/redis/Chart.yaml
  bitnami/redis/templates/master/application.yaml
  bitnami/redis/templates/replicas/application.yaml
  bitnami/redis/templates/sentinel/statefulset.yaml
Labels: verify, in-progress, redis

#32254 [bitnami/airflow] feat: add support to extend webserver configuration
  .vib/airflow/goss/goss.yaml
  .vib/airflow/runtime-parameters.yaml
  bitnami/airflow/CHANGELOG.md
  bitnami/airflow/Chart.yaml
  bitnami/airflow/README.md
  bitnami/airflow/templates/web/configmap.yaml
  bitnami/airflow/values.yaml
Labels: verify, airflow, bitnami

#32217 [bitnami/valkey] Fix usage of valkey .metrics.serviceMonitor.additionalEndpoints
  bitnami/valkey/CHANGELOG.md
  bitnami/valkey/Chart.yaml
  bitnami/valkey/templates/servicemonitor.yaml
Labels: verify, in-progress, valkey

#32201 [bitnami/thanos] fix: remove quotes from ruler.ruleFile parameter
  bitnami/thanos/CHANGELOG.md
  bitnami/thanos/Chart.yaml
  bitnami/thanos/templates/ruler/statefulset.yaml
Labels: verify, in-progress, thanos

#31456 [bitnami/kafka] IpFamilies and IpFamilyPolicy configurables
  bitnami/kafka/CHANGELOG.md
  bitnami/kafka/Chart.yaml
  bitnami/kafka/README.md
  bitnami/kafka/templates/broker/svc-external-access.yaml
  bitnami/kafka/templates/broker/svc-headless.yaml
  bitnami/kafka/templates/controller-eligible/svc-external-access.yaml
  bitnami/kafka/templates/controller-eligible/svc-headless.yaml
  bitnami/kafka/templates/metrics/jmx-svc.yaml
  bitnami/kafka/templates/svc.yaml
  bitnami/kafka/values.yaml
Labels: verify, in-progress, kafka

#32328 [bitnami/mysql] Fix network policy extraEgress bug
  bitnami/mysql/CHANGELOG.md
  bitnami/mysql/Chart.yaml
  bitnami/mysql/templates/networkpolicy.yaml
Labels: verify, in-progress, mysql

#32338 [bitnami/wordpress] fix network policy when metrics enabled
  bitnami/wordpress/CHANGELOG.md
  bitnami/wordpress/Chart.yaml
  bitnami/wordpress/templates/networkpolicy.yaml
Labels: verify, in-progress, wordpress

#32356 [bitnami/valkey]: add apiVersion and kind to sentinel statefulset
  bitnami/valkey/CHANGELOG.md
  bitnami/valkey/Chart.yaml
  bitnami/valkey/templates/sentinel/statefulset.yaml
Labels: verify, in-progress, valkey

#32215 [bitnami/redis] fix 32214 - REDIS_PASSWORD_FILE uses wrong filename from volume
  bitnami/redis/CHANGELOG.md
  bitnami/redis/Chart.yaml
  bitnami/redis/templates/master/application.yaml
  bitnami/redis/templates/replicas/application.yaml
  bitnami/redis/templates/sentinel/statefulset.yaml
Labels: verify, in-progress, redis

#32358 [bitnami/keydb] only use password files if auth is enabled
  bitnami/keydb/CHANGELOG.md
  bitnami/keydb/Chart.yaml
  bitnami/keydb/templates/master/statefulset.yaml
  bitnami/keydb/templates/replica/statefulset.yaml
Labels: verify, in-progress, keydb

#32364 [bitnami/harbor] removed /etc/core/token mount since it's unused
  bitnami/harbor/CHANGELOG.md
  bitnami/harbor/Chart.yaml
  bitnami/harbor/templates/core/core-dpl.yaml
Labels: verify, in-progress, harbor

#31735 [bitnami/seaweedfs]: fix README for loglevel
  bitnami/seaweedfs/CHANGELOG.md
  bitnami/seaweedfs/Chart.yaml
  bitnami/seaweedfs/README.md
  bitnami/seaweedfs/values.yaml
Labels: verify, in-progress, seaweedfs

#32376 [bitnami/keydb] Fix issue when using custom password secret key
  bitnami/keydb/CHANGELOG.md
  bitnami/keydb/Chart.yaml
  bitnami/keydb/templates/master/statefulset.yaml
  bitnami/keydb/templates/replica/statefulset.yaml
Labels: verify, bitnami, keydb

#31984 [bitnami/postgresql] Add secretAnnotation value
  bitnami/postgresql/CHANGELOG.md
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/README.md
  bitnami/postgresql/templates/secrets.yaml
  bitnami/postgresql/values.yaml
Labels: verify, in-progress, postgresql

#31924 [bitnami/prometheus] Fix RBAC for Prometheus endpointslices role
  bitnami/prometheus/CHANGELOG.md
  bitnami/prometheus/Chart.yaml
  bitnami/prometheus/templates/server/clusterrole.yaml
Labels: stale, verify, in-progress, prometheus

#31495 [bitnami/grafana-tempo] Add persistence options for Grafana Tempo metrics generator
  bitnami/grafana-tempo/CHANGELOG.md
  bitnami/grafana-tempo/Chart.yaml
  bitnami/grafana-tempo/README.md
  bitnami/grafana-tempo/templates/metrics-generator/statefulset.yaml
  bitnami/grafana-tempo/values.yaml
Labels: stale, verify, in-progress, grafana-tempo

#32379 [bitnami/keycloak] Update secret-external-db namespace to use common helper value
  bitnami/keycloak/CHANGELOG.md
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/templates/secret-external-db.yaml
Labels: verify, in-progress, keycloak

#32359 [bitnami/nats] allow to modify JetStream store directory
  bitnami/nats/CHANGELOG.md
  bitnami/nats/Chart.yaml
  bitnami/nats/README.md
  bitnami/nats/templates/secrets.yaml
  bitnami/nats/values.yaml
Labels: verify, in-progress, nats

#32384 [bitnami/vault] Remove server.replicaCount parameter
  bitnami/vault/CHANGELOG.md
  bitnami/vault/Chart.yaml
  bitnami/vault/README.md
  bitnami/vault/templates/server/statefulset.yaml
  bitnami/vault/values.yaml
Labels: verify, in-progress, vault

#32398 Increase timeout in pytorch goss tests
  .vib/pytorch/goss/goss.yaml
Labels: verify, bitnami

#32378 [bitnami/postgresql-ha] Added missing LDAP configuation variables
  bitnami/postgresql-ha/CHANGELOG.md
  bitnami/postgresql-ha/Chart.yaml
  bitnami/postgresql-ha/README.md
  bitnami/postgresql-ha/templates/pgpool/deployment.yaml
  bitnami/postgresql-ha/values.yaml
Labels: verify, in-progress, postgresql-ha

#32402 [bitnami/pytorch] Bump version to apply test changes
  bitnami/pytorch/CHANGELOG.md
  bitnami/pytorch/Chart.yaml
Labels: verify, bitnami, pytorch

#32403 [bitnami/pytorch] Temporary disable git-example test
  .vib/pytorch/goss/goss.yaml
Labels: verify, bitnami, pytorch

#32411 [bitnami/pytorch] Update Chart.yaml
  bitnami/pytorch/CHANGELOG.md
  bitnami/pytorch/Chart.yaml
Labels: verify, bitnami, pytorch

#32395 Fix pinniped default values type
  bitnami/pinniped/CHANGELOG.md
  bitnami/pinniped/Chart.yaml
  bitnami/pinniped/README.md
  bitnami/pinniped/values.yaml
Labels: verify, in-progress, pinniped

#32396 [bitnami/tomcat] add annotations & labels to volumeClaimTemplate
  bitnami/tomcat/CHANGELOG.md
  bitnami/tomcat/Chart.yaml
  bitnami/tomcat/README.md
  bitnami/tomcat/templates/statefulset.yaml
Labels: verify, in-progress, tomcat

#32394 [bitnami/mongodb] Update dns-check init container condition
  bitnami/mongodb/CHANGELOG.md
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/templates/arbiter/statefulset.yaml
  bitnami/mongodb/templates/hidden/statefulset.yaml
  bitnami/mongodb/templates/replicaset/statefulset.yaml
Labels: verify, bitnami, mongodb

#32401 [bitnami/grafana] Add `optional` option to the extraEnvVars
  bitnami/grafana/CHANGELOG.md
  bitnami/grafana/Chart.yaml
  bitnami/grafana/README.md
  bitnami/grafana/templates/deployment.yaml
  bitnami/grafana/values.yaml
Labels: verify, in-progress, grafana

#32387 [bitnami/memcached] Enables the ability to specify podTargetLabels on ServiceMonitor for memcached
  bitnami/memcached/CHANGELOG.md
  bitnami/memcached/Chart.yaml
  bitnami/memcached/README.md
  bitnami/memcached/templates/servicemonitor.yaml
  bitnami/memcached/values.yaml
Labels: verify, in-progress, memcached

#32375 [bitnami/valkey] Fix issue when using custom password secret key
  bitnami/valkey/CHANGELOG.md
  bitnami/valkey/Chart.yaml
  bitnami/valkey/templates/primary/application.yaml
  bitnami/valkey/templates/replicas/application.yaml
  bitnami/valkey/templates/sentinel/statefulset.yaml
Labels: verify, bitnami, valkey

#32417 [bitnami/etcd] bugfix: skip TLS verification with self-signed certs
  bitnami/etcd/CHANGELOG.md
  bitnami/etcd/Chart.yaml
  bitnami/etcd/templates/NOTES.txt
  bitnami/etcd/templates/_helpers.tpl
  bitnami/etcd/templates/cronjob-snapshotter.yaml
  bitnami/etcd/templates/preupgrade-hook-job.yaml
Labels: verify, bitnami, etcd

#32418 [bitnami/redis-cluster] Use ternary yes/no for useAOFPersistence
  bitnami/redis-cluster/CHANGELOG.md
  bitnami/redis-cluster/Chart.yaml
  bitnami/redis-cluster/templates/_helpers.tpl
  bitnami/redis-cluster/templates/redis-statefulset.yaml
Labels: verify, bitnami, redis-cluster

#32114 [bitnami/nessie] Set `usePasswordFiles=true` by default
  .vib/nessie/goss/goss.yaml
  .vib/nessie/runtime-parameters.yaml
  bitnami/nessie/CHANGELOG.md
  bitnami/nessie/Chart.yaml
  bitnami/nessie/README.md
  bitnami/nessie/templates/_helpers.tpl
  bitnami/nessie/templates/deployment.yaml
  bitnami/nessie/values.yaml
Labels: verify, bitnami, nessie

#32348 [bitnami/grafana] Set `usePasswordFiles=true` by default
  bitnami/grafana/CHANGELOG.md
  bitnami/grafana/Chart.yaml
  bitnami/grafana/README.md
  bitnami/grafana/templates/deployment.yaml
  bitnami/grafana/values.yaml
Labels: verify, bitnami, grafana

#32465 Update bitnami bot email
  .github/workflows/cd-pipeline.yml
  .github/workflows/ci-pipeline.yml
  .github/workflows/index-update.yml
Labels: verify, bitnami

#32481 [bitnami/kubernetes-event-exporter] ci: more flexible regexp on Ginkgo tests
  .vib/kubernetes-event-exporter/ginkgo/kubernetes_event_exporter.go
  bitnami/kubernetes-event-exporter/CHANGELOG.md
  bitnami/kubernetes-event-exporter/Chart.yaml
Labels: verify, bitnami, kubernetes-event-exporter

#32477 [bitnami/argo-cd] Fix redis password not read when using passwordFiles
  bitnami/argo-cd/CHANGELOG.md
  bitnami/argo-cd/Chart.yaml
  bitnami/argo-cd/templates/repo-server/deployment.yaml
  bitnami/argo-cd/templates/server/deployment.yaml
Labels: verify, bitnami, argo-cd

#32507 [bitnami/opensearch] Add support for customizing headless services annotations
  bitnami/opensearch/CHANGELOG.md
  bitnami/opensearch/Chart.yaml
  bitnami/opensearch/README.md
  bitnami/opensearch/templates/_helpers.tpl
  bitnami/opensearch/templates/coordinating/svc-headless.yaml
  bitnami/opensearch/templates/data/svc-headless.yaml
  bitnami/opensearch/templates/ingest/svc-headless.yaml
  bitnami/opensearch/templates/master/svc-headless.yaml
  bitnami/opensearch/values.yaml
Labels: verify, bitnami, opensearch

#32251 [bitnami/spring-cloud-dataflow] fix incorrect application of externalDatabase.skipper.password value
  bitnami/spring-cloud-dataflow/CHANGELOG.md
  bitnami/spring-cloud-dataflow/Chart.yaml
  bitnami/spring-cloud-dataflow/README.md
  bitnami/spring-cloud-dataflow/templates/skipper/externaldb-secret.yaml
Labels: verify, in-progress, spring-cloud-dataflow

#32442 [bitnami/opensearch] allow to configure trafficDistribution
  bitnami/opensearch/CHANGELOG.md
  bitnami/opensearch/Chart.yaml
  bitnami/opensearch/README.md
  bitnami/opensearch/templates/coordinating/svc-headless.yaml
  bitnami/opensearch/templates/data/svc-headless.yaml
  bitnami/opensearch/templates/ingest/svc-headless.yaml
  bitnami/opensearch/templates/master/svc-headless.yaml
  bitnami/opensearch/values.yaml
Labels: verify, in-progress, opensearch

#32443 [bitnami/rabbitmq] allow to configure trafficDistribution
  bitnami/rabbitmq/CHANGELOG.md
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/README.md
  bitnami/rabbitmq/templates/svc-headless.yaml
  bitnami/rabbitmq/values.yaml
Labels: verify, in-progress, rabbitmq

#32510 [bitnami/grafana-operator] Fix link to grafana-operator dashboards documentation
  bitnami/grafana-operator/README.md
Labels: triage, grafana-operator

#32514 [bitnami/argo-cd] Revert usePasswordFiles
  bitnami/argo-cd/CHANGELOG.md
  bitnami/argo-cd/Chart.yaml
  bitnami/argo-cd/README.md
  bitnami/argo-cd/templates/application-controller/_pod.tpl
  bitnami/argo-cd/templates/repo-server/deployment.yaml
  bitnami/argo-cd/templates/server/deployment.yaml
  bitnami/argo-cd/values.yaml
Labels: verify, bitnami, argo-cd, skip-score

#32415 [bitnami/cassandra] bugfix #32369
  bitnami/cassandra/CHANGELOG.md
  bitnami/cassandra/Chart.yaml
  bitnami/cassandra/templates/statefulset.yaml
Labels: verify, in-progress, cassandra

#32544 [bitnami/kong] chore(ClusterRole): Concat namespace in ClusterRole name
  .vib/kong/vib-action.config
  bitnami/kong/CHANGELOG.md
  bitnami/kong/Chart.yaml
  bitnami/kong/templates/ingress-controller-rbac.yaml
Labels: verify, bitnami, kong

#32354 [bitnami/matomo] Fix typo in SMTP authentication value for CRAM-MD5
  bitnami/matomo/CHANGELOG.md
  bitnami/matomo/Chart.yaml
  bitnami/matomo/README.md
  bitnami/matomo/values.yaml
Labels: verify, matomo

#32381 [bitnami/mongodb] #27482 - fix replicaset config handling
  bitnami/mongodb/CHANGELOG.md
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/templates/replicaset/scripts-configmap.yaml
Labels: verify, in-progress, mongodb

#32516 [bitnami/kafka] feat: Kafka 4.0.0
  .vib/kafka/runtime-parameters.yaml
  bitnami/kafka/CHANGELOG.md
  bitnami/kafka/Chart.lock
  bitnami/kafka/Chart.yaml
  bitnami/kafka/README.md
  bitnami/kafka/templates/NOTES.txt
  bitnami/kafka/templates/_helpers.tpl
  bitnami/kafka/templates/_init_containers.tpl
  bitnami/kafka/templates/broker/config-secrets.yaml
  bitnami/kafka/templates/broker/configmap.yaml
  bitnami/kafka/templates/broker/hpa.yaml
  bitnami/kafka/templates/broker/pdb.yaml
  bitnami/kafka/templates/broker/statefulset.yaml
  bitnami/kafka/templates/broker/svc-external-access.yaml
  bitnami/kafka/templates/broker/svc-headless.yaml
  bitnami/kafka/templates/broker/vpa.yaml
  bitnami/kafka/templates/ca-cert.yaml
  bitnami/kafka/templates/cert.yaml
  bitnami/kafka/templates/controller-eligible/config-secrets.yaml
  bitnami/kafka/templates/controller-eligible/configmap.yaml
  bitnami/kafka/templates/controller-eligible/hpa.yaml
  bitnami/kafka/templates/controller-eligible/pdb.yaml
  bitnami/kafka/templates/controller-eligible/statefulset.yaml
  bitnami/kafka/templates/controller-eligible/svc-external-access.yaml
  bitnami/kafka/templates/controller-eligible/svc-headless.yaml
  bitnami/kafka/templates/controller-eligible/vpa.yaml
  bitnami/kafka/templates/log4j2-configmap.yaml
  bitnami/kafka/templates/metrics/jmx-configmap.yaml
  bitnami/kafka/templates/networkpolicy.yaml
  bitnami/kafka/templates/provisioning/job.yaml
  bitnami/kafka/templates/scripts-configmap.yaml
  bitnami/kafka/templates/secrets.yaml
  bitnami/kafka/templates/svc.yaml
  bitnami/kafka/templates/tls-secret.yaml
  bitnami/kafka/values.yaml
Labels: verify, kafka, bitnami, skip-score

#32599 bitnami/airflow Fix indentation error when providing setupDBJob.resources in values
  bitnami/airflow/CHANGELOG.md
  bitnami/airflow/Chart.yaml
  bitnami/airflow/templates/setup-db-job.yaml
Labels: verify, in-progress, airflow

#32613 [bitnami/kafka] bugfix: use kafka-broker-api-versions.sh to wait for Kafka on provisioning
  bitnami/kafka/CHANGELOG.md
  bitnami/kafka/Chart.yaml
  bitnami/kafka/README.md
  bitnami/kafka/templates/provisioning/job.yaml
  bitnami/kafka/values.yaml
Labels: verify, kafka, bitnami

#32618 [bitnami/schema-registry] feat: bump major due to major bump on Kafka dep
  bitnami/schema-registry/CHANGELOG.md
  bitnami/schema-registry/Chart.lock
  bitnami/schema-registry/Chart.yaml
  bitnami/schema-registry/README.md
  bitnami/schema-registry/templates/statefulset.yaml
  bitnami/schema-registry/values.yaml
Labels: verify, bitnami, schema-registry, skip-score

#32619 [bitnami/spring-cloud-dataflow] feat: bump major due to major bump on Kafka dep
  bitnami/spring-cloud-dataflow/CHANGELOG.md
  bitnami/spring-cloud-dataflow/Chart.lock
  bitnami/spring-cloud-dataflow/Chart.yaml
  bitnami/spring-cloud-dataflow/README.md
  bitnami/spring-cloud-dataflow/values.yaml
Labels: verify, bitnami, spring-cloud-dataflow, skip-score

#32621 [bitnami/kafka] bugfix: upgrade issue due to secret lookup
  bitnami/kafka/CHANGELOG.md
  bitnami/kafka/Chart.yaml
  bitnami/kafka/templates/secrets.yaml
Labels: verify, kafka, bitnami

#32631 [bitnami/kakfa] bugfix: relax conditions under SASL secret must be mounted as volume
  bitnami/kafka/CHANGELOG.md
  bitnami/kafka/Chart.yaml
  bitnami/kafka/templates/broker/statefulset.yaml
  bitnami/kafka/templates/controller-eligible/statefulset.yaml
Labels: verify, kafka, bitnami, skip-score

#32617 [bitnami/milvus] feat: bump major due to major bump on Kafka dep
  bitnami/milvus/CHANGELOG.md
  bitnami/milvus/Chart.lock
  bitnami/milvus/Chart.yaml
  bitnami/milvus/README.md
  bitnami/milvus/values.yaml
Labels: verify, bitnami, milvus, skip-score

#32342 [bitnami/drupal] Set `usePasswordFiles=true` by default
  bitnami/drupal/CHANGELOG.md
  bitnami/drupal/Chart.yaml
  bitnami/drupal/README.md
  bitnami/drupal/templates/deployment.yaml
  bitnami/drupal/values.yaml
Labels: verify, bitnami, drupal

#32345 [bitnami/etcd] Set `usePasswordFiles=true` by default
  bitnami/etcd/CHANGELOG.md
  bitnami/etcd/Chart.yaml
  bitnami/etcd/README.md
  bitnami/etcd/templates/cronjob-defrag.yaml
  bitnami/etcd/templates/cronjob-snapshotter.yaml
  bitnami/etcd/templates/preupgrade-hook-job.yaml
  bitnami/etcd/templates/statefulset.yaml
  bitnami/etcd/values.yaml
Labels: verify, bitnami, etcd

#32347 [bitnami/gitea] Set `usePasswordFiles=true` by default
  bitnami/gitea/CHANGELOG.md
  bitnami/gitea/Chart.yaml
  bitnami/gitea/README.md
  bitnami/gitea/templates/deployment.yaml
  bitnami/gitea/values.yaml
Labels: verify, bitnami, gitea

#32349 [bitnami/jenkins] Set `usePasswordFiles=true` by default
  bitnami/jenkins/CHANGELOG.md
  bitnami/jenkins/Chart.yaml
  bitnami/jenkins/README.md
  bitnami/jenkins/templates/deployment.yaml
  bitnami/jenkins/values.yaml
Labels: verify, jenkins, bitnami

#32361 [bitnami/minio] Set `usePasswordFiles=true` by default
  bitnami/minio/CHANGELOG.md
  bitnami/minio/Chart.yaml
  bitnami/minio/README.md
  bitnami/minio/templates/distributed/statefulset.yaml
  bitnami/minio/templates/provisioning-job.yaml
  bitnami/minio/templates/standalone/deployment.yaml
  bitnami/minio/values.yaml
Labels: verify, bitnami, minio

#32640 [bitnami/harbor] feat: :sparkles: Add migration job
  bitnami/harbor/CHANGELOG.md
  bitnami/harbor/Chart.yaml
  bitnami/harbor/README.md
  bitnami/harbor/templates/migration/migrate-job-networkpolicy.yaml
  bitnami/harbor/templates/migration/migrate-job.yaml
  bitnami/harbor/values.yaml
Labels: verify, bitnami, harbor

#32115 [bitnami/postgresql] Set `usePasswordFiles=true` by default
  bitnami/postgresql/CHANGELOG.md
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/README.md
  bitnami/postgresql/templates/primary/statefulset.yaml
  bitnami/postgresql/templates/read/statefulset.yaml
  bitnami/postgresql/templates/update-password/job.yaml
  bitnami/postgresql/values.yaml
Labels: verify, postgresql, bitnami

#32667 Upgrade Go version in Ginkgo tests
  .vib/cert-manager/ginkgo/go.mod
  .vib/contour/ginkgo/go.mod
  .vib/kubernetes-event-exporter/ginkgo/go.mod
  .vib/metallb/ginkgo/go.mod
  .vib/nginx-ingress-controller/ginkgo/go.mod
  .vib/pinniped/ginkgo/go.mod
  .vib/sealed-secrets/ginkgo/go.mod
Labels: verify, bitnami

#32513 [bitnami/gitlab-runner] feat: :tada: Add chart
  .vib/gitlab-runner/goss/goss.yaml
  .vib/gitlab-runner/runtime-parameters.yaml
  .vib/gitlab-runner/vib-publish.json
  .vib/gitlab-runner/vib-verify.json
  bitnami/gitlab-runner/.helmignore
  bitnami/gitlab-runner/CHANGELOG.md
  bitnami/gitlab-runner/Chart.lock
  bitnami/gitlab-runner/Chart.yaml
  bitnami/gitlab-runner/README.md
  bitnami/gitlab-runner/templates/NOTES.txt
  bitnami/gitlab-runner/templates/_helpers.tpl
  bitnami/gitlab-runner/templates/cluster-role.yaml
  bitnami/gitlab-runner/templates/configmap-scripts.yaml
  bitnami/gitlab-runner/templates/configmap.yaml
  bitnami/gitlab-runner/templates/deployment.yaml
  bitnami/gitlab-runner/templates/extra-list.yaml
  bitnami/gitlab-runner/templates/hpa.yaml
  bitnami/gitlab-runner/templates/ingress-tls-secret.yaml
  bitnami/gitlab-runner/templates/metrics-svc.yaml
  bitnami/gitlab-runner/templates/networkpolicy.yaml
  bitnami/gitlab-runner/templates/pdb.yaml
  bitnami/gitlab-runner/templates/role-binding.yaml
  bitnami/gitlab-runner/templates/secret.yaml
  bitnami/gitlab-runner/templates/serviceaccount.yaml
  bitnami/gitlab-runner/templates/servicemonitor.yaml
  bitnami/gitlab-runner/templates/session-server-ingress.yaml
  bitnami/gitlab-runner/templates/session-server-svc.yaml
  bitnami/gitlab-runner/templates/vpa.yaml
  bitnami/gitlab-runner/values.yaml
Labels: on-hold, verify, bitnami, gitlab-runner

#32686 [bitnami/opensearch] Update nodes heapSize to half the memory preset
  bitnami/opensearch/CHANGELOG.md
  bitnami/opensearch/Chart.yaml
  bitnami/opensearch/README.md
  bitnami/opensearch/values.yaml
Labels: verify, bitnami, opensearch

#32362 [bitnami/memcached] Set `usePasswordFiles=true` by default
  bitnami/memcached/CHANGELOG.md
  bitnami/memcached/Chart.yaml
  bitnami/memcached/README.md
  bitnami/memcached/templates/deployment.yaml
  bitnami/memcached/templates/statefulset.yaml
  bitnami/memcached/values.yaml
Labels: verify, bitnami, memcached

#32363 [bitnami/matomo] Set `usePasswordFiles=true` by default
  bitnami/matomo/CHANGELOG.md
  bitnami/matomo/Chart.yaml
  bitnami/matomo/README.md
  bitnami/matomo/templates/cronjob.yaml
  bitnami/matomo/templates/deployment.yaml
  bitnami/matomo/values.yaml
Labels: verify, bitnami, matomo
