Repository bitnami/charts, pull requests merged in 2025-05, with the labels that each got.

#33276 [bitnami/airflow] Minor performance improvements
  bitnami/airflow/CHANGELOG.md
  bitnami/airflow/Chart.yaml
  bitnami/airflow/README.md
  bitnami/airflow/templates/setup-db-job.yaml
  bitnami/airflow/templates/web/deployment.yaml
  bitnami/airflow/values.yaml
Labels: verify

#33305 [bitnami/airflow] Update Cypress test
  .vib/airflow/cypress/cypress/e2e/airflow.cy.js
Labels: verify, bitnami

#33316 [bitnami/airflow] Fix svc name for Ingress backend
  bitnami/airflow/CHANGELOG.md
  bitnami/airflow/Chart.yaml
  bitnami/airflow/templates/NOTES.txt
  bitnami/airflow/templates/web/ingress.yaml
Labels: verify, airflow, bitnami

#33320 [bitnami/common] chore: :recycle: Remove deprecated APIs (<1.23.0)
  bitnami/common/CHANGELOG.md
  bitnami/common/Chart.yaml
  bitnami/common/templates/_capabilities.tpl
  bitnami/common/templates/_ingress.tpl
Labels: verify, bitnami, common

#33253 [bitnami/nginx-ingress-controller] Fix securitycontext compatibility
  bitnami/nginx-ingress-controller/CHANGELOG.md
  bitnami/nginx-ingress-controller/Chart.yaml
  bitnami/nginx-ingress-controller/templates/controller-daemonset.yaml
  bitnami/nginx-ingress-controller/templates/controller-deployment.yaml
Labels: verify, in-progress, nginx-ingress-controller

#33322 [bitnami/chainloop] chore!: :recycle: :boom: :arrow_up: Bump k8s requirements to 1.23
  bitnami/chainloop/CHANGELOG.md
  bitnami/chainloop/Chart.lock
  bitnami/chainloop/Chart.yaml
  bitnami/chainloop/README.md
  bitnami/chainloop/templates/cas/hpa.yaml
  bitnami/chainloop/templates/controlplane/hpa.yaml
Labels: verify, bitnami, chainloop

#33336 [bitnami/appsmith] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/appsmith/CHANGELOG.md
  bitnami/appsmith/Chart.lock
  bitnami/appsmith/Chart.yaml
  bitnami/appsmith/templates/client/ingress.yaml
Labels: verify, bitnami, appsmith

#33349 [bitnami/consul] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/consul/CHANGELOG.md
  bitnami/consul/Chart.lock
  bitnami/consul/Chart.yaml
  bitnami/consul/templates/ingress.yaml
Labels: verify, bitnami, consul

#33382 [bitnami/kiam] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/kiam/CHANGELOG.md
  bitnami/kiam/Chart.lock
  bitnami/kiam/Chart.yaml
Labels: verify, bitnami, kiam

#33374 [bitnami/influxdb] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/influxdb/CHANGELOG.md
  bitnami/influxdb/Chart.lock
  bitnami/influxdb/Chart.yaml
  bitnami/influxdb/templates/ingress.yaml
Labels: verify, bitnami, influxdb

#33386 [bitnami/kube-arangodb] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/kube-arangodb/CHANGELOG.md
  bitnami/kube-arangodb/Chart.lock
  bitnami/kube-arangodb/Chart.yaml
  bitnami/kube-arangodb/templates/hpa.yaml
  bitnami/kube-arangodb/templates/ingress.yaml
Labels: verify, bitnami, kube-arangodb

#33385 [bitnami/kong] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/kong/CHANGELOG.md
  bitnami/kong/Chart.lock
  bitnami/kong/Chart.yaml
  bitnami/kong/templates/ingress.yaml
Labels: verify, bitnami, kong

#33391 [bitnami/kubernetes-event-exporter] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/kubernetes-event-exporter/CHANGELOG.md
  bitnami/kubernetes-event-exporter/Chart.lock
  bitnami/kubernetes-event-exporter/Chart.yaml
Labels: verify, bitnami, kubernetes-event-exporter

#33397 [bitnami/memcached] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/memcached/CHANGELOG.md
  bitnami/memcached/Chart.lock
  bitnami/memcached/Chart.yaml
  bitnami/memcached/templates/hpa.yaml
Labels: verify, bitnami, memcached

#33409 [bitnami/mysql] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/mysql/CHANGELOG.md
  bitnami/mysql/Chart.lock
  bitnami/mysql/Chart.yaml
Labels: verify, bitnami, mysql

#33406 [bitnami/mongodb-sharded] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/mongodb-sharded/CHANGELOG.md
  bitnami/mongodb-sharded/Chart.lock
  bitnami/mongodb-sharded/Chart.yaml
Labels: verify, bitnami, mongodb-sharded

#33450 [bitnami/zipkin] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/zipkin/CHANGELOG.md
  bitnami/zipkin/Chart.lock
  bitnami/zipkin/Chart.yaml
  bitnami/zipkin/templates/hpa.yaml
  bitnami/zipkin/templates/ingress.yaml
Labels: verify, bitnami

#33448 [bitnami/wildfly] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/wildfly/CHANGELOG.md
  bitnami/wildfly/Chart.lock
  bitnami/wildfly/Chart.yaml
  bitnami/wildfly/templates/ingress.yaml
  bitnami/wildfly/templates/management-ingress.yaml
Labels: verify, bitnami, wildfly

#33451 [bitnami/zookeeper] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/zookeeper/CHANGELOG.md
  bitnami/zookeeper/Chart.lock
  bitnami/zookeeper/Chart.yaml
Labels: verify, bitnami, zookeeper

#33449 [bitnami/wordpress] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/wordpress/CHANGELOG.md
  bitnami/wordpress/Chart.lock
  bitnami/wordpress/Chart.yaml
  bitnami/wordpress/templates/hpa.yaml
  bitnami/wordpress/templates/ingress-secondary.yaml
  bitnami/wordpress/templates/ingress.yaml
Labels: verify, bitnami, wordpress

#33447 [bitnami/whereabouts] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/whereabouts/CHANGELOG.md
  bitnami/whereabouts/Chart.lock
  bitnami/whereabouts/Chart.yaml
Labels: verify, bitnami, whereabouts

#33443 [bitnami/valkey] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/valkey/CHANGELOG.md
  bitnami/valkey/Chart.lock
  bitnami/valkey/Chart.yaml
  bitnami/valkey/templates/_helpers.tpl
  bitnami/valkey/templates/primary/application.yaml
  bitnami/valkey/templates/primary/service.yaml
  bitnami/valkey/templates/replicas/application.yaml
  bitnami/valkey/templates/replicas/hpa.yaml
  bitnami/valkey/templates/replicas/service.yaml
  bitnami/valkey/templates/role.yaml
  bitnami/valkey/templates/sentinel/hpa.yaml
  bitnami/valkey/templates/sentinel/statefulset.yaml
Labels: verify, bitnami, valkey

#33438 [bitnami/spring-cloud-dataflow] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/spring-cloud-dataflow/CHANGELOG.md
  bitnami/spring-cloud-dataflow/Chart.lock
  bitnami/spring-cloud-dataflow/Chart.yaml
  bitnami/spring-cloud-dataflow/templates/prometheus-proxy/hpa.yaml
  bitnami/spring-cloud-dataflow/templates/server/hpa.yaml
  bitnami/spring-cloud-dataflow/templates/server/ingress.yaml
  bitnami/spring-cloud-dataflow/templates/skipper/hpa.yaml
Labels: verify, bitnami, spring-cloud-dataflow

#33441 [bitnami/thanos] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/thanos/CHANGELOG.md
  bitnami/thanos/Chart.lock
  bitnami/thanos/Chart.yaml
  bitnami/thanos/templates/bucketweb/hpa.yaml
  bitnami/thanos/templates/bucketweb/ingress.yaml
  bitnami/thanos/templates/compactor/ingress.yaml
  bitnami/thanos/templates/query-frontend/hpa.yaml
  bitnami/thanos/templates/query-frontend/ingress.yaml
  bitnami/thanos/templates/query/hpa.yaml
  bitnami/thanos/templates/query/ingress-grpc.yaml
  bitnami/thanos/templates/query/ingress.yaml
  bitnami/thanos/templates/receive-distributor/hpa.yaml
  bitnami/thanos/templates/receive/hpa.yaml
  bitnami/thanos/templates/receive/ingress.yaml
  bitnami/thanos/templates/receive/statefulset.yaml
  bitnami/thanos/templates/ruler/hpa.yaml
  bitnami/thanos/templates/ruler/ingress.yaml
  bitnami/thanos/templates/ruler/statefulset.yaml
  bitnami/thanos/templates/storegateway/hpa-sharded.yaml
  bitnami/thanos/templates/storegateway/hpa.yaml
  bitnami/thanos/templates/storegateway/ingress-grpc.yaml
  bitnami/thanos/templates/storegateway/ingress.yaml
  bitnami/thanos/templates/storegateway/statefulset-sharded.yaml
  bitnami/thanos/templates/storegateway/statefulset.yaml
Labels: verify, bitnami, thanos

#33437 [bitnami/spark] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/spark/CHANGELOG.md
  bitnami/spark/Chart.lock
  bitnami/spark/Chart.yaml
  bitnami/spark/templates/hpa-worker.yaml
  bitnami/spark/templates/ingress.yaml
Labels: verify, bitnami, spark

#33434 [bitnami/seaweedfs] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/seaweedfs/CHANGELOG.md
  bitnami/seaweedfs/Chart.lock
  bitnami/seaweedfs/Chart.yaml
  bitnami/seaweedfs/templates/filer/hpa.yaml
  bitnami/seaweedfs/templates/filer/ingress.yaml
  bitnami/seaweedfs/templates/master/hpa.yaml
  bitnami/seaweedfs/templates/master/ingress.yaml
  bitnami/seaweedfs/templates/s3/hpa.yaml
  bitnami/seaweedfs/templates/s3/ingress.yaml
  bitnami/seaweedfs/templates/volume/hpa.yaml
  bitnami/seaweedfs/templates/volume/ingress.yaml
  bitnami/seaweedfs/templates/webadv/hpa.yaml
  bitnami/seaweedfs/templates/webadv/ingress.yaml
Labels: verify, bitnami, seaweedfs

#33433 [bitnami/sealed-secrets] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/sealed-secrets/CHANGELOG.md
  bitnami/sealed-secrets/Chart.lock
  bitnami/sealed-secrets/Chart.yaml
  bitnami/sealed-secrets/templates/_helpers.tpl
  bitnami/sealed-secrets/templates/ingress.yaml
  bitnami/sealed-secrets/templates/psp.yaml
Labels: verify, bitnami, sealed-secrets

#33427 [bitnami/rabbitmq-cluster-operator] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/rabbitmq-cluster-operator/CHANGELOG.md
  bitnami/rabbitmq-cluster-operator/Chart.lock
  bitnami/rabbitmq-cluster-operator/Chart.yaml
Labels: verify, bitnami, rabbitmq-cluster-operator

#33411 [bitnami/neo4j] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/neo4j/CHANGELOG.md
  bitnami/neo4j/Chart.lock
  bitnami/neo4j/Chart.yaml
  bitnami/neo4j/templates/ingress.yaml
Labels: verify, bitnami, neo4j

#33412 [bitnami/nessie] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/nessie/CHANGELOG.md
  bitnami/nessie/Chart.lock
  bitnami/nessie/Chart.yaml
  bitnami/nessie/templates/hpa.yaml
  bitnami/nessie/templates/ingress.yaml
Labels: verify, bitnami, nessie

#33413 [bitnami/nginx] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/nginx/CHANGELOG.md
  bitnami/nginx/Chart.lock
  bitnami/nginx/Chart.yaml
  bitnami/nginx/templates/health-ingress.yaml
  bitnami/nginx/templates/hpa.yaml
  bitnami/nginx/templates/ingress.yaml
Labels: verify, nginx, bitnami

#33458 [bitnami/superset] fix(wait-for-examples): Support 429 errors in examples load
  .vib/superset/goss/goss.yaml
  bitnami/superset/CHANGELOG.md
  bitnami/superset/Chart.yaml
  bitnami/superset/templates/_helpers.tpl
  bitnami/superset/templates/web/deployment.yaml
Labels: verify, bitnami, superset

#33407 [bitnami/moodle] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/moodle/CHANGELOG.md
  bitnami/moodle/Chart.lock
  bitnami/moodle/Chart.yaml
  bitnami/moodle/templates/hpa.yaml
  bitnami/moodle/templates/ingress.yaml
Labels: verify, moodle, bitnami

#33404 [bitnami/mlflow] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/mlflow/CHANGELOG.md
  bitnami/mlflow/Chart.lock
  bitnami/mlflow/Chart.yaml
  bitnami/mlflow/templates/tracking/hpa.yaml
  bitnami/mlflow/templates/tracking/ingress.yaml
Labels: verify, bitnami, mlflow

#33400 [bitnami/metrics-server] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/metrics-server/CHANGELOG.md
  bitnami/metrics-server/Chart.lock
  bitnami/metrics-server/Chart.yaml
Labels: verify, bitnami, metrics-server

#33408 [bitnami/multus-cni] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/multus-cni/CHANGELOG.md
  bitnami/multus-cni/Chart.lock
  bitnami/multus-cni/Chart.yaml
Labels: verify, bitnami, multus-cni

#33415 [bitnami/node-exporter] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/node-exporter/CHANGELOG.md
  bitnami/node-exporter/Chart.lock
  bitnami/node-exporter/Chart.yaml
Labels: verify, bitnami, node-exporter

#33417 [bitnami/odoo] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/odoo/CHANGELOG.md
  bitnami/odoo/Chart.lock
  bitnami/odoo/Chart.yaml
  bitnami/odoo/templates/hpa.yaml
  bitnami/odoo/templates/ingress.yaml
Labels: verify, odoo, bitnami

#33416 [bitnami/oauth2-proxy] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/oauth2-proxy/CHANGELOG.md
  bitnami/oauth2-proxy/Chart.lock
  bitnami/oauth2-proxy/Chart.yaml
  bitnami/oauth2-proxy/templates/ingress.yaml
Labels: verify, bitnami, oauth2-proxy

#33390 [bitnami/kuberay] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/kuberay/CHANGELOG.md
  bitnami/kuberay/Chart.lock
  bitnami/kuberay/Chart.yaml
  bitnami/kuberay/templates/apiserver/hpa.yaml
  bitnami/kuberay/templates/apiserver/ingress.yaml
  bitnami/kuberay/templates/operator/hpa.yaml
  bitnami/kuberay/templates/operator/ingress.yaml
Labels: verify, bitnami, kuberay

#33392 [bitnami/logstash] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/logstash/CHANGELOG.md
  bitnami/logstash/Chart.lock
  bitnami/logstash/Chart.yaml
  bitnami/logstash/templates/ingress.yaml
Labels: verify, bitnami, logstash

#33393 [bitnami/mariadb] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/mariadb/CHANGELOG.md
  bitnami/mariadb/Chart.lock
  bitnami/mariadb/Chart.yaml
Labels: verify, mariadb, bitnami

#33395 [bitnami/mastodon] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/mastodon/CHANGELOG.md
  bitnami/mastodon/Chart.lock
  bitnami/mastodon/Chart.yaml
Labels: verify, bitnami, mastodon

#33398 [bitnami/metallb] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/metallb/CHANGELOG.md
  bitnami/metallb/Chart.lock
  bitnami/metallb/Chart.yaml
Labels: verify, bitnami, metallb

#33380 [bitnami/keycloak] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/keycloak/CHANGELOG.md
  bitnami/keycloak/Chart.lock
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/templates/admin-ingress.yaml
  bitnami/keycloak/templates/hpa.yaml
  bitnami/keycloak/templates/ingress.yaml
  bitnami/keycloak/templates/statefulset.yaml
Labels: verify, keycloak, bitnami

#33381 [bitnami/keydb] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/keydb/CHANGELOG.md
  bitnami/keydb/Chart.lock
  bitnami/keydb/Chart.yaml
  bitnami/keydb/templates/replica/hpa.yaml
Labels: verify, bitnami, keydb

#33387 [bitnami/kube-prometheus] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/kube-prometheus/CHANGELOG.md
  bitnami/kube-prometheus/Chart.lock
  bitnami/kube-prometheus/Chart.yaml
  bitnami/kube-prometheus/templates/alertmanager/ingress.yaml
  bitnami/kube-prometheus/templates/prometheus/ingress.yaml
  bitnami/kube-prometheus/templates/prometheus/thanos-ingress.yaml
Labels: verify, bitnami, kube-prometheus

#33383 [bitnami/kibana] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/kibana/CHANGELOG.md
  bitnami/kibana/Chart.lock
  bitnami/kibana/Chart.yaml
  bitnami/kibana/templates/ingress.yaml
Labels: verify, bitnami, kibana

#33388 [bitnami/kube-state-metrics] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/kube-state-metrics/CHANGELOG.md
  bitnami/kube-state-metrics/Chart.lock
  bitnami/kube-state-metrics/Chart.yaml
Labels: verify, bitnami, kube-state-metrics

#33389 [bitnami/kubeapps] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/kubeapps/CHANGELOG.md
  bitnami/kubeapps/Chart.lock
  bitnami/kubeapps/Chart.yaml
  bitnami/kubeapps/templates/ingress-api.yaml
  bitnami/kubeapps/templates/ingress.yaml
Labels: verify, bitnami, kubeapps

#33378 [bitnami/jupyterhub] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/jupyterhub/CHANGELOG.md
  bitnami/jupyterhub/Chart.lock
  bitnami/jupyterhub/Chart.yaml
  bitnami/jupyterhub/templates/proxy/ingress.yaml
Labels: verify, bitnami, jupyterhub

#33379 [bitnami/kafka] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/kafka/CHANGELOG.md
  bitnami/kafka/Chart.lock
  bitnami/kafka/Chart.yaml
  bitnami/kafka/templates/broker/hpa.yaml
  bitnami/kafka/templates/controller-eligible/hpa.yaml
Labels: verify, kafka, bitnami

#33377 [bitnami/jenkins] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/jenkins/CHANGELOG.md
  bitnami/jenkins/Chart.lock
  bitnami/jenkins/Chart.yaml
  bitnami/jenkins/templates/ingress.yaml
Labels: verify, jenkins, bitnami

#33373 [bitnami/harbor] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/harbor/CHANGELOG.md
  bitnami/harbor/Chart.lock
  bitnami/harbor/Chart.yaml
  bitnami/harbor/templates/ingress/core-ingress.yaml
Labels: verify, bitnami, harbor

#33376 [bitnami/janusgraph] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/janusgraph/CHANGELOG.md
  bitnami/janusgraph/Chart.lock
  bitnami/janusgraph/Chart.yaml
  bitnami/janusgraph/templates/hpa.yaml
Labels: verify, bitnami, janusgraph

#33419 [bitnami/parse] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/parse/CHANGELOG.md
  bitnami/parse/Chart.lock
  bitnami/parse/Chart.yaml
  bitnami/parse/templates/ingress.yaml
Labels: verify, bitnami, parse

#33372 [bitnami/haproxy] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/haproxy/CHANGELOG.md
  bitnami/haproxy/Chart.lock
  bitnami/haproxy/Chart.yaml
  bitnami/haproxy/templates/hpa.yaml
  bitnami/haproxy/templates/ingress.yaml
Labels: verify, bitnami, haproxy

#33371 [bitnami/grafana-tempo] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/grafana-tempo/CHANGELOG.md
  bitnami/grafana-tempo/Chart.lock
  bitnami/grafana-tempo/Chart.yaml
Labels: verify, bitnami, grafana-tempo

#33368 [bitnami/grafana-loki] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/grafana-loki/CHANGELOG.md
  bitnami/grafana-loki/Chart.lock
  bitnami/grafana-loki/Chart.yaml
  bitnami/grafana-loki/templates/gateway/ingress.yaml
Labels: verify, bitnami, grafana-loki

#33369 [bitnami/grafana-mimir] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/grafana-mimir/CHANGELOG.md
  bitnami/grafana-mimir/Chart.lock
  bitnami/grafana-mimir/Chart.yaml
  bitnami/grafana-mimir/templates/gateway/ingress.yaml
Labels: verify, bitnami, grafana-mimir

#33421 [bitnami/pinniped] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/pinniped/CHANGELOG.md
  bitnami/pinniped/Chart.lock
  bitnami/pinniped/Chart.yaml
  bitnami/pinniped/templates/supervisor/ingress.yaml
Labels: verify, pinniped, bitnami

#33366 [bitnami/gitlab-runner] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/gitlab-runner/CHANGELOG.md
  bitnami/gitlab-runner/Chart.yaml
  bitnami/gitlab-runner/templates/hpa.yaml
  bitnami/gitlab-runner/templates/session-server-ingress.yaml
Labels: verify, bitnami, gitlab-runner

#33365 [bitnami/gitea] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/gitea/CHANGELOG.md
  bitnami/gitea/Chart.lock
  bitnami/gitea/Chart.yaml
  bitnami/gitea/templates/ingress.yaml
Labels: verify, bitnami, gitea

#33364 [bitnami/ghost] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/ghost/CHANGELOG.md
  bitnami/ghost/Chart.lock
  bitnami/ghost/Chart.yaml
  bitnami/ghost/templates/ingress.yaml
Labels: verify, bitnami, ghost

#33363 [bitnami/flux] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/flux/CHANGELOG.md
  bitnami/flux/Chart.lock
  bitnami/flux/Chart.yaml
Labels: verify, bitnami, flux

#33360 [bitnami/flink] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/flink/CHANGELOG.md
  bitnami/flink/Chart.lock
  bitnami/flink/Chart.yaml
Labels: verify, bitnami, flink

#33357 [bitnami/envoy-gateway] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/envoy-gateway/CHANGELOG.md
  bitnami/envoy-gateway/Chart.lock
  bitnami/envoy-gateway/Chart.yaml
  bitnami/envoy-gateway/templates/hpa.yaml
Labels: verify, bitnami, envoy-gateway

#33356 [bitnami/elasticsearch] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/elasticsearch/CHANGELOG.md
  bitnami/elasticsearch/Chart.lock
  bitnami/elasticsearch/Chart.yaml
  bitnami/elasticsearch/templates/coordinating/hpa.yaml
  bitnami/elasticsearch/templates/data/hpa.yaml
  bitnami/elasticsearch/templates/ingest/hpa.yaml
  bitnami/elasticsearch/templates/ingest/ingress.yaml
  bitnami/elasticsearch/templates/ingress.yaml
  bitnami/elasticsearch/templates/master/hpa.yaml
Labels: verify, bitnami, elasticsearch

#33352 [bitnami/discourse] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/discourse/CHANGELOG.md
  bitnami/discourse/Chart.lock
  bitnami/discourse/Chart.yaml
  bitnami/discourse/templates/ingress.yaml
Labels: verify, bitnami, discourse

#33359 [bitnami/external-dns] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/external-dns/CHANGELOG.md
  bitnami/external-dns/Chart.lock
  bitnami/external-dns/Chart.yaml
Labels: verify, bitnami, external-dns

#33353 [bitnami/dremio] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/dremio/CHANGELOG.md
  bitnami/dremio/Chart.lock
  bitnami/dremio/Chart.yaml
  bitnami/dremio/templates/coordinator/hpa.yaml
  bitnami/dremio/templates/executor/hpa.yaml
  bitnami/dremio/templates/ingress.yaml
  bitnami/dremio/templates/master-coordinator/hpa.yaml
Labels: verify, bitnami, dremio

#33348 [bitnami/concourse] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/concourse/CHANGELOG.md
  bitnami/concourse/Chart.lock
  bitnami/concourse/Chart.yaml
  bitnami/concourse/templates/web/ingress.yaml
Labels: verify, bitnami, concourse

#33347 [bitnami/cloudnative-pg] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/cloudnative-pg/CHANGELOG.md
  bitnami/cloudnative-pg/Chart.lock
  bitnami/cloudnative-pg/Chart.yaml
  bitnami/cloudnative-pg/templates/hpa.yaml
Labels: verify, bitnami, cloudnative-pg

#33346 [bitnami/clickhouse-operator] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/clickhouse-operator/CHANGELOG.md
  bitnami/clickhouse-operator/Chart.lock
  bitnami/clickhouse-operator/Chart.yaml
  bitnami/clickhouse-operator/templates/hpa.yaml
Labels: verify, bitnami, clickhouse-operator

#33339 [bitnami/aspnet-core] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/aspnet-core/CHANGELOG.md
  bitnami/aspnet-core/Chart.lock
  bitnami/aspnet-core/Chart.yaml
  bitnami/aspnet-core/templates/health-ingress.yaml
  bitnami/aspnet-core/templates/hpa.yaml
  bitnami/aspnet-core/templates/ingress.yaml
Labels: verify, bitnami, aspnet-core

#33341 [bitnami/cassandra] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/cassandra/CHANGELOG.md
  bitnami/cassandra/Chart.lock
  bitnami/cassandra/Chart.yaml
Labels: verify, bitnami, cassandra

#33340 [bitnami/cadvisor] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/cadvisor/CHANGELOG.md
  bitnami/cadvisor/Chart.lock
  bitnami/cadvisor/Chart.yaml
  bitnami/cadvisor/templates/ingress.yaml
Labels: verify, bitnami

#33338 [bitnami/argo-workflows] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/argo-workflows/CHANGELOG.md
  bitnami/argo-workflows/Chart.lock
  bitnami/argo-workflows/Chart.yaml
  bitnami/argo-workflows/templates/server/ingress.yaml
Labels: verify, argo-workflows, bitnami

#33337 [bitnami/argo-cd] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/argo-cd/CHANGELOG.md
  bitnami/argo-cd/Chart.lock
  bitnami/argo-cd/Chart.yaml
  bitnami/argo-cd/templates/applicationset/ingress-webhook.yaml
  bitnami/argo-cd/templates/repo-server/hpa.yaml
  bitnami/argo-cd/templates/server/hpa.yaml
  bitnami/argo-cd/templates/server/ingress-grcp.yaml
  bitnami/argo-cd/templates/server/ingress.yaml
Labels: verify, bitnami, argo-cd

#33334 [bitnami/apache] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/apache/CHANGELOG.md
  bitnami/apache/Chart.lock
  bitnami/apache/Chart.yaml
  bitnami/apache/templates/hpa.yaml
  bitnami/apache/templates/ingress.yaml
Labels: verify, apache, bitnami

#33335 [bitnami/apisix] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/apisix/CHANGELOG.md
  bitnami/apisix/Chart.lock
  bitnami/apisix/Chart.yaml
  bitnami/apisix/templates/control-plane/hpa.yaml
  bitnami/apisix/templates/control-plane/ingress.yaml
  bitnami/apisix/templates/dashboard/hpa.yaml
  bitnami/apisix/templates/dashboard/ingress.yaml
  bitnami/apisix/templates/data-plane/hpa.yaml
  bitnami/apisix/templates/data-plane/ingress.yaml
  bitnami/apisix/templates/ingress-controller/hpa.yaml
  bitnami/apisix/templates/ingress-controller/ingress.yaml
Labels: verify, bitnami, apisix

#33342 [bitnami/cert-manager] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/cert-manager/CHANGELOG.md
  bitnami/cert-manager/Chart.lock
  bitnami/cert-manager/Chart.yaml
Labels: verify, bitnami, cert-manager

#33344 [bitnami/cilium] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/cilium/CHANGELOG.md
  bitnami/cilium/Chart.lock
  bitnami/cilium/Chart.yaml
  bitnami/cilium/templates/hubble-relay/hpa.yaml
  bitnami/cilium/templates/hubble-ui/hpa.yaml
  bitnami/cilium/templates/hubble-ui/ingress.yaml
  bitnami/cilium/templates/operator/hpa.yaml
Labels: verify, bitnami, cilium

#33461 [bitnami/airflow] Expose topologyKey for all objects
  bitnami/airflow/CHANGELOG.md
  bitnami/airflow/Chart.yaml
  bitnami/airflow/README.md
  bitnami/airflow/templates/config/configmap-pod-template.yaml
  bitnami/airflow/templates/dag-processor/deployment.yaml
  bitnami/airflow/templates/metrics/deployment.yaml
  bitnami/airflow/templates/scheduler/deployment.yaml
  bitnami/airflow/templates/setup-db-job.yaml
  bitnami/airflow/templates/triggerer/statefulset.yaml
  bitnami/airflow/templates/web/deployment.yaml
  bitnami/airflow/templates/worker/statefulset.yaml
  bitnami/airflow/values.yaml
Labels: verify, airflow

#33459 [bitnami/redis] fix pod-monitor podTargetLabels conditional
  bitnami/redis/CHANGELOG.md
  bitnami/redis/Chart.yaml
  bitnami/redis/templates/podmonitor.yaml
Labels: verify, in-progress, redis

#33402 [bitnami/minio] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/minio/CHANGELOG.md
  bitnami/minio/Chart.lock
  bitnami/minio/Chart.yaml
  bitnami/minio/templates/api-ingress.yaml
  bitnami/minio/templates/ingress.yaml
Labels: verify, bitnami, minio

#33444 [bitnami/valkey-cluster] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/valkey-cluster/CHANGELOG.md
  bitnami/valkey-cluster/Chart.lock
  bitnami/valkey-cluster/Chart.yaml
  bitnami/valkey-cluster/templates/_helpers.tpl
  bitnami/valkey-cluster/templates/networkpolicy.yaml
Labels: verify, bitnami, valkey-cluster

#33310 [bitnami/solr] Add persistentvolumeclaim retention on solr statefulset
  bitnami/solr/CHANGELOG.md
  bitnami/solr/Chart.yaml
  bitnami/solr/README.md
  bitnami/solr/templates/statefulset.yaml
  bitnami/solr/values.yaml
Labels: verify, in-progress, solr

#33446 [bitnami/victoriametrics] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/victoriametrics/CHANGELOG.md
  bitnami/victoriametrics/Chart.lock
  bitnami/victoriametrics/Chart.yaml
  bitnami/victoriametrics/templates/vmagent/hpa.yaml
  bitnami/victoriametrics/templates/vmalert/hpa.yaml
  bitnami/victoriametrics/templates/vmauth/hpa.yaml
  bitnami/victoriametrics/templates/vmauth/ingress.yaml
  bitnami/victoriametrics/templates/vminsert/hpa.yaml
  bitnami/victoriametrics/templates/vminsert/ingress.yaml
  bitnami/victoriametrics/templates/vmselect/hpa.yaml
  bitnami/victoriametrics/templates/vmselect/ingress.yaml
  bitnami/victoriametrics/templates/vmstorage/hpa.yaml
Labels: verify, bitnami, victoriametrics

#33355 [bitnami/ejbca] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/ejbca/CHANGELOG.md
  bitnami/ejbca/Chart.lock
  bitnami/ejbca/Chart.yaml
  bitnami/ejbca/templates/_helpers.tpl
  bitnami/ejbca/templates/ingress.yaml
Labels: verify, bitnami, ejbca

#33436 [bitnami/sonarqube] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/sonarqube/CHANGELOG.md
  bitnami/sonarqube/Chart.lock
  bitnami/sonarqube/Chart.yaml
  bitnami/sonarqube/templates/ingress.yaml
Labels: verify, bitnami, sonarqube

#33351 [bitnami/deepspeed] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/deepspeed/CHANGELOG.md
  bitnami/deepspeed/Chart.lock
  bitnami/deepspeed/Chart.yaml
  bitnami/deepspeed/README.md
  bitnami/deepspeed/values.yaml
Labels: verify, bitnami, deepspeed

#33375 [bitnami/jaeger] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/jaeger/CHANGELOG.md
  bitnami/jaeger/Chart.lock
  bitnami/jaeger/Chart.yaml
Labels: verify, bitnami, jaeger, skip-score

#33445 [bitnami/vault] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/vault/CHANGELOG.md
  bitnami/vault/Chart.lock
  bitnami/vault/Chart.yaml
  bitnami/vault/templates/injector/hpa.yaml
  bitnami/vault/templates/server/ingress.yaml
Labels: verify, bitnami, vault

#33440 [bitnami/tensorflow-resnet] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/tensorflow-resnet/CHANGELOG.md
  bitnami/tensorflow-resnet/Chart.lock
  bitnami/tensorflow-resnet/Chart.yaml
Labels: verify, bitnami, tensorflow-resnet

#33429 [bitnami/redis-cluster] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/redis-cluster/CHANGELOG.md
  bitnami/redis-cluster/Chart.lock
  bitnami/redis-cluster/Chart.yaml
  bitnami/redis-cluster/templates/_helpers.tpl
  bitnami/redis-cluster/templates/networkpolicy.yaml
  bitnami/redis-cluster/templates/redis-role.yaml
  bitnami/redis-cluster/templates/redis-statefulset.yaml
Labels: verify, bitnami, redis-cluster

#33362 [bitnami/fluentd] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/fluentd/CHANGELOG.md
  bitnami/fluentd/Chart.lock
  bitnami/fluentd/Chart.yaml
  bitnami/fluentd/templates/ingress.yaml
Labels: verify, bitnami, fluentd

#33358 [bitnami/etcd] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/etcd/CHANGELOG.md
  bitnami/etcd/Chart.lock
  bitnami/etcd/Chart.yaml
Labels: verify, bitnami, etcd, skip-score

#33396 [bitnami/matomo] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/matomo/CHANGELOG.md
  bitnami/matomo/Chart.lock
  bitnami/matomo/Chart.yaml
  bitnami/matomo/templates/ingress.yaml
Labels: verify, bitnami, matomo, skip-score

#33410 [bitnami/nats] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/nats/CHANGELOG.md
  bitnami/nats/Chart.lock
  bitnami/nats/Chart.yaml
  bitnami/nats/templates/ingress.yaml
Labels: verify, bitnami, nats

#33431 [bitnami/schema-registry] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/schema-registry/CHANGELOG.md
  bitnami/schema-registry/Chart.lock
  bitnami/schema-registry/Chart.yaml
  bitnami/schema-registry/templates/ingress.yaml
Labels: verify, bitnami, schema-registry

#33435 [bitnami/solr] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/solr/CHANGELOG.md
  bitnami/solr/Chart.lock
  bitnami/solr/Chart.yaml
  bitnami/solr/templates/ingress.yaml
Labels: verify, bitnami, solr

#33418 [bitnami/opensearch] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  bitnami/opensearch/CHANGELOG.md
  bitnami/opensearch/Chart.lock
  bitnami/opensearch/Chart.yaml
  bitnami/opensearch/templates/coordinating/hpa.yaml
  bitnami/opensearch/templates/dashboards/hpa.yaml
  bitnami/opensearch/templates/dashboards/ingress.yaml
  bitnami/opensearch/templates/data/hpa.yaml
  bitnami/opensearch/templates/ingest/hpa.yaml
  bitnami/opensearch/templates/ingest/ingress.yaml
  bitnami/opensearch/templates/ingress.yaml
  bitnami/opensearch/templates/master/hpa.yaml
Labels: verify, bitnami, opensearch

#33176 [jupyterhub] Fix singleuser image pull secrets
  bitnami/jupyterhub/CHANGELOG.md
  bitnami/jupyterhub/Chart.yaml
  bitnami/jupyterhub/templates/_helpers.tpl
Labels: verify, in-progress, jupyterhub

#33439 [bitnami/superset] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  .vib/superset/runtime-parameters.yaml
  bitnami/superset/CHANGELOG.md
  bitnami/superset/Chart.lock
  bitnami/superset/Chart.yaml
  bitnami/superset/templates/flower/hpa.yaml
  bitnami/superset/templates/ingress.yaml
  bitnami/superset/templates/web/hpa.yaml
  bitnami/superset/templates/worker/hpa.yaml
Labels: verify, bitnami, superset

#33513 [bitnami/template] chore: :recycle: Remove deprecated APIs (<1.23.0)
  template/CHART_NAME/templates/hpa.yaml
  template/CHART_NAME/templates/ingress.yaml
Labels: verify, bitnami

#33500 [bitnami/argo-cd] feat!: :arrow_up: :boom: Bump Redis(R) to 8.0
  bitnami/argo-cd/CHANGELOG.md
  bitnami/argo-cd/Chart.lock
  bitnami/argo-cd/Chart.yaml
  bitnami/argo-cd/README.md
Labels: verify, bitnami, argo-cd

#33496 [bitnami/common] chore: :recycle: Remove unused helpers
  bitnami/common/CHANGELOG.md
  bitnami/common/Chart.yaml
  bitnami/common/templates/_ingress.tpl
Labels: verify, bitnami, common

#33501 [bitnami/discourse] feat!: :arrow_up: :boom: Bump Redis(R) to 8.0
  bitnami/discourse/CHANGELOG.md
  bitnami/discourse/Chart.lock
  bitnami/discourse/Chart.yaml
  bitnami/discourse/README.md
Labels: verify, bitnami, discourse

#33503 [bitnami/kubeapps] feat!: :arrow_up: :boom: Bump Redis(R) to 8.0
  bitnami/kubeapps/CHANGELOG.md
  bitnami/kubeapps/Chart.lock
  bitnami/kubeapps/Chart.yaml
  bitnami/kubeapps/README.md
Labels: verify, bitnami, kubeapps

#33505 [bitnami/mastodon] feat!: :arrow_up: :boom: Bump Redis(R) to 8.0
  bitnami/mastodon/CHANGELOG.md
  bitnami/mastodon/Chart.lock
  bitnami/mastodon/Chart.yaml
  bitnami/mastodon/README.md
Labels: verify, bitnami

#33507 [bitnami/oauth2-proxy] feat!: :arrow_up: :boom: Bump Redis(R) to 8.0
  bitnami/oauth2-proxy/CHANGELOG.md
  bitnami/oauth2-proxy/Chart.lock
  bitnami/oauth2-proxy/Chart.yaml
  bitnami/oauth2-proxy/README.md
Labels: verify, bitnami, oauth2-proxy

#33512 [bitnami/superset] feat!: :arrow_up: :boom: Bump Redis(R) to 8.0
  bitnami/superset/CHANGELOG.md
  bitnami/superset/Chart.lock
  bitnami/superset/Chart.yaml
  bitnami/superset/README.md
Labels: verify, bitnami, superset

#33497 [bitnami/appsmith] feat!: :arrow_up: :boom: Bump Redis(R) to 8.0
  bitnami/appsmith/CHANGELOG.md
  bitnami/appsmith/Chart.lock
  bitnami/appsmith/Chart.yaml
  bitnami/appsmith/README.md
Labels: verify, bitnami, appsmith

#33333 [bitnami/airflow] chore: :recycle: :arrow_up: Update common and remove k8s < 1.23 references
  .vib/airflow/runtime-parameters.yaml
  .vib/airflow/vib-action.config
  bitnami/airflow/CHANGELOG.md
  bitnami/airflow/Chart.lock
  bitnami/airflow/Chart.yaml
  bitnami/airflow/templates/dag-processor/hpa.yaml
  bitnami/airflow/templates/scheduler/hpa.yaml
  bitnami/airflow/templates/triggerer/hpa.yaml
  bitnami/airflow/templates/web/hpa.yaml
  bitnami/airflow/templates/web/ingress.yaml
  bitnami/airflow/templates/worker/hpa.yaml
Labels: verify, airflow, bitnami

#33518 [bitnami/airflow] feat!: :arrow_up: :boom: Bump Redis(R) to 8.0
  bitnami/airflow/CHANGELOG.md
  bitnami/airflow/Chart.lock
  bitnami/airflow/Chart.yaml
  bitnami/airflow/README.md
Labels: verify, airflow, bitnami

#33321 [bitnami/etcd]fix(cronjob-defrag):Remove JWT restrictions
  bitnami/etcd/CHANGELOG.md
  bitnami/etcd/Chart.yaml
  bitnami/etcd/templates/cronjob-defrag.yaml
  bitnami/etcd/templates/secrets.yaml
  bitnami/etcd/templates/token-secrets.yaml
Labels: verify, bitnami, etcd

#33552 [bitnami/postgresql-ha] feat: Customizable Stream Replication Check credentials
  .vib/postgresql-ha/goss/pgpool/goss.yaml
  .vib/postgresql-ha/goss/repmgr/goss.yaml
  .vib/postgresql-ha/runtime-parameters.yaml
  bitnami/postgresql-ha/CHANGELOG.md
  bitnami/postgresql-ha/Chart.yaml
  bitnami/postgresql-ha/README.md
  bitnami/postgresql-ha/templates/NOTES.txt
  bitnami/postgresql-ha/templates/_helpers.tpl
  bitnami/postgresql-ha/templates/pgpool/configmap.yaml
  bitnami/postgresql-ha/templates/pgpool/deployment.yaml
  bitnami/postgresql-ha/templates/pgpool/secrets.yaml
  bitnami/postgresql-ha/templates/postgresql/secrets.yaml
  bitnami/postgresql-ha/templates/postgresql/statefulset.yaml
  bitnami/postgresql-ha/values.yaml
Labels: verify, bitnami, postgresql-ha

#33198 [bitnami/postgresql] Global postgres fullname override, needed when the fullname needs to be shared across subcharts.
  bitnami/postgresql/CHANGELOG.md
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/README.md
  bitnami/postgresql/templates/_helpers.tpl
  bitnami/postgresql/values.yaml
Labels: verify, in-progress, postgresql

#33567 [bitnami/postgresql-ha] ci: improve stability on Ginkgo tests
  .vib/postgresql-ha/ginkgo/postgresql_suite_test.go
  bitnami/postgresql-ha/CHANGELOG.md
  bitnami/postgresql-ha/Chart.yaml
Labels: verify, bitnami, postgresql-ha

#33578 [bitnami/kubeapps] Deprecate Helm chart
  bitnami/kubeapps/CHANGELOG.md
  bitnami/kubeapps/Chart.yaml
  bitnami/kubeapps/README.md
  bitnami/kubeapps/templates/NOTES.txt
Labels: verify, bitnami, kubeapps

#33502 [bitnami/harbor] feat!: :arrow_up: :boom: Bump Redis(R) to 8.0
  bitnami/harbor/CHANGELOG.md
  bitnami/harbor/Chart.lock
  bitnami/harbor/Chart.yaml
  bitnami/harbor/README.md
Labels: verify, bitnami, harbor

#33052 [bitnami/superset] fix ingress with extraHosts failed to deploy
  bitnami/superset/CHANGELOG.md
  bitnami/superset/Chart.yaml
  bitnami/superset/templates/ingress.yaml
Labels: verify, in-progress, superset

#33525 [bitnami/prometheus] Allow tpl for ingress hostnames and allow ingress annotations to be both map object and string
  bitnami/prometheus/CHANGELOG.md
  bitnami/prometheus/Chart.yaml
  bitnami/prometheus/templates/alertmanager/ingress.yaml
  bitnami/prometheus/templates/server/ingress.yaml
  bitnami/prometheus/templates/server/thanos-ingress.yaml
  bitnami/prometheus/values.schema.json
Labels: verify, in-progress, prometheus

#33606 [bitnami/clickhouse-operator] feat: :sparkles: Allow setting IP Families
  bitnami/clickhouse-operator/CHANGELOG.md
  bitnami/clickhouse-operator/Chart.lock
  bitnami/clickhouse-operator/Chart.yaml
  bitnami/clickhouse-operator/README.md
  bitnami/clickhouse-operator/templates/_helpers.tpl
  bitnami/clickhouse-operator/templates/chi-configd-configmap.yaml
  bitnami/clickhouse-operator/templates/chk-configd-configmap.yaml
  bitnami/clickhouse-operator/values.yaml
Labels: verify, bitnami, clickhouse-operator

#33582 [bitnami/jupyterhub] Init containers can be used with external PostgreSQL
  bitnami/jupyterhub/CHANGELOG.md
  bitnami/jupyterhub/Chart.yaml
  bitnami/jupyterhub/templates/hub/deployment.yaml
Labels: verify, in-progress, jupyterhub

#33613 [bitnami/mysql] Update MySQL docs
  bitnami/mysql/README.md
  bitnami/spring-cloud-dataflow/README.md
Labels: verify, bitnami

#33609 [bitnami/ghost] Update MySQL subchart
  bitnami/ghost/CHANGELOG.md
  bitnami/ghost/Chart.lock
  bitnami/ghost/Chart.yaml
  bitnami/ghost/README.md
Labels: verify, bitnami, ghost

#33616 [bitnami/postgresql] Support for global postgresql fullnameOverride
  bitnami/postgresql/CHANGELOG.md
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/templates/NOTES.txt
  bitnami/postgresql/templates/_helpers.tpl
  bitnami/postgresql/templates/prometheusrule.yaml
  bitnami/postgresql/templates/psp.yaml
  bitnami/postgresql/templates/role.yaml
  bitnami/postgresql/templates/rolebinding.yaml
  bitnami/postgresql/templates/secrets.yaml
  bitnami/postgresql/templates/tls-secrets.yaml
  bitnami/postgresql/templates/update-password/job.yaml
  bitnami/postgresql/templates/update-password/new-secret.yaml
  bitnami/postgresql/templates/update-password/previous-secret.yaml
  bitnami/postgresql/values.yaml
Labels: verify, in-progress, postgresql

#33659 [bitnami-postgresql-ha] docs: document security fix on 16.0.0
  bitnami/postgresql-ha/CHANGELOG.md
  bitnami/postgresql-ha/README.md
Labels: verify, bitnami, postgresql-ha

#33546 [bitnami/redis] Allow grabbing sentinel acl configuration from userSecret
  bitnami/redis/CHANGELOG.md
  bitnami/redis/Chart.yaml
  bitnami/redis/templates/configmap.yaml
Labels: verify, in-progress, redis

#33282 [bitnami/kibana] Add overwrite parameter to import saved objects managing
  bitnami/kibana/CHANGELOG.md
  bitnami/kibana/Chart.yaml
  bitnami/kibana/README.md
  bitnami/kibana/templates/saved-objects-configmap.yaml
  bitnami/kibana/values.yaml
Labels: verify, in-progress, kibana

#33680 [bitnami/harbor] update tracing environment variables and escaping
  bitnami/harbor/CHANGELOG.md
  bitnami/harbor/Chart.yaml
  bitnami/harbor/templates/_helpers.tpl
Labels: verify, in-progress, harbor

#33695 [bitnami/*] Add CNAB link for charts on Azure MP
  bitnami/argo-cd/README.md
  bitnami/clickhouse/README.md
  bitnami/kafka/README.md
  bitnami/kube-prometheus/README.md
  bitnami/minio/README.md
  bitnami/mongodb/README.md
  bitnami/nginx/README.md
  bitnami/postgresql/README.md
  bitnami/rabbitmq/README.md
  bitnami/redis/README.md
Labels: verify, bitnami

#33696 [bitnami/airflow] Validate executors and fix LocalExecutor
  bitnami/airflow/CHANGELOG.md
  bitnami/airflow/Chart.yaml
  bitnami/airflow/README.md
  bitnami/airflow/templates/_helpers.tpl
  bitnami/airflow/templates/scheduler/deployment.yaml
  bitnami/airflow/templates/scheduler/service-headless.yaml
  bitnami/airflow/values.yaml
Labels: verify, airflow

#33689 [bitnami/grafana] Grafana uniq dashboard volumes
  bitnami/grafana/CHANGELOG.md
  bitnami/grafana/Chart.yaml
  bitnami/grafana/templates/deployment.yaml
Labels: verify, in-progress, grafana

#33714 [bitnami/grafana] fix metrics namespace include
  bitnami/grafana/CHANGELOG.md
  bitnami/grafana/Chart.yaml
  bitnami/grafana/templates/prometheusrules.yaml
  bitnami/grafana/templates/servicemonitor.yaml
Labels: verify, solved, grafana

#33232 [bitnami/elasticsearch] add shareProcessNamespace support
  bitnami/elasticsearch/CHANGELOG.md
  bitnami/elasticsearch/Chart.yaml
  bitnami/elasticsearch/README.md
  bitnami/elasticsearch/templates/coordinating/statefulset.yaml
  bitnami/elasticsearch/templates/data/statefulset.yaml
  bitnami/elasticsearch/templates/ingest/statefulset.yaml
  bitnami/elasticsearch/templates/master/statefulset.yaml
  bitnami/elasticsearch/values.yaml
Labels: verify, in-progress, elasticsearch

#33741 [bitnami/*] Update CNAB tip
  bitnami/argo-cd/README.md
  bitnami/clickhouse/README.md
  bitnami/kafka/README.md
  bitnami/kube-prometheus/README.md
  bitnami/minio/README.md
  bitnami/mongodb/README.md
  bitnami/nginx/README.md
  bitnami/postgresql/README.md
  bitnami/rabbitmq/README.md
  bitnami/redis/README.md
Labels: verify, bitnami

#33742 [bitnami/opensearch] opensearch: Increase resourcesPreset for master, coordinating and ingest nodes
  bitnami/opensearch/CHANGELOG.md
  bitnami/opensearch/Chart.yaml
  bitnami/opensearch/README.md
  bitnami/opensearch/values.yaml
Labels: verify, bitnami, opensearch

#33691 [bitnami/kube-prometheus] Add support for nameValidationScheme
  bitnami/kube-prometheus/CHANGELOG.md
  bitnami/kube-prometheus/Chart.yaml
  bitnami/kube-prometheus/README.md
  bitnami/kube-prometheus/templates/prometheus/prometheus.yaml
  bitnami/kube-prometheus/values.yaml
Labels: verify, in-progress, kube-prometheus

#33672 [bitnami/grafana] Deterministic admin password secret + saving password for future uses if .Values.admin.password is not set
  bitnami/grafana/CHANGELOG.md
  bitnami/grafana/Chart.yaml
  bitnami/grafana/templates/secret.yaml
Labels: verify, in-progress, grafana

#33180 [bitnami/thanos] Allow custom objstore secret key in receive component
  bitnami/thanos/CHANGELOG.md
  bitnami/thanos/Chart.yaml
  bitnami/thanos/README.md
  bitnami/thanos/templates/_helpers.tpl
  bitnami/thanos/templates/receive/statefulset.yaml
Labels: verify, in-progress, thanos

#33753 [clickhouse-operator] ci: remove hack on runtime parameters
  .vib/clickhouse-operator/runtime-parameters.yaml
  bitnami/clickhouse-operator/CHANGELOG.md
  bitnami/clickhouse-operator/Chart.yaml
  bitnami/clickhouse-operator/values.yaml
Labels: verify, bitnami, clickhouse-operator

#33668 [bitnami/grafana-loki] dataDir value substitution instead of static config
  bitnami/grafana-loki/CHANGELOG.md
  bitnami/grafana-loki/Chart.yaml
  bitnami/grafana-loki/templates/NOTES.txt
  bitnami/grafana-loki/templates/compactor/deployment.yaml
Labels: verify, in-progress, grafana-loki

#33722 [bitnami/prometheus] Added variable whether to include the default cluster role rules in rbac
  bitnami/prometheus/CHANGELOG.md
  bitnami/prometheus/Chart.yaml
  bitnami/prometheus/README.md
  bitnami/prometheus/templates/server/clusterrole.yaml
  bitnami/prometheus/values.yaml
Labels: verify, in-progress, prometheus

#33740 [bitnami/kafka][bitnami/charts/issues/32851] Update controller and broker configuration when enabling controller.controllerOnly
  bitnami/kafka/CHANGELOG.md
  bitnami/kafka/Chart.yaml
  bitnami/kafka/README.md
  bitnami/kafka/templates/_helpers.tpl
  bitnami/kafka/templates/broker/configmap.yaml
  bitnami/kafka/templates/controller-eligible/configmap.yaml
Labels: verify, kafka, bitnami

#32885 [bitnami/keycloak] Improvements to Keycloak cache handling
  bitnami/keycloak/CHANGELOG.md
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/README.md
  bitnami/keycloak/templates/configmap-env-vars.yaml
  bitnami/keycloak/values.yaml
Labels: verify, in-progress, keycloak

#33550 [bitnami/etcd] Allow release namespace to be overridden
  bitnami/etcd/CHANGELOG.md
  bitnami/etcd/Chart.yaml
  bitnami/etcd/README.md
  bitnami/etcd/templates/NOTES.txt
  bitnami/etcd/templates/_helpers.tpl
  bitnami/etcd/templates/configmap.yaml
  bitnami/etcd/templates/cronjob-defrag.yaml
  bitnami/etcd/templates/cronjob-snapshotter.yaml
  bitnami/etcd/templates/networkpolicy.yaml
  bitnami/etcd/templates/podmonitor.yaml
  bitnami/etcd/templates/preupgrade-hook-job.yaml
  bitnami/etcd/templates/prometheusrule.yaml
  bitnami/etcd/templates/secrets.yaml
  bitnami/etcd/templates/serviceaccount.yaml
  bitnami/etcd/templates/snapshot-pvc.yaml
  bitnami/etcd/templates/statefulset.yaml
  bitnami/etcd/templates/svc-headless.yaml
  bitnami/etcd/templates/svc.yaml
  bitnami/etcd/templates/token-secrets.yaml
  bitnami/etcd/values.yaml
Labels: verify, in-progress, etcd

#33786 [bitnami/postgresql-ha] bugfix: missing password for 'postgres' user when using custom user/db
  bitnami/postgresql-ha/CHANGELOG.md
  bitnami/postgresql-ha/Chart.yaml
  bitnami/postgresql-ha/templates/_helpers.tpl
  bitnami/postgresql-ha/templates/postgresql/statefulset.yaml
  bitnami/postgresql-ha/templates/postgresql/witness-statefulset.yaml
Labels: verify, bitnami, postgresql-ha
