Repository bitnami/charts, pull requests merged in 2025-10, with the labels that each got.

#36274 Remove unused actions
  .github/workflows/cd-pipeline.yml
  .github/workflows/ci-pipeline.yml
  .github/workflows/index-monitor.yml
  .github/workflows/index-update.yml
  .github/workflows/retry-failed-releases.yml
Labels: verify, bitnami

#36311 fix(ci-workflow): Allow changelog commits on forked repositories
  .github/workflows/ci-pipeline.yml
Labels: verify, airflow, bitnami

#36282 [bitnami/keycloak] Fix indentation in ingress TLS secret template
  bitnami/keycloak/CHANGELOG.md
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/templates/ingress-tls-secret.yaml
Labels: verify, in-progress, keycloak

#36321 [bitnami/cassandra] Fix tls autoGenerated when using usePasswordFiles
  bitnami/cassandra/CHANGELOG.md
  bitnami/cassandra/Chart.yaml
  bitnami/cassandra/templates/statefulset.yaml
Labels: verify, bitnami, cassandra

#36324 [bitnami/common] Replace "+" to "_" in value of app.kubernetes.io/version
  bitnami/common/CHANGELOG.md
  bitnami/common/Chart.yaml
  bitnami/common/templates/_labels.tpl
Labels: triage, common

#36322 Split CI workflow and add more verification steps
  .github/actions/get-chart/action.yaml
  .github/workflows/ci-update.yml
  .github/workflows/ci-verify.yml
Labels: verify, bitnami

#36332 Recover actions related to index
  .github/workflows/index-monitor.yml
  .github/workflows/index-update.yml
Labels: verify, bitnami

#36328 [bitnami/postgresql]Update kubectl command for creating secrets
  bitnami/postgresql/README.md
Labels: in-progress, postgresql

#36252 [bitnami/apisix] Fixed bug caused by inconsistent usage of context with dataPlane.extraEnvVars
  bitnami/apisix/CHANGELOG.md
  bitnami/apisix/Chart.yaml
  bitnami/apisix/templates/_helpers.tpl
Labels: verify, in-progress, apisix

#36254 [bitnami/keycloak] Fix: Rename duplicated secret labels
  bitnami/keycloak/CHANGELOG.md
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/templates/tls-pass-secret.yaml
Labels: verify, in-progress, keycloak
