Repository bitnami/charts, pull requests merged in 2025-07, with the labels that each got.

#34729 [bitnami/keydb] Fix StatefulSet capitalization in replica HPA
  bitnami/keydb/CHANGELOG.md
  bitnami/keydb/Chart.yaml
  bitnami/keydb/templates/replica/hpa.yaml
Labels: verify, in-progress, keydb

#34767 [bitnami/etcd] Fix protocol selection in defrag job
  bitnami/etcd/CHANGELOG.md
  bitnami/etcd/Chart.yaml
  bitnami/etcd/templates/cronjob-defrag.yaml
Labels: verify, in-progress, etcd

#34772 [bitnami/kafka] fix: Correct extraListeners rendering to avoid malformed YAML
  bitnami/kafka/CHANGELOG.md
  bitnami/kafka/Chart.yaml
  bitnami/kafka/templates/_helpers.tpl
Labels: verify, in-progress, kafka

#34783 [bitnami/deepspeed] Wrong input expected by the helper function
  bitnami/deepspeed/CHANGELOG.md
  bitnami/deepspeed/Chart.yaml
  bitnami/deepspeed/templates/client/client-dep-job.yaml
Labels: verify, bitnami, deepspeed

#34782 [bitnami/external-dns] Add Support for Cloudflare Regional Services Configuration
  bitnami/external-dns/CHANGELOG.md
  bitnami/external-dns/Chart.yaml
  bitnami/external-dns/README.md
  bitnami/external-dns/templates/deployment.yaml
  bitnami/external-dns/values.yaml
Labels: verify, in-progress, external-dns

#34793 [bitnami/kuberay] Update `operator.metrics.serviceMonitor.honorLabels` to keep in sync with upstream chart
  bitnami/kuberay/CHANGELOG.md
  bitnami/kuberay/Chart.yaml
  bitnami/kuberay/README.md
  bitnami/kuberay/values.yaml
Labels: verify, in-progress, kuberay

#34801 fix prometheusRules syntax
  bitnami/nginx/CHANGELOG.md
  bitnami/nginx/Chart.yaml
  bitnami/nginx/templates/prometheusrules.yaml
Labels: verify, in-progress, nginx

#34804 [bitnami/memcached] Allow hostNetwork field to be specified
  bitnami/memcached/CHANGELOG.md
  bitnami/memcached/Chart.yaml
  bitnami/memcached/README.md
  bitnami/memcached/templates/deployment.yaml
  bitnami/memcached/templates/statefulset.yaml
  bitnami/memcached/values.yaml
Labels: verify, in-progress, memcached

#34829 [bitnami/fluent-bit] Remove healthcheck VIB test
  .vib/fluent-bit/vib-verify.json
  bitnami/fluent-bit/CHANGELOG.md
  bitnami/fluent-bit/Chart.yaml
Labels: verify, bitnami

#34665 [bitnami/sonarqube] Substitute SONAR_CE_JAVAADDITIONALOPTS by SONARQUBE_CE_JAVA_ADD_OPTS
  bitnami/sonarqube/CHANGELOG.md
  bitnami/sonarqube/Chart.yaml
  bitnami/sonarqube/README.md
  bitnami/sonarqube/templates/deployment.yaml
  bitnami/sonarqube/values.yaml
Labels: verify, in-progress, sonarqube

#33776 [bitnami/redis] Fix external service annotations ignored #33270
  .vib/redis/ginkgo/redis_suite_test.go
  bitnami/redis/CHANGELOG.md
  bitnami/redis/Chart.yaml
  bitnami/redis/templates/svc-external.yaml
Labels: verify, in-progress, redis

#31960 [bitnami/elasticsearch] remove copyTlsCerts init container
  bitnami/elasticsearch/CHANGELOG.md
  bitnami/elasticsearch/Chart.yaml
  bitnami/elasticsearch/README.md
  bitnami/elasticsearch/templates/NOTES.txt
  bitnami/elasticsearch/templates/_helpers.tpl
  bitnami/elasticsearch/templates/coordinating/statefulset.yaml
  bitnami/elasticsearch/templates/data/statefulset.yaml
  bitnami/elasticsearch/templates/ingest/statefulset.yaml
  bitnami/elasticsearch/templates/master/statefulset.yaml
  bitnami/elasticsearch/values.yaml
Labels: verify, in-progress, elasticsearch

#35036 [bitnami/minio] bugfix: reference to non-existing parameter
  bitnami/minio/CHANGELOG.md
  bitnami/minio/Chart.yaml
  bitnami/minio/templates/_helpers.tpl
Labels: verify, bitnami, minio

#35039 [bitnami/dremio] chore: create helper for headless svc name
  bitnami/dremio/CHANGELOG.md
  bitnami/dremio/Chart.yaml
  bitnami/dremio/templates/_helpers.tpl
  bitnami/dremio/templates/_init_containers.tpl
  bitnami/dremio/templates/bootstrap-user/job.yaml
  bitnami/dremio/templates/cert.yaml
  bitnami/dremio/templates/coordinator/statefulset.yaml
  bitnami/dremio/templates/executor/statefulset.yaml
  bitnami/dremio/templates/headless-service.yaml
  bitnami/dremio/templates/master-coordinator/statefulset.yaml
  bitnami/dremio/templates/tls-secret.yaml
Labels: verify, bitnami, dremio

#35042 [bitnami/gitlab-runner] feat: add paramters to customize Gitlab Runner Helper image
  bitnami/gitlab-runner/CHANGELOG.md
  bitnami/gitlab-runner/Chart.yaml
  bitnami/gitlab-runner/README.md
  bitnami/gitlab-runner/templates/NOTES.txt
  bitnami/gitlab-runner/templates/_helpers.tpl
  bitnami/gitlab-runner/templates/configmap.yaml
  bitnami/gitlab-runner/values.yaml
Labels: verify, bitnami, gitlab-runner

#35057 [bitnami/gitlab-runner] feat: add support for custom image_pull_secrets
  bitnami/gitlab-runner/CHANGELOG.md
  bitnami/gitlab-runner/Chart.yaml
  bitnami/gitlab-runner/templates/_helpers.tpl
  bitnami/gitlab-runner/values.yaml
Labels: verify, bitnami, gitlab-runner

#35059 [bitnami/kube-state-metrics] ci: VIB verify
  .vib/kube-state-metrics/goss/goss.yaml
  .vib/kube-state-metrics/runtime-parameters.yaml
  .vib/kube-state-metrics/vib-verify.json
  bitnami/kube-state-metrics/CHANGELOG.md
  bitnami/kube-state-metrics/Chart.yaml
Labels: verify, bitnami, kube-state-metrics

#35156 [bitnami/charts/issues/35055] Increase lenght of auto-generated password for MLFlow
  bitnami/mlflow/CHANGELOG.md
  bitnami/mlflow/Chart.yaml
  bitnami/mlflow/templates/tracking/auth-secret.yaml
Labels: verify, bitnami, mlflow

#35157 Update VIB public URL
  .github/workflows/cd-pipeline.yml
Labels: verify, bitnami

#35158 [bitnami/nessie] Recover quarkus specific environment variables
  bitnami/nessie/CHANGELOG.md
  bitnami/nessie/Chart.lock
  bitnami/nessie/Chart.yaml
  bitnami/nessie/README.md
  bitnami/nessie/templates/_helpers.tpl
  bitnami/nessie/templates/configmap.yaml
  bitnami/nessie/templates/deployment.yaml
Labels: verify, bitnami, nessie

#35145 [bitnami/template] Add missing quote for existingConfigmap settings
  template/CHART_NAME/values.yaml
Labels: verify, in-progress

#34827 [bitnami/fluentd] feat: Support for config dual-stack for services
  bitnami/fluentd/CHANGELOG.md
  bitnami/fluentd/Chart.yaml
  bitnami/fluentd/README.md
  bitnami/fluentd/templates/aggregator-svc.yaml
  bitnami/fluentd/templates/forwarder-svc.yaml
  bitnami/fluentd/values.yaml
Labels: verify, in-progress, fluentd

#35169 [bitnami/dremio] bugfix: conditions to disable S3 storage
  bitnami/dremio/CHANGELOG.md
  bitnami/dremio/Chart.yaml
  bitnami/dremio/templates/coordinator/statefulset.yaml
  bitnami/dremio/templates/executor/statefulset.yaml
  bitnami/dremio/templates/externals3-secret.yaml
  bitnami/dremio/templates/master-coordinator/statefulset.yaml
Labels: verify, bitnami, dremio

#35050 [bitnami/apache] Support custom scrape_uri in apache exporter
  bitnami/apache/CHANGELOG.md
  bitnami/apache/Chart.yaml
  bitnami/apache/README.md
  bitnami/apache/templates/deployment.yaml
  bitnami/apache/templates/networkpolicy.yaml
  bitnami/apache/values.yaml
Labels: verify, in-progress, apache

#35153 [bitnami/postgresql] Rename backup.cronjob.timeZone to backup.cronjob.timezone
  bitnami/postgresql/CHANGELOG.md
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/templates/backup/cronjob.yaml
Labels: verify, in-progress, postgresql

#34854 [bitnami/ghost] subPath fix
  bitnami/ghost/CHANGELOG.md
  bitnami/ghost/Chart.yaml
  bitnami/ghost/templates/deployment.yaml
Labels: verify, in-progress, ghost

#35171 [bitnami/redis] Add Redis Open Source 8 Load Modules Docs
  bitnami/redis/README.md
Labels: verify, in-progress, redis

#35222 [bitnami/wordpress] Update passwordFile secret mountPath
  bitnami/wordpress/CHANGELOG.md
  bitnami/wordpress/Chart.yaml
  bitnami/wordpress/templates/deployment.yaml
Labels: verify, bitnami, wordpress

#35238 [bitnami/thanos] Fix commonLabels on sharded storegateway
  bitnami/thanos/CHANGELOG.md
  bitnami/thanos/Chart.yaml
  bitnami/thanos/templates/storegateway/statefulset-sharded.yaml
Labels: verify, in-progress, thanos

#34806 [bitnami/redis] Bugfix/script prestop redis external access
  bitnami/redis/CHANGELOG.md
  bitnami/redis/Chart.yaml
  bitnami/redis/templates/scripts-configmap.yaml
Labels: verify, in-progress, redis

#35252 [bitnami/ghost] Upgrade MySQL subchart to 14
  bitnami/ghost/CHANGELOG.md
  bitnami/ghost/Chart.lock
  bitnami/ghost/Chart.yaml
  bitnami/ghost/README.md
Labels: verify, bitnami

#35255 [bitnami/kafka]fix(provisioning): Fix typo in initContainers
  bitnami/kafka/CHANGELOG.md
  bitnami/kafka/Chart.yaml
  bitnami/kafka/templates/provisioning/job.yaml
Labels: verify, kafka, bitnami

#35257 [bitnami/charts/issues/35218] Share context with apisix.etcd.authEnabled function
  bitnami/apisix/CHANGELOG.md
  bitnami/apisix/Chart.yaml
  bitnami/apisix/templates/_helpers.tpl
Labels: verify, bitnami, apisix

#34973 [bitnami/etcd] feat: introduce preUpgrade job delay
  bitnami/etcd/CHANGELOG.md
  bitnami/etcd/Chart.yaml
  bitnami/etcd/README.md
  bitnami/etcd/templates/preupgrade-hook-job.yaml
  bitnami/etcd/values.yaml
Labels: verify, in-progress, etcd

#35294 [bitnami/clickhouse] feat: MySQL & PostgreSQL ports to be optionally exposed
  bitnami/clickhouse/CHANGELOG.md
  bitnami/clickhouse/Chart.yaml
  bitnami/clickhouse/README.md
  bitnami/clickhouse/templates/headless-service.yaml
  bitnami/clickhouse/templates/networkpolicy.yaml
  bitnami/clickhouse/templates/service.yaml
  bitnami/clickhouse/templates/statefulset.yaml
  bitnami/clickhouse/values.yaml
Labels: verify, bitnami, clickhouse

#35190 [bitnami/kafka] Fix kafka-client-certs volume mount and improve TLS key handling
  bitnami/kafka/CHANGELOG.md
  bitnami/kafka/Chart.yaml
  bitnami/kafka/templates/provisioning/job.yaml
Labels: verify, in-progress, kafka
