Repository bitnami/charts, pull requests merged in 2025-09, with the labels that each got.

#35741 [bitnami/valkey] doc: fix default value in README
  bitnami/valkey/CHANGELOG.md
  bitnami/valkey/Chart.yaml
  bitnami/valkey/README.md
  bitnami/valkey/values.yaml
Labels: verify, in-progress, valkey

#36256 [bitnami/telegraf] Add Telegraf README.md
  bitnami/telegraf/README.md
Labels: verify, bitnami, telegraf

#36258 [bitnami/telegraf] Update naming to Telegraf (TM)
  bitnami/telegraf/README.md
Labels: verify, bitnami, telegraf

#36272 [bitnami/common] Replace "+" to "_" in value of app.kubernetes.io/version…
  bitnami/common/CHANGELOG.md
  bitnami/common/Chart.yaml
  bitnami/common/templates/_labels.tpl
Labels: verify, in-progress, common

#36291 [bitnami/mlflow] Add support for generic ephemeral volume
  bitnami/mlflow/CHANGELOG.md
  bitnami/mlflow/Chart.yaml
  bitnami/mlflow/README.md
  bitnami/mlflow/templates/tracking/deployment.yaml
  bitnami/mlflow/values.schema.json
  bitnami/mlflow/values.yaml
Labels: verify, in-progress, mlflow
