Repository bitnami/charts, pull requests merged in 2025-01, with the labels that each got.

#31195 [bitnami/mariadb-galera] Update sidecar containers doc in README.md
  bitnami/mariadb-galera/README.md
Labels: verify, bitnami, mariadb-galera

#31164 [bitnami/common] Add "common.capabilities.job.apiVersion" template
  bitnami/common/CHANGELOG.md
  bitnami/common/Chart.yaml
  bitnami/common/templates/_capabilities.tpl
Labels: verify, in-progress, common

#31204 Revert "[bitnami/postgresql] Add Storage Class Configuration to Templates (#30858)"
  bitnami/postgresql/CHANGELOG.md
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/templates/primary/statefulset.yaml
  bitnami/postgresql/templates/read/statefulset.yaml
Labels: verify, postgresql, bitnami

#31210 [bitnami/rabbitmq] remove undefined rts key from network policy template
  bitnami/rabbitmq/CHANGELOG.md
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/templates/networkpolicy.yaml
Labels: verify, in-progress, rabbitmq

#31013 [bitnami/harbor] Fix REGISTRY_HTTP_SECRET creation when not using an existing secret
  bitnami/harbor/CHANGELOG.md
  bitnami/harbor/Chart.yaml
  bitnami/harbor/templates/registry/registry-secret.yaml
Labels: verify, in-progress, harbor

#29416 [bitnami/contour] Allow replacing certgen with cert-manager
  bitnami/contour/CHANGELOG.md
  bitnami/contour/Chart.yaml
  bitnami/contour/README.md
  bitnami/contour/templates/_helpers.tpl
  bitnami/contour/templates/cert-manager/ca-cert.yaml
  bitnami/contour/templates/cert-manager/contour-cert.yaml
  bitnami/contour/templates/cert-manager/envoy-cert.yaml
  bitnami/contour/values.yaml
Labels: verify, in-progress, contour

#31243 [bitnami/redis-cluster] Add support for namespaceOverride
  bitnami/redis-cluster/CHANGELOG.md
  bitnami/redis-cluster/Chart.yaml
  bitnami/redis-cluster/README.md
  bitnami/redis-cluster/templates/NOTES.txt
  bitnami/redis-cluster/templates/configmap.yaml
  bitnami/redis-cluster/templates/headless-svc.yaml
  bitnami/redis-cluster/templates/metrics-prometheus.yaml
  bitnami/redis-cluster/templates/metrics-svc.yaml
  bitnami/redis-cluster/templates/networkpolicy.yaml
  bitnami/redis-cluster/templates/poddisruptionbudget.yaml
  bitnami/redis-cluster/templates/prometheusrule.yaml
  bitnami/redis-cluster/templates/psp.yaml
  bitnami/redis-cluster/templates/redis-role.yaml
  bitnami/redis-cluster/templates/redis-rolebinding.yaml
  bitnami/redis-cluster/templates/redis-serviceaccount.yaml
  bitnami/redis-cluster/templates/redis-statefulset.yaml
  bitnami/redis-cluster/templates/redis-svc.yaml
  bitnami/redis-cluster/templates/scripts-configmap.yaml
  bitnami/redis-cluster/templates/secret.yaml
  bitnami/redis-cluster/templates/svc-cluster-external-access.yaml
  bitnami/redis-cluster/templates/tls-secret.yaml
  bitnami/redis-cluster/templates/update-cluster.yaml
  bitnami/redis-cluster/values.yaml
Labels: verify, in-progress, redis-cluster

#30989 bitnami/elasticsearch: mount cerst to master node instead empty-dir
  bitnami/elasticsearch/CHANGELOG.md
  bitnami/elasticsearch/Chart.yaml
  bitnami/elasticsearch/templates/master/statefulset.yaml
Labels: verify, in-progress, elasticsearch

#31108 [bitnami/kafka] chore(jmx-exporter): Upgrade image and change args
  bitnami/kafka/CHANGELOG.md
  bitnami/kafka/Chart.yaml
  bitnami/kafka/README.md
  bitnami/kafka/templates/broker/statefulset.yaml
  bitnami/kafka/templates/controller-eligible/statefulset.yaml
  bitnami/kafka/values.yaml
Labels: verify, kafka, bitnami

#31208 [bitnami/moodle] #31199 Fix invalid imagePullSecrets on container level
  bitnami/moodle/CHANGELOG.md
  bitnami/moodle/Chart.yaml
  bitnami/moodle/templates/_helpers.tpl
  bitnami/moodle/templates/deployment.yaml
  bitnami/moodle/values.yaml
Labels: verify, in-progress, moodle

#31288 [bitnami/redis-cluster] feat: add support for customizing loadBalancerClass on services
  bitnami/redis-cluster/CHANGELOG.md
  bitnami/redis-cluster/Chart.yaml
  bitnami/redis-cluster/README.md
  bitnami/redis-cluster/templates/metrics-svc.yaml
  bitnami/redis-cluster/templates/redis-svc.yaml
  bitnami/redis-cluster/templates/svc-cluster-external-access.yaml
  bitnami/redis-cluster/values.yaml
Labels: verify, bitnami, redis-cluster

#31277 [bitnami/seaweedfs] Make database check on start optional
  bitnami/seaweedfs/CHANGELOG.md
  bitnami/seaweedfs/Chart.yaml
  bitnami/seaweedfs/README.md
  bitnami/seaweedfs/templates/_helpers.tpl
  bitnami/seaweedfs/values.yaml
Labels: verify, in-progress, seaweedfs

#31271 [bitnami/keycloak] add option to use dedicated version bound headless service for jgroups discovery
  bitnami/keycloak/CHANGELOG.md
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/README.md
  bitnami/keycloak/templates/configmap-env-vars.yaml
  bitnami/keycloak/templates/headless-service-ispn.yaml
  bitnami/keycloak/templates/statefulset.yaml
  bitnami/keycloak/values.yaml
Labels: verify, in-progress, keycloak

#31146 Dynamic assignment of custom schema name if defined in update-password job
  bitnami/postgresql/CHANGELOG.md
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/templates/update-password/job.yaml
Labels: verify, in-progress, postgresql

#31293 [bitnami/postgresql-ha] setting ServiceAccount also when is not created by the bitnami chart
  bitnami/postgresql-ha/CHANGELOG.md
  bitnami/postgresql-ha/Chart.yaml
  bitnami/postgresql-ha/templates/pgpool/deployment.yaml
  bitnami/postgresql-ha/templates/postgresql/statefulset.yaml
  bitnami/postgresql-ha/templates/postgresql/witness-statefulset.yaml
Labels: verify, in-progress, postgresql-ha

#31337 [bitnami/pinniped] bugfix: remove deprecated vars to configure OpenLDAP on VIB
  .vib/pinniped/runtime-parameters.yaml
  bitnami/pinniped/CHANGELOG.md
  bitnami/pinniped/Chart.yaml
Labels: verify, pinniped, bitnami

#31339 [bitnami/seaweedfs]: correct typo in values.yaml regarding s3.auth.existingSecret
  bitnami/seaweedfs/CHANGELOG.md
  bitnami/seaweedfs/Chart.yaml
  bitnami/seaweedfs/README.md
  bitnami/seaweedfs/values.yaml
Labels: verify, triage, seaweedfs

#30526 [bitnami/redis] fix: update JSON schema to allow string values for values passed to tpl
  bitnami/redis/CHANGELOG.md
  bitnami/redis/Chart.yaml
  bitnami/redis/values.schema.json
Labels: verify, triage, redis

#31364 bitnami/postgresql Fix missing dot in include statement for passwordUpdate job template
  bitnami/postgresql/CHANGELOG.md
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/templates/update-password/job.yaml
Labels: verify, in-progress, postgresql

#31336 [bitnami/rabbitmq] Fix incorrect configuration of TCP listen options by memoryHighWatermark settings
  bitnami/rabbitmq/CHANGELOG.md
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/README.md
  bitnami/rabbitmq/values.yaml
Labels: verify, in-progress, rabbitmq

#31378 [github-actions] Add index-monitor action
  .github/workflows/gchat-notification.yml
  .github/workflows/index-monitor.yml
Labels: verify, bitnami

#31455 [bitnami/apisix] feat: :recycle: Use os-shell for config generation
  bitnami/apisix/CHANGELOG.md
  bitnami/apisix/Chart.yaml
  bitnami/apisix/templates/_helpers.tpl
  bitnami/apisix/templates/control-plane/dep-ds.yaml
  bitnami/apisix/templates/data-plane/dep-ds.yaml
Labels: verify, bitnami, apisix

#31459 [bitnami/keycloak] Fix quotes for handling KC_PROXY_HEADER when options is set to passthrough
  bitnami/keycloak/CHANGELOG.md
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/templates/configmap-env-vars.yaml
Labels: verify, in-progress, keycloak

#31161 [bitnami/etcd] Add pre-upgrade hook
  bitnami/etcd/CHANGELOG.md
  bitnami/etcd/Chart.yaml
  bitnami/etcd/README.md
  bitnami/etcd/templates/preupgrade-hook-job.yaml
  bitnami/etcd/templates/statefulset.yaml
  bitnami/etcd/values.yaml
Labels: verify, in-progress, etcd

#31200 [bitnami/clickhouse] Fix: bind ipv6 and ipv4 by default
  bitnami/clickhouse/CHANGELOG.md
  bitnami/clickhouse/Chart.yaml
  bitnami/clickhouse/templates/scripts-configmap.yaml
  bitnami/clickhouse/values.yaml
Labels: verify, in-progress, clickhouse

#31475 [bitnami/minio] chore: :recycle: Do not use wait-for-port in minio image
  bitnami/minio/CHANGELOG.md
  bitnami/minio/Chart.yaml
  bitnami/minio/templates/provisioning-job.yaml
Labels: verify, bitnami, minio

#31226 [bitnami/kuberay] Adding the list and watch for endpoints resource to the cluster role to solve #30648
  bitnami/kuberay/CHANGELOG.md
  bitnami/kuberay/Chart.yaml
  bitnami/kuberay/templates/operator/clusterroles.yaml
Labels: verify, in-progress, kuberay

#31356 [bitnami/mongodb] remove undefined rts key from network policy template
  bitnami/mongodb/CHANGELOG.md
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/templates/networkpolicy.yaml
Labels: verify, in-progress, mongodb

#31334 [bitnami/seaweedfs]: add pod for `weed iam`
  bitnami/seaweedfs/CHANGELOG.md
  bitnami/seaweedfs/Chart.yaml
  bitnami/seaweedfs/README.md
  bitnami/seaweedfs/templates/_helpers.tpl
  bitnami/seaweedfs/templates/iam/deployment.yaml
  bitnami/seaweedfs/templates/iam/pdb.yaml
  bitnami/seaweedfs/templates/iam/service.yaml
  bitnami/seaweedfs/values.yaml
Labels: verify, in-progress, seaweedfs

#31054 [bitnami/keycloak] Improve keycloak value file comments on extraEnvVars property
  bitnami/keycloak/CHANGELOG.md
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/README.md
  bitnami/keycloak/values.yaml
Labels: verify, in-progress, keycloak

#31486 [bitnami/thanos] Fix Helm Template Error For Storegateway and HPA
  bitnami/thanos/CHANGELOG.md
  bitnami/thanos/Chart.yaml
  bitnami/thanos/templates/storegateway/hpa-sharded.yaml
Labels: verify, in-progress, thanos

#31405 [bitnami/jaeger] Migration job not using namespace overwrite 31207
  bitnami/jaeger/CHANGELOG.md
  bitnami/jaeger/Chart.yaml
  bitnami/jaeger/templates/migrate-job.yaml
Labels: verify, in-progress, jaeger

#31374 bitnami/zipkin Remove quote for the host
  bitnami/zipkin/CHANGELOG.md
  bitnami/zipkin/Chart.yaml
  bitnami/zipkin/templates/configmap.yaml
Labels: verify, in-progress, zipkin

#31510 [bitnami/cilium] Update ETCD to major 11
  bitnami/cilium/CHANGELOG.md
  bitnami/cilium/Chart.lock
  bitnami/cilium/Chart.yaml
  bitnami/cilium/README.md
Labels: verify, bitnami, cilium

#31508 [bitnami/apisix] Update ETCD to major 11
  .vib/apisix/goss/goss.yaml
  bitnami/apisix/CHANGELOG.md
  bitnami/apisix/Chart.lock
  bitnami/apisix/Chart.yaml
  bitnami/apisix/README.md
Labels: verify, bitnami, apisix

#31513 [bitnami/prometheus] Remove GOSS duplicated command
  .vib/prometheus/goss/goss.yaml
  bitnami/prometheus/CHANGELOG.md
  bitnami/prometheus/Chart.yaml
Labels: verify, bitnami, prometheus

#31524 [bitnami/etcd] fix for PreUpgrade Job Issue
  bitnami/etcd/CHANGELOG.md
  bitnami/etcd/Chart.yaml
  bitnami/etcd/templates/preupgrade-hook-job.yaml
Labels: verify, in-progress, etcd

#31496 [binami/kafka] Setting broker.rack for azure based on brokerRackAssignment parameter
  bitnami/kafka/CHANGELOG.md
  bitnami/kafka/Chart.yaml
  bitnami/kafka/README.md
  bitnami/kafka/templates/scripts-configmap.yaml
  bitnami/kafka/values.yaml
Labels: verify, in-progress, kafka

#31523 [bitnami/nats] Improve NATS routes configuration
  bitnami/nats/CHANGELOG.md
  bitnami/nats/Chart.yaml
  bitnami/nats/values.yaml
Labels: verify, in-progress, nats

#31526 ci: Skip hardcoded images check on NOTES.txt files
  .github/workflows/ci-pipeline.yml
Labels: verify, bitnami

#31516 [bitnami/nats] NATS chart based on scratch image
  .vib/nats/ginkgo/nats_suite_test.go
  .vib/nats/ginkgo/nats_test.go
  .vib/nats/goss/goss.yaml
  .vib/nats/runtime-parameters.yaml
  .vib/nats/vib-verify.json
  bitnami/nats/CHANGELOG.md
  bitnami/nats/Chart.yaml
  bitnami/nats/README.md
  bitnami/nats/templates/NOTES.txt
  bitnami/nats/templates/_helpers.tpl
  bitnami/nats/templates/application.yaml
  bitnami/nats/templates/certs.yaml
  bitnami/nats/templates/deployment.yaml
  bitnami/nats/templates/headless-svc.yaml
  bitnami/nats/templates/ingress-tls-secret.yaml
  bitnami/nats/templates/ingress.yaml
  bitnami/nats/templates/metrics-svc.yaml
  bitnami/nats/templates/networkpolicy.yaml
  bitnami/nats/templates/poddisruptionbudget.yaml
  bitnami/nats/templates/secrets.yaml
  bitnami/nats/templates/service.yaml
  bitnami/nats/templates/servicemonitor.yaml
  bitnami/nats/templates/tls-secret.yaml
  bitnami/nats/values.yaml
Labels: verify, bitnami, nats

#31507 [bitnami/harbor] Clarify usage of custom POSTGRESQL_PASSWORD
  bitnami/harbor/CHANGELOG.md
  bitnami/harbor/Chart.yaml
  bitnami/harbor/values.yaml
Labels: verify, in-progress, harbor

#31494 [bitnami/redis-cluster] Address chart not working with external access enabled
  bitnami/redis-cluster/CHANGELOG.md
  bitnami/redis-cluster/Chart.yaml
  bitnami/redis-cluster/templates/svc-cluster-external-access.yaml
Labels: verify, in-progress, redis-cluster

#31327 [bitnami/mlflow] Fix parsing of mlflow tracking service loadBalancerSourceRanges
  bitnami/mlflow/CHANGELOG.md
  bitnami/mlflow/Chart.yaml
  bitnami/mlflow/templates/tracking/service.yaml
Labels: verify, in-progress, mlflow

#31515 [bitnami/pinniped] Ensure rbac and networkpolicy is not created for s…
  bitnami/pinniped/CHANGELOG.md
  bitnami/pinniped/Chart.yaml
  bitnami/pinniped/templates/supervisor/networkpolicy.yaml
  bitnami/pinniped/templates/supervisor/rbac.yaml
Labels: verify, in-progress, pinniped

#31518 [bitnami/keydb] fix: Update "volume-permissions" initContainers command
  bitnami/keydb/CHANGELOG.md
  bitnami/keydb/Chart.yaml
  bitnami/keydb/templates/master/statefulset.yaml
  bitnami/keydb/templates/replica/statefulset.yaml
Labels: verify, in-progress, keydb

#31279 [bitnami/common] Removing seLinuxOptions from omission
  bitnami/common/CHANGELOG.md
  bitnami/common/Chart.yaml
  bitnami/common/templates/_compatibility.tpl
Labels: verify, in-progress, common

#31211 [bitnami/vault] Fix missing existing PVC volume declaration (#31202)
  bitnami/vault/CHANGELOG.md
  bitnami/vault/Chart.yaml
  bitnami/vault/templates/server/statefulset.yaml
Labels: verify, in-progress, vault

#31193 [bitnami/kibana] Fix publicBaseUrl value when inferred from ingress configuration
  bitnami/kibana/CHANGELOG.md
  bitnami/kibana/Chart.yaml
  bitnami/kibana/templates/configmap.yaml
Labels: verify, in-progress, kibana

#31045 [multus-cni] Add --multus-kubeconfig-file-host arg
  bitnami/multus-cni/CHANGELOG.md
  bitnami/multus-cni/Chart.yaml
  bitnami/multus-cni/templates/daemonset.yaml
Labels: verify, multus-cni

#31534 Fix typo TESTING.md
  TESTING.md
Labels: triage

#31564 [bitnami/pinniped] Ensure rbac and networkpolicy is not created for Concierge when disabled
  bitnami/pinniped/CHANGELOG.md
  bitnami/pinniped/Chart.yaml
  bitnami/pinniped/templates/concierge/networkpolicy.yaml
  bitnami/pinniped/templates/concierge/rbac.yaml
Labels: verify, in-progress, pinniped

#31594 [bitnami/harbor] allow custom trivy db repository
  bitnami/harbor/CHANGELOG.md
  bitnami/harbor/Chart.yaml
  bitnami/harbor/README.md
  bitnami/harbor/templates/trivy/trivy-cm-envvars.yaml
  bitnami/harbor/values.yaml
Labels: verify, in-progress, harbor

#31492 [bitnami/harbor] Added existingSecret parameter for external database
  bitnami/harbor/CHANGELOG.md
  bitnami/harbor/Chart.yaml
  bitnami/harbor/README.md
  bitnami/harbor/templates/_helpers.tpl
  bitnami/harbor/templates/core/core-dpl.yaml
  bitnami/harbor/templates/core/core-secret-envvars.yaml
  bitnami/harbor/templates/exporter/exporter-dpl.yaml
  bitnami/harbor/values.yaml
Labels: verify, in-progress, harbor

#26713 [bitnami/superset] Add chart
  .vib/superset/cypress/cypress.config.js
  .vib/superset/cypress/cypress/e2e/superset.cy.js
  .vib/superset/cypress/cypress/fixtures/users.json
  .vib/superset/cypress/cypress/support/commands.js
  .vib/superset/cypress/cypress/support/e2e.js
  .vib/superset/cypress/cypress/support/utils.js
  .vib/superset/goss/goss.yaml
  .vib/superset/runtime-parameters.yaml
  .vib/superset/vib-publish.json
  .vib/superset/vib-verify.json
  bitnami/superset/.helmignore
  bitnami/superset/CHANGELOG.md
  bitnami/superset/Chart.lock
  bitnami/superset/Chart.yaml
  bitnami/superset/README.md
  bitnami/superset/templates/NOTES.txt
  bitnami/superset/templates/_helpers.tpl
  bitnami/superset/templates/beat/deployment.yaml
  bitnami/superset/templates/beat/networkpolicy.yaml
  bitnami/superset/templates/beat/pdb.yaml
  bitnami/superset/templates/configmap.yaml
  bitnami/superset/templates/externaldb-secrets.yaml
  bitnami/superset/templates/extra-list.yaml
  bitnami/superset/templates/flower/deployment.yaml
  bitnami/superset/templates/flower/hpa.yaml
  bitnami/superset/templates/flower/networkpolicy.yaml
  bitnami/superset/templates/flower/pdb.yaml
  bitnami/superset/templates/flower/secret.yaml
  bitnami/superset/templates/flower/service.yaml
  bitnami/superset/templates/flower/vpa.yaml
  bitnami/superset/templates/ingress.yaml
  bitnami/superset/templates/init/init-job.yaml
  bitnami/superset/templates/init/networkpolicy.yaml
  bitnami/superset/templates/secret.yaml
  bitnami/superset/templates/service-account.yaml
  bitnami/superset/templates/tls-secret.yaml
  bitnami/superset/templates/web/deployment.yaml
  bitnami/superset/templates/web/hpa.yaml
  bitnami/superset/templates/web/networkpolicy.yaml
  bitnami/superset/templates/web/pdb.yaml
  bitnami/superset/templates/web/service.yaml
  bitnami/superset/templates/web/vpa.yaml
  bitnami/superset/templates/worker/deployment.yaml
  bitnami/superset/templates/worker/hpa.yaml
  bitnami/superset/templates/worker/networkpolicy.yaml
  bitnami/superset/templates/worker/pdb.yaml
  bitnami/superset/templates/worker/vpa.yaml
  bitnami/superset/values.yaml
Labels: new-product, verify, bitnami, superset

#31605 [bitnami/nginx-ingress-controller] Add --enable-metrics command line argument
  bitnami/nginx-ingress-controller/CHANGELOG.md
  bitnami/nginx-ingress-controller/Chart.yaml
  bitnami/nginx-ingress-controller/templates/controller-daemonset.yaml
  bitnami/nginx-ingress-controller/templates/controller-deployment.yaml
Labels: verify, in-progress, nginx-ingress-controller

#31650 [bitnami/superset] Fix README.md app-name typo
  bitnami/superset/CHANGELOG.md
  bitnami/superset/Chart.yaml
  bitnami/superset/README.md
Labels: verify, bitnami, superset

#31664 [bitnami/airflow] ci: improve runtime parameters
  .vib/airflow/runtime-parameters.yaml
Labels: verify, bitnami

#31660 [bitnami/mastodon] feature(minio): Bump MinIO subchart
  bitnami/mastodon/CHANGELOG.md
  bitnami/mastodon/Chart.lock
  bitnami/mastodon/Chart.yaml
Labels: verify, bitnami, mastodon

#31659 [bitnami/grafana-mimir] feature(minio): Bump MinIO subchart
  bitnami/grafana-mimir/CHANGELOG.md
  bitnami/grafana-mimir/Chart.lock
  bitnami/grafana-mimir/Chart.yaml
Labels: verify, bitnami, grafana-mimir

#31662 [bitnami/mlflow] feature(minio): Bump MinIO subchart
  bitnami/mlflow/CHANGELOG.md
  bitnami/mlflow/Chart.lock
  bitnami/mlflow/Chart.yaml
Labels: verify, bitnami, mlflow

#31663 [bitnami/thanos] feature(minio): Bump MinIO subchart
  bitnami/thanos/CHANGELOG.md
  bitnami/thanos/Chart.lock
  bitnami/thanos/Chart.yaml
Labels: verify, bitnami, thanos

#31227 [bitnami/keycloak] reverts(#30368)
  bitnami/keycloak/CHANGELOG.md
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/templates/configmap-env-vars.yaml
Labels: verify, keycloak, bitnami

#31539 [bitnami/etcd] Fix: issue with preupgrade job during scale down
  bitnami/etcd/CHANGELOG.md
  bitnami/etcd/Chart.yaml
  bitnami/etcd/templates/preupgrade-hook-job.yaml
Labels: verify, in-progress, etcd
