Repository bitnami/charts, pull requests merged in 2025-02, with the labels that each got.

#31705 Update README.md
  bitnami/redis-cluster/README.md
Labels: triage, redis-cluster

#31691 [bitnami/superset] Update subcharts
  bitnami/superset/CHANGELOG.md
  bitnami/superset/Chart.lock
  bitnami/superset/Chart.yaml
Labels: verify, bitnami, superset

#31687 [bitnami/kube-state-metrics] allow creation of custom resource state
  bitnami/kube-state-metrics/CHANGELOG.md
  bitnami/kube-state-metrics/Chart.yaml
  bitnami/kube-state-metrics/README.md
  bitnami/kube-state-metrics/templates/clusterrole.yaml
  bitnami/kube-state-metrics/templates/crs-configmap.yaml
  bitnami/kube-state-metrics/templates/deployment.yaml
  bitnami/kube-state-metrics/values.yaml
Labels: verify, in-progress, kube-state-metrics

#31689 [bitnami/kube-state-metrics] Remove resource VPA no longer available since v2.9.0
  bitnami/kube-state-metrics/CHANGELOG.md
  bitnami/kube-state-metrics/Chart.yaml
  bitnami/kube-state-metrics/README.md
  bitnami/kube-state-metrics/templates/clusterrole.yaml
  bitnami/kube-state-metrics/templates/deployment.yaml
  bitnami/kube-state-metrics/values.yaml
Labels: verify, in-progress, kube-state-metrics

#31726 [bitnami/clickhouse][bitnami/moodle] Remove references to deprecated kube-lego
  bitnami/clickhouse/README.md
  bitnami/moodle/README.md
Labels: verify, bitnami

#31715 [bitnami/thanos] Enable Can'N'Proto replication protocol for Receiver
  bitnami/thanos/CHANGELOG.md
  bitnami/thanos/Chart.yaml
  bitnami/thanos/README.md
  bitnami/thanos/templates/_helpers.tpl
  bitnami/thanos/templates/receive-distributor/deployment.yaml
  bitnami/thanos/templates/receive/networkpolicy.yaml
  bitnami/thanos/templates/receive/service-headless.yaml
  bitnami/thanos/templates/receive/service.yaml
  bitnami/thanos/templates/receive/statefulset.yaml
  bitnami/thanos/values.yaml
Labels: verify, in-progress, thanos

#31731 [kube-prometheus] Update kube-state-metric subchart to 5.0.0
  bitnami/kube-prometheus/CHANGELOG.md
  bitnami/kube-prometheus/Chart.lock
  bitnami/kube-prometheus/Chart.yaml
  bitnami/kube-prometheus/README.md
Labels: verify, bitnami, kube-prometheus

#31707 [bitnami/redis] Redis ACL support to the Bitnami Redis Helm Chart
  bitnami/redis/CHANGELOG.md
  bitnami/redis/Chart.yaml
  bitnami/redis/README.md
  bitnami/redis/templates/configmap.yaml
  bitnami/redis/templates/scripts-configmap.yaml
  bitnami/redis/values.schema.json
  bitnami/redis/values.yaml
Labels: verify, in-progress, redis

#31793 [bitnami/seaweedfs] Add support for log persistence
  bitnami/seaweedfs/CHANGELOG.md
  bitnami/seaweedfs/Chart.yaml
  bitnami/seaweedfs/README.md
  bitnami/seaweedfs/templates/_helpers.tpl
  bitnami/seaweedfs/templates/filer/notification-configmap.yaml
  bitnami/seaweedfs/templates/filer/statefulset.yaml
  bitnami/seaweedfs/templates/master/statefulset.yaml
  bitnami/seaweedfs/templates/volume/statefulset.yaml
  bitnami/seaweedfs/values.yaml
Labels: verify, bitnami, seaweedfs

#31794 [bitnami/cert-manager] Update rules for controller-certificates ClusterRole
  bitnami/cert-manager/CHANGELOG.md
  bitnami/cert-manager/Chart.yaml
  bitnami/cert-manager/templates/controller/rbac.yaml
Labels: verify, bitnami, cert-manager

#31836 [bitnami/rabbitmq]: add hostPort support to the chart
  bitnami/rabbitmq/CHANGELOG.md
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/README.md
  bitnami/rabbitmq/templates/statefulset.yaml
  bitnami/rabbitmq/values.yaml
Labels: verify, in-progress, rabbitmq

#31840 [bitnami/postgresql] use adminPassword for metrics user when custom user is not set on primary
  bitnami/postgresql/CHANGELOG.md
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/templates/primary/statefulset.yaml
Labels: verify, in-progress, postgresql

#31832 github-actions: Add gchat notification
  .github/workflows/cd-pipeline.yml
  .github/workflows/gchat-notification.yml
  .github/workflows/index-monitor.yml
  .github/workflows/index-update.yml
  .github/workflows/push-tag.yml
Labels: verify, bitnami

#31855 [bitnami/nginx] Update README.md
  bitnami/nginx/README.md
Labels: verify, nginx, bitnami

#31863 chore(workflows): Avoid running scheduled workflows in forked repositories
  .github/workflows/cd-pipeline.yml
  .github/workflows/index-monitor.yml
  .github/workflows/index-update.yml
  .github/workflows/push-tag.yml
  .github/workflows/retry-failed-releases.yml
Labels: verify, bitnami

#31867 [bitnami/seaweedfs]: correct typo in README
  bitnami/seaweedfs/README.md
Labels: triage, seaweedfs

#31877 [bitnami/charts] chore(workflows): Avoid running workflows in forked repositories
  .github/workflows/index-monitor.yml
Labels: verify, bitnami

#31906 [bitnami/cert-manager] Updated cert-manager RBAC
  bitnami/cert-manager/CHANGELOG.md
  bitnami/cert-manager/Chart.yaml
  bitnami/cert-manager/templates/cainjector/rbac.yaml
  bitnami/cert-manager/templates/controller/rbac.yaml
Labels: triage, cert-manager

#31928 [bitnami/thanos] Add common annotations to pod templates
  bitnami/thanos/CHANGELOG.md
  bitnami/thanos/Chart.lock
  bitnami/thanos/Chart.yaml
  bitnami/thanos/templates/bucketweb/deployment.yaml
  bitnami/thanos/templates/compactor/_pod-template.tpl
  bitnami/thanos/templates/query-frontend/deployment.yaml
  bitnami/thanos/templates/query/deployment.yaml
  bitnami/thanos/templates/receive-distributor/deployment.yaml
  bitnami/thanos/templates/receive/statefulset.yaml
  bitnami/thanos/templates/ruler/statefulset.yaml
  bitnami/thanos/templates/storegateway/statefulset-sharded.yaml
  bitnami/thanos/templates/storegateway/statefulset.yaml
Labels: verify, bitnami, thanos

#31940 [bitnami/harbor] Added tpl to externalURL
  bitnami/harbor/CHANGELOG.md
  bitnami/harbor/Chart.yaml
  bitnami/harbor/templates/_helpers.tpl
Labels: verify, in-progress, harbor

#31959 [bitnami/mariadb] chore(resources): Increase primary resources
  bitnami/mariadb/CHANGELOG.md
  bitnami/mariadb/Chart.yaml
  bitnami/mariadb/README.md
  bitnami/mariadb/values.yaml
Labels: verify, mariadb, bitnami

#31858 [bitnami/*] Fix typo in named template name
  bitnami/mariadb/templates/update-password/job.yaml
  bitnami/milvus/Chart.yaml
  bitnami/milvus/templates/init-job.yaml
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/templates/update-password/job.yaml
  bitnami/mysql/Chart.yaml
  bitnami/mysql/templates/update-password/job.yaml
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/templates/update-password/job.yaml
Labels: verify, in-progress

#31706 [bitnami/mariadb] feat: Add Transparent Data Encryption support
  bitnami/mariadb/CHANGELOG.md
  bitnami/mariadb/Chart.yaml
  bitnami/mariadb/README.md
  bitnami/mariadb/templates/_helpers.tpl
  bitnami/mariadb/templates/primary/statefulset.yaml
  bitnami/mariadb/templates/secondary/statefulset.yaml
  bitnami/mariadb/templates/secretstoreproviderclass-tde.yaml
  bitnami/mariadb/values.schema.json
  bitnami/mariadb/values.yaml
Labels: verify, in-progress, mariadb

#31969 [bitnami/common] Add helper to check API versions
  bitnami/common/CHANGELOG.md
  bitnami/common/Chart.yaml
  bitnami/common/templates/_capabilities.tpl
Labels: verify, bitnami, common

#31980 ci: shellcheck on CI bash logic
  .github/workflows/ci-pipeline.yml
Labels: verify, bitnami

#31977 [bitnami/kube-prometheus] ci: add special workflow to sync default prometheus rules
  .github/workflows/ci-pipeline.yml
Labels: verify, bitnami

#32041 ci: escape curly braces on kube-prometheus rules automated generation
  .github/workflows/ci-pipeline.yml
Labels: verify, bitnami

#31989 [bitnami/kube-prometheus] feat: Add default Prometheus rules
  bitnami/kube-prometheus/CHANGELOG.md
  bitnami/kube-prometheus/Chart.lock
  bitnami/kube-prometheus/Chart.yaml
  bitnami/kube-prometheus/README.md
  bitnami/kube-prometheus/templates/prometheus/rules/alertmanager.rules.yaml
  bitnami/kube-prometheus/templates/prometheus/rules/config-reloaders.yaml
  bitnami/kube-prometheus/templates/prometheus/rules/etcd.yaml
  bitnami/kube-prometheus/templates/prometheus/rules/general.rules.yaml
  bitnami/kube-prometheus/templates/prometheus/rules/k8s.rules.container-cpu-usage-seconds-total.yaml
  bitnami/kube-prometheus/templates/prometheus/rules/k8s.rules.container-memory-cache.yaml
  bitnami/kube-prometheus/templates/prometheus/rules/k8s.rules.container-memory-rss.yaml
  bitnami/kube-prometheus/templates/prometheus/rules/k8s.rules.container-memory-swap.yaml
  bitnami/kube-prometheus/templates/prometheus/rules/k8s.rules.container-memory-working-set-bytes.yaml
  bitnami/kube-prometheus/templates/prometheus/rules/k8s.rules.container-resource.yaml
  bitnami/kube-prometheus/templates/prometheus/rules/k8s.rules.pod-owner.yaml
  bitnami/kube-prometheus/templates/prometheus/rules/kube-apiserver-availability.rules.yaml
  bitnami/kube-prometheus/templates/prometheus/rules/kube-apiserver-burnrate.rules.yaml
  bitnami/kube-prometheus/templates/prometheus/rules/kube-apiserver-histogram.rules.yaml
  bitnami/kube-prometheus/templates/prometheus/rules/kube-apiserver-slos.yaml
  bitnami/kube-prometheus/templates/prometheus/rules/kube-prometheus-general.rules.yaml
  bitnami/kube-prometheus/templates/prometheus/rules/kube-prometheus-node-recording.rules.yaml
  bitnami/kube-prometheus/templates/prometheus/rules/kube-scheduler.rules.yaml
  bitnami/kube-prometheus/templates/prometheus/rules/kube-state-metrics.yaml
  bitnami/kube-prometheus/templates/prometheus/rules/kubelet.rules.yaml
  bitnami/kube-prometheus/templates/prometheus/rules/kubernetes-apps.yaml
  bitnami/kube-prometheus/templates/prometheus/rules/kubernetes-resources.yaml
  bitnami/kube-prometheus/templates/prometheus/rules/kubernetes-storage.yaml
  bitnami/kube-prometheus/templates/prometheus/rules/kubernetes-system-apiserver.yaml
  bitnami/kube-prometheus/templates/prometheus/rules/kubernetes-system-controller-manager.yaml
  bitnami/kube-prometheus/templates/prometheus/rules/kubernetes-system-kube-proxy.yaml
  bitnami/kube-prometheus/templates/prometheus/rules/kubernetes-system-kubelet.yaml
  bitnami/kube-prometheus/templates/prometheus/rules/kubernetes-system-scheduler.yaml
  bitnami/kube-prometheus/templates/prometheus/rules/kubernetes-system.yaml
  bitnami/kube-prometheus/templates/prometheus/rules/node-exporter.rules.yaml
  bitnami/kube-prometheus/templates/prometheus/rules/node-exporter.yaml
  bitnami/kube-prometheus/templates/prometheus/rules/node-network.yaml
  bitnami/kube-prometheus/templates/prometheus/rules/node.rules.yaml
  bitnami/kube-prometheus/templates/prometheus/rules/prometheus-operator.yaml
  bitnami/kube-prometheus/templates/prometheus/rules/prometheus.yaml
  bitnami/kube-prometheus/values.yaml
Labels: verify, bitnami, kube-prometheus

#32049 [bitnami/fluent-bit] feat: use new helper for checking API versions
  bitnami/fluent-bit/CHANGELOG.md
  bitnami/fluent-bit/Chart.lock
  bitnami/fluent-bit/Chart.yaml
  bitnami/fluent-bit/README.md
  bitnami/fluent-bit/templates/vpa.yaml
  bitnami/fluent-bit/values.yaml
Labels: verify, bitnami, fluent-bit

#32045 [bitnami/apisix] feat: use new helper for checking API versions
  bitnami/apisix/CHANGELOG.md
  bitnami/apisix/Chart.lock
  bitnami/apisix/Chart.yaml
  bitnami/apisix/README.md
  bitnami/apisix/templates/control-plane/vpa.yaml
  bitnami/apisix/templates/dashboard/vpa.yaml
  bitnami/apisix/templates/data-plane/vpa.yaml
  bitnami/apisix/templates/ingress-controller/vpa.yaml
  bitnami/apisix/values.yaml
Labels: verify, bitnami, apisix

#32062 [bitnami/scylladb] feat: use new helper for checking API versions
  bitnami/scylladb/CHANGELOG.md
  bitnami/scylladb/Chart.yaml
  bitnami/scylladb/README.md
  bitnami/scylladb/templates/vpa.yaml
  bitnami/scylladb/values.yaml
Labels: verify, bitnami, scylladb

#32068 feat: update chart template to use new helper for checking API versions
  template/CHART_NAME/templates/vpa.yaml
  template/CHART_NAME/values.yaml
Labels: verify, bitnami

#32052 [bitnami/keydb] feat: use new helper for checking API versions
  bitnami/keydb/CHANGELOG.md
  bitnami/keydb/Chart.yaml
  bitnami/keydb/README.md
  bitnami/keydb/templates/master/vpa.yaml
  bitnami/keydb/templates/replica/vpa.yaml
  bitnami/keydb/values.yaml
Labels: verify, bitnami, keydb

#32053 [bitnami/kong] feat: use new helper for checking API versions
  bitnami/kong/CHANGELOG.md
  bitnami/kong/Chart.yaml
  bitnami/kong/README.md
  bitnami/kong/templates/ingress-controller-rbac.yaml
  bitnami/kong/values.yaml
Labels: verify, bitnami, kong

#32051 [bitnami/kafka] feat: use new helper for checking API versions
  bitnami/kafka/CHANGELOG.md
  bitnami/kafka/Chart.yaml
  bitnami/kafka/README.md
  bitnami/kafka/templates/broker/vpa.yaml
  bitnami/kafka/templates/controller-eligible/vpa.yaml
  bitnami/kafka/values.yaml
Labels: verify, kafka, bitnami

#32054 [bitnami/kuberay] feat: use new helper for checking API versions
  bitnami/kuberay/CHANGELOG.md
  bitnami/kuberay/Chart.yaml
  bitnami/kuberay/README.md
  bitnami/kuberay/templates/apiserver/vpa.yaml
  bitnami/kuberay/templates/operator/vpa.yaml
  bitnami/kuberay/values.yaml
Labels: verify, bitnami, kuberay

#32056 [bitnami/metrics-server] feat: use new helper for checking API versions
  bitnami/metrics-server/CHANGELOG.md
  bitnami/metrics-server/Chart.yaml
  bitnami/metrics-server/README.md
  bitnami/metrics-server/templates/NOTES.txt
  bitnami/metrics-server/values.yaml
Labels: verify, bitnami, metrics-server

#32057 [bitnami/milvus] feat: use new helper for checking API versions
  bitnami/milvus/CHANGELOG.md
  bitnami/milvus/Chart.yaml
  bitnami/milvus/README.md
  bitnami/milvus/templates/attu/vpa.yaml
  bitnami/milvus/templates/data-coordinator/vpa.yaml
  bitnami/milvus/templates/data-node/vpa.yaml
  bitnami/milvus/templates/index-coordinator/vpa.yaml
  bitnami/milvus/templates/index-node/vpa.yaml
  bitnami/milvus/templates/proxy/vpa.yaml
  bitnami/milvus/templates/query-coordinator/vpa.yaml
  bitnami/milvus/templates/query-node/vpa.yaml
  bitnami/milvus/templates/root-coordinator/vpa.yaml
  bitnami/milvus/values.yaml
Labels: verify, bitnami, milvus

#32059 [bitnami/neo4j] feat: use new helper for checking API versions
  bitnami/neo4j/CHANGELOG.md
  bitnami/neo4j/Chart.yaml
  bitnami/neo4j/README.md
  bitnami/neo4j/templates/vpa.yaml
  bitnami/neo4j/values.yaml
Labels: verify, bitnami, neo4j

#32061 [bitnami/opensearch] feat: use new helper for checking API versions
  bitnami/opensearch/CHANGELOG.md
  bitnami/opensearch/Chart.lock
  bitnami/opensearch/Chart.yaml
  bitnami/opensearch/README.md
  bitnami/opensearch/templates/coordinating/vpa.yaml
  bitnami/opensearch/templates/dashboards/vpa.yaml
  bitnami/opensearch/templates/data/vpa.yaml
  bitnami/opensearch/templates/ingest/vpa.yaml
  bitnami/opensearch/templates/master/vpa.yaml
  bitnami/opensearch/values.yaml
Labels: verify, bitnami, opensearch

#32060 [bitnami/nessie] feat: use new helper for checking API versions
  bitnami/nessie/CHANGELOG.md
  bitnami/nessie/Chart.lock
  bitnami/nessie/Chart.yaml
  bitnami/nessie/README.md
  bitnami/nessie/templates/vpa.yaml
  bitnami/nessie/values.yaml
Labels: verify, bitnami, nessie

#32048 [bitnami/dremio] feat: use new helper for checking API versions
  bitnami/dremio/CHANGELOG.md
  bitnami/dremio/Chart.yaml
  bitnami/dremio/README.md
  bitnami/dremio/templates/coordinator/vpa.yaml
  bitnami/dremio/templates/executor/vpa.yaml
  bitnami/dremio/templates/master-coordinator/vpa.yaml
  bitnami/dremio/values.yaml
Labels: verify, bitnami, dremio

#32044 [bitnami/airflow] feat: use new helper for checking API versions
  bitnami/airflow/CHANGELOG.md
  bitnami/airflow/Chart.lock
  bitnami/airflow/Chart.yaml
  bitnami/airflow/README.md
  bitnami/airflow/templates/dag-processor/vpa.yaml
  bitnami/airflow/templates/scheduler/vpa.yaml
  bitnami/airflow/templates/triggerer/vpa.yaml
  bitnami/airflow/templates/web/vpa.yaml
  bitnami/airflow/templates/worker/vpa.yaml
  bitnami/airflow/values.yaml
Labels: verify, airflow, bitnami

#32050 [bitnami/janusgraph] feat: use new helper for checking API versions
  bitnami/janusgraph/CHANGELOG.md
  bitnami/janusgraph/Chart.lock
  bitnami/janusgraph/Chart.yaml
  bitnami/janusgraph/README.md
  bitnami/janusgraph/templates/vpa.yaml
  bitnami/janusgraph/values.yaml
Labels: verify, bitnami, janusgraph

#32046 [bitnami/chainloop] feat: use new helper for checking API versions
  bitnami/chainloop/CHANGELOG.md
  bitnami/chainloop/Chart.lock
  bitnami/chainloop/Chart.yaml
  bitnami/chainloop/README.md
  bitnami/chainloop/templates/cas/vpa.yaml
  bitnami/chainloop/templates/controlplane/vpa.yaml
  bitnami/chainloop/values.yaml
Labels: verify, bitnami, chainloop

#32058 [bitnami/mlflow] feat: use new helper for checking API versions
  bitnami/mlflow/CHANGELOG.md
  bitnami/mlflow/Chart.lock
  bitnami/mlflow/Chart.yaml
  bitnami/mlflow/README.md
  bitnami/mlflow/templates/tracking/vpa.yaml
  bitnami/mlflow/values.yaml
Labels: verify, bitnami, mlflow

#32064 [bitnami/valkey] feat: use new helper for checking API versions
  bitnami/valkey/CHANGELOG.md
  bitnami/valkey/Chart.yaml
  bitnami/valkey/README.md
  bitnami/valkey/templates/replicas/vpa.yaml
  bitnami/valkey/templates/sentinel/vpa.yaml
  bitnami/valkey/values.yaml
Labels: verify, bitnami, valkey

#31948 [bitnami/redis] feat: add parameter to disable checksums
  bitnami/redis/CHANGELOG.md
  bitnami/redis/Chart.yaml
  bitnami/redis/README.md
  bitnami/redis/templates/master/application.yaml
  bitnami/redis/templates/replicas/application.yaml
  bitnami/redis/templates/sentinel/statefulset.yaml
  bitnami/redis/values.yaml
Labels: verify, bitnami, redis

#32065 [bitnami/zipkin] feat: use new helper for checking API versions
  bitnami/zipkin/CHANGELOG.md
  bitnami/zipkin/Chart.lock
  bitnami/zipkin/Chart.yaml
  bitnami/zipkin/README.md
  bitnami/zipkin/templates/vpa.yaml
  bitnami/zipkin/values.yaml
Labels: verify, bitnami, zipkin

#31957 [bitnami/postgresql-ha] Add resources for backup cronjob
  bitnami/postgresql-ha/CHANGELOG.md
  bitnami/postgresql-ha/Chart.yaml
  bitnami/postgresql-ha/README.md
  bitnami/postgresql-ha/templates/backup/cronjob.yaml
  bitnami/postgresql-ha/values.yaml
Labels: verify, in-progress, postgresql-ha

#32055 [bitnami/kubernetes-event-exporter] feat: use new helper for checking API versions
  .vib/kubernetes-event-exporter/ginkgo/integration_suite_test.go
  .vib/kubernetes-event-exporter/ginkgo/kubernetes_event_exporter.go
  bitnami/kubernetes-event-exporter/CHANGELOG.md
  bitnami/kubernetes-event-exporter/Chart.lock
  bitnami/kubernetes-event-exporter/Chart.yaml
  bitnami/kubernetes-event-exporter/README.md
  bitnami/kubernetes-event-exporter/templates/vpa.yaml
  bitnami/kubernetes-event-exporter/values.yaml
Labels: verify, bitnami, kubernetes-event-exporter

#32063 [bitnami/superset] feat: use new helper for checking API versions
  bitnami/superset/CHANGELOG.md
  bitnami/superset/Chart.lock
  bitnami/superset/Chart.yaml
  bitnami/superset/README.md
  bitnami/superset/templates/flower/vpa.yaml
  bitnami/superset/templates/web/vpa.yaml
  bitnami/superset/templates/worker/vpa.yaml
  bitnami/superset/values.yaml
Labels: verify, bitnami, superset

#32143 [bitnami/chainloop] Update deps
  bitnami/chainloop/CHANGELOG.md
  bitnami/chainloop/Chart.lock
  bitnami/chainloop/Chart.yaml
Labels: verify, bitnami, chainloop

#31908 [bitnami/cloudnative-pg] feat: :tada: Add chart
  .vib/cloudnative-pg/goss/goss.yaml
  .vib/cloudnative-pg/runtime-parameters.yaml
  .vib/cloudnative-pg/vib-publish.json
  .vib/cloudnative-pg/vib-verify.json
  bitnami/cloudnative-pg/.helmignore
  bitnami/cloudnative-pg/CHANGELOG.md
  bitnami/cloudnative-pg/Chart.lock
  bitnami/cloudnative-pg/Chart.yaml
  bitnami/cloudnative-pg/README.md
  bitnami/cloudnative-pg/crds/postgresql.cnpg.io_backups.yaml
  bitnami/cloudnative-pg/crds/postgresql.cnpg.io_clusterimagecatalogs.yaml
  bitnami/cloudnative-pg/crds/postgresql.cnpg.io_clusters.yaml
  bitnami/cloudnative-pg/crds/postgresql.cnpg.io_databases.yaml
  bitnami/cloudnative-pg/crds/postgresql.cnpg.io_imagecatalogs.yaml
  bitnami/cloudnative-pg/crds/postgresql.cnpg.io_poolers.yaml
  bitnami/cloudnative-pg/crds/postgresql.cnpg.io_publications.yaml
  bitnami/cloudnative-pg/crds/postgresql.cnpg.io_scheduledbackups.yaml
  bitnami/cloudnative-pg/crds/postgresql.cnpg.io_subscriptions.yaml
  bitnami/cloudnative-pg/templates/NOTES.txt
  bitnami/cloudnative-pg/templates/_helpers.tpl
  bitnami/cloudnative-pg/templates/clusterrolebinding.yaml
  bitnami/cloudnative-pg/templates/clusterroles.yaml
  bitnami/cloudnative-pg/templates/configmap.yaml
  bitnami/cloudnative-pg/templates/deployment.yaml
  bitnami/cloudnative-pg/templates/extra-list.yaml
  bitnami/cloudnative-pg/templates/hpa.yaml
  bitnami/cloudnative-pg/templates/metrics-service.yaml
  bitnami/cloudnative-pg/templates/mutatingwebhookconfiguration.yaml
  bitnami/cloudnative-pg/templates/networkpolicy.yaml
  bitnami/cloudnative-pg/templates/pdb.yaml
  bitnami/cloudnative-pg/templates/role.yaml
  bitnami/cloudnative-pg/templates/rolebinding.yaml
  bitnami/cloudnative-pg/templates/secret.yaml
  bitnami/cloudnative-pg/templates/service-account.yaml
  bitnami/cloudnative-pg/templates/servicemonitor.yaml
  bitnami/cloudnative-pg/templates/validatingwebhookconfiguration.yaml
  bitnami/cloudnative-pg/templates/vpa.yaml
  bitnami/cloudnative-pg/templates/webhook-service.yaml
  bitnami/cloudnative-pg/values.yaml
Labels: verify, bitnami, cloudnative-pg

#32099 [bitnami/etcd] feat: basic customization params for etcd upgrade-job
  bitnami/etcd/CHANGELOG.md
  bitnami/etcd/Chart.yaml
  bitnami/etcd/README.md
  bitnami/etcd/templates/NOTES.txt
  bitnami/etcd/templates/preupgrade-hook-job.yaml
  bitnami/etcd/values.yaml
Labels: verify, bitnami, etcd

#30807 [bitnami/kibana] Template hostname everywhere
  bitnami/kibana/CHANGELOG.md
  bitnami/kibana/Chart.yaml
  bitnami/kibana/README.md
  bitnami/kibana/templates/configmap.yaml
  bitnami/kibana/templates/ingress.yaml
  bitnami/kibana/values.yaml
Labels: verify, kibana

#32077 [bitnami/apisix] Add support for `usePasswordFiles`
  bitnami/apisix/CHANGELOG.md
  bitnami/apisix/Chart.yaml
  bitnami/apisix/README.md
  bitnami/apisix/templates/_helpers.tpl
  bitnami/apisix/templates/control-plane/dep-ds.yaml
  bitnami/apisix/templates/dashboard/deployment.yaml
  bitnami/apisix/templates/data-plane/dep-ds.yaml
  bitnami/apisix/templates/ingress-controller/deployment.yaml
  bitnami/apisix/values.yaml
Labels: verify, bitnami, apisix

#32079 [bitnami/argo-cd] Add support for `usePasswordFiles`
  .vib/argo-cd/cypress/cypress/e2e/argo_cd.cy.js
  bitnami/argo-cd/CHANGELOG.md
  bitnami/argo-cd/Chart.yaml
  bitnami/argo-cd/README.md
  bitnami/argo-cd/templates/application-controller/_pod.tpl
  bitnami/argo-cd/templates/repo-server/deployment.yaml
  bitnami/argo-cd/templates/server/deployment.yaml
  bitnami/argo-cd/values.yaml
Labels: verify, bitnami, argo-cd

#32105 [bitnami/dremio] Rename `usePasswordFile` as `usePasswordFiles` and set 'true' by default
  .vib/dremio/runtime-parameters.yaml
  bitnami/dremio/CHANGELOG.md
  bitnami/dremio/Chart.yaml
  bitnami/dremio/README.md
  bitnami/dremio/templates/_init_containers.tpl
  bitnami/dremio/templates/bootstrap-user/job.yaml
  bitnami/dremio/templates/coordinator/statefulset.yaml
  bitnami/dremio/templates/executor/statefulset.yaml
  bitnami/dremio/templates/master-coordinator/statefulset.yaml
  bitnami/dremio/values.yaml
Labels: verify, bitnami, dremio

#32109 [bitnami/kong] Set `usePasswordFiles=true` by default
  bitnami/kong/CHANGELOG.md
  bitnami/kong/Chart.yaml
  bitnami/kong/README.md
  bitnami/kong/templates/dep-ds.yaml
  bitnami/kong/templates/migrate-job.yaml
  bitnami/kong/values.yaml
Labels: verify, bitnami, kong

#32110 [bitnami/mariadb] Set `usePasswordFiles=true` by default
  bitnami/mariadb/CHANGELOG.md
  bitnami/mariadb/Chart.yaml
  bitnami/mariadb/README.md
  bitnami/mariadb/values.yaml
Labels: verify, mariadb, bitnami

#32113 [bitnami/mysql] Set `usePasswordFiles=true` by default
  bitnami/mysql/CHANGELOG.md
  bitnami/mysql/Chart.yaml
  bitnami/mysql/README.md
  bitnami/mysql/values.yaml
Labels: verify, bitnami, mysql

#32119 [bitnami/seaweedfs] Set `usePasswordFiles=true` by default
  bitnami/seaweedfs/CHANGELOG.md
  bitnami/seaweedfs/Chart.yaml
  bitnami/seaweedfs/README.md
  bitnami/seaweedfs/templates/_helpers.tpl
  bitnami/seaweedfs/templates/s3/deployment.yaml
  bitnami/seaweedfs/values.yaml
Labels: verify, bitnami, seaweedfs

#32121 [bitnami/valkey] Set `usePasswordFiles=true` by default
  bitnami/valkey/CHANGELOG.md
  bitnami/valkey/Chart.yaml
  bitnami/valkey/README.md
  bitnami/valkey/templates/primary/application.yaml
  bitnami/valkey/templates/replicas/application.yaml
  bitnami/valkey/templates/sentinel/statefulset.yaml
  bitnami/valkey/values.yaml
Labels: verify, bitnami, valkey

#32122 [bitnami/valkey-cluster] Set `usePasswordFiles=true` by default
  bitnami/valkey-cluster/CHANGELOG.md
  bitnami/valkey-cluster/Chart.yaml
  bitnami/valkey-cluster/README.md
  bitnami/valkey-cluster/templates/scripts-configmap.yaml
  bitnami/valkey-cluster/templates/valkey-statefulset.yaml
  bitnami/valkey-cluster/values.yaml
Labels: verify, bitnami, valkey-cluster

#32123 [bitnami/zipkin] Set `usePasswordFiles=true` by default
  .vib/zipkin/runtime-parameters.yaml
  bitnami/zipkin/CHANGELOG.md
  bitnami/zipkin/Chart.yaml
  bitnami/zipkin/README.md
  bitnami/zipkin/templates/_init_containers.tpl
  bitnami/zipkin/templates/deployment.yaml
  bitnami/zipkin/values.yaml
Labels: verify, bitnami, zipkin

#31974 [bitnami/redis] Add ACL Authentication for Sentinel Nodes
  bitnami/redis/CHANGELOG.md
  bitnami/redis/Chart.yaml
  bitnami/redis/README.md
  bitnami/redis/templates/configmap.yaml
  bitnami/redis/values.yaml
Labels: verify, in-progress, redis

#32155 [bitnami/cloudnative-pg] fix: :bug: Set proper pull secret name
  bitnami/cloudnative-pg/CHANGELOG.md
  bitnami/cloudnative-pg/Chart.yaml
  bitnami/cloudnative-pg/templates/_helpers.tpl
Labels: verify, bitnami, cloudnative-pg

#32163 [bitnami/cloudnative-pg] test: :white_check_mark: Add imagePullSecrets to the cluster
  .vib/cloudnative-pg/runtime-parameters.yaml
  bitnami/cloudnative-pg/CHANGELOG.md
  bitnami/cloudnative-pg/Chart.yaml
  bitnami/cloudnative-pg/templates/deployment.yaml
Labels: verify, bitnami, cloudnative-pg

#32106 [bitnami/influxdb] Set `usePasswordFiles=true` by default
  bitnami/influxdb/CHANGELOG.md
  bitnami/influxdb/Chart.yaml
  bitnami/influxdb/README.md
  bitnami/influxdb/templates/_helpers.tpl
  bitnami/influxdb/templates/cronjob-backup.yaml
  bitnami/influxdb/templates/deployment.yaml
  bitnami/influxdb/values.yaml
Labels: verify, bitnami, influxdb

#32157 [bitnami/valkey] Check is auth.enabled before auth.usePasswordFiles
  bitnami/valkey/CHANGELOG.md
  bitnami/valkey/Chart.yaml
  bitnami/valkey/templates/primary/application.yaml
  bitnami/valkey/templates/replicas/application.yaml
  bitnami/valkey/templates/sentinel/statefulset.yaml
Labels: verify, in-progress, valkey

#32080 [bitnami/cassandra] Add support for `usePasswordFiles`
  bitnami/cassandra/CHANGELOG.md
  bitnami/cassandra/Chart.yaml
  bitnami/cassandra/README.md
  bitnami/cassandra/templates/statefulset.yaml
  bitnami/cassandra/values.yaml
Labels: verify, bitnami, cassandra

#32108 [bitnami/keydb] Set `usePasswordFiles=true` by default
  bitnami/keydb/CHANGELOG.md
  bitnami/keydb/Chart.yaml
  bitnami/keydb/README.md
  bitnami/keydb/templates/master/statefulset.yaml
  bitnami/keydb/templates/replica/statefulset.yaml
  bitnami/keydb/values.yaml
Labels: verify, bitnami, keydb

#32112 [bitnami/mongodb-sharded] Set `usePasswordFiles=true` by default
  bitnami/mongodb-sharded/CHANGELOG.md
  bitnami/mongodb-sharded/Chart.yaml
  bitnami/mongodb-sharded/README.md
  bitnami/mongodb-sharded/templates/config-server/config-server-statefulset.yaml
  bitnami/mongodb-sharded/templates/mongos/mongos-dep-sts.yaml
  bitnami/mongodb-sharded/templates/replicaset-entrypoint-configmap.yaml
  bitnami/mongodb-sharded/templates/shard/shard-arbiter-statefulset.yaml
  bitnami/mongodb-sharded/templates/shard/shard-data-statefulset.yaml
  bitnami/mongodb-sharded/values.yaml
Labels: verify, bitnami, mongodb-sharded

#32116 [bitnami/postgresql-ha] Set `usePasswordFiles=true` by default
  bitnami/postgresql-ha/CHANGELOG.md
  bitnami/postgresql-ha/Chart.yaml
  bitnami/postgresql-ha/README.md
  bitnami/postgresql-ha/templates/_helpers.tpl
  bitnami/postgresql-ha/templates/backup/cronjob.yaml
  bitnami/postgresql-ha/templates/pgpool/deployment.yaml
  bitnami/postgresql-ha/templates/postgresql/statefulset.yaml
  bitnami/postgresql-ha/templates/postgresql/witness-statefulset.yaml
  bitnami/postgresql-ha/values.yaml
Labels: verify, bitnami, postgresql-ha

#32117 [bitnami/redis] Set `usePasswordFiles=true` by default
  bitnami/redis/CHANGELOG.md
  bitnami/redis/Chart.yaml
  bitnami/redis/README.md
  bitnami/redis/templates/master/application.yaml
  bitnami/redis/templates/replicas/application.yaml
  bitnami/redis/templates/sentinel/statefulset.yaml
  bitnami/redis/values.yaml
Labels: verify, bitnami, redis

#32076 [bitnami/airflow] Add support for `usePasswordFiles`
  bitnami/airflow/CHANGELOG.md
  bitnami/airflow/Chart.yaml
  bitnami/airflow/README.md
  bitnami/airflow/templates/_helpers.tpl
  bitnami/airflow/templates/_init_containers_sidecars.tpl
  bitnami/airflow/templates/config/configmap-pod-template.yaml
  bitnami/airflow/templates/dag-processor/deployment.yaml
  bitnami/airflow/templates/scheduler/deployment.yaml
  bitnami/airflow/templates/setup-db-job.yaml
  bitnami/airflow/templates/triggerer/statefulset.yaml
  bitnami/airflow/templates/web/deployment.yaml
  bitnami/airflow/templates/worker/statefulset.yaml
  bitnami/airflow/values.yaml
Labels: verify, airflow, bitnami
