Repository bitnami/charts, pull requests merged in 2025-04, with the labels that each got.

#32692 [bitnami/kafka] bugfix: recompute secret checksum on Kafka kraft secret changes
  bitnami/kafka/CHANGELOG.md
  bitnami/kafka/Chart.yaml
  bitnami/kafka/templates/_helpers.tpl
  bitnami/kafka/templates/_init_containers.tpl
  bitnami/kafka/templates/broker/statefulset.yaml
  bitnami/kafka/templates/controller-eligible/statefulset.yaml
  bitnami/kafka/templates/secrets.yaml
Labels: verify, kafka, bitnami

#32614 [bitnami/minio-operator] feat: :tada: Add chart
  .vib/minio-operator/goss/goss.yaml
  .vib/minio-operator/runtime-parameters.yaml
  .vib/minio-operator/vib-publish.json
  .vib/minio-operator/vib-verify.json
  bitnami/minio-operator/.helmignore
  bitnami/minio-operator/CHANGELOG.md
  bitnami/minio-operator/Chart.lock
  bitnami/minio-operator/Chart.yaml
  bitnami/minio-operator/README.md
  bitnami/minio-operator/crds/minio.min.io_tenants.yaml
  bitnami/minio-operator/crds/sts.min.io_policybindings.yaml
  bitnami/minio-operator/templates/NOTES.txt
  bitnami/minio-operator/templates/_helpers.tpl
  bitnami/minio-operator/templates/clusterrolebinding.yaml
  bitnami/minio-operator/templates/clusterroles.yaml
  bitnami/minio-operator/templates/deployment.yaml
  bitnami/minio-operator/templates/extra-list.yaml
  bitnami/minio-operator/templates/hpa.yaml
  bitnami/minio-operator/templates/networkpolicy.yaml
  bitnami/minio-operator/templates/pdb.yaml
  bitnami/minio-operator/templates/service-account.yaml
  bitnami/minio-operator/templates/service-sts.yaml
  bitnami/minio-operator/templates/service.yaml
  bitnami/minio-operator/templates/vpa.yaml
  bitnami/minio-operator/values.yaml
Labels: verify, bitnami, minio-operator

#32511 [bitnami/thanos] feature: allow configuring labels for all ingress
  bitnami/thanos/CHANGELOG.md
  bitnami/thanos/Chart.yaml
  bitnami/thanos/README.md
  bitnami/thanos/templates/bucketweb/ingress.yaml
  bitnami/thanos/templates/compactor/ingress.yaml
  bitnami/thanos/templates/query-frontend/ingress.yaml
  bitnami/thanos/templates/receive/ingress.yaml
  bitnami/thanos/templates/ruler/ingress.yaml
  bitnami/thanos/templates/storegateway/ingress.yaml
  bitnami/thanos/values.yaml
Labels: verify, in-progress, thanos

#32698 [bitnami/dremio] Bump MinIO major version 16.x.x
  bitnami/dremio/CHANGELOG.md
  bitnami/dremio/Chart.lock
  bitnami/dremio/Chart.yaml
  bitnami/dremio/README.md
Labels: verify, solved, bitnami, dremio

#32699 [bitnami/grafana-mimir] Bump MinIO major version 16.x.x
  bitnami/grafana-mimir/CHANGELOG.md
  bitnami/grafana-mimir/Chart.lock
  bitnami/grafana-mimir/Chart.yaml
  bitnami/grafana-mimir/README.md
Labels: verify, bitnami, grafana-mimir

#32421 [bitnami/nginx] Ingress hostname dynamic tpl function
  bitnami/nginx/CHANGELOG.md
  bitnami/nginx/Chart.yaml
  bitnami/nginx/templates/NOTES.txt
  bitnami/nginx/templates/ingress.yaml
Labels: verify, in-progress, nginx

#32445 bitnami/kafka Adjust parameters in example of section "Deploying extra resources" in README
  bitnami/kafka/README.md
Labels: in-progress, kafka

#32633 [bitnami/external-dns] Add RBAC to support F5 TransportServer source
  bitnami/external-dns/CHANGELOG.md
  bitnami/external-dns/Chart.yaml
  bitnami/external-dns/templates/clusterrole.yaml
Labels: verify, in-progress, external-dns

#32795 [bitnami/minio-operator] test: :white_check_mark: Add --insecure flag
  .vib/minio-operator/goss/goss.yaml
Labels: verify, bitnami

#32702 [bitnami/mlflow] Bump MinIO major version 16.x.x
  bitnami/mlflow/CHANGELOG.md
  bitnami/mlflow/Chart.lock
  bitnami/mlflow/Chart.yaml
  bitnami/mlflow/README.md
Labels: verify, bitnami, mlflow

#32703 [bitnami/thanos] Bump MinIO major version 16.x.x
  bitnami/thanos/CHANGELOG.md
  bitnami/thanos/Chart.lock
  bitnami/thanos/Chart.yaml
  bitnami/thanos/README.md
Labels: verify, bitnami, thanos

#32700 [bitnami/mastodon] Bump MinIO major version 16.x.x
  bitnami/mastodon/CHANGELOG.md
  bitnami/mastodon/Chart.lock
  bitnami/mastodon/Chart.yaml
  bitnami/mastodon/README.md
Labels: verify, bitnami, mastodon

#32343 [bitnami/ejbca] Set `usePasswordFiles=true` by default
  bitnami/ejbca/CHANGELOG.md
  bitnami/ejbca/Chart.yaml
  bitnami/ejbca/README.md
  bitnami/ejbca/templates/deployment.yaml
  bitnami/ejbca/values.yaml
Labels: verify, bitnami, ejbca

#32701 [bitnami/milvus] Bump MinIO major version 16.x.x
  bitnami/milvus/CHANGELOG.md
  bitnami/milvus/Chart.lock
  bitnami/milvus/Chart.yaml
  bitnami/milvus/README.md
Labels: verify, bitnami, milvus

#32594 [bitnami/keycloak] Set `usePasswordFiles=true` by default
  bitnami/keycloak/CHANGELOG.md
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/README.md
  bitnami/keycloak/templates/statefulset.yaml
  bitnami/keycloak/values.yaml
Labels: verify, keycloak, bitnami

#32704 [bitnami/wildfly] Set `usePasswordFiles=true` by default
  bitnami/wildfly/CHANGELOG.md
  bitnami/wildfly/Chart.yaml
  bitnami/wildfly/README.md
  bitnami/wildfly/templates/deployment.yaml
  bitnami/wildfly/values.yaml
Labels: verify, bitnami, wildfly

#32705 [bitnami/moodle] Set `usePasswordFiles=true` by default
  bitnami/moodle/CHANGELOG.md
  bitnami/moodle/Chart.yaml
  bitnami/moodle/README.md
  bitnami/moodle/templates/deployment.yaml
  bitnami/moodle/values.yaml
Labels: verify, moodle, bitnami

#32709 [bitnami/parse] Set `usePasswordFiles=true` by default
  bitnami/parse/CHANGELOG.md
  bitnami/parse/Chart.yaml
  bitnami/parse/README.md
  bitnami/parse/templates/dashboard-deployment.yaml
  bitnami/parse/templates/server-deployment.yaml
  bitnami/parse/values.yaml
Labels: verify, bitnami, parse

#32767 [bitnami/tomcat] Set `usePasswordFiles=true` by default
  bitnami/tomcat/CHANGELOG.md
  bitnami/tomcat/Chart.yaml
  bitnami/tomcat/README.md
  bitnami/tomcat/templates/_pod.tpl
  bitnami/tomcat/values.yaml
Labels: verify, bitnami, tomcat

#32771 [bitnami/redmine] Set `usePasswordFiles=true` by default
  bitnami/redmine/CHANGELOG.md
  bitnami/redmine/Chart.yaml
  bitnami/redmine/README.md
  bitnami/redmine/templates/cronjob.yaml
  bitnami/redmine/templates/deployment.yaml
  bitnami/redmine/templates/mail-receiver-configmap.yaml
  bitnami/redmine/values.yaml
Labels: verify, bitnami, redmine

#32710 [bitnami/scylladb] Set `usePasswordFiles=true` by default
  bitnami/scylladb/CHANGELOG.md
  bitnami/scylladb/Chart.yaml
  bitnami/scylladb/README.md
  bitnami/scylladb/templates/statefulset.yaml
  bitnami/scylladb/values.yaml
Labels: verify, bitnami, scylladb

#32768 [bitnami/rabbitmq] Set `usePasswordFiles=true` by default
  bitnami/rabbitmq/CHANGELOG.md
  bitnami/rabbitmq/Chart.yaml
  bitnami/rabbitmq/README.md
  bitnami/rabbitmq/templates/statefulset.yaml
  bitnami/rabbitmq/values.yaml
Labels: verify, bitnami, rabbitmq

#32769 [bitnami/sonarqube] Set `usePasswordFiles=true` by default
  bitnami/sonarqube/CHANGELOG.md
  bitnami/sonarqube/Chart.yaml
  bitnami/sonarqube/README.md
  bitnami/sonarqube/templates/deployment.yaml
  bitnami/sonarqube/values.yaml
Labels: verify, bitnami, sonarqube

#32770 [bitnami/wordpress] Set `usePasswordFiles=true` by default
  bitnami/wordpress/CHANGELOG.md
  bitnami/wordpress/Chart.yaml
  bitnami/wordpress/README.md
  bitnami/wordpress/templates/deployment.yaml
  bitnami/wordpress/values.yaml
Labels: verify, bitnami, wordpress

#32778 [bitnami/superset] Set `usePasswordFiles=true` by default
  bitnami/superset/CHANGELOG.md
  bitnami/superset/Chart.yaml
  bitnami/superset/README.md
  bitnami/superset/templates/_helpers.tpl
  bitnami/superset/templates/beat/deployment.yaml
  bitnami/superset/templates/externaldb-secrets.yaml
  bitnami/superset/templates/flower/deployment.yaml
  bitnami/superset/templates/init/init-job.yaml
  bitnami/superset/templates/web/deployment.yaml
  bitnami/superset/templates/worker/deployment.yaml
  bitnami/superset/values.yaml
Labels: verify, bitnami, superset

#32797 [bitnami/opensearch] Set `usePasswordFiles=true` by default
  bitnami/opensearch/CHANGELOG.md
  bitnami/opensearch/Chart.yaml
  bitnami/opensearch/README.md
  bitnami/opensearch/templates/_helpers.tpl
  bitnami/opensearch/templates/coordinating/statefulset.yaml
  bitnami/opensearch/templates/dashboards/deployment.yaml
  bitnami/opensearch/templates/data/statefulset.yaml
  bitnami/opensearch/templates/ingest/statefulset.yaml
  bitnami/opensearch/templates/master/statefulset.yaml
  bitnami/opensearch/values.yaml
Labels: verify, bitnami, opensearch

#32713 [bitnami/schema-registry] Set `usePasswordFiles=true` by default
  bitnami/schema-registry/CHANGELOG.md
  bitnami/schema-registry/Chart.yaml
  bitnami/schema-registry/README.md
  bitnami/schema-registry/templates/statefulset.yaml
  bitnami/schema-registry/values.yaml
Labels: verify, bitnami, schema-registry

#32636 [bitnami/kibana] Set `usePasswordFiles=true` by default
  bitnami/kibana/CHANGELOG.md
  bitnami/kibana/Chart.yaml
  bitnami/kibana/README.md
  bitnami/kibana/templates/deployment.yaml
  bitnami/kibana/values.yaml
Labels: verify, bitnami, kibana

#32782 [bitnami/solr] Set `usePasswordFiles=true` by default
  bitnami/solr/CHANGELOG.md
  bitnami/solr/Chart.yaml
  bitnami/solr/README.md
  bitnami/solr/templates/metrics-deployment.yaml
  bitnami/solr/templates/scripts-configmap.yaml
  bitnami/solr/templates/statefulset.yaml
  bitnami/solr/values.yaml
Labels: verify, bitnami, solr

#32344 [bitnami/elasticsearch] Set `usePasswordFiles=true` by default
  bitnami/elasticsearch/CHANGELOG.md
  bitnami/elasticsearch/Chart.yaml
  bitnami/elasticsearch/README.md
  bitnami/elasticsearch/templates/_helpers.tpl
  bitnami/elasticsearch/templates/coordinating/serviceaccount.yaml
  bitnami/elasticsearch/templates/coordinating/statefulset.yaml
  bitnami/elasticsearch/templates/data/serviceaccount.yaml
  bitnami/elasticsearch/templates/data/statefulset.yaml
  bitnami/elasticsearch/templates/ingest/serviceaccount.yaml
  bitnami/elasticsearch/templates/ingest/statefulset.yaml
  bitnami/elasticsearch/templates/initialization-configmap.yaml
  bitnami/elasticsearch/templates/master/serviceaccount.yaml
  bitnami/elasticsearch/templates/master/statefulset.yaml
  bitnami/elasticsearch/templates/metrics/serviceaccount.yaml
  bitnami/elasticsearch/values.yaml
Labels: verify, bitnami, elasticsearch

#32367 [bitnami/mastodon] Set `usePasswordFiles=true` by default
  bitnami/mastodon/CHANGELOG.md
  bitnami/mastodon/Chart.yaml
  bitnami/mastodon/README.md
  bitnami/mastodon/templates/_helpers.tpl
  bitnami/mastodon/templates/init-job/init-job.yaml
  bitnami/mastodon/templates/sidekiq/deployment.yaml
  bitnami/mastodon/templates/streaming/deployment.yaml
  bitnami/mastodon/templates/tootctlMediaManagement/cronjob.yaml
  bitnami/mastodon/templates/web/deployment.yaml
  bitnami/mastodon/values.yaml
Labels: verify, bitnami, mastodon

#32413 [bitnami/grafana-operator] Add new CRDs and RBAC
  bitnami/grafana-operator/CHANGELOG.md
  bitnami/grafana-operator/Chart.yaml
  bitnami/grafana-operator/crds/grafana.integreatly.org_grafanaalertrulegroups.yaml
  bitnami/grafana-operator/crds/grafana.integreatly.org_grafanacontactpoints.yaml
  bitnami/grafana-operator/crds/grafana.integreatly.org_grafanadashboards.yaml
  bitnami/grafana-operator/crds/grafana.integreatly.org_grafanadatasources.yaml
  bitnami/grafana-operator/crds/grafana.integreatly.org_grafanafolders.yaml
  bitnami/grafana-operator/crds/grafana.integreatly.org_grafanalibrarypanels.yaml
  bitnami/grafana-operator/crds/grafana.integreatly.org_grafanamutetimings.yaml
  bitnami/grafana-operator/crds/grafana.integreatly.org_grafananotificationpolicies.yaml
  bitnami/grafana-operator/crds/grafana.integreatly.org_grafananotificationpolicyroutes.yaml
  bitnami/grafana-operator/crds/grafana.integreatly.org_grafananotificationtemplates.yaml
  bitnami/grafana-operator/crds/grafana.integreatly.org_grafanas.yaml
  bitnami/grafana-operator/templates/rbac.yaml
Labels: verify, in-progress, grafana-operator

#32642 [bitnami/milvus] Set `usePasswordFiles=true` by default
  bitnami/milvus/CHANGELOG.md
  bitnami/milvus/Chart.yaml
  bitnami/milvus/README.md
  bitnami/milvus/templates/_helpers.tpl
  bitnami/milvus/templates/data-coordinator/deployment.yaml
  bitnami/milvus/templates/data-node/deployment.yaml
  bitnami/milvus/templates/index-coordinator/deployment.yaml
  bitnami/milvus/templates/index-node/deployment.yaml
  bitnami/milvus/templates/init-job.yaml
  bitnami/milvus/templates/proxy/deployment.yaml
  bitnami/milvus/templates/query-coordinator/deployment.yaml
  bitnami/milvus/templates/query-node/deployment.yaml
  bitnami/milvus/templates/root-coordinator/deployment.yaml
  bitnami/milvus/values.yaml
Labels: verify, bitnami, milvus

#32790 [bitnami/discourse] Support envFrom in `install-plugins`
  bitnami/discourse/CHANGELOG.md
  bitnami/discourse/Chart.yaml
  bitnami/discourse/templates/deployment.yaml
Labels: verify, in-progress, discourse

#32780 [bitnami/zookeeper] Set `usePasswordFiles=true` by default
  bitnami/zookeeper/CHANGELOG.md
  bitnami/zookeeper/Chart.yaml
  bitnami/zookeeper/README.md
  bitnami/zookeeper/templates/statefulset.yaml
  bitnami/zookeeper/values.yaml
Labels: verify, bitnami, zookeeper

#32118 [bitnami/redis-cluster] Set `usePasswordFiles=true` by default
  bitnami/redis-cluster/CHANGELOG.md
  bitnami/redis-cluster/Chart.yaml
  bitnami/redis-cluster/README.md
  bitnami/redis-cluster/templates/NOTES.txt
  bitnami/redis-cluster/templates/metrics-prometheus.yaml
  bitnami/redis-cluster/templates/poddisruptionbudget.yaml
  bitnami/redis-cluster/templates/redis-role.yaml
  bitnami/redis-cluster/templates/redis-rolebinding.yaml
  bitnami/redis-cluster/templates/redis-serviceaccount.yaml
  bitnami/redis-cluster/templates/redis-statefulset.yaml
  bitnami/redis-cluster/templates/scripts-configmap.yaml
  bitnami/redis-cluster/templates/secret.yaml
  bitnami/redis-cluster/templates/update-cluster.yaml
  bitnami/redis-cluster/values.yaml
Labels: verify, bitnami, redis-cluster

#32823 [bitnami/keycloak] The secret name of the externaldb is inherited by the .Release.Name and not by the (include "common.names.fullname" .) function.
  bitnami/keycloak/CHANGELOG.md
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/templates/_helpers.tpl
  bitnami/keycloak/templates/secret-external-db.yaml
Labels: verify, in-progress, keycloak

#32800 [bitnami/mongodb] Set `usePasswordFiles=true` by default
  bitnami/mongodb/CHANGELOG.md
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/README.md
  bitnami/mongodb/templates/arbiter/statefulset.yaml
  bitnami/mongodb/templates/backup/cronjob.yaml
  bitnami/mongodb/templates/hidden/statefulset.yaml
  bitnami/mongodb/templates/replicaset/statefulset.yaml
  bitnami/mongodb/templates/standalone/dep-sts.yaml
  bitnami/mongodb/templates/update-password/job.yaml
  bitnami/mongodb/values.yaml
Labels: verify, bitnami, mongodb

#32464 [bitnami/cassandra] Cassandra dynamic seed discovery
  bitnami/cassandra/CHANGELOG.md
  bitnami/cassandra/Chart.yaml
  bitnami/cassandra/README.md
  bitnami/cassandra/templates/NOTES.txt
  bitnami/cassandra/templates/_helpers.tpl
  bitnami/cassandra/templates/statefulset.yaml
  bitnami/cassandra/values.yaml
Labels: verify, in-progress, cassandra

#32849 [bitnami/kube-arangodb] Chore/kube arangodb correct typo chaows
  bitnami/kube-arangodb/CHANGELOG.md
  bitnami/kube-arangodb/Chart.yaml
  bitnami/kube-arangodb/README.md
  bitnami/kube-arangodb/values.yaml
Labels: verify, in-progress, kube-arangodb

#32866 [bitnami/superset] Use small resourcesPreset for PostgreSQL
  .vib/superset/runtime-parameters.yaml
Labels: verify, bitnami

#32816 [bitnami/clickhouse-operator] feat: new chart
  .vib/clickhouse-operator/goss/goss.yaml
  .vib/clickhouse-operator/runtime-parameters.yaml
  .vib/clickhouse-operator/vib-publish.json
  .vib/clickhouse-operator/vib-verify.json
  bitnami/clickhouse-operator/.helmignore
  bitnami/clickhouse-operator/CHANGELOG.md
  bitnami/clickhouse-operator/Chart.lock
  bitnami/clickhouse-operator/Chart.yaml
  bitnami/clickhouse-operator/README.md
  bitnami/clickhouse-operator/crds/clickhouseinstallations.clickhouse.altinity.com.yaml
  bitnami/clickhouse-operator/crds/clickhouseinstallationtemplates.clickhouse.altinity.com.yaml
  bitnami/clickhouse-operator/crds/clickhousekeeperinstallations.clickhouse-keeper.altinity.com.yaml
  bitnami/clickhouse-operator/crds/clickhouseoperatorconfigurations.clickhouse.altinity.com.yaml
  bitnami/clickhouse-operator/templates/NOTES.txt
  bitnami/clickhouse-operator/templates/_helpers.tpl
  bitnami/clickhouse-operator/templates/chi-configd-configmap.yaml
  bitnami/clickhouse-operator/templates/chi-templates-configmap.yaml
  bitnami/clickhouse-operator/templates/chi-usersd-configmap.yaml
  bitnami/clickhouse-operator/templates/chk-configd-configmap.yaml
  bitnami/clickhouse-operator/templates/chk-templates-configmap.yaml
  bitnami/clickhouse-operator/templates/chk-usersd-configmap.yaml
  bitnami/clickhouse-operator/templates/configmap.yaml
  bitnami/clickhouse-operator/templates/deployment.yaml
  bitnami/clickhouse-operator/templates/extra-list.yaml
  bitnami/clickhouse-operator/templates/hpa.yaml
  bitnami/clickhouse-operator/templates/networkpolicy.yaml
  bitnami/clickhouse-operator/templates/pdb.yaml
  bitnami/clickhouse-operator/templates/rbac.yaml
  bitnami/clickhouse-operator/templates/secret.yaml
  bitnami/clickhouse-operator/templates/service-account.yaml
  bitnami/clickhouse-operator/templates/service.yaml
  bitnami/clickhouse-operator/templates/servicemonitor.yaml
  bitnami/clickhouse-operator/templates/vpa.yaml
  bitnami/clickhouse-operator/values.yaml
Labels: verify, bitnami

#32867 [bitnami/milvus] Update minio chart
  bitnami/milvus/CHANGELOG.md
  bitnami/milvus/Chart.lock
  bitnami/milvus/Chart.yaml
  bitnami/milvus/README.md
Labels: verify, bitnami, milvus

#32858 [bitnami/mysql] Allow setting externalIPs for services
  bitnami/mysql/CHANGELOG.md
  bitnami/mysql/Chart.yaml
  bitnami/mysql/README.md
  bitnami/mysql/templates/primary/svc.yaml
  bitnami/mysql/templates/secondary/svc.yaml
  bitnami/mysql/values.yaml
Labels: verify, in-progress, mysql

#32661 bitnami/external-dns: do not set EXTERNAL_DNS_RFC2136_TSIG_SECRET when rfc2136 provider is not used
  bitnami/external-dns/CHANGELOG.md
  bitnami/external-dns/Chart.yaml
  bitnami/external-dns/templates/deployment.yaml
Labels: verify, in-progress, external-dns

#32774 [bitnami/matomo] Add missing `app.kubernetes.io/component` label to deployment and pdb
  bitnami/matomo/CHANGELOG.md
  bitnami/matomo/Chart.yaml
  bitnami/matomo/templates/deployment.yaml
  bitnami/matomo/templates/pdb.yaml
Labels: verify, in-progress, matomo

#32861 [bitnami/common] Restore 'Paremeters' section of the README
  bitnami/common/README.md
  bitnami/common/templates/_errors.tpl
Labels: verify, bitnami, common

#32882 [bitnami/minio] Fix issue when using custom secret keys
  bitnami/minio/CHANGELOG.md
  bitnami/minio/Chart.yaml
  bitnami/minio/templates/distributed/statefulset.yaml
  bitnami/minio/templates/provisioning-job.yaml
  bitnami/minio/templates/standalone/deployment.yaml
Labels: verify, bitnami, minio

#32085 [bitnami/redis] Handle SIGTERM in `kubectl-shared` container
  bitnami/redis/CHANGELOG.md
  bitnami/redis/Chart.yaml
  bitnami/redis/templates/scripts-configmap.yaml
  bitnami/redis/templates/sentinel/statefulset.yaml
Labels: verify, in-progress, redis

#32870 [bitnami/etcd] fix livenessprobe when metrics.useSeparateEndpoint is set
  bitnami/etcd/CHANGELOG.md
  bitnami/etcd/Chart.yaml
  bitnami/etcd/templates/statefulset.yaml
Labels: verify, in-progress, etcd

#32890 [bitnami/superset] Revert superset resource preset for postgresql
  .vib/superset/goss/goss.yaml
  .vib/superset/runtime-parameters.yaml
Labels: verify, bitnami

#32948 Dremio photon 5
  .vib/dremio/goss/goss.yaml
  .vib/dremio/runtime-parameters.yaml
Labels: verify, bitnami

#32577 [bitnami/nginx] feat(nginx-optional-initcontainers): Enable optional initcontainers
  bitnami/nginx/CHANGELOG.md
  bitnami/nginx/Chart.yaml
  bitnami/nginx/README.md
  bitnami/nginx/templates/deployment.yaml
  bitnami/nginx/values.yaml
Labels: verify, in-progress, nginx

#32945 Update HPA with statefulset as reference instead of deployment
  bitnami/schema-registry/CHANGELOG.md
  bitnami/schema-registry/Chart.yaml
  bitnami/schema-registry/templates/hpa.yaml
Labels: verify, in-progress, schema-registry

#32814 [bitnami/etcd] Simplify condition
  bitnami/etcd/CHANGELOG.md
  bitnami/etcd/Chart.yaml
  bitnami/etcd/templates/statefulset.yaml
Labels: verify, in-progress, etcd

#32985 [bitnami/influxdb] bugfix: replace references to .Release.Namespace
  bitnami/influxdb/CHANGELOG.md
  bitnami/influxdb/Chart.yaml
  bitnami/influxdb/README.md
  bitnami/influxdb/templates/NOTES.txt
  bitnami/influxdb/templates/configmap-backup.yaml
  bitnami/influxdb/templates/servicemonitor.yaml
  bitnami/influxdb/values.yaml
Labels: verify, bitnami, influxdb

#32924 [bitnami/matomo] Adds matomo-secrets volume to matomo-archive cronjob
  bitnami/matomo/CHANGELOG.md
  bitnami/matomo/Chart.yaml
  bitnami/matomo/templates/cronjob.yaml
Labels: verify, in-progress, matomo

#32967 [bitnami/redis-cluster] fix: Do not generate secret checksum when is not existing
  bitnami/redis-cluster/CHANGELOG.md
  bitnami/redis-cluster/Chart.yaml
  bitnami/redis-cluster/templates/redis-statefulset.yaml
Labels: verify, in-progress, redis-cluster

#32987 Fix typo mentioning Geode in Solr and Zookeeper
  bitnami/solr/README.md
  bitnami/solr/values.yaml
  bitnami/zookeeper/values.yaml
Labels: verify, bitnami

#32829 [bitnami/kuberay] match upstream clusterrole
  bitnami/kuberay/CHANGELOG.md
  bitnami/kuberay/Chart.yaml
  bitnami/kuberay/templates/operator/clusterroles.yaml
Labels: verify, in-progress, kuberay

#32992 [bitnami/vault] bugfix: enable back server.replicaCount parameter
  bitnami/vault/CHANGELOG.md
  bitnami/vault/Chart.yaml
  bitnami/vault/README.md
  bitnami/vault/templates/NOTES.txt
  bitnami/vault/templates/server/statefulset.yaml
  bitnami/vault/values.yaml
Labels: verify, bitnami, vault

#32991 [bitnami/jupyterhub] Update jupyterhub_config.py and z2hj.py
  bitnami/jupyterhub/CHANGELOG.md
  bitnami/jupyterhub/Chart.yaml
  bitnami/jupyterhub/README.md
  bitnami/jupyterhub/templates/hub/configmap.yaml
Labels: verify, jupyterhub

#33001 [bitnami/influxdb] fix invalid template syntax
  bitnami/influxdb/CHANGELOG.md
  bitnami/influxdb/Chart.yaml
  bitnami/influxdb/templates/servicemonitor.yaml
Labels: triage, influxdb

#33004 [bitnami/keycloak] bugfix: add prefix on projected db secret keys
  bitnami/keycloak/CHANGELOG.md
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/templates/statefulset.yaml
Labels: verify, keycloak, bitnami

#32958 [bitnami/clickhouse] feat: replace ZooKeeper with ClickHouse Keeper
  .vib/clickhouse/goss/goss.yaml
  .vib/clickhouse/runtime-parameters.yaml
  bitnami/clickhouse/CHANGELOG.md
  bitnami/clickhouse/Chart.lock
  bitnami/clickhouse/Chart.yaml
  bitnami/clickhouse/README.md
  bitnami/clickhouse/templates/NOTES.txt
  bitnami/clickhouse/templates/_helpers.tpl
  bitnami/clickhouse/templates/_init_containers.tpl
  bitnami/clickhouse/templates/certs.yaml
  bitnami/clickhouse/templates/configd-configmap.yaml
  bitnami/clickhouse/templates/configmap-extra.yaml
  bitnami/clickhouse/templates/configmap-users-extra.yaml
  bitnami/clickhouse/templates/configmap.yaml
  bitnami/clickhouse/templates/headless-service.yaml
  bitnami/clickhouse/templates/ingress-tls-secrets.yaml
  bitnami/clickhouse/templates/ingress.yaml
  bitnami/clickhouse/templates/init-scripts-secret.yaml
  bitnami/clickhouse/templates/keeper/configd-configmap.yaml
  bitnami/clickhouse/templates/keeper/configmap.yaml
  bitnami/clickhouse/templates/keeper/headless-service.yaml
  bitnami/clickhouse/templates/keeper/networkpolicy.yaml
  bitnami/clickhouse/templates/keeper/pdb.yaml
  bitnami/clickhouse/templates/keeper/service.yaml
  bitnami/clickhouse/templates/keeper/statefulset.yaml
  bitnami/clickhouse/templates/keeper/usersd-configmap.yaml
  bitnami/clickhouse/templates/keeper/vpa.yaml
  bitnami/clickhouse/templates/networkpolicy.yaml
  bitnami/clickhouse/templates/pdb.yaml
  bitnami/clickhouse/templates/prometheusrule.yaml
  bitnami/clickhouse/templates/scripts-configmap.yaml
  bitnami/clickhouse/templates/secret.yaml
  bitnami/clickhouse/templates/service-external-access.yaml
  bitnami/clickhouse/templates/service.yaml
  bitnami/clickhouse/templates/servicemonitor.yaml
  bitnami/clickhouse/templates/start-scripts-secret.yaml
  bitnami/clickhouse/templates/statefulset.yaml
  bitnami/clickhouse/templates/tls-secret.yaml
  bitnami/clickhouse/templates/usersd-configmap.yaml
  bitnami/clickhouse/templates/vpa.yaml
  bitnami/clickhouse/values.yaml
Labels: verify, bitnami, clickhouse

#32990 [bitnami/cadvisor] feat: :tada: Add chart
  .vib/cadvisor/goss/goss.yaml
  .vib/cadvisor/runtime-parameters.yaml
  .vib/cadvisor/vib-publish.json
  .vib/cadvisor/vib-verify.json
  bitnami/cadvisor/.helmignore
  bitnami/cadvisor/CHANGELOG.md
  bitnami/cadvisor/Chart.lock
  bitnami/cadvisor/Chart.yaml
  bitnami/cadvisor/README.md
  bitnami/cadvisor/templates/NOTES.txt
  bitnami/cadvisor/templates/_helpers.tpl
  bitnami/cadvisor/templates/daemonset.yaml
  bitnami/cadvisor/templates/extra-list.yaml
  bitnami/cadvisor/templates/ingress-tls-secret.yaml
  bitnami/cadvisor/templates/ingress.yaml
  bitnami/cadvisor/templates/networkpolicy.yaml
  bitnami/cadvisor/templates/service-account.yaml
  bitnami/cadvisor/templates/service.yaml
  bitnami/cadvisor/templates/servicemonitor.yaml
  bitnami/cadvisor/values.yaml
Labels: verify, bitnami

#32434 [bitnami/redis] Support retrieving Redis ACL user passwords from Kubernetes Secrets
  bitnami/redis/CHANGELOG.md
  bitnami/redis/Chart.yaml
  bitnami/redis/README.md
  bitnami/redis/templates/_helpers.tpl
  bitnami/redis/templates/configmap.yaml
  bitnami/redis/values.yaml
Labels: verify, in-progress, redis

#32792 [bitnami/kafka] add topologyKey value
  bitnami/kafka/CHANGELOG.md
  bitnami/kafka/Chart.yaml
  bitnami/kafka/README.md
  bitnami/kafka/templates/broker/statefulset.yaml
  bitnami/kafka/templates/controller-eligible/statefulset.yaml
  bitnami/kafka/values.yaml
Labels: verify, in-progress, kafka

#32999 [bitnami/harbor] feat(redis tls): Support connecting to SSL/TLS Redis endpoints
  bitnami/harbor/CHANGELOG.md
  bitnami/harbor/Chart.yaml
  bitnami/harbor/README.md
  bitnami/harbor/templates/_helpers.tpl
  bitnami/harbor/templates/core/core-dpl.yaml
  bitnami/harbor/templates/jobservice/jobservice-dpl.yaml
  bitnami/harbor/templates/trivy/trivy-sts.yaml
  bitnami/harbor/values.yaml
Labels: verify, bitnami, harbor

#32955 [bitnami/grafana-loki] Add support to override client_max_body_size in nginx
  bitnami/grafana-loki/CHANGELOG.md
  bitnami/grafana-loki/Chart.yaml
  bitnami/grafana-loki/README.md
  bitnami/grafana-loki/templates/gateway/configmap-http.yaml
  bitnami/grafana-loki/values.yaml
Labels: verify, in-progress, grafana-loki

#32855 [bitnami/elasticsearch] Fixes #32794, add enableDefaultInitContainers to elasticsearch chart
  bitnami/elasticsearch/CHANGELOG.md
  bitnami/elasticsearch/Chart.yaml
  bitnami/elasticsearch/README.md
  bitnami/elasticsearch/templates/data/statefulset.yaml
  bitnami/elasticsearch/templates/ingest/statefulset.yaml
  bitnami/elasticsearch/templates/master/statefulset.yaml
  bitnami/elasticsearch/values.yaml
Labels: verify, in-progress, elasticsearch

#32852 [bitnami/kubernetes-event-exporter] Add clusterName config setting to values
  bitnami/kubernetes-event-exporter/CHANGELOG.md
  bitnami/kubernetes-event-exporter/Chart.yaml
  bitnami/kubernetes-event-exporter/README.md
  bitnami/kubernetes-event-exporter/values.yaml
Labels: verify, in-progress, kubernetes-event-exporter

#33020 [bitnami/clickhouse-operator] docs: improve examples on READMEs
  .vib/clickhouse-operator/goss/goss.yaml
  .vib/clickhouse-operator/runtime-parameters.yaml
  bitnami/clickhouse-operator/CHANGELOG.md
  bitnami/clickhouse-operator/Chart.yaml
  bitnami/clickhouse-operator/README.md
Labels: verify, bitnami

#32773 [bitnami/matomo] fix mount path for `matomo-secrets` volume on cronjobs
  bitnami/matomo/CHANGELOG.md
  bitnami/matomo/Chart.yaml
  bitnami/matomo/templates/cronjob.yaml
Labels: verify, in-progress, matomo

#32993 [bitnami/keycloak] Added themes to the list of writable dirs
  bitnami/keycloak/CHANGELOG.md
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/templates/statefulset.yaml
Labels: verify, in-progress, keycloak

#32840 [bitnami/elasticsearch] fix coordinating security.enabled
  bitnami/elasticsearch/CHANGELOG.md
  bitnami/elasticsearch/Chart.yaml
  bitnami/elasticsearch/templates/coordinating/statefulset.yaml
Labels: verify, in-progress, elasticsearch

#33024 [bitnami/redis] fix 32573 - Always announce hostname independent of external service configuration
  bitnami/redis/CHANGELOG.md
  bitnami/redis/Chart.yaml
  bitnami/redis/templates/scripts-configmap.yaml
Labels: verify, redis

#32509 [bitnami/influxdb] Add revisionHistoryLimit variable
  bitnami/influxdb/CHANGELOG.md
  bitnami/influxdb/Chart.yaml
  bitnami/influxdb/README.md
  bitnami/influxdb/templates/deployment.yaml
  bitnami/influxdb/values.yaml
Labels: verify, in-progress, influxdb

#33091 [bitnami/clickhouse] bugfix: prometheus.io/scrape label
  bitnami/clickhouse/CHANGELOG.md
  bitnami/clickhouse/Chart.yaml
  bitnami/clickhouse/templates/service.yaml
  bitnami/clickhouse/templates/servicemonitor.yaml
Labels: verify, bitnami, clickhouse

#33083 [bitnami/fluent-bit] Added support for extraContainerPorts
  bitnami/fluent-bit/CHANGELOG.md
  bitnami/fluent-bit/Chart.yaml
  bitnami/fluent-bit/README.md
  bitnami/fluent-bit/templates/daemonset.yaml
  bitnami/fluent-bit/templates/networkpolicy.yaml
  bitnami/fluent-bit/values.yaml
Labels: verify, in-progress, fluent-bit

#33092 [bitnami/influxdb] Fix backup functionality, closes bitnami#33038
  bitnami/influxdb/CHANGELOG.md
  bitnami/influxdb/Chart.yaml
  bitnami/influxdb/templates/configmap-backup.yaml
Labels: verify, in-progress, influxdb

#32843 [bitnami/influxdb] Fix typo in backup cronjob
  bitnami/influxdb/CHANGELOG.md
  bitnami/influxdb/Chart.yaml
  bitnami/influxdb/templates/cronjob-backup.yaml
Labels: verify, in-progress, influxdb

#33102 [bitnami/postgresql-ha] Update POSTGRES_POSTGRES_PASSWORD condition
  bitnami/postgresql-ha/CHANGELOG.md
  bitnami/postgresql-ha/Chart.yaml
  bitnami/postgresql-ha/templates/postgresql/statefulset.yaml
Labels: verify, bitnami, postgresql-ha

#33014 [bitnami/grafana] fixed namespaceOverride options
  bitnami/grafana/CHANGELOG.md
  bitnami/grafana/Chart.yaml
  bitnami/grafana/README.md
  bitnami/grafana/templates/configmap.yaml
  bitnami/grafana/templates/dashboard-provider.yaml
  bitnami/grafana/templates/datasources-secret.yaml
  bitnami/grafana/templates/deployment.yaml
  bitnami/grafana/templates/ingress.yaml
  bitnami/grafana/templates/ldap-secret.yaml
  bitnami/grafana/templates/prometheusrules.yaml
  bitnami/grafana/templates/pvc.yaml
  bitnami/grafana/templates/secret.yaml
  bitnami/grafana/templates/service.yaml
  bitnami/grafana/templates/serviceaccount.yaml
  bitnami/grafana/templates/servicemonitor.yaml
  bitnami/grafana/templates/smtp-secret.yaml
  bitnami/grafana/templates/tls-secret.yaml
  bitnami/grafana/values.yaml
Labels: verify, in-progress, grafana

#33108 [bitnami/redis] feat: :sparkles: Disable empty-dirs when readOnlyRootFS is disabled
  bitnami/redis/CHANGELOG.md
  bitnami/redis/Chart.yaml
  bitnami/redis/templates/master/application.yaml
  bitnami/redis/templates/replicas/application.yaml
  bitnami/redis/templates/sentinel/statefulset.yaml
  bitnami/redis/values.yaml
Labels: verify, bitnami, redis

#33100 [bitnami/elasticsearch] tests: Enable security during testing
  .vib/elasticsearch/cypress/cypress.config.js
  .vib/elasticsearch/cypress/cypress/e2e/elasticsearch.cy.js
  .vib/elasticsearch/ginkgo/elasticsearch_suite_test.go
  .vib/elasticsearch/runtime-parameters.yaml
  .vib/elasticsearch/vib-verify.json
  bitnami/elasticsearch/CHANGELOG.md
  bitnami/elasticsearch/Chart.yaml
Labels: verify, bitnami, elasticsearch

#33049 [bitnami/grafana-operator] don't add common labels to Grafana resources
  bitnami/grafana-operator/CHANGELOG.md
  bitnami/grafana-operator/Chart.yaml
  bitnami/grafana-operator/templates/grafana.yaml
Labels: verify, in-progress, grafana-operator

#33055 [bitnami/logstash] Fix headless service does not include extra ports
  bitnami/logstash/CHANGELOG.md
  bitnami/logstash/Chart.yaml
  bitnami/logstash/templates/headless-svc.yaml
  bitnami/logstash/templates/networkpolicy.yaml
Labels: verify, in-progress, logstash

#33117 [bitnami/keycloak] Fix Keycloak external DB secret keys
  bitnami/keycloak/CHANGELOG.md
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/templates/statefulset.yaml
Labels: verify, in-progress, keycloak

#33130 [bitnami/keycloak] Making keycloak config cli Availability Check configurable
  bitnami/keycloak/CHANGELOG.md
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/README.md
  bitnami/keycloak/templates/keycloak-config-cli-job.yaml
  bitnami/keycloak/values.yaml
Labels: triage, keycloak

#33121 [bitnami/cassandra]fix(readinessProbe): Remove path for metrics readinessProbe
  bitnami/cassandra/CHANGELOG.md
  bitnami/cassandra/Chart.yaml
  bitnami/cassandra/templates/statefulset.yaml
Labels: verify, bitnami, cassandra

#32969 [bitnami/postgresql] Fix annotations not applied to passwordUpdateJob
  bitnami/postgresql/CHANGELOG.md
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/templates/update-password/job.yaml
Labels: verify, in-progress, postgresql

#33155 [bitnami/rabbitmq] Increase goss test timeout
  .vib/rabbitmq/goss/goss.yaml
Labels: verify, bitnami

#33158 [bitnami/clickhouse] feat: add TLS support for communications with Keeper
  .vib/clickhouse/cypress/cypress/support/commands.js
  .vib/clickhouse/ginkgo/clickhouse_suite_test.go
  .vib/clickhouse/ginkgo/clickhouse_test.go
  .vib/clickhouse/goss/goss.yaml
  .vib/clickhouse/runtime-parameters.yaml
  bitnami/clickhouse/CHANGELOG.md
  bitnami/clickhouse/Chart.yaml
  bitnami/clickhouse/README.md
  bitnami/clickhouse/templates/NOTES.txt
  bitnami/clickhouse/templates/_helpers.tpl
  bitnami/clickhouse/templates/certs.yaml
  bitnami/clickhouse/templates/configd-configmap.yaml
  bitnami/clickhouse/templates/keeper/configd-configmap.yaml
  bitnami/clickhouse/templates/keeper/headless-service.yaml
  bitnami/clickhouse/templates/keeper/networkpolicy.yaml
  bitnami/clickhouse/templates/keeper/service.yaml
  bitnami/clickhouse/templates/keeper/statefulset.yaml
  bitnami/clickhouse/templates/networkpolicy.yaml
  bitnami/clickhouse/templates/tls-secret.yaml
  bitnami/clickhouse/values.yaml
Labels: verify, bitnami, clickhouse

#33163 [bitnami/spring-cloud-dataflow] Update RabbitMQ to major 16
  bitnami/spring-cloud-dataflow/CHANGELOG.md
  bitnami/spring-cloud-dataflow/Chart.lock
  bitnami/spring-cloud-dataflow/Chart.yaml
  bitnami/spring-cloud-dataflow/README.md
Labels: verify, bitnami, spring-cloud-dataflow

#33145 [bitnami/postgresql-ha] fix(backup): mount secrets with password file
  bitnami/postgresql-ha/CHANGELOG.md
  bitnami/postgresql-ha/Chart.yaml
  bitnami/postgresql-ha/README.md
  bitnami/postgresql-ha/templates/backup/cronjob.yaml
  bitnami/postgresql-ha/values.yaml
Labels: verify, bitnami, postgresql-ha

#33144 [bitnami/postgresql] fix(backup): mount secrets with password file
  bitnami/postgresql/CHANGELOG.md
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/README.md
  bitnami/postgresql/templates/backup/cronjob.yaml
  bitnami/postgresql/values.yaml
Labels: verify, postgresql, bitnami

#33143 [bitnami/mongodb] Fix authentication in mongodump job
  bitnami/mongodb/CHANGELOG.md
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/templates/backup/cronjob.yaml
Labels: verify, in-progress, mongodb

#33168 [bitnami/mariadb] adds spec.terminationGracePeriodSeconds to mariadb
  bitnami/mariadb/CHANGELOG.md
  bitnami/mariadb/Chart.yaml
  bitnami/mariadb/README.md
  bitnami/mariadb/templates/primary/statefulset.yaml
  bitnami/mariadb/templates/secondary/statefulset.yaml
  bitnami/mariadb/values.yaml
Labels: verify, in-progress, mariadb

#33072 [bitnami/grafana-loki] add missing queryScheduler.enabled parameter
  bitnami/grafana-loki/CHANGELOG.md
  bitnami/grafana-loki/Chart.yaml
  bitnami/grafana-loki/README.md
  bitnami/grafana-loki/values.yaml
Labels: verify, in-progress, grafana-loki

#33111 [bitnami/influxdb] Fix backup functionality, closes bitnami#33110
  bitnami/influxdb/CHANGELOG.md
  bitnami/influxdb/Chart.yaml
  bitnami/influxdb/templates/configmap-backup.yaml
Labels: verify, in-progress, influxdb

#33194 [bitnami/keycloak] Allow tpl of external database + external user
  bitnami/keycloak/CHANGELOG.md
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/templates/_helpers.tpl
Labels: verify, in-progress, keycloak

#33247 [bitnami/clickhouse-operator] fix: :bug: Change default operator user
  bitnami/clickhouse-operator/CHANGELOG.md
  bitnami/clickhouse-operator/Chart.yaml
  bitnami/clickhouse-operator/README.md
  bitnami/clickhouse-operator/values.yaml
Labels: verify, bitnami, clickhouse-operator

#33248 Fix syntax (parameter order) for flaskServerSecretKey in template
  bitnami/mlflow/CHANGELOG.md
  bitnami/mlflow/Chart.yaml
  bitnami/mlflow/templates/_helpers.tpl
Labels: verify, in-progress, mlflow

#33181 [bitnami/redis] Switch shell from /bin/sh to /bin/bash to improve process handling
  bitnami/redis/CHANGELOG.md
  bitnami/redis/Chart.yaml
  bitnami/redis/templates/master/application.yaml
  bitnami/redis/templates/replicas/application.yaml
  bitnami/redis/templates/sentinel/statefulset.yaml
  bitnami/redis/values.yaml
Labels: verify, in-progress, redis

#33250 [bitnami/redis-cluster] Switch shell from /bin/sh to /bin/bash to improve process handling
  bitnami/redis-cluster/CHANGELOG.md
  bitnami/redis-cluster/Chart.yaml
  bitnami/redis-cluster/templates/redis-statefulset.yaml
  bitnami/redis-cluster/templates/scripts-configmap.yaml
Labels: verify, in-progress, redis-cluster

#33196 [bitnami/common] Allows tpl in provided passwords "common.secrets.passwords.manage"
  bitnami/common/CHANGELOG.md
  bitnami/common/Chart.yaml
  bitnami/common/templates/_secrets.tpl
Labels: verify, in-progress, common

#33160 [bitnami/sonarqube] Increase password length to minimum 12 characters
  bitnami/sonarqube/CHANGELOG.md
  bitnami/sonarqube/Chart.yaml
  bitnami/sonarqube/README.md
  bitnami/sonarqube/templates/secret.yaml
  bitnami/sonarqube/values.yaml
Labels: verify, bitnami, sonarqube

#33256 [bitnami/elasticsearch] Update kibana subchart
  bitnami/elasticsearch/CHANGELOG.md
  bitnami/elasticsearch/Chart.lock
  bitnami/elasticsearch/Chart.yaml
  bitnami/elasticsearch/README.md
Labels: verify, bitnami, elasticsearch

#33264 [bitnami/mastodon] major: Upgrade elasticsearch subchart to 22.x.x (ES 9.x)
  bitnami/mastodon/CHANGELOG.md
  bitnami/mastodon/Chart.lock
  bitnami/mastodon/Chart.yaml
  bitnami/mastodon/README.md
Labels: verify, bitnami, mastodon

#33173 [bitnami/common] add namespaces to extraPodAffinityTerms for affinities
  bitnami/common/CHANGELOG.md
  bitnami/common/Chart.yaml
  bitnami/common/templates/_affinities.tpl
Labels: verify, in-progress, common

#33190 [bitnami/grafana-loki] add /otlp/v1/logs as gateway-endpoint for distributor via gateway
  bitnami/grafana-loki/CHANGELOG.md
  bitnami/grafana-loki/Chart.yaml
  bitnami/grafana-loki/templates/gateway/configmap-http.yaml
Labels: verify, in-progress, grafana-loki

#33114 [bitnami/consul] Fix mismatched serfLAN and serfWAN ports in consul-headless-service
  bitnami/consul/CHANGELOG.md
  bitnami/consul/Chart.yaml
  bitnami/consul/templates/consul-headless-service.yaml
Labels: verify, in-progress, consul

#33101 [bitnami/cloudnative-pg] fix use Values failed in range method
  bitnami/cloudnative-pg/CHANGELOG.md
  bitnami/cloudnative-pg/Chart.yaml
  bitnami/cloudnative-pg/templates/role.yaml
  bitnami/cloudnative-pg/templates/rolebinding.yaml
Labels: verify, in-progress, cloudnative-pg
