Repository bitnami/charts, pull requests merged in 2025-08, with the labels that each got.

#35352 [bitnami/jaeger] Major release: Jaeger v2
  .vib/jaeger/goss/goss.yaml
  .vib/jaeger/runtime-parameters.yaml
  .vib/jaeger/vib-verify.json
  bitnami/jaeger/CHANGELOG.md
  bitnami/jaeger/Chart.yaml
  bitnami/jaeger/README.md
  bitnami/jaeger/templates/_helpers.tpl
  bitnami/jaeger/templates/collector/configmap.yaml
  bitnami/jaeger/templates/collector/deployment.yaml
  bitnami/jaeger/templates/collector/networkpolicy.yaml
  bitnami/jaeger/templates/collector/service.yml
  bitnami/jaeger/templates/migrate-job.yaml
  bitnami/jaeger/templates/query/configmap.yaml
  bitnami/jaeger/templates/query/deployment.yaml
  bitnami/jaeger/templates/query/networkpolicy.yaml
  bitnami/jaeger/templates/query/service.yml
  bitnami/jaeger/values.yaml
Labels: verify, bitnami, jaeger

#34984 [bitnami/influxdb] fix typo in namespace inclusion (ingress-tls-secret)
  bitnami/influxdb/CHANGELOG.md
  bitnami/influxdb/Chart.yaml
  bitnami/influxdb/templates/ingress-tls-secret.yaml
Labels: verify, in-progress, influxdb

#35167 [bitnami/nginx] bugfix: allow extraVolumes when used in sidecars
  bitnami/nginx/CHANGELOG.md
  bitnami/nginx/Chart.yaml
  bitnami/nginx/templates/_helpers.tpl
Labels: verify, in-progress, nginx

#34987 [bitnami/apisix] fix: Apisix clean uds
  bitnami/apisix/CHANGELOG.md
  bitnami/apisix/Chart.yaml
  bitnami/apisix/templates/control-plane/dep-ds.yaml
  bitnami/apisix/templates/data-plane/dep-ds.yaml
Labels: verify, in-progress, apisix

#35355 [bitnami/airflow] fix AIRFLOW__API_AUTH__JWT_SECRET
  bitnami/airflow/CHANGELOG.md
  bitnami/airflow/Chart.yaml
  bitnami/airflow/templates/_helpers.tpl
Labels: verify, in-progress, airflow

#35025 feat(keycloak/ingress): support template value for ingress and admin …
  bitnami/keycloak/CHANGELOG.md
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/README.md
  bitnami/keycloak/templates/admin-ingress.yaml
  bitnami/keycloak/templates/ingress.yaml
  bitnami/keycloak/values.yaml
Labels: verify, in-progress, keycloak

#35406 [bitnami/mongodb] Replace `0o` octal notation with `0###`
  bitnami/mongodb/CHANGELOG.md
  bitnami/mongodb/Chart.yaml
  bitnami/mongodb/templates/arbiter/statefulset.yaml
  bitnami/mongodb/templates/backup/cronjob.yaml
  bitnami/mongodb/templates/hidden/statefulset.yaml
  bitnami/mongodb/templates/replicaset/statefulset.yaml
  bitnami/mongodb/templates/standalone/dep-sts.yaml
Labels: verify, auto-merge, bitnami, mongodb

#34968 [bitnami/kube-prometheus] add extraRbac
  bitnami/kube-prometheus/CHANGELOG.md
  bitnami/kube-prometheus/Chart.yaml
  bitnami/kube-prometheus/README.md
  bitnami/kube-prometheus/templates/prometheus-operator/clusterrole.yaml
  bitnami/kube-prometheus/templates/prometheus/clusterrole.yaml
  bitnami/kube-prometheus/values.yaml
Labels: on-hold, verify, kube-prometheus

#35412 [bitnami/common] docs: remove references to deprecated helpers on README
  bitnami/common/README.md
Labels: verify, bitnami, common

#35411 [bitnami/redmine] Remove references to deprecated helpers
  bitnami/redmine/CHANGELOG.md
  bitnami/redmine/Chart.lock
  bitnami/redmine/Chart.yaml
  bitnami/redmine/templates/ingress.yaml
Labels: verify, bitnami, redmine

#35409 [bitnami/grafana-operator] Remove references to deprecated helpers
  bitnami/grafana-operator/CHANGELOG.md
  bitnami/grafana-operator/Chart.lock
  bitnami/grafana-operator/Chart.yaml
  bitnami/grafana-operator/templates/grafana.yaml
Labels: verify, bitnami, grafana-operator

#35392 [bitnami/rabbitmq-cluster-operator]: Invalid PodMonitoring name in messaging-topology-operator(#35391)
  bitnami/rabbitmq-cluster-operator/CHANGELOG.md
  bitnami/rabbitmq-cluster-operator/Chart.yaml
  bitnami/rabbitmq-cluster-operator/templates/messaging-topology-operator/podmonitor.yaml
Labels: verify, in-progress, rabbitmq-cluster-operator

#35414 [bitnami/parse] Update MongoDB subchart
  bitnami/parse/CHANGELOG.md
  bitnami/parse/Chart.lock
  bitnami/parse/Chart.yaml
Labels: verify, bitnami, parse

#35385 [bitnami/airflow] Bugfix doubled up config in scheduler deployment, incorrect key
  bitnami/airflow/CHANGELOG.md
  bitnami/airflow/Chart.yaml
  bitnami/airflow/templates/scheduler/deployment.yaml
Labels: verify, in-progress, airflow

#35568 [bitnami/keycloak] feat: native metrics & refactor
  .vib/keycloak/goss/goss.yaml
  .vib/keycloak/runtime-parameters.yaml
  bitnami/keycloak/CHANGELOG.md
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/README.md
  bitnami/keycloak/templates/NOTES.txt
  bitnami/keycloak/templates/_helpers.tpl
  bitnami/keycloak/templates/_init_containers.tpl
  bitnami/keycloak/templates/admin-ingress.yaml
  bitnami/keycloak/templates/ca-cert.yaml
  bitnami/keycloak/templates/cert.yaml
  bitnami/keycloak/templates/configmap-env-vars.yaml
  bitnami/keycloak/templates/configmap.yaml
  bitnami/keycloak/templates/headless-service-ispn.yaml
  bitnami/keycloak/templates/headless-service.yaml
  bitnami/keycloak/templates/hpa.yaml
  bitnami/keycloak/templates/ingress-tls-secret.yaml
  bitnami/keycloak/templates/ingress.yaml
  bitnami/keycloak/templates/init-scripts-configmap.yaml
  bitnami/keycloak/templates/keycloak-config-cli-configmap.yaml
  bitnami/keycloak/templates/keycloak-config-cli-job.yaml
  bitnami/keycloak/templates/metrics-service.yaml
  bitnami/keycloak/templates/networkpolicy.yaml
  bitnami/keycloak/templates/pdb.yaml
  bitnami/keycloak/templates/prometheusrule.yaml
  bitnami/keycloak/templates/role.yaml
  bitnami/keycloak/templates/rolebinding.yaml
  bitnami/keycloak/templates/secret-external-db.yaml
  bitnami/keycloak/templates/secrets.yaml
  bitnami/keycloak/templates/service.yaml
  bitnami/keycloak/templates/serviceaccount.yaml
  bitnami/keycloak/templates/servicemonitor.yaml
  bitnami/keycloak/templates/statefulset.yaml
  bitnami/keycloak/templates/tls-pass-secret.yaml
  bitnami/keycloak/templates/tls-secret.yaml
  bitnami/keycloak/templates/vpa.yaml
  bitnami/keycloak/values.yaml
Labels: verify, keycloak, bitnami, skip-score

#35691 [bitnami/apache] Remove hardcoded references to image repository
  bitnami/apache/CHANGELOG.md
  bitnami/apache/Chart.yaml
  bitnami/apache/templates/NOTES.txt
  bitnami/apache/templates/_helpers.tpl
Labels: verify, apache, bitnami

#35692 [bitnami/external-dns] Remove hardcoded references to image repository
  bitnami/external-dns/CHANGELOG.md
  bitnami/external-dns/Chart.lock
  bitnami/external-dns/Chart.yaml
  bitnami/external-dns/templates/_helpers.tpl
Labels: verify, bitnami, external-dns

#35694 [bitnami/postgresql] Remove hardcoded references to image repository
  bitnami/postgresql/CHANGELOG.md
  bitnami/postgresql/Chart.yaml
  bitnami/postgresql/templates/_helpers.tpl
Labels: verify, postgresql, bitnami

#35723 [bitnami/superset] Upgrade to Redis subchart 22
  bitnami/superset/CHANGELOG.md
  bitnami/superset/Chart.lock
  bitnami/superset/Chart.yaml
  bitnami/superset/README.md
Labels: verify, bitnami, superset

#35721 [bitnami/mastodon] Upgrade to Redis subchart 22
  bitnami/mastodon/CHANGELOG.md
  bitnami/mastodon/Chart.lock
  bitnami/mastodon/Chart.yaml
  bitnami/mastodon/README.md
Labels: verify, bitnami, mastodon

#35727 [bitnami/argo-cd] Upgrade to Redis subchart 22
  bitnami/argo-cd/CHANGELOG.md
  bitnami/argo-cd/Chart.lock
  bitnami/argo-cd/Chart.yaml
  bitnami/argo-cd/README.md
  bitnami/argo-cd/values.yaml
Labels: verify, bitnami, argo-cd

#35729 [bitnami/appsmith] Upgrade to Redis subchart 22
  bitnami/appsmith/CHANGELOG.md
  bitnami/appsmith/Chart.lock
  bitnami/appsmith/Chart.yaml
  bitnami/appsmith/README.md
Labels: verify, bitnami, appsmith

#35733 [bitnami/tensorflow-resnet] bugfix: update model download url
  bitnami/tensorflow-resnet/CHANGELOG.md
  bitnami/tensorflow-resnet/Chart.lock
  bitnami/tensorflow-resnet/Chart.yaml
  bitnami/tensorflow-resnet/templates/deployment.yaml
Labels: verify, bitnami, tensorflow-resnet

#35757 [bitnami/keycloak] bugfix: validation when production is enabled
  bitnami/keycloak/CHANGELOG.md
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/templates/_helpers.tpl
Labels: verify, keycloak, bitnami

#35753 [bitnami/thanos] Add hpa behavior
  bitnami/thanos/CHANGELOG.md
  bitnami/thanos/Chart.yaml
  bitnami/thanos/README.md
  bitnami/thanos/templates/bucketweb/hpa.yaml
  bitnami/thanos/templates/query-frontend/hpa.yaml
  bitnami/thanos/templates/query/hpa.yaml
  bitnami/thanos/templates/receive-distributor/hpa.yaml
  bitnami/thanos/templates/receive/hpa.yaml
  bitnami/thanos/templates/ruler/hpa.yaml
  bitnami/thanos/templates/storegateway/hpa.yaml
  bitnami/thanos/values.yaml
Labels: verify, in-progress, thanos

#35773 [bitnami:postgresql-ha] feat: add support for affinity to backup cronjob
  bitnami/postgresql-ha/CHANGELOG.md
  bitnami/postgresql-ha/Chart.yaml
  bitnami/postgresql-ha/README.md
  bitnami/postgresql-ha/templates/backup/cronjob.yaml
  bitnami/postgresql-ha/values.yaml
Labels: verify, in-progress, postgresql-ha

#35772 [bitnami/schema-registry] Fix Schema Registry with SCRAM-SHA-512 and external MSK fails due to mandatory jksSecret
  bitnami/schema-registry/CHANGELOG.md
  bitnami/schema-registry/Chart.yaml
  bitnami/schema-registry/templates/_helpers.tpl
  bitnami/schema-registry/templates/statefulset.yaml
Labels: verify, in-progress, schema-registry

#35774 [bitnami/vault] Add ability to modify or extend the vault sever RBAC roles
  bitnami/vault/CHANGELOG.md
  bitnami/vault/Chart.yaml
  bitnami/vault/README.md
  bitnami/vault/templates/server/roles.yaml
  bitnami/vault/values.yaml
Labels: verify, in-progress, vault

#36139 [bitnami/postgresql-ha] feat: improve backend probes
  bitnami/postgresql-ha/CHANGELOG.md
  bitnami/postgresql-ha/Chart.yaml
  bitnami/postgresql-ha/README.md
  bitnami/postgresql-ha/templates/_helpers.tpl
  bitnami/postgresql-ha/templates/postgresql/hooks-scripts-configmap.yaml
  bitnami/postgresql-ha/templates/postgresql/scripts-configmap.yaml
  bitnami/postgresql-ha/templates/postgresql/statefulset.yaml
  bitnami/postgresql-ha/templates/postgresql/witness-statefulset.yaml
  bitnami/postgresql-ha/values.yaml
Labels: verify, bitnami, postgresql-ha

#36136 [bitnami/apisix] major: Integrate apisix-dashboard into apisix
  .vib/apisix/cypress/cypress.config.js
  .vib/apisix/cypress/cypress/e2e/apisix.cy.js
  .vib/apisix/cypress/cypress/support/commands.js
  .vib/apisix/goss/goss.yaml
  .vib/apisix/runtime-parameters.yaml
  .vib/apisix/vib-verify.json
  bitnami/apisix/CHANGELOG.md
  bitnami/apisix/Chart.yaml
  bitnami/apisix/README.md
  bitnami/apisix/templates/NOTES.txt
  bitnami/apisix/templates/_helpers.tpl
  bitnami/apisix/templates/dashboard/configmap.yaml
  bitnami/apisix/templates/dashboard/deployment.yaml
  bitnami/apisix/templates/dashboard/extra-configmap.yaml
  bitnami/apisix/templates/dashboard/hpa.yaml
  bitnami/apisix/templates/dashboard/ingress-tls-secret.yaml
  bitnami/apisix/templates/dashboard/ingress.yaml
  bitnami/apisix/templates/dashboard/networkpolicy.yaml
  bitnami/apisix/templates/dashboard/pdb.yaml
  bitnami/apisix/templates/dashboard/secret.yaml
  bitnami/apisix/templates/dashboard/service-account.yaml
  bitnami/apisix/templates/dashboard/service.yaml
  bitnami/apisix/templates/dashboard/vpa.yaml
  bitnami/apisix/templates/tls-secret.yaml
  bitnami/apisix/values.schema.json
  bitnami/apisix/values.yaml
Labels: verify, bitnami, apisix, skip-score

#35770 [bitnami/keycloak] Add externalDatabase.extraParams for custom JDBC connection parameters
  bitnami/keycloak/CHANGELOG.md
  bitnami/keycloak/Chart.yaml
  bitnami/keycloak/README.md
  bitnami/keycloak/templates/_helpers.tpl
  bitnami/keycloak/templates/configmap-env-vars.yaml
  bitnami/keycloak/values.yaml
Labels: verify, in-progress, keycloak

#35808 [bitnami/kube-prometheus] fix: thanosRuler should not b64enc a stringData
  bitnami/kube-prometheus/CHANGELOG.md
  bitnami/kube-prometheus/Chart.yaml
  bitnami/kube-prometheus/templates/thanos-ruler/secret-alertmanager-config.yaml
Labels: verify, in-progress, kube-prometheus

#35768 [bitnami/cassandra] Authentication failures when connecting to Cassandra from non-seed (secondary) nodes in multi-replica deployments.
  bitnami/cassandra/CHANGELOG.md
  bitnami/cassandra/Chart.yaml
  bitnami/cassandra/templates/_helpers.tpl
Labels: verify, in-progress, cassandra

#36170 [bitnami/charts/issues/35435] Fix Redis configuration when using sentinel and 1 replica
  bitnami/redis/CHANGELOG.md
  bitnami/redis/Chart.yaml
  bitnami/redis/templates/scripts-configmap.yaml
Labels: verify, bitnami, redis
